/*******************************/
/********** FLEX TINY **********/
/*******************************/


[class*="flex"][class*="2tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="2tn"] > * {
    width: calc(100% / 2 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="3tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="3tn"] > * {
    width: calc(100% / 3 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="4tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="4tn"] > * {
    width: calc(100% / 4 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="5tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="5tn"] > * {
    width: calc(100% / 5 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="6tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="6tn"] > * {
    width: calc(100% / 6 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="7tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="7tn"] > * {
    width: calc(100% / 7 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="8tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="8tn"] > * {
    width: calc(100% / 8 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="9tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="9tn"] > * {
    width: calc(100% / 9 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="10tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="10tn"] > * {
    width: calc(100% / 10 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="11tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="11tn"] > * {
    width: calc(100% / 11 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}

[class*="flex"][class*="12tn"] {
    margin: var(--flex-neg-mar-tn);
}
[class*="flex"][class*="12tn"] > * {
    width: calc(100% / 12 - var(--flex-width-tn));
    margin: var(--flex-pos-mar-tn);
}