/*********************************/
/********** FLEX LARGE ***********/
/*********************************/


@media (min-width: 992px) {
    [class*="flex"][class*="2lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="2lg"] > * {
        width: calc(100% / 2 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="3lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="3lg"] > * {
        width: calc(100% / 3 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="4lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="4lg"] > * {
        width: calc(100% / 4 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="5lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="5lg"] > * {
        width: calc(100% / 5 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="6lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="6lg"] > * {
        width: calc(100% / 6 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="7lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="7lg"] > * {
        width: calc(100% / 7 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="8lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="8lg"] > * {
        width: calc(100% / 8 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="9lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="9lg"] > * {
        width: calc(100% / 9 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="10lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="10lg"] > * {
        width: calc(100% / 10 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="11lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="11lg"] > * {
        width: calc(100% / 11 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }

    [class*="flex"][class*="12lg"] {
        margin: var(--flex-neg-mar-lg);
    }
    [class*="flex"][class*="12lg"] > * {
        width: calc(100% / 12 - var(--flex-width-lg));
        margin: var(--flex-pos-mar-lg);
    }
}