/********************************/
/********** FLEX SMALL **********/
/********************************/


@media (min-width: 576px) {
    [class*="flex"][class*="2sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="2sm"] > * {
        width: calc(100% / 2 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="3sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="3sm"] > * {
        width: calc(100% / 3 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="4sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="4sm"] > * {
        width: calc(100% / 4 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="5sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="5sm"] > * {
        width: calc(100% / 5 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="6sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="6sm"] > * {
        width: calc(100% / 6 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="7sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="7sm"] > * {
        width: calc(100% / 7 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="8sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="8sm"] > * {
        width: calc(100% / 8 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="9sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="9sm"] > * {
        width: calc(100% / 9 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="10sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="10sm"] > * {
        width: calc(100% / 10 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="11sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="11sm"] > * {
        width: calc(100% / 11 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }

    [class*="flex"][class*="12sm"] {
        margin: var(--flex-neg-mar-sm);
    }
    [class*="flex"][class*="12sm"] > * {
        width: calc(100% / 12 - var(--flex-width-sm));
        margin: var(--flex-pos-mar-sm);
    }
}