/**************************/
/********** FLEX **********/
/**************************/


[class*="flex"],
[class*="col"],
[class*="row"] {
    display: flex;
    flex-wrap: wrap;
}

[class*="col"] {
    flex-direction: column;
    padding: var(--col-pad);
}

[class*="row"] {
    flex-direction: row;
    padding: var(--row-pad);
}

[class*="col"][class*="reverse"] {
    flex-direction: column-reverse;
}

[class*="row"][class*="reverse"] {
    flex-direction: row-reverse;
}

[class*="col"][class*="nowrap"],
[class*="row"][class*="nowrap"] {
    flex-wrap: nowrap;
}

[class*="col"][class*="inverse"],
[class*="row"][class*="inverse"] {
    flex-wrap: wrap-reverse;
}