/***** 1.2.3 - Global:Keyframes:Scale *****/

@keyframes scale {
  from {
    transform: scale(var(--keyframes-scale));
  }
}

@keyframes scale3d {
  from {
    transform: scale3d(var(--keyframes-scale3d));
  }
}

@keyframes scaleX {
  from {
    transform: scaleX(var(--keyframes-scaleX));
  }
}

@keyframes scaleY {
  from {
    transform: scaleY(var(--keyframes-scaleY));
  }
}

@keyframes scaleZ {
  from {
    transform: scaleZ(var(--keyframes-scaleZ));
  }
}
