/***** States : Variables : Anima *****/

$animation-duration-xs:   1s    !default;
$animation-duration-sm:   2s    !default;
$animation-duration-md:   5s    !default;
$animation-duration-lg:   10s   !default;
$animation-duration-xl:   60s   !default;

$animation-durations: (
  'xs':   $animation-duration-xs,
  'sm':   $animation-duration-sm,
  'md':   $animation-duration-md,
  'lg':   $animation-duration-lg,
  'xl':   $animation-duration-xl
) !default;

$animation-timing-function-bezier:    1, 5, 1, -5   !default;
$animation-timing-function-ease:      ease-in-out   !default;
$animation-timing-function-steps:     60, start     !default;

$animation-timing-functions: (
  'linear':   linear,
  'ease':     $animation-timing-function-ease,
  'steps':    $animation-timing-function-steps,
  'bezier':   $animation-timing-function-bezier
) !default;

$animation-iteration-count-few:     2   !default;
$animation-iteration-count-many:    5   !default;

$animation-iteration-counts: (
  'few':    $animation-iteration-count-few,
  'loop':   loop,
  'many':   $animation-iteration-count-many
) !default;

$animation-delay-xs:    1s    !default;
$animation-delay-sm:    2s    !default;
$animation-delay-md:    3s    !default;
$animation-delay-lg:    4s    !default;
$animation-delay-xl:    5s    !default;

$animation-delays: (
  'xs':   $animation-delay-xs,
  'sm':   $animation-delay-sm,
  'md':   $animation-delay-md,
  'lg':   $animation-delay-lg,
  'xl':   $animation-delay-xl
) !default;

$animation-directions: (
  'alter':    alternate,
  'rever':    reverse,
  'altrev':   alternate-reverse
) !default;

$animation-fill-modes: (
  'back':     backwards,
  'both':     both,
  'front':    forwards
) !default;

$transform-origin-near:   50px 50px         !default;
$transform-origin-far:    top right 50px    !default;

$transform-origins: (
  'near':   $transform-origin-near,
  'far':    $transform-origin-far
) !default;

$animation-options: (
'duration':           $animation-durations,
'timing-function':    $animation-timing-functions,
'iteration-count':    $animation-iteration-counts,
'delay':              $animation-delays
) !default;

[class*="anima-"] {
  --animation-duration: 2s;

  @each $type, $option in $animation-options {
    @each $key, $value in $option {
      --anima-#{$type}-#{$key}: #{$value};
    }
  }

  @each $key, $value in $transform-origins {
    --transform-origin-#{$key}: #{$value};
  }
}
