/***** States : Variables : Anima *****/

// Animation Duration
$animation-duration: 2s !default;

$animation-duration-tn:   1s    !default;
$animation-duration-sm:   2s    !default;
$animation-duration-md:   5s    !default;
$animation-duration-lg:   10s   !default;
$animation-duration-wd:   60s   !default;

$animation-durations: (
  'tn':   $animation-duration-tn,
  'sm':   $animation-duration-sm,
  'md':   $animation-duration-md,
  'lg':   $animation-duration-lg,
  'wd':   $animation-duration-wd
) !default;

// Animation Timing Function
$animation-timing-function-ease:            cubic-bezier(0.25, 0.1, 0.25, 1)    !default;
$animation-timing-function-linear:          cubic-bezier(0, 0, 1, 1)            !default;
$animation-timing-function-ease-in:         cubic-bezier(0.42, 0, 1, 1)         !default;
$animation-timing-function-ease-out:        cubic-bezier(0, 0, 0.58, 1)         !default;
$animation-timing-function-ease-in-out:     cubic-bezier(0.42, 0, 0.58, 1)      !default;
$animation-timing-function-cubic-bezier:    cubic-bezier(1, 5, 1, -5)           !default;

$animation-timing-function-steps-start:     steps(4, start)     !default;
$animation-timing-function-steps-end:       steps(4, end)       !default;
$animation-timing-function-steps-chrono:    steps(60, start)    !default;
$animation-timing-function-steps-timer:     steps(60, end)      !default;

$animation-timing-functions: (
  'ease':     $animation-timing-function-ease,
  'linear':   $animation-timing-function-linear,
  'in':       $animation-timing-function-ease-in,
  'out':      $animation-timing-function-ease-out,
  'inout':    $animation-timing-function-ease-in-out,
  'bezier':   $animation-timing-function-cubic-bezier,
  'start':    $animation-timing-function-steps-start,
  'end':      $animation-timing-function-steps-end,
  'chrono':   $animation-timing-function-steps-chrono,
  'timer':    $animation-timing-function-steps-timer
) !default;

// Animation Iteration Count
$animation-iteration-count-few:     2   !default;
$animation-iteration-count-many:    5   !default;

$animation-iteration-counts: (
  'few':    $animation-iteration-count-few,
  'many':   $animation-iteration-count-many,
  'loop':   loop
) !default;

// Animation Delay
$animation-delay-tn:    1s    !default;
$animation-delay-sm:    2s    !default;
$animation-delay-md:    3s    !default;
$animation-delay-lg:    4s    !default;
$animation-delay-wd:    5s    !default;

$animation-delays: (
  'tiny':     $animation-delay-tn,
  'small':    $animation-delay-sm,
  'medium':   $animation-delay-md,
  'large':    $animation-delay-lg,
  'wide':     $animation-delay-wd
) !default;

// Animation Direction
$animation-directions: (
  'alter':    alternate,
  'rever':    reverse,
  'altrev':   alternate-reverse
) !default;

// Animation Fill Mode
$animation-fill-modes: (
  'front':    forwards,
  'back':     backwards,
  'both':     both
) !default;

// Transform Origin
$transform-origins: (
  'center':   center,
  'top':      top,
  'right':    right,
  'bottom':   bottom,
  'left':     left
) !default;

// Animation Options
$animation-primary-options: (
  'duration':           $animation-durations,
  'timing-function':    $animation-timing-functions,
  'iteration-count':    $animation-iteration-counts,
  'delay':              $animation-delays
) !default;

$animations-secondary-options : (
  'animation-direction':    $animation-directions,
  'animation-fill-mode':    $animation-fill-modes,
  'transform-origin':       $transform-origins
) !default;

// Animation CSS Variables
[class*="anima-"] {
  --animation-duration: #{$animation-duration};

  @each $type, $option in $animation-primary-options {
    @each $key, $value in $option {
      --animation-#{$type}-#{$key}: #{$value};
    }
  }
}
