/***** States : Variables : Bord *****/

// Border Style
$border-style: solid !default;

$border-styles: (
  'dash':     dashed,
  'dot':      dotted,
  'solid':    solid,
  'double':   double,
  'groove':   groove,
  'ridge':    ridge,
  'in':       inset,
  'out':      outset
) !default;

// Border Width
$border-width-sm:   thin      !default;
$border-width-md:   medium    !default;
$border-width-lg:   thick     !default;

$border-widths: (
  'sm':   $border-width-sm,
  'md':   $border-width-md,
  'lg':   $border-width-lg
) !default;

// Border Radius
$border-radius-square:    unset   !default;
$border-radius-curve:     5px     !default;
$border-radius-rounded:   10px    !default;
$border-radius-circle:    50%     !default;

$border-radiuses: (
  'square':     $border-radius-square,
  'curve':      $border-radius-curve,
  'rounded':    $border-radius-rounded,
  'circle':     $border-radius-circle
) !default;

// Borders
$borders : (
  "width":    $border-widths,
  "radius":   $border-radiuses
) !default;

// Border CSS Variables
[class*="bord"] {
  --border-style: #{$border-style};

  @each $type, $border in $borders {
    @each $key, $value in $border {
      --border-#{$type}-#{$key}: #{$value};
    }
  }
}
