/***** Variables : Elements : Btn *****/

[class*="btn"],
[class*="button"] {
  --btn-background-color: var(--white);
  --btn-black-border-color: var(--white);
  --btn-black-color: var(--white);
  --btn-blue-border-color: var(--sky);
  --btn-blue-color: var(--white);
  --btn-border: solid thin var(--black);
  --btn-border-radius: 10px;
  --btn-checked-transform: scale(0.9);
  --btn-choco-border-color: var(--maroon);
  --btn-choco-color: var(--maroon);
  --btn-circle-border-radius: 50%;
  --btn-circle-padding-top: calc(var(--btn-circle-sizes) / 4);
  --btn-circle-sizes: 100px;
  --btn-color: var(--black);
  --btn-font-size: 1.5rem;
  --btn-gray-border-color: var(--silver);
  --btn-gray-color: var(--white);
  --btn-green-border-color: var(--jade);
  --btn-green-color: var(--white);
  --btn-hover-animation: none;
  --btn-hover-background-color: var(--black);
  --btn-hover-border: outset thin var(--white);
  --btn-hover-border-radius: 0;
  --btn-hover-box-shadow: 5px 5px 5px var(--gray);
  --btn-hover-color: var(--white);
  --btn-hover-transition: background-color 1s;
  --btn-jade-border-color: var(--green);
  --btn-jade-color: var(--green);
  --btn-khaki-border-color: var(--yellow);
  --btn-khaki-color: var(--black);
  --btn-lg-font-size: 140%;
  --btn-lg-padding: 7px 14px;
  --btn-margin: 10px;
  --btn-maroon-border-color: var(--choco);
  --btn-maroon-color: var(--white);
  --btn-orange-border-color: var(--salmon);
  --btn-orange-color: var(--white);
  --btn-padding: 5px 10px;
  --btn-purple-border-color: var(--violet);
  --btn-purple-color: var(--white);
  --btn-red-border-color: var(--tomato);
  --btn-red-color: var(--white);
  --btn-round-border-radius: 30px;
  --btn-round-padding-top: calc(var(--btn-round-sizes) / 4);
  --btn-round-sizes: 100px;
  --btn-text-align: center;
  --btn-salmon-border-color: var(--orange);
  --btn-salmon-color: var(--maroon);
  --btn-silver-border-color: var(--gray);
  --btn-silver-color: var(--black);
  --btn-sky-border-color: var(--blue);
  --btn-sky-color: var(--blue);
  --btn-sm-font-size: 80%;
  --btn-sm-padding: 4px 8px;
  --btn-square-border-radius: unset;
  --btn-square-padding-top: calc(var(--btn-square-sizes) / 4);
  --btn-square-sizes: 100px;
  --btn-tomato-border-color: var(--red);
  --btn-tomato-color: var(--red);
  --btn-violet-border-color: var(--purple);
  --btn-violet-color: var(--purple);
  --btn-white-border-color: var(--black);
  --btn-white-color: var(--black);
  --btn-yellow-border-color: var(--khaki);
  --btn-yellow-color: var(--blue);
  --btn-xl-font-size: 180%;
  --btn-xl-padding: 9px 18px;
  --btn-xs-font-size: 60%;
  --btn-xs-padding: 3px 6px;
}
