/***** Events : Classes : Slider *****/

.slider {
  position: var(--slider-position);
  margin: var(--slider-margin);
  width: var(--slider-width);
  min-height: var(--slider-min-height);
  text-align: var(--slider-text-align);

  & > figure {
    margin: var(--slider-figure-margin);
    object-fit: var(--slider-figure-object-fit);
    max-width: var(--slider-figure-max-width);
    max-height: var(--slider-figure-max-height);

    & > * {
      max-height: var(--slider-figure-max-height);
    }
  }

  & img {
    max-height: var(--slider-image-max-height);
  }

  &:hover > .slider-controls,
  &:focus > .slider-controls {
    opacity: var(--slider-hover-list-opacity);
    transition: opacity var(--slider-transition-opacity);
  }
}

.slider-relay > * {
  display: none;
}

.slider-controls {
  display: inline-flex;
  flex-direction: column;
  margin: var(--slider-controls-margin);
  border: var(--slider-controls-border);
  border-radius: var(--slider-controls-border-radius);
  padding: var(--slider-controls-padding);
  width: var(--slider-controls-width);
  background-color: var(--slider-controls-background-color);
  opacity: var(--slider-controls-opacity);
  transition: opacity var(--slider-transition-opacity);

  & ul {
    display: flex;
    place-content: var(--slider-controls-place-content);
  }

  & a {
    color: var(--slider-controls-link-color);
  }

  & label {
    padding: var(--slider-controls-label-padding);
    color: var(--slider-controls-label-color);
  }
}

.slider-radio1:checked ~ .slider-relay > .slider-target1,
.slider-radio2:checked ~ .slider-relay > .slider-target2,
.slider-radio3:checked ~ .slider-relay > .slider-target3,
.slider-radio4:checked ~ .slider-relay > .slider-target4,
.slider-radio5:checked ~ .slider-relay > .slider-target5,
.slider-radio6:checked ~ .slider-relay > .slider-target6,
.slider-radio7:checked ~ .slider-relay > .slider-target7,
.slider-radio8:checked ~ .slider-relay > .slider-target8,
.slider-radio9:checked ~ .slider-relay > .slider-target9 {
  display: inline-block;
}

.slider-radio1:checked ~ ul [for="slider-radio1"] > i::before,
.slider-radio2:checked ~ ul [for="slider-radio2"] > i::before,
.slider-radio3:checked ~ ul [for="slider-radio3"] > i::before,
.slider-radio4:checked ~ ul [for="slider-radio4"] > i::before,
.slider-radio5:checked ~ ul [for="slider-radio5"] > i::before,
.slider-radio6:checked ~ ul [for="slider-radio6"] > i::before,
.slider-radio7:checked ~ ul [for="slider-radio7"] > i::before,
.slider-radio8:checked ~ ul [for="slider-radio8"] > i::before,
.slider-radio9:checked ~ ul [for="slider-radio9"] > i::before {
  color: var(--slider-icon-color);
  transition: color var(--slider-transition-color);
  content: var(--slider-radio-list-icon-before-content);
}
