/********** ANIMA **********/

/*
1 - Animation
2. Animation rotate
3. Animation Scale
4. Animation Skew
5. Animation Translate
6. Animation Duration
7. Animation Timing Function
8. Animation Iteration Count
9. Animation duration
10. Animation Delay
11. Animation Fill Mode
12. Transform Origin
*/

/***** 1 - Animation *****/
[class*="anima-"][class*="-base"],
[class*="anima-"][class*="-global"] > *,
*:hover > [class*="anima-"][class*="-into"],
*:focus > [class*="anima-"][class*="-into"],
*:active > [class*="anima-"][class*="-into"],
[class*="anima-"][class*="-onto"]:hover,
[class*="anima-"][class*="-onto"]:focus,
[class*="anima-"][class*="-onto"]:active,
[class*="anima-"][class*="-toall"]:hover > *,
[class*="anima-"][class*="-toall"]:focus > *,
[class*="anima-"][class*="-toall"]:active > *,
[class*="anima-"][class*="-toone"] > *:hover,
[class*="anima-"][class*="-toone"] > *:focus,
[class*="anima-"][class*="-toone"] > *:active,
[class*="anima-"][class*="-radio1"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target1"],
[class*="anima-"][class*="-radio2"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target2"],
[class*="anima-"][class*="-radio3"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target3"],
[class*="anima-"][class*="-radio4"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target4"],
[class*="anima-"][class*="-radio5"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target5"],
[class*="anima-"][class*="-check"]:checked ~ [class*="anima-"][class*="-hub"] [class*="anima-"][class*="-goal"] {
  animation-name: var(--animation-name);
  animation-duration: var(--animation-duration);
  animation-timing-function: var(--animation-timing-function);
  animation-direction: var(--animation-direction);
  animation-delay: var(--animation-delay);
  animation-iteration-count: var(--animation-iteration-count);
  animation-fill-mode: var(--animation-fill-mode);
}

/***** 2 - Animation Rotate *****/
[class*="anima-rota-"][class*="-base"],
[class*="anima-rota-"][class*="-global"] > *,
*:hover > [class*="anima-rota-"][class*="-into"],
*:focus > [class*="anima-rota-"][class*="-into"],
*:active > [class*="anima-rota-"][class*="-into"],
[class*="anima-rota-"][class*="-onto"]:hover,
[class*="anima-rota-"][class*="-onto"]:focus,
[class*="anima-rota-"][class*="-onto"]:active,
[class*="anima-rota-"][class*="-toall"]:hover > *,
[class*="anima-rota-"][class*="-toall"]:focus > *,
[class*="anima-rota-"][class*="-toall"]:active > *,
[class*="anima-rota-"][class*="-toone"] > *:hover,
[class*="anima-rota-"][class*="-toone"] > *:focus,
[class*="anima-rota-"][class*="-toone"] > *:active,
[class*="anima-rota-"][class*="-radio1"]:checked ~ [class*="anima-rota-"][class*="-relay"] [class*="anima-rota-"][class*="-target1"],
[class*="anima-rota-"][class*="-radio2"]:checked ~ [class*="anima-rota-"][class*="-relay"] [class*="anima-rota-"][class*="-target2"],
[class*="anima-rota-"][class*="-radio3"]:checked ~ [class*="anima-rota-"][class*="-relay"] [class*="anima-rota-"][class*="-target3"],
[class*="anima-rota-"][class*="-radio4"]:checked ~ [class*="anima-rota-"][class*="-relay"] [class*="anima-rota-"][class*="-target4"],
[class*="anima-rota-"][class*="-radio5"]:checked ~ [class*="anima-rota-"][class*="-relay"] [class*="anima-rota-"][class*="-target5"],
[class*="anima-rota-"][class*="-check"]:checked ~ [class*="anima-rota-"][class*="-hub"] [class*="anima-rota-"][class*="-goal"] {
  animation-name: rotate;
}

[class*="anima-rotax-"][class*="-base"],
[class*="anima-rotax-"][class*="-global"] > *,
*:hover > [class*="anima-rotax-"][class*="-into"],
*:focus > [class*="anima-rotax-"][class*="-into"],
*:active > [class*="anima-rotax-"][class*="-into"],
[class*="anima-rotax-"][class*="-onto"]:hover,
[class*="anima-rotax-"][class*="-onto"]:focus,
[class*="anima-rotax-"][class*="-onto"]:active,
[class*="anima-rotax-"][class*="-toall"]:hover > *,
[class*="anima-rotax-"][class*="-toall"]:focus > *,
[class*="anima-rotax-"][class*="-toall"]:active > *,
[class*="anima-rotax-"][class*="-toone"] > *:hover,
[class*="anima-rotax-"][class*="-toone"] > *:focus,
[class*="anima-rotax-"][class*="-toone"] > *:active,
[class*="anima-rotax-"][class*="-radio1"]:checked ~ [class*="anima-rotax-"][class*="-relay"] [class*="anima-rotax-"][class*="-target1"],
[class*="anima-rotax-"][class*="-radio2"]:checked ~ [class*="anima-rotax-"][class*="-relay"] [class*="anima-rotax-"][class*="-target2"],
[class*="anima-rotax-"][class*="-radio3"]:checked ~ [class*="anima-rotax-"][class*="-relay"] [class*="anima-rotax-"][class*="-target3"],
[class*="anima-rotax-"][class*="-radio4"]:checked ~ [class*="anima-rotax-"][class*="-relay"] [class*="anima-rotax-"][class*="-target4"],
[class*="anima-rotax-"][class*="-radio5"]:checked ~ [class*="anima-rotax-"][class*="-relay"] [class*="anima-rotax-"][class*="-target5"],
[class*="anima-rotax-"][class*="-check"]:checked ~ [class*="anima-rotax-"][class*="-hub"] [class*="anima-rotax-"][class*="-goal"] {
  animation-name: rotateX;
}

[class*="anima-rotay-"][class*="-base"],
[class*="anima-rotay-"][class*="-global"] > *,
*:hover > [class*="anima-rotay-"][class*="-into"],
*:focus > [class*="anima-rotay-"][class*="-into"],
*:active > [class*="anima-rotay-"][class*="-into"],
[class*="anima-rotay-"][class*="-onto"]:hover,
[class*="anima-rotay-"][class*="-onto"]:focus,
[class*="anima-rotay-"][class*="-onto"]:active,
[class*="anima-rotay-"][class*="-toall"]:hover > *,
[class*="anima-rotay-"][class*="-toall"]:focus > *,
[class*="anima-rotay-"][class*="-toall"]:active > *,
[class*="anima-rotay-"][class*="-toone"] > *:hover,
[class*="anima-rotay-"][class*="-toone"] > *:focus,
[class*="anima-rotay-"][class*="-toone"] > *:active,
[class*="anima-rotay-"][class*="-radio1"]:checked ~ [class*="anima-rotay-"][class*="-relay"] [class*="anima-rotay-"][class*="-target1"],
[class*="anima-rotay-"][class*="-radio2"]:checked ~ [class*="anima-rotay-"][class*="-relay"] [class*="anima-rotay-"][class*="-target2"],
[class*="anima-rotay-"][class*="-radio3"]:checked ~ [class*="anima-rotay-"][class*="-relay"] [class*="anima-rotay-"][class*="-target3"],
[class*="anima-rotay-"][class*="-radio4"]:checked ~ [class*="anima-rotay-"][class*="-relay"] [class*="anima-rotay-"][class*="-target4"],
[class*="anima-rotay-"][class*="-radio5"]:checked ~ [class*="anima-rotay-"][class*="-relay"] [class*="anima-rotay-"][class*="-target5"],
[class*="anima-rotay-"][class*="-check"]:checked ~ [class*="anima-rotay-"][class*="-hub"] [class*="anima-rotay-"][class*="-goal"] {
  animation-name: rotateY;
}

/***** 3 - Animation Scale *****/
[class*="anima-scal-"][class*="-base"],
[class*="anima-scal-"][class*="-global"] > *,
*:hover > [class*="anima-scal-"][class*="-into"],
*:focus > [class*="anima-scal-"][class*="-into"],
*:active > [class*="anima-scal-"][class*="-into"],
[class*="anima-scal-"][class*="-onto"]:hover,
[class*="anima-scal-"][class*="-onto"]:focus,
[class*="anima-scal-"][class*="-onto"]:active,
[class*="anima-scal-"][class*="-toall"]:hover > *,
[class*="anima-scal-"][class*="-toall"]:focus > *,
[class*="anima-scal-"][class*="-toall"]:active > *,
[class*="anima-scal-"][class*="-toone"] > *:hover,
[class*="anima-scal-"][class*="-toone"] > *:focus,
[class*="anima-scal-"][class*="-toone"] > *:active,
[class*="anima-scal-"][class*="-radio1"]:checked ~ [class*="anima-scal-"][class*="-relay"] [class*="anima-scal-"][class*="-target1"],
[class*="anima-scal-"][class*="-radio2"]:checked ~ [class*="anima-scal-"][class*="-relay"] [class*="anima-scal-"][class*="-target2"],
[class*="anima-scal-"][class*="-radio3"]:checked ~ [class*="anima-scal-"][class*="-relay"] [class*="anima-scal-"][class*="-target3"],
[class*="anima-scal-"][class*="-radio4"]:checked ~ [class*="anima-scal-"][class*="-relay"] [class*="anima-scal-"][class*="-target4"],
[class*="anima-scal-"][class*="-radio5"]:checked ~ [class*="anima-scal-"][class*="-relay"] [class*="anima-scal-"][class*="-target5"],
[class*="anima-scal-"][class*="-check"]:checked ~ [class*="anima-scal-"][class*="-hub"] [class*="anima-scal-"][class*="-goal"] {
  animation-name: scale;
}

[class*="anima-scalx-"][class*="-base"],
[class*="anima-scalx-"][class*="-global"] > *,
*:hover > [class*="anima-scalx-"][class*="-into"],
*:focus > [class*="anima-scalx-"][class*="-into"],
*:active > [class*="anima-scalx-"][class*="-into"],
[class*="anima-scalx-"][class*="-onto"]:hover,
[class*="anima-scalx-"][class*="-onto"]:focus,
[class*="anima-scalx-"][class*="-onto"]:active,
[class*="anima-scalx-"][class*="-toall"]:hover > *,
[class*="anima-scalx-"][class*="-toall"]:focus > *,
[class*="anima-scalx-"][class*="-toall"]:active > *,
[class*="anima-scalx-"][class*="-toone"] > *:hover,
[class*="anima-scalx-"][class*="-toone"] > *:focus,
[class*="anima-scalx-"][class*="-toone"] > *:active,
[class*="anima-scalx-"][class*="-radio1"]:checked ~ [class*="anima-scalx-"][class*="-relay"] [class*="anima-scalx-"][class*="-target1"],
[class*="anima-scalx-"][class*="-radio2"]:checked ~ [class*="anima-scalx-"][class*="-relay"] [class*="anima-scalx-"][class*="-target2"],
[class*="anima-scalx-"][class*="-radio3"]:checked ~ [class*="anima-scalx-"][class*="-relay"] [class*="anima-scalx-"][class*="-target3"],
[class*="anima-scalx-"][class*="-radio4"]:checked ~ [class*="anima-scalx-"][class*="-relay"] [class*="anima-scalx-"][class*="-target4"],
[class*="anima-scalx-"][class*="-radio5"]:checked ~ [class*="anima-scalx-"][class*="-relay"] [class*="anima-scalx-"][class*="-target5"],
[class*="anima-scalx-"][class*="-check"]:checked ~ [class*="anima-scalx-"][class*="-hub"] [class*="anima-scalx-"][class*="-goal"] {
  animation-name: scaleX;
}

[class*="anima-scaly-"][class*="-base"],
[class*="anima-scaly-"][class*="-global"] > *,
*:hover > [class*="anima-scaly-"][class*="-into"],
*:focus > [class*="anima-scaly-"][class*="-into"],
*:active > [class*="anima-scaly-"][class*="-into"],
[class*="anima-scaly-"][class*="-onto"]:hover,
[class*="anima-scaly-"][class*="-onto"]:focus,
[class*="anima-scaly-"][class*="-onto"]:active,
[class*="anima-scaly-"][class*="-toall"]:hover > *,
[class*="anima-scaly-"][class*="-toall"]:focus > *,
[class*="anima-scaly-"][class*="-toall"]:active > *,
[class*="anima-scaly-"][class*="-toone"] > *:hover,
[class*="anima-scaly-"][class*="-toone"] > *:focus,
[class*="anima-scaly-"][class*="-toone"] > *:active,
[class*="anima-scaly-"][class*="-radio1"]:checked ~ [class*="anima-scaly-"][class*="-relay"] [class*="anima-scaly-"][class*="-target1"],
[class*="anima-scaly-"][class*="-radio2"]:checked ~ [class*="anima-scaly-"][class*="-relay"] [class*="anima-scaly-"][class*="-target2"],
[class*="anima-scaly-"][class*="-radio3"]:checked ~ [class*="anima-scaly-"][class*="-relay"] [class*="anima-scaly-"][class*="-target3"],
[class*="anima-scaly-"][class*="-radio4"]:checked ~ [class*="anima-scaly-"][class*="-relay"] [class*="anima-scaly-"][class*="-target4"],
[class*="anima-scaly-"][class*="-radio5"]:checked ~ [class*="anima-scaly-"][class*="-relay"] [class*="anima-scaly-"][class*="-target5"],
[class*="anima-scaly-"][class*="-check"]:checked ~ [class*="anima-scaly-"][class*="-hub"] [class*="anima-scaly-"][class*="-goal"] {
  animation-name: scaleY;
}

/***** 4 - Animation Skew *****/
[class*="anima-skew-"][class*="-base"],
[class*="anima-skew-"][class*="-global"] > *,
*:hover > [class*="anima-skew-"][class*="-into"],
*:focus > [class*="anima-skew-"][class*="-into"],
*:active > [class*="anima-skew-"][class*="-into"],
[class*="anima-skew-"][class*="-onto"]:hover,
[class*="anima-skew-"][class*="-onto"]:focus,
[class*="anima-skew-"][class*="-onto"]:active,
[class*="anima-skew-"][class*="-toall"]:hover > *,
[class*="anima-skew-"][class*="-toall"]:focus > *,
[class*="anima-skew-"][class*="-toall"]:active > *,
[class*="anima-skew-"][class*="-toone"] > *:hover,
[class*="anima-skew-"][class*="-toone"] > *:focus,
[class*="anima-skew-"][class*="-toone"] > *:active,
[class*="anima-skew-"][class*="-radio1"]:checked ~ [class*="anima-skew-"][class*="-relay"] [class*="anima-skew-"][class*="-target1"],
[class*="anima-skew-"][class*="-radio2"]:checked ~ [class*="anima-skew-"][class*="-relay"] [class*="anima-skew-"][class*="-target2"],
[class*="anima-skew-"][class*="-radio3"]:checked ~ [class*="anima-skew-"][class*="-relay"] [class*="anima-skew-"][class*="-target3"],
[class*="anima-skew-"][class*="-radio4"]:checked ~ [class*="anima-skew-"][class*="-relay"] [class*="anima-skew-"][class*="-target4"],
[class*="anima-skew-"][class*="-radio5"]:checked ~ [class*="anima-skew-"][class*="-relay"] [class*="anima-skew-"][class*="-target5"],
[class*="anima-skew-"][class*="-check"]:checked ~ [class*="anima-skew-"][class*="-hub"] [class*="anima-skew-"][class*="-goal"] {
  animation-name: skew;
}

[class*="anima-skewx-"][class*="-base"],
[class*="anima-skewx-"][class*="-global"] > *,
*:hover > [class*="anima-skewx-"][class*="-into"],
*:focus > [class*="anima-skewx-"][class*="-into"],
*:active > [class*="anima-skewx-"][class*="-into"],
[class*="anima-skewx-"][class*="-onto"]:hover,
[class*="anima-skewx-"][class*="-onto"]:focus,
[class*="anima-skewx-"][class*="-onto"]:active,
[class*="anima-skewx-"][class*="-toall"]:hover > *,
[class*="anima-skewx-"][class*="-toall"]:focus > *,
[class*="anima-skewx-"][class*="-toall"]:active > *,
[class*="anima-skewx-"][class*="-toone"] > *:hover,
[class*="anima-skewx-"][class*="-toone"] > *:focus,
[class*="anima-skewx-"][class*="-toone"] > *:active,
[class*="anima-skewx-"][class*="-radio1"]:checked ~ [class*="anima-skewx-"][class*="-relay"] [class*="anima-skewx-"][class*="-target1"],
[class*="anima-skewx-"][class*="-radio2"]:checked ~ [class*="anima-skewx-"][class*="-relay"] [class*="anima-skewx-"][class*="-target2"],
[class*="anima-skewx-"][class*="-radio3"]:checked ~ [class*="anima-skewx-"][class*="-relay"] [class*="anima-skewx-"][class*="-target3"],
[class*="anima-skewx-"][class*="-radio4"]:checked ~ [class*="anima-skewx-"][class*="-relay"] [class*="anima-skewx-"][class*="-target4"],
[class*="anima-skewx-"][class*="-radio5"]:checked ~ [class*="anima-skewx-"][class*="-relay"] [class*="anima-skewx-"][class*="-target5"],
[class*="anima-skewx-"][class*="-check"]:checked ~ [class*="anima-skewx-"][class*="-hub"] [class*="anima-skewx-"][class*="-goal"] {
  animation-name: skewX;
}

[class*="anima-skewy-"][class*="-base"],
[class*="anima-skewy-"][class*="-global"] > *,
*:hover > [class*="anima-skewy-"][class*="-into"],
*:focus > [class*="anima-skewy-"][class*="-into"],
*:active > [class*="anima-skewy-"][class*="-into"],
[class*="anima-skewy-"][class*="-onto"]:hover,
[class*="anima-skewy-"][class*="-onto"]:focus,
[class*="anima-skewy-"][class*="-onto"]:active,
[class*="anima-skewy-"][class*="-toall"]:hover > *,
[class*="anima-skewy-"][class*="-toall"]:focus > *,
[class*="anima-skewy-"][class*="-toall"]:active > *,
[class*="anima-skewy-"][class*="-toone"] > *:hover,
[class*="anima-skewy-"][class*="-toone"] > *:focus,
[class*="anima-skewy-"][class*="-toone"] > *:active,
[class*="anima-skewy-"][class*="-radio1"]:checked ~ [class*="anima-skewy-"][class*="-relay"] [class*="anima-skewy-"][class*="-target1"],
[class*="anima-skewy-"][class*="-radio2"]:checked ~ [class*="anima-skewy-"][class*="-relay"] [class*="anima-skewy-"][class*="-target2"],
[class*="anima-skewy-"][class*="-radio3"]:checked ~ [class*="anima-skewy-"][class*="-relay"] [class*="anima-skewy-"][class*="-target3"],
[class*="anima-skewy-"][class*="-radio4"]:checked ~ [class*="anima-skewy-"][class*="-relay"] [class*="anima-skewy-"][class*="-target4"],
[class*="anima-skewy-"][class*="-radio5"]:checked ~ [class*="anima-skewy-"][class*="-relay"] [class*="anima-skewy-"][class*="-target5"],
[class*="anima-skewy-"][class*="-check"]:checked ~ [class*="anima-skewy-"][class*="-hub"] [class*="anima-skewy-"][class*="-goal"] {
  animation-name: skewY;
}

/***** 5 - Animation Translate *****/
[class*="anima-tran-"][class*="-base"],
[class*="anima-tran-"][class*="-global"] > *,
*:hover > [class*="anima-tran-"][class*="-into"],
*:focus > [class*="anima-tran-"][class*="-into"],
*:active > [class*="anima-tran-"][class*="-into"],
[class*="anima-tran-"][class*="-onto"]:hover,
[class*="anima-tran-"][class*="-onto"]:focus,
[class*="anima-tran-"][class*="-onto"]:active,
[class*="anima-tran-"][class*="-toall"]:hover > *,
[class*="anima-tran-"][class*="-toall"]:focus > *,
[class*="anima-tran-"][class*="-toall"]:active > *,
[class*="anima-tran-"][class*="-toone"] > *:hover,
[class*="anima-tran-"][class*="-toone"] > *:focus,
[class*="anima-tran-"][class*="-toone"] > *:active,
[class*="anima-tran-"][class*="-radio1"]:checked ~ [class*="anima-tran-"][class*="-relay"] [class*="anima-tran-"][class*="-target1"],
[class*="anima-tran-"][class*="-radio2"]:checked ~ [class*="anima-tran-"][class*="-relay"] [class*="anima-tran-"][class*="-target2"],
[class*="anima-tran-"][class*="-radio3"]:checked ~ [class*="anima-tran-"][class*="-relay"] [class*="anima-tran-"][class*="-target3"],
[class*="anima-tran-"][class*="-radio4"]:checked ~ [class*="anima-tran-"][class*="-relay"] [class*="anima-tran-"][class*="-target4"],
[class*="anima-tran-"][class*="-radio5"]:checked ~ [class*="anima-tran-"][class*="-relay"] [class*="anima-tran-"][class*="-target5"],
[class*="anima-tran-"][class*="-check"]:checked ~ [class*="anima-tran-"][class*="-hub"] [class*="anima-tran-"][class*="-goal"] {
  animation-name: translate;
}

[class*="anima-tranx-"][class*="-base"],
[class*="anima-tranx-"][class*="-global"] > *,
*:hover > [class*="anima-tranx-"][class*="-into"],
*:focus > [class*="anima-tranx-"][class*="-into"],
*:active > [class*="anima-tranx-"][class*="-into"],
[class*="anima-tranx-"][class*="-onto"]:hover,
[class*="anima-tranx-"][class*="-onto"]:focus,
[class*="anima-tranx-"][class*="-onto"]:active,
[class*="anima-tranx-"][class*="-toall"]:hover > *,
[class*="anima-tranx-"][class*="-toall"]:focus > *,
[class*="anima-tranx-"][class*="-toall"]:active > *,
[class*="anima-tranx-"][class*="-toone"] > *:hover,
[class*="anima-tranx-"][class*="-toone"] > *:focus,
[class*="anima-tranx-"][class*="-toone"] > *:active,
[class*="anima-tranx-"][class*="-radio1"]:checked ~ [class*="anima-tranx-"][class*="-relay"] [class*="anima-tranx-"][class*="-target1"],
[class*="anima-tranx-"][class*="-radio2"]:checked ~ [class*="anima-tranx-"][class*="-relay"] [class*="anima-tranx-"][class*="-target2"],
[class*="anima-tranx-"][class*="-radio3"]:checked ~ [class*="anima-tranx-"][class*="-relay"] [class*="anima-tranx-"][class*="-target3"],
[class*="anima-tranx-"][class*="-radio4"]:checked ~ [class*="anima-tranx-"][class*="-relay"] [class*="anima-tranx-"][class*="-target4"],
[class*="anima-tranx-"][class*="-radio5"]:checked ~ [class*="anima-tranx-"][class*="-relay"] [class*="anima-tranx-"][class*="-target5"],
[class*="anima-tranx-"][class*="-check"]:checked ~ [class*="anima-tranx-"][class*="-hub"] [class*="anima-tranx-"][class*="-goal"] {
  animation-name: translateX;
}

[class*="anima-trany-"][class*="-base"],
[class*="anima-trany-"][class*="-global"] > *,
*:hover > [class*="anima-trany-"][class*="-into"],
*:focus > [class*="anima-trany-"][class*="-into"],
*:active > [class*="anima-trany-"][class*="-into"],
[class*="anima-trany-"][class*="-onto"]:hover,
[class*="anima-trany-"][class*="-onto"]:focus,
[class*="anima-trany-"][class*="-onto"]:active,
[class*="anima-trany-"][class*="-toall"]:hover > *,
[class*="anima-trany-"][class*="-toall"]:focus > *,
[class*="anima-trany-"][class*="-toall"]:active > *,
[class*="anima-trany-"][class*="-toone"] > *:hover,
[class*="anima-trany-"][class*="-toone"] > *:focus,
[class*="anima-trany-"][class*="-toone"] > *:active,
[class*="anima-trany-"][class*="-radio1"]:checked ~ [class*="anima-trany-"][class*="-relay"] [class*="anima-trany-"][class*="-target1"],
[class*="anima-trany-"][class*="-radio2"]:checked ~ [class*="anima-trany-"][class*="-relay"] [class*="anima-trany-"][class*="-target2"],
[class*="anima-trany-"][class*="-radio3"]:checked ~ [class*="anima-trany-"][class*="-relay"] [class*="anima-trany-"][class*="-target3"],
[class*="anima-trany-"][class*="-radio4"]:checked ~ [class*="anima-trany-"][class*="-relay"] [class*="anima-trany-"][class*="-target4"],
[class*="anima-trany-"][class*="-radio5"]:checked ~ [class*="anima-trany-"][class*="-relay"] [class*="anima-trany-"][class*="-target5"],
[class*="anima-trany-"][class*="-check"]:checked ~ [class*="anima-trany-"][class*="-hub"] [class*="anima-trany-"][class*="-goal"] {
  animation-name: translateY;
}

/***** 6 - Animation Duration *****/
[class*="anima-xs-"][class*="-base"],
[class*="anima-xs-"][class*="-global"] > *,
*:hover > [class*="anima-xs-"][class*="-into"],
*:focus > [class*="anima-xs-"][class*="-into"],
*:active > [class*="anima-xs-"][class*="-into"],
[class*="anima-xs-"][class*="-onto"]:hover,
[class*="anima-xs-"][class*="-onto"]:focus,
[class*="anima-xs-"][class*="-onto"]:active,
[class*="anima-xs-"][class*="-toall"]:hover > *,
[class*="anima-xs-"][class*="-toall"]:focus > *,
[class*="anima-xs-"][class*="-toall"]:active > *,
[class*="anima-xs-"][class*="-toone"] > *:hover,
[class*="anima-xs-"][class*="-toone"] > *:focus,
[class*="anima-xs-"][class*="-toone"] > *:active,
[class*="anima-xs-"][class*="-radio1"]:checked ~ [class*="anima-xs-"][class*="-relay"] [class*="anima-xs-"][class*="-target1"],
[class*="anima-xs-"][class*="-radio2"]:checked ~ [class*="anima-xs-"][class*="-relay"] [class*="anima-xs-"][class*="-target2"],
[class*="anima-xs-"][class*="-radio3"]:checked ~ [class*="anima-xs-"][class*="-relay"] [class*="anima-xs-"][class*="-target3"],
[class*="anima-xs-"][class*="-radio4"]:checked ~ [class*="anima-xs-"][class*="-relay"] [class*="anima-xs-"][class*="-target4"],
[class*="anima-xs-"][class*="-radio5"]:checked ~ [class*="anima-xs-"][class*="-relay"] [class*="anima-xs-"][class*="-target5"],
[class*="anima-xs-"][class*="-check"]:checked ~ [class*="anima-xs-"][class*="-hub"] [class*="anima-xs-"][class*="-goal"] {
  animation-duration: var(--animation-duration-xs);
}

[class*="anima-sm-"][class*="-base"],
[class*="anima-sm-"][class*="-global"] > *,
*:hover > [class*="anima-sm-"][class*="-into"],
*:focus > [class*="anima-sm-"][class*="-into"],
*:active > [class*="anima-sm-"][class*="-into"],
[class*="anima-sm-"][class*="-onto"]:hover,
[class*="anima-sm-"][class*="-onto"]:focus,
[class*="anima-sm-"][class*="-onto"]:active,
[class*="anima-sm-"][class*="-toall"]:hover > *,
[class*="anima-sm-"][class*="-toall"]:focus > *,
[class*="anima-sm-"][class*="-toall"]:active > *,
[class*="anima-sm-"][class*="-toone"] > *:hover,
[class*="anima-sm-"][class*="-toone"] > *:focus,
[class*="anima-sm-"][class*="-toone"] > *:active,
[class*="anima-sm-"][class*="-radio1"]:checked ~ [class*="anima-sm-"][class*="-relay"] [class*="anima-sm-"][class*="-target1"],
[class*="anima-sm-"][class*="-radio2"]:checked ~ [class*="anima-sm-"][class*="-relay"] [class*="anima-sm-"][class*="-target2"],
[class*="anima-sm-"][class*="-radio3"]:checked ~ [class*="anima-sm-"][class*="-relay"] [class*="anima-sm-"][class*="-target3"],
[class*="anima-sm-"][class*="-radio4"]:checked ~ [class*="anima-sm-"][class*="-relay"] [class*="anima-sm-"][class*="-target4"],
[class*="anima-sm-"][class*="-radio5"]:checked ~ [class*="anima-sm-"][class*="-relay"] [class*="anima-sm-"][class*="-target5"],
[class*="anima-sm-"][class*="-check"]:checked ~ [class*="anima-sm-"][class*="-hub"] [class*="anima-sm-"][class*="-goal"] {
  animation-duration: var(--animation-duration-sm);
}

[class*="anima-md-"][class*="-base"],
[class*="anima-md-"][class*="-global"] > *,
*:hover > [class*="anima-md-"][class*="-into"],
*:focus > [class*="anima-md-"][class*="-into"],
*:active > [class*="anima-md-"][class*="-into"],
[class*="anima-md-"][class*="-onto"]:hover,
[class*="anima-md-"][class*="-onto"]:focus,
[class*="anima-md-"][class*="-onto"]:active,
[class*="anima-md-"][class*="-toall"]:hover > *,
[class*="anima-md-"][class*="-toall"]:focus > *,
[class*="anima-md-"][class*="-toall"]:active > *,
[class*="anima-md-"][class*="-toone"] > *:hover,
[class*="anima-md-"][class*="-toone"] > *:focus,
[class*="anima-md-"][class*="-toone"] > *:active,
[class*="anima-md-"][class*="-radio1"]:checked ~ [class*="anima-md-"][class*="-relay"] [class*="anima-md-"][class*="-target1"],
[class*="anima-md-"][class*="-radio2"]:checked ~ [class*="anima-md-"][class*="-relay"] [class*="anima-md-"][class*="-target2"],
[class*="anima-md-"][class*="-radio3"]:checked ~ [class*="anima-md-"][class*="-relay"] [class*="anima-md-"][class*="-target3"],
[class*="anima-md-"][class*="-radio4"]:checked ~ [class*="anima-md-"][class*="-relay"] [class*="anima-md-"][class*="-target4"],
[class*="anima-md-"][class*="-radio5"]:checked ~ [class*="anima-md-"][class*="-relay"] [class*="anima-md-"][class*="-target5"],
[class*="anima-md-"][class*="-check"]:checked ~ [class*="anima-md-"][class*="-hub"] [class*="anima-md-"][class*="-goal"] {
  animation-duration: var(--animation-duration-md);
}

[class*="anima-lg-"][class*="-base"],
[class*="anima-lg-"][class*="-global"] > *,
*:hover > [class*="anima-lg-"][class*="-into"],
*:focus > [class*="anima-lg-"][class*="-into"],
*:active > [class*="anima-lg-"][class*="-into"],
[class*="anima-lg-"][class*="-onto"]:hover,
[class*="anima-lg-"][class*="-onto"]:focus,
[class*="anima-lg-"][class*="-onto"]:active,
[class*="anima-lg-"][class*="-toall"]:hover > *,
[class*="anima-lg-"][class*="-toall"]:focus > *,
[class*="anima-lg-"][class*="-toall"]:active > *,
[class*="anima-lg-"][class*="-toone"] > *:hover,
[class*="anima-lg-"][class*="-toone"] > *:focus,
[class*="anima-lg-"][class*="-toone"] > *:active,
[class*="anima-lg-"][class*="-radio1"]:checked ~ [class*="anima-lg-"][class*="-relay"] [class*="anima-lg-"][class*="-target1"],
[class*="anima-lg-"][class*="-radio2"]:checked ~ [class*="anima-lg-"][class*="-relay"] [class*="anima-lg-"][class*="-target2"],
[class*="anima-lg-"][class*="-radio3"]:checked ~ [class*="anima-lg-"][class*="-relay"] [class*="anima-lg-"][class*="-target3"],
[class*="anima-lg-"][class*="-radio4"]:checked ~ [class*="anima-lg-"][class*="-relay"] [class*="anima-lg-"][class*="-target4"],
[class*="anima-lg-"][class*="-radio5"]:checked ~ [class*="anima-lg-"][class*="-relay"] [class*="anima-lg-"][class*="-target5"],
[class*="anima-lg-"][class*="-check"]:checked ~ [class*="anima-lg-"][class*="-hub"] [class*="anima-lg-"][class*="-goal"] {
  animation-duration: var(--animation-duration-lg);
}

[class*="anima-xl-"][class*="-base"],
[class*="anima-xl-"][class*="-global"] > *,
*:hover > [class*="anima-xl-"][class*="-into"],
*:focus > [class*="anima-xl-"][class*="-into"],
*:active > [class*="anima-xl-"][class*="-into"],
[class*="anima-xl-"][class*="-onto"]:hover,
[class*="anima-xl-"][class*="-onto"]:focus,
[class*="anima-xl-"][class*="-onto"]:active,
[class*="anima-xl-"][class*="-toall"]:hover > *,
[class*="anima-xl-"][class*="-toall"]:focus > *,
[class*="anima-xl-"][class*="-toall"]:active > *,
[class*="anima-xl-"][class*="-toone"] > *:hover,
[class*="anima-xl-"][class*="-toone"] > *:focus,
[class*="anima-xl-"][class*="-toone"] > *:active,
[class*="anima-xl-"][class*="-radio1"]:checked ~ [class*="anima-xl-"][class*="-relay"] [class*="anima-xl-"][class*="-target1"],
[class*="anima-xl-"][class*="-radio2"]:checked ~ [class*="anima-xl-"][class*="-relay"] [class*="anima-xl-"][class*="-target2"],
[class*="anima-xl-"][class*="-radio3"]:checked ~ [class*="anima-xl-"][class*="-relay"] [class*="anima-xl-"][class*="-target3"],
[class*="anima-xl-"][class*="-radio4"]:checked ~ [class*="anima-xl-"][class*="-relay"] [class*="anima-xl-"][class*="-target4"],
[class*="anima-xl-"][class*="-radio5"]:checked ~ [class*="anima-xl-"][class*="-relay"] [class*="anima-xl-"][class*="-target5"],
[class*="anima-xl-"][class*="-check"]:checked ~ [class*="anima-xl-"][class*="-hub"] [class*="anima-xl-"][class*="-goal"] {
  animation-duration: var(--animation-duration-xl);
}

/***** 7 - Animation Timing Function *****/
[class*="anima-linear-"][class*="-base"],
[class*="anima-linear-"][class*="-global"] > *,
*:hover > [class*="anima-linear-"][class*="-into"],
*:focus > [class*="anima-linear-"][class*="-into"],
*:active > [class*="anima-linear-"][class*="-into"],
[class*="anima-linear-"][class*="-onto"]:hover,
[class*="anima-linear-"][class*="-onto"]:focus,
[class*="anima-linear-"][class*="-onto"]:active,
[class*="anima-linear-"][class*="-toall"]:hover > *,
[class*="anima-linear-"][class*="-toall"]:focus > *,
[class*="anima-linear-"][class*="-toall"]:active > *,
[class*="anima-linear-"][class*="-toone"] > *:hover,
[class*="anima-linear-"][class*="-toone"] > *:focus,
[class*="anima-linear-"][class*="-toone"] > *:active,
[class*="anima-linear-"][class*="-radio1"]:checked ~ [class*="anima-linear-"][class*="-relay"] [class*="anima-linear-"][class*="-target1"],
[class*="anima-linear-"][class*="-radio2"]:checked ~ [class*="anima-linear-"][class*="-relay"] [class*="anima-linear-"][class*="-target2"],
[class*="anima-linear-"][class*="-radio3"]:checked ~ [class*="anima-linear-"][class*="-relay"] [class*="anima-linear-"][class*="-target3"],
[class*="anima-linear-"][class*="-radio4"]:checked ~ [class*="anima-linear-"][class*="-relay"] [class*="anima-linear-"][class*="-target4"],
[class*="anima-linear-"][class*="-radio5"]:checked ~ [class*="anima-linear-"][class*="-relay"] [class*="anima-linear-"][class*="-target5"],
[class*="anima-linear-"][class*="-check"]:checked ~ [class*="anima-linear-"][class*="-hub"] [class*="anima-linear-"][class*="-goal"] {
  animation-timing-function: linear;
}

[class*="anima-ease-"][class*="-base"],
[class*="anima-ease-"][class*="-global"] > *,
*:hover > [class*="anima-ease-"][class*="-into"],
*:focus > [class*="anima-ease-"][class*="-into"],
*:active > [class*="anima-ease-"][class*="-into"],
[class*="anima-ease-"][class*="-onto"]:hover,
[class*="anima-ease-"][class*="-onto"]:focus,
[class*="anima-ease-"][class*="-onto"]:active,
[class*="anima-ease-"][class*="-toall"]:hover > *,
[class*="anima-ease-"][class*="-toall"]:focus > *,
[class*="anima-ease-"][class*="-toall"]:active > *,
[class*="anima-ease-"][class*="-toone"] > *:hover,
[class*="anima-ease-"][class*="-toone"] > *:focus,
[class*="anima-ease-"][class*="-toone"] > *:active,
[class*="anima-ease-"][class*="-radio1"]:checked ~ [class*="anima-ease-"][class*="-relay"] [class*="anima-ease-"][class*="-target1"],
[class*="anima-ease-"][class*="-radio2"]:checked ~ [class*="anima-ease-"][class*="-relay"] [class*="anima-ease-"][class*="-target2"],
[class*="anima-ease-"][class*="-radio3"]:checked ~ [class*="anima-ease-"][class*="-relay"] [class*="anima-ease-"][class*="-target3"],
[class*="anima-ease-"][class*="-radio4"]:checked ~ [class*="anima-ease-"][class*="-relay"] [class*="anima-ease-"][class*="-target4"],
[class*="anima-ease-"][class*="-radio5"]:checked ~ [class*="anima-ease-"][class*="-relay"] [class*="anima-ease-"][class*="-target5"],
[class*="anima-ease-"][class*="-check"]:checked ~ [class*="anima-ease-"][class*="-hub"] [class*="anima-ease-"][class*="-goal"] {
  animation-timing-function: var(--animation-timing-function-ease);
}

[class*="anima-steps-"][class*="-base"],
[class*="anima-steps-"][class*="-global"] > *,
*:hover > [class*="anima-steps-"][class*="-into"],
*:focus > [class*="anima-steps-"][class*="-into"],
*:active > [class*="anima-steps-"][class*="-into"],
[class*="anima-steps-"][class*="-onto"]:hover,
[class*="anima-steps-"][class*="-onto"]:focus,
[class*="anima-steps-"][class*="-onto"]:active,
[class*="anima-steps-"][class*="-toall"]:hover > *,
[class*="anima-steps-"][class*="-toall"]:focus > *,
[class*="anima-steps-"][class*="-toall"]:active > *,
[class*="anima-steps-"][class*="-toone"] > *:hover,
[class*="anima-steps-"][class*="-toone"] > *:focus,
[class*="anima-steps-"][class*="-toone"] > *:active,
[class*="anima-steps-"][class*="-radio1"]:checked ~ [class*="anima-steps-"][class*="-relay"] [class*="anima-steps-"][class*="-target1"],
[class*="anima-steps-"][class*="-radio2"]:checked ~ [class*="anima-steps-"][class*="-relay"] [class*="anima-steps-"][class*="-target2"],
[class*="anima-steps-"][class*="-radio3"]:checked ~ [class*="anima-steps-"][class*="-relay"] [class*="anima-steps-"][class*="-target3"],
[class*="anima-steps-"][class*="-radio4"]:checked ~ [class*="anima-steps-"][class*="-relay"] [class*="anima-steps-"][class*="-target4"],
[class*="anima-steps-"][class*="-radio5"]:checked ~ [class*="anima-steps-"][class*="-relay"] [class*="anima-steps-"][class*="-target5"],
[class*="anima-steps-"][class*="-check"]:checked ~ [class*="anima-steps-"][class*="-hub"] [class*="anima-steps-"][class*="-goal"] {
  animation-timing-function: steps(var(--animation-timing-function-steps));
}

[class*="anima-bezier-"][class*="-base"],
[class*="anima-bezier-"][class*="-global"] > *,
*:hover > [class*="anima-bezier-"][class*="-into"],
*:focus > [class*="anima-bezier-"][class*="-into"],
*:active > [class*="anima-bezier-"][class*="-into"],
[class*="anima-bezier-"][class*="-onto"]:hover,
[class*="anima-bezier-"][class*="-onto"]:focus,
[class*="anima-bezier-"][class*="-onto"]:active,
[class*="anima-bezier-"][class*="-toall"]:hover > *,
[class*="anima-bezier-"][class*="-toall"]:focus > *,
[class*="anima-bezier-"][class*="-toall"]:active > *,
[class*="anima-bezier-"][class*="-toone"] > *:hover,
[class*="anima-bezier-"][class*="-toone"] > *:focus,
[class*="anima-bezier-"][class*="-toone"] > *:active,
[class*="anima-bezier-"][class*="-radio1"]:checked ~ [class*="anima-bezier-"][class*="-relay"] [class*="anima-bezier-"][class*="-target1"],
[class*="anima-bezier-"][class*="-radio2"]:checked ~ [class*="anima-bezier-"][class*="-relay"] [class*="anima-bezier-"][class*="-target2"],
[class*="anima-bezier-"][class*="-radio3"]:checked ~ [class*="anima-bezier-"][class*="-relay"] [class*="anima-bezier-"][class*="-target3"],
[class*="anima-bezier-"][class*="-radio4"]:checked ~ [class*="anima-bezier-"][class*="-relay"] [class*="anima-bezier-"][class*="-target4"],
[class*="anima-bezier-"][class*="-radio5"]:checked ~ [class*="anima-bezier-"][class*="-relay"] [class*="anima-bezier-"][class*="-target5"],
[class*="anima-bezier-"][class*="-check"]:checked ~ [class*="anima-bezier-"][class*="-hub"] [class*="anima-bezier-"][class*="-goal"] {
  animation-timing-function: cubic-bezier(var(--animation-timing-function-bezier));
}

/***** 8 - Animation Iteration Count *****/
[class*="anima-few-"][class*="-base"],
[class*="anima-few-"][class*="-global"] > *,
*:hover > [class*="anima-few-"][class*="-into"],
*:focus > [class*="anima-few-"][class*="-into"],
*:active > [class*="anima-few-"][class*="-into"],
[class*="anima-few-"][class*="-onto"]:hover,
[class*="anima-few-"][class*="-onto"]:focus,
[class*="anima-few-"][class*="-onto"]:active,
[class*="anima-few-"][class*="-toall"]:hover > *,
[class*="anima-few-"][class*="-toall"]:focus > *,
[class*="anima-few-"][class*="-toall"]:active > *,
[class*="anima-few-"][class*="-toone"] > *:hover,
[class*="anima-few-"][class*="-toone"] > *:focus,
[class*="anima-few-"][class*="-toone"] > *:active,
[class*="anima-few-"][class*="-radio1"]:checked ~ [class*="anima-few-"][class*="-relay"] [class*="anima-few-"][class*="-target1"],
[class*="anima-few-"][class*="-radio2"]:checked ~ [class*="anima-few-"][class*="-relay"] [class*="anima-few-"][class*="-target2"],
[class*="anima-few-"][class*="-radio3"]:checked ~ [class*="anima-few-"][class*="-relay"] [class*="anima-few-"][class*="-target3"],
[class*="anima-few-"][class*="-radio4"]:checked ~ [class*="anima-few-"][class*="-relay"] [class*="anima-few-"][class*="-target4"],
[class*="anima-few-"][class*="-radio5"]:checked ~ [class*="anima-few-"][class*="-relay"] [class*="anima-few-"][class*="-target5"],
[class*="anima-few-"][class*="-check"]:checked ~ [class*="anima-few-"][class*="-hub"] [class*="anima-few-"][class*="-goal"] {
  animation-iteration-count: var(--animation-iteration-count-few);
}

[class*="anima-many-"][class*="-base"],
[class*="anima-many-"][class*="-global"] > *,
*:hover > [class*="anima-many-"][class*="-into"],
*:focus > [class*="anima-many-"][class*="-into"],
*:active > [class*="anima-many-"][class*="-into"],
[class*="anima-many-"][class*="-onto"]:hover,
[class*="anima-many-"][class*="-onto"]:focus,
[class*="anima-many-"][class*="-onto"]:active,
[class*="anima-many-"][class*="-toall"]:hover > *,
[class*="anima-many-"][class*="-toall"]:focus > *,
[class*="anima-many-"][class*="-toall"]:active > *,
[class*="anima-many-"][class*="-toone"] > *:hover,
[class*="anima-many-"][class*="-toone"] > *:focus,
[class*="anima-many-"][class*="-toone"] > *:active,
[class*="anima-many-"][class*="-radio1"]:checked ~ [class*="anima-many-"][class*="-relay"] [class*="anima-many-"][class*="-target1"],
[class*="anima-many-"][class*="-radio2"]:checked ~ [class*="anima-many-"][class*="-relay"] [class*="anima-many-"][class*="-target2"],
[class*="anima-many-"][class*="-radio3"]:checked ~ [class*="anima-many-"][class*="-relay"] [class*="anima-many-"][class*="-target3"],
[class*="anima-many-"][class*="-radio4"]:checked ~ [class*="anima-many-"][class*="-relay"] [class*="anima-many-"][class*="-target4"],
[class*="anima-many-"][class*="-radio5"]:checked ~ [class*="anima-many-"][class*="-relay"] [class*="anima-many-"][class*="-target5"],
[class*="anima-many-"][class*="-check"]:checked ~ [class*="anima-many-"][class*="-hub"] [class*="anima-many-"][class*="-goal"] {
  animation-iteration-count: var(--animation-iteration-count-many);
}

[class*="anima-loop-"][class*="-base"],
[class*="anima-loop-"][class*="-global"] > *,
*:hover > [class*="anima-loop-"][class*="-into"],
*:focus > [class*="anima-loop-"][class*="-into"],
*:active > [class*="anima-loop-"][class*="-into"],
[class*="anima-loop-"][class*="-onto"]:hover,
[class*="anima-loop-"][class*="-onto"]:focus,
[class*="anima-loop-"][class*="-onto"]:active,
[class*="anima-loop-"][class*="-toall"]:hover > *,
[class*="anima-loop-"][class*="-toall"]:focus > *,
[class*="anima-loop-"][class*="-toall"]:active > *,
[class*="anima-loop-"][class*="-toone"] > *:hover,
[class*="anima-loop-"][class*="-toone"] > *:focus,
[class*="anima-loop-"][class*="-toone"] > *:active,
[class*="anima-loop-"][class*="-radio1"]:checked ~ [class*="anima-loop-"][class*="-relay"] [class*="anima-loop-"][class*="-target1"],
[class*="anima-loop-"][class*="-radio2"]:checked ~ [class*="anima-loop-"][class*="-relay"] [class*="anima-loop-"][class*="-target2"],
[class*="anima-loop-"][class*="-radio3"]:checked ~ [class*="anima-loop-"][class*="-relay"] [class*="anima-loop-"][class*="-target3"],
[class*="anima-loop-"][class*="-radio4"]:checked ~ [class*="anima-loop-"][class*="-relay"] [class*="anima-loop-"][class*="-target4"],
[class*="anima-loop-"][class*="-radio5"]:checked ~ [class*="anima-loop-"][class*="-relay"] [class*="anima-loop-"][class*="-target5"],
[class*="anima-loop-"][class*="-check"]:checked ~ [class*="anima-loop-"][class*="-hub"] [class*="anima-loop-"][class*="-goal"] {
  animation-iteration-count: infinite;
}

/***** 9 - Animation Direction *****/
[class*="anima-alter-"][class*="-base"],
[class*="anima-alter-"][class*="-global"] > *,
*:hover > [class*="anima-alter-"][class*="-into"],
*:focus > [class*="anima-alter-"][class*="-into"],
*:active > [class*="anima-alter-"][class*="-into"],
[class*="anima-alter-"][class*="-onto"]:hover,
[class*="anima-alter-"][class*="-onto"]:focus,
[class*="anima-alter-"][class*="-onto"]:active,
[class*="anima-alter-"][class*="-toall"]:hover > *,
[class*="anima-alter-"][class*="-toall"]:focus > *,
[class*="anima-alter-"][class*="-toall"]:active > *,
[class*="anima-alter-"][class*="-toone"] > *:hover,
[class*="anima-alter-"][class*="-toone"] > *:focus,
[class*="anima-alter-"][class*="-toone"] > *:active,
[class*="anima-alter-"][class*="-radio1"]:checked ~ [class*="anima-alter-"][class*="-relay"] [class*="anima-alter-"][class*="-target1"],
[class*="anima-alter-"][class*="-radio2"]:checked ~ [class*="anima-alter-"][class*="-relay"] [class*="anima-alter-"][class*="-target2"],
[class*="anima-alter-"][class*="-radio3"]:checked ~ [class*="anima-alter-"][class*="-relay"] [class*="anima-alter-"][class*="-target3"],
[class*="anima-alter-"][class*="-radio4"]:checked ~ [class*="anima-alter-"][class*="-relay"] [class*="anima-alter-"][class*="-target4"],
[class*="anima-alter-"][class*="-radio5"]:checked ~ [class*="anima-alter-"][class*="-relay"] [class*="anima-alter-"][class*="-target5"],
[class*="anima-alter-"][class*="-check"]:checked ~ [class*="anima-alter-"][class*="-hub"] [class*="anima-alter-"][class*="-goal"] {
  animation-direction: alternate;
}

[class*="anima-rever-"][class*="-base"],
[class*="anima-rever-"][class*="-global"] > *,
*:hover > [class*="anima-rever-"][class*="-into"],
*:focus > [class*="anima-rever-"][class*="-into"],
*:active > [class*="anima-rever-"][class*="-into"],
[class*="anima-rever-"][class*="-onto"]:hover,
[class*="anima-rever-"][class*="-onto"]:focus,
[class*="anima-rever-"][class*="-onto"]:active,
[class*="anima-rever-"][class*="-toall"]:hover > *,
[class*="anima-rever-"][class*="-toall"]:focus > *,
[class*="anima-rever-"][class*="-toall"]:active > *,
[class*="anima-rever-"][class*="-toone"] > *:hover,
[class*="anima-rever-"][class*="-toone"] > *:focus,
[class*="anima-rever-"][class*="-toone"] > *:active,
[class*="anima-rever-"][class*="-radio1"]:checked ~ [class*="anima-rever-"][class*="-relay"] [class*="anima-rever-"][class*="-target1"],
[class*="anima-rever-"][class*="-radio2"]:checked ~ [class*="anima-rever-"][class*="-relay"] [class*="anima-rever-"][class*="-target2"],
[class*="anima-rever-"][class*="-radio3"]:checked ~ [class*="anima-rever-"][class*="-relay"] [class*="anima-rever-"][class*="-target3"],
[class*="anima-rever-"][class*="-radio4"]:checked ~ [class*="anima-rever-"][class*="-relay"] [class*="anima-rever-"][class*="-target4"],
[class*="anima-rever-"][class*="-radio5"]:checked ~ [class*="anima-rever-"][class*="-relay"] [class*="anima-rever-"][class*="-target5"],
[class*="anima-rever-"][class*="-check"]:checked ~ [class*="anima-rever-"][class*="-hub"] [class*="anima-rever-"][class*="-goal"] {
  animation-direction: reverse;
}

[class*="anima-altrev-"][class*="-base"],
[class*="anima-altrev-"][class*="-global"] > *,
*:hover > [class*="anima-altrev-"][class*="-into"],
*:focus > [class*="anima-altrev-"][class*="-into"],
*:active > [class*="anima-altrev-"][class*="-into"],
[class*="anima-altrev-"][class*="-onto"]:hover,
[class*="anima-altrev-"][class*="-onto"]:focus,
[class*="anima-altrev-"][class*="-onto"]:active,
[class*="anima-altrev-"][class*="-toall"]:hover > *,
[class*="anima-altrev-"][class*="-toall"]:focus > *,
[class*="anima-altrev-"][class*="-toall"]:active > *,
[class*="anima-altrev-"][class*="-toone"] > *:hover,
[class*="anima-altrev-"][class*="-toone"] > *:focus,
[class*="anima-altrev-"][class*="-toone"] > *:active,
[class*="anima-altrev-"][class*="-radio1"]:checked ~ [class*="anima-altrev-"][class*="-relay"] [class*="anima-altrev-"][class*="-target1"],
[class*="anima-altrev-"][class*="-radio2"]:checked ~ [class*="anima-altrev-"][class*="-relay"] [class*="anima-altrev-"][class*="-target2"],
[class*="anima-altrev-"][class*="-radio3"]:checked ~ [class*="anima-altrev-"][class*="-relay"] [class*="anima-altrev-"][class*="-target3"],
[class*="anima-altrev-"][class*="-radio4"]:checked ~ [class*="anima-altrev-"][class*="-relay"] [class*="anima-altrev-"][class*="-target4"],
[class*="anima-altrev-"][class*="-radio5"]:checked ~ [class*="anima-altrev-"][class*="-relay"] [class*="anima-altrev-"][class*="-target5"],
[class*="anima-altrev-"][class*="-check"]:checked ~ [class*="anima-altrev-"][class*="-hub"] [class*="anima-altrev-"][class*="-goal"] {
  animation-direction: alternate-reverse;
}

/***** 10 - Animation Delay *****/
[class*="anima-small-"][class*="-base"],
[class*="anima-small-"][class*="-global"] > *,
*:hover > [class*="anima-small-"][class*="-into"],
*:focus > [class*="anima-small-"][class*="-into"],
*:active > [class*="anima-small-"][class*="-into"],
[class*="anima-small-"][class*="-onto"]:hover,
[class*="anima-small-"][class*="-onto"]:focus,
[class*="anima-small-"][class*="-onto"]:active,
[class*="anima-small-"][class*="-toall"]:hover > *,
[class*="anima-small-"][class*="-toall"]:focus > *,
[class*="anima-small-"][class*="-toall"]:active > *,
[class*="anima-small-"][class*="-toone"] > *:hover,
[class*="anima-small-"][class*="-toone"] > *:focus,
[class*="anima-small-"][class*="-toone"] > *:active,
[class*="anima-small-"][class*="-radio1"]:checked ~ [class*="anima-small-"][class*="-relay"] [class*="anima-small-"][class*="-target1"],
[class*="anima-small-"][class*="-radio2"]:checked ~ [class*="anima-small-"][class*="-relay"] [class*="anima-small-"][class*="-target2"],
[class*="anima-small-"][class*="-radio3"]:checked ~ [class*="anima-small-"][class*="-relay"] [class*="anima-small-"][class*="-target3"],
[class*="anima-small-"][class*="-radio4"]:checked ~ [class*="anima-small-"][class*="-relay"] [class*="anima-small-"][class*="-target4"],
[class*="anima-small-"][class*="-radio5"]:checked ~ [class*="anima-small-"][class*="-relay"] [class*="anima-small-"][class*="-target5"],
[class*="anima-small-"][class*="-check"]:checked ~ [class*="anima-small-"][class*="-hub"] [class*="anima-small-"][class*="-goal"] {
  animation-delay: var(--animation-delay-small);
}

[class*="anima-medium-"][class*="-base"],
[class*="anima-medium-"][class*="-global"] > *,
*:hover > [class*="anima-medium-"][class*="-into"],
*:focus > [class*="anima-medium-"][class*="-into"],
*:active > [class*="anima-medium-"][class*="-into"],
[class*="anima-medium-"][class*="-onto"]:hover,
[class*="anima-medium-"][class*="-onto"]:focus,
[class*="anima-medium-"][class*="-onto"]:active,
[class*="anima-medium-"][class*="-toall"]:hover > *,
[class*="anima-medium-"][class*="-toall"]:focus > *,
[class*="anima-medium-"][class*="-toall"]:active > *,
[class*="anima-medium-"][class*="-toone"] > *:hover,
[class*="anima-medium-"][class*="-toone"] > *:focus,
[class*="anima-medium-"][class*="-toone"] > *:active,
[class*="anima-medium-"][class*="-radio1"]:checked ~ [class*="anima-medium-"][class*="-relay"] [class*="anima-medium-"][class*="-target1"],
[class*="anima-medium-"][class*="-radio2"]:checked ~ [class*="anima-medium-"][class*="-relay"] [class*="anima-medium-"][class*="-target2"],
[class*="anima-medium-"][class*="-radio3"]:checked ~ [class*="anima-medium-"][class*="-relay"] [class*="anima-medium-"][class*="-target3"],
[class*="anima-medium-"][class*="-radio4"]:checked ~ [class*="anima-medium-"][class*="-relay"] [class*="anima-medium-"][class*="-target4"],
[class*="anima-medium-"][class*="-radio5"]:checked ~ [class*="anima-medium-"][class*="-relay"] [class*="anima-medium-"][class*="-target5"],
[class*="anima-medium-"][class*="-check"]:checked ~ [class*="anima-medium-"][class*="-hub"] [class*="anima-medium-"][class*="-goal"] {
  animation-delay: var(--animation-delay-medium);
}

[class*="anima-large-"][class*="-base"],
[class*="anima-large-"][class*="-global"] > *,
*:hover > [class*="anima-large-"][class*="-into"],
*:focus > [class*="anima-large-"][class*="-into"],
*:active > [class*="anima-large-"][class*="-into"],
[class*="anima-large-"][class*="-onto"]:hover,
[class*="anima-large-"][class*="-onto"]:focus,
[class*="anima-large-"][class*="-onto"]:active,
[class*="anima-large-"][class*="-toall"]:hover > *,
[class*="anima-large-"][class*="-toall"]:focus > *,
[class*="anima-large-"][class*="-toall"]:active > *,
[class*="anima-large-"][class*="-toone"] > *:hover,
[class*="anima-large-"][class*="-toone"] > *:focus,
[class*="anima-large-"][class*="-toone"] > *:active,
[class*="anima-large-"][class*="-radio1"]:checked ~ [class*="anima-large-"][class*="-relay"] [class*="anima-large-"][class*="-target1"],
[class*="anima-large-"][class*="-radio2"]:checked ~ [class*="anima-large-"][class*="-relay"] [class*="anima-large-"][class*="-target2"],
[class*="anima-large-"][class*="-radio3"]:checked ~ [class*="anima-large-"][class*="-relay"] [class*="anima-large-"][class*="-target3"],
[class*="anima-large-"][class*="-radio4"]:checked ~ [class*="anima-large-"][class*="-relay"] [class*="anima-large-"][class*="-target4"],
[class*="anima-large-"][class*="-radio5"]:checked ~ [class*="anima-large-"][class*="-relay"] [class*="anima-large-"][class*="-target5"],
[class*="anima-large-"][class*="-check"]:checked ~ [class*="anima-large-"][class*="-hub"] [class*="anima-large-"][class*="-goal"] {
  animation-delay: var(--animation-delay-large);
}

/***** 11 - Animation Fill Mode *****/
[class*="anima-back-"][class*="-base"],
[class*="anima-back-"][class*="-global"] > *,
*:hover > [class*="anima-back-"][class*="-into"],
*:focus > [class*="anima-back-"][class*="-into"],
*:active > [class*="anima-back-"][class*="-into"],
[class*="anima-back-"][class*="-onto"]:hover,
[class*="anima-back-"][class*="-onto"]:focus,
[class*="anima-back-"][class*="-onto"]:active,
[class*="anima-back-"][class*="-toall"]:hover > *,
[class*="anima-back-"][class*="-toall"]:focus > *,
[class*="anima-back-"][class*="-toall"]:active > *,
[class*="anima-back-"][class*="-toone"] > *:hover,
[class*="anima-back-"][class*="-toone"] > *:focus,
[class*="anima-back-"][class*="-toone"] > *:active,
[class*="anima-back-"][class*="-radio1"]:checked ~ [class*="anima-back-"][class*="-relay"] [class*="anima-back-"][class*="-target1"],
[class*="anima-back-"][class*="-radio2"]:checked ~ [class*="anima-back-"][class*="-relay"] [class*="anima-back-"][class*="-target2"],
[class*="anima-back-"][class*="-radio3"]:checked ~ [class*="anima-back-"][class*="-relay"] [class*="anima-back-"][class*="-target3"],
[class*="anima-back-"][class*="-radio4"]:checked ~ [class*="anima-back-"][class*="-relay"] [class*="anima-back-"][class*="-target4"],
[class*="anima-back-"][class*="-radio5"]:checked ~ [class*="anima-back-"][class*="-relay"] [class*="anima-back-"][class*="-target5"],
[class*="anima-back-"][class*="-check"]:checked ~ [class*="anima-back-"][class*="-hub"] [class*="anima-back-"][class*="-goal"] {
  animation-fill-mode: backwards;
}

[class*="anima-front-"][class*="-base"],
[class*="anima-front-"][class*="-global"] > *,
*:hover > [class*="anima-front-"][class*="-into"],
*:focus > [class*="anima-front-"][class*="-into"],
*:active > [class*="anima-front-"][class*="-into"],
[class*="anima-front-"][class*="-onto"]:hover,
[class*="anima-front-"][class*="-onto"]:focus,
[class*="anima-front-"][class*="-onto"]:active,
[class*="anima-front-"][class*="-toall"]:hover > *,
[class*="anima-front-"][class*="-toall"]:focus > *,
[class*="anima-front-"][class*="-toall"]:active > *,
[class*="anima-front-"][class*="-toone"] > *:hover,
[class*="anima-front-"][class*="-toone"] > *:focus,
[class*="anima-front-"][class*="-toone"] > *:active,
[class*="anima-front-"][class*="-radio1"]:checked ~ [class*="anima-front-"][class*="-relay"] [class*="anima-front-"][class*="-target1"],
[class*="anima-front-"][class*="-radio2"]:checked ~ [class*="anima-front-"][class*="-relay"] [class*="anima-front-"][class*="-target2"],
[class*="anima-front-"][class*="-radio3"]:checked ~ [class*="anima-front-"][class*="-relay"] [class*="anima-front-"][class*="-target3"],
[class*="anima-front-"][class*="-radio4"]:checked ~ [class*="anima-front-"][class*="-relay"] [class*="anima-front-"][class*="-target4"],
[class*="anima-front-"][class*="-radio5"]:checked ~ [class*="anima-front-"][class*="-relay"] [class*="anima-front-"][class*="-target5"],
[class*="anima-front-"][class*="-check"]:checked ~ [class*="anima-front-"][class*="-hub"] [class*="anima-front-"][class*="-goal"] {
  animation-fill-mode: forwards;
}

/***** 12 - Transform Origin *****/
[class*="anima-far-"][class*="-base"],
[class*="anima-far-"][class*="-global"] > *,
*:hover > [class*="anima-far-"][class*="-into"],
*:focus > [class*="anima-far-"][class*="-into"],
*:active > [class*="anima-far-"][class*="-into"],
[class*="anima-far-"][class*="-onto"]:hover,
[class*="anima-far-"][class*="-onto"]:focus,
[class*="anima-far-"][class*="-onto"]:active,
[class*="anima-far-"][class*="-toall"]:hover > *,
[class*="anima-far-"][class*="-toall"]:focus > *,
[class*="anima-far-"][class*="-toall"]:active > *,
[class*="anima-far-"][class*="-toone"] > *:hover,
[class*="anima-far-"][class*="-toone"] > *:focus,
[class*="anima-far-"][class*="-toone"] > *:active,
[class*="anima-far-"][class*="-radio1"]:checked ~ [class*="anima-far-"][class*="-relay"] [class*="anima-far-"][class*="-target1"],
[class*="anima-far-"][class*="-radio2"]:checked ~ [class*="anima-far-"][class*="-relay"] [class*="anima-far-"][class*="-target2"],
[class*="anima-far-"][class*="-radio3"]:checked ~ [class*="anima-far-"][class*="-relay"] [class*="anima-far-"][class*="-target3"],
[class*="anima-far-"][class*="-radio4"]:checked ~ [class*="anima-far-"][class*="-relay"] [class*="anima-far-"][class*="-target4"],
[class*="anima-far-"][class*="-radio5"]:checked ~ [class*="anima-far-"][class*="-relay"] [class*="anima-far-"][class*="-target5"],
[class*="anima-far-"][class*="-check"]:checked ~ [class*="anima-far-"][class*="-hub"] [class*="anima-far-"][class*="-goal"] {
  transform-origin: var(--transform-origin-far);
}

[class*="anima-near-"][class*="-base"],
[class*="anima-near-"][class*="-global"] > *,
*:hover > [class*="anima-near-"][class*="-into"],
*:focus > [class*="anima-near-"][class*="-into"],
*:active > [class*="anima-near-"][class*="-into"],
[class*="anima-near-"][class*="-onto"]:hover,
[class*="anima-near-"][class*="-onto"]:focus,
[class*="anima-near-"][class*="-onto"]:active,
[class*="anima-near-"][class*="-toall"]:hover > *,
[class*="anima-near-"][class*="-toall"]:focus > *,
[class*="anima-near-"][class*="-toall"]:active > *,
[class*="anima-near-"][class*="-toone"] > *:hover,
[class*="anima-near-"][class*="-toone"] > *:focus,
[class*="anima-near-"][class*="-toone"] > *:active,
[class*="anima-near-"][class*="-radio1"]:checked ~ [class*="anima-near-"][class*="-relay"] [class*="anima-near-"][class*="-target1"],
[class*="anima-near-"][class*="-radio2"]:checked ~ [class*="anima-near-"][class*="-relay"] [class*="anima-near-"][class*="-target2"],
[class*="anima-near-"][class*="-radio3"]:checked ~ [class*="anima-near-"][class*="-relay"] [class*="anima-near-"][class*="-target3"],
[class*="anima-near-"][class*="-radio4"]:checked ~ [class*="anima-near-"][class*="-relay"] [class*="anima-near-"][class*="-target4"],
[class*="anima-near-"][class*="-radio5"]:checked ~ [class*="anima-near-"][class*="-relay"] [class*="anima-near-"][class*="-target5"],
[class*="anima-near-"][class*="-check"]:checked ~ [class*="anima-near-"][class*="-hub"] [class*="anima-near-"][class*="-goal"] {
  transform-origin: var(--transform-origin-near);
}
