/********** ANIMA **********/

/*
1  Animation
2. Animation rotate
3. Animation Scale
4. Animation Skew
5. Animation Translate
6. Animation Duration
7. Animation Timing Function
8. Animation Iteration Count
9. Animation duration
10. Animation Delay
11. Animation Fill Mode
12. Transform Origin
*/

/***** 1 - Animation *****/
[class*="anima-"],
[class*="anima-"][class*="-global"] > *,
*:hover > [class*="anima-"][class*="-into"],
*:focus > [class*="anima-"][class*="-into"],
[class*="anima-"][class*="-onto"]:hover,
[class*="anima-"][class*="-onto"]:focus,
[class*="anima-"][class*="-toall"]:hover > *,
[class*="anima-"][class*="-toall"]:focus > *,
[class*="anima-"][class*="-toone"] > *:hover,
[class*="anima-"][class*="-toone"] > *:focus,
[class*="anima-"][class*="-radio1"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target1"],
[class*="anima-"][class*="-radio2"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target2"],
[class*="anima-"][class*="-radio3"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target3"],
[class*="anima-"][class*="-radio4"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target4"],
[class*="anima-"][class*="-radio5"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target5"],
[class*="anima-"][class*="-check"]:checked ~ [class*="anima-"][class*="-hub"] [class*="anima-"][class*="-goal"] {
  animation-duration: var(--animation-duration);
}

/***** 2 - Animation Rotate *****/
.anima-rota,
.anima-rota-global > *,
*:hover > .anima-rota-into,
*:focus > .anima-rota-into,
.anima-rota-onto:hover,
.anima-rota-onto:focus,
.anima-rota-toall:hover > *,
.anima-rota-toall:focus > *,
.anima-rota-toone > *:hover,
.anima-rota-toone > *:focus,
.anima-rota-radio1:checked ~ .anima-rota-relay .anima-rota-target1,
.anima-rota-radio2:checked ~ .anima-rota-relay .anima-rota-target2,
.anima-rota-radio3:checked ~ .anima-rota-relay .anima-rota-target3,
.anima-rota-radio4:checked ~ .anima-rota-relay .anima-rota-target4,
.anima-rota-radio5:checked ~ .anima-rota-relay .anima-rota-target5,
.anima-rota-check:checked ~ .anima-rota-hub .anima-rota-goal {
  animation-name: rotate;
}

.anima-rota3d,
.anima-rota3d-global > *,
*:hover > .anima-rota3d-into,
*:focus > .anima-rota3d-into,
.anima-rota3d-onto:hover,
.anima-rota3d-onto:focus,
.anima-rota3d-toall:hover > *,
.anima-rota3d-toall:focus > *,
.anima-rota3d-toone > *:hover,
.anima-rota3d-toone > *:focus,
.anima-rota3d-radio1:checked ~ .anima-rota3d-relay .anima-rota3d-target1,
.anima-rota3d-radio2:checked ~ .anima-rota3d-relay .anima-rota3d-target2,
.anima-rota3d-radio3:checked ~ .anima-rota3d-relay .anima-rota3d-target3,
.anima-rota3d-radio4:checked ~ .anima-rota3d-relay .anima-rota3d-target4,
.anima-rota3d-radio5:checked ~ .anima-rota3d-relay .anima-rota3d-target5,
.anima-rota3d-check:checked ~ .anima-rota3d-hub .anima-rota3d-goal {
  animation-name: rotate3d;
}

.anima-rotax,
.anima-rotax-global > *,
*:hover > .anima-rotax-into,
*:focus > .anima-rotax-into,
.anima-rotax-onto:hover,
.anima-rotax-onto:focus,
.anima-rotax-toall:hover > *,
.anima-rotax-toall:focus > *,
.anima-rotax-toone > *:hover,
.anima-rotax-toone > *:focus,
.anima-rotax-radio1:checked ~ .anima-rotax-relay .anima-rotax-target1,
.anima-rotax-radio2:checked ~ .anima-rotax-relay .anima-rotax-target2,
.anima-rotax-radio3:checked ~ .anima-rotax-relay .anima-rotax-target3,
.anima-rotax-radio4:checked ~ .anima-rotax-relay .anima-rotax-target4,
.anima-rotax-radio5:checked ~ .anima-rotax-relay .anima-rotax-target5,
.anima-rotax-check:checked ~ .anima-rotax-hub .anima-rotax-goal {
  animation-name: rotateX;
}

.anima-rotay,
.anima-rotay-global > *,
*:hover > .anima-rotay-into,
*:focus > .anima-rotay-into,
.anima-rotay-onto:hover,
.anima-rotay-onto:focus,
.anima-rotay-toall:hover > *,
.anima-rotay-toall:focus > *,
.anima-rotay-toone > *:hover,
.anima-rotay-toone > *:focus,
.anima-rotay-radio1:checked ~ .anima-rotay-relay .anima-rotay-target1,
.anima-rotay-radio2:checked ~ .anima-rotay-relay .anima-rotay-target2,
.anima-rotay-radio3:checked ~ .anima-rotay-relay .anima-rotay-target3,
.anima-rotay-radio4:checked ~ .anima-rotay-relay .anima-rotay-target4,
.anima-rotay-radio5:checked ~ .anima-rotay-relay .anima-rotay-target5,
.anima-rotay-check:checked ~ .anima-rotay-hub .anima-rotay-goal {
  animation-name: rotateY;
}

.anima-rotaz,
.anima-rotaz-global > *,
*:hover > .anima-rotaz-into,
*:focus > .anima-rotaz-into,
.anima-rotaz-onto:hover,
.anima-rotaz-onto:focus,
.anima-rotaz-toall:hover > *,
.anima-rotaz-toall:focus > *,
.anima-rotaz-toone > *:hover,
.anima-rotaz-toone > *:focus,
.anima-rotaz-radio1:checked ~ .anima-rotaz-relay .anima-rotaz-target1,
.anima-rotaz-radio2:checked ~ .anima-rotaz-relay .anima-rotaz-target2,
.anima-rotaz-radio3:checked ~ .anima-rotaz-relay .anima-rotaz-target3,
.anima-rotaz-radio4:checked ~ .anima-rotaz-relay .anima-rotaz-target4,
.anima-rotaz-radio5:checked ~ .anima-rotaz-relay .anima-rotaz-target5,
.anima-rotaz-check:checked ~ .anima-rotaz-hub .anima-rotaz-goal {
  animation-name: rotateZ;
}

/***** 3 - Animation Scale *****/
.anima-scal,
.anima-scal-global > *,
*:hover > .anima-scal-into,
*:focus > .anima-scal-into,
.anima-scal-onto:hover,
.anima-scal-onto:focus,
.anima-scal-toall:hover > *,
.anima-scal-toall:focus > *,
.anima-scal-toone > *:hover,
.anima-scal-toone > *:focus,
.anima-scal-radio1:checked ~ .anima-scal-relay .anima-scal-target1,
.anima-scal-radio2:checked ~ .anima-scal-relay .anima-scal-target2,
.anima-scal-radio3:checked ~ .anima-scal-relay .anima-scal-target3,
.anima-scal-radio4:checked ~ .anima-scal-relay .anima-scal-target4,
.anima-scal-radio5:checked ~ .anima-scal-relay .anima-scal-target5,
.anima-scal-check:checked ~ .anima-scal-hub .anima-scal-goal {
  animation-name: scale;
}

.anima-scal3d,
.anima-scal3d-global > *,
*:hover > .anima-scal3d-into,
*:focus > .anima-scal3d-into,
.anima-scal3d-onto:hover,
.anima-scal3d-onto:focus,
.anima-scal3d-toall:hover > *,
.anima-scal3d-toall:focus > *,
.anima-scal3d-toone > *:hover,
.anima-scal3d-toone > *:focus,
.anima-scal3d-radio1:checked ~ .anima-scal3d-relay .anima-scal3d-target1,
.anima-scal3d-radio2:checked ~ .anima-scal3d-relay .anima-scal3d-target2,
.anima-scal3d-radio3:checked ~ .anima-scal3d-relay .anima-scal3d-target3,
.anima-scal3d-radio4:checked ~ .anima-scal3d-relay .anima-scal3d-target4,
.anima-scal3d-radio5:checked ~ .anima-scal3d-relay .anima-scal3d-target5,
.anima-scal3d-check:checked ~ .anima-scal3d-hub .anima-scal3d-goal {
  animation-name: scale3d;
}

.anima-scalx,
.anima-scalx-global > *,
*:hover > .anima-scalx-into,
*:focus > .anima-scalx-into,
.anima-scalx-onto:hover,
.anima-scalx-onto:focus,
.anima-scalx-toall:hover > *,
.anima-scalx-toall:focus > *,
.anima-scalx-toone > *:hover,
.anima-scalx-toone > *:focus,
.anima-scalx-radio1:checked ~ .anima-scalx-relay .anima-scalx-target1,
.anima-scalx-radio2:checked ~ .anima-scalx-relay .anima-scalx-target2,
.anima-scalx-radio3:checked ~ .anima-scalx-relay .anima-scalx-target3,
.anima-scalx-radio4:checked ~ .anima-scalx-relay .anima-scalx-target4,
.anima-scalx-radio5:checked ~ .anima-scalx-relay .anima-scalx-target5,
.anima-scalx-check:checked ~ .anima-scalx-hub .anima-scalx-goal {
  animation-name: scaleX;
}

.anima-scaly,
.anima-scaly-global > *,
*:hover > .anima-scaly-into,
*:focus > .anima-scaly-into,
.anima-scaly-onto:hover,
.anima-scaly-onto:focus,
.anima-scaly-toall:hover > *,
.anima-scaly-toall:focus > *,
.anima-scaly-toone > *:hover,
.anima-scaly-toone > *:focus,
.anima-scaly-radio1:checked ~ .anima-scaly-relay .anima-scaly-target1,
.anima-scaly-radio2:checked ~ .anima-scaly-relay .anima-scaly-target2,
.anima-scaly-radio3:checked ~ .anima-scaly-relay .anima-scaly-target3,
.anima-scaly-radio4:checked ~ .anima-scaly-relay .anima-scaly-target4,
.anima-scaly-radio5:checked ~ .anima-scaly-relay .anima-scaly-target5,
.anima-scaly-check:checked ~ .anima-scaly-hub .anima-scaly-goal {
  animation-name: scaleY;
}

.anima-scalz,
.anima-scalz-global > *,
*:hover > .anima-scalz-into,
*:focus > .anima-scalz-into,
.anima-scalz-onto:hover,
.anima-scalz-onto:focus,
.anima-scalz-toall:hover > *,
.anima-scalz-toall:focus > *,
.anima-scalz-toone > *:hover,
.anima-scalz-toone > *:focus,
.anima-scalz-radio1:checked ~ .anima-scalz-relay .anima-scalz-target1,
.anima-scalz-radio2:checked ~ .anima-scalz-relay .anima-scalz-target2,
.anima-scalz-radio3:checked ~ .anima-scalz-relay .anima-scalz-target3,
.anima-scalz-radio4:checked ~ .anima-scalz-relay .anima-scalz-target4,
.anima-scalz-radio5:checked ~ .anima-scalz-relay .anima-scalz-target5,
.anima-scalz-check:checked ~ .anima-scalz-hub .anima-scalz-goal {
  animation-name: scaleZ;
}

/***** 4 - Animation Skew *****/
.anima-skew,
.anima-skew-global > *,
*:hover > .anima-skew-into,
*:focus > .anima-skew-into,
.anima-skew-onto:hover,
.anima-skew-onto:focus,
.anima-skew-toall:hover > *,
.anima-skew-toall:focus > *,
.anima-skew-toone > *:hover,
.anima-skew-toone > *:focus,
.anima-skew-radio1:checked ~ .anima-skew-relay .anima-skew-target1,
.anima-skew-radio2:checked ~ .anima-skew-relay .anima-skew-target2,
.anima-skew-radio3:checked ~ .anima-skew-relay .anima-skew-target3,
.anima-skew-radio4:checked ~ .anima-skew-relay .anima-skew-target4,
.anima-skew-radio5:checked ~ .anima-skew-relay .anima-skew-target5,
.anima-skew-check:checked ~ .anima-skew-hub .anima-skew-goal {
  animation-name: skew;
}

.anima-skewx,
.anima-skewx-global > *,
*:hover > .anima-skewx-into,
*:focus > .anima-skewx-into,
.anima-skewx-onto:hover,
.anima-skewx-onto:focus,
.anima-skewx-toall:hover > *,
.anima-skewx-toall:focus > *,
.anima-skewx-toone > *:hover,
.anima-skewx-toone > *:focus,
.anima-skewx-radio1:checked ~ .anima-skewx-relay .anima-skewx-target1,
.anima-skewx-radio2:checked ~ .anima-skewx-relay .anima-skewx-target2,
.anima-skewx-radio3:checked ~ .anima-skewx-relay .anima-skewx-target3,
.anima-skewx-radio4:checked ~ .anima-skewx-relay .anima-skewx-target4,
.anima-skewx-radio5:checked ~ .anima-skewx-relay .anima-skewx-target5,
.anima-skewx-check:checked ~ .anima-skewx-hub .anima-skewx-goal {
  animation-name: skewX;
}

.anima-skewy,
.anima-skewy-global > *,
*:hover > .anima-skewy-into,
*:focus > .anima-skewy-into,
.anima-skewy-onto:hover,
.anima-skewy-onto:focus,
.anima-skewy-toall:hover > *,
.anima-skewy-toall:focus > *,
.anima-skewy-toone > *:hover,
.anima-skewy-toone > *:focus,
.anima-skewy-radio1:checked ~ .anima-skewy-relay .anima-skewy-target1,
.anima-skewy-radio2:checked ~ .anima-skewy-relay .anima-skewy-target2,
.anima-skewy-radio3:checked ~ .anima-skewy-relay .anima-skewy-target3,
.anima-skewy-radio4:checked ~ .anima-skewy-relay .anima-skewy-target4,
.anima-skewy-radio5:checked ~ .anima-skewy-relay .anima-skewy-target5,
.anima-skewy-check:checked ~ .anima-skewy-hub .anima-skewy-goal {
  animation-name: skewY;
}

/***** 5 - Animation Translate *****/
.anima-tran,
.anima-tran-global > *,
*:hover > .anima-tran-into,
*:focus > .anima-tran-into,
.anima-tran-onto:hover,
.anima-tran-onto:focus,
.anima-tran-toall:hover > *,
.anima-tran-toall:focus > *,
.anima-tran-toone > *:hover,
.anima-tran-toone > *:focus,
.anima-tran-radio1:checked ~ .anima-tran-relay .anima-tran-target1,
.anima-tran-radio2:checked ~ .anima-tran-relay .anima-tran-target2,
.anima-tran-radio3:checked ~ .anima-tran-relay .anima-tran-target3,
.anima-tran-radio4:checked ~ .anima-tran-relay .anima-tran-target4,
.anima-tran-radio5:checked ~ .anima-tran-relay .anima-tran-target5,
.anima-tran-check:checked ~ .anima-tran-hub .anima-tran-goal {
  animation-name: translate;
}

.anima-tran3d,
.anima-tran3d-global > *,
*:hover > .anima-tran3d-into,
*:focus > .anima-tran3d-into,
.anima-tran3d-onto:hover,
.anima-tran3d-onto:focus,
.anima-tran3d-toall:hover > *,
.anima-tran3d-toall:focus > *,
.anima-tran3d-toone > *:hover,
.anima-tran3d-toone > *:focus,
.anima-tran3d-radio1:checked ~ .anima-tran3d-relay .anima-tran3d-target1,
.anima-tran3d-radio2:checked ~ .anima-tran3d-relay .anima-tran3d-target2,
.anima-tran3d-radio3:checked ~ .anima-tran3d-relay .anima-tran3d-target3,
.anima-tran3d-radio4:checked ~ .anima-tran3d-relay .anima-tran3d-target4,
.anima-tran3d-radio5:checked ~ .anima-tran3d-relay .anima-tran3d-target5,
.anima-tran3d-check:checked ~ .anima-tran3d-hub .anima-tran3d-goal {
  animation-name: translate3d;
}

.anima-tranx,
.anima-tranx-global > *,
*:hover > .anima-tranx-into,
*:focus > .anima-tranx-into,
.anima-tranx-onto:hover,
.anima-tranx-onto:focus,
.anima-tranx-toall:hover > *,
.anima-tranx-toall:focus > *,
.anima-tranx-toone > *:hover,
.anima-tranx-toone > *:focus,
.anima-tranx-radio1:checked ~ .anima-tranx-relay .anima-tranx-target1,
.anima-tranx-radio2:checked ~ .anima-tranx-relay .anima-tranx-target2,
.anima-tranx-radio3:checked ~ .anima-tranx-relay .anima-tranx-target3,
.anima-tranx-radio4:checked ~ .anima-tranx-relay .anima-tranx-target4,
.anima-tranx-radio5:checked ~ .anima-tranx-relay .anima-tranx-target5,
.anima-tranx-check:checked ~ .anima-tranx-hub .anima-tranx-goal {
  animation-name: translateX;
}

.anima-trany,
.anima-trany-global > *,
*:hover > .anima-trany-into,
*:focus > .anima-trany-into,
.anima-trany-onto:hover,
.anima-trany-onto:focus,
.anima-trany-toall:hover > *,
.anima-trany-toall:focus > *,
.anima-trany-toone > *:hover,
.anima-trany-toone > *:focus,
.anima-trany-radio1:checked ~ .anima-trany-relay .anima-trany-target1,
.anima-trany-radio2:checked ~ .anima-trany-relay .anima-trany-target2,
.anima-trany-radio3:checked ~ .anima-trany-relay .anima-trany-target3,
.anima-trany-radio4:checked ~ .anima-trany-relay .anima-trany-target4,
.anima-trany-radio5:checked ~ .anima-trany-relay .anima-trany-target5,
.anima-trany-check:checked ~ .anima-trany-hub .anima-trany-goal {
  animation-name: translateY;
}

.anima-tranz,
.anima-tranz-global > *,
*:hover > .anima-tranz-into,
*:focus > .anima-tranz-into,
.anima-tranz-onto:hover,
.anima-tranz-onto:focus,
.anima-tranz-toall:hover > *,
.anima-tranz-toall:focus > *,
.anima-tranz-toone > *:hover,
.anima-tranz-toone > *:focus,
.anima-tranz-radio1:checked ~ .anima-tranz-relay .anima-tranz-target1,
.anima-tranz-radio2:checked ~ .anima-tranz-relay .anima-tranz-target2,
.anima-tranz-radio3:checked ~ .anima-tranz-relay .anima-tranz-target3,
.anima-tranz-radio4:checked ~ .anima-tranz-relay .anima-tranz-target4,
.anima-tranz-radio5:checked ~ .anima-tranz-relay .anima-tranz-target5,
.anima-tranz-check:checked ~ .anima-tranz-hub .anima-tranz-goal {
  animation-name: translateZ;
}

/***** 6 - Animation Duration *****/
.anima-xs,
.anima-xs-global > *,
*:hover > .anima-xs-into,
*:focus > .anima-xs-into,
.anima-xs-onto:hover,
.anima-xs-onto:focus,
.anima-xs-toall:hover > *,
.anima-xs-toall:focus > *,
.anima-xs-toone > *:hover,
.anima-xs-toone > *:focus,
.anima-xs-radio1:checked ~ .anima-xs-relay .anima-xs-target1,
.anima-xs-radio2:checked ~ .anima-xs-relay .anima-xs-target2,
.anima-xs-radio3:checked ~ .anima-xs-relay .anima-xs-target3,
.anima-xs-radio4:checked ~ .anima-xs-relay .anima-xs-target4,
.anima-xs-radio5:checked ~ .anima-xs-relay .anima-xs-target5,
.anima-xs-check:checked ~ .anima-xs-hub .anima-xs-goal {
  animation-duration: var(--animation-duration-xs);
}

.anima-sm,
.anima-sm-global > *,
*:hover > .anima-sm-into,
*:focus > .anima-sm-into,
.anima-sm-onto:hover,
.anima-sm-onto:focus,
.anima-sm-toall:hover > *,
.anima-sm-toall:focus > *,
.anima-sm-toone > *:hover,
.anima-sm-toone > *:focus,
.anima-sm-radio1:checked ~ .anima-sm-relay .anima-sm-target1,
.anima-sm-radio2:checked ~ .anima-sm-relay .anima-sm-target2,
.anima-sm-radio3:checked ~ .anima-sm-relay .anima-sm-target3,
.anima-sm-radio4:checked ~ .anima-sm-relay .anima-sm-target4,
.anima-sm-radio5:checked ~ .anima-sm-relay .anima-sm-target5,
.anima-sm-check:checked ~ .anima-sm-hub .anima-sm-goal {
  animation-duration: var(--animation-duration-sm);
}

.anima-md,
.anima-md-global > *,
*:hover > .anima-md-into,
*:focus > .anima-md-into,
.anima-md-onto:hover,
.anima-md-onto:focus,
.anima-md-toall:hover > *,
.anima-md-toall:focus > *,
.anima-md-toone > *:hover,
.anima-md-toone > *:focus,
.anima-md-radio1:checked ~ .anima-md-relay .anima-md-target1,
.anima-md-radio2:checked ~ .anima-md-relay .anima-md-target2,
.anima-md-radio3:checked ~ .anima-md-relay .anima-md-target3,
.anima-md-radio4:checked ~ .anima-md-relay .anima-md-target4,
.anima-md-radio5:checked ~ .anima-md-relay .anima-md-target5,
.anima-md-check:checked ~ .anima-md-hub .anima-md-goal {
  animation-duration: var(--animation-duration-md);
}

.anima-lg,
.anima-lg-global > *,
*:hover > .anima-lg-into,
*:focus > .anima-lg-into,
.anima-lg-onto:hover,
.anima-lg-onto:focus,
.anima-lg-toall:hover > *,
.anima-lg-toall:focus > *,
.anima-lg-toone > *:hover,
.anima-lg-toone > *:focus,
.anima-lg-radio1:checked ~ .anima-lg-relay .anima-lg-target1,
.anima-lg-radio2:checked ~ .anima-lg-relay .anima-lg-target2,
.anima-lg-radio3:checked ~ .anima-lg-relay .anima-lg-target3,
.anima-lg-radio4:checked ~ .anima-lg-relay .anima-lg-target4,
.anima-lg-radio5:checked ~ .anima-lg-relay .anima-lg-target5,
.anima-lg-check:checked ~ .anima-lg-hub .anima-lg-goal {
  animation-duration: var(--animation-duration-lg);
}

.anima-xl,
.anima-xl-global > *,
*:hover > .anima-xl-into,
*:focus > .anima-xl-into,
.anima-xl-onto:hover,
.anima-xl-onto:focus,
.anima-xl-toall:hover > *,
.anima-xl-toall:focus > *,
.anima-xl-toone > *:hover,
.anima-xl-toone > *:focus,
.anima-xl-radio1:checked ~ .anima-xl-relay .anima-xl-target1,
.anima-xl-radio2:checked ~ .anima-xl-relay .anima-xl-target2,
.anima-xl-radio3:checked ~ .anima-xl-relay .anima-xl-target3,
.anima-xl-radio4:checked ~ .anima-xl-relay .anima-xl-target4,
.anima-xl-radio5:checked ~ .anima-xl-relay .anima-xl-target5,
.anima-xl-check:checked ~ .anima-xl-hub .anima-xl-goal {
  animation-duration: var(--animation-duration-xl);
}

/***** 7 - Animation Timing Function *****/
.anima-linear,
.anima-linear-global > *,
*:hover > .anima-linear-into,
*:focus > .anima-linear-into,
.anima-linear-onto:hover,
.anima-linear-onto:focus,
.anima-linear-toall:hover > *,
.anima-linear-toall:focus > *,
.anima-linear-toone > *:hover,
.anima-linear-toone > *:focus,
.anima-linear-radio1:checked ~ .anima-linear-relay .anima-linear-target1,
.anima-linear-radio2:checked ~ .anima-linear-relay .anima-linear-target2,
.anima-linear-radio3:checked ~ .anima-linear-relay .anima-linear-target3,
.anima-linear-radio4:checked ~ .anima-linear-relay .anima-linear-target4,
.anima-linear-radio5:checked ~ .anima-linear-relay .anima-linear-target5,
.anima-linear-check:checked ~ .anima-linear-hub .anima-linear-goal {
  animation-timing-function: linear;
}

.anima-ease,
.anima-ease-global > *,
*:hover > .anima-ease-into,
*:focus > .anima-ease-into,
.anima-ease-onto:hover,
.anima-ease-onto:focus,
.anima-ease-toall:hover > *,
.anima-ease-toall:focus > *,
.anima-ease-toone > *:hover,
.anima-ease-toone > *:focus,
.anima-ease-radio1:checked ~ .anima-ease-relay .anima-ease-target1,
.anima-ease-radio2:checked ~ .anima-ease-relay .anima-ease-target2,
.anima-ease-radio3:checked ~ .anima-ease-relay .anima-ease-target3,
.anima-ease-radio4:checked ~ .anima-ease-relay .anima-ease-target4,
.anima-ease-radio5:checked ~ .anima-ease-relay .anima-ease-target5,
.anima-ease-check:checked ~ .anima-ease-hub .anima-ease-goal {
  animation-timing-function: var(--animation-timing-function-ease);
}

.anima-steps,
.anima-steps-global > *,
*:hover > .anima-steps-into,
*:focus > .anima-steps-into,
.anima-steps-onto:hover,
.anima-steps-onto:focus,
.anima-steps-toall:hover > *,
.anima-steps-toall:focus > *,
.anima-steps-toone > *:hover,
.anima-steps-toone > *:focus,
.anima-steps-radio1:checked ~ .anima-steps-relay .anima-steps-target1,
.anima-steps-radio2:checked ~ .anima-steps-relay .anima-steps-target2,
.anima-steps-radio3:checked ~ .anima-steps-relay .anima-steps-target3,
.anima-steps-radio4:checked ~ .anima-steps-relay .anima-steps-target4,
.anima-steps-radio5:checked ~ .anima-steps-relay .anima-steps-target5,
.anima-steps-check:checked ~ .anima-steps-hub .anima-steps-goal {
  animation-timing-function: steps(var(--animation-timing-function-steps));
}

.anima-bezier,
.anima-bezier-global > *,
*:hover > .anima-bezier-into,
*:focus > .anima-bezier-into,
.anima-bezier-onto:hover,
.anima-bezier-onto:focus,
.anima-bezier-toall:hover > *,
.anima-bezier-toall:focus > *,
.anima-bezier-toone > *:hover,
.anima-bezier-toone > *:focus,
.anima-bezier-radio1:checked ~ .anima-bezier-relay .anima-bezier-target1,
.anima-bezier-radio2:checked ~ .anima-bezier-relay .anima-bezier-target2,
.anima-bezier-radio3:checked ~ .anima-bezier-relay .anima-bezier-target3,
.anima-bezier-radio4:checked ~ .anima-bezier-relay .anima-bezier-target4,
.anima-bezier-radio5:checked ~ .anima-bezier-relay .anima-bezier-target5,
.anima-bezier-check:checked ~ .anima-bezier-hub .anima-bezier-goal {
  animation-timing-function: cubic-bezier(var(--animation-timing-function-bezier));
}

/***** 8 - Animation Iteration Count *****/
.anima-few,
.anima-few-global > *,
*:hover > .anima-few-into,
*:focus > .anima-few-into,
.anima-few-onto:hover,
.anima-few-onto:focus,
.anima-few-toall:hover > *,
.anima-few-toall:focus > *,
.anima-few-toone > *:hover,
.anima-few-toone > *:focus,
.anima-few-radio1:checked ~ .anima-few-relay .anima-few-target1,
.anima-few-radio2:checked ~ .anima-few-relay .anima-few-target2,
.anima-few-radio3:checked ~ .anima-few-relay .anima-few-target3,
.anima-few-radio4:checked ~ .anima-few-relay .anima-few-target4,
.anima-few-radio5:checked ~ .anima-few-relay .anima-few-target5,
.anima-few-check:checked ~ .anima-few-hub .anima-few-goal {
  animation-iteration-count: var(--animation-iteration-count-few);
}

.anima-many,
.anima-many-global > *,
*:hover > .anima-many-into,
*:focus > .anima-many-into,
.anima-many-onto:hover,
.anima-many-onto:focus,
.anima-many-toall:hover > *,
.anima-many-toall:focus > *,
.anima-many-toone > *:hover,
.anima-many-toone > *:focus,
.anima-many-radio1:checked ~ .anima-many-relay .anima-many-target1,
.anima-many-radio2:checked ~ .anima-many-relay .anima-many-target2,
.anima-many-radio3:checked ~ .anima-many-relay .anima-many-target3,
.anima-many-radio4:checked ~ .anima-many-relay .anima-many-target4,
.anima-many-radio5:checked ~ .anima-many-relay .anima-many-target5,
.anima-many-check:checked ~ .anima-many-hub .anima-many-goal {
  animation-iteration-count: var(--animation-iteration-count-many);
}

.anima-loop,
.anima-loop-global > *,
*:hover > .anima-loop-into,
*:focus > .anima-loop-into,
.anima-loop-onto:hover,
.anima-loop-onto:focus,
.anima-loop-toall:hover > *,
.anima-loop-toall:focus > *,
.anima-loop-toone > *:hover,
.anima-loop-toone > *:focus,
.anima-loop-radio1:checked ~ .anima-loop-relay .anima-loop-target1,
.anima-loop-radio2:checked ~ .anima-loop-relay .anima-loop-target2,
.anima-loop-radio3:checked ~ .anima-loop-relay .anima-loop-target3,
.anima-loop-radio4:checked ~ .anima-loop-relay .anima-loop-target4,
.anima-loop-radio5:checked ~ .anima-loop-relay .anima-loop-target5,
.anima-loop-check:checked ~ .anima-loop-hub .anima-loop-goal {
  animation-iteration-count: infinite;
}

/***** 9 - Animation Direction *****/
.anima-alter,
.anima-alter-global > *,
*:hover > .anima-alter-into,
*:focus > .anima-alter-into,
.anima-alter-onto:hover,
.anima-alter-onto:focus,
.anima-alter-toall:hover > *,
.anima-alter-toall:focus > *,
.anima-alter-toone > *:hover,
.anima-alter-toone > *:focus,
.anima-alter-radio1:checked ~ .anima-alter-relay .anima-alter-target1,
.anima-alter-radio2:checked ~ .anima-alter-relay .anima-alter-target2,
.anima-alter-radio3:checked ~ .anima-alter-relay .anima-alter-target3,
.anima-alter-radio4:checked ~ .anima-alter-relay .anima-alter-target4,
.anima-alter-radio5:checked ~ .anima-alter-relay .anima-alter-target5,
.anima-alter-check:checked ~ .anima-alter-hub .anima-alter-goal {
  animation-direction: alternate;
}

.anima-rever,
.anima-rever-global > *,
*:hover > .anima-rever-into,
*:focus > .anima-rever-into,
.anima-rever-onto:hover,
.anima-rever-onto:focus,
.anima-rever-toall:hover > *,
.anima-rever-toall:focus > *,
.anima-rever-toone > *:hover,
.anima-rever-toone > *:focus,
.anima-rever-radio1:checked ~ .anima-rever-relay .anima-rever-target1,
.anima-rever-radio2:checked ~ .anima-rever-relay .anima-rever-target2,
.anima-rever-radio3:checked ~ .anima-rever-relay .anima-rever-target3,
.anima-rever-radio4:checked ~ .anima-rever-relay .anima-rever-target4,
.anima-rever-radio5:checked ~ .anima-rever-relay .anima-rever-target5,
.anima-rever-check:checked ~ .anima-rever-hub .anima-rever-goal {
  animation-direction: reverse;
}

.anima-altrev,
.anima-altrev-global > *,
*:hover > .anima-altrev-into,
*:focus > .anima-altrev-into,
.anima-altrev-onto:hover,
.anima-altrev-onto:focus,
.anima-altrev-toall:hover > *,
.anima-altrev-toall:focus > *,
.anima-altrev-toone > *:hover,
.anima-altrev-toone > *:focus,
.anima-altrev-radio1:checked ~ .anima-altrev-relay .anima-altrev-target1,
.anima-altrev-radio2:checked ~ .anima-altrev-relay .anima-altrev-target2,
.anima-altrev-radio3:checked ~ .anima-altrev-relay .anima-altrev-target3,
.anima-altrev-radio4:checked ~ .anima-altrev-relay .anima-altrev-target4,
.anima-altrev-radio5:checked ~ .anima-altrev-relay .anima-altrev-target5,
.anima-altrev-check:checked ~ .anima-altrev-hub .anima-altrev-goal {
  animation-direction: alternate-reverse;
}

/***** 10 - Animation Delay *****/
.anima-small,
.anima-small-global > *,
*:hover > .anima-small-into,
*:focus > .anima-small-into,
.anima-small-onto:hover,
.anima-small-onto:focus,
.anima-small-toall:hover > *,
.anima-small-toall:focus > *,
.anima-small-toone > *:hover,
.anima-small-toone > *:focus,
.anima-small-radio1:checked ~ .anima-small-relay .anima-small-target1,
.anima-small-radio2:checked ~ .anima-small-relay .anima-small-target2,
.anima-small-radio3:checked ~ .anima-small-relay .anima-small-target3,
.anima-small-radio4:checked ~ .anima-small-relay .anima-small-target4,
.anima-small-radio5:checked ~ .anima-small-relay .anima-small-target5,
.anima-small-check:checked ~ .anima-small-hub .anima-small-goal {
  animation-delay: var(--animation-delay-small);
}

.anima-medium,
.anima-medium-global > *,
*:hover > .anima-medium-into,
*:focus > .anima-medium-into,
.anima-medium-onto:hover,
.anima-medium-onto:focus,
.anima-medium-toall:hover > *,
.anima-medium-toall:focus > *,
.anima-medium-toone > *:hover,
.anima-medium-toone > *:focus,
.anima-medium-radio1:checked ~ .anima-medium-relay .anima-medium-target1,
.anima-medium-radio2:checked ~ .anima-medium-relay .anima-medium-target2,
.anima-medium-radio3:checked ~ .anima-medium-relay .anima-medium-target3,
.anima-medium-radio4:checked ~ .anima-medium-relay .anima-medium-target4,
.anima-medium-radio5:checked ~ .anima-medium-relay .anima-medium-target5,
.anima-medium-check:checked ~ .anima-medium-hub .anima-medium-goal {
  animation-delay: var(--animation-delay-medium);
}

.anima-large,
.anima-large-global > *,
*:hover > .anima-large-into,
*:focus > .anima-large-into,
.anima-large-onto:hover,
.anima-large-onto:focus,
.anima-large-toall:hover > *,
.anima-large-toall:focus > *,
.anima-large-toone > *:hover,
.anima-large-toone > *:focus,
.anima-large-radio1:checked ~ .anima-large-relay .anima-large-target1,
.anima-large-radio2:checked ~ .anima-large-relay .anima-large-target2,
.anima-large-radio3:checked ~ .anima-large-relay .anima-large-target3,
.anima-large-radio4:checked ~ .anima-large-relay .anima-large-target4,
.anima-large-radio5:checked ~ .anima-large-relay .anima-large-target5,
.anima-large-check:checked ~ .anima-large-hub .anima-large-goal {
  animation-delay: var(--animation-delay-large);
}

/***** 11 - Animation Fill Mode *****/
.anima-back,
.anima-back-global > *,
*:hover > .anima-back-into,
*:focus > .anima-back-into,
.anima-back-onto:hover,
.anima-back-onto:focus,
.anima-back-toall:hover > *,
.anima-back-toall:focus > *,
.anima-back-toone > *:hover,
.anima-back-toone > *:focus,
.anima-back-radio1:checked ~ .anima-back-relay .anima-back-target1,
.anima-back-radio2:checked ~ .anima-back-relay .anima-back-target2,
.anima-back-radio3:checked ~ .anima-back-relay .anima-back-target3,
.anima-back-radio4:checked ~ .anima-back-relay .anima-back-target4,
.anima-back-radio5:checked ~ .anima-back-relay .anima-back-target5,
.anima-back-check:checked ~ .anima-back-hub .anima-back-goal {
  animation-fill-mode: backwards;
}

.anima-front,
.anima-front-global > *,
*:hover > .anima-front-into,
*:focus > .anima-front-into,
.anima-front-onto:hover,
.anima-front-onto:focus,
.anima-front-toall:hover > *,
.anima-front-toall:focus > *,
.anima-front-toone > *:hover,
.anima-front-toone > *:focus,
.anima-front-radio1:checked ~ .anima-front-relay .anima-front-target1,
.anima-front-radio2:checked ~ .anima-front-relay .anima-front-target2,
.anima-front-radio3:checked ~ .anima-front-relay .anima-front-target3,
.anima-front-radio4:checked ~ .anima-front-relay .anima-front-target4,
.anima-front-radio5:checked ~ .anima-front-relay .anima-front-target5,
.anima-front-check:checked ~ .anima-front-hub .anima-front-goal {
  animation-fill-mode: forwards;
}

/***** 12 - Transform Origin *****/
.anima-far,
.anima-far-global > *,
*:hover > .anima-far-into,
*:focus > .anima-far-into,
.anima-far-onto:hover,
.anima-far-onto:focus,
.anima-far-toall:hover > *,
.anima-far-toall:focus > *,
.anima-far-toone > *:hover,
.anima-far-toone > *:focus,
.anima-far-radio1:checked ~ .anima-far-relay .anima-far-target1,
.anima-far-radio2:checked ~ .anima-far-relay .anima-far-target2,
.anima-far-radio3:checked ~ .anima-far-relay .anima-far-target3,
.anima-far-radio4:checked ~ .anima-far-relay .anima-far-target4,
.anima-far-radio5:checked ~ .anima-far-relay .anima-far-target5,
.anima-far-check:checked ~ .anima-far-hub .anima-far-goal {
  transform-origin: var(--transform-origin-far);
}

.anima-near,
.anima-near-global > *,
*:hover > .anima-near-into,
*:focus > .anima-near-into,
.anima-near-onto:hover,
.anima-near-onto:focus,
.anima-near-toall:hover > *,
.anima-near-toall:focus > *,
.anima-near-toone > *:hover,
.anima-near-toone > *:focus,
.anima-near-radio1:checked ~ .anima-near-relay .anima-near-target1,
.anima-near-radio2:checked ~ .anima-near-relay .anima-near-target2,
.anima-near-radio3:checked ~ .anima-near-relay .anima-near-target3,
.anima-near-radio4:checked ~ .anima-near-relay .anima-near-target4,
.anima-near-radio5:checked ~ .anima-near-relay .anima-near-target5,
.anima-near-check:checked ~ .anima-near-hub .anima-near-goal {
  transform-origin: var(--transform-origin-near);
}
