/********** BG **********/

/*
1 - Main Background Colors
2 - Pale Background Colors
3 - Brand Background Colors
4 - Transparent Background Colors
*/

/***** 1 - Main Background Colors *****/
.bg-black,
.bg-black-global > *,
*:hover > .bg-black-into,
*:focus > .bg-black-into,
.bg-black-onto:hover,
.bg-black-onto:focus,
.bg-black-toall:hover > *,
.bg-black-toall:focus > *,
.bg-black-toone > *:hover,
.bg-black-toone > *:focus,
.bg-black-radio1:checked ~ .bg-black-relay .bg-black-target1,
.bg-black-radio2:checked ~ .bg-black-relay .bg-black-target2,
.bg-black-radio3:checked ~ .bg-black-relay .bg-black-target3,
.bg-black-radio4:checked ~ .bg-black-relay .bg-black-target4,
.bg-black-radio5:checked ~ .bg-black-relay .bg-black-target5,
.bg-black-check:checked ~ .bg-black-hub .bg-black-goal {
  background-color: var(--black);
}

.bg-blue,
.bg-blue-global > *,
*:hover > .bg-blue-into,
*:focus > .bg-blue-into,
.bg-blue-onto:hover,
.bg-blue-onto:focus,
.bg-blue-toall:hover > *,
.bg-blue-toall:focus > *,
.bg-blue-toone > *:hover,
.bg-blue-toone > *:focus,
.bg-blue-radio1:checked ~ .bg-blue-relay .bg-blue-target1,
.bg-blue-radio2:checked ~ .bg-blue-relay .bg-blue-target2,
.bg-blue-radio3:checked ~ .bg-blue-relay .bg-blue-target3,
.bg-blue-radio4:checked ~ .bg-blue-relay .bg-blue-target4,
.bg-blue-radio5:checked ~ .bg-blue-relay .bg-blue-target5,
.bg-blue-check:checked ~ .bg-blue-hub .bg-blue-goal {
  background-color: var(--blue);
}

.bg-maroon,
.bg-maroon-global > *,
*:hover > .bg-maroon-into,
*:focus > .bg-maroon-into,
.bg-maroon-onto:hover,
.bg-maroon-onto:focus,
.bg-maroon-toall:hover > *,
.bg-maroon-toall:focus > *,
.bg-maroon-toone > *:hover,
.bg-maroon-toone > *:focus,
.bg-maroon-radio1:checked ~ .bg-maroon-relay .bg-maroon-target1,
.bg-maroon-radio2:checked ~ .bg-maroon-relay .bg-maroon-target2,
.bg-maroon-radio3:checked ~ .bg-maroon-relay .bg-maroon-target3,
.bg-maroon-radio4:checked ~ .bg-maroon-relay .bg-maroon-target4,
.bg-maroon-radio5:checked ~ .bg-maroon-relay .bg-maroon-target5,
.bg-maroon-check:checked ~ .bg-maroon-hub .bg-maroon-goal {
  background-color: var(--maroon);
}

.bg-gray,
.bg-gray-global > *,
*:hover > .bg-gray-into,
*:focus > .bg-gray-into,
.bg-gray-onto:hover,
.bg-gray-onto:focus,
.bg-gray-toall:hover > *,
.bg-gray-toall:focus > *,
.bg-gray-toone > *:hover,
.bg-gray-toone > *:focus,
.bg-gray-radio1:checked ~ .bg-gray-relay .bg-gray-target1,
.bg-gray-radio2:checked ~ .bg-gray-relay .bg-gray-target2,
.bg-gray-radio3:checked ~ .bg-gray-relay .bg-gray-target3,
.bg-gray-radio4:checked ~ .bg-gray-relay .bg-gray-target4,
.bg-gray-radio5:checked ~ .bg-gray-relay .bg-gray-target5,
.bg-gray-check:checked ~ .bg-gray-hub .bg-gray-goal {
  background-color: var(--gray);
}

.bg-green,
.bg-green-global > *,
*:hover > .bg-green-into,
*:focus > .bg-green-into,
.bg-green-onto:hover,
.bg-green-onto:focus,
.bg-green-toall:hover > *,
.bg-green-toall:focus > *,
.bg-green-toone > *:hover,
.bg-green-toone > *:focus,
.bg-green-radio1:checked ~ .bg-green-relay .bg-green-target1,
.bg-green-radio2:checked ~ .bg-green-relay .bg-green-target2,
.bg-green-radio3:checked ~ .bg-green-relay .bg-green-target3,
.bg-green-radio4:checked ~ .bg-green-relay .bg-green-target4,
.bg-green-radio5:checked ~ .bg-green-relay .bg-green-target5,
.bg-green-check:checked ~ .bg-green-hub .bg-green-goal {
  background-color: var(--green);
}

.bg-orange,
.bg-orange-global > *,
*:hover > .bg-orange-into,
*:focus > .bg-orange-into,
.bg-orange-onto:hover,
.bg-orange-onto:focus,
.bg-orange-toall:hover > *,
.bg-orange-toall:focus > *,
.bg-orange-toone > *:hover,
.bg-orange-toone > *:focus,
.bg-orange-radio1:checked ~ .bg-orange-relay .bg-orange-target1,
.bg-orange-radio2:checked ~ .bg-orange-relay .bg-orange-target2,
.bg-orange-radio3:checked ~ .bg-orange-relay .bg-orange-target3,
.bg-orange-radio4:checked ~ .bg-orange-relay .bg-orange-target4,
.bg-orange-radio5:checked ~ .bg-orange-relay .bg-orange-target5,
.bg-orange-check:checked ~ .bg-orange-hub .bg-orange-goal {
  background-color: var(--orange);
}

.bg-purple,
.bg-purple-global > *,
*:hover > .bg-purple-into,
*:focus > .bg-purple-into,
.bg-purple-onto:hover,
.bg-purple-onto:focus,
.bg-purple-toall:hover > *,
.bg-purple-toall:focus > *,
.bg-purple-toone > *:hover,
.bg-purple-toone > *:focus,
.bg-purple-radio1:checked ~ .bg-purple-relay .bg-purple-target1,
.bg-purple-radio2:checked ~ .bg-purple-relay .bg-purple-target2,
.bg-purple-radio3:checked ~ .bg-purple-relay .bg-purple-target3,
.bg-purple-radio4:checked ~ .bg-purple-relay .bg-purple-target4,
.bg-purple-radio5:checked ~ .bg-purple-relay .bg-purple-target5,
.bg-purple-check:checked ~ .bg-purple-hub .bg-purple-goal {
  background-color: var(--purple);
}

.bg-red,
.bg-red-global > *,
*:hover > .bg-red-into,
*:focus > .bg-red-into,
.bg-red-onto:hover,
.bg-red-onto:focus,
.bg-red-toall:hover > *,
.bg-red-toall:focus > *,
.bg-red-toone > *:hover,
.bg-red-toone > *:focus,
.bg-red-radio1:checked ~ .bg-red-relay .bg-red-target1,
.bg-red-radio2:checked ~ .bg-red-relay .bg-red-target2,
.bg-red-radio3:checked ~ .bg-red-relay .bg-red-target3,
.bg-red-radio4:checked ~ .bg-red-relay .bg-red-target4,
.bg-red-radio5:checked ~ .bg-red-relay .bg-red-target5,
.bg-red-check:checked ~ .bg-red-hub .bg-red-goal {
  background-color: var(--red);
}

.bg-yellow,
.bg-yellow-global > *,
*:hover > .bg-yellow-into,
*:focus > .bg-yellow-into,
.bg-yellow-onto:hover,
.bg-yellow-onto:focus,
.bg-yellow-toall:hover > *,
.bg-yellow-toall:focus > *,
.bg-yellow-toone > *:hover,
.bg-yellow-toone > *:focus,
.bg-yellow-radio1:checked ~ .bg-yellow-relay .bg-yellow-target1,
.bg-yellow-radio2:checked ~ .bg-yellow-relay .bg-yellow-target2,
.bg-yellow-radio3:checked ~ .bg-yellow-relay .bg-yellow-target3,
.bg-yellow-radio4:checked ~ .bg-yellow-relay .bg-yellow-target4,
.bg-yellow-radio5:checked ~ .bg-yellow-relay .bg-yellow-target5,
.bg-yellow-check:checked ~ .bg-yellow-hub .bg-yellow-goal {
  background-color: var(--yellow);
}

/***** 2 - Pale Background Colors *****/
.bg-choco,
.bg-choco-global > *,
*:hover > .bg-choco-into,
*:focus > .bg-choco-into,
.bg-choco-onto:hover,
.bg-choco-onto:focus,
.bg-choco-toall:hover > *,
.bg-choco-toall:focus > *,
.bg-choco-toone > *:hover,
.bg-choco-toone > *:focus,
.bg-choco-radio1:checked ~ .bg-choco-relay .bg-choco-target1,
.bg-choco-radio2:checked ~ .bg-choco-relay .bg-choco-target2,
.bg-choco-radio3:checked ~ .bg-choco-relay .bg-choco-target3,
.bg-choco-radio4:checked ~ .bg-choco-relay .bg-choco-target4,
.bg-choco-radio5:checked ~ .bg-choco-relay .bg-choco-target5,
.bg-choco-check:checked ~ .bg-choco-hub .bg-choco-goal {
  background-color: var(--choco);
}

.bg-jade,
.bg-jade-global > *,
*:hover > .bg-jade-into,
*:focus > .bg-jade-into,
.bg-jade-onto:hover,
.bg-jade-onto:focus,
.bg-jade-toall:hover > *,
.bg-jade-toall:focus > *,
.bg-jade-toone > *:hover,
.bg-jade-toone > *:focus,
.bg-jade-radio1:checked ~ .bg-jade-relay .bg-jade-target1,
.bg-jade-radio2:checked ~ .bg-jade-relay .bg-jade-target2,
.bg-jade-radio3:checked ~ .bg-jade-relay .bg-jade-target3,
.bg-jade-radio4:checked ~ .bg-jade-relay .bg-jade-target4,
.bg-jade-radio5:checked ~ .bg-jade-relay .bg-jade-target5,
.bg-jade-check:checked ~ .bg-jade-hub .bg-jade-goal {
  background-color: var(--jade);
}

.bg-khaki,
.bg-khaki-global > *,
*:hover > .bg-khaki-into,
*:focus > .bg-khaki-into,
.bg-khaki-onto:hover,
.bg-khaki-onto:focus,
.bg-khaki-toall:hover > *,
.bg-khaki-toall:focus > *,
.bg-khaki-toone > *:hover,
.bg-khaki-toone > *:focus,
.bg-khaki-radio1:checked ~ .bg-khaki-relay .bg-khaki-target1,
.bg-khaki-radio2:checked ~ .bg-khaki-relay .bg-khaki-target2,
.bg-khaki-radio3:checked ~ .bg-khaki-relay .bg-khaki-target3,
.bg-khaki-radio4:checked ~ .bg-khaki-relay .bg-khaki-target4,
.bg-khaki-radio5:checked ~ .bg-khaki-relay .bg-khaki-target5,
.bg-khaki-check:checked ~ .bg-khaki-hub .bg-khaki-goal {
  background-color: var(--khaki);
}

.bg-salmon,
.bg-salmon-global > *,
*:hover > .bg-salmon-into,
*:focus > .bg-salmon-into,
.bg-salmon-onto:hover,
.bg-salmon-onto:focus,
.bg-salmon-toall:hover > *,
.bg-salmon-toall:focus > *,
.bg-salmon-toone > *:hover,
.bg-salmon-toone > *:focus,
.bg-salmon-radio1:checked ~ .bg-salmon-relay .bg-salmon-target1,
.bg-salmon-radio2:checked ~ .bg-salmon-relay .bg-salmon-target2,
.bg-salmon-radio3:checked ~ .bg-salmon-relay .bg-salmon-target3,
.bg-salmon-radio4:checked ~ .bg-salmon-relay .bg-salmon-target4,
.bg-salmon-radio5:checked ~ .bg-salmon-relay .bg-salmon-target5,
.bg-salmon-check:checked ~ .bg-salmon-hub .bg-salmon-goal {
  background-color: var(--salmon);
}

.bg-silver,
.bg-silver-global > *,
*:hover > .bg-silver-into,
*:focus > .bg-silver-into,
.bg-silver-onto:hover,
.bg-silver-onto:focus,
.bg-silver-toall:hover > *,
.bg-silver-toall:focus > *,
.bg-silver-toone > *:hover,
.bg-silver-toone > *:focus,
.bg-silver-radio1:checked ~ .bg-silver-relay .bg-silver-target1,
.bg-silver-radio2:checked ~ .bg-silver-relay .bg-silver-target2,
.bg-silver-radio3:checked ~ .bg-silver-relay .bg-silver-target3,
.bg-silver-radio4:checked ~ .bg-silver-relay .bg-silver-target4,
.bg-silver-radio5:checked ~ .bg-silver-relay .bg-silver-target5,
.bg-silver-check:checked ~ .bg-silver-hub .bg-silver-goal {
  background-color: var(--silver);
}

.bg-sky,
.bg-sky-global > *,
*:hover > .bg-sky-into,
*:focus > .bg-sky-into,
.bg-sky-onto:hover,
.bg-sky-onto:focus,
.bg-sky-toall:hover > *,
.bg-sky-toall:focus > *,
.bg-sky-toone > *:hover,
.bg-sky-toone > *:focus,
.bg-sky-radio1:checked ~ .bg-sky-relay .bg-sky-target1,
.bg-sky-radio2:checked ~ .bg-sky-relay .bg-sky-target2,
.bg-sky-radio3:checked ~ .bg-sky-relay .bg-sky-target3,
.bg-sky-radio4:checked ~ .bg-sky-relay .bg-sky-target4,
.bg-sky-radio5:checked ~ .bg-sky-relay .bg-sky-target5,
.bg-sky-check:checked ~ .bg-sky-hub .bg-sky-goal {
  background-color: var(--sky);
}

.bg-tomato,
.bg-tomato-global > *,
*:hover > .bg-tomato-into,
*:focus > .bg-tomato-into,
.bg-tomato-onto:hover,
.bg-tomato-onto:focus,
.bg-tomato-toall:hover > *,
.bg-tomato-toall:focus > *,
.bg-tomato-toone > *:hover,
.bg-tomato-toone > *:focus,
.bg-tomato-radio1:checked ~ .bg-tomato-relay .bg-tomato-target1,
.bg-tomato-radio2:checked ~ .bg-tomato-relay .bg-tomato-target2,
.bg-tomato-radio3:checked ~ .bg-tomato-relay .bg-tomato-target3,
.bg-tomato-radio4:checked ~ .bg-tomato-relay .bg-tomato-target4,
.bg-tomato-radio5:checked ~ .bg-tomato-relay .bg-tomato-target5,
.bg-tomato-check:checked ~ .bg-tomato-hub .bg-tomato-goal {
  background-color: var(--tomato);
}

.bg-violet,
.bg-violet-global > *,
*:hover > .bg-violet-into,
*:focus > .bg-violet-into,
.bg-violet-onto:hover,
.bg-violet-onto:focus,
.bg-violet-toall:hover > *,
.bg-violet-toall:focus > *,
.bg-violet-toone > *:hover,
.bg-violet-toone > *:focus,
.bg-violet-radio1:checked ~ .bg-violet-relay .bg-violet-target1,
.bg-violet-radio2:checked ~ .bg-violet-relay .bg-violet-target2,
.bg-violet-radio3:checked ~ .bg-violet-relay .bg-violet-target3,
.bg-violet-radio4:checked ~ .bg-violet-relay .bg-violet-target4,
.bg-violet-radio5:checked ~ .bg-violet-relay .bg-violet-target5,
.bg-violet-check:checked ~ .bg-violet-hub .bg-violet-goal {
  background-color: var(--violet);
}

.bg-white,
.bg-white-global > *,
*:hover > .bg-white-into,
*:focus > .bg-white-into,
.bg-white-onto:hover,
.bg-white-onto:focus,
.bg-white-toall:hover > *,
.bg-white-toall:focus > *,
.bg-white-toone > *:hover,
.bg-white-toone > *:focus,
.bg-white-radio1:checked ~ .bg-white-relay .bg-white-target1,
.bg-white-radio2:checked ~ .bg-white-relay .bg-white-target2,
.bg-white-radio3:checked ~ .bg-white-relay .bg-white-target3,
.bg-white-radio4:checked ~ .bg-white-relay .bg-white-target4,
.bg-white-radio5:checked ~ .bg-white-relay .bg-white-target5,
.bg-white-check:checked ~ .bg-white-hub .bg-white-goal {
  background-color: var(--white);
}

/***** 3 - Brand Background Colors *****/
.bg-fb,
.bg-fb-global > *,
*:hover > .bg-fb-into,
*:focus > .bg-fb-into,
.bg-fb-onto:hover,
.bg-fb-onto:focus,
.bg-fb-toall:hover > *,
.bg-fb-toall:focus > *,
.bg-fb-toone > *:hover,
.bg-fb-toone > *:focus,
.bg-fb-radio1:checked ~ .bg-fb-relay .bg-fb-target1,
.bg-fb-radio2:checked ~ .bg-fb-relay .bg-fb-target2,
.bg-fb-radio3:checked ~ .bg-fb-relay .bg-fb-target3,
.bg-fb-radio4:checked ~ .bg-fb-relay .bg-fb-target4,
.bg-fb-radio5:checked ~ .bg-fb-relay .bg-fb-target5,
.bg-fb-check:checked ~ .bg-fb-hub .bg-fb-goal {
  background-color: var(--facebook);
}

.bg-fcc,
.bg-fcc-global > *,
*:hover > .bg-fcc-into,
*:focus > .bg-fcc-into,
.bg-fcc-onto:hover,
.bg-fcc-onto:focus,
.bg-fcc-toall:hover > *,
.bg-fcc-toall:focus > *,
.bg-fcc-toone > *:hover,
.bg-fcc-toone > *:focus,
.bg-fcc-radio1:checked ~ .bg-fcc-relay .bg-fcc-target1,
.bg-fcc-radio2:checked ~ .bg-fcc-relay .bg-fcc-target2,
.bg-fcc-radio3:checked ~ .bg-fcc-relay .bg-fcc-target3,
.bg-fcc-radio4:checked ~ .bg-fcc-relay .bg-fcc-target4,
.bg-fcc-radio5:checked ~ .bg-fcc-relay .bg-fcc-target5,
.bg-fcc-check:checked ~ .bg-fcc-hub .bg-fcc-goal {
  background-color: var(--free-code-camp);
}

.bg-github,
.bg-github-global > *,
*:hover > .bg-github-into,
*:focus > .bg-github-into,
.bg-github-onto:hover,
.bg-github-onto:focus,
.bg-github-toall:hover > *,
.bg-github-toall:focus > *,
.bg-github-toone > *:hover,
.bg-github-toone > *:focus,
.bg-github-radio1:checked ~ .bg-github-relay .bg-github-target1,
.bg-github-radio2:checked ~ .bg-github-relay .bg-github-target2,
.bg-github-radio3:checked ~ .bg-github-relay .bg-github-target3,
.bg-github-radio4:checked ~ .bg-github-relay .bg-github-target4,
.bg-github-radio5:checked ~ .bg-github-relay .bg-github-target5,
.bg-github-check:checked ~ .bg-github-hub .bg-github-goal {
  background-color: var(--github);
}

.bg-jsd,
.bg-jsd-global > *,
*:hover > .bg-jsd-into,
*:focus > .bg-jsd-into,
.bg-jsd-onto:hover,
.bg-jsd-onto:focus,
.bg-jsd-toall:hover > *,
.bg-jsd-toall:focus > *,
.bg-jsd-toone > *:hover,
.bg-jsd-toone > *:focus,
.bg-jsd-radio1:checked ~ .bg-jsd-relay .bg-jsd-target1,
.bg-jsd-radio2:checked ~ .bg-jsd-relay .bg-jsd-target2,
.bg-jsd-radio3:checked ~ .bg-jsd-relay .bg-jsd-target3,
.bg-jsd-radio4:checked ~ .bg-jsd-relay .bg-jsd-target4,
.bg-jsd-radio5:checked ~ .bg-jsd-relay .bg-jsd-target5,
.bg-jsd-check:checked ~ .bg-jsd-hub .bg-jsd-goal {
  background-color: var(--jsdelivr);
}

.bg-in,
.bg-in-global > *,
*:hover > .bg-in-into,
*:focus > .bg-in-into,
.bg-in-onto:hover,
.bg-in-onto:focus,
.bg-in-toall:hover > *,
.bg-in-toall:focus > *,
.bg-in-toone > *:hover,
.bg-in-toone > *:focus,
.bg-in-radio1:checked ~ .bg-in-relay .bg-in-target1,
.bg-in-radio2:checked ~ .bg-in-relay .bg-in-target2,
.bg-in-radio3:checked ~ .bg-in-relay .bg-in-target3,
.bg-in-radio4:checked ~ .bg-in-relay .bg-in-target4,
.bg-in-radio5:checked ~ .bg-in-relay .bg-in-target5,
.bg-in-check:checked ~ .bg-in-hub .bg-in-goal {
  background-color: var(--linkedin);
}

.bg-npm,
.bg-npm-global > *,
*:hover > .bg-npm-into,
*:focus > .bg-npm-into,
.bg-npm-onto:hover,
.bg-npm-onto:focus,
.bg-npm-toall:hover > *,
.bg-npm-toall:focus > *,
.bg-npm-toone > *:hover,
.bg-npm-toone > *:focus,
.bg-npm-radio1:checked ~ .bg-npm-relay .bg-npm-target1,
.bg-npm-radio2:checked ~ .bg-npm-relay .bg-npm-target2,
.bg-npm-radio3:checked ~ .bg-npm-relay .bg-npm-target3,
.bg-npm-radio4:checked ~ .bg-npm-relay .bg-npm-target4,
.bg-npm-radio5:checked ~ .bg-npm-relay .bg-npm-target5,
.bg-npm-check:checked ~ .bg-npm-hub .bg-npm-goal {
  background-color: var(--npm);
}

.bg-stack,
.bg-stack-global > *,
*:hover > .bg-stack-into,
*:focus > .bg-stack-into,
.bg-stack-onto:hover,
.bg-stack-onto:focus,
.bg-stack-toall:hover > *,
.bg-stack-toall:focus > *,
.bg-stack-toone > *:hover,
.bg-stack-toone > *:focus,
.bg-stack-radio1:checked ~ .bg-stack-relay .bg-stack-target1,
.bg-stack-radio2:checked ~ .bg-stack-relay .bg-stack-target2,
.bg-stack-radio3:checked ~ .bg-stack-relay .bg-stack-target3,
.bg-stack-radio4:checked ~ .bg-stack-relay .bg-stack-target4,
.bg-stack-radio5:checked ~ .bg-stack-relay .bg-stack-target5,
.bg-stack-check:checked ~ .bg-stack-hub .bg-stack-goal {
  background-color: var(--stack-overflow);
}

.bg-tw,
.bg-tw-global > *,
*:hover > .bg-tw-into,
*:focus > .bg-tw-into,
.bg-tw-onto:hover,
.bg-tw-onto:focus,
.bg-tw-toall:hover > *,
.bg-tw-toall:focus > *,
.bg-tw-toone > *:hover,
.bg-tw-toone > *:focus,
.bg-tw-radio1:checked ~ .bg-tw-relay .bg-tw-target1,
.bg-tw-radio2:checked ~ .bg-tw-relay .bg-tw-target2,
.bg-tw-radio3:checked ~ .bg-tw-relay .bg-tw-target3,
.bg-tw-radio4:checked ~ .bg-tw-relay .bg-tw-target4,
.bg-tw-radio5:checked ~ .bg-tw-relay .bg-tw-target5,
.bg-tw-check:checked ~ .bg-tw-hub .bg-tw-goal {
  background-color: var(--twitter);
}

/***** 4 - Transparent Background Colors *****/
.bg-amethyst,
.bg-amethyst-global > *,
*:hover > .bg-amethyst-into,
*:focus > .bg-amethyst-into,
.bg-amethyst-onto:hover,
.bg-amethyst-onto:focus,
.bg-amethyst-toall:hover > *,
.bg-amethyst-toall:focus > *,
.bg-amethyst-toone > *:hover,
.bg-amethyst-toone > *:focus,
.bg-amethyst-radio1:checked ~ .bg-amethyst-relay .bg-amethyst-target1,
.bg-amethyst-radio2:checked ~ .bg-amethyst-relay .bg-amethyst-target2,
.bg-amethyst-radio3:checked ~ .bg-amethyst-relay .bg-amethyst-target3,
.bg-amethyst-radio4:checked ~ .bg-amethyst-relay .bg-amethyst-target4,
.bg-amethyst-radio5:checked ~ .bg-amethyst-relay .bg-amethyst-target5,
.bg-amethyst-check:checked ~ .bg-amethyst-hub .bg-amethyst-goal {
  background-color: var(--amethyst);
}

.bg-citrine,
.bg-citrine-global > *,
*:hover > .bg-citrine-into,
*:focus > .bg-citrine-into,
.bg-citrine-onto:hover,
.bg-citrine-onto:focus,
.bg-citrine-toall:hover > *,
.bg-citrine-toall:focus > *,
.bg-citrine-toone > *:hover,
.bg-citrine-toone > *:focus,
.bg-citrine-radio1:checked ~ .bg-citrine-relay .bg-citrine-target1,
.bg-citrine-radio2:checked ~ .bg-citrine-relay .bg-citrine-target2,
.bg-citrine-radio3:checked ~ .bg-citrine-relay .bg-citrine-target3,
.bg-citrine-radio4:checked ~ .bg-citrine-relay .bg-citrine-target4,
.bg-citrine-radio5:checked ~ .bg-citrine-relay .bg-citrine-target5,
.bg-citrine-check:checked ~ .bg-citrine-hub .bg-citrine-goal {
  background-color: var(--citrine);
}

.bg-quartz,
.bg-quartz-global > *,
*:hover > .bg-quartz-into,
*:focus > .bg-quartz-into,
.bg-quartz-onto:hover,
.bg-quartz-onto:focus,
.bg-quartz-toall:hover > *,
.bg-quartz-toall:focus > *,
.bg-quartz-toone > *:hover,
.bg-quartz-toone > *:focus,
.bg-quartz-radio1:checked ~ .bg-quartz-relay .bg-quartz-target1,
.bg-quartz-radio2:checked ~ .bg-quartz-relay .bg-quartz-target2,
.bg-quartz-radio3:checked ~ .bg-quartz-relay .bg-quartz-target3,
.bg-quartz-radio4:checked ~ .bg-quartz-relay .bg-quartz-target4,
.bg-quartz-radio5:checked ~ .bg-quartz-relay .bg-quartz-target5,
.bg-quartz-check:checked ~ .bg-quartz-hub .bg-quartz-goal {
  background-color: var(--quartz);
}

.bg-emerald,
.bg-emerald-global > *,
*:hover > .bg-emerald-into,
*:focus > .bg-emerald-into,
.bg-emerald-onto:hover,
.bg-emerald-onto:focus,
.bg-emerald-toall:hover > *,
.bg-emerald-toall:focus > *,
.bg-emerald-toone > *:hover,
.bg-emerald-toone > *:focus,
.bg-emerald-radio1:checked ~ .bg-emerald-relay .bg-emerald-target1,
.bg-emerald-radio2:checked ~ .bg-emerald-relay .bg-emerald-target2,
.bg-emerald-radio3:checked ~ .bg-emerald-relay .bg-emerald-target3,
.bg-emerald-radio4:checked ~ .bg-emerald-relay .bg-emerald-target4,
.bg-emerald-radio5:checked ~ .bg-emerald-relay .bg-emerald-target5,
.bg-emerald-check:checked ~ .bg-emerald-hub .bg-emerald-goal {
  background-color: var(--emerald);
}

.bg-obsidian,
.bg-obsidian-global > *,
*:hover > .bg-obsidian-into,
*:focus > .bg-obsidian-into,
.bg-obsidian-onto:hover,
.bg-obsidian-onto:focus,
.bg-obsidian-toall:hover > *,
.bg-obsidian-toall:focus > *,
.bg-obsidian-toone > *:hover,
.bg-obsidian-toone > *:focus,
.bg-obsidian-radio1:checked ~ .bg-obsidian-relay .bg-obsidian-target1,
.bg-obsidian-radio2:checked ~ .bg-obsidian-relay .bg-obsidian-target2,
.bg-obsidian-radio3:checked ~ .bg-obsidian-relay .bg-obsidian-target3,
.bg-obsidian-radio4:checked ~ .bg-obsidian-relay .bg-obsidian-target4,
.bg-obsidian-radio5:checked ~ .bg-obsidian-relay .bg-obsidian-target5,
.bg-obsidian-check:checked ~ .bg-obsidian-hub .bg-obsidian-goal {
  background-color: var(--obsidian);
}

.bg-ruby,
.bg-ruby-global > *,
*:hover > .bg-ruby-into,
*:focus > .bg-ruby-into,
.bg-ruby-onto:hover,
.bg-ruby-onto:focus,
.bg-ruby-toall:hover > *,
.bg-ruby-toall:focus > *,
.bg-ruby-toone > *:hover,
.bg-ruby-toone > *:focus,
.bg-ruby-radio1:checked ~ .bg-ruby-relay .bg-ruby-target1,
.bg-ruby-radio2:checked ~ .bg-ruby-relay .bg-ruby-target2,
.bg-ruby-radio3:checked ~ .bg-ruby-relay .bg-ruby-target3,
.bg-ruby-radio4:checked ~ .bg-ruby-relay .bg-ruby-target4,
.bg-ruby-radio5:checked ~ .bg-ruby-relay .bg-ruby-target5,
.bg-ruby-check:checked ~ .bg-ruby-hub .bg-ruby-goal {
  background-color: var(--ruby);
}

.bg-sapphire,
.bg-sapphire-global > *,
*:hover > .bg-sapphire-into,
*:focus > .bg-sapphire-into,
.bg-sapphire-onto:hover,
.bg-sapphire-onto:focus,
.bg-sapphire-toall:hover > *,
.bg-sapphire-toall:focus > *,
.bg-sapphire-toone > *:hover,
.bg-sapphire-toone > *:focus,
.bg-sapphire-radio1:checked ~ .bg-sapphire-relay .bg-sapphire-target1,
.bg-sapphire-radio2:checked ~ .bg-sapphire-relay .bg-sapphire-target2,
.bg-sapphire-radio3:checked ~ .bg-sapphire-relay .bg-sapphire-target3,
.bg-sapphire-radio4:checked ~ .bg-sapphire-relay .bg-sapphire-target4,
.bg-sapphire-radio5:checked ~ .bg-sapphire-relay .bg-sapphire-target5,
.bg-sapphire-check:checked ~ .bg-sapphire-hub .bg-sapphire-goal {
  background-color: var(--sapphire);
}
