/********** BORD *********/

/*
1. BORD
  1.1 Bord
2. BORD STYLE
  2.1 Dashed
  2.2 Dotted
  2.3 Double
  2.4 Groove
  2.5 Inset
  2.6 Outset
  2.7 Ridge
  2.8 Solid
3. BORD WIDTH
  3.1 Width SM
  3.2 Width MD
  3.3 Width LG
4. BORD COLOR
  4.1 Black
  4.2 Blue
  4.3 Gray
  4.4 Green
  4.5 Maroon
  4.6 Orange
  4.7 Purple
  4.8 Red
  4.9 White
  4.10 Yellow
5. BORD RADIUS
  5.1 Square
  5.2 Round
  5.3 Circle
*/

/********** 1. BORD **********/

/*
1.1 Bord
*/

/***** 1.1 Bord *****/
[class*="bord-"][class*="-base"],
[class*="bord-"][class*="-global"] > *,
[class*="bord-"][class*="-onto"]:hover,
[class*="bord-"][class*="-onto"]:focus,
[class*="bord-"][class*="-onto"]:active,
*:hover > [class*="bord-"][class*="-into"],
*:focus > [class*="bord-"][class*="-into"],
*:active > [class*="bord-"][class*="-into"],
[class*="bord-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target1"],
[class*="bord-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target2"],
[class*="bord-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target3"],
[class*="bord-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target4"],
[class*="bord-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target5"],
[class*="bord-"][class*="-check"]:checked ~ [class*="bord-"][class*="-hub"] [class*="bord-"][class*="-goal"] {
  border-style: var(--bord-style);
  border-width: var(--bord-width);
  border-color: var(--bord-color);
  border-radius: var(--bord-radius);
}

/********** 2. BORD STYLE **********/

/*
2.1 Dashed
2.2 Dotted
2.3 Double
2.4 Groove
2.5 Inset
2.6 Outset
2.7 Ridge
2.8 Solid
*/

/***** 2.1 Bord Dashed *****/
[class*="bord-"][class*="-dash-"][class*="-base"],
[class*="bord-"][class*="-dash-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-dash-"][class*="-into"],
*:focus > [class*="bord-"][class*="-dash-"][class*="-into"],
*:active > [class*="bord-"][class*="-dash-"][class*="-into"],
[class*="bord-"][class*="-dash-"][class*="-onto"]:hover,
[class*="bord-"][class*="-dash-"][class*="-onto"]:focus,
[class*="bord-"][class*="-dash-"][class*="-onto"]:active,
[class*="bord-"][class*="-dash-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-dash-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-dash-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-dash-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-dash-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-dash-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-dash-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-dash-"][class*="-relay"] [class*="bord-"][class*="-dash-"][class*="-target1"],
[class*="bord-"][class*="-dash-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-dash-"][class*="-relay"] [class*="bord-"][class*="-dash-"][class*="-target2"],
[class*="bord-"][class*="-dash-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-dash-"][class*="-relay"] [class*="bord-"][class*="-dash-"][class*="-target3"],
[class*="bord-"][class*="-dash-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-dash-"][class*="-relay"] [class*="bord-"][class*="-dash-"][class*="-target4"],
[class*="bord-"][class*="-dash-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-dash-"][class*="-relay"] [class*="bord-"][class*="-dash-"][class*="-target5"],
[class*="bord-"][class*="-dash-"][class*="-check"]:checked ~ [class*="bord-"][class*="-dash-"][class*="-hub"] [class*="bord-"][class*="-dash-"][class*="-goal"] {
  border-style: dashed;
}

/***** 2.2 Bord Dotted *****/
[class*="bord-"][class*="-dot-"][class*="-base"],
[class*="bord-"][class*="-dot-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-dot-"][class*="-into"],
*:focus > [class*="bord-"][class*="-dot-"][class*="-into"],
*:active > [class*="bord-"][class*="-dot-"][class*="-into"],
[class*="bord-"][class*="-dot-"][class*="-onto"]:hover,
[class*="bord-"][class*="-dot-"][class*="-onto"]:focus,
[class*="bord-"][class*="-dot-"][class*="-onto"]:active,
[class*="bord-"][class*="-dot-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-dot-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-dot-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-dot-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-dot-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-dot-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-dot-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-dot-"][class*="-relay"] [class*="bord-"][class*="-dot-"][class*="-target1"],
[class*="bord-"][class*="-dot-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-dot-"][class*="-relay"] [class*="bord-"][class*="-dot-"][class*="-target2"],
[class*="bord-"][class*="-dot-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-dot-"][class*="-relay"] [class*="bord-"][class*="-dot-"][class*="-target3"],
[class*="bord-"][class*="-dot-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-dot-"][class*="-relay"] [class*="bord-"][class*="-dot-"][class*="-target4"],
[class*="bord-"][class*="-dot-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-dot-"][class*="-relay"] [class*="bord-"][class*="-dot-"][class*="-target5"],
[class*="bord-"][class*="-dot-"][class*="-check"]:checked ~ [class*="bord-"][class*="-dot-"][class*="-hub"] [class*="bord-"][class*="-dot-"][class*="-goal"] {
  border-style: dotted;
}

/***** 2.3 Bord Double *****/
[class*="bord-"][class*="-double-"][class*="-base"],
[class*="bord-"][class*="-double-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-double-"][class*="-into"],
*:focus > [class*="bord-"][class*="-double-"][class*="-into"],
*:active > [class*="bord-"][class*="-double-"][class*="-into"],
[class*="bord-"][class*="-double-"][class*="-onto"]:hover,
[class*="bord-"][class*="-double-"][class*="-onto"]:focus,
[class*="bord-"][class*="-double-"][class*="-onto"]:active,
[class*="bord-"][class*="-double-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-double-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-double-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-double-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-double-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-double-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-double-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-double-"][class*="-relay"] [class*="bord-"][class*="-double-"][class*="-target1"],
[class*="bord-"][class*="-double-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-double-"][class*="-relay"] [class*="bord-"][class*="-double-"][class*="-target2"],
[class*="bord-"][class*="-double-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-double-"][class*="-relay"] [class*="bord-"][class*="-double-"][class*="-target3"],
[class*="bord-"][class*="-double-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-double-"][class*="-relay"] [class*="bord-"][class*="-double-"][class*="-target4"],
[class*="bord-"][class*="-double-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-double-"][class*="-relay"] [class*="bord-"][class*="-double-"][class*="-target5"],
[class*="bord-"][class*="-double-"][class*="-check"]:checked ~ [class*="bord-"][class*="-double-"][class*="-hub"] [class*="bord-"][class*="-double-"][class*="-goal"] {
  border-style: double;
}

/***** 2.4 Bord Groove *****/
[class*="bord-"][class*="-groove-"][class*="-base"],
[class*="bord-"][class*="-groove-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-groove-"][class*="-into"],
*:focus > [class*="bord-"][class*="-groove-"][class*="-into"],
*:active > [class*="bord-"][class*="-groove-"][class*="-into"],
[class*="bord-"][class*="-groove-"][class*="-onto"]:hover,
[class*="bord-"][class*="-groove-"][class*="-onto"]:focus,
[class*="bord-"][class*="-groove-"][class*="-onto"]:active,
[class*="bord-"][class*="-groove-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-groove-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-groove-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-groove-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-groove-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-groove-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-groove-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-groove-"][class*="-relay"] [class*="bord-"][class*="-groove-"][class*="-target1"],
[class*="bord-"][class*="-groove-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-groove-"][class*="-relay"] [class*="bord-"][class*="-groove-"][class*="-target2"],
[class*="bord-"][class*="-groove-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-groove-"][class*="-relay"] [class*="bord-"][class*="-groove-"][class*="-target3"],
[class*="bord-"][class*="-groove-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-groove-"][class*="-relay"] [class*="bord-"][class*="-groove-"][class*="-target4"],
[class*="bord-"][class*="-groove-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-groove-"][class*="-relay"] [class*="bord-"][class*="-groove-"][class*="-target5"],
[class*="bord-"][class*="-groove-"][class*="-check"]:checked ~ [class*="bord-"][class*="-groove-"][class*="-hub"] [class*="bord-"][class*="-groove-"][class*="-goal"] {
  border-style: groove;
}

/***** 2.5 Bord Inset *****/
[class*="bord-"][class*="-inset-"][class*="-base"],
[class*="bord-"][class*="-inset-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-inset-"][class*="-into"],
*:focus > [class*="bord-"][class*="-inset-"][class*="-into"],
*:active > [class*="bord-"][class*="-inset-"][class*="-into"],
[class*="bord-"][class*="-inset-"][class*="-onto"]:hover,
[class*="bord-"][class*="-inset-"][class*="-onto"]:focus,
[class*="bord-"][class*="-inset-"][class*="-onto"]:active,
[class*="bord-"][class*="-inset-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-inset-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-inset-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-inset-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-inset-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-inset-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-inset-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-inset-"][class*="-relay"] [class*="bord-"][class*="-inset-"][class*="-target1"],
[class*="bord-"][class*="-inset-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-inset-"][class*="-relay"] [class*="bord-"][class*="-inset-"][class*="-target2"],
[class*="bord-"][class*="-inset-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-inset-"][class*="-relay"] [class*="bord-"][class*="-inset-"][class*="-target3"],
[class*="bord-"][class*="-inset-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-inset-"][class*="-relay"] [class*="bord-"][class*="-inset-"][class*="-target4"],
[class*="bord-"][class*="-inset-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-inset-"][class*="-relay"] [class*="bord-"][class*="-inset-"][class*="-target5"],
[class*="bord-"][class*="-inset-"][class*="-check"]:checked ~ [class*="bord-"][class*="-inset-"][class*="-hub"] [class*="bord-"][class*="-inset-"][class*="-goal"] {
  border-style: inset;
}

/***** 2.6 Bord Outset *****/
[class*="bord-"][class*="-outset-"][class*="-base"],
[class*="bord-"][class*="-outset-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-outset-"][class*="-into"],
*:focus > [class*="bord-"][class*="-outset-"][class*="-into"],
*:active > [class*="bord-"][class*="-outset-"][class*="-into"],
[class*="bord-"][class*="-outset-"][class*="-onto"]:hover,
[class*="bord-"][class*="-outset-"][class*="-onto"]:focus,
[class*="bord-"][class*="-outset-"][class*="-onto"]:active,
[class*="bord-"][class*="-outset-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-outset-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-outset-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-outset-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-outset-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-outset-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-outset-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-outset-"][class*="-relay"] [class*="bord-"][class*="-outset-"][class*="-target1"],
[class*="bord-"][class*="-outset-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-outset-"][class*="-relay"] [class*="bord-"][class*="-outset-"][class*="-target2"],
[class*="bord-"][class*="-outset-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-outset-"][class*="-relay"] [class*="bord-"][class*="-outset-"][class*="-target3"],
[class*="bord-"][class*="-outset-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-outset-"][class*="-relay"] [class*="bord-"][class*="-outset-"][class*="-target4"],
[class*="bord-"][class*="-outset-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-outset-"][class*="-relay"] [class*="bord-"][class*="-outset-"][class*="-target5"],
[class*="bord-"][class*="-outset-"][class*="-check"]:checked ~ [class*="bord-"][class*="-outset-"][class*="-hub"] [class*="bord-"][class*="-outset-"][class*="-goal"] {
  border-style: outset;
}

/***** 2.7 Bord Ridge *****/
[class*="bord-"][class*="-ridge-"][class*="-base"],
[class*="bord-"][class*="-ridge-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-ridge-"][class*="-into"],
*:focus > [class*="bord-"][class*="-ridge-"][class*="-into"],
*:active > [class*="bord-"][class*="-ridge-"][class*="-into"],
[class*="bord-"][class*="-ridge-"][class*="-onto"]:hover,
[class*="bord-"][class*="-ridge-"][class*="-onto"]:focus,
[class*="bord-"][class*="-ridge-"][class*="-onto"]:active,
[class*="bord-"][class*="-ridge-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-ridge-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-ridge-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-ridge-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-ridge-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-ridge-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-ridge-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-ridge-"][class*="-relay"] [class*="bord-"][class*="-ridge-"][class*="-target1"],
[class*="bord-"][class*="-ridge-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-ridge-"][class*="-relay"] [class*="bord-"][class*="-ridge-"][class*="-target2"],
[class*="bord-"][class*="-ridge-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-ridge-"][class*="-relay"] [class*="bord-"][class*="-ridge-"][class*="-target3"],
[class*="bord-"][class*="-ridge-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-ridge-"][class*="-relay"] [class*="bord-"][class*="-ridge-"][class*="-target4"],
[class*="bord-"][class*="-ridge-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-ridge-"][class*="-relay"] [class*="bord-"][class*="-ridge-"][class*="-target5"],
[class*="bord-"][class*="-ridge-"][class*="-check"]:checked ~ [class*="bord-"][class*="-ridge-"][class*="-hub"] [class*="bord-"][class*="-ridge-"][class*="-goal"] {
  border-style: ridge;
}

/***** 2.8 Bord Solid *****/
[class*="bord-"][class*="-solid-"][class*="-base"],
[class*="bord-"][class*="-solid-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-solid-"][class*="-into"],
*:focus > [class*="bord-"][class*="-solid-"][class*="-into"],
*:active > [class*="bord-"][class*="-solid-"][class*="-into"],
[class*="bord-"][class*="-solid-"][class*="-onto"]:hover,
[class*="bord-"][class*="-solid-"][class*="-onto"]:focus,
[class*="bord-"][class*="-solid-"][class*="-onto"]:active,
[class*="bord-"][class*="-solid-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-solid-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-solid-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-solid-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-solid-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-solid-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-solid-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-solid-"][class*="-relay"] [class*="bord-"][class*="-solid-"][class*="-target1"],
[class*="bord-"][class*="-solid-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-solid-"][class*="-relay"] [class*="bord-"][class*="-solid-"][class*="-target2"],
[class*="bord-"][class*="-solid-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-solid-"][class*="-relay"] [class*="bord-"][class*="-solid-"][class*="-target3"],
[class*="bord-"][class*="-solid-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-solid-"][class*="-relay"] [class*="bord-"][class*="-solid-"][class*="-target4"],
[class*="bord-"][class*="-solid-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-solid-"][class*="-relay"] [class*="bord-"][class*="-solid-"][class*="-target5"],
[class*="bord-"][class*="-solid-"][class*="-check"]:checked ~ [class*="bord-"][class*="-solid-"][class*="-hub"] [class*="bord-"][class*="-solid-"][class*="-goal"] {
  border-style: solid;
}

/********** 3. BORD WIDTH **********/

/*
3.1 Width SM
3.2 Width MD
3.3 Width LG
*/

/***** 3.1 Bord SM *****/
[class*="bord-"][class*="-sm-"][class*="-base"],
[class*="bord-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-sm-"][class*="-into"],
*:focus > [class*="bord-"][class*="-sm-"][class*="-into"],
*:active > [class*="bord-"][class*="-sm-"][class*="-into"],
[class*="bord-"][class*="-sm-"][class*="-onto"]:hover,
[class*="bord-"][class*="-sm-"][class*="-onto"]:focus,
[class*="bord-"][class*="-sm-"][class*="-onto"]:active,
[class*="bord-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-sm-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-sm-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-sm-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-sm-"][class*="-relay"] [class*="bord-"][class*="-sm-"][class*="-target1"],
[class*="bord-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-sm-"][class*="-relay"] [class*="bord-"][class*="-sm-"][class*="-target2"],
[class*="bord-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-sm-"][class*="-relay"] [class*="bord-"][class*="-sm-"][class*="-target3"],
[class*="bord-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-sm-"][class*="-relay"] [class*="bord-"][class*="-sm-"][class*="-target4"],
[class*="bord-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-sm-"][class*="-relay"] [class*="bord-"][class*="-sm-"][class*="-target5"],
[class*="bord-"][class*="-sm-"][class*="-check"]:checked ~ [class*="bord-"][class*="-sm-"][class*="-hub"] [class*="bord-"][class*="-sm-"][class*="-goal"] {
  border-width: var(--bord-width-sm);
}

/***** 3.2 Bord MD *****/
[class*="bord-"][class*="-md-"][class*="-base"],
[class*="bord-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-md-"][class*="-into"],
*:focus > [class*="bord-"][class*="-md-"][class*="-into"],
*:active > [class*="bord-"][class*="-md-"][class*="-into"],
[class*="bord-"][class*="-md-"][class*="-onto"]:hover,
[class*="bord-"][class*="-md-"][class*="-onto"]:focus,
[class*="bord-"][class*="-md-"][class*="-onto"]:active,
[class*="bord-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-md-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-md-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-md-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-md-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-md-"][class*="-relay"] [class*="bord-"][class*="-md-"][class*="-target1"],
[class*="bord-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-md-"][class*="-relay"] [class*="bord-"][class*="-md-"][class*="-target2"],
[class*="bord-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-md-"][class*="-relay"] [class*="bord-"][class*="-md-"][class*="-target3"],
[class*="bord-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-md-"][class*="-relay"] [class*="bord-"][class*="-md-"][class*="-target4"],
[class*="bord-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-md-"][class*="-relay"] [class*="bord-"][class*="-md-"][class*="-target5"],
[class*="bord-"][class*="-md-"][class*="-check"]:checked ~ [class*="bord-"][class*="-md-"][class*="-hub"] [class*="bord-"][class*="-md-"][class*="-goal"] {
  border-width: var(--bord-width-md);
}

/***** 3.3 Bord LG *****/
[class*="bord-"][class*="-lg-"][class*="-base"],
[class*="bord-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-lg-"][class*="-into"],
*:focus > [class*="bord-"][class*="-lg-"][class*="-into"],
*:active > [class*="bord-"][class*="-lg-"][class*="-into"],
[class*="bord-"][class*="-lg-"][class*="-onto"]:hover,
[class*="bord-"][class*="-lg-"][class*="-onto"]:focus,
[class*="bord-"][class*="-lg-"][class*="-onto"]:active,
[class*="bord-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-lg-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-lg-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-lg-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-lg-"][class*="-relay"] [class*="bord-"][class*="-lg-"][class*="-target1"],
[class*="bord-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-lg-"][class*="-relay"] [class*="bord-"][class*="-lg-"][class*="-target2"],
[class*="bord-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-lg-"][class*="-relay"] [class*="bord-"][class*="-lg-"][class*="-target3"],
[class*="bord-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-lg-"][class*="-relay"] [class*="bord-"][class*="-lg-"][class*="-target4"],
[class*="bord-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-lg-"][class*="-relay"] [class*="bord-"][class*="-lg-"][class*="-target5"],
[class*="bord-"][class*="-lg-"][class*="-check"]:checked ~ [class*="bord-"][class*="-lg-"][class*="-hub"] [class*="bord-"][class*="-lg-"][class*="-goal"] {
  border-width: var(--bord-width-lg);
}

/********** 4. BORD COLOR **********/

/*
4.1 Black
4.2 Blue
4.3 Gray
4.4 Green
4.5 Maroon
4.6 Orange
4.7 Purple
4.8 Red
4.9 White
4.10 Yellow
*/

/***** 4.1 Bord Black *****/
[class*="bord-"][class*="-black-"][class*="-base"],
[class*="bord-"][class*="-black-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-black-"][class*="-into"],
*:focus > [class*="bord-"][class*="-black-"][class*="-into"],
*:active > [class*="bord-"][class*="-black-"][class*="-into"],
[class*="bord-"][class*="-black-"][class*="-onto"]:hover,
[class*="bord-"][class*="-black-"][class*="-onto"]:focus,
[class*="bord-"][class*="-black-"][class*="-onto"]:active,
[class*="bord-"][class*="-black-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-black-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-black-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-black-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-black-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-black-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-black-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-black-"][class*="-relay"] [class*="bord-"][class*="-black-"][class*="-target1"],
[class*="bord-"][class*="-black-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-black-"][class*="-relay"] [class*="bord-"][class*="-black-"][class*="-target2"],
[class*="bord-"][class*="-black-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-black-"][class*="-relay"] [class*="bord-"][class*="-black-"][class*="-target3"],
[class*="bord-"][class*="-black-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-black-"][class*="-relay"] [class*="bord-"][class*="-black-"][class*="-target4"],
[class*="bord-"][class*="-black-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-black-"][class*="-relay"] [class*="bord-"][class*="-black-"][class*="-target5"],
[class*="bord-"][class*="-black-"][class*="-check"]:checked ~ [class*="bord-"][class*="-black-"][class*="-hub"] [class*="bord-"][class*="-black-"][class*="-goal"] {
  border-color: var(--black);
}

/***** 4.2 Bord Blue *****/
[class*="bord-"][class*="-blue-"][class*="-base"],
[class*="bord-"][class*="-blue-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-blue-"][class*="-into"],
*:focus > [class*="bord-"][class*="-blue-"][class*="-into"],
*:active > [class*="bord-"][class*="-blue-"][class*="-into"],
[class*="bord-"][class*="-blue-"][class*="-onto"]:hover,
[class*="bord-"][class*="-blue-"][class*="-onto"]:focus,
[class*="bord-"][class*="-blue-"][class*="-onto"]:active,
[class*="bord-"][class*="-blue-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-blue-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-blue-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-blue-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-blue-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-blue-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-blue-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-blue-"][class*="-relay"] [class*="bord-"][class*="-blue-"][class*="-target1"],
[class*="bord-"][class*="-blue-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-blue-"][class*="-relay"] [class*="bord-"][class*="-blue-"][class*="-target2"],
[class*="bord-"][class*="-blue-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-blue-"][class*="-relay"] [class*="bord-"][class*="-blue-"][class*="-target3"],
[class*="bord-"][class*="-blue-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-blue-"][class*="-relay"] [class*="bord-"][class*="-blue-"][class*="-target4"],
[class*="bord-"][class*="-blue-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-blue-"][class*="-relay"] [class*="bord-"][class*="-blue-"][class*="-target5"],
[class*="bord-"][class*="-blue-"][class*="-check"]:checked ~ [class*="bord-"][class*="-blue-"][class*="-hub"] [class*="bord-"][class*="-blue-"][class*="-goal"] {
  border-color: var(--blue);
}

/***** 4.3 Bord Gray *****/
[class*="bord-"][class*="-gray-"][class*="-base"],
[class*="bord-"][class*="-gray-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-gray-"][class*="-into"],
*:focus > [class*="bord-"][class*="-gray-"][class*="-into"],
*:active > [class*="bord-"][class*="-gray-"][class*="-into"],
[class*="bord-"][class*="-gray-"][class*="-onto"]:hover,
[class*="bord-"][class*="-gray-"][class*="-onto"]:focus,
[class*="bord-"][class*="-gray-"][class*="-onto"]:active,
[class*="bord-"][class*="-gray-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-gray-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-gray-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-gray-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-gray-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-gray-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-gray-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-gray-"][class*="-relay"] [class*="bord-"][class*="-gray-"][class*="-target1"],
[class*="bord-"][class*="-gray-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-gray-"][class*="-relay"] [class*="bord-"][class*="-gray-"][class*="-target2"],
[class*="bord-"][class*="-gray-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-gray-"][class*="-relay"] [class*="bord-"][class*="-gray-"][class*="-target3"],
[class*="bord-"][class*="-gray-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-gray-"][class*="-relay"] [class*="bord-"][class*="-gray-"][class*="-target4"],
[class*="bord-"][class*="-gray-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-gray-"][class*="-relay"] [class*="bord-"][class*="-gray-"][class*="-target5"],
[class*="bord-"][class*="-gray-"][class*="-check"]:checked ~ [class*="bord-"][class*="-gray-"][class*="-hub"] [class*="bord-"][class*="-gray-"][class*="-goal"] {
  border-color: var(--gray);
}

/***** 4.4 Bord Green *****/
[class*="bord-"][class*="-green-"][class*="-base"],
[class*="bord-"][class*="-green-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-green-"][class*="-into"],
*:focus > [class*="bord-"][class*="-green-"][class*="-into"],
*:active > [class*="bord-"][class*="-green-"][class*="-into"],
[class*="bord-"][class*="-green-"][class*="-onto"]:hover,
[class*="bord-"][class*="-green-"][class*="-onto"]:focus,
[class*="bord-"][class*="-green-"][class*="-onto"]:active,
[class*="bord-"][class*="-green-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-green-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-green-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-green-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-green-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-green-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-green-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-green-"][class*="-relay"] [class*="bord-"][class*="-green-"][class*="-target1"],
[class*="bord-"][class*="-green-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-green-"][class*="-relay"] [class*="bord-"][class*="-green-"][class*="-target2"],
[class*="bord-"][class*="-green-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-green-"][class*="-relay"] [class*="bord-"][class*="-green-"][class*="-target3"],
[class*="bord-"][class*="-green-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-green-"][class*="-relay"] [class*="bord-"][class*="-green-"][class*="-target4"],
[class*="bord-"][class*="-green-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-green-"][class*="-relay"] [class*="bord-"][class*="-green-"][class*="-target5"],
[class*="bord-"][class*="-green-"][class*="-check"]:checked ~ [class*="bord-"][class*="-green-"][class*="-hub"] [class*="bord-"][class*="-green-"][class*="-goal"] {
  border-color: var(--green);
}

/***** 4.5 Bord Maroon *****/
[class*="bord-"][class*="-maroon-"][class*="-base"],
[class*="bord-"][class*="-maroon-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-maroon-"][class*="-into"],
*:focus > [class*="bord-"][class*="-maroon-"][class*="-into"],
*:active > [class*="bord-"][class*="-maroon-"][class*="-into"],
[class*="bord-"][class*="-maroon-"][class*="-onto"]:hover,
[class*="bord-"][class*="-maroon-"][class*="-onto"]:focus,
[class*="bord-"][class*="-maroon-"][class*="-onto"]:active,
[class*="bord-"][class*="-maroon-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-maroon-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-maroon-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-maroon-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-maroon-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-maroon-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-maroon-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-maroon-"][class*="-relay"] [class*="bord-"][class*="-maroon-"][class*="-target1"],
[class*="bord-"][class*="-maroon-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-maroon-"][class*="-relay"] [class*="bord-"][class*="-maroon-"][class*="-target2"],
[class*="bord-"][class*="-maroon-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-maroon-"][class*="-relay"] [class*="bord-"][class*="-maroon-"][class*="-target3"],
[class*="bord-"][class*="-maroon-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-maroon-"][class*="-relay"] [class*="bord-"][class*="-maroon-"][class*="-target4"],
[class*="bord-"][class*="-maroon-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-maroon-"][class*="-relay"] [class*="bord-"][class*="-maroon-"][class*="-target5"],
[class*="bord-"][class*="-maroon-"][class*="-check"]:checked ~ [class*="bord-"][class*="-maroon-"][class*="-hub"] [class*="bord-"][class*="-maroon-"][class*="-goal"] {
  border-color: var(--maroon);
}

/***** 4.6 Bord Orange *****/
[class*="bord-"][class*="-orange-"][class*="-base"],
[class*="bord-"][class*="-orange-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-orange-"][class*="-into"],
*:focus > [class*="bord-"][class*="-orange-"][class*="-into"],
*:active > [class*="bord-"][class*="-orange-"][class*="-into"],
[class*="bord-"][class*="-orange-"][class*="-onto"]:hover,
[class*="bord-"][class*="-orange-"][class*="-onto"]:focus,
[class*="bord-"][class*="-orange-"][class*="-onto"]:active,
[class*="bord-"][class*="-orange-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-orange-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-orange-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-orange-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-orange-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-orange-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-orange-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-orange-"][class*="-relay"] [class*="bord-"][class*="-orange-"][class*="-target1"],
[class*="bord-"][class*="-orange-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-orange-"][class*="-relay"] [class*="bord-"][class*="-orange-"][class*="-target2"],
[class*="bord-"][class*="-orange-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-orange-"][class*="-relay"] [class*="bord-"][class*="-orange-"][class*="-target3"],
[class*="bord-"][class*="-orange-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-orange-"][class*="-relay"] [class*="bord-"][class*="-orange-"][class*="-target4"],
[class*="bord-"][class*="-orange-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-orange-"][class*="-relay"] [class*="bord-"][class*="-orange-"][class*="-target5"],
[class*="bord-"][class*="-orange-"][class*="-check"]:checked ~ [class*="bord-"][class*="-orange-"][class*="-hub"] [class*="bord-"][class*="-orange-"][class*="-goal"] {
  border-color: var(--orange);
}

/***** 4.7 Bord Purple *****/
[class*="bord-"][class*="-purple-"][class*="-base"],
[class*="bord-"][class*="-purple-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-purple-"][class*="-into"],
*:focus > [class*="bord-"][class*="-purple-"][class*="-into"],
*:active > [class*="bord-"][class*="-purple-"][class*="-into"],
[class*="bord-"][class*="-purple-"][class*="-onto"]:hover,
[class*="bord-"][class*="-purple-"][class*="-onto"]:focus,
[class*="bord-"][class*="-purple-"][class*="-onto"]:active,
[class*="bord-"][class*="-purple-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-purple-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-purple-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-purple-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-purple-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-purple-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-purple-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-purple-"][class*="-relay"] [class*="bord-"][class*="-purple-"][class*="-target1"],
[class*="bord-"][class*="-purple-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-purple-"][class*="-relay"] [class*="bord-"][class*="-purple-"][class*="-target2"],
[class*="bord-"][class*="-purple-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-purple-"][class*="-relay"] [class*="bord-"][class*="-purple-"][class*="-target3"],
[class*="bord-"][class*="-purple-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-purple-"][class*="-relay"] [class*="bord-"][class*="-purple-"][class*="-target4"],
[class*="bord-"][class*="-purple-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-purple-"][class*="-relay"] [class*="bord-"][class*="-purple-"][class*="-target5"],
[class*="bord-"][class*="-purple-"][class*="-check"]:checked ~ [class*="bord-"][class*="-purple-"][class*="-hub"] [class*="bord-"][class*="-purple-"][class*="-goal"] {
  border-color: var(--purple);
}

/***** 4.8 Bord Red *****/
[class*="bord-"][class*="-red-"][class*="-base"],
[class*="bord-"][class*="-red-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-red-"][class*="-into"],
*:focus > [class*="bord-"][class*="-red-"][class*="-into"],
*:active > [class*="bord-"][class*="-red-"][class*="-into"],
[class*="bord-"][class*="-red-"][class*="-onto"]:hover,
[class*="bord-"][class*="-red-"][class*="-onto"]:focus,
[class*="bord-"][class*="-red-"][class*="-onto"]:active,
[class*="bord-"][class*="-red-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-red-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-red-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-red-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-red-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-red-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-red-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-red-"][class*="-relay"] [class*="bord-"][class*="-red-"][class*="-target1"],
[class*="bord-"][class*="-red-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-red-"][class*="-relay"] [class*="bord-"][class*="-red-"][class*="-target2"],
[class*="bord-"][class*="-red-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-red-"][class*="-relay"] [class*="bord-"][class*="-red-"][class*="-target3"],
[class*="bord-"][class*="-red-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-red-"][class*="-relay"] [class*="bord-"][class*="-red-"][class*="-target4"],
[class*="bord-"][class*="-red-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-red-"][class*="-relay"] [class*="bord-"][class*="-red-"][class*="-target5"],
[class*="bord-"][class*="-red-"][class*="-check"]:checked ~ [class*="bord-"][class*="-red-"][class*="-hub"] [class*="bord-"][class*="-red-"][class*="-goal"] {
  border-color: var(--red);
}

/***** 4.9 Bord White *****/
[class*="bord-"][class*="-white-"][class*="-base"],
[class*="bord-"][class*="-white-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-white-"][class*="-into"],
*:focus > [class*="bord-"][class*="-white-"][class*="-into"],
*:active > [class*="bord-"][class*="-white-"][class*="-into"],
[class*="bord-"][class*="-white-"][class*="-onto"]:hover,
[class*="bord-"][class*="-white-"][class*="-onto"]:focus,
[class*="bord-"][class*="-white-"][class*="-onto"]:active,
[class*="bord-"][class*="-white-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-white-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-white-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-white-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-white-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-white-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-white-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-white-"][class*="-relay"] [class*="bord-"][class*="-white-"][class*="-target1"],
[class*="bord-"][class*="-white-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-white-"][class*="-relay"] [class*="bord-"][class*="-white-"][class*="-target2"],
[class*="bord-"][class*="-white-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-white-"][class*="-relay"] [class*="bord-"][class*="-white-"][class*="-target3"],
[class*="bord-"][class*="-white-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-white-"][class*="-relay"] [class*="bord-"][class*="-white-"][class*="-target4"],
[class*="bord-"][class*="-white-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-white-"][class*="-relay"] [class*="bord-"][class*="-white-"][class*="-target5"],
[class*="bord-"][class*="-white-"][class*="-check"]:checked ~ [class*="bord-"][class*="-white-"][class*="-hub"] [class*="bord-"][class*="-white-"][class*="-goal"] {
  border-color: var(--white);
}

/***** 4.10 Bord Yellow *****/
[class*="bord-"][class*="-yellow-"][class*="-base"],
[class*="bord-"][class*="-yellow-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-yellow-"][class*="-into"],
*:focus > [class*="bord-"][class*="-yellow-"][class*="-into"],
*:active > [class*="bord-"][class*="-yellow-"][class*="-into"],
[class*="bord-"][class*="-yellow-"][class*="-onto"]:hover,
[class*="bord-"][class*="-yellow-"][class*="-onto"]:focus,
[class*="bord-"][class*="-yellow-"][class*="-onto"]:active,
[class*="bord-"][class*="-yellow-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-yellow-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-yellow-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-yellow-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-yellow-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-yellow-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-yellow-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-yellow-"][class*="-relay"] [class*="bord-"][class*="-yellow-"][class*="-target1"],
[class*="bord-"][class*="-yellow-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-yellow-"][class*="-relay"] [class*="bord-"][class*="-yellow-"][class*="-target2"],
[class*="bord-"][class*="-yellow-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-yellow-"][class*="-relay"] [class*="bord-"][class*="-yellow-"][class*="-target3"],
[class*="bord-"][class*="-yellow-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-yellow-"][class*="-relay"] [class*="bord-"][class*="-yellow-"][class*="-target4"],
[class*="bord-"][class*="-yellow-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-yellow-"][class*="-relay"] [class*="bord-"][class*="-yellow-"][class*="-target5"],
[class*="bord-"][class*="-yellow-"][class*="-check"]:checked ~ [class*="bord-"][class*="-yellow-"][class*="-hub"] [class*="bord-"][class*="-yellow-"][class*="-goal"] {
  border-color: var(--yellow);
}

/********** 5. BORD RADIUS **********/

/*
5.1 Square
5.2 Round
5.3 Circle
*/

/***** 5.1 Bord Square *****/
[class*="bord-"][class*="-square-"][class*="-base"],
[class*="bord-"][class*="-square-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-square-"][class*="-into"],
*:focus > [class*="bord-"][class*="-square-"][class*="-into"],
*:active > [class*="bord-"][class*="-square-"][class*="-into"],
[class*="bord-"][class*="-square-"][class*="-onto"]:hover,
[class*="bord-"][class*="-square-"][class*="-onto"]:focus,
[class*="bord-"][class*="-square-"][class*="-onto"]:active,
[class*="bord-"][class*="-square-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-square-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-square-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-square-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-square-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-square-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-square-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-square-"][class*="-relay"] [class*="bord-"][class*="-square-"][class*="-target1"],
[class*="bord-"][class*="-square-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-square-"][class*="-relay"] [class*="bord-"][class*="-square-"][class*="-target2"],
[class*="bord-"][class*="-square-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-square-"][class*="-relay"] [class*="bord-"][class*="-square-"][class*="-target3"],
[class*="bord-"][class*="-square-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-square-"][class*="-relay"] [class*="bord-"][class*="-square-"][class*="-target4"],
[class*="bord-"][class*="-square-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-square-"][class*="-relay"] [class*="bord-"][class*="-square-"][class*="-target5"],
[class*="bord-"][class*="-square-"][class*="-check"]:checked ~ [class*="bord-"][class*="-square-"][class*="-hub"] [class*="bord-"][class*="-square-"][class*="-goal"] {
  border-radius: var(--bord-radius-square);
}

/***** 5.2 Bord Round *****/
[class*="bord-"][class*="-round-"][class*="-base"],
[class*="bord-"][class*="-round-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-round-"][class*="-into"],
*:focus > [class*="bord-"][class*="-round-"][class*="-into"],
*:active > [class*="bord-"][class*="-round-"][class*="-into"],
[class*="bord-"][class*="-round-"][class*="-onto"]:hover,
[class*="bord-"][class*="-round-"][class*="-onto"]:focus,
[class*="bord-"][class*="-round-"][class*="-onto"]:active,
[class*="bord-"][class*="-round-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-round-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-round-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-round-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-round-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-round-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-round-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-round-"][class*="-relay"] [class*="bord-"][class*="-round-"][class*="-target1"],
[class*="bord-"][class*="-round-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-round-"][class*="-relay"] [class*="bord-"][class*="-round-"][class*="-target2"],
[class*="bord-"][class*="-round-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-round-"][class*="-relay"] [class*="bord-"][class*="-round-"][class*="-target3"],
[class*="bord-"][class*="-round-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-round-"][class*="-relay"] [class*="bord-"][class*="-round-"][class*="-target4"],
[class*="bord-"][class*="-round-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-round-"][class*="-relay"] [class*="bord-"][class*="-round-"][class*="-target5"],
[class*="bord-"][class*="-round-"][class*="-check"]:checked ~ [class*="bord-"][class*="-round-"][class*="-hub"] [class*="bord-"][class*="-round-"][class*="-goal"] {
  border-radius: var(--bord-radius-round);
}

/***** 5.3 Bord Circle *****/
[class*="bord-"][class*="-circle-"][class*="-base"],
[class*="bord-"][class*="-circle-"][class*="-global"] > *,
*:hover > [class*="bord-"][class*="-circle-"][class*="-into"],
*:focus > [class*="bord-"][class*="-circle-"][class*="-into"],
*:active > [class*="bord-"][class*="-circle-"][class*="-into"],
[class*="bord-"][class*="-circle-"][class*="-onto"]:hover,
[class*="bord-"][class*="-circle-"][class*="-onto"]:focus,
[class*="bord-"][class*="-circle-"][class*="-onto"]:active,
[class*="bord-"][class*="-circle-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-circle-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-circle-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-circle-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-circle-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-circle-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-circle-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-circle-"][class*="-relay"] [class*="bord-"][class*="-circle-"][class*="-target1"],
[class*="bord-"][class*="-circle-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-circle-"][class*="-relay"] [class*="bord-"][class*="-circle-"][class*="-target2"],
[class*="bord-"][class*="-circle-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-circle-"][class*="-relay"] [class*="bord-"][class*="-circle-"][class*="-target3"],
[class*="bord-"][class*="-circle-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-circle-"][class*="-relay"] [class*="bord-"][class*="-circle-"][class*="-target4"],
[class*="bord-"][class*="-circle-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-circle-"][class*="-relay"] [class*="bord-"][class*="-circle-"][class*="-target5"],
[class*="bord-"][class*="-circle-"][class*="-check"]:checked ~ [class*="bord-"][class*="-circle-"][class*="-hub"] [class*="bord-"][class*="-circle-"][class*="-goal"] {
  border-radius: var(--bord-radius-circle);
}

