/********** BORD *********/

/*
1 - Bord
2 - Bord Style
3 - Bord Width
4 - Bord Color
5 - Bord Radius
*/

/***** 1 - Bord *****/
[class*="bord-"][class*="-base"],
[class*="bord-"][class*="-global"] > *,
[class*="bord-"][class*="-onto"]:hover,
[class*="bord-"][class*="-onto"]:focus,
[class*="bord-"][class*="-onto"]:active,
*:hover > [class*="bord-"][class*="-into"],
*:focus > [class*="bord-"][class*="-into"],
*:active > [class*="bord-"][class*="-into"],
[class*="bord-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-toall"]:active > *,
[class*="bord-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-toone"] > *:active,
[class*="bord-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target1"],
[class*="bord-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target2"],
[class*="bord-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target3"],
[class*="bord-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target4"],
[class*="bord-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target5"],
[class*="bord-"][class*="-check"]:checked ~ [class*="bord-"][class*="-hub"] [class*="bord-"][class*="-goal"] {
  border-style: var(--border-style);
  border-width: var(--border-width);
  border-color: var(--border-color);
  border-radius: var(--border-radius);
}

/***** 2 - Bord Style *****/
[class*="bord-dash-"][class*="-base"],
[class*="bord-dash-"][class*="-global"] > *,
*:hover > [class*="bord-dash-"][class*="-into"],
*:focus > [class*="bord-dash-"][class*="-into"],
*:active > [class*="bord-dash-"][class*="-into"],
[class*="bord-dash-"][class*="-onto"]:hover,
[class*="bord-dash-"][class*="-onto"]:focus,
[class*="bord-dash-"][class*="-onto"]:active,
[class*="bord-dash-"][class*="-toall"]:hover > *,
[class*="bord-dash-"][class*="-toall"]:focus > *,
[class*="bord-dash-"][class*="-toall"]:active > *,
[class*="bord-dash-"][class*="-toone"] > *:hover,
[class*="bord-dash-"][class*="-toone"] > *:focus,
[class*="bord-dash-"][class*="-toone"] > *:active,
[class*="bord-dash-"][class*="-radio1"]:checked ~ [class*="bord-dash-"][class*="-relay"] [class*="bord-dash-"][class*="-target1"],
[class*="bord-dash-"][class*="-radio2"]:checked ~ [class*="bord-dash-"][class*="-relay"] [class*="bord-dash-"][class*="-target2"],
[class*="bord-dash-"][class*="-radio3"]:checked ~ [class*="bord-dash-"][class*="-relay"] [class*="bord-dash-"][class*="-target3"],
[class*="bord-dash-"][class*="-radio4"]:checked ~ [class*="bord-dash-"][class*="-relay"] [class*="bord-dash-"][class*="-target4"],
[class*="bord-dash-"][class*="-radio5"]:checked ~ [class*="bord-dash-"][class*="-relay"] [class*="bord-dash-"][class*="-target5"],
[class*="bord-dash-"][class*="-check"]:checked ~ [class*="bord-dash-"][class*="-hub"] [class*="bord-dash-"][class*="-goal"] {
  border-style: dashed;
}

[class*="bord-dot-"][class*="-base"],
[class*="bord-dot-"][class*="-global"] > *,
*:hover > [class*="bord-dot-"][class*="-into"],
*:focus > [class*="bord-dot-"][class*="-into"],
*:active > [class*="bord-dot-"][class*="-into"],
[class*="bord-dot-"][class*="-onto"]:hover,
[class*="bord-dot-"][class*="-onto"]:focus,
[class*="bord-dot-"][class*="-onto"]:active,
[class*="bord-dot-"][class*="-toall"]:hover > *,
[class*="bord-dot-"][class*="-toall"]:focus > *,
[class*="bord-dot-"][class*="-toall"]:active > *,
[class*="bord-dot-"][class*="-toone"] > *:hover,
[class*="bord-dot-"][class*="-toone"] > *:focus,
[class*="bord-dot-"][class*="-toone"] > *:active,
[class*="bord-dot-"][class*="-radio1"]:checked ~ [class*="bord-dot-"][class*="-relay"] [class*="bord-dot-"][class*="-target1"],
[class*="bord-dot-"][class*="-radio2"]:checked ~ [class*="bord-dot-"][class*="-relay"] [class*="bord-dot-"][class*="-target2"],
[class*="bord-dot-"][class*="-radio3"]:checked ~ [class*="bord-dot-"][class*="-relay"] [class*="bord-dot-"][class*="-target3"],
[class*="bord-dot-"][class*="-radio4"]:checked ~ [class*="bord-dot-"][class*="-relay"] [class*="bord-dot-"][class*="-target4"],
[class*="bord-dot-"][class*="-radio5"]:checked ~ [class*="bord-dot-"][class*="-relay"] [class*="bord-dot-"][class*="-target5"],
[class*="bord-dot-"][class*="-check"]:checked ~ [class*="bord-dot-"][class*="-hub"] [class*="bord-dot-"][class*="-goal"] {
  border-style: dotted;
}

[class*="bord-double-"][class*="-base"],
[class*="bord-double-"][class*="-global"] > *,
*:hover > [class*="bord-double-"][class*="-into"],
*:focus > [class*="bord-double-"][class*="-into"],
*:active > [class*="bord-double-"][class*="-into"],
[class*="bord-double-"][class*="-onto"]:hover,
[class*="bord-double-"][class*="-onto"]:focus,
[class*="bord-double-"][class*="-onto"]:active,
[class*="bord-double-"][class*="-toall"]:hover > *,
[class*="bord-double-"][class*="-toall"]:focus > *,
[class*="bord-double-"][class*="-toall"]:active > *,
[class*="bord-double-"][class*="-toone"] > *:hover,
[class*="bord-double-"][class*="-toone"] > *:focus,
[class*="bord-double-"][class*="-toone"] > *:active,
[class*="bord-double-"][class*="-radio1"]:checked ~ [class*="bord-double-"][class*="-relay"] [class*="bord-double-"][class*="-target1"],
[class*="bord-double-"][class*="-radio2"]:checked ~ [class*="bord-double-"][class*="-relay"] [class*="bord-double-"][class*="-target2"],
[class*="bord-double-"][class*="-radio3"]:checked ~ [class*="bord-double-"][class*="-relay"] [class*="bord-double-"][class*="-target3"],
[class*="bord-double-"][class*="-radio4"]:checked ~ [class*="bord-double-"][class*="-relay"] [class*="bord-double-"][class*="-target4"],
[class*="bord-double-"][class*="-radio5"]:checked ~ [class*="bord-double-"][class*="-relay"] [class*="bord-double-"][class*="-target5"],
[class*="bord-double-"][class*="-check"]:checked ~ [class*="bord-double-"][class*="-hub"] [class*="bord-double-"][class*="-goal"] {
  border-style: double;
}

[class*="bord-groove-"][class*="-base"],
[class*="bord-groove-"][class*="-global"] > *,
*:hover > [class*="bord-groove-"][class*="-into"],
*:focus > [class*="bord-groove-"][class*="-into"],
*:active > [class*="bord-groove-"][class*="-into"],
[class*="bord-groove-"][class*="-onto"]:hover,
[class*="bord-groove-"][class*="-onto"]:focus,
[class*="bord-groove-"][class*="-onto"]:active,
[class*="bord-groove-"][class*="-toall"]:hover > *,
[class*="bord-groove-"][class*="-toall"]:focus > *,
[class*="bord-groove-"][class*="-toall"]:active > *,
[class*="bord-groove-"][class*="-toone"] > *:hover,
[class*="bord-groove-"][class*="-toone"] > *:focus,
[class*="bord-groove-"][class*="-toone"] > *:active,
[class*="bord-groove-"][class*="-radio1"]:checked ~ [class*="bord-groove-"][class*="-relay"] [class*="bord-groove-"][class*="-target1"],
[class*="bord-groove-"][class*="-radio2"]:checked ~ [class*="bord-groove-"][class*="-relay"] [class*="bord-groove-"][class*="-target2"],
[class*="bord-groove-"][class*="-radio3"]:checked ~ [class*="bord-groove-"][class*="-relay"] [class*="bord-groove-"][class*="-target3"],
[class*="bord-groove-"][class*="-radio4"]:checked ~ [class*="bord-groove-"][class*="-relay"] [class*="bord-groove-"][class*="-target4"],
[class*="bord-groove-"][class*="-radio5"]:checked ~ [class*="bord-groove-"][class*="-relay"] [class*="bord-groove-"][class*="-target5"],
[class*="bord-groove-"][class*="-check"]:checked ~ [class*="bord-groove-"][class*="-hub"] [class*="bord-groove-"][class*="-goal"] {
  border-style: groove;
}

[class*="bord-inset-"][class*="-base"],
[class*="bord-inset-"][class*="-global"] > *,
*:hover > [class*="bord-inset-"][class*="-into"],
*:focus > [class*="bord-inset-"][class*="-into"],
*:active > [class*="bord-inset-"][class*="-into"],
[class*="bord-inset-"][class*="-onto"]:hover,
[class*="bord-inset-"][class*="-onto"]:focus,
[class*="bord-inset-"][class*="-onto"]:active,
[class*="bord-inset-"][class*="-toall"]:hover > *,
[class*="bord-inset-"][class*="-toall"]:focus > *,
[class*="bord-inset-"][class*="-toall"]:active > *,
[class*="bord-inset-"][class*="-toone"] > *:hover,
[class*="bord-inset-"][class*="-toone"] > *:focus,
[class*="bord-inset-"][class*="-toone"] > *:active,
[class*="bord-inset-"][class*="-radio1"]:checked ~ [class*="bord-inset-"][class*="-relay"] [class*="bord-inset-"][class*="-target1"],
[class*="bord-inset-"][class*="-radio2"]:checked ~ [class*="bord-inset-"][class*="-relay"] [class*="bord-inset-"][class*="-target2"],
[class*="bord-inset-"][class*="-radio3"]:checked ~ [class*="bord-inset-"][class*="-relay"] [class*="bord-inset-"][class*="-target3"],
[class*="bord-inset-"][class*="-radio4"]:checked ~ [class*="bord-inset-"][class*="-relay"] [class*="bord-inset-"][class*="-target4"],
[class*="bord-inset-"][class*="-radio5"]:checked ~ [class*="bord-inset-"][class*="-relay"] [class*="bord-inset-"][class*="-target5"],
[class*="bord-inset-"][class*="-check"]:checked ~ [class*="bord-inset-"][class*="-hub"] [class*="bord-inset-"][class*="-goal"] {
  border-style: inset;
}

[class*="bord-outset-"][class*="-base"],
[class*="bord-outset-"][class*="-global"] > *,
*:hover > [class*="bord-outset-"][class*="-into"],
*:focus > [class*="bord-outset-"][class*="-into"],
*:active > [class*="bord-outset-"][class*="-into"],
[class*="bord-outset-"][class*="-onto"]:hover,
[class*="bord-outset-"][class*="-onto"]:focus,
[class*="bord-outset-"][class*="-onto"]:active,
[class*="bord-outset-"][class*="-toall"]:hover > *,
[class*="bord-outset-"][class*="-toall"]:focus > *,
[class*="bord-outset-"][class*="-toall"]:active > *,
[class*="bord-outset-"][class*="-toone"] > *:hover,
[class*="bord-outset-"][class*="-toone"] > *:focus,
[class*="bord-outset-"][class*="-toone"] > *:active,
[class*="bord-outset-"][class*="-radio1"]:checked ~ [class*="bord-outset-"][class*="-relay"] [class*="bord-outset-"][class*="-target1"],
[class*="bord-outset-"][class*="-radio2"]:checked ~ [class*="bord-outset-"][class*="-relay"] [class*="bord-outset-"][class*="-target2"],
[class*="bord-outset-"][class*="-radio3"]:checked ~ [class*="bord-outset-"][class*="-relay"] [class*="bord-outset-"][class*="-target3"],
[class*="bord-outset-"][class*="-radio4"]:checked ~ [class*="bord-outset-"][class*="-relay"] [class*="bord-outset-"][class*="-target4"],
[class*="bord-outset-"][class*="-radio5"]:checked ~ [class*="bord-outset-"][class*="-relay"] [class*="bord-outset-"][class*="-target5"],
[class*="bord-outset-"][class*="-check"]:checked ~ [class*="bord-outset-"][class*="-hub"] [class*="bord-outset-"][class*="-goal"] {
  border-style: outset;
}

[class*="bord-ridge-"][class*="-base"],
[class*="bord-ridge-"][class*="-global"] > *,
*:hover > [class*="bord-ridge-"][class*="-into"],
*:focus > [class*="bord-ridge-"][class*="-into"],
*:active > [class*="bord-ridge-"][class*="-into"],
[class*="bord-ridge-"][class*="-onto"]:hover,
[class*="bord-ridge-"][class*="-onto"]:focus,
[class*="bord-ridge-"][class*="-onto"]:active,
[class*="bord-ridge-"][class*="-toall"]:hover > *,
[class*="bord-ridge-"][class*="-toall"]:focus > *,
[class*="bord-ridge-"][class*="-toall"]:active > *,
[class*="bord-ridge-"][class*="-toone"] > *:hover,
[class*="bord-ridge-"][class*="-toone"] > *:focus,
[class*="bord-ridge-"][class*="-toone"] > *:active,
[class*="bord-ridge-"][class*="-radio1"]:checked ~ [class*="bord-ridge-"][class*="-relay"] [class*="bord-ridge-"][class*="-target1"],
[class*="bord-ridge-"][class*="-radio2"]:checked ~ [class*="bord-ridge-"][class*="-relay"] [class*="bord-ridge-"][class*="-target2"],
[class*="bord-ridge-"][class*="-radio3"]:checked ~ [class*="bord-ridge-"][class*="-relay"] [class*="bord-ridge-"][class*="-target3"],
[class*="bord-ridge-"][class*="-radio4"]:checked ~ [class*="bord-ridge-"][class*="-relay"] [class*="bord-ridge-"][class*="-target4"],
[class*="bord-ridge-"][class*="-radio5"]:checked ~ [class*="bord-ridge-"][class*="-relay"] [class*="bord-ridge-"][class*="-target5"],
[class*="bord-ridge-"][class*="-check"]:checked ~ [class*="bord-ridge-"][class*="-hub"] [class*="bord-ridge-"][class*="-goal"] {
  border-style: ridge;
}

[class*="bord-solid-"][class*="-base"],
[class*="bord-solid-"][class*="-global"] > *,
*:hover > [class*="bord-solid-"][class*="-into"],
*:focus > [class*="bord-solid-"][class*="-into"],
*:active > [class*="bord-solid-"][class*="-into"],
[class*="bord-solid-"][class*="-onto"]:hover,
[class*="bord-solid-"][class*="-onto"]:focus,
[class*="bord-solid-"][class*="-onto"]:active,
[class*="bord-solid-"][class*="-toall"]:hover > *,
[class*="bord-solid-"][class*="-toall"]:focus > *,
[class*="bord-solid-"][class*="-toall"]:active > *,
[class*="bord-solid-"][class*="-toone"] > *:hover,
[class*="bord-solid-"][class*="-toone"] > *:focus,
[class*="bord-solid-"][class*="-toone"] > *:active,
[class*="bord-solid-"][class*="-radio1"]:checked ~ [class*="bord-solid-"][class*="-relay"] [class*="bord-solid-"][class*="-target1"],
[class*="bord-solid-"][class*="-radio2"]:checked ~ [class*="bord-solid-"][class*="-relay"] [class*="bord-solid-"][class*="-target2"],
[class*="bord-solid-"][class*="-radio3"]:checked ~ [class*="bord-solid-"][class*="-relay"] [class*="bord-solid-"][class*="-target3"],
[class*="bord-solid-"][class*="-radio4"]:checked ~ [class*="bord-solid-"][class*="-relay"] [class*="bord-solid-"][class*="-target4"],
[class*="bord-solid-"][class*="-radio5"]:checked ~ [class*="bord-solid-"][class*="-relay"] [class*="bord-solid-"][class*="-target5"],
[class*="bord-solid-"][class*="-check"]:checked ~ [class*="bord-solid-"][class*="-hub"] [class*="bord-solid-"][class*="-goal"] {
  border-style: solid;
}

/***** 3 - Bord Width *****/
[class*="bord-sm-"][class*="-base"],
[class*="bord-sm-"][class*="-global"] > *,
*:hover > [class*="bord-sm-"][class*="-into"],
*:focus > [class*="bord-sm-"][class*="-into"],
*:active > [class*="bord-sm-"][class*="-into"],
[class*="bord-sm-"][class*="-onto"]:hover,
[class*="bord-sm-"][class*="-onto"]:focus,
[class*="bord-sm-"][class*="-onto"]:active,
[class*="bord-sm-"][class*="-toall"]:hover > *,
[class*="bord-sm-"][class*="-toall"]:focus > *,
[class*="bord-sm-"][class*="-toall"]:active > *,
[class*="bord-sm-"][class*="-toone"] > *:hover,
[class*="bord-sm-"][class*="-toone"] > *:focus,
[class*="bord-sm-"][class*="-toone"] > *:active,
[class*="bord-sm-"][class*="-radio1"]:checked ~ [class*="bord-sm-"][class*="-relay"] [class*="bord-sm-"][class*="-target1"],
[class*="bord-sm-"][class*="-radio2"]:checked ~ [class*="bord-sm-"][class*="-relay"] [class*="bord-sm-"][class*="-target2"],
[class*="bord-sm-"][class*="-radio3"]:checked ~ [class*="bord-sm-"][class*="-relay"] [class*="bord-sm-"][class*="-target3"],
[class*="bord-sm-"][class*="-radio4"]:checked ~ [class*="bord-sm-"][class*="-relay"] [class*="bord-sm-"][class*="-target4"],
[class*="bord-sm-"][class*="-radio5"]:checked ~ [class*="bord-sm-"][class*="-relay"] [class*="bord-sm-"][class*="-target5"],
[class*="bord-sm-"][class*="-check"]:checked ~ [class*="bord-sm-"][class*="-hub"] [class*="bord-sm-"][class*="-goal"] {
  border-width: var(--border-width-sm);
}

[class*="bord-md-"][class*="-base"],
[class*="bord-md-"][class*="-global"] > *,
*:hover > [class*="bord-md-"][class*="-into"],
*:focus > [class*="bord-md-"][class*="-into"],
*:active > [class*="bord-md-"][class*="-into"],
[class*="bord-md-"][class*="-onto"]:hover,
[class*="bord-md-"][class*="-onto"]:focus,
[class*="bord-md-"][class*="-onto"]:active,
[class*="bord-md-"][class*="-toall"]:hover > *,
[class*="bord-md-"][class*="-toall"]:focus > *,
[class*="bord-md-"][class*="-toall"]:active > *,
[class*="bord-md-"][class*="-toone"] > *:hover,
[class*="bord-md-"][class*="-toone"] > *:focus,
[class*="bord-md-"][class*="-toone"] > *:active,
[class*="bord-md-"][class*="-radio1"]:checked ~ [class*="bord-md-"][class*="-relay"] [class*="bord-md-"][class*="-target1"],
[class*="bord-md-"][class*="-radio2"]:checked ~ [class*="bord-md-"][class*="-relay"] [class*="bord-md-"][class*="-target2"],
[class*="bord-md-"][class*="-radio3"]:checked ~ [class*="bord-md-"][class*="-relay"] [class*="bord-md-"][class*="-target3"],
[class*="bord-md-"][class*="-radio4"]:checked ~ [class*="bord-md-"][class*="-relay"] [class*="bord-md-"][class*="-target4"],
[class*="bord-md-"][class*="-radio5"]:checked ~ [class*="bord-md-"][class*="-relay"] [class*="bord-md-"][class*="-target5"],
[class*="bord-md-"][class*="-check"]:checked ~ [class*="bord-md-"][class*="-hub"] [class*="bord-md-"][class*="-goal"] {
  border-width: var(--border-width-md);
}

[class*="bord-lg-"][class*="-base"],
[class*="bord-lg-"][class*="-global"] > *,
*:hover > [class*="bord-lg-"][class*="-into"],
*:focus > [class*="bord-lg-"][class*="-into"],
*:active > [class*="bord-lg-"][class*="-into"],
[class*="bord-lg-"][class*="-onto"]:hover,
[class*="bord-lg-"][class*="-onto"]:focus,
[class*="bord-lg-"][class*="-onto"]:active,
[class*="bord-lg-"][class*="-toall"]:hover > *,
[class*="bord-lg-"][class*="-toall"]:focus > *,
[class*="bord-lg-"][class*="-toall"]:active > *,
[class*="bord-lg-"][class*="-toone"] > *:hover,
[class*="bord-lg-"][class*="-toone"] > *:focus,
[class*="bord-lg-"][class*="-toone"] > *:active,
[class*="bord-lg-"][class*="-radio1"]:checked ~ [class*="bord-lg-"][class*="-relay"] [class*="bord-lg-"][class*="-target1"],
[class*="bord-lg-"][class*="-radio2"]:checked ~ [class*="bord-lg-"][class*="-relay"] [class*="bord-lg-"][class*="-target2"],
[class*="bord-lg-"][class*="-radio3"]:checked ~ [class*="bord-lg-"][class*="-relay"] [class*="bord-lg-"][class*="-target3"],
[class*="bord-lg-"][class*="-radio4"]:checked ~ [class*="bord-lg-"][class*="-relay"] [class*="bord-lg-"][class*="-target4"],
[class*="bord-lg-"][class*="-radio5"]:checked ~ [class*="bord-lg-"][class*="-relay"] [class*="bord-lg-"][class*="-target5"],
[class*="bord-lg-"][class*="-check"]:checked ~ [class*="bord-lg-"][class*="-hub"] [class*="bord-lg-"][class*="-goal"] {
  border-width: var(--border-width-lg);
}

/***** 4 - Bord Color *****/
[class*="bord-black-"][class*="-base"],
[class*="bord-black-"][class*="-global"] > *,
*:hover > [class*="bord-black-"][class*="-into"],
*:focus > [class*="bord-black-"][class*="-into"],
*:active > [class*="bord-black-"][class*="-into"],
[class*="bord-black-"][class*="-onto"]:hover,
[class*="bord-black-"][class*="-onto"]:focus,
[class*="bord-black-"][class*="-onto"]:active,
[class*="bord-black-"][class*="-toall"]:hover > *,
[class*="bord-black-"][class*="-toall"]:focus > *,
[class*="bord-black-"][class*="-toall"]:active > *,
[class*="bord-black-"][class*="-toone"] > *:hover,
[class*="bord-black-"][class*="-toone"] > *:focus,
[class*="bord-black-"][class*="-toone"] > *:active,
[class*="bord-black-"][class*="-radio1"]:checked ~ [class*="bord-black-"][class*="-relay"] [class*="bord-black-"][class*="-target1"],
[class*="bord-black-"][class*="-radio2"]:checked ~ [class*="bord-black-"][class*="-relay"] [class*="bord-black-"][class*="-target2"],
[class*="bord-black-"][class*="-radio3"]:checked ~ [class*="bord-black-"][class*="-relay"] [class*="bord-black-"][class*="-target3"],
[class*="bord-black-"][class*="-radio4"]:checked ~ [class*="bord-black-"][class*="-relay"] [class*="bord-black-"][class*="-target4"],
[class*="bord-black-"][class*="-radio5"]:checked ~ [class*="bord-black-"][class*="-relay"] [class*="bord-black-"][class*="-target5"],
[class*="bord-black-"][class*="-check"]:checked ~ [class*="bord-black-"][class*="-hub"] [class*="bord-black-"][class*="-goal"] {
  border-color: var(--black);
}

[class*="bord-blue-"][class*="-base"],
[class*="bord-blue-"][class*="-global"] > *,
*:hover > [class*="bord-blue-"][class*="-into"],
*:focus > [class*="bord-blue-"][class*="-into"],
*:active > [class*="bord-blue-"][class*="-into"],
[class*="bord-blue-"][class*="-onto"]:hover,
[class*="bord-blue-"][class*="-onto"]:focus,
[class*="bord-blue-"][class*="-onto"]:active,
[class*="bord-blue-"][class*="-toall"]:hover > *,
[class*="bord-blue-"][class*="-toall"]:focus > *,
[class*="bord-blue-"][class*="-toall"]:active > *,
[class*="bord-blue-"][class*="-toone"] > *:hover,
[class*="bord-blue-"][class*="-toone"] > *:focus,
[class*="bord-blue-"][class*="-toone"] > *:active,
[class*="bord-blue-"][class*="-radio1"]:checked ~ [class*="bord-blue-"][class*="-relay"] [class*="bord-blue-"][class*="-target1"],
[class*="bord-blue-"][class*="-radio2"]:checked ~ [class*="bord-blue-"][class*="-relay"] [class*="bord-blue-"][class*="-target2"],
[class*="bord-blue-"][class*="-radio3"]:checked ~ [class*="bord-blue-"][class*="-relay"] [class*="bord-blue-"][class*="-target3"],
[class*="bord-blue-"][class*="-radio4"]:checked ~ [class*="bord-blue-"][class*="-relay"] [class*="bord-blue-"][class*="-target4"],
[class*="bord-blue-"][class*="-radio5"]:checked ~ [class*="bord-blue-"][class*="-relay"] [class*="bord-blue-"][class*="-target5"],
[class*="bord-blue-"][class*="-check"]:checked ~ [class*="bord-blue-"][class*="-hub"] [class*="bord-blue-"][class*="-goal"] {
  border-color: var(--blue);
}

[class*="bord-gray-"][class*="-base"],
[class*="bord-gray-"][class*="-global"] > *,
*:hover > [class*="bord-gray-"][class*="-into"],
*:focus > [class*="bord-gray-"][class*="-into"],
*:active > [class*="bord-gray-"][class*="-into"],
[class*="bord-gray-"][class*="-onto"]:hover,
[class*="bord-gray-"][class*="-onto"]:focus,
[class*="bord-gray-"][class*="-onto"]:active,
[class*="bord-gray-"][class*="-toall"]:hover > *,
[class*="bord-gray-"][class*="-toall"]:focus > *,
[class*="bord-gray-"][class*="-toall"]:active > *,
[class*="bord-gray-"][class*="-toone"] > *:hover,
[class*="bord-gray-"][class*="-toone"] > *:focus,
[class*="bord-gray-"][class*="-toone"] > *:active,
[class*="bord-gray-"][class*="-radio1"]:checked ~ [class*="bord-gray-"][class*="-relay"] [class*="bord-gray-"][class*="-target1"],
[class*="bord-gray-"][class*="-radio2"]:checked ~ [class*="bord-gray-"][class*="-relay"] [class*="bord-gray-"][class*="-target2"],
[class*="bord-gray-"][class*="-radio3"]:checked ~ [class*="bord-gray-"][class*="-relay"] [class*="bord-gray-"][class*="-target3"],
[class*="bord-gray-"][class*="-radio4"]:checked ~ [class*="bord-gray-"][class*="-relay"] [class*="bord-gray-"][class*="-target4"],
[class*="bord-gray-"][class*="-radio5"]:checked ~ [class*="bord-gray-"][class*="-relay"] [class*="bord-gray-"][class*="-target5"],
[class*="bord-gray-"][class*="-check"]:checked ~ [class*="bord-gray-"][class*="-hub"] [class*="bord-gray-"][class*="-goal"] {
  border-color: var(--gray);
}

[class*="bord-green-"][class*="-base"],
[class*="bord-green-"][class*="-global"] > *,
*:hover > [class*="bord-green-"][class*="-into"],
*:focus > [class*="bord-green-"][class*="-into"],
*:active > [class*="bord-green-"][class*="-into"],
[class*="bord-green-"][class*="-onto"]:hover,
[class*="bord-green-"][class*="-onto"]:focus,
[class*="bord-green-"][class*="-onto"]:active,
[class*="bord-green-"][class*="-toall"]:hover > *,
[class*="bord-green-"][class*="-toall"]:focus > *,
[class*="bord-green-"][class*="-toall"]:active > *,
[class*="bord-green-"][class*="-toone"] > *:hover,
[class*="bord-green-"][class*="-toone"] > *:focus,
[class*="bord-green-"][class*="-toone"] > *:active,
[class*="bord-green-"][class*="-radio1"]:checked ~ [class*="bord-green-"][class*="-relay"] [class*="bord-green-"][class*="-target1"],
[class*="bord-green-"][class*="-radio2"]:checked ~ [class*="bord-green-"][class*="-relay"] [class*="bord-green-"][class*="-target2"],
[class*="bord-green-"][class*="-radio3"]:checked ~ [class*="bord-green-"][class*="-relay"] [class*="bord-green-"][class*="-target3"],
[class*="bord-green-"][class*="-radio4"]:checked ~ [class*="bord-green-"][class*="-relay"] [class*="bord-green-"][class*="-target4"],
[class*="bord-green-"][class*="-radio5"]:checked ~ [class*="bord-green-"][class*="-relay"] [class*="bord-green-"][class*="-target5"],
[class*="bord-green-"][class*="-check"]:checked ~ [class*="bord-green-"][class*="-hub"] [class*="bord-green-"][class*="-goal"] {
  border-color: var(--green);
}

[class*="bord-maroon-"][class*="-base"],
[class*="bord-maroon-"][class*="-global"] > *,
*:hover > [class*="bord-maroon-"][class*="-into"],
*:focus > [class*="bord-maroon-"][class*="-into"],
*:active > [class*="bord-maroon-"][class*="-into"],
[class*="bord-maroon-"][class*="-onto"]:hover,
[class*="bord-maroon-"][class*="-onto"]:focus,
[class*="bord-maroon-"][class*="-onto"]:active,
[class*="bord-maroon-"][class*="-toall"]:hover > *,
[class*="bord-maroon-"][class*="-toall"]:focus > *,
[class*="bord-maroon-"][class*="-toall"]:active > *,
[class*="bord-maroon-"][class*="-toone"] > *:hover,
[class*="bord-maroon-"][class*="-toone"] > *:focus,
[class*="bord-maroon-"][class*="-toone"] > *:active,
[class*="bord-maroon-"][class*="-radio1"]:checked ~ [class*="bord-maroon-"][class*="-relay"] [class*="bord-maroon-"][class*="-target1"],
[class*="bord-maroon-"][class*="-radio2"]:checked ~ [class*="bord-maroon-"][class*="-relay"] [class*="bord-maroon-"][class*="-target2"],
[class*="bord-maroon-"][class*="-radio3"]:checked ~ [class*="bord-maroon-"][class*="-relay"] [class*="bord-maroon-"][class*="-target3"],
[class*="bord-maroon-"][class*="-radio4"]:checked ~ [class*="bord-maroon-"][class*="-relay"] [class*="bord-maroon-"][class*="-target4"],
[class*="bord-maroon-"][class*="-radio5"]:checked ~ [class*="bord-maroon-"][class*="-relay"] [class*="bord-maroon-"][class*="-target5"],
[class*="bord-maroon-"][class*="-check"]:checked ~ [class*="bord-maroon-"][class*="-hub"] [class*="bord-maroon-"][class*="-goal"] {
  border-color: var(--maroon);
}

[class*="bord-orange-"][class*="-base"],
[class*="bord-orange-"][class*="-global"] > *,
*:hover > [class*="bord-orange-"][class*="-into"],
*:focus > [class*="bord-orange-"][class*="-into"],
*:active > [class*="bord-orange-"][class*="-into"],
[class*="bord-orange-"][class*="-onto"]:hover,
[class*="bord-orange-"][class*="-onto"]:focus,
[class*="bord-orange-"][class*="-onto"]:active,
[class*="bord-orange-"][class*="-toall"]:hover > *,
[class*="bord-orange-"][class*="-toall"]:focus > *,
[class*="bord-orange-"][class*="-toall"]:active > *,
[class*="bord-orange-"][class*="-toone"] > *:hover,
[class*="bord-orange-"][class*="-toone"] > *:focus,
[class*="bord-orange-"][class*="-toone"] > *:active,
[class*="bord-orange-"][class*="-radio1"]:checked ~ [class*="bord-orange-"][class*="-relay"] [class*="bord-orange-"][class*="-target1"],
[class*="bord-orange-"][class*="-radio2"]:checked ~ [class*="bord-orange-"][class*="-relay"] [class*="bord-orange-"][class*="-target2"],
[class*="bord-orange-"][class*="-radio3"]:checked ~ [class*="bord-orange-"][class*="-relay"] [class*="bord-orange-"][class*="-target3"],
[class*="bord-orange-"][class*="-radio4"]:checked ~ [class*="bord-orange-"][class*="-relay"] [class*="bord-orange-"][class*="-target4"],
[class*="bord-orange-"][class*="-radio5"]:checked ~ [class*="bord-orange-"][class*="-relay"] [class*="bord-orange-"][class*="-target5"],
[class*="bord-orange-"][class*="-check"]:checked ~ [class*="bord-orange-"][class*="-hub"] [class*="bord-orange-"][class*="-goal"] {
  border-color: var(--orange);
}

[class*="bord-purple-"][class*="-base"],
[class*="bord-purple-"][class*="-global"] > *,
*:hover > [class*="bord-purple-"][class*="-into"],
*:focus > [class*="bord-purple-"][class*="-into"],
*:active > [class*="bord-purple-"][class*="-into"],
[class*="bord-purple-"][class*="-onto"]:hover,
[class*="bord-purple-"][class*="-onto"]:focus,
[class*="bord-purple-"][class*="-onto"]:active,
[class*="bord-purple-"][class*="-toall"]:hover > *,
[class*="bord-purple-"][class*="-toall"]:focus > *,
[class*="bord-purple-"][class*="-toall"]:active > *,
[class*="bord-purple-"][class*="-toone"] > *:hover,
[class*="bord-purple-"][class*="-toone"] > *:focus,
[class*="bord-purple-"][class*="-toone"] > *:active,
[class*="bord-purple-"][class*="-radio1"]:checked ~ [class*="bord-purple-"][class*="-relay"] [class*="bord-purple-"][class*="-target1"],
[class*="bord-purple-"][class*="-radio2"]:checked ~ [class*="bord-purple-"][class*="-relay"] [class*="bord-purple-"][class*="-target2"],
[class*="bord-purple-"][class*="-radio3"]:checked ~ [class*="bord-purple-"][class*="-relay"] [class*="bord-purple-"][class*="-target3"],
[class*="bord-purple-"][class*="-radio4"]:checked ~ [class*="bord-purple-"][class*="-relay"] [class*="bord-purple-"][class*="-target4"],
[class*="bord-purple-"][class*="-radio5"]:checked ~ [class*="bord-purple-"][class*="-relay"] [class*="bord-purple-"][class*="-target5"],
[class*="bord-purple-"][class*="-check"]:checked ~ [class*="bord-purple-"][class*="-hub"] [class*="bord-purple-"][class*="-goal"] {
  border-color: var(--purple);
}

[class*="bord-red-"][class*="-base"],
[class*="bord-red-"][class*="-global"] > *,
*:hover > [class*="bord-red-"][class*="-into"],
*:focus > [class*="bord-red-"][class*="-into"],
*:active > [class*="bord-red-"][class*="-into"],
[class*="bord-red-"][class*="-onto"]:hover,
[class*="bord-red-"][class*="-onto"]:focus,
[class*="bord-red-"][class*="-onto"]:active,
[class*="bord-red-"][class*="-toall"]:hover > *,
[class*="bord-red-"][class*="-toall"]:focus > *,
[class*="bord-red-"][class*="-toall"]:active > *,
[class*="bord-red-"][class*="-toone"] > *:hover,
[class*="bord-red-"][class*="-toone"] > *:focus,
[class*="bord-red-"][class*="-toone"] > *:active,
[class*="bord-red-"][class*="-radio1"]:checked ~ [class*="bord-red-"][class*="-relay"] [class*="bord-red-"][class*="-target1"],
[class*="bord-red-"][class*="-radio2"]:checked ~ [class*="bord-red-"][class*="-relay"] [class*="bord-red-"][class*="-target2"],
[class*="bord-red-"][class*="-radio3"]:checked ~ [class*="bord-red-"][class*="-relay"] [class*="bord-red-"][class*="-target3"],
[class*="bord-red-"][class*="-radio4"]:checked ~ [class*="bord-red-"][class*="-relay"] [class*="bord-red-"][class*="-target4"],
[class*="bord-red-"][class*="-radio5"]:checked ~ [class*="bord-red-"][class*="-relay"] [class*="bord-red-"][class*="-target5"],
[class*="bord-red-"][class*="-check"]:checked ~ [class*="bord-red-"][class*="-hub"] [class*="bord-red-"][class*="-goal"] {
  border-color: var(--red);
}

[class*="bord-white-"][class*="-base"],
[class*="bord-white-"][class*="-global"] > *,
*:hover > [class*="bord-white-"][class*="-into"],
*:focus > [class*="bord-white-"][class*="-into"],
*:active > [class*="bord-white-"][class*="-into"],
[class*="bord-white-"][class*="-onto"]:hover,
[class*="bord-white-"][class*="-onto"]:focus,
[class*="bord-white-"][class*="-onto"]:active,
[class*="bord-white-"][class*="-toall"]:hover > *,
[class*="bord-white-"][class*="-toall"]:focus > *,
[class*="bord-white-"][class*="-toall"]:active > *,
[class*="bord-white-"][class*="-toone"] > *:hover,
[class*="bord-white-"][class*="-toone"] > *:focus,
[class*="bord-white-"][class*="-toone"] > *:active,
[class*="bord-white-"][class*="-radio1"]:checked ~ [class*="bord-white-"][class*="-relay"] [class*="bord-white-"][class*="-target1"],
[class*="bord-white-"][class*="-radio2"]:checked ~ [class*="bord-white-"][class*="-relay"] [class*="bord-white-"][class*="-target2"],
[class*="bord-white-"][class*="-radio3"]:checked ~ [class*="bord-white-"][class*="-relay"] [class*="bord-white-"][class*="-target3"],
[class*="bord-white-"][class*="-radio4"]:checked ~ [class*="bord-white-"][class*="-relay"] [class*="bord-white-"][class*="-target4"],
[class*="bord-white-"][class*="-radio5"]:checked ~ [class*="bord-white-"][class*="-relay"] [class*="bord-white-"][class*="-target5"],
[class*="bord-white-"][class*="-check"]:checked ~ [class*="bord-white-"][class*="-hub"] [class*="bord-white-"][class*="-goal"] {
  border-color: var(--white);
}

[class*="bord-yellow-"][class*="-base"],
[class*="bord-yellow-"][class*="-global"] > *,
*:hover > [class*="bord-yellow-"][class*="-into"],
*:focus > [class*="bord-yellow-"][class*="-into"],
*:active > [class*="bord-yellow-"][class*="-into"],
[class*="bord-yellow-"][class*="-onto"]:hover,
[class*="bord-yellow-"][class*="-onto"]:focus,
[class*="bord-yellow-"][class*="-onto"]:active,
[class*="bord-yellow-"][class*="-toall"]:hover > *,
[class*="bord-yellow-"][class*="-toall"]:focus > *,
[class*="bord-yellow-"][class*="-toall"]:active > *,
[class*="bord-yellow-"][class*="-toone"] > *:hover,
[class*="bord-yellow-"][class*="-toone"] > *:focus,
[class*="bord-yellow-"][class*="-toone"] > *:active,
[class*="bord-yellow-"][class*="-radio1"]:checked ~ [class*="bord-yellow-"][class*="-relay"] [class*="bord-yellow-"][class*="-target1"],
[class*="bord-yellow-"][class*="-radio2"]:checked ~ [class*="bord-yellow-"][class*="-relay"] [class*="bord-yellow-"][class*="-target2"],
[class*="bord-yellow-"][class*="-radio3"]:checked ~ [class*="bord-yellow-"][class*="-relay"] [class*="bord-yellow-"][class*="-target3"],
[class*="bord-yellow-"][class*="-radio4"]:checked ~ [class*="bord-yellow-"][class*="-relay"] [class*="bord-yellow-"][class*="-target4"],
[class*="bord-yellow-"][class*="-radio5"]:checked ~ [class*="bord-yellow-"][class*="-relay"] [class*="bord-yellow-"][class*="-target5"],
[class*="bord-yellow-"][class*="-check"]:checked ~ [class*="bord-yellow-"][class*="-hub"] [class*="bord-yellow-"][class*="-goal"] {
  border-color: var(--yellow);
}

/***** 5 - Bord Radius *****/
[class*="bord-square-"][class*="-base"],
[class*="bord-square-"][class*="-global"] > *,
*:hover > [class*="bord-square-"][class*="-into"],
*:focus > [class*="bord-square-"][class*="-into"],
*:active > [class*="bord-square-"][class*="-into"],
[class*="bord-square-"][class*="-onto"]:hover,
[class*="bord-square-"][class*="-onto"]:focus,
[class*="bord-square-"][class*="-onto"]:active,
[class*="bord-square-"][class*="-toall"]:hover > *,
[class*="bord-square-"][class*="-toall"]:focus > *,
[class*="bord-square-"][class*="-toall"]:active > *,
[class*="bord-square-"][class*="-toone"] > *:hover,
[class*="bord-square-"][class*="-toone"] > *:focus,
[class*="bord-square-"][class*="-toone"] > *:active,
[class*="bord-square-"][class*="-radio1"]:checked ~ [class*="bord-square-"][class*="-relay"] [class*="bord-square-"][class*="-target1"],
[class*="bord-square-"][class*="-radio2"]:checked ~ [class*="bord-square-"][class*="-relay"] [class*="bord-square-"][class*="-target2"],
[class*="bord-square-"][class*="-radio3"]:checked ~ [class*="bord-square-"][class*="-relay"] [class*="bord-square-"][class*="-target3"],
[class*="bord-square-"][class*="-radio4"]:checked ~ [class*="bord-square-"][class*="-relay"] [class*="bord-square-"][class*="-target4"],
[class*="bord-square-"][class*="-radio5"]:checked ~ [class*="bord-square-"][class*="-relay"] [class*="bord-square-"][class*="-target5"],
[class*="bord-square-"][class*="-check"]:checked ~ [class*="bord-square-"][class*="-hub"] [class*="bord-square-"][class*="-goal"] {
  border-radius: var(--border-radius-square);
}

[class*="bord-round-"][class*="-base"],
[class*="bord-round-"][class*="-global"] > *,
*:hover > [class*="bord-round-"][class*="-into"],
*:focus > [class*="bord-round-"][class*="-into"],
*:active > [class*="bord-round-"][class*="-into"],
[class*="bord-round-"][class*="-onto"]:hover,
[class*="bord-round-"][class*="-onto"]:focus,
[class*="bord-round-"][class*="-onto"]:active,
[class*="bord-round-"][class*="-toall"]:hover > *,
[class*="bord-round-"][class*="-toall"]:focus > *,
[class*="bord-round-"][class*="-toall"]:active > *,
[class*="bord-round-"][class*="-toone"] > *:hover,
[class*="bord-round-"][class*="-toone"] > *:focus,
[class*="bord-round-"][class*="-toone"] > *:active,
[class*="bord-round-"][class*="-radio1"]:checked ~ [class*="bord-round-"][class*="-relay"] [class*="bord-round-"][class*="-target1"],
[class*="bord-round-"][class*="-radio2"]:checked ~ [class*="bord-round-"][class*="-relay"] [class*="bord-round-"][class*="-target2"],
[class*="bord-round-"][class*="-radio3"]:checked ~ [class*="bord-round-"][class*="-relay"] [class*="bord-round-"][class*="-target3"],
[class*="bord-round-"][class*="-radio4"]:checked ~ [class*="bord-round-"][class*="-relay"] [class*="bord-round-"][class*="-target4"],
[class*="bord-round-"][class*="-radio5"]:checked ~ [class*="bord-round-"][class*="-relay"] [class*="bord-round-"][class*="-target5"],
[class*="bord-round-"][class*="-check"]:checked ~ [class*="bord-round-"][class*="-hub"] [class*="bord-round-"][class*="-goal"] {
  border-radius: var(--border-radius-round);
}

[class*="bord-circle-"][class*="-base"],
[class*="bord-circle-"][class*="-global"] > *,
*:hover > [class*="bord-circle-"][class*="-into"],
*:focus > [class*="bord-circle-"][class*="-into"],
*:active > [class*="bord-circle-"][class*="-into"],
[class*="bord-circle-"][class*="-onto"]:hover,
[class*="bord-circle-"][class*="-onto"]:focus,
[class*="bord-circle-"][class*="-onto"]:active,
[class*="bord-circle-"][class*="-toall"]:hover > *,
[class*="bord-circle-"][class*="-toall"]:focus > *,
[class*="bord-circle-"][class*="-toall"]:active > *,
[class*="bord-circle-"][class*="-toone"] > *:hover,
[class*="bord-circle-"][class*="-toone"] > *:focus,
[class*="bord-circle-"][class*="-toone"] > *:active,
[class*="bord-circle-"][class*="-radio1"]:checked ~ [class*="bord-circle-"][class*="-relay"] [class*="bord-circle-"][class*="-target1"],
[class*="bord-circle-"][class*="-radio2"]:checked ~ [class*="bord-circle-"][class*="-relay"] [class*="bord-circle-"][class*="-target2"],
[class*="bord-circle-"][class*="-radio3"]:checked ~ [class*="bord-circle-"][class*="-relay"] [class*="bord-circle-"][class*="-target3"],
[class*="bord-circle-"][class*="-radio4"]:checked ~ [class*="bord-circle-"][class*="-relay"] [class*="bord-circle-"][class*="-target4"],
[class*="bord-circle-"][class*="-radio5"]:checked ~ [class*="bord-circle-"][class*="-relay"] [class*="bord-circle-"][class*="-target5"],
[class*="bord-circle-"][class*="-check"]:checked ~ [class*="bord-circle-"][class*="-hub"] [class*="bord-circle-"][class*="-goal"] {
  border-radius: var(--border-radius-circle);
}
