/********** BORD *********/

/*
1 - Bord
2 - Bord Style
3 - Bord Width
4 - Bord Color
5 - Bord Radius
*/

/***** 1 - Bord *****/
[class*="bord-"],
[class*="bord-"][class*="-global"] > *,
[class*="bord-"][class*="-onto"]:hover,
[class*="bord-"][class*="-onto"]:focus,
*:hover > [class*="bord-"][class*="-into"],
*:focus > [class*="bord-"][class*="-into"],
[class*="bord-"][class*="-toall"]:hover > *,
[class*="bord-"][class*="-toall"]:focus > *,
[class*="bord-"][class*="-toone"] > *:hover,
[class*="bord-"][class*="-toone"] > *:focus,
[class*="bord-"][class*="-radio1"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target1"],
[class*="bord-"][class*="-radio2"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target2"],
[class*="bord-"][class*="-radio3"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target3"],
[class*="bord-"][class*="-radio4"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target4"],
[class*="bord-"][class*="-radio5"]:checked ~ [class*="bord-"][class*="-relay"] [class*="bord-"][class*="-target5"],
[class*="bord-"][class*="-check"]:checked ~ [class*="bord-"][class*="-hub"] [class*="bord-"][class*="-goal"] {
  border-radius: var(--border-radius);
}

/***** 2 - Bord Style *****/
.bord-dash,
.bord-dash-global > *,
*:hover > .bord-dash-into,
*:focus > .bord-dash-into,
.bord-dash-onto:hover,
.bord-dash-onto:focus,
.bord-dash-toall:hover > *,
.bord-dash-toall:focus > *,
.bord-dash-toone > *:hover,
.bord-dash-toone > *:focus,
.bord-dash-radio1:checked ~ .bord-dash-relay .bord-dash-target1,
.bord-dash-radio2:checked ~ .bord-dash-relay .bord-dash-target2,
.bord-dash-radio3:checked ~ .bord-dash-relay .bord-dash-target3,
.bord-dash-radio4:checked ~ .bord-dash-relay .bord-dash-target4,
.bord-dash-radio5:checked ~ .bord-dash-relay .bord-dash-target5,
.bord-dash-check:checked ~ .bord-dash-hub .bord-dash-goal {
  border-style: dashed;
}

.bord-dot,
.bord-dot-global > *,
*:hover > .bord-dot-into,
*:focus > .bord-dot-into,
.bord-dot-onto:hover,
.bord-dot-onto:focus,
.bord-dot-toall:hover > *,
.bord-dot-toall:focus > *,
.bord-dot-toone > *:hover,
.bord-dot-toone > *:focus,
.bord-dot-radio1:checked ~ .bord-dot-relay .bord-dot-target1,
.bord-dot-radio2:checked ~ .bord-dot-relay .bord-dot-target2,
.bord-dot-radio3:checked ~ .bord-dot-relay .bord-dot-target3,
.bord-dot-radio4:checked ~ .bord-dot-relay .bord-dot-target4,
.bord-dot-radio5:checked ~ .bord-dot-relay .bord-dot-target5,
.bord-dot-check:checked ~ .bord-dot-hub .bord-dot-goal {
  border-style: dotted;
}

.bord-double,
.bord-double-global > *,
*:hover > .bord-double-into,
*:focus > .bord-double-into,
.bord-double-onto:hover,
.bord-double-onto:focus,
.bord-double-toall:hover > *,
.bord-double-toall:focus > *,
.bord-double-toone > *:hover,
.bord-double-toone > *:focus,
.bord-double-radio1:checked ~ .bord-double-relay .bord-double-target1,
.bord-double-radio2:checked ~ .bord-double-relay .bord-double-target2,
.bord-double-radio3:checked ~ .bord-double-relay .bord-double-target3,
.bord-double-radio4:checked ~ .bord-double-relay .bord-double-target4,
.bord-double-radio5:checked ~ .bord-double-relay .bord-double-target5,
.bord-double-check:checked ~ .bord-double-hub .bord-double-goal {
  border-style: double;
}

.bord-groove,
.bord-groove-global > *,
*:hover > .bord-groove-into,
*:focus > .bord-groove-into,
.bord-groove-onto:hover,
.bord-groove-onto:focus,
.bord-groove-toall:hover > *,
.bord-groove-toall:focus > *,
.bord-groove-toone > *:hover,
.bord-groove-toone > *:focus,
.bord-groove-radio1:checked ~ .bord-groove-relay .bord-groove-target1,
.bord-groove-radio2:checked ~ .bord-groove-relay .bord-groove-target2,
.bord-groove-radio3:checked ~ .bord-groove-relay .bord-groove-target3,
.bord-groove-radio4:checked ~ .bord-groove-relay .bord-groove-target4,
.bord-groove-radio5:checked ~ .bord-groove-relay .bord-groove-target5,
.bord-groove-check:checked ~ .bord-groove-hub .bord-groove-goal {
  border-style: groove;
}

.bord-inset,
.bord-inset-global > *,
*:hover > .bord-inset-into,
*:focus > .bord-inset-into,
.bord-inset-onto:hover,
.bord-inset-onto:focus,
.bord-inset-toall:hover > *,
.bord-inset-toall:focus > *,
.bord-inset-toone > *:hover,
.bord-inset-toone > *:focus,
.bord-inset-radio1:checked ~ .bord-inset-relay .bord-inset-target1,
.bord-inset-radio2:checked ~ .bord-inset-relay .bord-inset-target2,
.bord-inset-radio3:checked ~ .bord-inset-relay .bord-inset-target3,
.bord-inset-radio4:checked ~ .bord-inset-relay .bord-inset-target4,
.bord-inset-radio5:checked ~ .bord-inset-relay .bord-inset-target5,
.bord-inset-check:checked ~ .bord-inset-hub .bord-inset-goal {
  border-style: inset;
}

.bord-outset,
.bord-outset-global > *,
*:hover > .bord-outset-into,
*:focus > .bord-outset-into,
.bord-outset-onto:hover,
.bord-outset-onto:focus,
.bord-outset-toall:hover > *,
.bord-outset-toall:focus > *,
.bord-outset-toone > *:hover,
.bord-outset-toone > *:focus,
.bord-outset-radio1:checked ~ .bord-outset-relay .bord-outset-target1,
.bord-outset-radio2:checked ~ .bord-outset-relay .bord-outset-target2,
.bord-outset-radio3:checked ~ .bord-outset-relay .bord-outset-target3,
.bord-outset-radio4:checked ~ .bord-outset-relay .bord-outset-target4,
.bord-outset-radio5:checked ~ .bord-outset-relay .bord-outset-target5,
.bord-outset-check:checked ~ .bord-outset-hub .bord-outset-goal {
  border-style: outset;
}

.bord-ridge,
.bord-ridge-global > *,
*:hover > .bord-ridge-into,
*:focus > .bord-ridge-into,
.bord-ridge-onto:hover,
.bord-ridge-onto:focus,
.bord-ridge-toall:hover > *,
.bord-ridge-toall:focus > *,
.bord-ridge-toone > *:hover,
.bord-ridge-toone > *:focus,
.bord-ridge-radio1:checked ~ .bord-ridge-relay .bord-ridge-target1,
.bord-ridge-radio2:checked ~ .bord-ridge-relay .bord-ridge-target2,
.bord-ridge-radio3:checked ~ .bord-ridge-relay .bord-ridge-target3,
.bord-ridge-radio4:checked ~ .bord-ridge-relay .bord-ridge-target4,
.bord-ridge-radio5:checked ~ .bord-ridge-relay .bord-ridge-target5,
.bord-ridge-check:checked ~ .bord-ridge-hub .bord-ridge-goal {
  border-style: ridge;
}

.bord-solid,
.bord-solid-global > *,
*:hover > .bord-solid-into,
*:focus > .bord-solid-into,
.bord-solid-onto:hover,
.bord-solid-onto:focus,
.bord-solid-toall:hover > *,
.bord-solid-toall:focus > *,
.bord-solid-toone > *:hover,
.bord-solid-toone > *:focus,
.bord-solid-radio1:checked ~ .bord-solid-relay .bord-solid-target1,
.bord-solid-radio2:checked ~ .bord-solid-relay .bord-solid-target2,
.bord-solid-radio3:checked ~ .bord-solid-relay .bord-solid-target3,
.bord-solid-radio4:checked ~ .bord-solid-relay .bord-solid-target4,
.bord-solid-radio5:checked ~ .bord-solid-relay .bord-solid-target5,
.bord-solid-check:checked ~ .bord-solid-hub .bord-solid-goal {
  border-style: solid;
}

/***** 3 - Bord Width *****/
.bord-sm,
.bord-sm-global > *,
*:hover > .bord-sm-into,
*:focus > .bord-sm-into,
.bord-sm-onto:hover,
.bord-sm-onto:focus,
.bord-sm-toall:hover > *,
.bord-sm-toall:focus > *,
.bord-sm-toone > *:hover,
.bord-sm-toone > *:focus,
.bord-sm-radio1:checked ~ .bord-sm-relay .bord-sm-target1,
.bord-sm-radio2:checked ~ .bord-sm-relay .bord-sm-target2,
.bord-sm-radio3:checked ~ .bord-sm-relay .bord-sm-target3,
.bord-sm-radio4:checked ~ .bord-sm-relay .bord-sm-target4,
.bord-sm-radio5:checked ~ .bord-sm-relay .bord-sm-target5,
.bord-sm-check:checked ~ .bord-sm-hub .bord-sm-goal {
  border-width: var(--border-width-sm);
}

.bord-md,
.bord-md-global > *,
*:hover > .bord-md-into,
*:focus > .bord-md-into,
.bord-md-onto:hover,
.bord-md-onto:focus,
.bord-md-toall:hover > *,
.bord-md-toall:focus > *,
.bord-md-toone > *:hover,
.bord-md-toone > *:focus,
.bord-md-radio1:checked ~ .bord-md-relay .bord-md-target1,
.bord-md-radio2:checked ~ .bord-md-relay .bord-md-target2,
.bord-md-radio3:checked ~ .bord-md-relay .bord-md-target3,
.bord-md-radio4:checked ~ .bord-md-relay .bord-md-target4,
.bord-md-radio5:checked ~ .bord-md-relay .bord-md-target5,
.bord-md-check:checked ~ .bord-md-hub .bord-md-goal {
  border-width: var(--border-width-md);
}

.bord-lg,
.bord-lg-global > *,
*:hover > .bord-lg-into,
*:focus > .bord-lg-into,
.bord-lg-onto:hover,
.bord-lg-onto:focus,
.bord-lg-toall:hover > *,
.bord-lg-toall:focus > *,
.bord-lg-toone > *:hover,
.bord-lg-toone > *:focus,
.bord-lg-radio1:checked ~ .bord-lg-relay .bord-lg-target1,
.bord-lg-radio2:checked ~ .bord-lg-relay .bord-lg-target2,
.bord-lg-radio3:checked ~ .bord-lg-relay .bord-lg-target3,
.bord-lg-radio4:checked ~ .bord-lg-relay .bord-lg-target4,
.bord-lg-radio5:checked ~ .bord-lg-relay .bord-lg-target5,
.bord-lg-check:checked ~ .bord-lg-hub .bord-lg-goal {
  border-width: var(--border-width-lg);
}

/***** 4 - Bord Color *****/
.bord-black,
.bord-black-global > *,
*:hover > .bord-black-into,
*:focus > .bord-black-into,
.bord-black-onto:hover,
.bord-black-onto:focus,
.bord-black-toall:hover > *,
.bord-black-toall:focus > *,
.bord-black-toone > *:hover,
.bord-black-toone > *:focus,
.bord-black-radio1:checked ~ .bord-black-relay .bord-black-target1,
.bord-black-radio2:checked ~ .bord-black-relay .bord-black-target2,
.bord-black-radio3:checked ~ .bord-black-relay .bord-black-target3,
.bord-black-radio4:checked ~ .bord-black-relay .bord-black-target4,
.bord-black-radio5:checked ~ .bord-black-relay .bord-black-target5,
.bord-black-check:checked ~ .bord-black-hub .bord-black-goal {
  border-color: var(--black);
}

.bord-blue,
.bord-blue-global > *,
*:hover > .bord-blue-into,
*:focus > .bord-blue-into,
.bord-blue-onto:hover,
.bord-blue-onto:focus,
.bord-blue-toall:hover > *,
.bord-blue-toall:focus > *,
.bord-blue-toone > *:hover,
.bord-blue-toone > *:focus,
.bord-blue-radio1:checked ~ .bord-blue-relay .bord-blue-target1,
.bord-blue-radio2:checked ~ .bord-blue-relay .bord-blue-target2,
.bord-blue-radio3:checked ~ .bord-blue-relay .bord-blue-target3,
.bord-blue-radio4:checked ~ .bord-blue-relay .bord-blue-target4,
.bord-blue-radio5:checked ~ .bord-blue-relay .bord-blue-target5,
.bord-blue-check:checked ~ .bord-blue-hub .bord-blue-goal {
  border-color: var(--blue);
}

.bord-gray,
.bord-gray-global > *,
*:hover > .bord-gray-into,
*:focus > .bord-gray-into,
.bord-gray-onto:hover,
.bord-gray-onto:focus,
.bord-gray-toall:hover > *,
.bord-gray-toall:focus > *,
.bord-gray-toone > *:hover,
.bord-gray-toone > *:focus,
.bord-gray-radio1:checked ~ .bord-gray-relay .bord-gray-target1,
.bord-gray-radio2:checked ~ .bord-gray-relay .bord-gray-target2,
.bord-gray-radio3:checked ~ .bord-gray-relay .bord-gray-target3,
.bord-gray-radio4:checked ~ .bord-gray-relay .bord-gray-target4,
.bord-gray-radio5:checked ~ .bord-gray-relay .bord-gray-target5,
.bord-gray-check:checked ~ .bord-gray-hub .bord-gray-goal {
  border-color: var(--gray);
}

.bord-green,
.bord-green-global > *,
*:hover > .bord-green-into,
*:focus > .bord-green-into,
.bord-green-onto:hover,
.bord-green-onto:focus,
.bord-green-toall:hover > *,
.bord-green-toall:focus > *,
.bord-green-toone > *:hover,
.bord-green-toone > *:focus,
.bord-green-radio1:checked ~ .bord-green-relay .bord-green-target1,
.bord-green-radio2:checked ~ .bord-green-relay .bord-green-target2,
.bord-green-radio3:checked ~ .bord-green-relay .bord-green-target3,
.bord-green-radio4:checked ~ .bord-green-relay .bord-green-target4,
.bord-green-radio5:checked ~ .bord-green-relay .bord-green-target5,
.bord-green-check:checked ~ .bord-green-hub .bord-green-goal {
  border-color: var(--green);
}

.bord-maroon,
.bord-maroon-global > *,
*:hover > .bord-maroon-into,
*:focus > .bord-maroon-into,
.bord-maroon-onto:hover,
.bord-maroon-onto:focus,
.bord-maroon-toall:hover > *,
.bord-maroon-toall:focus > *,
.bord-maroon-toone > *:hover,
.bord-maroon-toone > *:focus,
.bord-maroon-radio1:checked ~ .bord-maroon-relay .bord-maroon-target1,
.bord-maroon-radio2:checked ~ .bord-maroon-relay .bord-maroon-target2,
.bord-maroon-radio3:checked ~ .bord-maroon-relay .bord-maroon-target3,
.bord-maroon-radio4:checked ~ .bord-maroon-relay .bord-maroon-target4,
.bord-maroon-radio5:checked ~ .bord-maroon-relay .bord-maroon-target5,
.bord-maroon-check:checked ~ .bord-maroon-hub .bord-maroon-goal {
  border-color: var(--maroon);
}

.bord-orange,
.bord-orange-global > *,
*:hover > .bord-orange-into,
*:focus > .bord-orange-into,
.bord-orange-onto:hover,
.bord-orange-onto:focus,
.bord-orange-toall:hover > *,
.bord-orange-toall:focus > *,
.bord-orange-toone > *:hover,
.bord-orange-toone > *:focus,
.bord-orange-radio1:checked ~ .bord-orange-relay .bord-orange-target1,
.bord-orange-radio2:checked ~ .bord-orange-relay .bord-orange-target2,
.bord-orange-radio3:checked ~ .bord-orange-relay .bord-orange-target3,
.bord-orange-radio4:checked ~ .bord-orange-relay .bord-orange-target4,
.bord-orange-radio5:checked ~ .bord-orange-relay .bord-orange-target5,
.bord-orange-check:checked ~ .bord-orange-hub .bord-orange-goal {
  border-color: var(--orange);
}

.bord-purple,
.bord-purple-global > *,
*:hover > .bord-purple-into,
*:focus > .bord-purple-into,
.bord-purple-onto:hover,
.bord-purple-onto:focus,
.bord-purple-toall:hover > *,
.bord-purple-toall:focus > *,
.bord-purple-toone > *:hover,
.bord-purple-toone > *:focus,
.bord-purple-radio1:checked ~ .bord-purple-relay .bord-purple-target1,
.bord-purple-radio2:checked ~ .bord-purple-relay .bord-purple-target2,
.bord-purple-radio3:checked ~ .bord-purple-relay .bord-purple-target3,
.bord-purple-radio4:checked ~ .bord-purple-relay .bord-purple-target4,
.bord-purple-radio5:checked ~ .bord-purple-relay .bord-purple-target5,
.bord-purple-check:checked ~ .bord-purple-hub .bord-purple-goal {
  border-color: var(--purple);
}

.bord-red,
.bord-red-global > *,
*:hover > .bord-red-into,
*:focus > .bord-red-into,
.bord-red-onto:hover,
.bord-red-onto:focus,
.bord-red-toall:hover > *,
.bord-red-toall:focus > *,
.bord-red-toone > *:hover,
.bord-red-toone > *:focus,
.bord-red-radio1:checked ~ .bord-red-relay .bord-red-target1,
.bord-red-radio2:checked ~ .bord-red-relay .bord-red-target2,
.bord-red-radio3:checked ~ .bord-red-relay .bord-red-target3,
.bord-red-radio4:checked ~ .bord-red-relay .bord-red-target4,
.bord-red-radio5:checked ~ .bord-red-relay .bord-red-target5,
.bord-red-check:checked ~ .bord-red-hub .bord-red-goal {
  border-color: var(--red);
}

.bord-white,
.bord-white-global > *,
*:hover > .bord-white-into,
*:focus > .bord-white-into,
.bord-white-onto:hover,
.bord-white-onto:focus,
.bord-white-toall:hover > *,
.bord-white-toall:focus > *,
.bord-white-toone > *:hover,
.bord-white-toone > *:focus,
.bord-white-radio1:checked ~ .bord-white-relay .bord-white-target1,
.bord-white-radio2:checked ~ .bord-white-relay .bord-white-target2,
.bord-white-radio3:checked ~ .bord-white-relay .bord-white-target3,
.bord-white-radio4:checked ~ .bord-white-relay .bord-white-target4,
.bord-white-radio5:checked ~ .bord-white-relay .bord-white-target5,
.bord-white-check:checked ~ .bord-white-hub .bord-white-goal {
  border-color: var(--white);
}

.bord-yellow,
.bord-yellow-global > *,
*:hover > .bord-yellow-into,
*:focus > .bord-yellow-into,
.bord-yellow-onto:hover,
.bord-yellow-onto:focus,
.bord-yellow-toall:hover > *,
.bord-yellow-toall:focus > *,
.bord-yellow-toone > *:hover,
.bord-yellow-toone > *:focus,
.bord-yellow-radio1:checked ~ .bord-yellow-relay .bord-yellow-target1,
.bord-yellow-radio2:checked ~ .bord-yellow-relay .bord-yellow-target2,
.bord-yellow-radio3:checked ~ .bord-yellow-relay .bord-yellow-target3,
.bord-yellow-radio4:checked ~ .bord-yellow-relay .bord-yellow-target4,
.bord-yellow-radio5:checked ~ .bord-yellow-relay .bord-yellow-target5,
.bord-yellow-check:checked ~ .bord-yellow-hub .bord-yellow-goal {
  border-color: var(--yellow);
}

/***** 5 - Bord Radius *****/
.bord-square,
.bord-square-global > *,
*:hover > .bord-square-into,
*:focus > .bord-square-into,
.bord-square-onto:hover,
.bord-square-onto:focus,
.bord-square-toall:hover > *,
.bord-square-toall:focus > *,
.bord-square-toone > *:hover,
.bord-square-toone > *:focus,
.bord-square-radio1:checked ~ .bord-square-relay .bord-square-target1,
.bord-square-radio2:checked ~ .bord-square-relay .bord-square-target2,
.bord-square-radio3:checked ~ .bord-square-relay .bord-square-target3,
.bord-square-radio4:checked ~ .bord-square-relay .bord-square-target4,
.bord-square-radio5:checked ~ .bord-square-relay .bord-square-target5,
.bord-square-check:checked ~ .bord-square-hub .bord-square-goal {
  border-radius: var(--border-radius-square);
}

.bord-round,
.bord-round-global > *,
*:hover > .bord-round-into,
*:focus > .bord-round-into,
.bord-round-onto:hover,
.bord-round-onto:focus,
.bord-round-toall:hover > *,
.bord-round-toall:focus > *,
.bord-round-toone > *:hover,
.bord-round-toone > *:focus,
.bord-round-radio1:checked ~ .bord-round-relay .bord-round-target1,
.bord-round-radio2:checked ~ .bord-round-relay .bord-round-target2,
.bord-round-radio3:checked ~ .bord-round-relay .bord-round-target3,
.bord-round-radio4:checked ~ .bord-round-relay .bord-round-target4,
.bord-round-radio5:checked ~ .bord-round-relay .bord-round-target5,
.bord-round-check:checked ~ .bord-round-hub .bord-round-goal {
  border-radius: var(--border-radius-round);
}

.bord-circle,
.bord-circle-global > *,
*:hover > .bord-circle-into,
*:focus > .bord-circle-into,
.bord-circle-onto:hover,
.bord-circle-onto:focus,
.bord-circle-toall:hover > *,
.bord-circle-toall:focus > *,
.bord-circle-toone > *:hover,
.bord-circle-toone > *:focus,
.bord-circle-radio1:checked ~ .bord-circle-relay .bord-circle-target1,
.bord-circle-radio2:checked ~ .bord-circle-relay .bord-circle-target2,
.bord-circle-radio3:checked ~ .bord-circle-relay .bord-circle-target3,
.bord-circle-radio4:checked ~ .bord-circle-relay .bord-circle-target4,
.bord-circle-radio5:checked ~ .bord-circle-relay .bord-circle-target5,
.bord-circle-check:checked ~ .bord-circle-hub .bord-circle-goal {
  border-radius: var(--border-radius-circle);
}
