/********** COLOR **********/

/*
1 - Main Colors
2 - Pale Colors
3 - Brand Colors
*/

/***** 1 - Main Colors *****/
[class*="color-black-"][class*="-base"],
[class*="color-black-"][class*="-global"] > *,
*:hover > [class*="color-black-"][class*="-into"],
*:focus > [class*="color-black-"][class*="-into"],
*:active > [class*="color-black-"][class*="-into"],
[class*="color-black-"][class*="-onto"]:hover,
[class*="color-black-"][class*="-onto"]:focus,
[class*="color-black-"][class*="-onto"]:active,
[class*="color-black-"][class*="-toall"]:hover > *,
[class*="color-black-"][class*="-toall"]:focus > *,
[class*="color-black-"][class*="-toall"]:active > *,
[class*="color-black-"][class*="-toone"] > *:hover,
[class*="color-black-"][class*="-toone"] > *:focus,
[class*="color-black-"][class*="-toone"] > *:active,
[class*="color-black-"][class*="-radio1"]:checked ~ [class*="color-black-"][class*="-relay"] [class*="color-black-"][class*="-target1"],
[class*="color-black-"][class*="-radio2"]:checked ~ [class*="color-black-"][class*="-relay"] [class*="color-black-"][class*="-target2"],
[class*="color-black-"][class*="-radio3"]:checked ~ [class*="color-black-"][class*="-relay"] [class*="color-black-"][class*="-target3"],
[class*="color-black-"][class*="-radio4"]:checked ~ [class*="color-black-"][class*="-relay"] [class*="color-black-"][class*="-target4"],
[class*="color-black-"][class*="-radio5"]:checked ~ [class*="color-black-"][class*="-relay"] [class*="color-black-"][class*="-target5"],
[class*="color-black-"][class*="-check"]:checked ~ [class*="color-black-"][class*="-hub"] [class*="color-black-"][class*="-goal"] {
  color: var(--black);
}

[class*="color-blue-"][class*="-base"],
[class*="color-blue-"][class*="-global"] > *,
*:hover > [class*="color-blue-"][class*="-into"],
*:focus > [class*="color-blue-"][class*="-into"],
*:active > [class*="color-blue-"][class*="-into"],
[class*="color-blue-"][class*="-onto"]:hover,
[class*="color-blue-"][class*="-onto"]:focus,
[class*="color-blue-"][class*="-onto"]:active,
[class*="color-blue-"][class*="-toall"]:hover > *,
[class*="color-blue-"][class*="-toall"]:focus > *,
[class*="color-blue-"][class*="-toall"]:active > *,
[class*="color-blue-"][class*="-toone"] > *:hover,
[class*="color-blue-"][class*="-toone"] > *:focus,
[class*="color-blue-"][class*="-toone"] > *:active,
[class*="color-blue-"][class*="-radio1"]:checked ~ [class*="color-blue-"][class*="-relay"] [class*="color-blue-"][class*="-target1"],
[class*="color-blue-"][class*="-radio2"]:checked ~ [class*="color-blue-"][class*="-relay"] [class*="color-blue-"][class*="-target2"],
[class*="color-blue-"][class*="-radio3"]:checked ~ [class*="color-blue-"][class*="-relay"] [class*="color-blue-"][class*="-target3"],
[class*="color-blue-"][class*="-radio4"]:checked ~ [class*="color-blue-"][class*="-relay"] [class*="color-blue-"][class*="-target4"],
[class*="color-blue-"][class*="-radio5"]:checked ~ [class*="color-blue-"][class*="-relay"] [class*="color-blue-"][class*="-target5"],
[class*="color-blue-"][class*="-check"]:checked ~ [class*="color-blue-"][class*="-hub"] [class*="color-blue-"][class*="-goal"] {
  color: var(--blue);
}

[class*="color-maroon-"][class*="-base"],
[class*="color-maroon-"][class*="-global"] > *,
*:hover > [class*="color-maroon-"][class*="-into"],
*:focus > [class*="color-maroon-"][class*="-into"],
*:active > [class*="color-maroon-"][class*="-into"],
[class*="color-maroon-"][class*="-onto"]:hover,
[class*="color-maroon-"][class*="-onto"]:focus,
[class*="color-maroon-"][class*="-onto"]:active,
[class*="color-maroon-"][class*="-toall"]:hover > *,
[class*="color-maroon-"][class*="-toall"]:focus > *,
[class*="color-maroon-"][class*="-toall"]:active > *,
[class*="color-maroon-"][class*="-toone"] > *:hover,
[class*="color-maroon-"][class*="-toone"] > *:focus,
[class*="color-maroon-"][class*="-toone"] > *:active,
[class*="color-maroon-"][class*="-radio1"]:checked ~ [class*="color-maroon-"][class*="-relay"] [class*="color-maroon-"][class*="-target1"],
[class*="color-maroon-"][class*="-radio2"]:checked ~ [class*="color-maroon-"][class*="-relay"] [class*="color-maroon-"][class*="-target2"],
[class*="color-maroon-"][class*="-radio3"]:checked ~ [class*="color-maroon-"][class*="-relay"] [class*="color-maroon-"][class*="-target3"],
[class*="color-maroon-"][class*="-radio4"]:checked ~ [class*="color-maroon-"][class*="-relay"] [class*="color-maroon-"][class*="-target4"],
[class*="color-maroon-"][class*="-radio5"]:checked ~ [class*="color-maroon-"][class*="-relay"] [class*="color-maroon-"][class*="-target5"],
[class*="color-maroon-"][class*="-check"]:checked ~ [class*="color-maroon-"][class*="-hub"] [class*="color-maroon-"][class*="-goal"] {
  color: var(--maroon);
}

[class*="color-gray-"][class*="-base"],
[class*="color-gray-"][class*="-global"] > *,
*:hover > [class*="color-gray-"][class*="-into"],
*:focus > [class*="color-gray-"][class*="-into"],
*:active > [class*="color-gray-"][class*="-into"],
[class*="color-gray-"][class*="-onto"]:hover,
[class*="color-gray-"][class*="-onto"]:focus,
[class*="color-gray-"][class*="-onto"]:active,
[class*="color-gray-"][class*="-toall"]:hover > *,
[class*="color-gray-"][class*="-toall"]:focus > *,
[class*="color-gray-"][class*="-toall"]:active > *,
[class*="color-gray-"][class*="-toone"] > *:hover,
[class*="color-gray-"][class*="-toone"] > *:focus,
[class*="color-gray-"][class*="-toone"] > *:active,
[class*="color-gray-"][class*="-radio1"]:checked ~ [class*="color-gray-"][class*="-relay"] [class*="color-gray-"][class*="-target1"],
[class*="color-gray-"][class*="-radio2"]:checked ~ [class*="color-gray-"][class*="-relay"] [class*="color-gray-"][class*="-target2"],
[class*="color-gray-"][class*="-radio3"]:checked ~ [class*="color-gray-"][class*="-relay"] [class*="color-gray-"][class*="-target3"],
[class*="color-gray-"][class*="-radio4"]:checked ~ [class*="color-gray-"][class*="-relay"] [class*="color-gray-"][class*="-target4"],
[class*="color-gray-"][class*="-radio5"]:checked ~ [class*="color-gray-"][class*="-relay"] [class*="color-gray-"][class*="-target5"],
[class*="color-gray-"][class*="-check"]:checked ~ [class*="color-gray-"][class*="-hub"] [class*="color-gray-"][class*="-goal"] {
  color: var(--gray);
}

[class*="color-green-"][class*="-base"],
[class*="color-green-"][class*="-global"] > *,
*:hover > [class*="color-green-"][class*="-into"],
*:focus > [class*="color-green-"][class*="-into"],
*:active > [class*="color-green-"][class*="-into"],
[class*="color-green-"][class*="-onto"]:hover,
[class*="color-green-"][class*="-onto"]:focus,
[class*="color-green-"][class*="-onto"]:active,
[class*="color-green-"][class*="-toall"]:hover > *,
[class*="color-green-"][class*="-toall"]:focus > *,
[class*="color-green-"][class*="-toall"]:active > *,
[class*="color-green-"][class*="-toone"] > *:hover,
[class*="color-green-"][class*="-toone"] > *:focus,
[class*="color-green-"][class*="-toone"] > *:active,
[class*="color-green-"][class*="-radio1"]:checked ~ [class*="color-green-"][class*="-relay"] [class*="color-green-"][class*="-target1"],
[class*="color-green-"][class*="-radio2"]:checked ~ [class*="color-green-"][class*="-relay"] [class*="color-green-"][class*="-target2"],
[class*="color-green-"][class*="-radio3"]:checked ~ [class*="color-green-"][class*="-relay"] [class*="color-green-"][class*="-target3"],
[class*="color-green-"][class*="-radio4"]:checked ~ [class*="color-green-"][class*="-relay"] [class*="color-green-"][class*="-target4"],
[class*="color-green-"][class*="-radio5"]:checked ~ [class*="color-green-"][class*="-relay"] [class*="color-green-"][class*="-target5"],
[class*="color-green-"][class*="-check"]:checked ~ [class*="color-green-"][class*="-hub"] [class*="color-green-"][class*="-goal"] {
  color: var(--green);
}

[class*="color-orange-"][class*="-base"],
[class*="color-orange-"][class*="-global"] > *,
*:hover > [class*="color-orange-"][class*="-into"],
*:focus > [class*="color-orange-"][class*="-into"],
*:active > [class*="color-orange-"][class*="-into"],
[class*="color-orange-"][class*="-onto"]:hover,
[class*="color-orange-"][class*="-onto"]:focus,
[class*="color-orange-"][class*="-onto"]:active,
[class*="color-orange-"][class*="-toall"]:hover > *,
[class*="color-orange-"][class*="-toall"]:focus > *,
[class*="color-orange-"][class*="-toall"]:active > *,
[class*="color-orange-"][class*="-toone"] > *:hover,
[class*="color-orange-"][class*="-toone"] > *:focus,
[class*="color-orange-"][class*="-toone"] > *:active,
[class*="color-orange-"][class*="-radio1"]:checked ~ [class*="color-orange-"][class*="-relay"] [class*="color-orange-"][class*="-target1"],
[class*="color-orange-"][class*="-radio2"]:checked ~ [class*="color-orange-"][class*="-relay"] [class*="color-orange-"][class*="-target2"],
[class*="color-orange-"][class*="-radio3"]:checked ~ [class*="color-orange-"][class*="-relay"] [class*="color-orange-"][class*="-target3"],
[class*="color-orange-"][class*="-radio4"]:checked ~ [class*="color-orange-"][class*="-relay"] [class*="color-orange-"][class*="-target4"],
[class*="color-orange-"][class*="-radio5"]:checked ~ [class*="color-orange-"][class*="-relay"] [class*="color-orange-"][class*="-target5"],
[class*="color-orange-"][class*="-check"]:checked ~ [class*="color-orange-"][class*="-hub"] [class*="color-orange-"][class*="-goal"] {
  color: var(--orange);
}

[class*="color-purple-"][class*="-base"],
[class*="color-purple-"][class*="-global"] > *,
*:hover > [class*="color-purple-"][class*="-into"],
*:focus > [class*="color-purple-"][class*="-into"],
*:active > [class*="color-purple-"][class*="-into"],
[class*="color-purple-"][class*="-onto"]:hover,
[class*="color-purple-"][class*="-onto"]:focus,
[class*="color-purple-"][class*="-onto"]:active,
[class*="color-purple-"][class*="-toall"]:hover > *,
[class*="color-purple-"][class*="-toall"]:focus > *,
[class*="color-purple-"][class*="-toall"]:active > *,
[class*="color-purple-"][class*="-toone"] > *:hover,
[class*="color-purple-"][class*="-toone"] > *:focus,
[class*="color-purple-"][class*="-toone"] > *:active,
[class*="color-purple-"][class*="-radio1"]:checked ~ [class*="color-purple-"][class*="-relay"] [class*="color-purple-"][class*="-target1"],
[class*="color-purple-"][class*="-radio2"]:checked ~ [class*="color-purple-"][class*="-relay"] [class*="color-purple-"][class*="-target2"],
[class*="color-purple-"][class*="-radio3"]:checked ~ [class*="color-purple-"][class*="-relay"] [class*="color-purple-"][class*="-target3"],
[class*="color-purple-"][class*="-radio4"]:checked ~ [class*="color-purple-"][class*="-relay"] [class*="color-purple-"][class*="-target4"],
[class*="color-purple-"][class*="-radio5"]:checked ~ [class*="color-purple-"][class*="-relay"] [class*="color-purple-"][class*="-target5"],
[class*="color-purple-"][class*="-check"]:checked ~ [class*="color-purple-"][class*="-hub"] [class*="color-purple-"][class*="-goal"] {
  color: var(--purple);
}

[class*="color-red-"][class*="-base"],
[class*="color-red-"][class*="-global"] > *,
*:hover > [class*="color-red-"][class*="-into"],
*:focus > [class*="color-red-"][class*="-into"],
*:active > [class*="color-red-"][class*="-into"],
[class*="color-red-"][class*="-onto"]:hover,
[class*="color-red-"][class*="-onto"]:focus,
[class*="color-red-"][class*="-onto"]:active,
[class*="color-red-"][class*="-toall"]:hover > *,
[class*="color-red-"][class*="-toall"]:focus > *,
[class*="color-red-"][class*="-toall"]:active > *,
[class*="color-red-"][class*="-toone"] > *:hover,
[class*="color-red-"][class*="-toone"] > *:focus,
[class*="color-red-"][class*="-toone"] > *:active,
[class*="color-red-"][class*="-radio1"]:checked ~ [class*="color-red-"][class*="-relay"] [class*="color-red-"][class*="-target1"],
[class*="color-red-"][class*="-radio2"]:checked ~ [class*="color-red-"][class*="-relay"] [class*="color-red-"][class*="-target2"],
[class*="color-red-"][class*="-radio3"]:checked ~ [class*="color-red-"][class*="-relay"] [class*="color-red-"][class*="-target3"],
[class*="color-red-"][class*="-radio4"]:checked ~ [class*="color-red-"][class*="-relay"] [class*="color-red-"][class*="-target4"],
[class*="color-red-"][class*="-radio5"]:checked ~ [class*="color-red-"][class*="-relay"] [class*="color-red-"][class*="-target5"],
[class*="color-red-"][class*="-check"]:checked ~ [class*="color-red-"][class*="-hub"] [class*="color-red-"][class*="-goal"] {
  color: var(--red);
}

[class*="color-yellow-"][class*="-base"],
[class*="color-yellow-"][class*="-global"] > *,
*:hover > [class*="color-yellow-"][class*="-into"],
*:focus > [class*="color-yellow-"][class*="-into"],
*:active > [class*="color-yellow-"][class*="-into"],
[class*="color-yellow-"][class*="-onto"]:hover,
[class*="color-yellow-"][class*="-onto"]:focus,
[class*="color-yellow-"][class*="-onto"]:active,
[class*="color-yellow-"][class*="-toall"]:hover > *,
[class*="color-yellow-"][class*="-toall"]:focus > *,
[class*="color-yellow-"][class*="-toall"]:active > *,
[class*="color-yellow-"][class*="-toone"] > *:hover,
[class*="color-yellow-"][class*="-toone"] > *:focus,
[class*="color-yellow-"][class*="-toone"] > *:active,
[class*="color-yellow-"][class*="-radio1"]:checked ~ [class*="color-yellow-"][class*="-relay"] [class*="color-yellow-"][class*="-target1"],
[class*="color-yellow-"][class*="-radio2"]:checked ~ [class*="color-yellow-"][class*="-relay"] [class*="color-yellow-"][class*="-target2"],
[class*="color-yellow-"][class*="-radio3"]:checked ~ [class*="color-yellow-"][class*="-relay"] [class*="color-yellow-"][class*="-target3"],
[class*="color-yellow-"][class*="-radio4"]:checked ~ [class*="color-yellow-"][class*="-relay"] [class*="color-yellow-"][class*="-target4"],
[class*="color-yellow-"][class*="-radio5"]:checked ~ [class*="color-yellow-"][class*="-relay"] [class*="color-yellow-"][class*="-target5"],
[class*="color-yellow-"][class*="-check"]:checked ~ [class*="color-yellow-"][class*="-hub"] [class*="color-yellow-"][class*="-goal"] {
  color: var(--yellow);
}

/***** 2 - Pale Colors *****/
[class*="color-choco-"][class*="-base"],
[class*="color-choco-"][class*="-global"] > *,
*:hover > [class*="color-choco-"][class*="-into"],
*:focus > [class*="color-choco-"][class*="-into"],
*:active > [class*="color-choco-"][class*="-into"],
[class*="color-choco-"][class*="-onto"]:hover,
[class*="color-choco-"][class*="-onto"]:focus,
[class*="color-choco-"][class*="-onto"]:active,
[class*="color-choco-"][class*="-toall"]:hover > *,
[class*="color-choco-"][class*="-toall"]:focus > *,
[class*="color-choco-"][class*="-toall"]:active > *,
[class*="color-choco-"][class*="-toone"] > *:hover,
[class*="color-choco-"][class*="-toone"] > *:focus,
[class*="color-choco-"][class*="-toone"] > *:active,
[class*="color-choco-"][class*="-radio1"]:checked ~ [class*="color-choco-"][class*="-relay"] [class*="color-choco-"][class*="-target1"],
[class*="color-choco-"][class*="-radio2"]:checked ~ [class*="color-choco-"][class*="-relay"] [class*="color-choco-"][class*="-target2"],
[class*="color-choco-"][class*="-radio3"]:checked ~ [class*="color-choco-"][class*="-relay"] [class*="color-choco-"][class*="-target3"],
[class*="color-choco-"][class*="-radio4"]:checked ~ [class*="color-choco-"][class*="-relay"] [class*="color-choco-"][class*="-target4"],
[class*="color-choco-"][class*="-radio5"]:checked ~ [class*="color-choco-"][class*="-relay"] [class*="color-choco-"][class*="-target5"],
[class*="color-choco-"][class*="-check"]:checked ~ [class*="color-choco-"][class*="-hub"] [class*="color-choco-"][class*="-goal"] {
  color: var(--choco);
}

[class*="color-jade-"][class*="-base"],
[class*="color-jade-"][class*="-global"] > *,
*:hover > [class*="color-jade-"][class*="-into"],
*:focus > [class*="color-jade-"][class*="-into"],
*:active > [class*="color-jade-"][class*="-into"],
[class*="color-jade-"][class*="-onto"]:hover,
[class*="color-jade-"][class*="-onto"]:focus,
[class*="color-jade-"][class*="-onto"]:active,
[class*="color-jade-"][class*="-toall"]:hover > *,
[class*="color-jade-"][class*="-toall"]:focus > *,
[class*="color-jade-"][class*="-toall"]:active > *,
[class*="color-jade-"][class*="-toone"] > *:hover,
[class*="color-jade-"][class*="-toone"] > *:focus,
[class*="color-jade-"][class*="-toone"] > *:active,
[class*="color-jade-"][class*="-radio1"]:checked ~ [class*="color-jade-"][class*="-relay"] [class*="color-jade-"][class*="-target1"],
[class*="color-jade-"][class*="-radio2"]:checked ~ [class*="color-jade-"][class*="-relay"] [class*="color-jade-"][class*="-target2"],
[class*="color-jade-"][class*="-radio3"]:checked ~ [class*="color-jade-"][class*="-relay"] [class*="color-jade-"][class*="-target3"],
[class*="color-jade-"][class*="-radio4"]:checked ~ [class*="color-jade-"][class*="-relay"] [class*="color-jade-"][class*="-target4"],
[class*="color-jade-"][class*="-radio5"]:checked ~ [class*="color-jade-"][class*="-relay"] [class*="color-jade-"][class*="-target5"],
[class*="color-jade-"][class*="-check"]:checked ~ [class*="color-jade-"][class*="-hub"] [class*="color-jade-"][class*="-goal"] {
  color: var(--jade);
}

[class*="color-khaki-"][class*="-base"],
[class*="color-khaki-"][class*="-global"] > *,
*:hover > [class*="color-khaki-"][class*="-into"],
*:focus > [class*="color-khaki-"][class*="-into"],
*:active > [class*="color-khaki-"][class*="-into"],
[class*="color-khaki-"][class*="-onto"]:hover,
[class*="color-khaki-"][class*="-onto"]:focus,
[class*="color-khaki-"][class*="-onto"]:active,
[class*="color-khaki-"][class*="-toall"]:hover > *,
[class*="color-khaki-"][class*="-toall"]:focus > *,
[class*="color-khaki-"][class*="-toall"]:active > *,
[class*="color-khaki-"][class*="-toone"] > *:hover,
[class*="color-khaki-"][class*="-toone"] > *:focus,
[class*="color-khaki-"][class*="-toone"] > *:active,
[class*="color-khaki-"][class*="-radio1"]:checked ~ [class*="color-khaki-"][class*="-relay"] [class*="color-khaki-"][class*="-target1"],
[class*="color-khaki-"][class*="-radio2"]:checked ~ [class*="color-khaki-"][class*="-relay"] [class*="color-khaki-"][class*="-target2"],
[class*="color-khaki-"][class*="-radio3"]:checked ~ [class*="color-khaki-"][class*="-relay"] [class*="color-khaki-"][class*="-target3"],
[class*="color-khaki-"][class*="-radio4"]:checked ~ [class*="color-khaki-"][class*="-relay"] [class*="color-khaki-"][class*="-target4"],
[class*="color-khaki-"][class*="-radio5"]:checked ~ [class*="color-khaki-"][class*="-relay"] [class*="color-khaki-"][class*="-target5"],
[class*="color-khaki-"][class*="-check"]:checked ~ [class*="color-khaki-"][class*="-hub"] [class*="color-khaki-"][class*="-goal"] {
  color: var(--khaki);
}

[class*="color-salmon-"][class*="-base"],
[class*="color-salmon-"][class*="-global"] > *,
*:hover > [class*="color-salmon-"][class*="-into"],
*:focus > [class*="color-salmon-"][class*="-into"],
*:active > [class*="color-salmon-"][class*="-into"],
[class*="color-salmon-"][class*="-onto"]:hover,
[class*="color-salmon-"][class*="-onto"]:focus,
[class*="color-salmon-"][class*="-onto"]:active,
[class*="color-salmon-"][class*="-toall"]:hover > *,
[class*="color-salmon-"][class*="-toall"]:focus > *,
[class*="color-salmon-"][class*="-toall"]:active > *,
[class*="color-salmon-"][class*="-toone"] > *:hover,
[class*="color-salmon-"][class*="-toone"] > *:focus,
[class*="color-salmon-"][class*="-toone"] > *:active,
[class*="color-salmon-"][class*="-radio1"]:checked ~ [class*="color-salmon-"][class*="-relay"] [class*="color-salmon-"][class*="-target1"],
[class*="color-salmon-"][class*="-radio2"]:checked ~ [class*="color-salmon-"][class*="-relay"] [class*="color-salmon-"][class*="-target2"],
[class*="color-salmon-"][class*="-radio3"]:checked ~ [class*="color-salmon-"][class*="-relay"] [class*="color-salmon-"][class*="-target3"],
[class*="color-salmon-"][class*="-radio4"]:checked ~ [class*="color-salmon-"][class*="-relay"] [class*="color-salmon-"][class*="-target4"],
[class*="color-salmon-"][class*="-radio5"]:checked ~ [class*="color-salmon-"][class*="-relay"] [class*="color-salmon-"][class*="-target5"],
[class*="color-salmon-"][class*="-check"]:checked ~ [class*="color-salmon-"][class*="-hub"] [class*="color-salmon-"][class*="-goal"] {
  color: var(--salmon);
}

[class*="color-silver-"][class*="-base"],
[class*="color-silver-"][class*="-global"] > *,
*:hover > [class*="color-silver-"][class*="-into"],
*:focus > [class*="color-silver-"][class*="-into"],
*:active > [class*="color-silver-"][class*="-into"],
[class*="color-silver-"][class*="-onto"]:hover,
[class*="color-silver-"][class*="-onto"]:focus,
[class*="color-silver-"][class*="-onto"]:active,
[class*="color-silver-"][class*="-toall"]:hover > *,
[class*="color-silver-"][class*="-toall"]:focus > *,
[class*="color-silver-"][class*="-toall"]:active > *,
[class*="color-silver-"][class*="-toone"] > *:hover,
[class*="color-silver-"][class*="-toone"] > *:focus,
[class*="color-silver-"][class*="-toone"] > *:active,
[class*="color-silver-"][class*="-radio1"]:checked ~ [class*="color-silver-"][class*="-relay"] [class*="color-silver-"][class*="-target1"],
[class*="color-silver-"][class*="-radio2"]:checked ~ [class*="color-silver-"][class*="-relay"] [class*="color-silver-"][class*="-target2"],
[class*="color-silver-"][class*="-radio3"]:checked ~ [class*="color-silver-"][class*="-relay"] [class*="color-silver-"][class*="-target3"],
[class*="color-silver-"][class*="-radio4"]:checked ~ [class*="color-silver-"][class*="-relay"] [class*="color-silver-"][class*="-target4"],
[class*="color-silver-"][class*="-radio5"]:checked ~ [class*="color-silver-"][class*="-relay"] [class*="color-silver-"][class*="-target5"],
[class*="color-silver-"][class*="-check"]:checked ~ [class*="color-silver-"][class*="-hub"] [class*="color-silver-"][class*="-goal"] {
  color: var(--silver);
}

[class*="color-sky-"][class*="-base"],
[class*="color-sky-"][class*="-global"] > *,
*:hover > [class*="color-sky-"][class*="-into"],
*:focus > [class*="color-sky-"][class*="-into"],
*:active > [class*="color-sky-"][class*="-into"],
[class*="color-sky-"][class*="-onto"]:hover,
[class*="color-sky-"][class*="-onto"]:focus,
[class*="color-sky-"][class*="-onto"]:active,
[class*="color-sky-"][class*="-toall"]:hover > *,
[class*="color-sky-"][class*="-toall"]:focus > *,
[class*="color-sky-"][class*="-toall"]:active > *,
[class*="color-sky-"][class*="-toone"] > *:hover,
[class*="color-sky-"][class*="-toone"] > *:focus,
[class*="color-sky-"][class*="-toone"] > *:active,
[class*="color-sky-"][class*="-radio1"]:checked ~ [class*="color-sky-"][class*="-relay"] [class*="color-sky-"][class*="-target1"],
[class*="color-sky-"][class*="-radio2"]:checked ~ [class*="color-sky-"][class*="-relay"] [class*="color-sky-"][class*="-target2"],
[class*="color-sky-"][class*="-radio3"]:checked ~ [class*="color-sky-"][class*="-relay"] [class*="color-sky-"][class*="-target3"],
[class*="color-sky-"][class*="-radio4"]:checked ~ [class*="color-sky-"][class*="-relay"] [class*="color-sky-"][class*="-target4"],
[class*="color-sky-"][class*="-radio5"]:checked ~ [class*="color-sky-"][class*="-relay"] [class*="color-sky-"][class*="-target5"],
[class*="color-sky-"][class*="-check"]:checked ~ [class*="color-sky-"][class*="-hub"] [class*="color-sky-"][class*="-goal"] {
  color: var(--sky);
}

[class*="color-tomato-"][class*="-base"],
[class*="color-tomato-"][class*="-global"] > *,
*:hover > [class*="color-tomato-"][class*="-into"],
*:focus > [class*="color-tomato-"][class*="-into"],
*:active > [class*="color-tomato-"][class*="-into"],
[class*="color-tomato-"][class*="-onto"]:hover,
[class*="color-tomato-"][class*="-onto"]:focus,
[class*="color-tomato-"][class*="-onto"]:active,
[class*="color-tomato-"][class*="-toall"]:hover > *,
[class*="color-tomato-"][class*="-toall"]:focus > *,
[class*="color-tomato-"][class*="-toall"]:active > *,
[class*="color-tomato-"][class*="-toone"] > *:hover,
[class*="color-tomato-"][class*="-toone"] > *:focus,
[class*="color-tomato-"][class*="-toone"] > *:active,
[class*="color-tomato-"][class*="-radio1"]:checked ~ [class*="color-tomato-"][class*="-relay"] [class*="color-tomato-"][class*="-target1"],
[class*="color-tomato-"][class*="-radio2"]:checked ~ [class*="color-tomato-"][class*="-relay"] [class*="color-tomato-"][class*="-target2"],
[class*="color-tomato-"][class*="-radio3"]:checked ~ [class*="color-tomato-"][class*="-relay"] [class*="color-tomato-"][class*="-target3"],
[class*="color-tomato-"][class*="-radio4"]:checked ~ [class*="color-tomato-"][class*="-relay"] [class*="color-tomato-"][class*="-target4"],
[class*="color-tomato-"][class*="-radio5"]:checked ~ [class*="color-tomato-"][class*="-relay"] [class*="color-tomato-"][class*="-target5"],
[class*="color-tomato-"][class*="-check"]:checked ~ [class*="color-tomato-"][class*="-hub"] [class*="color-tomato-"][class*="-goal"] {
  color: var(--tomato);
}

[class*="color-violet-"][class*="-base"],
[class*="color-violet-"][class*="-global"] > *,
*:hover > [class*="color-violet-"][class*="-into"],
*:focus > [class*="color-violet-"][class*="-into"],
*:active > [class*="color-violet-"][class*="-into"],
[class*="color-violet-"][class*="-onto"]:hover,
[class*="color-violet-"][class*="-onto"]:focus,
[class*="color-violet-"][class*="-onto"]:active,
[class*="color-violet-"][class*="-toall"]:hover > *,
[class*="color-violet-"][class*="-toall"]:focus > *,
[class*="color-violet-"][class*="-toall"]:active > *,
[class*="color-violet-"][class*="-toone"] > *:hover,
[class*="color-violet-"][class*="-toone"] > *:focus,
[class*="color-violet-"][class*="-toone"] > *:active,
[class*="color-violet-"][class*="-radio1"]:checked ~ [class*="color-violet-"][class*="-relay"] [class*="color-violet-"][class*="-target1"],
[class*="color-violet-"][class*="-radio2"]:checked ~ [class*="color-violet-"][class*="-relay"] [class*="color-violet-"][class*="-target2"],
[class*="color-violet-"][class*="-radio3"]:checked ~ [class*="color-violet-"][class*="-relay"] [class*="color-violet-"][class*="-target3"],
[class*="color-violet-"][class*="-radio4"]:checked ~ [class*="color-violet-"][class*="-relay"] [class*="color-violet-"][class*="-target4"],
[class*="color-violet-"][class*="-radio5"]:checked ~ [class*="color-violet-"][class*="-relay"] [class*="color-violet-"][class*="-target5"],
[class*="color-violet-"][class*="-check"]:checked ~ [class*="color-violet-"][class*="-hub"] [class*="color-violet-"][class*="-goal"] {
  color: var(--violet);
}

[class*="color-white-"][class*="-base"],
[class*="color-white-"][class*="-global"] > *,
*:hover > [class*="color-white-"][class*="-into"],
*:focus > [class*="color-white-"][class*="-into"],
*:active > [class*="color-white-"][class*="-into"],
[class*="color-white-"][class*="-onto"]:hover,
[class*="color-white-"][class*="-onto"]:focus,
[class*="color-white-"][class*="-onto"]:active,
[class*="color-white-"][class*="-toall"]:hover > *,
[class*="color-white-"][class*="-toall"]:focus > *,
[class*="color-white-"][class*="-toall"]:active > *,
[class*="color-white-"][class*="-toone"] > *:hover,
[class*="color-white-"][class*="-toone"] > *:focus,
[class*="color-white-"][class*="-toone"] > *:active,
[class*="color-white-"][class*="-radio1"]:checked ~ [class*="color-white-"][class*="-relay"] [class*="color-white-"][class*="-target1"],
[class*="color-white-"][class*="-radio2"]:checked ~ [class*="color-white-"][class*="-relay"] [class*="color-white-"][class*="-target2"],
[class*="color-white-"][class*="-radio3"]:checked ~ [class*="color-white-"][class*="-relay"] [class*="color-white-"][class*="-target3"],
[class*="color-white-"][class*="-radio4"]:checked ~ [class*="color-white-"][class*="-relay"] [class*="color-white-"][class*="-target4"],
[class*="color-white-"][class*="-radio5"]:checked ~ [class*="color-white-"][class*="-relay"] [class*="color-white-"][class*="-target5"],
[class*="color-white-"][class*="-check"]:checked ~ [class*="color-white-"][class*="-hub"] [class*="color-white-"][class*="-goal"] {
  color: var(--white);
}

/***** 3 - Brand Colors *****/
[class*="color-fb-"][class*="-base"],
[class*="color-fb-"][class*="-global"] > *,
*:hover > [class*="color-fb-"][class*="-into"],
*:focus > [class*="color-fb-"][class*="-into"],
*:active > [class*="color-fb-"][class*="-into"],
[class*="color-fb-"][class*="-onto"]:hover,
[class*="color-fb-"][class*="-onto"]:focus,
[class*="color-fb-"][class*="-onto"]:active,
[class*="color-fb-"][class*="-toall"]:hover > *,
[class*="color-fb-"][class*="-toall"]:focus > *,
[class*="color-fb-"][class*="-toall"]:active > *,
[class*="color-fb-"][class*="-toone"] > *:hover,
[class*="color-fb-"][class*="-toone"] > *:focus,
[class*="color-fb-"][class*="-toone"] > *:active,
[class*="color-fb-"][class*="-radio1"]:checked ~ [class*="color-fb-"][class*="-relay"] [class*="color-fb-"][class*="-target1"],
[class*="color-fb-"][class*="-radio2"]:checked ~ [class*="color-fb-"][class*="-relay"] [class*="color-fb-"][class*="-target2"],
[class*="color-fb-"][class*="-radio3"]:checked ~ [class*="color-fb-"][class*="-relay"] [class*="color-fb-"][class*="-target3"],
[class*="color-fb-"][class*="-radio4"]:checked ~ [class*="color-fb-"][class*="-relay"] [class*="color-fb-"][class*="-target4"],
[class*="color-fb-"][class*="-radio5"]:checked ~ [class*="color-fb-"][class*="-relay"] [class*="color-fb-"][class*="-target5"],
[class*="color-fb-"][class*="-check"]:checked ~ [class*="color-fb-"][class*="-hub"] [class*="color-fb-"][class*="-goal"] {
  color: var(--facebook);
}

[class*="color-github-"][class*="-base"],
[class*="color-github-"][class*="-global"] > *,
*:hover > [class*="color-github-"][class*="-into"],
*:focus > [class*="color-github-"][class*="-into"],
*:active > [class*="color-github-"][class*="-into"],
[class*="color-github-"][class*="-onto"]:hover,
[class*="color-github-"][class*="-onto"]:focus,
[class*="color-github-"][class*="-onto"]:active,
[class*="color-github-"][class*="-toall"]:hover > *,
[class*="color-github-"][class*="-toall"]:focus > *,
[class*="color-github-"][class*="-toall"]:active > *,
[class*="color-github-"][class*="-toone"] > *:hover,
[class*="color-github-"][class*="-toone"] > *:focus,
[class*="color-github-"][class*="-toone"] > *:active,
[class*="color-github-"][class*="-radio1"]:checked ~ [class*="color-github-"][class*="-relay"] [class*="color-github-"][class*="-target1"],
[class*="color-github-"][class*="-radio2"]:checked ~ [class*="color-github-"][class*="-relay"] [class*="color-github-"][class*="-target2"],
[class*="color-github-"][class*="-radio3"]:checked ~ [class*="color-github-"][class*="-relay"] [class*="color-github-"][class*="-target3"],
[class*="color-github-"][class*="-radio4"]:checked ~ [class*="color-github-"][class*="-relay"] [class*="color-github-"][class*="-target4"],
[class*="color-github-"][class*="-radio5"]:checked ~ [class*="color-github-"][class*="-relay"] [class*="color-github-"][class*="-target5"],
[class*="color-github-"][class*="-check"]:checked ~ [class*="color-github-"][class*="-hub"] [class*="color-github-"][class*="-goal"] {
  color: var(--github);
}

[class*="color-jsd-"][class*="-base"],
[class*="color-jsd-"][class*="-global"] > *,
*:hover > [class*="color-jsd-"][class*="-into"],
*:focus > [class*="color-jsd-"][class*="-into"],
*:active > [class*="color-jsd-"][class*="-into"],
[class*="color-jsd-"][class*="-onto"]:hover,
[class*="color-jsd-"][class*="-onto"]:focus,
[class*="color-jsd-"][class*="-onto"]:active,
[class*="color-jsd-"][class*="-toall"]:hover > *,
[class*="color-jsd-"][class*="-toall"]:focus > *,
[class*="color-jsd-"][class*="-toall"]:active > *,
[class*="color-jsd-"][class*="-toone"] > *:hover,
[class*="color-jsd-"][class*="-toone"] > *:focus,
[class*="color-jsd-"][class*="-toone"] > *:active,
[class*="color-jsd-"][class*="-radio1"]:checked ~ [class*="color-jsd-"][class*="-relay"] [class*="color-jsd-"][class*="-target1"],
[class*="color-jsd-"][class*="-radio2"]:checked ~ [class*="color-jsd-"][class*="-relay"] [class*="color-jsd-"][class*="-target2"],
[class*="color-jsd-"][class*="-radio3"]:checked ~ [class*="color-jsd-"][class*="-relay"] [class*="color-jsd-"][class*="-target3"],
[class*="color-jsd-"][class*="-radio4"]:checked ~ [class*="color-jsd-"][class*="-relay"] [class*="color-jsd-"][class*="-target4"],
[class*="color-jsd-"][class*="-radio5"]:checked ~ [class*="color-jsd-"][class*="-relay"] [class*="color-jsd-"][class*="-target5"],
[class*="color-jsd-"][class*="-check"]:checked ~ [class*="color-jsd-"][class*="-hub"] [class*="color-jsd-"][class*="-goal"] {
  color: var(--jsdelivr);
}

[class*="color-linkedin-"][class*="-base"],
[class*="color-linkedin-"][class*="-global"] > *,
*:hover > [class*="color-linkedin-"][class*="-into"],
*:focus > [class*="color-linkedin-"][class*="-into"],
*:active > [class*="color-linkedin-"][class*="-into"],
[class*="color-linkedin-"][class*="-onto"]:hover,
[class*="color-linkedin-"][class*="-onto"]:focus,
[class*="color-linkedin-"][class*="-onto"]:active,
[class*="color-linkedin-"][class*="-toall"]:hover > *,
[class*="color-linkedin-"][class*="-toall"]:focus > *,
[class*="color-linkedin-"][class*="-toall"]:active > *,
[class*="color-linkedin-"][class*="-toone"] > *:hover,
[class*="color-linkedin-"][class*="-toone"] > *:focus,
[class*="color-linkedin-"][class*="-toone"] > *:active,
[class*="color-linkedin-"][class*="-radio1"]:checked ~ [class*="color-linkedin-"][class*="-relay"] [class*="color-linkedin-"][class*="-target1"],
[class*="color-linkedin-"][class*="-radio2"]:checked ~ [class*="color-linkedin-"][class*="-relay"] [class*="color-linkedin-"][class*="-target2"],
[class*="color-linkedin-"][class*="-radio3"]:checked ~ [class*="color-linkedin-"][class*="-relay"] [class*="color-linkedin-"][class*="-target3"],
[class*="color-linkedin-"][class*="-radio4"]:checked ~ [class*="color-linkedin-"][class*="-relay"] [class*="color-linkedin-"][class*="-target4"],
[class*="color-linkedin-"][class*="-radio5"]:checked ~ [class*="color-linkedin-"][class*="-relay"] [class*="color-linkedin-"][class*="-target5"],
[class*="color-linkedin-"][class*="-check"]:checked ~ [class*="color-linkedin-"][class*="-hub"] [class*="color-linkedin-"][class*="-goal"] {
  color: var(--linkedin);
}

[class*="color-npm-"][class*="-base"],
[class*="color-npm-"][class*="-global"] > *,
*:hover > [class*="color-npm-"][class*="-into"],
*:focus > [class*="color-npm-"][class*="-into"],
*:active > [class*="color-npm-"][class*="-into"],
[class*="color-npm-"][class*="-onto"]:hover,
[class*="color-npm-"][class*="-onto"]:focus,
[class*="color-npm-"][class*="-onto"]:active,
[class*="color-npm-"][class*="-toall"]:hover > *,
[class*="color-npm-"][class*="-toall"]:focus > *,
[class*="color-npm-"][class*="-toall"]:active > *,
[class*="color-npm-"][class*="-toone"] > *:hover,
[class*="color-npm-"][class*="-toone"] > *:focus,
[class*="color-npm-"][class*="-toone"] > *:active,
[class*="color-npm-"][class*="-radio1"]:checked ~ [class*="color-npm-"][class*="-relay"] [class*="color-npm-"][class*="-target1"],
[class*="color-npm-"][class*="-radio2"]:checked ~ [class*="color-npm-"][class*="-relay"] [class*="color-npm-"][class*="-target2"],
[class*="color-npm-"][class*="-radio3"]:checked ~ [class*="color-npm-"][class*="-relay"] [class*="color-npm-"][class*="-target3"],
[class*="color-npm-"][class*="-radio4"]:checked ~ [class*="color-npm-"][class*="-relay"] [class*="color-npm-"][class*="-target4"],
[class*="color-npm-"][class*="-radio5"]:checked ~ [class*="color-npm-"][class*="-relay"] [class*="color-npm-"][class*="-target5"],
[class*="color-npm-"][class*="-check"]:checked ~ [class*="color-npm-"][class*="-hub"] [class*="color-npm-"][class*="-goal"] {
  color: var(--npm);
}

[class*="color-stack-"][class*="-base"],
[class*="color-stack-"][class*="-global"] > *,
*:hover > [class*="color-stack-"][class*="-into"],
*:focus > [class*="color-stack-"][class*="-into"],
*:active > [class*="color-stack-"][class*="-into"],
[class*="color-stack-"][class*="-onto"]:hover,
[class*="color-stack-"][class*="-onto"]:focus,
[class*="color-stack-"][class*="-onto"]:active,
[class*="color-stack-"][class*="-toall"]:hover > *,
[class*="color-stack-"][class*="-toall"]:focus > *,
[class*="color-stack-"][class*="-toall"]:active > *,
[class*="color-stack-"][class*="-toone"] > *:hover,
[class*="color-stack-"][class*="-toone"] > *:focus,
[class*="color-stack-"][class*="-toone"] > *:active,
[class*="color-stack-"][class*="-radio1"]:checked ~ [class*="color-stack-"][class*="-relay"] [class*="color-stack-"][class*="-target1"],
[class*="color-stack-"][class*="-radio2"]:checked ~ [class*="color-stack-"][class*="-relay"] [class*="color-stack-"][class*="-target2"],
[class*="color-stack-"][class*="-radio3"]:checked ~ [class*="color-stack-"][class*="-relay"] [class*="color-stack-"][class*="-target3"],
[class*="color-stack-"][class*="-radio4"]:checked ~ [class*="color-stack-"][class*="-relay"] [class*="color-stack-"][class*="-target4"],
[class*="color-stack-"][class*="-radio5"]:checked ~ [class*="color-stack-"][class*="-relay"] [class*="color-stack-"][class*="-target5"],
[class*="color-stack-"][class*="-check"]:checked ~ [class*="color-stack-"][class*="-hub"] [class*="color-stack-"][class*="-goal"] {
  color: var(--stackoverflow);
}

[class*="color-tw-"][class*="-base"],
[class*="color-tw-"][class*="-global"] > *,
*:hover > [class*="color-tw-"][class*="-into"],
*:focus > [class*="color-tw-"][class*="-into"],
*:active > [class*="color-tw-"][class*="-into"],
[class*="color-tw-"][class*="-onto"]:hover,
[class*="color-tw-"][class*="-onto"]:focus,
[class*="color-tw-"][class*="-onto"]:active,
[class*="color-tw-"][class*="-toall"]:hover > *,
[class*="color-tw-"][class*="-toall"]:focus > *,
[class*="color-tw-"][class*="-toall"]:active > *,
[class*="color-tw-"][class*="-toone"] > *:hover,
[class*="color-tw-"][class*="-toone"] > *:focus,
[class*="color-tw-"][class*="-toone"] > *:active,
[class*="color-tw-"][class*="-radio1"]:checked ~ [class*="color-tw-"][class*="-relay"] [class*="color-tw-"][class*="-target1"],
[class*="color-tw-"][class*="-radio2"]:checked ~ [class*="color-tw-"][class*="-relay"] [class*="color-tw-"][class*="-target2"],
[class*="color-tw-"][class*="-radio3"]:checked ~ [class*="color-tw-"][class*="-relay"] [class*="color-tw-"][class*="-target3"],
[class*="color-tw-"][class*="-radio4"]:checked ~ [class*="color-tw-"][class*="-relay"] [class*="color-tw-"][class*="-target4"],
[class*="color-tw-"][class*="-radio5"]:checked ~ [class*="color-tw-"][class*="-relay"] [class*="color-tw-"][class*="-target5"],
[class*="color-tw-"][class*="-check"]:checked ~ [class*="color-tw-"][class*="-hub"] [class*="color-tw-"][class*="-goal"] {
  color: var(--twitter);
}
