/********** COLOR **********/

/*
1 - Main Colors
2 - Pale Colors
3 - Brand Colors
*/

/***** 1 - Main Colors *****/
.color-black,
.color-black-global > *,
*:hover > .color-black-into,
*:focus > .color-black-into,
.color-black-onto:hover,
.color-black-onto:focus,
.color-black-toall:hover > *,
.color-black-toall:focus > *,
.color-black-toone > *:hover,
.color-black-toone > *:focus,
.color-black-radio1:checked ~ .color-black-relay .color-black-target1,
.color-black-radio2:checked ~ .color-black-relay .color-black-target2,
.color-black-radio3:checked ~ .color-black-relay .color-black-target3,
.color-black-radio4:checked ~ .color-black-relay .color-black-target4,
.color-black-radio5:checked ~ .color-black-relay .color-black-target5,
.color-black-check:checked ~ .color-black-hub .color-black-goal {
  color: var(--black);
}

.color-blue,
.color-blue-global > *,
*:hover > .color-blue-into,
*:focus > .color-blue-into,
.color-blue-onto:hover,
.color-blue-onto:focus,
.color-blue-toall:hover > *,
.color-blue-toall:focus > *,
.color-blue-toone > *:hover,
.color-blue-toone > *:focus,
.color-blue-radio1:checked ~ .color-blue-relay .color-blue-target1,
.color-blue-radio2:checked ~ .color-blue-relay .color-blue-target2,
.color-blue-radio3:checked ~ .color-blue-relay .color-blue-target3,
.color-blue-radio4:checked ~ .color-blue-relay .color-blue-target4,
.color-blue-radio5:checked ~ .color-blue-relay .color-blue-target5,
.color-blue-check:checked ~ .color-blue-hub .color-blue-goal {
  color: var(--blue);
}

.color-maroon,
.color-maroon-global > *,
*:hover > .color-maroon-into,
*:focus > .color-maroon-into,
.color-maroon-onto:hover,
.color-maroon-onto:focus,
.color-maroon-toall:hover > *,
.color-maroon-toall:focus > *,
.color-maroon-toone > *:hover,
.color-maroon-toone > *:focus,
.color-maroon-radio1:checked ~ .color-maroon-relay .color-maroon-target1,
.color-maroon-radio2:checked ~ .color-maroon-relay .color-maroon-target2,
.color-maroon-radio3:checked ~ .color-maroon-relay .color-maroon-target3,
.color-maroon-radio4:checked ~ .color-maroon-relay .color-maroon-target4,
.color-maroon-radio5:checked ~ .color-maroon-relay .color-maroon-target5,
.color-maroon-check:checked ~ .color-maroon-hub .color-maroon-goal {
  color: var(--maroon);
}

.color-gray,
.color-gray-global > *,
*:hover > .color-gray-into,
*:focus > .color-gray-into,
.color-gray-onto:hover,
.color-gray-onto:focus,
.color-gray-toall:hover > *,
.color-gray-toall:focus > *,
.color-gray-toone > *:hover,
.color-gray-toone > *:focus,
.color-gray-radio1:checked ~ .color-gray-relay .color-gray-target1,
.color-gray-radio2:checked ~ .color-gray-relay .color-gray-target2,
.color-gray-radio3:checked ~ .color-gray-relay .color-gray-target3,
.color-gray-radio4:checked ~ .color-gray-relay .color-gray-target4,
.color-gray-radio5:checked ~ .color-gray-relay .color-gray-target5,
.color-gray-check:checked ~ .color-gray-hub .color-gray-goal {
  color: var(--gray);
}

.color-green,
.color-green-global > *,
*:hover > .color-green-into,
*:focus > .color-green-into,
.color-green-onto:hover,
.color-green-onto:focus,
.color-green-toall:hover > *,
.color-green-toall:focus > *,
.color-green-toone > *:hover,
.color-green-toone > *:focus,
.color-green-radio1:checked ~ .color-green-relay .color-green-target1,
.color-green-radio2:checked ~ .color-green-relay .color-green-target2,
.color-green-radio3:checked ~ .color-green-relay .color-green-target3,
.color-green-radio4:checked ~ .color-green-relay .color-green-target4,
.color-green-radio5:checked ~ .color-green-relay .color-green-target5,
.color-green-check:checked ~ .color-green-hub .color-green-goal {
  color: var(--green);
}

.color-orange,
.color-orange-global > *,
*:hover > .color-orange-into,
*:focus > .color-orange-into,
.color-orange-onto:hover,
.color-orange-onto:focus,
.color-orange-toall:hover > *,
.color-orange-toall:focus > *,
.color-orange-toone > *:hover,
.color-orange-toone > *:focus,
.color-orange-radio1:checked ~ .color-orange-relay .color-orange-target1,
.color-orange-radio2:checked ~ .color-orange-relay .color-orange-target2,
.color-orange-radio3:checked ~ .color-orange-relay .color-orange-target3,
.color-orange-radio4:checked ~ .color-orange-relay .color-orange-target4,
.color-orange-radio5:checked ~ .color-orange-relay .color-orange-target5,
.color-orange-check:checked ~ .color-orange-hub .color-orange-goal {
  color: var(--orange);
}

.color-purple,
.color-purple-global > *,
*:hover > .color-purple-into,
*:focus > .color-purple-into,
.color-purple-onto:hover,
.color-purple-onto:focus,
.color-purple-toall:hover > *,
.color-purple-toall:focus > *,
.color-purple-toone > *:hover,
.color-purple-toone > *:focus,
.color-purple-radio1:checked ~ .color-purple-relay .color-purple-target1,
.color-purple-radio2:checked ~ .color-purple-relay .color-purple-target2,
.color-purple-radio3:checked ~ .color-purple-relay .color-purple-target3,
.color-purple-radio4:checked ~ .color-purple-relay .color-purple-target4,
.color-purple-radio5:checked ~ .color-purple-relay .color-purple-target5,
.color-purple-check:checked ~ .color-purple-hub .color-purple-goal {
  color: var(--purple);
}

.color-red,
.color-red-global > *,
*:hover > .color-red-into,
*:focus > .color-red-into,
.color-red-onto:hover,
.color-red-onto:focus,
.color-red-toall:hover > *,
.color-red-toall:focus > *,
.color-red-toone > *:hover,
.color-red-toone > *:focus,
.color-red-radio1:checked ~ .color-red-relay .color-red-target1,
.color-red-radio2:checked ~ .color-red-relay .color-red-target2,
.color-red-radio3:checked ~ .color-red-relay .color-red-target3,
.color-red-radio4:checked ~ .color-red-relay .color-red-target4,
.color-red-radio5:checked ~ .color-red-relay .color-red-target5,
.color-red-check:checked ~ .color-red-hub .color-red-goal {
  color: var(--red);
}

.color-yellow,
.color-yellow-global > *,
*:hover > .color-yellow-into,
*:focus > .color-yellow-into,
.color-yellow-onto:hover,
.color-yellow-onto:focus,
.color-yellow-toall:hover > *,
.color-yellow-toall:focus > *,
.color-yellow-toone > *:hover,
.color-yellow-toone > *:focus,
.color-yellow-radio1:checked ~ .color-yellow-relay .color-yellow-target1,
.color-yellow-radio2:checked ~ .color-yellow-relay .color-yellow-target2,
.color-yellow-radio3:checked ~ .color-yellow-relay .color-yellow-target3,
.color-yellow-radio4:checked ~ .color-yellow-relay .color-yellow-target4,
.color-yellow-radio5:checked ~ .color-yellow-relay .color-yellow-target5,
.color-yellow-check:checked ~ .color-yellow-hub .color-yellow-goal {
  color: var(--yellow);
}

/***** 2 - Pale Colors *****/
.color-choco,
.color-choco-global > *,
*:hover > .color-choco-into,
*:focus > .color-choco-into,
.color-choco-onto:hover,
.color-choco-onto:focus,
.color-choco-toall:hover > *,
.color-choco-toall:focus > *,
.color-choco-toone > *:hover,
.color-choco-toone > *:focus,
.color-choco-radio1:checked ~ .color-choco-relay .color-choco-target1,
.color-choco-radio2:checked ~ .color-choco-relay .color-choco-target2,
.color-choco-radio3:checked ~ .color-choco-relay .color-choco-target3,
.color-choco-radio4:checked ~ .color-choco-relay .color-choco-target4,
.color-choco-radio5:checked ~ .color-choco-relay .color-choco-target5,
.color-choco-check:checked ~ .color-choco-hub .color-choco-goal {
  color: var(--choco);
}

.color-jade,
.color-jade-global > *,
*:hover > .color-jade-into,
*:focus > .color-jade-into,
.color-jade-onto:hover,
.color-jade-onto:focus,
.color-jade-toall:hover > *,
.color-jade-toall:focus > *,
.color-jade-toone > *:hover,
.color-jade-toone > *:focus,
.color-jade-radio1:checked ~ .color-jade-relay .color-jade-target1,
.color-jade-radio2:checked ~ .color-jade-relay .color-jade-target2,
.color-jade-radio3:checked ~ .color-jade-relay .color-jade-target3,
.color-jade-radio4:checked ~ .color-jade-relay .color-jade-target4,
.color-jade-radio5:checked ~ .color-jade-relay .color-jade-target5,
.color-jade-check:checked ~ .color-jade-hub .color-jade-goal {
  color: var(--jade);
}

.color-khaki,
.color-khaki-global > *,
*:hover > .color-khaki-into,
*:focus > .color-khaki-into,
.color-khaki-onto:hover,
.color-khaki-onto:focus,
.color-khaki-toall:hover > *,
.color-khaki-toall:focus > *,
.color-khaki-toone > *:hover,
.color-khaki-toone > *:focus,
.color-khaki-radio1:checked ~ .color-khaki-relay .color-khaki-target1,
.color-khaki-radio2:checked ~ .color-khaki-relay .color-khaki-target2,
.color-khaki-radio3:checked ~ .color-khaki-relay .color-khaki-target3,
.color-khaki-radio4:checked ~ .color-khaki-relay .color-khaki-target4,
.color-khaki-radio5:checked ~ .color-khaki-relay .color-khaki-target5,
.color-khaki-check:checked ~ .color-khaki-hub .color-khaki-goal {
  color: var(--khaki);
}

.color-salmon,
.color-salmon-global > *,
*:hover > .color-salmon-into,
*:focus > .color-salmon-into,
.color-salmon-onto:hover,
.color-salmon-onto:focus,
.color-salmon-toall:hover > *,
.color-salmon-toall:focus > *,
.color-salmon-toone > *:hover,
.color-salmon-toone > *:focus,
.color-salmon-radio1:checked ~ .color-salmon-relay .color-salmon-target1,
.color-salmon-radio2:checked ~ .color-salmon-relay .color-salmon-target2,
.color-salmon-radio3:checked ~ .color-salmon-relay .color-salmon-target3,
.color-salmon-radio4:checked ~ .color-salmon-relay .color-salmon-target4,
.color-salmon-radio5:checked ~ .color-salmon-relay .color-salmon-target5,
.color-salmon-check:checked ~ .color-salmon-hub .color-salmon-goal {
  color: var(--salmon);
}

.color-silver,
.color-silver-global > *,
*:hover > .color-silver-into,
*:focus > .color-silver-into,
.color-silver-onto:hover,
.color-silver-onto:focus,
.color-silver-toall:hover > *,
.color-silver-toall:focus > *,
.color-silver-toone > *:hover,
.color-silver-toone > *:focus,
.color-silver-radio1:checked ~ .color-silver-relay .color-silver-target1,
.color-silver-radio2:checked ~ .color-silver-relay .color-silver-target2,
.color-silver-radio3:checked ~ .color-silver-relay .color-silver-target3,
.color-silver-radio4:checked ~ .color-silver-relay .color-silver-target4,
.color-silver-radio5:checked ~ .color-silver-relay .color-silver-target5,
.color-silver-check:checked ~ .color-silver-hub .color-silver-goal {
  color: var(--silver);
}

.color-sky,
.color-sky-global > *,
*:hover > .color-sky-into,
*:focus > .color-sky-into,
.color-sky-onto:hover,
.color-sky-onto:focus,
.color-sky-toall:hover > *,
.color-sky-toall:focus > *,
.color-sky-toone > *:hover,
.color-sky-toone > *:focus,
.color-sky-radio1:checked ~ .color-sky-relay .color-sky-target1,
.color-sky-radio2:checked ~ .color-sky-relay .color-sky-target2,
.color-sky-radio3:checked ~ .color-sky-relay .color-sky-target3,
.color-sky-radio4:checked ~ .color-sky-relay .color-sky-target4,
.color-sky-radio5:checked ~ .color-sky-relay .color-sky-target5,
.color-sky-check:checked ~ .color-sky-hub .color-sky-goal {
  color: var(--sky);
}

.color-tomato,
.color-tomato-global > *,
*:hover > .color-tomato-into,
*:focus > .color-tomato-into,
.color-tomato-onto:hover,
.color-tomato-onto:focus,
.color-tomato-toall:hover > *,
.color-tomato-toall:focus > *,
.color-tomato-toone > *:hover,
.color-tomato-toone > *:focus,
.color-tomato-radio1:checked ~ .color-tomato-relay .color-tomato-target1,
.color-tomato-radio2:checked ~ .color-tomato-relay .color-tomato-target2,
.color-tomato-radio3:checked ~ .color-tomato-relay .color-tomato-target3,
.color-tomato-radio4:checked ~ .color-tomato-relay .color-tomato-target4,
.color-tomato-radio5:checked ~ .color-tomato-relay .color-tomato-target5,
.color-tomato-check:checked ~ .color-tomato-hub .color-tomato-goal {
  color: var(--tomato);
}

.color-violet,
.color-violet-global > *,
*:hover > .color-violet-into,
*:focus > .color-violet-into,
.color-violet-onto:hover,
.color-violet-onto:focus,
.color-violet-toall:hover > *,
.color-violet-toall:focus > *,
.color-violet-toone > *:hover,
.color-violet-toone > *:focus,
.color-violet-radio1:checked ~ .color-violet-relay .color-violet-target1,
.color-violet-radio2:checked ~ .color-violet-relay .color-violet-target2,
.color-violet-radio3:checked ~ .color-violet-relay .color-violet-target3,
.color-violet-radio4:checked ~ .color-violet-relay .color-violet-target4,
.color-violet-radio5:checked ~ .color-violet-relay .color-violet-target5,
.color-violet-check:checked ~ .color-violet-hub .color-violet-goal {
  color: var(--violet);
}

.color-white,
.color-white-global > *,
*:hover > .color-white-into,
*:focus > .color-white-into,
.color-white-onto:hover,
.color-white-onto:focus,
.color-white-toall:hover > *,
.color-white-toall:focus > *,
.color-white-toone > *:hover,
.color-white-toone > *:focus,
.color-white-radio1:checked ~ .color-white-relay .color-white-target1,
.color-white-radio2:checked ~ .color-white-relay .color-white-target2,
.color-white-radio3:checked ~ .color-white-relay .color-white-target3,
.color-white-radio4:checked ~ .color-white-relay .color-white-target4,
.color-white-radio5:checked ~ .color-white-relay .color-white-target5,
.color-white-check:checked ~ .color-white-hub .color-white-goal {
  color: var(--white);
}

/***** 3 - Brand Colors *****/
.color-fb,
.color-fb-global > *,
*:hover > .color-fb-into,
*:focus > .color-fb-into,
.color-fb-onto:hover,
.color-fb-onto:focus,
.color-fb-toall:hover > *,
.color-fb-toall:focus > *,
.color-fb-toone > *:hover,
.color-fb-toone > *:focus,
.color-fb-radio1:checked ~ .color-fb-relay .color-fb-target1,
.color-fb-radio2:checked ~ .color-fb-relay .color-fb-target2,
.color-fb-radio3:checked ~ .color-fb-relay .color-fb-target3,
.color-fb-radio4:checked ~ .color-fb-relay .color-fb-target4,
.color-fb-radio5:checked ~ .color-fb-relay .color-fb-target5,
.color-fb-check:checked ~ .color-fb-hub .color-fb-goal {
  color: var(--facebook);
}

.color-github,
.color-github-global > *,
*:hover > .color-github-into,
*:focus > .color-github-into,
.color-github-onto:hover,
.color-github-onto:focus,
.color-github-toall:hover > *,
.color-github-toall:focus > *,
.color-github-toone > *:hover,
.color-github-toone > *:focus,
.color-github-radio1:checked ~ .color-github-relay .color-github-target1,
.color-github-radio2:checked ~ .color-github-relay .color-github-target2,
.color-github-radio3:checked ~ .color-github-relay .color-github-target3,
.color-github-radio4:checked ~ .color-github-relay .color-github-target4,
.color-github-radio5:checked ~ .color-github-relay .color-github-target5,
.color-github-check:checked ~ .color-github-hub .color-github-goal {
  color: var(--github);
}

.color-jsd,
.color-jsd-global > *,
*:hover > .color-jsd-into,
*:focus > .color-jsd-into,
.color-jsd-onto:hover,
.color-jsd-onto:focus,
.color-jsd-toall:hover > *,
.color-jsd-toall:focus > *,
.color-jsd-toone > *:hover,
.color-jsd-toone > *:focus,
.color-jsd-radio1:checked ~ .color-jsd-relay .color-jsd-target1,
.color-jsd-radio2:checked ~ .color-jsd-relay .color-jsd-target2,
.color-jsd-radio3:checked ~ .color-jsd-relay .color-jsd-target3,
.color-jsd-radio4:checked ~ .color-jsd-relay .color-jsd-target4,
.color-jsd-radio5:checked ~ .color-jsd-relay .color-jsd-target5,
.color-jsd-check:checked ~ .color-jsd-hub .color-jsd-goal {
  color: var(--jsdelivr);
}

.color-in,
.color-in-global > *,
*:hover > .color-in-into,
*:focus > .color-in-into,
.color-in-onto:hover,
.color-in-onto:focus,
.color-in-toall:hover > *,
.color-in-toall:focus > *,
.color-in-toone > *:hover,
.color-in-toone > *:focus,
.color-in-radio1:checked ~ .color-in-relay .color-in-target1,
.color-in-radio2:checked ~ .color-in-relay .color-in-target2,
.color-in-radio3:checked ~ .color-in-relay .color-in-target3,
.color-in-radio4:checked ~ .color-in-relay .color-in-target4,
.color-in-radio5:checked ~ .color-in-relay .color-in-target5,
.color-in-check:checked ~ .color-in-hub .color-in-goal {
  color: var(--linkedin);
}

.color-npm,
.color-npm-global > *,
*:hover > .color-npm-into,
*:focus > .color-npm-into,
.color-npm-onto:hover,
.color-npm-onto:focus,
.color-npm-toall:hover > *,
.color-npm-toall:focus > *,
.color-npm-toone > *:hover,
.color-npm-toone > *:focus,
.color-npm-radio1:checked ~ .color-npm-relay .color-npm-target1,
.color-npm-radio2:checked ~ .color-npm-relay .color-npm-target2,
.color-npm-radio3:checked ~ .color-npm-relay .color-npm-target3,
.color-npm-radio4:checked ~ .color-npm-relay .color-npm-target4,
.color-npm-radio5:checked ~ .color-npm-relay .color-npm-target5,
.color-npm-check:checked ~ .color-npm-hub .color-npm-goal {
  color: var(--npm);
}

.color-stack,
.color-stack-global > *,
*:hover > .color-stack-into,
*:focus > .color-stack-into,
.color-stack-onto:hover,
.color-stack-onto:focus,
.color-stack-toall:hover > *,
.color-stack-toall:focus > *,
.color-stack-toone > *:hover,
.color-stack-toone > *:focus,
.color-stack-radio1:checked ~ .color-stack-relay .color-stack-target1,
.color-stack-radio2:checked ~ .color-stack-relay .color-stack-target2,
.color-stack-radio3:checked ~ .color-stack-relay .color-stack-target3,
.color-stack-radio4:checked ~ .color-stack-relay .color-stack-target4,
.color-stack-radio5:checked ~ .color-stack-relay .color-stack-target5,
.color-stack-check:checked ~ .color-stack-hub .color-stack-goal {
  color: var(--stack-overflow);
}

.color-tw,
.color-tw-global > *,
*:hover > .color-tw-into,
*:focus > .color-tw-into,
.color-tw-onto:hover,
.color-tw-onto:focus,
.color-tw-toall:hover > *,
.color-tw-toall:focus > *,
.color-tw-toone > *:hover,
.color-tw-toone > *:focus,
.color-tw-radio1:checked ~ .color-tw-relay .color-tw-target1,
.color-tw-radio2:checked ~ .color-tw-relay .color-tw-target2,
.color-tw-radio3:checked ~ .color-tw-relay .color-tw-target3,
.color-tw-radio4:checked ~ .color-tw-relay .color-tw-target4,
.color-tw-radio5:checked ~ .color-tw-relay .color-tw-target5,
.color-tw-check:checked ~ .color-tw-hub .color-tw-goal {
  color: var(--twitter);
}
