/******************** DECO *********************/

/*
1. TEXT DECORATION
  1.1 Deco
2. TEXT DECORATION LINE
  2.1 None
  2.2 Under
  2.3 Through
  2.4 Over
3. TEXT DECORATION STYLE
  3.1 Solid
  3.2 Double
  3.3 Dash
  3.4 Dot
  3.5 Wavy
4. TEXT DECORATION COLOR
  4.1 Black
  4.2 Blue
  4.3 Gray
  4.4 Green
  4.5 Maroon
  4.6 Orange
  4.7 Purple
  4.8 Red
  4.9 White
  4.10 Yellow
*/

/********** 1. TEXT DECORATION **********/

/*
1.1 Deco
*/

/***** 1.1 Deco *****/
[class*="deco-"][class*="-base"],
[class*="deco-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-into"],
*:focus > [class*="deco-"][class*="-into"],
*:active > [class*="deco-"][class*="-into"],
[class*="deco-"][class*="-onto"]:hover,
[class*="deco-"][class*="-onto"]:focus,
[class*="deco-"][class*="-onto"]:active,
[class*="deco-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target1"],
[class*="deco-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target2"],
[class*="deco-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target3"],
[class*="deco-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target4"],
[class*="deco-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target5"],
[class*="deco-"][class*="-check"]:checked ~ [class*="deco-"][class*="-hub"] [class*="deco-"][class*="-goal"] {
  text-decoration-line: var(--deco-line);
  text-decoration-style: var(--deco-style);
  text-decoration-color: var(--deco-color);
}

/********** 1. TEXT DECORATION LINE **********/

/*
2.1 None
2.2 Under
2.3 Through
2.4 Over
*/

/***** 2.1 Deco None *****/
[class*="deco-none-"][class*="-base"],
[class*="deco-none-"][class*="-global"] > *,
*:hover > [class*="deco-none-"][class*="-into"],
*:focus > [class*="deco-none-"][class*="-into"],
*:active > [class*="deco-none-"][class*="-into"],
[class*="deco-none-"][class*="-onto"]:hover,
[class*="deco-none-"][class*="-onto"]:focus,
[class*="deco-none-"][class*="-onto"]:active,
[class*="deco-none-"][class*="-toall"]:hover > *,
[class*="deco-none-"][class*="-toall"]:focus > *,
[class*="deco-none-"][class*="-toall"]:active > *,
[class*="deco-none-"][class*="-toone"] > *:hover,
[class*="deco-none-"][class*="-toone"] > *:focus,
[class*="deco-none-"][class*="-toone"] > *:active,
[class*="deco-none-"][class*="-radio1"]:checked ~ [class*="deco-none-"][class*="-relay"] [class*="deco-none-"][class*="-target1"],
[class*="deco-none-"][class*="-radio2"]:checked ~ [class*="deco-none-"][class*="-relay"] [class*="deco-none-"][class*="-target2"],
[class*="deco-none-"][class*="-radio3"]:checked ~ [class*="deco-none-"][class*="-relay"] [class*="deco-none-"][class*="-target3"],
[class*="deco-none-"][class*="-radio4"]:checked ~ [class*="deco-none-"][class*="-relay"] [class*="deco-none-"][class*="-target4"],
[class*="deco-none-"][class*="-radio5"]:checked ~ [class*="deco-none-"][class*="-relay"] [class*="deco-none-"][class*="-target5"],
[class*="deco-none-"][class*="-check"]:checked ~ [class*="deco-none-"][class*="-hub"] [class*="deco-none-"][class*="-goal"] {
  text-decoration-line: none;
}

/***** 2.2 Deco Under *****/
[class*="deco-under-"][class*="-base"],
[class*="deco-under-"][class*="-global"] > *,
*:hover > [class*="deco-under-"][class*="-into"],
*:focus > [class*="deco-under-"][class*="-into"],
*:active > [class*="deco-under-"][class*="-into"],
[class*="deco-under-"][class*="-onto"]:hover,
[class*="deco-under-"][class*="-onto"]:focus,
[class*="deco-under-"][class*="-onto"]:active,
[class*="deco-under-"][class*="-toall"]:hover > *,
[class*="deco-under-"][class*="-toall"]:focus > *,
[class*="deco-under-"][class*="-toall"]:active > *,
[class*="deco-under-"][class*="-toone"] > *:hover,
[class*="deco-under-"][class*="-toone"] > *:focus,
[class*="deco-under-"][class*="-toone"] > *:active,
[class*="deco-under-"][class*="-radio1"]:checked ~ [class*="deco-under-"][class*="-relay"] [class*="deco-under-"][class*="-target1"],
[class*="deco-under-"][class*="-radio2"]:checked ~ [class*="deco-under-"][class*="-relay"] [class*="deco-under-"][class*="-target2"],
[class*="deco-under-"][class*="-radio3"]:checked ~ [class*="deco-under-"][class*="-relay"] [class*="deco-under-"][class*="-target3"],
[class*="deco-under-"][class*="-radio4"]:checked ~ [class*="deco-under-"][class*="-relay"] [class*="deco-under-"][class*="-target4"],
[class*="deco-under-"][class*="-radio5"]:checked ~ [class*="deco-under-"][class*="-relay"] [class*="deco-under-"][class*="-target5"],
[class*="deco-under-"][class*="-check"]:checked ~ [class*="deco-under-"][class*="-hub"] [class*="deco-under-"][class*="-goal"] {
  text-decoration-line: underline;
}

/***** 2.3 Deco Through *****/
[class*="deco-through-"][class*="-base"],
[class*="deco-through-"][class*="-global"] > *,
*:hover > [class*="deco-through-"][class*="-into"],
*:focus > [class*="deco-through-"][class*="-into"],
*:active > [class*="deco-through-"][class*="-into"],
[class*="deco-through-"][class*="-onto"]:hover,
[class*="deco-through-"][class*="-onto"]:focus,
[class*="deco-through-"][class*="-onto"]:active,
[class*="deco-through-"][class*="-toall"]:hover > *,
[class*="deco-through-"][class*="-toall"]:focus > *,
[class*="deco-through-"][class*="-toall"]:active > *,
[class*="deco-through-"][class*="-toone"] > *:hover,
[class*="deco-through-"][class*="-toone"] > *:focus,
[class*="deco-through-"][class*="-toone"] > *:active,
[class*="deco-through-"][class*="-radio1"]:checked ~ [class*="deco-through-"][class*="-relay"] [class*="deco-through-"][class*="-target1"],
[class*="deco-through-"][class*="-radio2"]:checked ~ [class*="deco-through-"][class*="-relay"] [class*="deco-through-"][class*="-target2"],
[class*="deco-through-"][class*="-radio3"]:checked ~ [class*="deco-through-"][class*="-relay"] [class*="deco-through-"][class*="-target3"],
[class*="deco-through-"][class*="-radio4"]:checked ~ [class*="deco-through-"][class*="-relay"] [class*="deco-through-"][class*="-target4"],
[class*="deco-through-"][class*="-radio5"]:checked ~ [class*="deco-through-"][class*="-relay"] [class*="deco-through-"][class*="-target5"],
[class*="deco-through-"][class*="-check"]:checked ~ [class*="deco-through-"][class*="-hub"] [class*="deco-through-"][class*="-goal"] {
  text-decoration-line: line-through;
}

/***** 2.4 Deco Over *****/
[class*="deco-over-"][class*="-base"],
[class*="deco-over-"][class*="-global"] > *,
*:hover > [class*="deco-over-"][class*="-into"],
*:focus > [class*="deco-over-"][class*="-into"],
*:active > [class*="deco-over-"][class*="-into"],
[class*="deco-over-"][class*="-onto"]:hover,
[class*="deco-over-"][class*="-onto"]:focus,
[class*="deco-over-"][class*="-onto"]:active,
[class*="deco-over-"][class*="-toall"]:hover > *,
[class*="deco-over-"][class*="-toall"]:focus > *,
[class*="deco-over-"][class*="-toall"]:active > *,
[class*="deco-over-"][class*="-toone"] > *:hover,
[class*="deco-over-"][class*="-toone"] > *:focus,
[class*="deco-over-"][class*="-toone"] > *:active,
[class*="deco-over-"][class*="-radio1"]:checked ~ [class*="deco-over-"][class*="-relay"] [class*="deco-over-"][class*="-target1"],
[class*="deco-over-"][class*="-radio2"]:checked ~ [class*="deco-over-"][class*="-relay"] [class*="deco-over-"][class*="-target2"],
[class*="deco-over-"][class*="-radio3"]:checked ~ [class*="deco-over-"][class*="-relay"] [class*="deco-over-"][class*="-target3"],
[class*="deco-over-"][class*="-radio4"]:checked ~ [class*="deco-over-"][class*="-relay"] [class*="deco-over-"][class*="-target4"],
[class*="deco-over-"][class*="-radio5"]:checked ~ [class*="deco-over-"][class*="-relay"] [class*="deco-over-"][class*="-target5"],
[class*="deco-over-"][class*="-check"]:checked ~ [class*="deco-over-"][class*="-hub"] [class*="deco-over-"][class*="-goal"] {
  text-decoration-line: overline;
}

/********** 3. TEXT DECORATION STYLE **********/

/*
3.1 Solid
3.2 Double
3.3 Dash
3.4 Dot
3.5 Wavy
*/

/***** 3.1 Deco Solid *****/
[class*="deco-solid-"][class*="-base"],
[class*="deco-solid-"][class*="-global"] > *,
*:hover > [class*="deco-solid-"][class*="-into"],
*:focus > [class*="deco-solid-"][class*="-into"],
*:active > [class*="deco-solid-"][class*="-into"],
[class*="deco-solid-"][class*="-onto"]:hover,
[class*="deco-solid-"][class*="-onto"]:focus,
[class*="deco-solid-"][class*="-onto"]:active,
[class*="deco-solid-"][class*="-toall"]:hover > *,
[class*="deco-solid-"][class*="-toall"]:focus > *,
[class*="deco-solid-"][class*="-toall"]:active > *,
[class*="deco-solid-"][class*="-toone"] > *:hover,
[class*="deco-solid-"][class*="-toone"] > *:focus,
[class*="deco-solid-"][class*="-toone"] > *:active,
[class*="deco-solid-"][class*="-radio1"]:checked ~ [class*="deco-solid-"][class*="-relay"] [class*="deco-solid-"][class*="-target1"],
[class*="deco-solid-"][class*="-radio2"]:checked ~ [class*="deco-solid-"][class*="-relay"] [class*="deco-solid-"][class*="-target2"],
[class*="deco-solid-"][class*="-radio3"]:checked ~ [class*="deco-solid-"][class*="-relay"] [class*="deco-solid-"][class*="-target3"],
[class*="deco-solid-"][class*="-radio4"]:checked ~ [class*="deco-solid-"][class*="-relay"] [class*="deco-solid-"][class*="-target4"],
[class*="deco-solid-"][class*="-radio5"]:checked ~ [class*="deco-solid-"][class*="-relay"] [class*="deco-solid-"][class*="-target5"],
[class*="deco-solid-"][class*="-check"]:checked ~ [class*="deco-solid-"][class*="-hub"] [class*="deco-solid-"][class*="-goal"] {
  text-decoration-style: solid;
}

/***** 3.2 Deco Double *****/
[class*="deco-double-"][class*="-base"],
[class*="deco-double-"][class*="-global"] > *,
*:hover > [class*="deco-double-"][class*="-into"],
*:focus > [class*="deco-double-"][class*="-into"],
*:active > [class*="deco-double-"][class*="-into"],
[class*="deco-double-"][class*="-onto"]:hover,
[class*="deco-double-"][class*="-onto"]:focus,
[class*="deco-double-"][class*="-onto"]:active,
[class*="deco-double-"][class*="-toall"]:hover > *,
[class*="deco-double-"][class*="-toall"]:focus > *,
[class*="deco-double-"][class*="-toall"]:active > *,
[class*="deco-double-"][class*="-toone"] > *:hover,
[class*="deco-double-"][class*="-toone"] > *:focus,
[class*="deco-double-"][class*="-toone"] > *:active,
[class*="deco-double-"][class*="-radio1"]:checked ~ [class*="deco-double-"][class*="-relay"] [class*="deco-double-"][class*="-target1"],
[class*="deco-double-"][class*="-radio2"]:checked ~ [class*="deco-double-"][class*="-relay"] [class*="deco-double-"][class*="-target2"],
[class*="deco-double-"][class*="-radio3"]:checked ~ [class*="deco-double-"][class*="-relay"] [class*="deco-double-"][class*="-target3"],
[class*="deco-double-"][class*="-radio4"]:checked ~ [class*="deco-double-"][class*="-relay"] [class*="deco-double-"][class*="-target4"],
[class*="deco-double-"][class*="-radio5"]:checked ~ [class*="deco-double-"][class*="-relay"] [class*="deco-double-"][class*="-target5"],
[class*="deco-double-"][class*="-check"]:checked ~ [class*="deco-double-"][class*="-hub"] [class*="deco-double-"][class*="-goal"] {
  text-decoration-style: double;
}

/***** 3.3 Deco Dash *****/
[class*="deco-dash-"][class*="-base"],
[class*="deco-dash-"][class*="-global"] > *,
*:hover > [class*="deco-dash-"][class*="-into"],
*:focus > [class*="deco-dash-"][class*="-into"],
*:active > [class*="deco-dash-"][class*="-into"],
[class*="deco-dash-"][class*="-onto"]:hover,
[class*="deco-dash-"][class*="-onto"]:focus,
[class*="deco-dash-"][class*="-onto"]:active,
[class*="deco-dash-"][class*="-toall"]:hover > *,
[class*="deco-dash-"][class*="-toall"]:focus > *,
[class*="deco-dash-"][class*="-toall"]:active > *,
[class*="deco-dash-"][class*="-toone"] > *:hover,
[class*="deco-dash-"][class*="-toone"] > *:focus,
[class*="deco-dash-"][class*="-toone"] > *:active,
[class*="deco-dash-"][class*="-radio1"]:checked ~ [class*="deco-dash-"][class*="-relay"] [class*="deco-dash-"][class*="-target1"],
[class*="deco-dash-"][class*="-radio2"]:checked ~ [class*="deco-dash-"][class*="-relay"] [class*="deco-dash-"][class*="-target2"],
[class*="deco-dash-"][class*="-radio3"]:checked ~ [class*="deco-dash-"][class*="-relay"] [class*="deco-dash-"][class*="-target3"],
[class*="deco-dash-"][class*="-radio4"]:checked ~ [class*="deco-dash-"][class*="-relay"] [class*="deco-dash-"][class*="-target4"],
[class*="deco-dash-"][class*="-radio5"]:checked ~ [class*="deco-dash-"][class*="-relay"] [class*="deco-dash-"][class*="-target5"],
[class*="deco-dash-"][class*="-check"]:checked ~ [class*="deco-dash-"][class*="-hub"] [class*="deco-dash-"][class*="-goal"] {
  text-decoration-style: dashed;
}

/***** 3.4 Deco Dot *****/
[class*="deco-dot-"][class*="-base"],
[class*="deco-dot-"][class*="-global"] > *,
*:hover > [class*="deco-dot-"][class*="-into"],
*:focus > [class*="deco-dot-"][class*="-into"],
*:active > [class*="deco-dot-"][class*="-into"],
[class*="deco-dot-"][class*="-onto"]:hover,
[class*="deco-dot-"][class*="-onto"]:focus,
[class*="deco-dot-"][class*="-onto"]:active,
[class*="deco-dot-"][class*="-toall"]:hover > *,
[class*="deco-dot-"][class*="-toall"]:focus > *,
[class*="deco-dot-"][class*="-toall"]:active > *,
[class*="deco-dot-"][class*="-toone"] > *:hover,
[class*="deco-dot-"][class*="-toone"] > *:focus,
[class*="deco-dot-"][class*="-toone"] > *:active,
[class*="deco-dot-"][class*="-radio1"]:checked ~ [class*="deco-dot-"][class*="-relay"] [class*="deco-dot-"][class*="-target1"],
[class*="deco-dot-"][class*="-radio2"]:checked ~ [class*="deco-dot-"][class*="-relay"] [class*="deco-dot-"][class*="-target2"],
[class*="deco-dot-"][class*="-radio3"]:checked ~ [class*="deco-dot-"][class*="-relay"] [class*="deco-dot-"][class*="-target3"],
[class*="deco-dot-"][class*="-radio4"]:checked ~ [class*="deco-dot-"][class*="-relay"] [class*="deco-dot-"][class*="-target4"],
[class*="deco-dot-"][class*="-radio5"]:checked ~ [class*="deco-dot-"][class*="-relay"] [class*="deco-dot-"][class*="-target5"],
[class*="deco-dot-"][class*="-check"]:checked ~ [class*="deco-dot-"][class*="-hub"] [class*="deco-dot-"][class*="-goal"] {
  text-decoration-style: dotted;
}

/***** 3.5 Deco Wavy *****/
[class*="deco-wavy-"][class*="-base"],
[class*="deco-wavy-"][class*="-global"] > *,
*:hover > [class*="deco-wavy-"][class*="-into"],
*:focus > [class*="deco-wavy-"][class*="-into"],
*:active > [class*="deco-wavy-"][class*="-into"],
[class*="deco-wavy-"][class*="-onto"]:hover,
[class*="deco-wavy-"][class*="-onto"]:focus,
[class*="deco-wavy-"][class*="-onto"]:active,
[class*="deco-wavy-"][class*="-toall"]:hover > *,
[class*="deco-wavy-"][class*="-toall"]:focus > *,
[class*="deco-wavy-"][class*="-toall"]:active > *,
[class*="deco-wavy-"][class*="-toone"] > *:hover,
[class*="deco-wavy-"][class*="-toone"] > *:focus,
[class*="deco-wavy-"][class*="-toone"] > *:active,
[class*="deco-wavy-"][class*="-radio1"]:checked ~ [class*="deco-wavy-"][class*="-relay"] [class*="deco-wavy-"][class*="-target1"],
[class*="deco-wavy-"][class*="-radio2"]:checked ~ [class*="deco-wavy-"][class*="-relay"] [class*="deco-wavy-"][class*="-target2"],
[class*="deco-wavy-"][class*="-radio3"]:checked ~ [class*="deco-wavy-"][class*="-relay"] [class*="deco-wavy-"][class*="-target3"],
[class*="deco-wavy-"][class*="-radio4"]:checked ~ [class*="deco-wavy-"][class*="-relay"] [class*="deco-wavy-"][class*="-target4"],
[class*="deco-wavy-"][class*="-radio5"]:checked ~ [class*="deco-wavy-"][class*="-relay"] [class*="deco-wavy-"][class*="-target5"],
[class*="deco-wavy-"][class*="-check"]:checked ~ [class*="deco-wavy-"][class*="-hub"] [class*="deco-wavy-"][class*="-goal"] {
  text-decoration-style: wavy;
}

/********** 4. TEXT DECORATION COLOR **********/

/*
4.1 Black
4.2 Blue
4.3 Gray
4.4 Green
4.5 Maroon
4.6 Orange
4.7 Purple
4.8 Red
4.9 White
4.10 Yellow
*/

/***** 4.1 Deco Black *****/
[class*="deco-black-"][class*="-base"],
[class*="deco-black-"][class*="-global"] > *,
*:hover > [class*="deco-black-"][class*="-into"],
*:focus > [class*="deco-black-"][class*="-into"],
*:active > [class*="deco-black-"][class*="-into"],
[class*="deco-black-"][class*="-onto"]:hover,
[class*="deco-black-"][class*="-onto"]:focus,
[class*="deco-black-"][class*="-onto"]:active,
[class*="deco-black-"][class*="-toall"]:hover > *,
[class*="deco-black-"][class*="-toall"]:focus > *,
[class*="deco-black-"][class*="-toall"]:active > *,
[class*="deco-black-"][class*="-toone"] > *:hover,
[class*="deco-black-"][class*="-toone"] > *:focus,
[class*="deco-black-"][class*="-toone"] > *:active,
[class*="deco-black-"][class*="-radio1"]:checked ~ [class*="deco-black-"][class*="-relay"] [class*="deco-black-"][class*="-target1"],
[class*="deco-black-"][class*="-radio2"]:checked ~ [class*="deco-black-"][class*="-relay"] [class*="deco-black-"][class*="-target2"],
[class*="deco-black-"][class*="-radio3"]:checked ~ [class*="deco-black-"][class*="-relay"] [class*="deco-black-"][class*="-target3"],
[class*="deco-black-"][class*="-radio4"]:checked ~ [class*="deco-black-"][class*="-relay"] [class*="deco-black-"][class*="-target4"],
[class*="deco-black-"][class*="-radio5"]:checked ~ [class*="deco-black-"][class*="-relay"] [class*="deco-black-"][class*="-target5"],
[class*="deco-black-"][class*="-check"]:checked ~ [class*="deco-black-"][class*="-hub"] [class*="deco-black-"][class*="-goal"] {
  text-decoration-color: var(--black);
}

/***** 4.2 Deco Blue *****/
[class*="deco-blue-"][class*="-base"],
[class*="deco-blue-"][class*="-global"] > *,
*:hover > [class*="deco-blue-"][class*="-into"],
*:focus > [class*="deco-blue-"][class*="-into"],
*:active > [class*="deco-blue-"][class*="-into"],
[class*="deco-blue-"][class*="-onto"]:hover,
[class*="deco-blue-"][class*="-onto"]:focus,
[class*="deco-blue-"][class*="-onto"]:active,
[class*="deco-blue-"][class*="-toall"]:hover > *,
[class*="deco-blue-"][class*="-toall"]:focus > *,
[class*="deco-blue-"][class*="-toall"]:active > *,
[class*="deco-blue-"][class*="-toone"] > *:hover,
[class*="deco-blue-"][class*="-toone"] > *:focus,
[class*="deco-blue-"][class*="-toone"] > *:active,
[class*="deco-blue-"][class*="-radio1"]:checked ~ [class*="deco-blue-"][class*="-relay"] [class*="deco-blue-"][class*="-target1"],
[class*="deco-blue-"][class*="-radio2"]:checked ~ [class*="deco-blue-"][class*="-relay"] [class*="deco-blue-"][class*="-target2"],
[class*="deco-blue-"][class*="-radio3"]:checked ~ [class*="deco-blue-"][class*="-relay"] [class*="deco-blue-"][class*="-target3"],
[class*="deco-blue-"][class*="-radio4"]:checked ~ [class*="deco-blue-"][class*="-relay"] [class*="deco-blue-"][class*="-target4"],
[class*="deco-blue-"][class*="-radio5"]:checked ~ [class*="deco-blue-"][class*="-relay"] [class*="deco-blue-"][class*="-target5"],
[class*="deco-blue-"][class*="-check"]:checked ~ [class*="deco-blue-"][class*="-hub"] [class*="deco-blue-"][class*="-goal"] {
  text-decoration-color: var(--blue);
}

/***** 4.3 Deco Gray *****/
[class*="deco-gray-"][class*="-base"],
[class*="deco-gray-"][class*="-global"] > *,
*:hover > [class*="deco-gray-"][class*="-into"],
*:focus > [class*="deco-gray-"][class*="-into"],
*:active > [class*="deco-gray-"][class*="-into"],
[class*="deco-gray-"][class*="-onto"]:hover,
[class*="deco-gray-"][class*="-onto"]:focus,
[class*="deco-gray-"][class*="-onto"]:active,
[class*="deco-gray-"][class*="-toall"]:hover > *,
[class*="deco-gray-"][class*="-toall"]:focus > *,
[class*="deco-gray-"][class*="-toall"]:active > *,
[class*="deco-gray-"][class*="-toone"] > *:hover,
[class*="deco-gray-"][class*="-toone"] > *:focus,
[class*="deco-gray-"][class*="-toone"] > *:active,
[class*="deco-gray-"][class*="-radio1"]:checked ~ [class*="deco-gray-"][class*="-relay"] [class*="deco-gray-"][class*="-target1"],
[class*="deco-gray-"][class*="-radio2"]:checked ~ [class*="deco-gray-"][class*="-relay"] [class*="deco-gray-"][class*="-target2"],
[class*="deco-gray-"][class*="-radio3"]:checked ~ [class*="deco-gray-"][class*="-relay"] [class*="deco-gray-"][class*="-target3"],
[class*="deco-gray-"][class*="-radio4"]:checked ~ [class*="deco-gray-"][class*="-relay"] [class*="deco-gray-"][class*="-target4"],
[class*="deco-gray-"][class*="-radio5"]:checked ~ [class*="deco-gray-"][class*="-relay"] [class*="deco-gray-"][class*="-target5"],
[class*="deco-gray-"][class*="-check"]:checked ~ [class*="deco-gray-"][class*="-hub"] [class*="deco-gray-"][class*="-goal"] {
  text-decoration-color: var(--gray);
}

/***** 4.4 Deco Green *****/
[class*="deco-green-"][class*="-base"],
[class*="deco-green-"][class*="-global"] > *,
*:hover > [class*="deco-green-"][class*="-into"],
*:focus > [class*="deco-green-"][class*="-into"],
*:active > [class*="deco-green-"][class*="-into"],
[class*="deco-green-"][class*="-onto"]:hover,
[class*="deco-green-"][class*="-onto"]:focus,
[class*="deco-green-"][class*="-onto"]:active,
[class*="deco-green-"][class*="-toall"]:hover > *,
[class*="deco-green-"][class*="-toall"]:focus > *,
[class*="deco-green-"][class*="-toall"]:active > *,
[class*="deco-green-"][class*="-toone"] > *:hover,
[class*="deco-green-"][class*="-toone"] > *:focus,
[class*="deco-green-"][class*="-toone"] > *:active,
[class*="deco-green-"][class*="-radio1"]:checked ~ [class*="deco-green-"][class*="-relay"] [class*="deco-green-"][class*="-target1"],
[class*="deco-green-"][class*="-radio2"]:checked ~ [class*="deco-green-"][class*="-relay"] [class*="deco-green-"][class*="-target2"],
[class*="deco-green-"][class*="-radio3"]:checked ~ [class*="deco-green-"][class*="-relay"] [class*="deco-green-"][class*="-target3"],
[class*="deco-green-"][class*="-radio4"]:checked ~ [class*="deco-green-"][class*="-relay"] [class*="deco-green-"][class*="-target4"],
[class*="deco-green-"][class*="-radio5"]:checked ~ [class*="deco-green-"][class*="-relay"] [class*="deco-green-"][class*="-target5"],
[class*="deco-green-"][class*="-check"]:checked ~ [class*="deco-green-"][class*="-hub"] [class*="deco-green-"][class*="-goal"] {
  text-decoration-color: var(--green);
}

/***** 4.5 Deco Maroon *****/
[class*="deco-maroon-"][class*="-base"],
[class*="deco-maroon-"][class*="-global"] > *,
*:hover > [class*="deco-maroon-"][class*="-into"],
*:focus > [class*="deco-maroon-"][class*="-into"],
*:active > [class*="deco-maroon-"][class*="-into"],
[class*="deco-maroon-"][class*="-onto"]:hover,
[class*="deco-maroon-"][class*="-onto"]:focus,
[class*="deco-maroon-"][class*="-onto"]:active,
[class*="deco-maroon-"][class*="-toall"]:hover > *,
[class*="deco-maroon-"][class*="-toall"]:focus > *,
[class*="deco-maroon-"][class*="-toall"]:active > *,
[class*="deco-maroon-"][class*="-toone"] > *:hover,
[class*="deco-maroon-"][class*="-toone"] > *:focus,
[class*="deco-maroon-"][class*="-toone"] > *:active,
[class*="deco-maroon-"][class*="-radio1"]:checked ~ [class*="deco-maroon-"][class*="-relay"] [class*="deco-maroon-"][class*="-target1"],
[class*="deco-maroon-"][class*="-radio2"]:checked ~ [class*="deco-maroon-"][class*="-relay"] [class*="deco-maroon-"][class*="-target2"],
[class*="deco-maroon-"][class*="-radio3"]:checked ~ [class*="deco-maroon-"][class*="-relay"] [class*="deco-maroon-"][class*="-target3"],
[class*="deco-maroon-"][class*="-radio4"]:checked ~ [class*="deco-maroon-"][class*="-relay"] [class*="deco-maroon-"][class*="-target4"],
[class*="deco-maroon-"][class*="-radio5"]:checked ~ [class*="deco-maroon-"][class*="-relay"] [class*="deco-maroon-"][class*="-target5"],
[class*="deco-maroon-"][class*="-check"]:checked ~ [class*="deco-maroon-"][class*="-hub"] [class*="deco-maroon-"][class*="-goal"] {
  text-decoration-color: var(--maroon);
}

/***** 4.6 Deco Orange *****/
[class*="deco-orange-"][class*="-base"],
[class*="deco-orange-"][class*="-global"] > *,
*:hover > [class*="deco-orange-"][class*="-into"],
*:focus > [class*="deco-orange-"][class*="-into"],
*:active > [class*="deco-orange-"][class*="-into"],
[class*="deco-orange-"][class*="-onto"]:hover,
[class*="deco-orange-"][class*="-onto"]:focus,
[class*="deco-orange-"][class*="-onto"]:active,
[class*="deco-orange-"][class*="-toall"]:hover > *,
[class*="deco-orange-"][class*="-toall"]:focus > *,
[class*="deco-orange-"][class*="-toall"]:active > *,
[class*="deco-orange-"][class*="-toone"] > *:hover,
[class*="deco-orange-"][class*="-toone"] > *:focus,
[class*="deco-orange-"][class*="-toone"] > *:active,
[class*="deco-orange-"][class*="-radio1"]:checked ~ [class*="deco-orange-"][class*="-relay"] [class*="deco-orange-"][class*="-target1"],
[class*="deco-orange-"][class*="-radio2"]:checked ~ [class*="deco-orange-"][class*="-relay"] [class*="deco-orange-"][class*="-target2"],
[class*="deco-orange-"][class*="-radio3"]:checked ~ [class*="deco-orange-"][class*="-relay"] [class*="deco-orange-"][class*="-target3"],
[class*="deco-orange-"][class*="-radio4"]:checked ~ [class*="deco-orange-"][class*="-relay"] [class*="deco-orange-"][class*="-target4"],
[class*="deco-orange-"][class*="-radio5"]:checked ~ [class*="deco-orange-"][class*="-relay"] [class*="deco-orange-"][class*="-target5"],
[class*="deco-orange-"][class*="-check"]:checked ~ [class*="deco-orange-"][class*="-hub"] [class*="deco-orange-"][class*="-goal"] {
  text-decoration-color: var(--orange);
}

/***** 4.7 Deco Purple *****/
[class*="deco-purple-"][class*="-base"],
[class*="deco-purple-"][class*="-global"] > *,
*:hover > [class*="deco-purple-"][class*="-into"],
*:focus > [class*="deco-purple-"][class*="-into"],
*:active > [class*="deco-purple-"][class*="-into"],
[class*="deco-purple-"][class*="-onto"]:hover,
[class*="deco-purple-"][class*="-onto"]:focus,
[class*="deco-purple-"][class*="-onto"]:active,
[class*="deco-purple-"][class*="-toall"]:hover > *,
[class*="deco-purple-"][class*="-toall"]:focus > *,
[class*="deco-purple-"][class*="-toall"]:active > *,
[class*="deco-purple-"][class*="-toone"] > *:hover,
[class*="deco-purple-"][class*="-toone"] > *:focus,
[class*="deco-purple-"][class*="-toone"] > *:active,
[class*="deco-purple-"][class*="-radio1"]:checked ~ [class*="deco-purple-"][class*="-relay"] [class*="deco-purple-"][class*="-target1"],
[class*="deco-purple-"][class*="-radio2"]:checked ~ [class*="deco-purple-"][class*="-relay"] [class*="deco-purple-"][class*="-target2"],
[class*="deco-purple-"][class*="-radio3"]:checked ~ [class*="deco-purple-"][class*="-relay"] [class*="deco-purple-"][class*="-target3"],
[class*="deco-purple-"][class*="-radio4"]:checked ~ [class*="deco-purple-"][class*="-relay"] [class*="deco-purple-"][class*="-target4"],
[class*="deco-purple-"][class*="-radio5"]:checked ~ [class*="deco-purple-"][class*="-relay"] [class*="deco-purple-"][class*="-target5"],
[class*="deco-purple-"][class*="-check"]:checked ~ [class*="deco-purple-"][class*="-hub"] [class*="deco-purple-"][class*="-goal"] {
  text-decoration-color: var(--purple);
}

/***** 4.8 Deco Red *****/
[class*="deco-red-"][class*="-base"],
[class*="deco-red-"][class*="-global"] > *,
*:hover > [class*="deco-red-"][class*="-into"],
*:focus > [class*="deco-red-"][class*="-into"],
*:active > [class*="deco-red-"][class*="-into"],
[class*="deco-red-"][class*="-onto"]:hover,
[class*="deco-red-"][class*="-onto"]:focus,
[class*="deco-red-"][class*="-onto"]:active,
[class*="deco-red-"][class*="-toall"]:hover > *,
[class*="deco-red-"][class*="-toall"]:focus > *,
[class*="deco-red-"][class*="-toall"]:active > *,
[class*="deco-red-"][class*="-toone"] > *:hover,
[class*="deco-red-"][class*="-toone"] > *:focus,
[class*="deco-red-"][class*="-toone"] > *:active,
[class*="deco-red-"][class*="-radio1"]:checked ~ [class*="deco-red-"][class*="-relay"] [class*="deco-red-"][class*="-target1"],
[class*="deco-red-"][class*="-radio2"]:checked ~ [class*="deco-red-"][class*="-relay"] [class*="deco-red-"][class*="-target2"],
[class*="deco-red-"][class*="-radio3"]:checked ~ [class*="deco-red-"][class*="-relay"] [class*="deco-red-"][class*="-target3"],
[class*="deco-red-"][class*="-radio4"]:checked ~ [class*="deco-red-"][class*="-relay"] [class*="deco-red-"][class*="-target4"],
[class*="deco-red-"][class*="-radio5"]:checked ~ [class*="deco-red-"][class*="-relay"] [class*="deco-red-"][class*="-target5"],
[class*="deco-red-"][class*="-check"]:checked ~ [class*="deco-red-"][class*="-hub"] [class*="deco-red-"][class*="-goal"] {
  text-decoration-color: var(--red);
}

/***** 4.9 Deco White *****/
[class*="deco-white-"][class*="-base"],
[class*="deco-white-"][class*="-global"] > *,
*:hover > [class*="deco-white-"][class*="-into"],
*:focus > [class*="deco-white-"][class*="-into"],
*:active > [class*="deco-white-"][class*="-into"],
[class*="deco-white-"][class*="-onto"]:hover,
[class*="deco-white-"][class*="-onto"]:focus,
[class*="deco-white-"][class*="-onto"]:active,
[class*="deco-white-"][class*="-toall"]:hover > *,
[class*="deco-white-"][class*="-toall"]:focus > *,
[class*="deco-white-"][class*="-toall"]:active > *,
[class*="deco-white-"][class*="-toone"] > *:hover,
[class*="deco-white-"][class*="-toone"] > *:focus,
[class*="deco-white-"][class*="-toone"] > *:active,
[class*="deco-white-"][class*="-radio1"]:checked ~ [class*="deco-white-"][class*="-relay"] [class*="deco-white-"][class*="-target1"],
[class*="deco-white-"][class*="-radio2"]:checked ~ [class*="deco-white-"][class*="-relay"] [class*="deco-white-"][class*="-target2"],
[class*="deco-white-"][class*="-radio3"]:checked ~ [class*="deco-white-"][class*="-relay"] [class*="deco-white-"][class*="-target3"],
[class*="deco-white-"][class*="-radio4"]:checked ~ [class*="deco-white-"][class*="-relay"] [class*="deco-white-"][class*="-target4"],
[class*="deco-white-"][class*="-radio5"]:checked ~ [class*="deco-white-"][class*="-relay"] [class*="deco-white-"][class*="-target5"],
[class*="deco-white-"][class*="-check"]:checked ~ [class*="deco-white-"][class*="-hub"] [class*="deco-white-"][class*="-goal"] {
  text-decoration-color: var(--white);
}

/***** 4.10 Deco Yellow *****/
[class*="deco-yellow-"][class*="-base"],
[class*="deco-yellow-"][class*="-global"] > *,
*:hover > [class*="deco-yellow-"][class*="-into"],
*:focus > [class*="deco-yellow-"][class*="-into"],
*:active > [class*="deco-yellow-"][class*="-into"],
[class*="deco-yellow-"][class*="-onto"]:hover,
[class*="deco-yellow-"][class*="-onto"]:focus,
[class*="deco-yellow-"][class*="-onto"]:active,
[class*="deco-yellow-"][class*="-toall"]:hover > *,
[class*="deco-yellow-"][class*="-toall"]:focus > *,
[class*="deco-yellow-"][class*="-toall"]:active > *,
[class*="deco-yellow-"][class*="-toone"] > *:hover,
[class*="deco-yellow-"][class*="-toone"] > *:focus,
[class*="deco-yellow-"][class*="-toone"] > *:active,
[class*="deco-yellow-"][class*="-radio1"]:checked ~ [class*="deco-yellow-"][class*="-relay"] [class*="deco-yellow-"][class*="-target1"],
[class*="deco-yellow-"][class*="-radio2"]:checked ~ [class*="deco-yellow-"][class*="-relay"] [class*="deco-yellow-"][class*="-target2"],
[class*="deco-yellow-"][class*="-radio3"]:checked ~ [class*="deco-yellow-"][class*="-relay"] [class*="deco-yellow-"][class*="-target3"],
[class*="deco-yellow-"][class*="-radio4"]:checked ~ [class*="deco-yellow-"][class*="-relay"] [class*="deco-yellow-"][class*="-target4"],
[class*="deco-yellow-"][class*="-radio5"]:checked ~ [class*="deco-yellow-"][class*="-relay"] [class*="deco-yellow-"][class*="-target5"],
[class*="deco-yellow-"][class*="-check"]:checked ~ [class*="deco-yellow-"][class*="-hub"] [class*="deco-yellow-"][class*="-goal"] {
  text-decoration-color: var(--yellow);
}

