/********** DECO ***********/

/*
1. Deco Variables
2. Deco
3. Deco Line
4. Deco Style
5. Deco Color
*/

/***** Deco Variables *****/
[class*="deco-"] {
  --deco-line: underline;
  --deco-style: solid;
  --deco-color: var(--black);
}

/***** Deco *****/
[class*="deco-"][class*="-base"],
[class*="deco-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-into"],
*:focus > [class*="deco-"][class*="-into"],
*:active > [class*="deco-"][class*="-into"],
[class*="deco-"][class*="-onto"]:hover,
[class*="deco-"][class*="-onto"]:focus,
[class*="deco-"][class*="-onto"]:active,
[class*="deco-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target1"],
[class*="deco-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target2"],
[class*="deco-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target3"],
[class*="deco-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target4"],
[class*="deco-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-relay"] [class*="deco-"][class*="-target5"],
[class*="deco-"][class*="-check"]:checked ~ [class*="deco-"][class*="-hub"] [class*="deco-"][class*="-goal"] {
  text-decoration-line: var(--deco-line);
  text-decoration-style: var(--deco-style);
  text-decoration-color: var(--deco-color);
}

/***** Deco Line *****/
[class*="deco-"][class*="-under-"][class*="-base"],
[class*="deco-"][class*="-under-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-under-"][class*="-into"],
*:focus > [class*="deco-"][class*="-under-"][class*="-into"],
*:active > [class*="deco-"][class*="-under-"][class*="-into"],
[class*="deco-"][class*="-under-"][class*="-onto"]:hover,
[class*="deco-"][class*="-under-"][class*="-onto"]:focus,
[class*="deco-"][class*="-under-"][class*="-onto"]:active,
[class*="deco-"][class*="-under-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-under-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-under-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-under-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-under-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-under-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-under-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target1"],
[class*="deco-"][class*="-under-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target2"],
[class*="deco-"][class*="-under-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target3"],
[class*="deco-"][class*="-under-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target4"],
[class*="deco-"][class*="-under-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target5"],
[class*="deco-"][class*="-under-"][class*="-check"]:checked ~ [class*="deco-"][class*="-under-"][class*="-hub"] [class*="deco-"][class*="-under-"][class*="-goal"] {
  text-decoration-line: underline;
}

[class*="deco-"][class*="-none-"][class*="-base"],
[class*="deco-"][class*="-none-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-none-"][class*="-into"],
*:focus > [class*="deco-"][class*="-none-"][class*="-into"],
*:active > [class*="deco-"][class*="-none-"][class*="-into"],
[class*="deco-"][class*="-none-"][class*="-onto"]:hover,
[class*="deco-"][class*="-none-"][class*="-onto"]:focus,
[class*="deco-"][class*="-none-"][class*="-onto"]:active,
[class*="deco-"][class*="-none-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-none-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-none-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-none-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-none-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-none-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-none-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target1"],
[class*="deco-"][class*="-none-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target2"],
[class*="deco-"][class*="-none-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target3"],
[class*="deco-"][class*="-none-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target4"],
[class*="deco-"][class*="-none-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target5"],
[class*="deco-"][class*="-none-"][class*="-check"]:checked ~ [class*="deco-"][class*="-none-"][class*="-hub"] [class*="deco-"][class*="-none-"][class*="-goal"] {
  text-decoration-line: none;
}

[class*="deco-"][class*="-over-"][class*="-base"],
[class*="deco-"][class*="-over-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-over-"][class*="-into"],
*:focus > [class*="deco-"][class*="-over-"][class*="-into"],
*:active > [class*="deco-"][class*="-over-"][class*="-into"],
[class*="deco-"][class*="-over-"][class*="-onto"]:hover,
[class*="deco-"][class*="-over-"][class*="-onto"]:focus,
[class*="deco-"][class*="-over-"][class*="-onto"]:active,
[class*="deco-"][class*="-over-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-over-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-over-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-over-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-over-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-over-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-over-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target1"],
[class*="deco-"][class*="-over-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target2"],
[class*="deco-"][class*="-over-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target3"],
[class*="deco-"][class*="-over-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target4"],
[class*="deco-"][class*="-over-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target5"],
[class*="deco-"][class*="-over-"][class*="-check"]:checked ~ [class*="deco-"][class*="-over-"][class*="-hub"] [class*="deco-"][class*="-over-"][class*="-goal"] {
  text-decoration-line: overline;
}

[class*="deco-"][class*="-through-"][class*="-base"],
[class*="deco-"][class*="-through-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-through-"][class*="-into"],
*:focus > [class*="deco-"][class*="-through-"][class*="-into"],
*:active > [class*="deco-"][class*="-through-"][class*="-into"],
[class*="deco-"][class*="-through-"][class*="-onto"]:hover,
[class*="deco-"][class*="-through-"][class*="-onto"]:focus,
[class*="deco-"][class*="-through-"][class*="-onto"]:active,
[class*="deco-"][class*="-through-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-through-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-through-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-through-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-through-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-through-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-through-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target1"],
[class*="deco-"][class*="-through-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target2"],
[class*="deco-"][class*="-through-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target3"],
[class*="deco-"][class*="-through-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target4"],
[class*="deco-"][class*="-through-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target5"],
[class*="deco-"][class*="-through-"][class*="-check"]:checked ~ [class*="deco-"][class*="-through-"][class*="-hub"] [class*="deco-"][class*="-through-"][class*="-goal"] {
  text-decoration-line: line-through;
}

/***** Deco Style *****/
[class*="deco-"][class*="-solid-"][class*="-base"],
[class*="deco-"][class*="-solid-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-solid-"][class*="-into"],
*:focus > [class*="deco-"][class*="-solid-"][class*="-into"],
*:active > [class*="deco-"][class*="-solid-"][class*="-into"],
[class*="deco-"][class*="-solid-"][class*="-onto"]:hover,
[class*="deco-"][class*="-solid-"][class*="-onto"]:focus,
[class*="deco-"][class*="-solid-"][class*="-onto"]:active,
[class*="deco-"][class*="-solid-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-solid-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-solid-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-solid-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-solid-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-solid-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-solid-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target1"],
[class*="deco-"][class*="-solid-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target2"],
[class*="deco-"][class*="-solid-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target3"],
[class*="deco-"][class*="-solid-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target4"],
[class*="deco-"][class*="-solid-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target5"],
[class*="deco-"][class*="-solid-"][class*="-check"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-hub"] [class*="deco-"][class*="-solid-"][class*="-goal"] {
  text-decoration-style: solid;
}

[class*="deco-"][class*="-double-"][class*="-base"],
[class*="deco-"][class*="-double-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-double-"][class*="-into"],
*:focus > [class*="deco-"][class*="-double-"][class*="-into"],
*:active > [class*="deco-"][class*="-double-"][class*="-into"],
[class*="deco-"][class*="-double-"][class*="-onto"]:hover,
[class*="deco-"][class*="-double-"][class*="-onto"]:focus,
[class*="deco-"][class*="-double-"][class*="-onto"]:active,
[class*="deco-"][class*="-double-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-double-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-double-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-double-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-double-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-double-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-double-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target1"],
[class*="deco-"][class*="-double-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target2"],
[class*="deco-"][class*="-double-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target3"],
[class*="deco-"][class*="-double-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target4"],
[class*="deco-"][class*="-double-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target5"],
[class*="deco-"][class*="-double-"][class*="-check"]:checked ~ [class*="deco-"][class*="-double-"][class*="-hub"] [class*="deco-"][class*="-double-"][class*="-goal"] {
  text-decoration-style: double;
}

[class*="deco-"][class*="-dot-"][class*="-base"],
[class*="deco-"][class*="-dot-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-dot-"][class*="-into"],
*:focus > [class*="deco-"][class*="-dot-"][class*="-into"],
*:active > [class*="deco-"][class*="-dot-"][class*="-into"],
[class*="deco-"][class*="-dot-"][class*="-onto"]:hover,
[class*="deco-"][class*="-dot-"][class*="-onto"]:focus,
[class*="deco-"][class*="-dot-"][class*="-onto"]:active,
[class*="deco-"][class*="-dot-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-dot-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-dot-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-dot-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-dot-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-dot-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-dot-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target1"],
[class*="deco-"][class*="-dot-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target2"],
[class*="deco-"][class*="-dot-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target3"],
[class*="deco-"][class*="-dot-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target4"],
[class*="deco-"][class*="-dot-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target5"],
[class*="deco-"][class*="-dot-"][class*="-check"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-hub"] [class*="deco-"][class*="-dot-"][class*="-goal"] {
  text-decoration-style: dotted;
}

[class*="deco-"][class*="-dash-"][class*="-base"],
[class*="deco-"][class*="-dash-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-dash-"][class*="-into"],
*:focus > [class*="deco-"][class*="-dash-"][class*="-into"],
*:active > [class*="deco-"][class*="-dash-"][class*="-into"],
[class*="deco-"][class*="-dash-"][class*="-onto"]:hover,
[class*="deco-"][class*="-dash-"][class*="-onto"]:focus,
[class*="deco-"][class*="-dash-"][class*="-onto"]:active,
[class*="deco-"][class*="-dash-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-dash-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-dash-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-dash-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-dash-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-dash-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-dash-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target1"],
[class*="deco-"][class*="-dash-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target2"],
[class*="deco-"][class*="-dash-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target3"],
[class*="deco-"][class*="-dash-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target4"],
[class*="deco-"][class*="-dash-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target5"],
[class*="deco-"][class*="-dash-"][class*="-check"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-hub"] [class*="deco-"][class*="-dash-"][class*="-goal"] {
  text-decoration-style: dashed;
}

[class*="deco-"][class*="-wavy-"][class*="-base"],
[class*="deco-"][class*="-wavy-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-wavy-"][class*="-into"],
*:focus > [class*="deco-"][class*="-wavy-"][class*="-into"],
*:active > [class*="deco-"][class*="-wavy-"][class*="-into"],
[class*="deco-"][class*="-wavy-"][class*="-onto"]:hover,
[class*="deco-"][class*="-wavy-"][class*="-onto"]:focus,
[class*="deco-"][class*="-wavy-"][class*="-onto"]:active,
[class*="deco-"][class*="-wavy-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-wavy-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-wavy-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-wavy-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-wavy-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-wavy-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-wavy-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target1"],
[class*="deco-"][class*="-wavy-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target2"],
[class*="deco-"][class*="-wavy-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target3"],
[class*="deco-"][class*="-wavy-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target4"],
[class*="deco-"][class*="-wavy-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target5"],
[class*="deco-"][class*="-wavy-"][class*="-check"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-hub"] [class*="deco-"][class*="-wavy-"][class*="-goal"] {
  text-decoration-style: wavy;
}

/***** Deco Color *****/
[class*="deco-"][class*="-black-"][class*="-base"],
[class*="deco-"][class*="-black-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-black-"][class*="-into"],
*:focus > [class*="deco-"][class*="-black-"][class*="-into"],
*:active > [class*="deco-"][class*="-black-"][class*="-into"],
[class*="deco-"][class*="-black-"][class*="-onto"]:hover,
[class*="deco-"][class*="-black-"][class*="-onto"]:focus,
[class*="deco-"][class*="-black-"][class*="-onto"]:active,
[class*="deco-"][class*="-black-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-black-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-black-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-black-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-black-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-black-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-black-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target1"],
[class*="deco-"][class*="-black-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target2"],
[class*="deco-"][class*="-black-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target3"],
[class*="deco-"][class*="-black-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target4"],
[class*="deco-"][class*="-black-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target5"],
[class*="deco-"][class*="-black-"][class*="-check"]:checked ~ [class*="deco-"][class*="-black-"][class*="-hub"] [class*="deco-"][class*="-black-"][class*="-goal"] {
  text-decoration-color: var(--black);
}

[class*="deco-"][class*="-blue-"][class*="-base"],
[class*="deco-"][class*="-blue-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-blue-"][class*="-into"],
*:focus > [class*="deco-"][class*="-blue-"][class*="-into"],
*:active > [class*="deco-"][class*="-blue-"][class*="-into"],
[class*="deco-"][class*="-blue-"][class*="-onto"]:hover,
[class*="deco-"][class*="-blue-"][class*="-onto"]:focus,
[class*="deco-"][class*="-blue-"][class*="-onto"]:active,
[class*="deco-"][class*="-blue-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-blue-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-blue-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-blue-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-blue-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-blue-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-blue-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target1"],
[class*="deco-"][class*="-blue-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target2"],
[class*="deco-"][class*="-blue-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target3"],
[class*="deco-"][class*="-blue-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target4"],
[class*="deco-"][class*="-blue-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target5"],
[class*="deco-"][class*="-blue-"][class*="-check"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-hub"] [class*="deco-"][class*="-blue-"][class*="-goal"] {
  text-decoration-color: var(--blue);
}

[class*="deco-"][class*="-brown-"][class*="-base"],
[class*="deco-"][class*="-brown-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-brown-"][class*="-into"],
*:focus > [class*="deco-"][class*="-brown-"][class*="-into"],
*:active > [class*="deco-"][class*="-brown-"][class*="-into"],
[class*="deco-"][class*="-brown-"][class*="-onto"]:hover,
[class*="deco-"][class*="-brown-"][class*="-onto"]:focus,
[class*="deco-"][class*="-brown-"][class*="-onto"]:active,
[class*="deco-"][class*="-brown-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-brown-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-brown-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-brown-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-brown-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-brown-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-brown-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target1"],
[class*="deco-"][class*="-brown-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target2"],
[class*="deco-"][class*="-brown-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target3"],
[class*="deco-"][class*="-brown-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target4"],
[class*="deco-"][class*="-brown-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target5"],
[class*="deco-"][class*="-brown-"][class*="-check"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-hub"] [class*="deco-"][class*="-brown-"][class*="-goal"] {
  text-decoration-color: var(--brown);
}

[class*="deco-"][class*="-gray-"][class*="-base"],
[class*="deco-"][class*="-gray-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-gray-"][class*="-into"],
*:focus > [class*="deco-"][class*="-gray-"][class*="-into"],
*:active > [class*="deco-"][class*="-gray-"][class*="-into"],
[class*="deco-"][class*="-gray-"][class*="-onto"]:hover,
[class*="deco-"][class*="-gray-"][class*="-onto"]:focus,
[class*="deco-"][class*="-gray-"][class*="-onto"]:active,
[class*="deco-"][class*="-gray-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-gray-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-gray-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-gray-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-gray-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-gray-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-gray-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target1"],
[class*="deco-"][class*="-gray-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target2"],
[class*="deco-"][class*="-gray-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target3"],
[class*="deco-"][class*="-gray-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target4"],
[class*="deco-"][class*="-gray-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target5"],
[class*="deco-"][class*="-gray-"][class*="-check"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-hub"] [class*="deco-"][class*="-gray-"][class*="-goal"] {
  text-decoration-color: var(--gray);
}

[class*="deco-"][class*="-green-"][class*="-base"],
[class*="deco-"][class*="-green-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-green-"][class*="-into"],
*:focus > [class*="deco-"][class*="-green-"][class*="-into"],
*:active > [class*="deco-"][class*="-green-"][class*="-into"],
[class*="deco-"][class*="-green-"][class*="-onto"]:hover,
[class*="deco-"][class*="-green-"][class*="-onto"]:focus,
[class*="deco-"][class*="-green-"][class*="-onto"]:active,
[class*="deco-"][class*="-green-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-green-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-green-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-green-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-green-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-green-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-green-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target1"],
[class*="deco-"][class*="-green-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target2"],
[class*="deco-"][class*="-green-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target3"],
[class*="deco-"][class*="-green-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target4"],
[class*="deco-"][class*="-green-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target5"],
[class*="deco-"][class*="-green-"][class*="-check"]:checked ~ [class*="deco-"][class*="-green-"][class*="-hub"] [class*="deco-"][class*="-green-"][class*="-goal"] {
  text-decoration-color: var(--green);
}

[class*="deco-"][class*="-orange-"][class*="-base"],
[class*="deco-"][class*="-orange-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-orange-"][class*="-into"],
*:focus > [class*="deco-"][class*="-orange-"][class*="-into"],
*:active > [class*="deco-"][class*="-orange-"][class*="-into"],
[class*="deco-"][class*="-orange-"][class*="-onto"]:hover,
[class*="deco-"][class*="-orange-"][class*="-onto"]:focus,
[class*="deco-"][class*="-orange-"][class*="-onto"]:active,
[class*="deco-"][class*="-orange-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-orange-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-orange-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-orange-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-orange-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-orange-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-orange-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target1"],
[class*="deco-"][class*="-orange-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target2"],
[class*="deco-"][class*="-orange-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target3"],
[class*="deco-"][class*="-orange-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target4"],
[class*="deco-"][class*="-orange-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target5"],
[class*="deco-"][class*="-orange-"][class*="-check"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-hub"] [class*="deco-"][class*="-orange-"][class*="-goal"] {
  text-decoration-color: var(--orange);
}

[class*="deco-"][class*="-purple-"][class*="-base"],
[class*="deco-"][class*="-purple-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-purple-"][class*="-into"],
*:focus > [class*="deco-"][class*="-purple-"][class*="-into"],
*:active > [class*="deco-"][class*="-purple-"][class*="-into"],
[class*="deco-"][class*="-purple-"][class*="-onto"]:hover,
[class*="deco-"][class*="-purple-"][class*="-onto"]:focus,
[class*="deco-"][class*="-purple-"][class*="-onto"]:active,
[class*="deco-"][class*="-purple-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-purple-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-purple-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-purple-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-purple-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-purple-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-purple-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-purple-"][class*="-relay"] [class*="deco-"][class*="-purple-"][class*="-target1"],
[class*="deco-"][class*="-purple-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-purple-"][class*="-relay"] [class*="deco-"][class*="-purple-"][class*="-target2"],
[class*="deco-"][class*="-purple-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-purple-"][class*="-relay"] [class*="deco-"][class*="-purple-"][class*="-target3"],
[class*="deco-"][class*="-purple-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-purple-"][class*="-relay"] [class*="deco-"][class*="-purple-"][class*="-target4"],
[class*="deco-"][class*="-purple-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-purple-"][class*="-relay"] [class*="deco-"][class*="-purple-"][class*="-target5"],
[class*="deco-"][class*="-purple-"][class*="-check"]:checked ~ [class*="deco-"][class*="-purple-"][class*="-hub"] [class*="deco-"][class*="-purple-"][class*="-goal"] {
  text-decoration-color: var(--purple);
}

[class*="deco-"][class*="-red-"][class*="-base"],
[class*="deco-"][class*="-red-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-red-"][class*="-into"],
*:focus > [class*="deco-"][class*="-red-"][class*="-into"],
*:active > [class*="deco-"][class*="-red-"][class*="-into"],
[class*="deco-"][class*="-red-"][class*="-onto"]:hover,
[class*="deco-"][class*="-red-"][class*="-onto"]:focus,
[class*="deco-"][class*="-red-"][class*="-onto"]:active,
[class*="deco-"][class*="-red-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-red-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-red-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-red-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-red-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-red-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-red-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target1"],
[class*="deco-"][class*="-red-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target2"],
[class*="deco-"][class*="-red-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target3"],
[class*="deco-"][class*="-red-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target4"],
[class*="deco-"][class*="-red-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target5"],
[class*="deco-"][class*="-red-"][class*="-check"]:checked ~ [class*="deco-"][class*="-red-"][class*="-hub"] [class*="deco-"][class*="-red-"][class*="-goal"] {
  text-decoration-color: var(--red);
}

[class*="deco-"][class*="-white-"][class*="-base"],
[class*="deco-"][class*="-white-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-white-"][class*="-into"],
*:focus > [class*="deco-"][class*="-white-"][class*="-into"],
*:active > [class*="deco-"][class*="-white-"][class*="-into"],
[class*="deco-"][class*="-white-"][class*="-onto"]:hover,
[class*="deco-"][class*="-white-"][class*="-onto"]:focus,
[class*="deco-"][class*="-white-"][class*="-onto"]:active,
[class*="deco-"][class*="-white-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-white-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-white-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-white-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-white-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-white-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-white-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target1"],
[class*="deco-"][class*="-white-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target2"],
[class*="deco-"][class*="-white-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target3"],
[class*="deco-"][class*="-white-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target4"],
[class*="deco-"][class*="-white-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target5"],
[class*="deco-"][class*="-white-"][class*="-check"]:checked ~ [class*="deco-"][class*="-white-"][class*="-hub"] [class*="deco-"][class*="-white-"][class*="-goal"] {
  text-decoration-color: var(--white);
}

[class*="deco-"][class*="-yellow-"][class*="-base"],
[class*="deco-"][class*="-yellow-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-yellow-"][class*="-into"],
*:focus > [class*="deco-"][class*="-yellow-"][class*="-into"],
*:active > [class*="deco-"][class*="-yellow-"][class*="-into"],
[class*="deco-"][class*="-yellow-"][class*="-onto"]:hover,
[class*="deco-"][class*="-yellow-"][class*="-onto"]:focus,
[class*="deco-"][class*="-yellow-"][class*="-onto"]:active,
[class*="deco-"][class*="-yellow-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-yellow-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-yellow-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-yellow-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-yellow-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-yellow-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-yellow-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target1"],
[class*="deco-"][class*="-yellow-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target2"],
[class*="deco-"][class*="-yellow-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target3"],
[class*="deco-"][class*="-yellow-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target4"],
[class*="deco-"][class*="-yellow-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target5"],
[class*="deco-"][class*="-yellow-"][class*="-check"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-hub"] [class*="deco-"][class*="-yellow-"][class*="-goal"] {
  text-decoration-color: var(--yellow);
}

