/********** DECO ***********/

/*
1. Deco Variables
2. Deco
3. Deco Line
4. Deco Style
5. Deco Color
*/

/* Deco Line */
[class*="deco-"][class*="-under-"][class*="-base"],
[class*="deco-"][class*="-under-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-under-"][class*="-into"],
*:focus > [class*="deco-"][class*="-under-"][class*="-into"],
*:active > [class*="deco-"][class*="-under-"][class*="-into"],
[class*="deco-"][class*="-under-"][class*="-onto"]:hover,
[class*="deco-"][class*="-under-"][class*="-onto"]:focus,
[class*="deco-"][class*="-under-"][class*="-onto"]:active,
[class*="deco-"][class*="-under-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-under-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-under-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-under-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-under-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-under-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-under-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target1"],
[class*="deco-"][class*="-under-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target2"],
[class*="deco-"][class*="-under-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target3"],
[class*="deco-"][class*="-under-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target4"],
[class*="deco-"][class*="-under-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-target5"],
[class*="deco-"][class*="-under-"][class*="-check"]:checked ~ [class*="deco-"][class*="-under-"][class*="-relay"] [class*="deco-"][class*="-under-"][class*="-goal"] {
  text-decoration-line: underline;
}

[class*="deco-"][class*="-none-"][class*="-base"],
[class*="deco-"][class*="-none-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-none-"][class*="-into"],
*:focus > [class*="deco-"][class*="-none-"][class*="-into"],
*:active > [class*="deco-"][class*="-none-"][class*="-into"],
[class*="deco-"][class*="-none-"][class*="-onto"]:hover,
[class*="deco-"][class*="-none-"][class*="-onto"]:focus,
[class*="deco-"][class*="-none-"][class*="-onto"]:active,
[class*="deco-"][class*="-none-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-none-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-none-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-none-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-none-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-none-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-none-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target1"],
[class*="deco-"][class*="-none-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target2"],
[class*="deco-"][class*="-none-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target3"],
[class*="deco-"][class*="-none-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target4"],
[class*="deco-"][class*="-none-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-target5"],
[class*="deco-"][class*="-none-"][class*="-check"]:checked ~ [class*="deco-"][class*="-none-"][class*="-relay"] [class*="deco-"][class*="-none-"][class*="-goal"] {
  text-decoration-line: none;
}

[class*="deco-"][class*="-over-"][class*="-base"],
[class*="deco-"][class*="-over-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-over-"][class*="-into"],
*:focus > [class*="deco-"][class*="-over-"][class*="-into"],
*:active > [class*="deco-"][class*="-over-"][class*="-into"],
[class*="deco-"][class*="-over-"][class*="-onto"]:hover,
[class*="deco-"][class*="-over-"][class*="-onto"]:focus,
[class*="deco-"][class*="-over-"][class*="-onto"]:active,
[class*="deco-"][class*="-over-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-over-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-over-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-over-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-over-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-over-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-over-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target1"],
[class*="deco-"][class*="-over-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target2"],
[class*="deco-"][class*="-over-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target3"],
[class*="deco-"][class*="-over-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target4"],
[class*="deco-"][class*="-over-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-target5"],
[class*="deco-"][class*="-over-"][class*="-check"]:checked ~ [class*="deco-"][class*="-over-"][class*="-relay"] [class*="deco-"][class*="-over-"][class*="-goal"] {
  text-decoration-line: overline;
}

[class*="deco-"][class*="-through-"][class*="-base"],
[class*="deco-"][class*="-through-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-through-"][class*="-into"],
*:focus > [class*="deco-"][class*="-through-"][class*="-into"],
*:active > [class*="deco-"][class*="-through-"][class*="-into"],
[class*="deco-"][class*="-through-"][class*="-onto"]:hover,
[class*="deco-"][class*="-through-"][class*="-onto"]:focus,
[class*="deco-"][class*="-through-"][class*="-onto"]:active,
[class*="deco-"][class*="-through-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-through-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-through-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-through-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-through-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-through-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-through-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target1"],
[class*="deco-"][class*="-through-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target2"],
[class*="deco-"][class*="-through-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target3"],
[class*="deco-"][class*="-through-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target4"],
[class*="deco-"][class*="-through-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-target5"],
[class*="deco-"][class*="-through-"][class*="-check"]:checked ~ [class*="deco-"][class*="-through-"][class*="-relay"] [class*="deco-"][class*="-through-"][class*="-goal"] {
  text-decoration-line: line-through;
}

/***** Deco Style *****/
[class*="deco-"][class*="-solid-"][class*="-base"],
[class*="deco-"][class*="-solid-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-solid-"][class*="-into"],
*:focus > [class*="deco-"][class*="-solid-"][class*="-into"],
*:active > [class*="deco-"][class*="-solid-"][class*="-into"],
[class*="deco-"][class*="-solid-"][class*="-onto"]:hover,
[class*="deco-"][class*="-solid-"][class*="-onto"]:focus,
[class*="deco-"][class*="-solid-"][class*="-onto"]:active,
[class*="deco-"][class*="-solid-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-solid-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-solid-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-solid-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-solid-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-solid-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-solid-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target1"],
[class*="deco-"][class*="-solid-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target2"],
[class*="deco-"][class*="-solid-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target3"],
[class*="deco-"][class*="-solid-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target4"],
[class*="deco-"][class*="-solid-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-target5"],
[class*="deco-"][class*="-solid-"][class*="-check"]:checked ~ [class*="deco-"][class*="-solid-"][class*="-relay"] [class*="deco-"][class*="-solid-"][class*="-goal"] {
  text-decoration-style: solid;
}

[class*="deco-"][class*="-double-"][class*="-base"],
[class*="deco-"][class*="-double-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-double-"][class*="-into"],
*:focus > [class*="deco-"][class*="-double-"][class*="-into"],
*:active > [class*="deco-"][class*="-double-"][class*="-into"],
[class*="deco-"][class*="-double-"][class*="-onto"]:hover,
[class*="deco-"][class*="-double-"][class*="-onto"]:focus,
[class*="deco-"][class*="-double-"][class*="-onto"]:active,
[class*="deco-"][class*="-double-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-double-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-double-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-double-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-double-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-double-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-double-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target1"],
[class*="deco-"][class*="-double-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target2"],
[class*="deco-"][class*="-double-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target3"],
[class*="deco-"][class*="-double-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target4"],
[class*="deco-"][class*="-double-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-target5"],
[class*="deco-"][class*="-double-"][class*="-check"]:checked ~ [class*="deco-"][class*="-double-"][class*="-relay"] [class*="deco-"][class*="-double-"][class*="-goal"] {
  text-decoration-style: double;
}

[class*="deco-"][class*="-dot-"][class*="-base"],
[class*="deco-"][class*="-dot-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-dot-"][class*="-into"],
*:focus > [class*="deco-"][class*="-dot-"][class*="-into"],
*:active > [class*="deco-"][class*="-dot-"][class*="-into"],
[class*="deco-"][class*="-dot-"][class*="-onto"]:hover,
[class*="deco-"][class*="-dot-"][class*="-onto"]:focus,
[class*="deco-"][class*="-dot-"][class*="-onto"]:active,
[class*="deco-"][class*="-dot-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-dot-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-dot-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-dot-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-dot-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-dot-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-dot-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target1"],
[class*="deco-"][class*="-dot-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target2"],
[class*="deco-"][class*="-dot-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target3"],
[class*="deco-"][class*="-dot-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target4"],
[class*="deco-"][class*="-dot-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-target5"],
[class*="deco-"][class*="-dot-"][class*="-check"]:checked ~ [class*="deco-"][class*="-dot-"][class*="-relay"] [class*="deco-"][class*="-dot-"][class*="-goal"] {
  text-decoration-style: dotted;
}

[class*="deco-"][class*="-dash-"][class*="-base"],
[class*="deco-"][class*="-dash-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-dash-"][class*="-into"],
*:focus > [class*="deco-"][class*="-dash-"][class*="-into"],
*:active > [class*="deco-"][class*="-dash-"][class*="-into"],
[class*="deco-"][class*="-dash-"][class*="-onto"]:hover,
[class*="deco-"][class*="-dash-"][class*="-onto"]:focus,
[class*="deco-"][class*="-dash-"][class*="-onto"]:active,
[class*="deco-"][class*="-dash-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-dash-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-dash-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-dash-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-dash-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-dash-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-dash-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target1"],
[class*="deco-"][class*="-dash-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target2"],
[class*="deco-"][class*="-dash-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target3"],
[class*="deco-"][class*="-dash-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target4"],
[class*="deco-"][class*="-dash-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-target5"],
[class*="deco-"][class*="-dash-"][class*="-check"]:checked ~ [class*="deco-"][class*="-dash-"][class*="-relay"] [class*="deco-"][class*="-dash-"][class*="-goal"] {
  text-decoration-style: dashed;
}

[class*="deco-"][class*="-wavy-"][class*="-base"],
[class*="deco-"][class*="-wavy-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-wavy-"][class*="-into"],
*:focus > [class*="deco-"][class*="-wavy-"][class*="-into"],
*:active > [class*="deco-"][class*="-wavy-"][class*="-into"],
[class*="deco-"][class*="-wavy-"][class*="-onto"]:hover,
[class*="deco-"][class*="-wavy-"][class*="-onto"]:focus,
[class*="deco-"][class*="-wavy-"][class*="-onto"]:active,
[class*="deco-"][class*="-wavy-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-wavy-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-wavy-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-wavy-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-wavy-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-wavy-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-wavy-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target1"],
[class*="deco-"][class*="-wavy-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target2"],
[class*="deco-"][class*="-wavy-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target3"],
[class*="deco-"][class*="-wavy-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target4"],
[class*="deco-"][class*="-wavy-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-target5"],
[class*="deco-"][class*="-wavy-"][class*="-check"]:checked ~ [class*="deco-"][class*="-wavy-"][class*="-relay"] [class*="deco-"][class*="-wavy-"][class*="-goal"] {
  text-decoration-style: wavy;
}

/***** Deco Color *****/
[class*="deco-"][class*="-black-"][class*="-base"],
[class*="deco-"][class*="-black-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-black-"][class*="-into"],
*:focus > [class*="deco-"][class*="-black-"][class*="-into"],
*:active > [class*="deco-"][class*="-black-"][class*="-into"],
[class*="deco-"][class*="-black-"][class*="-onto"]:hover,
[class*="deco-"][class*="-black-"][class*="-onto"]:focus,
[class*="deco-"][class*="-black-"][class*="-onto"]:active,
[class*="deco-"][class*="-black-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-black-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-black-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-black-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-black-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-black-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-black-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target1"],
[class*="deco-"][class*="-black-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target2"],
[class*="deco-"][class*="-black-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target3"],
[class*="deco-"][class*="-black-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target4"],
[class*="deco-"][class*="-black-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-target5"],
[class*="deco-"][class*="-black-"][class*="-check"]:checked ~ [class*="deco-"][class*="-black-"][class*="-relay"] [class*="deco-"][class*="-black-"][class*="-goal"] {
  text-decoration-color: black;
}

[class*="deco-"][class*="-blood-"][class*="-base"],
[class*="deco-"][class*="-blood-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-blood-"][class*="-into"],
*:focus > [class*="deco-"][class*="-blood-"][class*="-into"],
*:active > [class*="deco-"][class*="-blood-"][class*="-into"],
[class*="deco-"][class*="-blood-"][class*="-onto"]:hover,
[class*="deco-"][class*="-blood-"][class*="-onto"]:focus,
[class*="deco-"][class*="-blood-"][class*="-onto"]:active,
[class*="deco-"][class*="-blood-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-blood-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-blood-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-blood-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-blood-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-blood-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-blood-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-blood-"][class*="-relay"] [class*="deco-"][class*="-blood-"][class*="-target1"],
[class*="deco-"][class*="-blood-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-blood-"][class*="-relay"] [class*="deco-"][class*="-blood-"][class*="-target2"],
[class*="deco-"][class*="-blood-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-blood-"][class*="-relay"] [class*="deco-"][class*="-blood-"][class*="-target3"],
[class*="deco-"][class*="-blood-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-blood-"][class*="-relay"] [class*="deco-"][class*="-blood-"][class*="-target4"],
[class*="deco-"][class*="-blood-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-blood-"][class*="-relay"] [class*="deco-"][class*="-blood-"][class*="-target5"],
[class*="deco-"][class*="-blood-"][class*="-check"]:checked ~ [class*="deco-"][class*="-blood-"][class*="-relay"] [class*="deco-"][class*="-blood-"][class*="-goal"] {
  text-decoration-color: var(--blood);
}

[class*="deco-"][class*="-blue-"][class*="-base"],
[class*="deco-"][class*="-blue-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-blue-"][class*="-into"],
*:focus > [class*="deco-"][class*="-blue-"][class*="-into"],
*:active > [class*="deco-"][class*="-blue-"][class*="-into"],
[class*="deco-"][class*="-blue-"][class*="-onto"]:hover,
[class*="deco-"][class*="-blue-"][class*="-onto"]:focus,
[class*="deco-"][class*="-blue-"][class*="-onto"]:active,
[class*="deco-"][class*="-blue-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-blue-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-blue-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-blue-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-blue-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-blue-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-blue-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target1"],
[class*="deco-"][class*="-blue-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target2"],
[class*="deco-"][class*="-blue-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target3"],
[class*="deco-"][class*="-blue-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target4"],
[class*="deco-"][class*="-blue-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-target5"],
[class*="deco-"][class*="-blue-"][class*="-check"]:checked ~ [class*="deco-"][class*="-blue-"][class*="-relay"] [class*="deco-"][class*="-blue-"][class*="-goal"] {
  text-decoration-color: var(--blue);
}

[class*="deco-"][class*="-brown-"][class*="-base"],
[class*="deco-"][class*="-brown-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-brown-"][class*="-into"],
*:focus > [class*="deco-"][class*="-brown-"][class*="-into"],
*:active > [class*="deco-"][class*="-brown-"][class*="-into"],
[class*="deco-"][class*="-brown-"][class*="-onto"]:hover,
[class*="deco-"][class*="-brown-"][class*="-onto"]:focus,
[class*="deco-"][class*="-brown-"][class*="-onto"]:active,
[class*="deco-"][class*="-brown-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-brown-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-brown-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-brown-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-brown-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-brown-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-brown-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target1"],
[class*="deco-"][class*="-brown-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target2"],
[class*="deco-"][class*="-brown-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target3"],
[class*="deco-"][class*="-brown-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target4"],
[class*="deco-"][class*="-brown-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-target5"],
[class*="deco-"][class*="-brown-"][class*="-check"]:checked ~ [class*="deco-"][class*="-brown-"][class*="-relay"] [class*="deco-"][class*="-brown-"][class*="-goal"] {
  text-decoration-color: var(--brown);
}

[class*="deco-"][class*="-gold-"][class*="-base"],
[class*="deco-"][class*="-gold-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-gold-"][class*="-into"],
*:focus > [class*="deco-"][class*="-gold-"][class*="-into"],
*:active > [class*="deco-"][class*="-gold-"][class*="-into"],
[class*="deco-"][class*="-gold-"][class*="-onto"]:hover,
[class*="deco-"][class*="-gold-"][class*="-onto"]:focus,
[class*="deco-"][class*="-gold-"][class*="-onto"]:active,
[class*="deco-"][class*="-gold-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-gold-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-gold-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-gold-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-gold-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-gold-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-gold-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-gold-"][class*="-relay"] [class*="deco-"][class*="-gold-"][class*="-target1"],
[class*="deco-"][class*="-gold-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-gold-"][class*="-relay"] [class*="deco-"][class*="-gold-"][class*="-target2"],
[class*="deco-"][class*="-gold-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-gold-"][class*="-relay"] [class*="deco-"][class*="-gold-"][class*="-target3"],
[class*="deco-"][class*="-gold-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-gold-"][class*="-relay"] [class*="deco-"][class*="-gold-"][class*="-target4"],
[class*="deco-"][class*="-gold-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-gold-"][class*="-relay"] [class*="deco-"][class*="-gold-"][class*="-target5"],
[class*="deco-"][class*="-gold-"][class*="-check"]:checked ~ [class*="deco-"][class*="-gold-"][class*="-relay"] [class*="deco-"][class*="-gold-"][class*="-goal"] {
  text-decoration-color: var(--gold);
}

[class*="deco-"][class*="-gray-"][class*="-base"],
[class*="deco-"][class*="-gray-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-gray-"][class*="-into"],
*:focus > [class*="deco-"][class*="-gray-"][class*="-into"],
*:active > [class*="deco-"][class*="-gray-"][class*="-into"],
[class*="deco-"][class*="-gray-"][class*="-onto"]:hover,
[class*="deco-"][class*="-gray-"][class*="-onto"]:focus,
[class*="deco-"][class*="-gray-"][class*="-onto"]:active,
[class*="deco-"][class*="-gray-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-gray-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-gray-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-gray-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-gray-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-gray-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-gray-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target1"],
[class*="deco-"][class*="-gray-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target2"],
[class*="deco-"][class*="-gray-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target3"],
[class*="deco-"][class*="-gray-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target4"],
[class*="deco-"][class*="-gray-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-target5"],
[class*="deco-"][class*="-gray-"][class*="-check"]:checked ~ [class*="deco-"][class*="-gray-"][class*="-relay"] [class*="deco-"][class*="-gray-"][class*="-goal"] {
  text-decoration-color: var(--gray);
}

[class*="deco-"][class*="-green-"][class*="-base"],
[class*="deco-"][class*="-green-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-green-"][class*="-into"],
*:focus > [class*="deco-"][class*="-green-"][class*="-into"],
*:active > [class*="deco-"][class*="-green-"][class*="-into"],
[class*="deco-"][class*="-green-"][class*="-onto"]:hover,
[class*="deco-"][class*="-green-"][class*="-onto"]:focus,
[class*="deco-"][class*="-green-"][class*="-onto"]:active,
[class*="deco-"][class*="-green-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-green-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-green-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-green-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-green-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-green-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-green-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target1"],
[class*="deco-"][class*="-green-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target2"],
[class*="deco-"][class*="-green-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target3"],
[class*="deco-"][class*="-green-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target4"],
[class*="deco-"][class*="-green-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-target5"],
[class*="deco-"][class*="-green-"][class*="-check"]:checked ~ [class*="deco-"][class*="-green-"][class*="-relay"] [class*="deco-"][class*="-green-"][class*="-goal"] {
  text-decoration-color: var(--green);
}

[class*="deco-"][class*="-indigo-"][class*="-base"],
[class*="deco-"][class*="-indigo-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-indigo-"][class*="-into"],
*:focus > [class*="deco-"][class*="-indigo-"][class*="-into"],
*:active > [class*="deco-"][class*="-indigo-"][class*="-into"],
[class*="deco-"][class*="-indigo-"][class*="-onto"]:hover,
[class*="deco-"][class*="-indigo-"][class*="-onto"]:focus,
[class*="deco-"][class*="-indigo-"][class*="-onto"]:active,
[class*="deco-"][class*="-indigo-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-indigo-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-indigo-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-indigo-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-indigo-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-indigo-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-indigo-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-indigo-"][class*="-relay"] [class*="deco-"][class*="-indigo-"][class*="-target1"],
[class*="deco-"][class*="-indigo-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-indigo-"][class*="-relay"] [class*="deco-"][class*="-indigo-"][class*="-target2"],
[class*="deco-"][class*="-indigo-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-indigo-"][class*="-relay"] [class*="deco-"][class*="-indigo-"][class*="-target3"],
[class*="deco-"][class*="-indigo-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-indigo-"][class*="-relay"] [class*="deco-"][class*="-indigo-"][class*="-target4"],
[class*="deco-"][class*="-indigo-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-indigo-"][class*="-relay"] [class*="deco-"][class*="-indigo-"][class*="-target5"],
[class*="deco-"][class*="-indigo-"][class*="-check"]:checked ~ [class*="deco-"][class*="-indigo-"][class*="-relay"] [class*="deco-"][class*="-indigo-"][class*="-goal"] {
  text-decoration-color: var(--indigo);
}

[class*="deco-"][class*="-lime-"][class*="-base"],
[class*="deco-"][class*="-lime-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-lime-"][class*="-into"],
*:focus > [class*="deco-"][class*="-lime-"][class*="-into"],
*:active > [class*="deco-"][class*="-lime-"][class*="-into"],
[class*="deco-"][class*="-lime-"][class*="-onto"]:hover,
[class*="deco-"][class*="-lime-"][class*="-onto"]:focus,
[class*="deco-"][class*="-lime-"][class*="-onto"]:active,
[class*="deco-"][class*="-lime-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-lime-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-lime-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-lime-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-lime-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-lime-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-lime-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-lime-"][class*="-relay"] [class*="deco-"][class*="-lime-"][class*="-target1"],
[class*="deco-"][class*="-lime-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-lime-"][class*="-relay"] [class*="deco-"][class*="-lime-"][class*="-target2"],
[class*="deco-"][class*="-lime-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-lime-"][class*="-relay"] [class*="deco-"][class*="-lime-"][class*="-target3"],
[class*="deco-"][class*="-lime-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-lime-"][class*="-relay"] [class*="deco-"][class*="-lime-"][class*="-target4"],
[class*="deco-"][class*="-lime-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-lime-"][class*="-relay"] [class*="deco-"][class*="-lime-"][class*="-target5"],
[class*="deco-"][class*="-lime-"][class*="-check"]:checked ~ [class*="deco-"][class*="-lime-"][class*="-relay"] [class*="deco-"][class*="-lime-"][class*="-goal"] {
  text-decoration-color: var(--lime);
}

[class*="deco-"][class*="-navy-"][class*="-base"],
[class*="deco-"][class*="-navy-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-navy-"][class*="-into"],
*:focus > [class*="deco-"][class*="-navy-"][class*="-into"],
*:active > [class*="deco-"][class*="-navy-"][class*="-into"],
[class*="deco-"][class*="-navy-"][class*="-onto"]:hover,
[class*="deco-"][class*="-navy-"][class*="-onto"]:focus,
[class*="deco-"][class*="-navy-"][class*="-onto"]:active,
[class*="deco-"][class*="-navy-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-navy-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-navy-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-navy-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-navy-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-navy-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-navy-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-navy-"][class*="-relay"] [class*="deco-"][class*="-navy-"][class*="-target1"],
[class*="deco-"][class*="-navy-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-navy-"][class*="-relay"] [class*="deco-"][class*="-navy-"][class*="-target2"],
[class*="deco-"][class*="-navy-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-navy-"][class*="-relay"] [class*="deco-"][class*="-navy-"][class*="-target3"],
[class*="deco-"][class*="-navy-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-navy-"][class*="-relay"] [class*="deco-"][class*="-navy-"][class*="-target4"],
[class*="deco-"][class*="-navy-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-navy-"][class*="-relay"] [class*="deco-"][class*="-navy-"][class*="-target5"],
[class*="deco-"][class*="-navy-"][class*="-check"]:checked ~ [class*="deco-"][class*="-navy-"][class*="-relay"] [class*="deco-"][class*="-navy-"][class*="-goal"] {
  text-decoration-color: var(--navy);
}

[class*="deco-"][class*="-orange-"][class*="-base"],
[class*="deco-"][class*="-orange-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-orange-"][class*="-into"],
*:focus > [class*="deco-"][class*="-orange-"][class*="-into"],
*:active > [class*="deco-"][class*="-orange-"][class*="-into"],
[class*="deco-"][class*="-orange-"][class*="-onto"]:hover,
[class*="deco-"][class*="-orange-"][class*="-onto"]:focus,
[class*="deco-"][class*="-orange-"][class*="-onto"]:active,
[class*="deco-"][class*="-orange-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-orange-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-orange-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-orange-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-orange-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-orange-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-orange-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target1"],
[class*="deco-"][class*="-orange-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target2"],
[class*="deco-"][class*="-orange-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target3"],
[class*="deco-"][class*="-orange-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target4"],
[class*="deco-"][class*="-orange-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-target5"],
[class*="deco-"][class*="-orange-"][class*="-check"]:checked ~ [class*="deco-"][class*="-orange-"][class*="-relay"] [class*="deco-"][class*="-orange-"][class*="-goal"] {
  text-decoration-color: var(--orange);
}

[class*="deco-"][class*="-red-"][class*="-base"],
[class*="deco-"][class*="-red-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-red-"][class*="-into"],
*:focus > [class*="deco-"][class*="-red-"][class*="-into"],
*:active > [class*="deco-"][class*="-red-"][class*="-into"],
[class*="deco-"][class*="-red-"][class*="-onto"]:hover,
[class*="deco-"][class*="-red-"][class*="-onto"]:focus,
[class*="deco-"][class*="-red-"][class*="-onto"]:active,
[class*="deco-"][class*="-red-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-red-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-red-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-red-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-red-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-red-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-red-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target1"],
[class*="deco-"][class*="-red-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target2"],
[class*="deco-"][class*="-red-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target3"],
[class*="deco-"][class*="-red-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target4"],
[class*="deco-"][class*="-red-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-target5"],
[class*="deco-"][class*="-red-"][class*="-check"]:checked ~ [class*="deco-"][class*="-red-"][class*="-relay"] [class*="deco-"][class*="-red-"][class*="-goal"] {
  text-decoration-color: var(--red);
}

[class*="deco-"][class*="-salmon-"][class*="-base"],
[class*="deco-"][class*="-salmon-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-salmon-"][class*="-into"],
*:focus > [class*="deco-"][class*="-salmon-"][class*="-into"],
*:active > [class*="deco-"][class*="-salmon-"][class*="-into"],
[class*="deco-"][class*="-salmon-"][class*="-onto"]:hover,
[class*="deco-"][class*="-salmon-"][class*="-onto"]:focus,
[class*="deco-"][class*="-salmon-"][class*="-onto"]:active,
[class*="deco-"][class*="-salmon-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-salmon-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-salmon-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-salmon-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-salmon-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-salmon-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-salmon-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-salmon-"][class*="-relay"] [class*="deco-"][class*="-salmon-"][class*="-target1"],
[class*="deco-"][class*="-salmon-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-salmon-"][class*="-relay"] [class*="deco-"][class*="-salmon-"][class*="-target2"],
[class*="deco-"][class*="-salmon-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-salmon-"][class*="-relay"] [class*="deco-"][class*="-salmon-"][class*="-target3"],
[class*="deco-"][class*="-salmon-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-salmon-"][class*="-relay"] [class*="deco-"][class*="-salmon-"][class*="-target4"],
[class*="deco-"][class*="-salmon-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-salmon-"][class*="-relay"] [class*="deco-"][class*="-salmon-"][class*="-target5"],
[class*="deco-"][class*="-salmon-"][class*="-check"]:checked ~ [class*="deco-"][class*="-salmon-"][class*="-relay"] [class*="deco-"][class*="-salmon-"][class*="-goal"] {
  text-decoration-color: var(--salmon);
}

[class*="deco-"][class*="-sliver-"][class*="-base"],
[class*="deco-"][class*="-sliver-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-sliver-"][class*="-into"],
*:focus > [class*="deco-"][class*="-sliver-"][class*="-into"],
*:active > [class*="deco-"][class*="-sliver-"][class*="-into"],
[class*="deco-"][class*="-sliver-"][class*="-onto"]:hover,
[class*="deco-"][class*="-sliver-"][class*="-onto"]:focus,
[class*="deco-"][class*="-sliver-"][class*="-onto"]:active,
[class*="deco-"][class*="-sliver-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-sliver-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-sliver-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-sliver-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-sliver-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-sliver-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-sliver-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-sliver-"][class*="-relay"] [class*="deco-"][class*="-sliver-"][class*="-target1"],
[class*="deco-"][class*="-sliver-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-sliver-"][class*="-relay"] [class*="deco-"][class*="-sliver-"][class*="-target2"],
[class*="deco-"][class*="-sliver-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-sliver-"][class*="-relay"] [class*="deco-"][class*="-sliver-"][class*="-target3"],
[class*="deco-"][class*="-sliver-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-sliver-"][class*="-relay"] [class*="deco-"][class*="-sliver-"][class*="-target4"],
[class*="deco-"][class*="-sliver-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-sliver-"][class*="-relay"] [class*="deco-"][class*="-sliver-"][class*="-target5"],
[class*="deco-"][class*="-sliver-"][class*="-check"]:checked ~ [class*="deco-"][class*="-sliver-"][class*="-relay"] [class*="deco-"][class*="-sliver-"][class*="-goal"] {
  text-decoration-color: var(--silver);
}

[class*="deco-"][class*="-violet-"][class*="-base"],
[class*="deco-"][class*="-violet-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-violet-"][class*="-into"],
*:focus > [class*="deco-"][class*="-violet-"][class*="-into"],
*:active > [class*="deco-"][class*="-violet-"][class*="-into"],
[class*="deco-"][class*="-violet-"][class*="-onto"]:hover,
[class*="deco-"][class*="-violet-"][class*="-onto"]:focus,
[class*="deco-"][class*="-violet-"][class*="-onto"]:active,
[class*="deco-"][class*="-violet-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-violet-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-violet-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-violet-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-violet-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-violet-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-violet-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-violet-"][class*="-relay"] [class*="deco-"][class*="-violet-"][class*="-target1"],
[class*="deco-"][class*="-violet-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-violet-"][class*="-relay"] [class*="deco-"][class*="-violet-"][class*="-target2"],
[class*="deco-"][class*="-violet-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-violet-"][class*="-relay"] [class*="deco-"][class*="-violet-"][class*="-target3"],
[class*="deco-"][class*="-violet-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-violet-"][class*="-relay"] [class*="deco-"][class*="-violet-"][class*="-target4"],
[class*="deco-"][class*="-violet-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-violet-"][class*="-relay"] [class*="deco-"][class*="-violet-"][class*="-target5"],
[class*="deco-"][class*="-violet-"][class*="-check"]:checked ~ [class*="deco-"][class*="-violet-"][class*="-relay"] [class*="deco-"][class*="-violet-"][class*="-goal"] {
  text-decoration-color: var(--violet);
}

[class*="deco-"][class*="-white-"][class*="-base"],
[class*="deco-"][class*="-white-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-white-"][class*="-into"],
*:focus > [class*="deco-"][class*="-white-"][class*="-into"],
*:active > [class*="deco-"][class*="-white-"][class*="-into"],
[class*="deco-"][class*="-white-"][class*="-onto"]:hover,
[class*="deco-"][class*="-white-"][class*="-onto"]:focus,
[class*="deco-"][class*="-white-"][class*="-onto"]:active,
[class*="deco-"][class*="-white-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-white-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-white-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-white-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-white-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-white-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-white-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target1"],
[class*="deco-"][class*="-white-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target2"],
[class*="deco-"][class*="-white-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target3"],
[class*="deco-"][class*="-white-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target4"],
[class*="deco-"][class*="-white-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-target5"],
[class*="deco-"][class*="-white-"][class*="-check"]:checked ~ [class*="deco-"][class*="-white-"][class*="-relay"] [class*="deco-"][class*="-white-"][class*="-goal"] {
  text-decoration-color: var(--white);
}

[class*="deco-"][class*="-wood-"][class*="-base"],
[class*="deco-"][class*="-wood-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-wood-"][class*="-into"],
*:focus > [class*="deco-"][class*="-wood-"][class*="-into"],
*:active > [class*="deco-"][class*="-wood-"][class*="-into"],
[class*="deco-"][class*="-wood-"][class*="-onto"]:hover,
[class*="deco-"][class*="-wood-"][class*="-onto"]:focus,
[class*="deco-"][class*="-wood-"][class*="-onto"]:active,
[class*="deco-"][class*="-wood-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-wood-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-wood-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-wood-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-wood-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-wood-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-wood-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-wood-"][class*="-relay"] [class*="deco-"][class*="-wood-"][class*="-target1"],
[class*="deco-"][class*="-wood-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-wood-"][class*="-relay"] [class*="deco-"][class*="-wood-"][class*="-target2"],
[class*="deco-"][class*="-wood-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-wood-"][class*="-relay"] [class*="deco-"][class*="-wood-"][class*="-target3"],
[class*="deco-"][class*="-wood-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-wood-"][class*="-relay"] [class*="deco-"][class*="-wood-"][class*="-target4"],
[class*="deco-"][class*="-wood-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-wood-"][class*="-relay"] [class*="deco-"][class*="-wood-"][class*="-target5"],
[class*="deco-"][class*="-wood-"][class*="-check"]:checked ~ [class*="deco-"][class*="-wood-"][class*="-relay"] [class*="deco-"][class*="-wood-"][class*="-goal"] {
  text-decoration-color: var(--wood);
}

[class*="deco-"][class*="-yellow-"][class*="-base"],
[class*="deco-"][class*="-yellow-"][class*="-global"] > *,
*:hover > [class*="deco-"][class*="-yellow-"][class*="-into"],
*:focus > [class*="deco-"][class*="-yellow-"][class*="-into"],
*:active > [class*="deco-"][class*="-yellow-"][class*="-into"],
[class*="deco-"][class*="-yellow-"][class*="-onto"]:hover,
[class*="deco-"][class*="-yellow-"][class*="-onto"]:focus,
[class*="deco-"][class*="-yellow-"][class*="-onto"]:active,
[class*="deco-"][class*="-yellow-"][class*="-toall"]:hover > *,
[class*="deco-"][class*="-yellow-"][class*="-toall"]:focus > *,
[class*="deco-"][class*="-yellow-"][class*="-toall"]:active > *,
[class*="deco-"][class*="-yellow-"][class*="-toone"] > *:hover,
[class*="deco-"][class*="-yellow-"][class*="-toone"] > *:focus,
[class*="deco-"][class*="-yellow-"][class*="-toone"] > *:active,
[class*="deco-"][class*="-yellow-"][class*="-radio1"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target1"],
[class*="deco-"][class*="-yellow-"][class*="-radio2"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target2"],
[class*="deco-"][class*="-yellow-"][class*="-radio3"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target3"],
[class*="deco-"][class*="-yellow-"][class*="-radio4"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target4"],
[class*="deco-"][class*="-yellow-"][class*="-radio5"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-target5"],
[class*="deco-"][class*="-yellow-"][class*="-check"]:checked ~ [class*="deco-"][class*="-yellow-"][class*="-relay"] [class*="deco-"][class*="-yellow-"][class*="-goal"] {
  text-decoration-color: var(--yellow);
}
