/********** DISPLAY **********/

/*
1 - Display Block
2 - Display None
3 - Display Inline
*/

/***** 1 - Display Block *****/
[class*="block-xs-"][class*="-base"],
[class*="block-xs-"][class*="-global"] > *,
*:hover > [class*="block-xs-"][class*="-into"],
*:focus > [class*="block-xs-"][class*="-into"],
*:active > [class*="block-xs-"][class*="-into"],
[class*="block-xs-"][class*="-onto"]:hover,
[class*="block-xs-"][class*="-onto"]:focus,
[class*="block-xs-"][class*="-onto"]:active,
[class*="block-xs-"][class*="-toall"]:hover > *,
[class*="block-xs-"][class*="-toall"]:focus > *,
[class*="block-xs-"][class*="-toall"]:active > *,
[class*="block-xs-"][class*="-toone"] > *:hover,
[class*="block-xs-"][class*="-toone"] > *:focus,
[class*="block-xs-"][class*="-toone"] > *:active,
[class*="block-xs-"][class*="-radio1"]:checked ~ [class*="block-xs-"][class*="-relay"] [class*="block-xs-"][class*="-target1"],
[class*="block-xs-"][class*="-radio2"]:checked ~ [class*="block-xs-"][class*="-relay"] [class*="block-xs-"][class*="-target2"],
[class*="block-xs-"][class*="-radio3"]:checked ~ [class*="block-xs-"][class*="-relay"] [class*="block-xs-"][class*="-target3"],
[class*="block-xs-"][class*="-radio4"]:checked ~ [class*="block-xs-"][class*="-relay"] [class*="block-xs-"][class*="-target4"],
[class*="block-xs-"][class*="-radio5"]:checked ~ [class*="block-xs-"][class*="-relay"] [class*="block-xs-"][class*="-target5"],
[class*="block-xs-"][class*="-check"]:checked ~ [class*="block-xs-"][class*="-hub"] [class*="block-xs-"][class*="-goal"] {
  display: block;
}

@media (min-width: 576px) {
  [class*="block-sm-"][class*="-base"],
  [class*="block-sm-"][class*="-global"] > *,
  *:hover > [class*="block-sm-"][class*="-into"],
  *:focus > [class*="block-sm-"][class*="-into"],
  *:active > [class*="block-sm-"][class*="-into"],
  [class*="block-sm-"][class*="-onto"]:hover,
  [class*="block-sm-"][class*="-onto"]:focus,
  [class*="block-sm-"][class*="-onto"]:active,
  [class*="block-sm-"][class*="-toall"]:hover > *,
  [class*="block-sm-"][class*="-toall"]:focus > *,
  [class*="block-sm-"][class*="-toall"]:active > *,
  [class*="block-sm-"][class*="-toone"] > *:hover,
  [class*="block-sm-"][class*="-toone"] > *:focus,
  [class*="block-sm-"][class*="-toone"] > *:active,
  [class*="block-sm-"][class*="-radio1"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target1"],
  [class*="block-sm-"][class*="-radio2"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target2"],
  [class*="block-sm-"][class*="-radio3"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target3"],
  [class*="block-sm-"][class*="-radio4"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target4"],
  [class*="block-sm-"][class*="-radio5"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target5"],
  [class*="block-sm-"][class*="-check"]:checked ~ [class*="block-sm-"][class*="-hub"] [class*="block-sm-"][class*="-goal"] {
    display: block;
  }
}

@media (min-width: 768px) {
  [class*="block-md-"][class*="-base"],
  [class*="block-md-"][class*="-global"] > *,
  *:hover > [class*="block-md-"][class*="-into"],
  *:focus > [class*="block-md-"][class*="-into"],
  *:active > [class*="block-md-"][class*="-into"],
  [class*="block-md-"][class*="-onto"]:hover,
  [class*="block-md-"][class*="-onto"]:focus,
  [class*="block-md-"][class*="-onto"]:active,
  [class*="block-md-"][class*="-toall"]:hover > *,
  [class*="block-md-"][class*="-toall"]:focus > *,
  [class*="block-md-"][class*="-toall"]:active > *,
  [class*="block-md-"][class*="-toone"] > *:hover,
  [class*="block-md-"][class*="-toone"] > *:focus,
  [class*="block-md-"][class*="-toone"] > *:active,
  [class*="block-md-"][class*="-radio1"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target1"],
  [class*="block-md-"][class*="-radio2"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target2"],
  [class*="block-md-"][class*="-radio3"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target3"],
  [class*="block-md-"][class*="-radio4"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target4"],
  [class*="block-md-"][class*="-radio5"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target5"],
  [class*="block-md-"][class*="-check"]:checked ~ [class*="block-md-"][class*="-hub"] [class*="block-md-"][class*="-goal"] {
    display: block;
  }
}

@media (min-width: 992px) {
  [class*="block-lg-"][class*="-base"],
  [class*="block-lg-"][class*="-global"] > *,
  *:hover > [class*="block-lg-"][class*="-into"],
  *:focus > [class*="block-lg-"][class*="-into"],
  *:active > [class*="block-lg-"][class*="-into"],
  [class*="block-lg-"][class*="-onto"]:hover,
  [class*="block-lg-"][class*="-onto"]:focus,
  [class*="block-lg-"][class*="-onto"]:active,
  [class*="block-lg-"][class*="-toall"]:hover > *,
  [class*="block-lg-"][class*="-toall"]:focus > *,
  [class*="block-lg-"][class*="-toall"]:active > *,
  [class*="block-lg-"][class*="-toone"] > *:hover,
  [class*="block-lg-"][class*="-toone"] > *:focus,
  [class*="block-lg-"][class*="-toone"] > *:active,
  [class*="block-lg-"][class*="-radio1"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target1"],
  [class*="block-lg-"][class*="-radio2"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target2"],
  [class*="block-lg-"][class*="-radio3"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target3"],
  [class*="block-lg-"][class*="-radio4"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target4"],
  [class*="block-lg-"][class*="-radio5"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target5"],
  [class*="block-lg-"][class*="-check"]:checked ~ [class*="block-lg-"][class*="-hub"] [class*="block-lg-"][class*="-goal"] {
    display: block;
  }
}

@media (min-width: 1200px) {
  [class*="block-xl-"][class*="-base"],
  [class*="block-xl-"][class*="-global"] > *,
  *:hover > [class*="block-xl-"][class*="-into"],
  *:focus > [class*="block-xl-"][class*="-into"],
  *:active > [class*="block-xl-"][class*="-into"],
  [class*="block-xl-"][class*="-onto"]:hover,
  [class*="block-xl-"][class*="-onto"]:focus,
  [class*="block-xl-"][class*="-onto"]:active,
  [class*="block-xl-"][class*="-toall"]:hover > *,
  [class*="block-xl-"][class*="-toall"]:focus > *,
  [class*="block-xl-"][class*="-toall"]:active > *,
  [class*="block-xl-"][class*="-toone"] > *:hover,
  [class*="block-xl-"][class*="-toone"] > *:focus,
  [class*="block-xl-"][class*="-toone"] > *:active,
  [class*="block-xl-"][class*="-radio1"]:checked ~ [class*="block-xl-"][class*="-relay"] [class*="block-xl-"][class*="-target1"],
  [class*="block-xl-"][class*="-radio2"]:checked ~ [class*="block-xl-"][class*="-relay"] [class*="block-xl-"][class*="-target2"],
  [class*="block-xl-"][class*="-radio3"]:checked ~ [class*="block-xl-"][class*="-relay"] [class*="block-xl-"][class*="-target3"],
  [class*="block-xl-"][class*="-radio4"]:checked ~ [class*="block-xl-"][class*="-relay"] [class*="block-xl-"][class*="-target4"],
  [class*="block-xl-"][class*="-radio5"]:checked ~ [class*="block-xl-"][class*="-relay"] [class*="block-xl-"][class*="-target5"],
  [class*="block-xl-"][class*="-check"]:checked ~ [class*="block-xl-"][class*="-hub"] [class*="block-xl-"][class*="-goal"] {
    display: block;
  }
}

/***** 2 - Display None *****/
[class*="hide-xs-"][class*="-base"],
[class*="hide-xs-"][class*="-global"] > *,
*:hover > [class*="hide-xs-"][class*="-into"],
*:focus > [class*="hide-xs-"][class*="-into"],
*:active > [class*="hide-xs-"][class*="-into"],
[class*="hide-xs-"][class*="-onto"]:hover,
[class*="hide-xs-"][class*="-onto"]:focus,
[class*="hide-xs-"][class*="-onto"]:active,
[class*="hide-xs-"][class*="-toall"]:hover > *,
[class*="hide-xs-"][class*="-toall"]:focus > *,
[class*="hide-xs-"][class*="-toall"]:active > *,
[class*="hide-xs-"][class*="-toone"] > *:hover,
[class*="hide-xs-"][class*="-toone"] > *:focus,
[class*="hide-xs-"][class*="-toone"] > *:active,
[class*="hide-xs-"][class*="-radio1"]:checked ~ [class*="hide-xs-"][class*="-relay"] [class*="hide-xs-"][class*="-target1"],
[class*="hide-xs-"][class*="-radio2"]:checked ~ [class*="hide-xs-"][class*="-relay"] [class*="hide-xs-"][class*="-target2"],
[class*="hide-xs-"][class*="-radio3"]:checked ~ [class*="hide-xs-"][class*="-relay"] [class*="hide-xs-"][class*="-target3"],
[class*="hide-xs-"][class*="-radio4"]:checked ~ [class*="hide-xs-"][class*="-relay"] [class*="hide-xs-"][class*="-target4"],
[class*="hide-xs-"][class*="-radio5"]:checked ~ [class*="hide-xs-"][class*="-relay"] [class*="hide-xs-"][class*="-target5"],
[class*="hide-xs-"][class*="-check"]:checked ~ [class*="hide-xs-"][class*="-hub"] [class*="hide-xs-"][class*="-goal"] {
  display: none;
}

@media (min-width: 576px) {
  [class*="hide-sm-"][class*="-base"],
  [class*="hide-sm-"][class*="-global"] > *,
  *:hover > [class*="hide-sm-"][class*="-into"],
  *:focus > [class*="hide-sm-"][class*="-into"],
  *:active > [class*="hide-sm-"][class*="-into"],
  [class*="hide-sm-"][class*="-onto"]:hover,
  [class*="hide-sm-"][class*="-onto"]:focus,
  [class*="hide-sm-"][class*="-onto"]:active,
  [class*="hide-sm-"][class*="-toall"]:hover > *,
  [class*="hide-sm-"][class*="-toall"]:focus > *,
  [class*="hide-sm-"][class*="-toall"]:active > *,
  [class*="hide-sm-"][class*="-toone"] > *:hover,
  [class*="hide-sm-"][class*="-toone"] > *:focus,
  [class*="hide-sm-"][class*="-toone"] > *:active,
  [class*="hide-sm-"][class*="-radio1"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target1"],
  [class*="hide-sm-"][class*="-radio2"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target2"],
  [class*="hide-sm-"][class*="-radio3"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target3"],
  [class*="hide-sm-"][class*="-radio4"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target4"],
  [class*="hide-sm-"][class*="-radio5"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target5"],
  [class*="hide-sm-"][class*="-check"]:checked ~ [class*="hide-sm-"][class*="-hub"] [class*="hide-sm-"][class*="-goal"] {
    display: none;
  }
}

@media (min-width: 768px) {
  [class*="hide-md-"][class*="-base"],
  [class*="hide-md-"][class*="-global"] > *,
  *:hover > [class*="hide-md-"][class*="-into"],
  *:focus > [class*="hide-md-"][class*="-into"],
  *:active > [class*="hide-md-"][class*="-into"],
  [class*="hide-md-"][class*="-onto"]:hover,
  [class*="hide-md-"][class*="-onto"]:focus,
  [class*="hide-md-"][class*="-onto"]:active,
  [class*="hide-md-"][class*="-toall"]:hover > *,
  [class*="hide-md-"][class*="-toall"]:focus > *,
  [class*="hide-md-"][class*="-toall"]:active > *,
  [class*="hide-md-"][class*="-toone"] > *:hover,
  [class*="hide-md-"][class*="-toone"] > *:focus,
  [class*="hide-md-"][class*="-toone"] > *:active,
  [class*="hide-md-"][class*="-radio1"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target1"],
  [class*="hide-md-"][class*="-radio2"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target2"],
  [class*="hide-md-"][class*="-radio3"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target3"],
  [class*="hide-md-"][class*="-radio4"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target4"],
  [class*="hide-md-"][class*="-radio5"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target5"],
  [class*="hide-md-"][class*="-check"]:checked ~ [class*="hide-md-"][class*="-hub"] [class*="hide-md-"][class*="-goal"] {
    display: none;
  }
}

@media (min-width: 992px) {
  [class*="hide-lg-"][class*="-base"],
  [class*="hide-lg-"][class*="-global"] > *,
  *:hover > [class*="hide-lg-"][class*="-into"],
  *:focus > [class*="hide-lg-"][class*="-into"],
  *:active > [class*="hide-lg-"][class*="-into"],
  [class*="hide-lg-"][class*="-onto"]:hover,
  [class*="hide-lg-"][class*="-onto"]:focus,
  [class*="hide-lg-"][class*="-onto"]:active,
  [class*="hide-lg-"][class*="-toall"]:hover > *,
  [class*="hide-lg-"][class*="-toall"]:focus > *,
  [class*="hide-lg-"][class*="-toall"]:active > *,
  [class*="hide-lg-"][class*="-toone"] > *:hover,
  [class*="hide-lg-"][class*="-toone"] > *:focus,
  [class*="hide-lg-"][class*="-toone"] > *:active,
  [class*="hide-lg-"][class*="-radio1"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target1"],
  [class*="hide-lg-"][class*="-radio2"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target2"],
  [class*="hide-lg-"][class*="-radio3"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target3"],
  [class*="hide-lg-"][class*="-radio4"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target4"],
  [class*="hide-lg-"][class*="-radio5"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target5"],
  [class*="hide-lg-"][class*="-check"]:checked ~ [class*="hide-lg-"][class*="-hub"] [class*="hide-lg-"][class*="-goal"] {
    display: none;
  }
}

@media (min-width: 1200px) {
  [class*="hide-xl-"][class*="-base"],
  [class*="hide-xl-"][class*="-global"] > *,
  *:hover > [class*="hide-xl-"][class*="-into"],
  *:focus > [class*="hide-xl-"][class*="-into"],
  *:active > [class*="hide-xl-"][class*="-into"],
  [class*="hide-xl-"][class*="-onto"]:hover,
  [class*="hide-xl-"][class*="-onto"]:focus,
  [class*="hide-xl-"][class*="-onto"]:active,
  [class*="hide-xl-"][class*="-toall"]:hover > *,
  [class*="hide-xl-"][class*="-toall"]:focus > *,
  [class*="hide-xl-"][class*="-toall"]:active > *,
  [class*="hide-xl-"][class*="-toone"] > *:hover,
  [class*="hide-xl-"][class*="-toone"] > *:focus,
  [class*="hide-xl-"][class*="-toone"] > *:active,
  [class*="hide-xl-"][class*="-radio1"]:checked ~ [class*="hide-xl-"][class*="-relay"] [class*="hide-xl-"][class*="-target1"],
  [class*="hide-xl-"][class*="-radio2"]:checked ~ [class*="hide-xl-"][class*="-relay"] [class*="hide-xl-"][class*="-target2"],
  [class*="hide-xl-"][class*="-radio3"]:checked ~ [class*="hide-xl-"][class*="-relay"] [class*="hide-xl-"][class*="-target3"],
  [class*="hide-xl-"][class*="-radio4"]:checked ~ [class*="hide-xl-"][class*="-relay"] [class*="hide-xl-"][class*="-target4"],
  [class*="hide-xl-"][class*="-radio5"]:checked ~ [class*="hide-xl-"][class*="-relay"] [class*="hide-xl-"][class*="-target5"],
  [class*="hide-xl-"][class*="-check"]:checked ~ [class*="hide-xl-"][class*="-hub"] [class*="hide-xl-"][class*="-goal"] {
    display: none;
  }
}

/***** 3 - Display Inline *****/
[class*="inline-xs-"][class*="-base"],
[class*="inline-xs-"][class*="-global"] > *,
*:hover > [class*="inline-xs-"][class*="-into"],
*:focus > [class*="inline-xs-"][class*="-into"],
*:active > [class*="inline-xs-"][class*="-into"],
[class*="inline-xs-"][class*="-onto"]:hover,
[class*="inline-xs-"][class*="-onto"]:focus,
[class*="inline-xs-"][class*="-onto"]:active,
[class*="inline-xs-"][class*="-toall"]:hover > *,
[class*="inline-xs-"][class*="-toall"]:focus > *,
[class*="inline-xs-"][class*="-toall"]:active > *,
[class*="inline-xs-"][class*="-toone"] > *:hover,
[class*="inline-xs-"][class*="-toone"] > *:focus,
[class*="inline-xs-"][class*="-toone"] > *:active,
[class*="inline-xs-"][class*="-radio1"]:checked ~ [class*="inline-xs-"][class*="-relay"] [class*="inline-xs-"][class*="-target1"],
[class*="inline-xs-"][class*="-radio2"]:checked ~ [class*="inline-xs-"][class*="-relay"] [class*="inline-xs-"][class*="-target2"],
[class*="inline-xs-"][class*="-radio3"]:checked ~ [class*="inline-xs-"][class*="-relay"] [class*="inline-xs-"][class*="-target3"],
[class*="inline-xs-"][class*="-radio4"]:checked ~ [class*="inline-xs-"][class*="-relay"] [class*="inline-xs-"][class*="-target4"],
[class*="inline-xs-"][class*="-radio5"]:checked ~ [class*="inline-xs-"][class*="-relay"] [class*="inline-xs-"][class*="-target5"],
[class*="inline-xs-"][class*="-check"]:checked ~ [class*="inline-xs-"][class*="-hub"] [class*="inline-xs-"][class*="-goal"] {
  display: inline;
}

@media (min-width: 576px) {
  [class*="inline-sm-"][class*="-base"],
  [class*="inline-sm-"][class*="-global"] > *,
  *:hover > [class*="inline-sm-"][class*="-into"],
  *:focus > [class*="inline-sm-"][class*="-into"],
  *:active > [class*="inline-sm-"][class*="-into"],
  [class*="inline-sm-"][class*="-onto"]:hover,
  [class*="inline-sm-"][class*="-onto"]:focus,
  [class*="inline-sm-"][class*="-onto"]:active,
  [class*="inline-sm-"][class*="-toall"]:hover > *,
  [class*="inline-sm-"][class*="-toall"]:focus > *,
  [class*="inline-sm-"][class*="-toall"]:active > *,
  [class*="inline-sm-"][class*="-toone"] > *:hover,
  [class*="inline-sm-"][class*="-toone"] > *:focus,
  [class*="inline-sm-"][class*="-toone"] > *:active,
  [class*="inline-sm-"][class*="-radio1"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target1"],
  [class*="inline-sm-"][class*="-radio2"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target2"],
  [class*="inline-sm-"][class*="-radio3"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target3"],
  [class*="inline-sm-"][class*="-radio4"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target4"],
  [class*="inline-sm-"][class*="-radio5"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target5"],
  [class*="inline-sm-"][class*="-check"]:checked ~ [class*="inline-sm-"][class*="-hub"] [class*="inline-sm-"][class*="-goal"] {
    display: inline;
  }
}

@media (min-width: 768px) {
  [class*="inline-md-"][class*="-base"],
  [class*="inline-md-"][class*="-global"] > *,
  *:hover > [class*="inline-md-"][class*="-into"],
  *:focus > [class*="inline-md-"][class*="-into"],
  *:active > [class*="inline-md-"][class*="-into"],
  [class*="inline-md-"][class*="-onto"]:hover,
  [class*="inline-md-"][class*="-onto"]:focus,
  [class*="inline-md-"][class*="-onto"]:active,
  [class*="inline-md-"][class*="-toall"]:hover > *,
  [class*="inline-md-"][class*="-toall"]:focus > *,
  [class*="inline-md-"][class*="-toall"]:active > *,
  [class*="inline-md-"][class*="-toone"] > *:hover,
  [class*="inline-md-"][class*="-toone"] > *:focus,
  [class*="inline-md-"][class*="-toone"] > *:active,
  [class*="inline-md-"][class*="-radio1"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target1"],
  [class*="inline-md-"][class*="-radio2"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target2"],
  [class*="inline-md-"][class*="-radio3"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target3"],
  [class*="inline-md-"][class*="-radio4"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target4"],
  [class*="inline-md-"][class*="-radio5"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target5"],
  [class*="inline-md-"][class*="-check"]:checked ~ [class*="inline-md-"][class*="-hub"] [class*="inline-md-"][class*="-goal"] {
    display: inline;
  }
}

@media (min-width: 992px) {
  [class*="inline-lg-"][class*="-base"],
  [class*="inline-lg-"][class*="-global"] > *,
  *:hover > [class*="inline-lg-"][class*="-into"],
  *:focus > [class*="inline-lg-"][class*="-into"],
  *:active > [class*="inline-lg-"][class*="-into"],
  [class*="inline-lg-"][class*="-onto"]:hover,
  [class*="inline-lg-"][class*="-onto"]:focus,
  [class*="inline-lg-"][class*="-onto"]:active,
  [class*="inline-lg-"][class*="-toall"]:hover > *,
  [class*="inline-lg-"][class*="-toall"]:focus > *,
  [class*="inline-lg-"][class*="-toall"]:active > *,
  [class*="inline-lg-"][class*="-toone"] > *:hover,
  [class*="inline-lg-"][class*="-toone"] > *:focus,
  [class*="inline-lg-"][class*="-toone"] > *:active,
  [class*="inline-lg-"][class*="-radio1"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target1"],
  [class*="inline-lg-"][class*="-radio2"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target2"],
  [class*="inline-lg-"][class*="-radio3"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target3"],
  [class*="inline-lg-"][class*="-radio4"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target4"],
  [class*="inline-lg-"][class*="-radio5"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target5"],
  [class*="inline-lg-"][class*="-check"]:checked ~ [class*="inline-lg-"][class*="-hub"] [class*="inline-lg-"][class*="-goal"] {
    display: inline;
  }
}

@media (min-width: 1200px) {
  [class*="inline-xl-"][class*="-base"],
  [class*="inline-xl-"][class*="-global"] > *,
  *:hover > [class*="inline-xl-"][class*="-into"],
  *:focus > [class*="inline-xl-"][class*="-into"],
  *:active > [class*="inline-xl-"][class*="-into"],
  [class*="inline-xl-"][class*="-onto"]:hover,
  [class*="inline-xl-"][class*="-onto"]:focus,
  [class*="inline-xl-"][class*="-onto"]:active,
  [class*="inline-xl-"][class*="-toall"]:hover > *,
  [class*="inline-xl-"][class*="-toall"]:focus > *,
  [class*="inline-xl-"][class*="-toall"]:active > *,
  [class*="inline-xl-"][class*="-toone"] > *:hover,
  [class*="inline-xl-"][class*="-toone"] > *:focus,
  [class*="inline-xl-"][class*="-toone"] > *:active,
  [class*="inline-xl-"][class*="-radio1"]:checked ~ [class*="inline-xl-"][class*="-relay"] [class*="inline-xl-"][class*="-target1"],
  [class*="inline-xl-"][class*="-radio2"]:checked ~ [class*="inline-xl-"][class*="-relay"] [class*="inline-xl-"][class*="-target2"],
  [class*="inline-xl-"][class*="-radio3"]:checked ~ [class*="inline-xl-"][class*="-relay"] [class*="inline-xl-"][class*="-target3"],
  [class*="inline-xl-"][class*="-radio4"]:checked ~ [class*="inline-xl-"][class*="-relay"] [class*="inline-xl-"][class*="-target4"],
  [class*="inline-xl-"][class*="-radio5"]:checked ~ [class*="inline-xl-"][class*="-relay"] [class*="inline-xl-"][class*="-target5"],
  [class*="inline-xl-"][class*="-check"]:checked ~ [class*="inline-xl-"][class*="-hub"] [class*="inline-xl-"][class*="-goal"] {
    display: inline;
  }
}
