/********** DISPLAY **********/

/*
1 - Display Block
2 - Display Hide
3 - Display Inblock
4 - Display Inline
*/

/***** 1 - Display Block *****/
.block,
.block-global > *,
*:hover > .block-into,
*:focus > .block-into,
.block-onto:hover,
.block-onto:focus,
.block-toall:hover > *,
.block-toall:focus > *,
.block-toone > *:hover,
.block-toone > *:focus,
.block-radio1:checked ~ .block-relay .block-target1,
.block-radio2:checked ~ .block-relay .block-target2,
.block-radio3:checked ~ .block-relay .block-target3,
.block-radio4:checked ~ .block-relay .block-target4,
.block-radio5:checked ~ .block-relay .block-target5,
.block-check:checked ~ .block-hub .block-goal {
  display: block;
}

@media (min-width: 576px) {
  .block-sm,
  .block-sm-global > *,
  *:hover > .block-sm-into,
  *:focus > .block-sm-into,
  .block-sm-onto:hover,
  .block-sm-onto:focus,
  .block-sm-toall:hover > *,
  .block-sm-toall:focus > *,
  .block-sm-toone > *:hover,
  .block-sm-toone > *:focus,
  .block-sm-radio1:checked ~ .block-sm-relay .block-sm-target1,
  .block-sm-radio2:checked ~ .block-sm-relay .block-sm-target2,
  .block-sm-radio3:checked ~ .block-sm-relay .block-sm-target3,
  .block-sm-radio4:checked ~ .block-sm-relay .block-sm-target4,
  .block-sm-radio5:checked ~ .block-sm-relay .block-sm-target5,
  .block-sm-check:checked ~ .block-sm-hub .block-sm-goal {
    display: block;
  }
}

@media (min-width: 768px) {
  .block-md,
  .block-md-global > *,
  *:hover > .block-md-into,
  *:focus > .block-md-into,
  .block-md-onto:hover,
  .block-md-onto:focus,
  .block-md-toall:hover > *,
  .block-md-toall:focus > *,
  .block-md-toone > *:hover,
  .block-md-toone > *:focus,
  .block-md-radio1:checked ~ .block-md-relay .block-md-target1,
  .block-md-radio2:checked ~ .block-md-relay .block-md-target2,
  .block-md-radio3:checked ~ .block-md-relay .block-md-target3,
  .block-md-radio4:checked ~ .block-md-relay .block-md-target4,
  .block-md-radio5:checked ~ .block-md-relay .block-md-target5,
  .block-md-check:checked ~ .block-md-hub .block-md-goal {
    display: block;
  }
}

@media (min-width: 992px) {
  .block-lg,
  .block-lg-global > *,
  *:hover > .block-lg-into,
  *:focus > .block-lg-into,
  .block-lg-onto:hover,
  .block-lg-onto:focus,
  .block-lg-toall:hover > *,
  .block-lg-toall:focus > *,
  .block-lg-toone > *:hover,
  .block-lg-toone > *:focus,
  .block-lg-radio1:checked ~ .block-lg-relay .block-lg-target1,
  .block-lg-radio2:checked ~ .block-lg-relay .block-lg-target2,
  .block-lg-radio3:checked ~ .block-lg-relay .block-lg-target3,
  .block-lg-radio4:checked ~ .block-lg-relay .block-lg-target4,
  .block-lg-radio5:checked ~ .block-lg-relay .block-lg-target5,
  .block-lg-check:checked ~ .block-lg-hub .block-lg-goal {
    display: block;
  }
}

@media (min-width: 1200px) {
  .block-xl,
  .block-xl-global > *,
  *:hover > .block-xl-into,
  *:focus > .block-xl-into,
  .block-xl-onto:hover,
  .block-xl-onto:focus,
  .block-xl-toall:hover > *,
  .block-xl-toall:focus > *,
  .block-xl-toone > *:hover,
  .block-xl-toone > *:focus,
  .block-xl-radio1:checked ~ .block-xl-relay .block-xl-target1,
  .block-xl-radio2:checked ~ .block-xl-relay .block-xl-target2,
  .block-xl-radio3:checked ~ .block-xl-relay .block-xl-target3,
  .block-xl-radio4:checked ~ .block-xl-relay .block-xl-target4,
  .block-xl-radio5:checked ~ .block-xl-relay .block-xl-target5,
  .block-xl-check:checked ~ .block-xl-hub .block-xl-goal {
    display: block;
  }
}

/***** 2 - Display None *****/
.hide,
.hide-global > *,
*:hover > .hide-into,
*:focus > .hide-into,
.hide-onto:hover,
.hide-onto:focus,
.hide-toall:hover > *,
.hide-toall:focus > *,
.hide-toone > *:hover,
.hide-toone > *:focus,
.hide-radio1:checked ~ .hide-relay .hide-target1,
.hide-radio2:checked ~ .hide-relay .hide-target2,
.hide-radio3:checked ~ .hide-relay .hide-target3,
.hide-radio4:checked ~ .hide-relay .hide-target4,
.hide-radio5:checked ~ .hide-relay .hide-target5,
.hide-check:checked ~ .hide-hub .hide-goal {
  display: none;
}

@media (min-width: 576px) {
  .hide-sm,
  .hide-sm-global > *,
  *:hover > .hide-sm-into,
  *:focus > .hide-sm-into,
  .hide-sm-onto:hover,
  .hide-sm-onto:focus,
  .hide-sm-toall:hover > *,
  .hide-sm-toall:focus > *,
  .hide-sm-toone > *:hover,
  .hide-sm-toone > *:focus,
  .hide-sm-radio1:checked ~ .hide-sm-relay .hide-sm-target1,
  .hide-sm-radio2:checked ~ .hide-sm-relay .hide-sm-target2,
  .hide-sm-radio3:checked ~ .hide-sm-relay .hide-sm-target3,
  .hide-sm-radio4:checked ~ .hide-sm-relay .hide-sm-target4,
  .hide-sm-radio5:checked ~ .hide-sm-relay .hide-sm-target5,
  .hide-sm-check:checked ~ .hide-sm-hub .hide-sm-goal {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-md,
  .hide-md-global > *,
  *:hover > .hide-md-into,
  *:focus > .hide-md-into,
  .hide-md-onto:hover,
  .hide-md-onto:focus,
  .hide-md-toall:hover > *,
  .hide-md-toall:focus > *,
  .hide-md-toone > *:hover,
  .hide-md-toone > *:focus,
  .hide-md-radio1:checked ~ .hide-md-relay .hide-md-target1,
  .hide-md-radio2:checked ~ .hide-md-relay .hide-md-target2,
  .hide-md-radio3:checked ~ .hide-md-relay .hide-md-target3,
  .hide-md-radio4:checked ~ .hide-md-relay .hide-md-target4,
  .hide-md-radio5:checked ~ .hide-md-relay .hide-md-target5,
  .hide-md-check:checked ~ .hide-md-hub .hide-md-goal {
    display: none;
  }
}

@media (min-width: 992px) {
  .hide-lg,
  .hide-lg-global > *,
  *:hover > .hide-lg-into,
  *:focus > .hide-lg-into,
  .hide-lg-onto:hover,
  .hide-lg-onto:focus,
  .hide-lg-toall:hover > *,
  .hide-lg-toall:focus > *,
  .hide-lg-toone > *:hover,
  .hide-lg-toone > *:focus,
  .hide-lg-radio1:checked ~ .hide-lg-relay .hide-lg-target1,
  .hide-lg-radio2:checked ~ .hide-lg-relay .hide-lg-target2,
  .hide-lg-radio3:checked ~ .hide-lg-relay .hide-lg-target3,
  .hide-lg-radio4:checked ~ .hide-lg-relay .hide-lg-target4,
  .hide-lg-radio5:checked ~ .hide-lg-relay .hide-lg-target5,
  .hide-lg-check:checked ~ .hide-lg-hub .hide-lg-goal {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hide-xl,
  .hide-xl-global > *,
  *:hover > .hide-xl-into,
  *:focus > .hide-xl-into,
  .hide-xl-onto:hover,
  .hide-xl-onto:focus,
  .hide-xl-toall:hover > *,
  .hide-xl-toall:focus > *,
  .hide-xl-toone > *:hover,
  .hide-xl-toone > *:focus,
  .hide-xl-radio1:checked ~ .hide-xl-relay .hide-xl-target1,
  .hide-xl-radio2:checked ~ .hide-xl-relay .hide-xl-target2,
  .hide-xl-radio3:checked ~ .hide-xl-relay .hide-xl-target3,
  .hide-xl-radio4:checked ~ .hide-xl-relay .hide-xl-target4,
  .hide-xl-radio5:checked ~ .hide-xl-relay .hide-xl-target5,
  .hide-xl-check:checked ~ .hide-xl-hub .hide-xl-goal {
    display: none;
  }
}

/***** 3 - Display Inblock *****/
.inblock,
.inblock-global > *,
*:hover > .inblock-into,
*:focus > .inblock-into,
.inblock-onto:hover,
.inblock-onto:focus,
.inblock-toall:hover > *,
.inblock-toall:focus > *,
.inblock-toone > *:hover,
.inblock-toone > *:focus,
.inblock-radio1:checked ~ .inblock-relay .inblock-target1,
.inblock-radio2:checked ~ .inblock-relay .inblock-target2,
.inblock-radio3:checked ~ .inblock-relay .inblock-target3,
.inblock-radio4:checked ~ .inblock-relay .inblock-target4,
.inblock-radio5:checked ~ .inblock-relay .inblock-target5,
.inblock-check:checked ~ .inblock-hub .inblock-goal {
  display: inblock-block;
}

@media (min-width: 576px) {
  .inblock-sm,
  .inblock-sm-global > *,
  *:hover > .inblock-sm-into,
  *:focus > .inblock-sm-into,
  .inblock-sm-onto:hover,
  .inblock-sm-onto:focus,
  .inblock-sm-toall:hover > *,
  .inblock-sm-toall:focus > *,
  .inblock-sm-toone > *:hover,
  .inblock-sm-toone > *:focus,
  .inblock-sm-radio1:checked ~ .inblock-sm-relay .inblock-sm-target1,
  .inblock-sm-radio2:checked ~ .inblock-sm-relay .inblock-sm-target2,
  .inblock-sm-radio3:checked ~ .inblock-sm-relay .inblock-sm-target3,
  .inblock-sm-radio4:checked ~ .inblock-sm-relay .inblock-sm-target4,
  .inblock-sm-radio5:checked ~ .inblock-sm-relay .inblock-sm-target5,
  .inblock-sm-check:checked ~ .inblock-sm-hub .inblock-sm-goal {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .inblock-md,
  .inblock-md-global > *,
  *:hover > .inblock-md-into,
  *:focus > .inblock-md-into,
  .inblock-md-onto:hover,
  .inblock-md-onto:focus,
  .inblock-md-toall:hover > *,
  .inblock-md-toall:focus > *,
  .inblock-md-toone > *:hover,
  .inblock-md-toone > *:focus,
  .inblock-md-radio1:checked ~ .inblock-md-relay .inblock-md-target1,
  .inblock-md-radio2:checked ~ .inblock-md-relay .inblock-md-target2,
  .inblock-md-radio3:checked ~ .inblock-md-relay .inblock-md-target3,
  .inblock-md-radio4:checked ~ .inblock-md-relay .inblock-md-target4,
  .inblock-md-radio5:checked ~ .inblock-md-relay .inblock-md-target5,
  .inblock-md-check:checked ~ .inblock-md-hub .inblock-md-goal {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .inblock-lg,
  .inblock-lg-global > *,
  *:hover > .inblock-lg-into,
  *:focus > .inblock-lg-into,
  .inblock-lg-onto:hover,
  .inblock-lg-onto:focus,
  .inblock-lg-toall:hover > *,
  .inblock-lg-toall:focus > *,
  .inblock-lg-toone > *:hover,
  .inblock-lg-toone > *:focus,
  .inblock-lg-radio1:checked ~ .inblock-lg-relay .inblock-lg-target1,
  .inblock-lg-radio2:checked ~ .inblock-lg-relay .inblock-lg-target2,
  .inblock-lg-radio3:checked ~ .inblock-lg-relay .inblock-lg-target3,
  .inblock-lg-radio4:checked ~ .inblock-lg-relay .inblock-lg-target4,
  .inblock-lg-radio5:checked ~ .inblock-lg-relay .inblock-lg-target5,
  .inblock-lg-check:checked ~ .inblock-lg-hub .inblock-lg-goal {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .inblock-xl,
  .inblock-xl-global > *,
  *:hover > .inblock-xl-into,
  *:focus > .inblock-xl-into,
  .inblock-xl-onto:hover,
  .inblock-xl-onto:focus,
  .inblock-xl-toall:hover > *,
  .inblock-xl-toall:focus > *,
  .inblock-xl-toone > *:hover,
  .inblock-xl-toone > *:focus,
  .inblock-xl-radio1:checked ~ .inblock-xl-relay .inblock-xl-target1,
  .inblock-xl-radio2:checked ~ .inblock-xl-relay .inblock-xl-target2,
  .inblock-xl-radio3:checked ~ .inblock-xl-relay .inblock-xl-target3,
  .inblock-xl-radio4:checked ~ .inblock-xl-relay .inblock-xl-target4,
  .inblock-xl-radio5:checked ~ .inblock-xl-relay .inblock-xl-target5,
  .inblock-xl-check:checked ~ .inblock-xl-hub .inblock-xl-goal {
    display: inline-block;
  }
}

/***** 4 - Display Inline *****/
.inline,
.inline-global > *,
*:hover > .inline-into,
*:focus > .inline-into,
.inline-onto:hover,
.inline-onto:focus,
.inline-toall:hover > *,
.inline-toall:focus > *,
.inline-toone > *:hover,
.inline-toone > *:focus,
.inline-radio1:checked ~ .inline-relay .inline-target1,
.inline-radio2:checked ~ .inline-relay .inline-target2,
.inline-radio3:checked ~ .inline-relay .inline-target3,
.inline-radio4:checked ~ .inline-relay .inline-target4,
.inline-radio5:checked ~ .inline-relay .inline-target5,
.inline-check:checked ~ .inline-hub .inline-goal {
  display: inline;
}

@media (min-width: 576px) {
  .inline-sm,
  .inline-sm-global > *,
  *:hover > .inline-sm-into,
  *:focus > .inline-sm-into,
  .inline-sm-onto:hover,
  .inline-sm-onto:focus,
  .inline-sm-toall:hover > *,
  .inline-sm-toall:focus > *,
  .inline-sm-toone > *:hover,
  .inline-sm-toone > *:focus,
  .inline-sm-radio1:checked ~ .inline-sm-relay .inline-sm-target1,
  .inline-sm-radio2:checked ~ .inline-sm-relay .inline-sm-target2,
  .inline-sm-radio3:checked ~ .inline-sm-relay .inline-sm-target3,
  .inline-sm-radio4:checked ~ .inline-sm-relay .inline-sm-target4,
  .inline-sm-radio5:checked ~ .inline-sm-relay .inline-sm-target5,
  .inline-sm-check:checked ~ .inline-sm-hub .inline-sm-goal {
    display: inline;
  }
}

@media (min-width: 768px) {
  .inline-md,
  .inline-md-global > *,
  *:hover > .inline-md-into,
  *:focus > .inline-md-into,
  .inline-md-onto:hover,
  .inline-md-onto:focus,
  .inline-md-toall:hover > *,
  .inline-md-toall:focus > *,
  .inline-md-toone > *:hover,
  .inline-md-toone > *:focus,
  .inline-md-radio1:checked ~ .inline-md-relay .inline-md-target1,
  .inline-md-radio2:checked ~ .inline-md-relay .inline-md-target2,
  .inline-md-radio3:checked ~ .inline-md-relay .inline-md-target3,
  .inline-md-radio4:checked ~ .inline-md-relay .inline-md-target4,
  .inline-md-radio5:checked ~ .inline-md-relay .inline-md-target5,
  .inline-md-check:checked ~ .inline-md-hub .inline-md-goal {
    display: inline;
  }
}

@media (min-width: 992px) {
  .inline-lg,
  .inline-lg-global > *,
  *:hover > .inline-lg-into,
  *:focus > .inline-lg-into,
  .inline-lg-onto:hover,
  .inline-lg-onto:focus,
  .inline-lg-toall:hover > *,
  .inline-lg-toall:focus > *,
  .inline-lg-toone > *:hover,
  .inline-lg-toone > *:focus,
  .inline-lg-radio1:checked ~ .inline-lg-relay .inline-lg-target1,
  .inline-lg-radio2:checked ~ .inline-lg-relay .inline-lg-target2,
  .inline-lg-radio3:checked ~ .inline-lg-relay .inline-lg-target3,
  .inline-lg-radio4:checked ~ .inline-lg-relay .inline-lg-target4,
  .inline-lg-radio5:checked ~ .inline-lg-relay .inline-lg-target5,
  .inline-lg-check:checked ~ .inline-lg-hub .inline-lg-goal {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .inline-xl,
  .inline-xl-global > *,
  *:hover > .inline-xl-into,
  *:focus > .inline-xl-into,
  .inline-xl-onto:hover,
  .inline-xl-onto:focus,
  .inline-xl-toall:hover > *,
  .inline-xl-toall:focus > *,
  .inline-xl-toone > *:hover,
  .inline-xl-toone > *:focus,
  .inline-xl-radio1:checked ~ .inline-xl-relay .inline-xl-target1,
  .inline-xl-radio2:checked ~ .inline-xl-relay .inline-xl-target2,
  .inline-xl-radio3:checked ~ .inline-xl-relay .inline-xl-target3,
  .inline-xl-radio4:checked ~ .inline-xl-relay .inline-xl-target4,
  .inline-xl-radio5:checked ~ .inline-xl-relay .inline-xl-target5,
  .inline-xl-check:checked ~ .inline-xl-hub .inline-xl-goal {
    display: inline;
  }
}
