/********** FLOW **********/

/*
1 - Overflow Hidden
2 - Overflow Scroll
 */

/***** 1 - Overflow Hidden *****/
[class*="hidden-xs-"][class*="-base"],
[class*="hidden-xs-"][class*="-global"] > *,
*:hover > [class*="hidden-xs-"][class*="-into"],
*:focus > [class*="hidden-xs-"][class*="-into"],
*:active > [class*="hidden-xs-"][class*="-into"],
[class*="hidden-xs-"][class*="-onto"]:hover,
[class*="hidden-xs-"][class*="-onto"]:focus,
[class*="hidden-xs-"][class*="-onto"]:active,
[class*="hidden-xs-"][class*="-toall"]:hover > *,
[class*="hidden-xs-"][class*="-toall"]:focus > *,
[class*="hidden-xs-"][class*="-toall"]:active > *,
[class*="hidden-xs-"][class*="-toone"] > *:hover,
[class*="hidden-xs-"][class*="-toone"] > *:focus,
[class*="hidden-xs-"][class*="-toone"] > *:active,
[class*="hidden-xs-"][class*="-radio1"]:checked ~ [class*="hidden-xs-"][class*="-relay"] [class*="hidden-xs-"][class*="-target1"],
[class*="hidden-xs-"][class*="-radio2"]:checked ~ [class*="hidden-xs-"][class*="-relay"] [class*="hidden-xs-"][class*="-target2"],
[class*="hidden-xs-"][class*="-radio3"]:checked ~ [class*="hidden-xs-"][class*="-relay"] [class*="hidden-xs-"][class*="-target3"],
[class*="hidden-xs-"][class*="-radio4"]:checked ~ [class*="hidden-xs-"][class*="-relay"] [class*="hidden-xs-"][class*="-target4"],
[class*="hidden-xs-"][class*="-radio5"]:checked ~ [class*="hidden-xs-"][class*="-relay"] [class*="hidden-xs-"][class*="-target5"],
[class*="hidden-xs-"][class*="-check"]:checked ~ [class*="hidden-xs-"][class*="-hub"] [class*="hidden-xs-"][class*="-goal"] {
  overflow: hidden;
}

@media (min-width: 576px) {
  [class*="hidden-sm-"][class*="-base"],
  [class*="hidden-sm-"][class*="-global"] > *,
  *:hover > [class*="hidden-sm-"][class*="-into"],
  *:focus > [class*="hidden-sm-"][class*="-into"],
  *:active > [class*="hidden-sm-"][class*="-into"],
  [class*="hidden-sm-"][class*="-onto"]:hover,
  [class*="hidden-sm-"][class*="-onto"]:focus,
  [class*="hidden-sm-"][class*="-onto"]:active,
  [class*="hidden-sm-"][class*="-toall"]:hover > *,
  [class*="hidden-sm-"][class*="-toall"]:focus > *,
  [class*="hidden-sm-"][class*="-toall"]:active > *,
  [class*="hidden-sm-"][class*="-toone"] > *:hover,
  [class*="hidden-sm-"][class*="-toone"] > *:focus,
  [class*="hidden-sm-"][class*="-toone"] > *:active,
  [class*="hidden-sm-"][class*="-radio1"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target1"],
  [class*="hidden-sm-"][class*="-radio2"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target2"],
  [class*="hidden-sm-"][class*="-radio3"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target3"],
  [class*="hidden-sm-"][class*="-radio4"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target4"],
  [class*="hidden-sm-"][class*="-radio5"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target5"],
  [class*="hidden-sm-"][class*="-check"]:checked ~ [class*="hidden-sm-"][class*="-hub"] [class*="hidden-sm-"][class*="-goal"] {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  [class*="hidden-md-"][class*="-base"],
  [class*="hidden-md-"][class*="-global"] > *,
  *:hover > [class*="hidden-md-"][class*="-into"],
  *:focus > [class*="hidden-md-"][class*="-into"],
  *:active > [class*="hidden-md-"][class*="-into"],
  [class*="hidden-md-"][class*="-onto"]:hover,
  [class*="hidden-md-"][class*="-onto"]:focus,
  [class*="hidden-md-"][class*="-onto"]:active,
  [class*="hidden-md-"][class*="-toall"]:hover > *,
  [class*="hidden-md-"][class*="-toall"]:focus > *,
  [class*="hidden-md-"][class*="-toall"]:active > *,
  [class*="hidden-md-"][class*="-toone"] > *:hover,
  [class*="hidden-md-"][class*="-toone"] > *:focus,
  [class*="hidden-md-"][class*="-toone"] > *:active,
  [class*="hidden-md-"][class*="-radio1"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target1"],
  [class*="hidden-md-"][class*="-radio2"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target2"],
  [class*="hidden-md-"][class*="-radio3"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target3"],
  [class*="hidden-md-"][class*="-radio4"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target4"],
  [class*="hidden-md-"][class*="-radio5"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target5"],
  [class*="hidden-md-"][class*="-check"]:checked ~ [class*="hidden-md-"][class*="-hub"] [class*="hidden-md-"][class*="-goal"] {
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  [class*="hidden-lg-"][class*="-base"],
  [class*="hidden-lg-"][class*="-global"] > *,
  *:hover > [class*="hidden-lg-"][class*="-into"],
  *:focus > [class*="hidden-lg-"][class*="-into"],
  *:active > [class*="hidden-lg-"][class*="-into"],
  [class*="hidden-lg-"][class*="-onto"]:hover,
  [class*="hidden-lg-"][class*="-onto"]:focus,
  [class*="hidden-lg-"][class*="-onto"]:active,
  [class*="hidden-lg-"][class*="-toall"]:hover > *,
  [class*="hidden-lg-"][class*="-toall"]:focus > *,
  [class*="hidden-lg-"][class*="-toall"]:active > *,
  [class*="hidden-lg-"][class*="-toone"] > *:hover,
  [class*="hidden-lg-"][class*="-toone"] > *:focus,
  [class*="hidden-lg-"][class*="-toone"] > *:active,
  [class*="hidden-lg-"][class*="-radio1"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target1"],
  [class*="hidden-lg-"][class*="-radio2"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target2"],
  [class*="hidden-lg-"][class*="-radio3"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target3"],
  [class*="hidden-lg-"][class*="-radio4"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target4"],
  [class*="hidden-lg-"][class*="-radio5"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target5"],
  [class*="hidden-lg-"][class*="-check"]:checked ~ [class*="hidden-lg-"][class*="-hub"] [class*="hidden-lg-"][class*="-goal"] {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  [class*="hidden-xl-"][class*="-base"],
  [class*="hidden-xl-"][class*="-global"] > *,
  *:hover > [class*="hidden-xl-"][class*="-into"],
  *:focus > [class*="hidden-xl-"][class*="-into"],
  *:active > [class*="hidden-xl-"][class*="-into"],
  [class*="hidden-xl-"][class*="-onto"]:hover,
  [class*="hidden-xl-"][class*="-onto"]:focus,
  [class*="hidden-xl-"][class*="-onto"]:active,
  [class*="hidden-xl-"][class*="-toall"]:hover > *,
  [class*="hidden-xl-"][class*="-toall"]:focus > *,
  [class*="hidden-xl-"][class*="-toall"]:active > *,
  [class*="hidden-xl-"][class*="-toone"] > *:hover,
  [class*="hidden-xl-"][class*="-toone"] > *:focus,
  [class*="hidden-xl-"][class*="-toone"] > *:active,
  [class*="hidden-xl-"][class*="-radio1"]:checked ~ [class*="hidden-xl-"][class*="-relay"] [class*="hidden-xl-"][class*="-target1"],
  [class*="hidden-xl-"][class*="-radio2"]:checked ~ [class*="hidden-xl-"][class*="-relay"] [class*="hidden-xl-"][class*="-target2"],
  [class*="hidden-xl-"][class*="-radio3"]:checked ~ [class*="hidden-xl-"][class*="-relay"] [class*="hidden-xl-"][class*="-target3"],
  [class*="hidden-xl-"][class*="-radio4"]:checked ~ [class*="hidden-xl-"][class*="-relay"] [class*="hidden-xl-"][class*="-target4"],
  [class*="hidden-xl-"][class*="-radio5"]:checked ~ [class*="hidden-xl-"][class*="-relay"] [class*="hidden-xl-"][class*="-target5"],
  [class*="hidden-xl-"][class*="-check"]:checked ~ [class*="hidden-xl-"][class*="-hub"] [class*="hidden-xl-"][class*="-goal"] {
    overflow: hidden;
  }
}

/***** 2 - Overflow Scroll *****/
[class*="scroll-xs-"][class*="-base"],
[class*="scroll-xs-"][class*="-global"] > *,
*:hover > [class*="scroll-xs-"][class*="-into"],
*:focus > [class*="scroll-xs-"][class*="-into"],
*:active > [class*="scroll-xs-"][class*="-into"],
[class*="scroll-xs-"][class*="-onto"]:hover,
[class*="scroll-xs-"][class*="-onto"]:focus,
[class*="scroll-xs-"][class*="-onto"]:active,
[class*="scroll-xs-"][class*="-toall"]:hover > *,
[class*="scroll-xs-"][class*="-toall"]:focus > *,
[class*="scroll-xs-"][class*="-toall"]:active > *,
[class*="scroll-xs-"][class*="-toone"] > *:hover,
[class*="scroll-xs-"][class*="-toone"] > *:focus,
[class*="scroll-xs-"][class*="-toone"] > *:active,
[class*="scroll-xs-"][class*="-radio1"]:checked ~ [class*="scroll-xs-"][class*="-relay"] [class*="scroll-xs-"][class*="-target1"],
[class*="scroll-xs-"][class*="-radio2"]:checked ~ [class*="scroll-xs-"][class*="-relay"] [class*="scroll-xs-"][class*="-target2"],
[class*="scroll-xs-"][class*="-radio3"]:checked ~ [class*="scroll-xs-"][class*="-relay"] [class*="scroll-xs-"][class*="-target3"],
[class*="scroll-xs-"][class*="-radio4"]:checked ~ [class*="scroll-xs-"][class*="-relay"] [class*="scroll-xs-"][class*="-target4"],
[class*="scroll-xs-"][class*="-radio5"]:checked ~ [class*="scroll-xs-"][class*="-relay"] [class*="scroll-xs-"][class*="-target5"],
[class*="scroll-xs-"][class*="-check"]:checked ~ [class*="scroll-xs-"][class*="-hub"] [class*="scroll-xs-"][class*="-goal"] {
  overflow: scroll;
}

@media (min-width: 576px) {
  [class*="scroll-sm-"][class*="-base"],
  [class*="scroll-sm-"][class*="-global"] > *,
  *:hover > [class*="scroll-sm-"][class*="-into"],
  *:focus > [class*="scroll-sm-"][class*="-into"],
  *:active > [class*="scroll-sm-"][class*="-into"],
  [class*="scroll-sm-"][class*="-onto"]:hover,
  [class*="scroll-sm-"][class*="-onto"]:focus,
  [class*="scroll-sm-"][class*="-onto"]:active,
  [class*="scroll-sm-"][class*="-toall"]:hover > *,
  [class*="scroll-sm-"][class*="-toall"]:focus > *,
  [class*="scroll-sm-"][class*="-toall"]:active > *,
  [class*="scroll-sm-"][class*="-toone"] > *:hover,
  [class*="scroll-sm-"][class*="-toone"] > *:focus,
  [class*="scroll-sm-"][class*="-toone"] > *:active,
  [class*="scroll-sm-"][class*="-radio1"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target1"],
  [class*="scroll-sm-"][class*="-radio2"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target2"],
  [class*="scroll-sm-"][class*="-radio3"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target3"],
  [class*="scroll-sm-"][class*="-radio4"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target4"],
  [class*="scroll-sm-"][class*="-radio5"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target5"],
  [class*="scroll-sm-"][class*="-check"]:checked ~ [class*="scroll-sm-"][class*="-hub"] [class*="scroll-sm-"][class*="-goal"] {
    overflow: scroll;
  }
}

@media (min-width: 768px) {
  [class*="scroll-md-"][class*="-base"],
  [class*="scroll-md-"][class*="-global"] > *,
  *:hover > [class*="scroll-md-"][class*="-into"],
  *:focus > [class*="scroll-md-"][class*="-into"],
  *:active > [class*="scroll-md-"][class*="-into"],
  [class*="scroll-md-"][class*="-onto"]:hover,
  [class*="scroll-md-"][class*="-onto"]:focus,
  [class*="scroll-md-"][class*="-onto"]:active,
  [class*="scroll-md-"][class*="-toall"]:hover > *,
  [class*="scroll-md-"][class*="-toall"]:focus > *,
  [class*="scroll-md-"][class*="-toall"]:active > *,
  [class*="scroll-md-"][class*="-toone"] > *:hover,
  [class*="scroll-md-"][class*="-toone"] > *:focus,
  [class*="scroll-md-"][class*="-toone"] > *:active,
  [class*="scroll-md-"][class*="-radio1"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target1"],
  [class*="scroll-md-"][class*="-radio2"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target2"],
  [class*="scroll-md-"][class*="-radio3"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target3"],
  [class*="scroll-md-"][class*="-radio4"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target4"],
  [class*="scroll-md-"][class*="-radio5"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target5"],
  [class*="scroll-md-"][class*="-check"]:checked ~ [class*="scroll-md-"][class*="-hub"] [class*="scroll-md-"][class*="-goal"] {
    overflow: scroll;
  }
}

@media (min-width: 992px) {
  [class*="scroll-lg-"][class*="-base"],
  [class*="scroll-lg-"][class*="-global"] > *,
  *:hover > [class*="scroll-lg-"][class*="-into"],
  *:focus > [class*="scroll-lg-"][class*="-into"],
  *:active > [class*="scroll-lg-"][class*="-into"],
  [class*="scroll-lg-"][class*="-onto"]:hover,
  [class*="scroll-lg-"][class*="-onto"]:focus,
  [class*="scroll-lg-"][class*="-onto"]:active,
  [class*="scroll-lg-"][class*="-toall"]:hover > *,
  [class*="scroll-lg-"][class*="-toall"]:focus > *,
  [class*="scroll-lg-"][class*="-toall"]:active > *,
  [class*="scroll-lg-"][class*="-toone"] > *:hover,
  [class*="scroll-lg-"][class*="-toone"] > *:focus,
  [class*="scroll-lg-"][class*="-toone"] > *:active,
  [class*="scroll-lg-"][class*="-radio1"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target1"],
  [class*="scroll-lg-"][class*="-radio2"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target2"],
  [class*="scroll-lg-"][class*="-radio3"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target3"],
  [class*="scroll-lg-"][class*="-radio4"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target4"],
  [class*="scroll-lg-"][class*="-radio5"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target5"],
  [class*="scroll-lg-"][class*="-check"]:checked ~ [class*="scroll-lg-"][class*="-hub"] [class*="scroll-lg-"][class*="-goal"] {
    overflow: scroll;
  }
}

@media (min-width: 1200px) {
  [class*="scroll-xl-"][class*="-base"],
  [class*="scroll-xl-"][class*="-global"] > *,
  *:hover > [class*="scroll-xl-"][class*="-into"],
  *:focus > [class*="scroll-xl-"][class*="-into"],
  *:active > [class*="scroll-xl-"][class*="-into"],
  [class*="scroll-xl-"][class*="-onto"]:hover,
  [class*="scroll-xl-"][class*="-onto"]:focus,
  [class*="scroll-xl-"][class*="-onto"]:active,
  [class*="scroll-xl-"][class*="-toall"]:hover > *,
  [class*="scroll-xl-"][class*="-toall"]:focus > *,
  [class*="scroll-xl-"][class*="-toall"]:active > *,
  [class*="scroll-xl-"][class*="-toone"] > *:hover,
  [class*="scroll-xl-"][class*="-toone"] > *:focus,
  [class*="scroll-xl-"][class*="-toone"] > *:active,
  [class*="scroll-xl-"][class*="-radio1"]:checked ~ [class*="scroll-xl-"][class*="-relay"] [class*="scroll-xl-"][class*="-target1"],
  [class*="scroll-xl-"][class*="-radio2"]:checked ~ [class*="scroll-xl-"][class*="-relay"] [class*="scroll-xl-"][class*="-target2"],
  [class*="scroll-xl-"][class*="-radio3"]:checked ~ [class*="scroll-xl-"][class*="-relay"] [class*="scroll-xl-"][class*="-target3"],
  [class*="scroll-xl-"][class*="-radio4"]:checked ~ [class*="scroll-xl-"][class*="-relay"] [class*="scroll-xl-"][class*="-target4"],
  [class*="scroll-xl-"][class*="-radio5"]:checked ~ [class*="scroll-xl-"][class*="-relay"] [class*="scroll-xl-"][class*="-target5"],
  [class*="scroll-xl-"][class*="-check"]:checked ~ [class*="scroll-xl-"][class*="-hub"] [class*="scroll-xl-"][class*="-goal"] {
    overflow: scroll;
  }
}
