/********** POSITION **********/

/*
1 - Position Absolute
2 - Position Fixed
3 - Position Relative
4 - Position Sticky
5 - Top, Right, Bottom & Left
*/

/***** 1 - Position Absolute *****/
[class*="absolute-xs-"][class*="-base"],
[class*="absolute-xs-"][class*="-global"] > *,
*:hover > [class*="absolute-xs-"][class*="-into"],
*:focus > [class*="absolute-xs-"][class*="-into"],
[class*="absolute-xs-"][class*="-onto"]:hover,
[class*="absolute-xs-"][class*="-onto"]:focus,
[class*="absolute-xs-"][class*="-toall"]:hover > *,
[class*="absolute-xs-"][class*="-toall"]:focus > *,
[class*="absolute-xs-"][class*="-toone"] > *:hover,
[class*="absolute-xs-"][class*="-toone"] > *:focus,
[class*="absolute-xs-"][class*="-radio1"]:checked ~ [class*="absolute-xs-"][class*="-relay"] [class*="absolute-xs-"][class*="-target1"],
[class*="absolute-xs-"][class*="-radio2"]:checked ~ [class*="absolute-xs-"][class*="-relay"] [class*="absolute-xs-"][class*="-target2"],
[class*="absolute-xs-"][class*="-radio3"]:checked ~ [class*="absolute-xs-"][class*="-relay"] [class*="absolute-xs-"][class*="-target3"],
[class*="absolute-xs-"][class*="-radio4"]:checked ~ [class*="absolute-xs-"][class*="-relay"] [class*="absolute-xs-"][class*="-target4"],
[class*="absolute-xs-"][class*="-radio5"]:checked ~ [class*="absolute-xs-"][class*="-relay"] [class*="absolute-xs-"][class*="-target5"],
[class*="absolute-xs-"][class*="-check"]:checked ~ [class*="absolute-xs-"][class*="-hub"] [class*="absolute-xs-"][class*="-goal"] {
  position: absolute;
}

@media (min-width: 576px) {
  [class*="absolute-sm-"][class*="-base"],
  [class*="absolute-sm-"][class*="-global"] > *,
  *:hover > [class*="absolute-sm-"][class*="-into"],
  *:focus > [class*="absolute-sm-"][class*="-into"],
  [class*="absolute-sm-"][class*="-onto"]:hover,
  [class*="absolute-sm-"][class*="-onto"]:focus,
  [class*="absolute-sm-"][class*="-toall"]:hover > *,
  [class*="absolute-sm-"][class*="-toall"]:focus > *,
  [class*="absolute-sm-"][class*="-toone"] > *:hover,
  [class*="absolute-sm-"][class*="-toone"] > *:focus,
  [class*="absolute-sm-"][class*="-radio1"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target1"],
  [class*="absolute-sm-"][class*="-radio2"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target2"],
  [class*="absolute-sm-"][class*="-radio3"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target3"],
  [class*="absolute-sm-"][class*="-radio4"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target4"],
  [class*="absolute-sm-"][class*="-radio5"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target5"],
  [class*="absolute-sm-"][class*="-check"]:checked ~ [class*="absolute-sm-"][class*="-hub"] [class*="absolute-sm-"][class*="-goal"] {
    position: absolute;
  }
}

@media (min-width: 768px) {
  [class*="absolute-md-"][class*="-base"],
  [class*="absolute-md-"][class*="-global"] > *,
  *:hover > [class*="absolute-md-"][class*="-into"],
  *:focus > [class*="absolute-md-"][class*="-into"],
  [class*="absolute-md-"][class*="-onto"]:hover,
  [class*="absolute-md-"][class*="-onto"]:focus,
  [class*="absolute-md-"][class*="-toall"]:hover > *,
  [class*="absolute-md-"][class*="-toall"]:focus > *,
  [class*="absolute-md-"][class*="-toone"] > *:hover,
  [class*="absolute-md-"][class*="-toone"] > *:focus,
  [class*="absolute-md-"][class*="-radio1"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target1"],
  [class*="absolute-md-"][class*="-radio2"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target2"],
  [class*="absolute-md-"][class*="-radio3"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target3"],
  [class*="absolute-md-"][class*="-radio4"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target4"],
  [class*="absolute-md-"][class*="-radio5"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target5"],
  [class*="absolute-md-"][class*="-check"]:checked ~ [class*="absolute-md-"][class*="-hub"] [class*="absolute-md-"][class*="-goal"] {
    position: absolute;
  }
}

@media (min-width: 992px) {
  [class*="absolute-lg-"][class*="-base"],
  [class*="absolute-lg-"][class*="-global"] > *,
  *:hover > [class*="absolute-lg-"][class*="-into"],
  *:focus > [class*="absolute-lg-"][class*="-into"],
  [class*="absolute-lg-"][class*="-onto"]:hover,
  [class*="absolute-lg-"][class*="-onto"]:focus,
  [class*="absolute-lg-"][class*="-toall"]:hover > *,
  [class*="absolute-lg-"][class*="-toall"]:focus > *,
  [class*="absolute-lg-"][class*="-toone"] > *:hover,
  [class*="absolute-lg-"][class*="-toone"] > *:focus,
  [class*="absolute-lg-"][class*="-radio1"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target1"],
  [class*="absolute-lg-"][class*="-radio2"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target2"],
  [class*="absolute-lg-"][class*="-radio3"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target3"],
  [class*="absolute-lg-"][class*="-radio4"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target4"],
  [class*="absolute-lg-"][class*="-radio5"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target5"],
  [class*="absolute-lg-"][class*="-check"]:checked ~ [class*="absolute-lg-"][class*="-hub"] [class*="absolute-lg-"][class*="-goal"] {
    position: absolute;
  }
}

@media (min-width: 1200px) {
  [class*="absolute-xl-"][class*="-base"],
  [class*="absolute-xl-"][class*="-global"] > *,
  *:hover > [class*="absolute-xl-"][class*="-into"],
  *:focus > [class*="absolute-xl-"][class*="-into"],
  [class*="absolute-xl-"][class*="-onto"]:hover,
  [class*="absolute-xl-"][class*="-onto"]:focus,
  [class*="absolute-xl-"][class*="-toall"]:hover > *,
  [class*="absolute-xl-"][class*="-toall"]:focus > *,
  [class*="absolute-xl-"][class*="-toone"] > *:hover,
  [class*="absolute-xl-"][class*="-toone"] > *:focus,
  [class*="absolute-xl-"][class*="-radio1"]:checked ~ [class*="absolute-xl-"][class*="-relay"] [class*="absolute-xl-"][class*="-target1"],
  [class*="absolute-xl-"][class*="-radio2"]:checked ~ [class*="absolute-xl-"][class*="-relay"] [class*="absolute-xl-"][class*="-target2"],
  [class*="absolute-xl-"][class*="-radio3"]:checked ~ [class*="absolute-xl-"][class*="-relay"] [class*="absolute-xl-"][class*="-target3"],
  [class*="absolute-xl-"][class*="-radio4"]:checked ~ [class*="absolute-xl-"][class*="-relay"] [class*="absolute-xl-"][class*="-target4"],
  [class*="absolute-xl-"][class*="-radio5"]:checked ~ [class*="absolute-xl-"][class*="-relay"] [class*="absolute-xl-"][class*="-target5"],
  [class*="absolute-xl-"][class*="-check"]:checked ~ [class*="absolute-xl-"][class*="-hub"] [class*="absolute-xl-"][class*="-goal"] {
    position: absolute;
  }
}

/***** 2 - Position Fixed *****/
[class*="fixed-xs-"][class*="-base"],
[class*="fixed-xs-"][class*="-global"] > *,
*:hover > [class*="fixed-xs-"][class*="-into"],
*:focus > [class*="fixed-xs-"][class*="-into"],
[class*="fixed-xs-"][class*="-onto"]:hover,
[class*="fixed-xs-"][class*="-onto"]:focus,
[class*="fixed-xs-"][class*="-toall"]:hover > *,
[class*="fixed-xs-"][class*="-toall"]:focus > *,
[class*="fixed-xs-"][class*="-toone"] > *:hover,
[class*="fixed-xs-"][class*="-toone"] > *:focus,
[class*="fixed-xs-"][class*="-radio1"]:checked ~ [class*="fixed-xs-"][class*="-relay"] [class*="fixed-xs-"][class*="-target1"],
[class*="fixed-xs-"][class*="-radio2"]:checked ~ [class*="fixed-xs-"][class*="-relay"] [class*="fixed-xs-"][class*="-target2"],
[class*="fixed-xs-"][class*="-radio3"]:checked ~ [class*="fixed-xs-"][class*="-relay"] [class*="fixed-xs-"][class*="-target3"],
[class*="fixed-xs-"][class*="-radio4"]:checked ~ [class*="fixed-xs-"][class*="-relay"] [class*="fixed-xs-"][class*="-target4"],
[class*="fixed-xs-"][class*="-radio5"]:checked ~ [class*="fixed-xs-"][class*="-relay"] [class*="fixed-xs-"][class*="-target5"],
[class*="fixed-xs-"][class*="-check"]:checked ~ [class*="fixed-xs-"][class*="-hub"] [class*="fixed-xs-"][class*="-goal"] {
  position: fixed;
}

@media (min-width: 576px) {
  [class*="fixed-sm-"][class*="-base"],
  [class*="fixed-sm-"][class*="-global"] > *,
  *:hover > [class*="fixed-sm-"][class*="-into"],
  *:focus > [class*="fixed-sm-"][class*="-into"],
  [class*="fixed-sm-"][class*="-onto"]:hover,
  [class*="fixed-sm-"][class*="-onto"]:focus,
  [class*="fixed-sm-"][class*="-toall"]:hover > *,
  [class*="fixed-sm-"][class*="-toall"]:focus > *,
  [class*="fixed-sm-"][class*="-toone"] > *:hover,
  [class*="fixed-sm-"][class*="-toone"] > *:focus,
  [class*="fixed-sm-"][class*="-radio1"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target1"],
  [class*="fixed-sm-"][class*="-radio2"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target2"],
  [class*="fixed-sm-"][class*="-radio3"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target3"],
  [class*="fixed-sm-"][class*="-radio4"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target4"],
  [class*="fixed-sm-"][class*="-radio5"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target5"],
  [class*="fixed-sm-"][class*="-check"]:checked ~ [class*="fixed-sm-"][class*="-hub"] [class*="fixed-sm-"][class*="-goal"] {
    position: fixed;
  }
}

@media (min-width: 768px) {
  [class*="fixed-md-"][class*="-base"],
  [class*="fixed-md-"][class*="-global"] > *,
  *:hover > [class*="fixed-md-"][class*="-into"],
  *:focus > [class*="fixed-md-"][class*="-into"],
  [class*="fixed-md-"][class*="-onto"]:hover,
  [class*="fixed-md-"][class*="-onto"]:focus,
  [class*="fixed-md-"][class*="-toall"]:hover > *,
  [class*="fixed-md-"][class*="-toall"]:focus > *,
  [class*="fixed-md-"][class*="-toone"] > *:hover,
  [class*="fixed-md-"][class*="-toone"] > *:focus,
  [class*="fixed-md-"][class*="-radio1"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target1"],
  [class*="fixed-md-"][class*="-radio2"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target2"],
  [class*="fixed-md-"][class*="-radio3"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target3"],
  [class*="fixed-md-"][class*="-radio4"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target4"],
  [class*="fixed-md-"][class*="-radio5"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target5"],
  [class*="fixed-md-"][class*="-check"]:checked ~ [class*="fixed-md-"][class*="-hub"] [class*="fixed-md-"][class*="-goal"] {
    position: fixed;
  }
}

@media (min-width: 992px) {
  [class*="fixed-lg-"][class*="-base"],
  [class*="fixed-lg-"][class*="-global"] > *,
  *:hover > [class*="fixed-lg-"][class*="-into"],
  *:focus > [class*="fixed-lg-"][class*="-into"],
  [class*="fixed-lg-"][class*="-onto"]:hover,
  [class*="fixed-lg-"][class*="-onto"]:focus,
  [class*="fixed-lg-"][class*="-toall"]:hover > *,
  [class*="fixed-lg-"][class*="-toall"]:focus > *,
  [class*="fixed-lg-"][class*="-toone"] > *:hover,
  [class*="fixed-lg-"][class*="-toone"] > *:focus,
  [class*="fixed-lg-"][class*="-radio1"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target1"],
  [class*="fixed-lg-"][class*="-radio2"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target2"],
  [class*="fixed-lg-"][class*="-radio3"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target3"],
  [class*="fixed-lg-"][class*="-radio4"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target4"],
  [class*="fixed-lg-"][class*="-radio5"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target5"],
  [class*="fixed-lg-"][class*="-check"]:checked ~ [class*="fixed-lg-"][class*="-hub"] [class*="fixed-lg-"][class*="-goal"] {
    position: fixed;
  }
}

@media (min-width: 1200px) {
  [class*="fixed-xl-"][class*="-base"],
  [class*="fixed-xl-"][class*="-global"] > *,
  *:hover > [class*="fixed-xl-"][class*="-into"],
  *:focus > [class*="fixed-xl-"][class*="-into"],
  [class*="fixed-xl-"][class*="-onto"]:hover,
  [class*="fixed-xl-"][class*="-onto"]:focus,
  [class*="fixed-xl-"][class*="-toall"]:hover > *,
  [class*="fixed-xl-"][class*="-toall"]:focus > *,
  [class*="fixed-xl-"][class*="-toone"] > *:hover,
  [class*="fixed-xl-"][class*="-toone"] > *:focus,
  [class*="fixed-xl-"][class*="-radio1"]:checked ~ [class*="fixed-xl-"][class*="-relay"] [class*="fixed-xl-"][class*="-target1"],
  [class*="fixed-xl-"][class*="-radio2"]:checked ~ [class*="fixed-xl-"][class*="-relay"] [class*="fixed-xl-"][class*="-target2"],
  [class*="fixed-xl-"][class*="-radio3"]:checked ~ [class*="fixed-xl-"][class*="-relay"] [class*="fixed-xl-"][class*="-target3"],
  [class*="fixed-xl-"][class*="-radio4"]:checked ~ [class*="fixed-xl-"][class*="-relay"] [class*="fixed-xl-"][class*="-target4"],
  [class*="fixed-xl-"][class*="-radio5"]:checked ~ [class*="fixed-xl-"][class*="-relay"] [class*="fixed-xl-"][class*="-target5"],
  [class*="fixed-xl-"][class*="-check"]:checked ~ [class*="fixed-xl-"][class*="-hub"] [class*="fixed-xl-"][class*="-goal"] {
    position: fixed;
  }
}

/***** 3 - Position Relative *****/
[class*="relative-xs-"][class*="-base"],
[class*="relative-xs-"][class*="-global"] > *,
*:hover > [class*="relative-xs-"][class*="-into"],
*:focus > [class*="relative-xs-"][class*="-into"],
[class*="relative-xs-"][class*="-onto"]:hover,
[class*="relative-xs-"][class*="-onto"]:focus,
[class*="relative-xs-"][class*="-toall"]:hover > *,
[class*="relative-xs-"][class*="-toall"]:focus > *,
[class*="relative-xs-"][class*="-toone"] > *:hover,
[class*="relative-xs-"][class*="-toone"] > *:focus,
[class*="relative-xs-"][class*="-radio1"]:checked ~ [class*="relative-xs-"][class*="-relay"] [class*="relative-xs-"][class*="-target1"],
[class*="relative-xs-"][class*="-radio2"]:checked ~ [class*="relative-xs-"][class*="-relay"] [class*="relative-xs-"][class*="-target2"],
[class*="relative-xs-"][class*="-radio3"]:checked ~ [class*="relative-xs-"][class*="-relay"] [class*="relative-xs-"][class*="-target3"],
[class*="relative-xs-"][class*="-radio4"]:checked ~ [class*="relative-xs-"][class*="-relay"] [class*="relative-xs-"][class*="-target4"],
[class*="relative-xs-"][class*="-radio5"]:checked ~ [class*="relative-xs-"][class*="-relay"] [class*="relative-xs-"][class*="-target5"],
[class*="relative-xs-"][class*="-check"]:checked ~ [class*="relative-xs-"][class*="-hub"] [class*="relative-xs-"][class*="-goal"] {
  position: relative;
}

@media (min-width: 576px) {
  [class*="relative-sm-"][class*="-base"],
  [class*="relative-sm-"][class*="-global"] > *,
  *:hover > [class*="relative-sm-"][class*="-into"],
  *:focus > [class*="relative-sm-"][class*="-into"],
  [class*="relative-sm-"][class*="-onto"]:hover,
  [class*="relative-sm-"][class*="-onto"]:focus,
  [class*="relative-sm-"][class*="-toall"]:hover > *,
  [class*="relative-sm-"][class*="-toall"]:focus > *,
  [class*="relative-sm-"][class*="-toone"] > *:hover,
  [class*="relative-sm-"][class*="-toone"] > *:focus,
  [class*="relative-sm-"][class*="-radio1"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target1"],
  [class*="relative-sm-"][class*="-radio2"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target2"],
  [class*="relative-sm-"][class*="-radio3"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target3"],
  [class*="relative-sm-"][class*="-radio4"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target4"],
  [class*="relative-sm-"][class*="-radio5"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target5"],
  [class*="relative-sm-"][class*="-check"]:checked ~ [class*="relative-sm-"][class*="-hub"] [class*="relative-sm-"][class*="-goal"] {
    position: relative;
  }
}

@media (min-width: 768px) {
  [class*="relative-md-"][class*="-base"],
  [class*="relative-md-"][class*="-global"] > *,
  *:hover > [class*="relative-md-"][class*="-into"],
  *:focus > [class*="relative-md-"][class*="-into"],
  [class*="relative-md-"][class*="-onto"]:hover,
  [class*="relative-md-"][class*="-onto"]:focus,
  [class*="relative-md-"][class*="-toall"]:hover > *,
  [class*="relative-md-"][class*="-toall"]:focus > *,
  [class*="relative-md-"][class*="-toone"] > *:hover,
  [class*="relative-md-"][class*="-toone"] > *:focus,
  [class*="relative-md-"][class*="-radio1"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target1"],
  [class*="relative-md-"][class*="-radio2"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target2"],
  [class*="relative-md-"][class*="-radio3"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target3"],
  [class*="relative-md-"][class*="-radio4"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target4"],
  [class*="relative-md-"][class*="-radio5"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target5"],
  [class*="relative-md-"][class*="-check"]:checked ~ [class*="relative-md-"][class*="-hub"] [class*="relative-md-"][class*="-goal"] {
    position: relative;
  }
}

@media (min-width: 992px) {
  [class*="relative-lg-"][class*="-base"],
  [class*="relative-lg-"][class*="-global"] > *,
  *:hover > [class*="relative-lg-"][class*="-into"],
  *:focus > [class*="relative-lg-"][class*="-into"],
  [class*="relative-lg-"][class*="-onto"]:hover,
  [class*="relative-lg-"][class*="-onto"]:focus,
  [class*="relative-lg-"][class*="-toall"]:hover > *,
  [class*="relative-lg-"][class*="-toall"]:focus > *,
  [class*="relative-lg-"][class*="-toone"] > *:hover,
  [class*="relative-lg-"][class*="-toone"] > *:focus,
  [class*="relative-lg-"][class*="-radio1"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target1"],
  [class*="relative-lg-"][class*="-radio2"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target2"],
  [class*="relative-lg-"][class*="-radio3"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target3"],
  [class*="relative-lg-"][class*="-radio4"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target4"],
  [class*="relative-lg-"][class*="-radio5"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target5"],
  [class*="relative-lg-"][class*="-check"]:checked ~ [class*="relative-lg-"][class*="-hub"] [class*="relative-lg-"][class*="-goal"] {
    position: relative;
  }
}

@media (min-width: 1200px) {
  [class*="relative-xl-"][class*="-base"],
  [class*="relative-xl-"][class*="-global"] > *,
  *:hover > [class*="relative-xl-"][class*="-into"],
  *:focus > [class*="relative-xl-"][class*="-into"],
  [class*="relative-xl-"][class*="-onto"]:hover,
  [class*="relative-xl-"][class*="-onto"]:focus,
  [class*="relative-xl-"][class*="-toall"]:hover > *,
  [class*="relative-xl-"][class*="-toall"]:focus > *,
  [class*="relative-xl-"][class*="-toone"] > *:hover,
  [class*="relative-xl-"][class*="-toone"] > *:focus,
  [class*="relative-xl-"][class*="-radio1"]:checked ~ [class*="relative-xl-"][class*="-relay"] [class*="relative-xl-"][class*="-target1"],
  [class*="relative-xl-"][class*="-radio2"]:checked ~ [class*="relative-xl-"][class*="-relay"] [class*="relative-xl-"][class*="-target2"],
  [class*="relative-xl-"][class*="-radio3"]:checked ~ [class*="relative-xl-"][class*="-relay"] [class*="relative-xl-"][class*="-target3"],
  [class*="relative-xl-"][class*="-radio4"]:checked ~ [class*="relative-xl-"][class*="-relay"] [class*="relative-xl-"][class*="-target4"],
  [class*="relative-xl-"][class*="-radio5"]:checked ~ [class*="relative-xl-"][class*="-relay"] [class*="relative-xl-"][class*="-target5"],
  [class*="relative-xl-"][class*="-check"]:checked ~ [class*="relative-xl-"][class*="-hub"] [class*="relative-xl-"][class*="-goal"] {
    position: relative;
  }
}

/***** 4 - Position Sticky *****/
[class*="sticky-xs-"][class*="-base"],
[class*="sticky-xs-"][class*="-global"] > *,
*:hover > [class*="sticky-xs-"][class*="-into"],
*:focus > [class*="sticky-xs-"][class*="-into"],
[class*="sticky-xs-"][class*="-onto"]:hover,
[class*="sticky-xs-"][class*="-onto"]:focus,
[class*="sticky-xs-"][class*="-toall"]:hover > *,
[class*="sticky-xs-"][class*="-toall"]:focus > *,
[class*="sticky-xs-"][class*="-toone"] > *:hover,
[class*="sticky-xs-"][class*="-toone"] > *:focus,
[class*="sticky-xs-"][class*="-radio1"]:checked ~ [class*="sticky-xs-"][class*="-relay"] [class*="sticky-xs-"][class*="-target1"],
[class*="sticky-xs-"][class*="-radio2"]:checked ~ [class*="sticky-xs-"][class*="-relay"] [class*="sticky-xs-"][class*="-target2"],
[class*="sticky-xs-"][class*="-radio3"]:checked ~ [class*="sticky-xs-"][class*="-relay"] [class*="sticky-xs-"][class*="-target3"],
[class*="sticky-xs-"][class*="-radio4"]:checked ~ [class*="sticky-xs-"][class*="-relay"] [class*="sticky-xs-"][class*="-target4"],
[class*="sticky-xs-"][class*="-radio5"]:checked ~ [class*="sticky-xs-"][class*="-relay"] [class*="sticky-xs-"][class*="-target5"],
[class*="sticky-xs-"][class*="-check"]:checked ~ [class*="sticky-xs-"][class*="-hub"] [class*="sticky-xs-"][class*="-goal"] {
  position: sticky;
}

@media (min-width: 576px) {
  [class*="sticky-sm-"][class*="-base"],
  [class*="sticky-sm-"][class*="-global"] > *,
  *:hover > [class*="sticky-sm-"][class*="-into"],
  *:focus > [class*="sticky-sm-"][class*="-into"],
  [class*="sticky-sm-"][class*="-onto"]:hover,
  [class*="sticky-sm-"][class*="-onto"]:focus,
  [class*="sticky-sm-"][class*="-toall"]:hover > *,
  [class*="sticky-sm-"][class*="-toall"]:focus > *,
  [class*="sticky-sm-"][class*="-toone"] > *:hover,
  [class*="sticky-sm-"][class*="-toone"] > *:focus,
  [class*="sticky-sm-"][class*="-radio1"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target1"],
  [class*="sticky-sm-"][class*="-radio2"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target2"],
  [class*="sticky-sm-"][class*="-radio3"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target3"],
  [class*="sticky-sm-"][class*="-radio4"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target4"],
  [class*="sticky-sm-"][class*="-radio5"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target5"],
  [class*="sticky-sm-"][class*="-check"]:checked ~ [class*="sticky-sm-"][class*="-hub"] [class*="sticky-sm-"][class*="-goal"] {
    position: sticky;
  }
}

@media (min-width: 768px) {
  [class*="sticky-md-"][class*="-base"],
  [class*="sticky-md-"][class*="-global"] > *,
  *:hover > [class*="sticky-md-"][class*="-into"],
  *:focus > [class*="sticky-md-"][class*="-into"],
  [class*="sticky-md-"][class*="-onto"]:hover,
  [class*="sticky-md-"][class*="-onto"]:focus,
  [class*="sticky-md-"][class*="-toall"]:hover > *,
  [class*="sticky-md-"][class*="-toall"]:focus > *,
  [class*="sticky-md-"][class*="-toone"] > *:hover,
  [class*="sticky-md-"][class*="-toone"] > *:focus,
  [class*="sticky-md-"][class*="-radio1"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target1"],
  [class*="sticky-md-"][class*="-radio2"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target2"],
  [class*="sticky-md-"][class*="-radio3"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target3"],
  [class*="sticky-md-"][class*="-radio4"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target4"],
  [class*="sticky-md-"][class*="-radio5"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target5"],
  [class*="sticky-md-"][class*="-check"]:checked ~ [class*="sticky-md-"][class*="-hub"] [class*="sticky-md-"][class*="-goal"] {
    position: sticky;
  }
}

@media (min-width: 992px) {
  [class*="sticky-lg-"][class*="-base"],
  [class*="sticky-lg-"][class*="-global"] > *,
  *:hover > [class*="sticky-lg-"][class*="-into"],
  *:focus > [class*="sticky-lg-"][class*="-into"],
  [class*="sticky-lg-"][class*="-onto"]:hover,
  [class*="sticky-lg-"][class*="-onto"]:focus,
  [class*="sticky-lg-"][class*="-toall"]:hover > *,
  [class*="sticky-lg-"][class*="-toall"]:focus > *,
  [class*="sticky-lg-"][class*="-toone"] > *:hover,
  [class*="sticky-lg-"][class*="-toone"] > *:focus,
  [class*="sticky-lg-"][class*="-radio1"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target1"],
  [class*="sticky-lg-"][class*="-radio2"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target2"],
  [class*="sticky-lg-"][class*="-radio3"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target3"],
  [class*="sticky-lg-"][class*="-radio4"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target4"],
  [class*="sticky-lg-"][class*="-radio5"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target5"],
  [class*="sticky-lg-"][class*="-check"]:checked ~ [class*="sticky-lg-"][class*="-hub"] [class*="sticky-lg-"][class*="-goal"] {
    position: sticky;
  }
}

@media (min-width: 1200px) {
  [class*="sticky-xl-"][class*="-base"],
  [class*="sticky-xl-"][class*="-global"] > *,
  *:hover > [class*="sticky-xl-"][class*="-into"],
  *:focus > [class*="sticky-xl-"][class*="-into"],
  [class*="sticky-xl-"][class*="-onto"]:hover,
  [class*="sticky-xl-"][class*="-onto"]:focus,
  [class*="sticky-xl-"][class*="-toall"]:hover > *,
  [class*="sticky-xl-"][class*="-toall"]:focus > *,
  [class*="sticky-xl-"][class*="-toone"] > *:hover,
  [class*="sticky-xl-"][class*="-toone"] > *:focus,
  [class*="sticky-xl-"][class*="-radio1"]:checked ~ [class*="sticky-xl-"][class*="-relay"] [class*="sticky-xl-"][class*="-target1"],
  [class*="sticky-xl-"][class*="-radio2"]:checked ~ [class*="sticky-xl-"][class*="-relay"] [class*="sticky-xl-"][class*="-target2"],
  [class*="sticky-xl-"][class*="-radio3"]:checked ~ [class*="sticky-xl-"][class*="-relay"] [class*="sticky-xl-"][class*="-target3"],
  [class*="sticky-xl-"][class*="-radio4"]:checked ~ [class*="sticky-xl-"][class*="-relay"] [class*="sticky-xl-"][class*="-target4"],
  [class*="sticky-xl-"][class*="-radio5"]:checked ~ [class*="sticky-xl-"][class*="-relay"] [class*="sticky-xl-"][class*="-target5"],
  [class*="sticky-xl-"][class*="-check"]:checked ~ [class*="sticky-xl-"][class*="-hub"] [class*="sticky-xl-"][class*="-goal"] {
    position: sticky;
  }
}

/***** 5 - Top, Right, Bottom & Left *****/
[class*="pos-top-"][class*="-base"],
[class*="pos-top-"][class*="-global"] > *,
*:hover > [class*="pos-top-"][class*="-into"],
*:focus > [class*="pos-top-"][class*="-into"],
[class*="pos-top-"][class*="-onto"]:hover,
[class*="pos-top-"][class*="-onto"]:focus,
[class*="pos-top-"][class*="-toall"]:hover > *,
[class*="pos-top-"][class*="-toall"]:focus > *,
[class*="pos-top-"][class*="-toone"] > *:hover,
[class*="pos-top-"][class*="-toone"] > *:focus,
[class*="pos-top-"][class*="-radio1"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target1"],
[class*="pos-top-"][class*="-radio2"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target2"],
[class*="pos-top-"][class*="-radio3"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target3"],
[class*="pos-top-"][class*="-radio4"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target4"],
[class*="pos-top-"][class*="-radio5"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target5"],
[class*="pos-top-"][class*="-check"]:checked ~ [class*="pos-top-"][class*="-hub"] [class*="pos-top-"][class*="-goal"] {
  top: 0;
  right: 0;
  left: 0;
}

[class*="pos-bot-"][class*="-base"],
[class*="pos-bot-"][class*="-global"] > *,
*:hover > [class*="pos-bot-"][class*="-into"],
*:focus > [class*="pos-bot-"][class*="-into"],
[class*="pos-bot-"][class*="-onto"]:hover,
[class*="pos-bot-"][class*="-onto"]:focus,
[class*="pos-bot-"][class*="-toall"]:hover > *,
[class*="pos-bot-"][class*="-toall"]:focus > *,
[class*="pos-bot-"][class*="-toone"] > *:hover,
[class*="pos-bot-"][class*="-toone"] > *:focus,
[class*="pos-bot-"][class*="-radio1"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target1"],
[class*="pos-bot-"][class*="-radio2"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target2"],
[class*="pos-bot-"][class*="-radio3"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target3"],
[class*="pos-bot-"][class*="-radio4"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target4"],
[class*="pos-bot-"][class*="-radio5"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target5"],
[class*="pos-bot-"][class*="-check"]:checked ~ [class*="pos-bot-"][class*="-hub"] [class*="pos-bot-"][class*="-goal"] {
  bottom: 0;
  right: 0;
  left: 0;
}

[class*="pos-right-"][class*="-base"],
[class*="pos-right-"][class*="-global"] > *,
*:hover > [class*="pos-right-"][class*="-into"],
*:focus > [class*="pos-right-"][class*="-into"],
[class*="pos-right-"][class*="-onto"]:hover,
[class*="pos-right-"][class*="-onto"]:focus,
[class*="pos-right-"][class*="-toall"]:hover > *,
[class*="pos-right-"][class*="-toall"]:focus > *,
[class*="pos-right-"][class*="-toone"] > *:hover,
[class*="pos-right-"][class*="-toone"] > *:focus,
[class*="pos-right-"][class*="-radio1"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target1"],
[class*="pos-right-"][class*="-radio2"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target2"],
[class*="pos-right-"][class*="-radio3"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target3"],
[class*="pos-right-"][class*="-radio4"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target4"],
[class*="pos-right-"][class*="-radio5"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target5"],
[class*="pos-right-"][class*="-check"]:checked ~ [class*="pos-right-"][class*="-hub"] [class*="pos-right-"][class*="-goal"] {
  right: 0;
  top: 0;
  bottom: 0;
}

[class*="pos-left-"][class*="-base"],
[class*="pos-left-"][class*="-global"] > *,
*:hover > [class*="pos-left-"][class*="-into"],
*:focus > [class*="pos-left-"][class*="-into"],
[class*="pos-left-"][class*="-onto"]:hover,
[class*="pos-left-"][class*="-onto"]:focus,
[class*="pos-left-"][class*="-toall"]:hover > *,
[class*="pos-left-"][class*="-toall"]:focus > *,
[class*="pos-left-"][class*="-toone"] > *:hover,
[class*="pos-left-"][class*="-toone"] > *:focus,
[class*="pos-left-"][class*="-radio1"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target1"],
[class*="pos-left-"][class*="-radio2"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target2"],
[class*="pos-left-"][class*="-radio3"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target3"],
[class*="pos-left-"][class*="-radio4"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target4"],
[class*="pos-left-"][class*="-radio5"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target5"],
[class*="pos-left-"][class*="-check"]:checked ~ [class*="pos-left-"][class*="-hub"] [class*="pos-left-"][class*="-goal"] {
  left: 0;
  top: 0;
  bottom: 0;
}
