/********** SHABOX **********/

/*
1 - Box Shadow
2 - Box Shadow Blur
3 - Box Shadow Spread
*/

/***** 1 - Box Shadow *****/
.shabox-sm,
.shabox-sm-global > *,
*:hover > .shabox-sm-into,
*:focus > .shabox-sm-into,
.shabox-sm-onto:hover,
.shabox-sm-onto:focus,
.shabox-sm-toall:hover > *,
.shabox-sm-toall:focus > *,
.shabox-sm-toone > *:hover,
.shabox-sm-toone > *:focus,
.shabox-sm-radio1:checked ~ .shabox-sm-relay .shabox-sm-target1,
.shabox-sm-radio2:checked ~ .shabox-sm-relay .shabox-sm-target2,
.shabox-sm-radio3:checked ~ .shabox-sm-relay .shabox-sm-target3,
.shabox-sm-radio4:checked ~ .shabox-sm-relay .shabox-sm-target4,
.shabox-sm-radio5:checked ~ .shabox-sm-relay .shabox-sm-target5,
.shabox-sm-check:checked ~ .shabox-sm-hub .shabox-sm-goal {
  box-shadow: var(--box-shadow-sm);
}

.shabox-in-sm,
.shabox-in-sm-global > *,
*:hover > .shabox-in-sm-into,
*:focus > .shabox-in-sm-into,
.shabox-in-sm-onto:hover,
.shabox-in-sm-onto:focus,
.shabox-in-sm-toall:hover > *,
.shabox-in-sm-toall:focus > *,
.shabox-in-sm-toone > *:hover,
.shabox-in-sm-toone > *:focus,
.shabox-in-sm-radio1:checked ~ .shabox-in-sm-relay .shabox-in-sm-target1,
.shabox-in-sm-radio2:checked ~ .shabox-in-sm-relay .shabox-in-sm-target2,
.shabox-in-sm-radio3:checked ~ .shabox-in-sm-relay .shabox-in-sm-target3,
.shabox-in-sm-radio4:checked ~ .shabox-in-sm-relay .shabox-in-sm-target4,
.shabox-in-sm-radio5:checked ~ .shabox-in-sm-relay .shabox-in-sm-target5,
.shabox-in-sm-check:checked ~ .shabox-in-sm-hub .shabox-in-sm-goal {
  box-shadow: inset var(--box-shadow-sm);
}

.shabox-md,
.shabox-md-global > *,
*:hover > .shabox-md-into,
*:focus > .shabox-md-into,
.shabox-md-onto:hover,
.shabox-md-onto:focus,
.shabox-md-toall:hover > *,
.shabox-md-toall:focus > *,
.shabox-md-toone > *:hover,
.shabox-md-toone > *:focus,
.shabox-md-radio1:checked ~ .shabox-md-relay .shabox-md-target1,
.shabox-md-radio2:checked ~ .shabox-md-relay .shabox-md-target2,
.shabox-md-radio3:checked ~ .shabox-md-relay .shabox-md-target3,
.shabox-md-radio4:checked ~ .shabox-md-relay .shabox-md-target4,
.shabox-md-radio5:checked ~ .shabox-md-relay .shabox-md-target5,
.shabox-md-check:checked ~ .shabox-md-hub .shabox-md-goal {
  box-shadow: var(--box-shadow-md);
}

.shabox-in-md,
.shabox-in-md-global > *,
*:hover > .shabox-in-md-into,
*:focus > .shabox-in-md-into,
.shabox-in-md-onto:hover,
.shabox-in-md-onto:focus,
.shabox-in-md-toall:hover > *,
.shabox-in-md-toall:focus > *,
.shabox-in-md-toone > *:hover,
.shabox-in-md-toone > *:focus,
.shabox-in-md-radio1:checked ~ .shabox-in-md-relay .shabox-in-md-target1,
.shabox-in-md-radio2:checked ~ .shabox-in-md-relay .shabox-in-md-target2,
.shabox-in-md-radio3:checked ~ .shabox-in-md-relay .shabox-in-md-target3,
.shabox-in-md-radio4:checked ~ .shabox-in-md-relay .shabox-in-md-target4,
.shabox-in-md-radio5:checked ~ .shabox-in-md-relay .shabox-in-md-target5,
.shabox-in-md-check:checked ~ .shabox-in-md-hub .shabox-in-md-goal {
  box-shadow: inset var(--box-shadow-md);
}

.shabox-lg,
.shabox-lg-global > *,
*:hover > .shabox-lg-into,
*:focus > .shabox-lg-into,
.shabox-lg-onto:hover,
.shabox-lg-onto:focus,
.shabox-lg-toall:hover > *,
.shabox-lg-toall:focus > *,
.shabox-lg-toone > *:hover,
.shabox-lg-toone > *:focus,
.shabox-lg-radio1:checked ~ .shabox-lg-relay .shabox-lg-target1,
.shabox-lg-radio2:checked ~ .shabox-lg-relay .shabox-lg-target2,
.shabox-lg-radio3:checked ~ .shabox-lg-relay .shabox-lg-target3,
.shabox-lg-radio4:checked ~ .shabox-lg-relay .shabox-lg-target4,
.shabox-lg-radio5:checked ~ .shabox-lg-relay .shabox-lg-target5,
.shabox-lg-check:checked ~ .shabox-lg-hub .shabox-lg-goal {
  box-shadow: var(--box-shadow-lg);
}

.shabox-in-lg,
.shabox-in-lg-global > *,
*:hover > .shabox-in-lg-into,
*:focus > .shabox-in-lg-into,
.shabox-in-lg-onto:hover,
.shabox-in-lg-onto:focus,
.shabox-in-lg-toall:hover > *,
.shabox-in-lg-toall:focus > *,
.shabox-in-lg-toone > *:hover,
.shabox-in-lg-toone > *:focus,
.shabox-in-lg-radio1:checked ~ .shabox-in-lg-relay .shabox-in-lg-target1,
.shabox-in-lg-radio2:checked ~ .shabox-in-lg-relay .shabox-in-lg-target2,
.shabox-in-lg-radio3:checked ~ .shabox-in-lg-relay .shabox-in-lg-target3,
.shabox-in-lg-radio4:checked ~ .shabox-in-lg-relay .shabox-in-lg-target4,
.shabox-in-lg-radio5:checked ~ .shabox-in-lg-relay .shabox-in-lg-target5,
.shabox-in-lg-check:checked ~ .shabox-in-lg-hub .shabox-in-lg-goal {
  box-shadow: inset var(--box-shadow-lg);
}

/***** 2 - Box Shadow Blur *****/
.shabox-blur,
.shabox-blur-global > *,
*:hover > .shabox-blur-into,
*:focus > .shabox-blur-into,
.shabox-blur-onto:hover,
.shabox-blur-onto:focus,
.shabox-blur-toall:hover > *,
.shabox-blur-toall:focus > *,
.shabox-blur-toone > *:hover,
.shabox-blur-toone > *:focus,
.shabox-blur-radio1:checked ~ .shabox-blur-relay .shabox-blur-target1,
.shabox-blur-radio2:checked ~ .shabox-blur-relay .shabox-blur-target2,
.shabox-blur-radio3:checked ~ .shabox-blur-relay .shabox-blur-target3,
.shabox-blur-radio4:checked ~ .shabox-blur-relay .shabox-blur-target4,
.shabox-blur-radio5:checked ~ .shabox-blur-relay .shabox-blur-target5,
.shabox-blur-check:checked ~ .shabox-blur-hub .shabox-blur-goal {
  box-shadow: var(--box-shadow-blur);
}

.shabox-in-blur,
.shabox-in-blur-global > *,
*:hover > .shabox-in-blur-into,
*:focus > .shabox-in-blur-into,
.shabox-in-blur-onto:hover,
.shabox-in-blur-onto:focus,
.shabox-in-blur-toall:hover > *,
.shabox-in-blur-toall:focus > *,
.shabox-in-blur-toone > *:hover,
.shabox-in-blur-toone > *:focus,
.shabox-in-blur-radio1:checked ~ .shabox-in-blur-relay .shabox-in-blur-target1,
.shabox-in-blur-radio2:checked ~ .shabox-in-blur-relay .shabox-in-blur-target2,
.shabox-in-blur-radio3:checked ~ .shabox-in-blur-relay .shabox-in-blur-target3,
.shabox-in-blur-radio4:checked ~ .shabox-in-blur-relay .shabox-in-blur-target4,
.shabox-in-blur-radio5:checked ~ .shabox-in-blur-relay .shabox-in-blur-target5,
.shabox-in-blur-check:checked ~ .shabox-in-blur-hub .shabox-in-blur-goal {
  box-shadow: inset var(--box-shadow-blur);
}

.shabox-blur-sm,
.shabox-blur-sm-global > *,
*:hover > .shabox-blur-sm-into,
*:focus > .shabox-blur-sm-into,
.shabox-blur-sm-onto:hover,
.shabox-blur-sm-onto:focus,
.shabox-blur-sm-toall:hover > *,
.shabox-blur-sm-toall:focus > *,
.shabox-blur-sm-toone > *:hover,
.shabox-blur-sm-toone > *:focus,
.shabox-blur-sm-radio1:checked ~ .shabox-blur-sm-relay .shabox-blur-sm-target1,
.shabox-blur-sm-radio2:checked ~ .shabox-blur-sm-relay .shabox-blur-sm-target2,
.shabox-blur-sm-radio3:checked ~ .shabox-blur-sm-relay .shabox-blur-sm-target3,
.shabox-blur-sm-radio4:checked ~ .shabox-blur-sm-relay .shabox-blur-sm-target4,
.shabox-blur-sm-radio5:checked ~ .shabox-blur-sm-relay .shabox-blur-sm-target5,
.shabox-blur-sm-check:checked ~ .shabox-blur-sm-hub .shabox-blur-sm-goal {
  box-shadow: var(--box-shadow-blur-sm);
}

.shabox-in-blur-sm,
.shabox-in-blur-sm-global > *,
*:hover > .shabox-in-blur-sm-into,
*:focus > .shabox-in-blur-sm-into,
.shabox-in-blur-sm-onto:hover,
.shabox-in-blur-sm-onto:focus,
.shabox-in-blur-sm-toall:hover > *,
.shabox-in-blur-sm-toall:focus > *,
.shabox-in-blur-sm-toone > *:hover,
.shabox-in-blur-sm-toone > *:focus,
.shabox-in-blur-sm-radio1:checked ~ .shabox-in-blur-sm-relay .shabox-in-blur-sm-target1,
.shabox-in-blur-sm-radio2:checked ~ .shabox-in-blur-sm-relay .shabox-in-blur-sm-target2,
.shabox-in-blur-sm-radio3:checked ~ .shabox-in-blur-sm-relay .shabox-in-blur-sm-target3,
.shabox-in-blur-sm-radio4:checked ~ .shabox-in-blur-sm-relay .shabox-in-blur-sm-target4,
.shabox-in-blur-sm-radio5:checked ~ .shabox-in-blur-sm-relay .shabox-in-blur-sm-target5,
.shabox-in-blur-sm-check:checked ~ .shabox-in-blur-sm-hub .shabox-in-blur-sm-goal {
  box-shadow: inset var(--box-shadow-blur-sm);
}

.shabox-blur-md,
.shabox-blur-md-global > *,
*:hover > .shabox-blur-md-into,
*:focus > .shabox-blur-md-into,
.shabox-blur-md-onto:hover,
.shabox-blur-md-onto:focus,
.shabox-blur-md-toall:hover > *,
.shabox-blur-md-toall:focus > *,
.shabox-blur-md-toone > *:hover,
.shabox-blur-md-toone > *:focus,
.shabox-blur-md-radio1:checked ~ .shabox-blur-md-relay .shabox-blur-md-target1,
.shabox-blur-md-radio2:checked ~ .shabox-blur-md-relay .shabox-blur-md-target2,
.shabox-blur-md-radio3:checked ~ .shabox-blur-md-relay .shabox-blur-md-target3,
.shabox-blur-md-radio4:checked ~ .shabox-blur-md-relay .shabox-blur-md-target4,
.shabox-blur-md-radio5:checked ~ .shabox-blur-md-relay .shabox-blur-md-target5,
.shabox-blur-md-check:checked ~ .shabox-blur-md-hub .shabox-blur-md-goal {
  box-shadow: var(--box-shadow-blur-md);
}

.shabox-in-blur-md,
.shabox-in-blur-md-global > *,
*:hover > .shabox-in-blur-md-into,
*:focus > .shabox-in-blur-md-into,
.shabox-in-blur-md-onto:hover,
.shabox-in-blur-md-onto:focus,
.shabox-in-blur-md-toall:hover > *,
.shabox-in-blur-md-toall:focus > *,
.shabox-in-blur-md-toone > *:hover,
.shabox-in-blur-md-toone > *:focus,
.shabox-in-blur-md-radio1:checked ~ .shabox-in-blur-md-relay .shabox-in-blur-md-target1,
.shabox-in-blur-md-radio2:checked ~ .shabox-in-blur-md-relay .shabox-in-blur-md-target2,
.shabox-in-blur-md-radio3:checked ~ .shabox-in-blur-md-relay .shabox-in-blur-md-target3,
.shabox-in-blur-md-radio4:checked ~ .shabox-in-blur-md-relay .shabox-in-blur-md-target4,
.shabox-in-blur-md-radio5:checked ~ .shabox-in-blur-md-relay .shabox-in-blur-md-target5,
.shabox-in-blur-md-check:checked ~ .shabox-in-blur-md-hub .shabox-in-blur-md-goal {
  box-shadow: inset var(--box-shadow-blur-md);
}

.shabox-blur-lg,
.shabox-blur-lg-global > *,
*:hover > .shabox-blur-lg-into,
*:focus > .shabox-blur-lg-into,
.shabox-blur-lg-onto:hover,
.shabox-blur-lg-onto:focus,
.shabox-blur-lg-toall:hover > *,
.shabox-blur-lg-toall:focus > *,
.shabox-blur-lg-toone > *:hover,
.shabox-blur-lg-toone > *:focus,
.shabox-blur-lg-radio1:checked ~ .shabox-blur-lg-relay .shabox-blur-lg-target1,
.shabox-blur-lg-radio2:checked ~ .shabox-blur-lg-relay .shabox-blur-lg-target2,
.shabox-blur-lg-radio3:checked ~ .shabox-blur-lg-relay .shabox-blur-lg-target3,
.shabox-blur-lg-radio4:checked ~ .shabox-blur-lg-relay .shabox-blur-lg-target4,
.shabox-blur-lg-radio5:checked ~ .shabox-blur-lg-relay .shabox-blur-lg-target5,
.shabox-blur-lg-check:checked ~ .shabox-blur-lg-hub .shabox-blur-lg-goal {
  box-shadow: var(--box-shadow-blur-lg);
}

.shabox-in-blur-lg,
.shabox-in-blur-lg-global > *,
*:hover > .shabox-in-blur-lg-into,
*:focus > .shabox-in-blur-lg-into,
.shabox-in-blur-lg-onto:hover,
.shabox-in-blur-lg-onto:focus,
.shabox-in-blur-lg-toall:hover > *,
.shabox-in-blur-lg-toall:focus > *,
.shabox-in-blur-lg-toone > *:hover,
.shabox-in-blur-lg-toone > *:focus,
.shabox-in-blur-lg-radio1:checked ~ .shabox-in-blur-lg-relay .shabox-in-blur-lg-target1,
.shabox-in-blur-lg-radio2:checked ~ .shabox-in-blur-lg-relay .shabox-in-blur-lg-target2,
.shabox-in-blur-lg-radio3:checked ~ .shabox-in-blur-lg-relay .shabox-in-blur-lg-target3,
.shabox-in-blur-lg-radio4:checked ~ .shabox-in-blur-lg-relay .shabox-in-blur-lg-target4,
.shabox-in-blur-lg-radio5:checked ~ .shabox-in-blur-lg-relay .shabox-in-blur-lg-target5,
.shabox-in-blur-lg-check:checked ~ .shabox-in-blur-lg-hub .shabox-in-blur-lg-goal {
  box-shadow: inset var(--box-shadow-blur-lg);
}

/***** 3 - Box Shadow Spread *****/
.shabox-spread,
.shabox-spread-global > *,
*:hover > .shabox-spread-into,
*:focus > .shabox-spread-into,
.shabox-spread-onto:hover,
.shabox-spread-onto:focus,
.shabox-spread-toall:hover > *,
.shabox-spread-toall:focus > *,
.shabox-spread-toone > *:hover,
.shabox-spread-toone > *:focus,
.shabox-spread-radio1:checked ~ .shabox-spread-relay .shabox-spread-target1,
.shabox-spread-radio2:checked ~ .shabox-spread-relay .shabox-spread-target2,
.shabox-spread-radio3:checked ~ .shabox-spread-relay .shabox-spread-target3,
.shabox-spread-radio4:checked ~ .shabox-spread-relay .shabox-spread-target4,
.shabox-spread-radio5:checked ~ .shabox-spread-relay .shabox-spread-target5,
.shabox-spread-check:checked ~ .shabox-spread-hub .shabox-spread-goal {
  box-shadow: var(--box-shadow-spread);
}

.shabox-in-spread,
.shabox-in-spread-global > *,
*:hover > .shabox-in-spread-into,
*:focus > .shabox-in-spread-into,
.shabox-in-spread-onto:hover,
.shabox-in-spread-onto:focus,
.shabox-in-spread-toall:hover > *,
.shabox-in-spread-toall:focus > *,
.shabox-in-spread-toone > *:hover,
.shabox-in-spread-toone > *:focus,
.shabox-in-spread-radio1:checked ~ .shabox-in-spread-relay .shabox-in-spread-target1,
.shabox-in-spread-radio2:checked ~ .shabox-in-spread-relay .shabox-in-spread-target2,
.shabox-in-spread-radio3:checked ~ .shabox-in-spread-relay .shabox-in-spread-target3,
.shabox-in-spread-radio4:checked ~ .shabox-in-spread-relay .shabox-in-spread-target4,
.shabox-in-spread-radio5:checked ~ .shabox-in-spread-relay .shabox-in-spread-target5,
.shabox-in-spread-check:checked ~ .shabox-in-spread-hub .shabox-in-spread-goal {
  box-shadow: inset var(--box-shadow-spread);
}

.shabox-spread-sm,
.shabox-spread-sm-global > *,
*:hover > .shabox-spread-sm-into,
*:focus > .shabox-spread-sm-into,
.shabox-spread-sm-onto:hover,
.shabox-spread-sm-onto:focus,
.shabox-spread-sm-toall:hover > *,
.shabox-spread-sm-toall:focus > *,
.shabox-spread-sm-toone > *:hover,
.shabox-spread-sm-toone > *:focus,
.shabox-spread-sm-radio1:checked ~ .shabox-spread-sm-relay .shabox-spread-sm-target1,
.shabox-spread-sm-radio2:checked ~ .shabox-spread-sm-relay .shabox-spread-sm-target2,
.shabox-spread-sm-radio3:checked ~ .shabox-spread-sm-relay .shabox-spread-sm-target3,
.shabox-spread-sm-radio4:checked ~ .shabox-spread-sm-relay .shabox-spread-sm-target4,
.shabox-spread-sm-radio5:checked ~ .shabox-spread-sm-relay .shabox-spread-sm-target5,
.shabox-spread-sm-check:checked ~ .shabox-spread-sm-hub .shabox-spread-sm-goal {
  box-shadow: var(--box-shadow-spread-sm);
}

.shabox-in-spread-sm,
.shabox-in-spread-sm-global > *,
*:hover > .shabox-in-spread-sm-into,
*:focus > .shabox-in-spread-sm-into,
.shabox-in-spread-sm-onto:hover,
.shabox-in-spread-sm-onto:focus,
.shabox-in-spread-sm-toall:hover > *,
.shabox-in-spread-sm-toall:focus > *,
.shabox-in-spread-sm-toone > *:hover,
.shabox-in-spread-sm-toone > *:focus,
.shabox-in-spread-sm-radio1:checked ~ .shabox-in-spread-sm-relay .shabox-in-spread-sm-target1,
.shabox-in-spread-sm-radio2:checked ~ .shabox-in-spread-sm-relay .shabox-in-spread-sm-target2,
.shabox-in-spread-sm-radio3:checked ~ .shabox-in-spread-sm-relay .shabox-in-spread-sm-target3,
.shabox-in-spread-sm-radio4:checked ~ .shabox-in-spread-sm-relay .shabox-in-spread-sm-target4,
.shabox-in-spread-sm-radio5:checked ~ .shabox-in-spread-sm-relay .shabox-in-spread-sm-target5,
.shabox-in-spread-sm-check:checked ~ .shabox-in-spread-sm-hub .shabox-in-spread-sm-goal {
  box-shadow: inset var(--box-shadow-spread-sm);
}

.shabox-spread-md,
.shabox-spread-md-global > *,
*:hover > .shabox-spread-md-into,
*:focus > .shabox-spread-md-into,
.shabox-spread-md-onto:hover,
.shabox-spread-md-onto:focus,
.shabox-spread-md-toall:hover > *,
.shabox-spread-md-toall:focus > *,
.shabox-spread-md-toone > *:hover,
.shabox-spread-md-toone > *:focus,
.shabox-spread-md-radio1:checked ~ .shabox-spread-md-relay .shabox-spread-md-target1,
.shabox-spread-md-radio2:checked ~ .shabox-spread-md-relay .shabox-spread-md-target2,
.shabox-spread-md-radio3:checked ~ .shabox-spread-md-relay .shabox-spread-md-target3,
.shabox-spread-md-radio4:checked ~ .shabox-spread-md-relay .shabox-spread-md-target4,
.shabox-spread-md-radio5:checked ~ .shabox-spread-md-relay .shabox-spread-md-target5,
.shabox-spread-md-check:checked ~ .shabox-spread-md-hub .shabox-spread-md-goal {
  box-shadow: var(--box-shadow-spread-md);
}

.shabox-in-spread-md,
.shabox-in-spread-md-global > *,
*:hover > .shabox-in-spread-md-into,
*:focus > .shabox-in-spread-md-into,
.shabox-in-spread-md-onto:hover,
.shabox-in-spread-md-onto:focus,
.shabox-in-spread-md-toall:hover > *,
.shabox-in-spread-md-toall:focus > *,
.shabox-in-spread-md-toone > *:hover,
.shabox-in-spread-md-toone > *:focus,
.shabox-in-spread-md-radio1:checked ~ .shabox-in-spread-md-relay .shabox-in-spread-md-target1,
.shabox-in-spread-md-radio2:checked ~ .shabox-in-spread-md-relay .shabox-in-spread-md-target2,
.shabox-in-spread-md-radio3:checked ~ .shabox-in-spread-md-relay .shabox-in-spread-md-target3,
.shabox-in-spread-md-radio4:checked ~ .shabox-in-spread-md-relay .shabox-in-spread-md-target4,
.shabox-in-spread-md-radio5:checked ~ .shabox-in-spread-md-relay .shabox-in-spread-md-target5,
.shabox-in-spread-md-check:checked ~ .shabox-in-spread-md-hub .shabox-in-spread-md-goal {
  box-shadow: inset var(--box-shadow-spread-md);
}

.shabox-spread-lg,
.shabox-spread-lg-global > *,
*:hover > .shabox-spread-lg-into,
*:focus > .shabox-spread-lg-into,
.shabox-spread-lg-onto:hover,
.shabox-spread-lg-onto:focus,
.shabox-spread-lg-toall:hover > *,
.shabox-spread-lg-toall:focus > *,
.shabox-spread-lg-toone > *:hover,
.shabox-spread-lg-toone > *:focus,
.shabox-spread-lg-radio1:checked ~ .shabox-spread-lg-relay .shabox-spread-lg-target1,
.shabox-spread-lg-radio2:checked ~ .shabox-spread-lg-relay .shabox-spread-lg-target2,
.shabox-spread-lg-radio3:checked ~ .shabox-spread-lg-relay .shabox-spread-lg-target3,
.shabox-spread-lg-radio4:checked ~ .shabox-spread-lg-relay .shabox-spread-lg-target4,
.shabox-spread-lg-radio5:checked ~ .shabox-spread-lg-relay .shabox-spread-lg-target5,
.shabox-spread-lg-check:checked ~ .shabox-spread-lg-hub .shabox-spread-lg-goal {
  box-shadow: var(--box-shadow-spread-lg);
}

.shabox-in-spread-lg,
.shabox-in-spread-lg-global > *,
*:hover > .shabox-in-spread-lg-into,
*:focus > .shabox-in-spread-lg-into,
.shabox-in-spread-lg-onto:hover,
.shabox-in-spread-lg-onto:focus,
.shabox-in-spread-lg-toall:hover > *,
.shabox-in-spread-lg-toall:focus > *,
.shabox-in-spread-lg-toone > *:hover,
.shabox-in-spread-lg-toone > *:focus,
.shabox-in-spread-lg-radio1:checked ~ .shabox-in-spread-lg-relay .shabox-in-spread-lg-target1,
.shabox-in-spread-lg-radio2:checked ~ .shabox-in-spread-lg-relay .shabox-in-spread-lg-target2,
.shabox-in-spread-lg-radio3:checked ~ .shabox-in-spread-lg-relay .shabox-in-spread-lg-target3,
.shabox-in-spread-lg-radio4:checked ~ .shabox-in-spread-lg-relay .shabox-in-spread-lg-target4,
.shabox-in-spread-lg-radio5:checked ~ .shabox-in-spread-lg-relay .shabox-in-spread-lg-target5,
.shabox-in-spread-lg-check:checked ~ .shabox-in-spread-lg-hub .shabox-in-spread-lg-goal {
  box-shadow: inset var(--box-shadow-spread-lg);
}
