/********** SHABOX **********/

/*
1 - Box Shadow
2 - Box Shadow Blur
3 - Box Shadow Spread
*/

/***** 1 - Box Shadow *****/
[class*="shabox-sm-"][class*="-base"],
[class*="shabox-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-sm-"][class*="-into"],
*:focus > [class*="shabox-sm-"][class*="-into"],
[class*="shabox-sm-"][class*="-onto"]:hover,
[class*="shabox-sm-"][class*="-onto"]:focus,
[class*="shabox-sm-"][class*="-toall"]:hover > *,
[class*="shabox-sm-"][class*="-toall"]:focus > *,
[class*="shabox-sm-"][class*="-toone"] > *:hover,
[class*="shabox-sm-"][class*="-toone"] > *:focus,
[class*="shabox-sm-"][class*="-radio1"]:checked ~ [class*="shabox-sm-"][class*="-relay"] [class*="shabox-sm-"][class*="-target1"],
[class*="shabox-sm-"][class*="-radio2"]:checked ~ [class*="shabox-sm-"][class*="-relay"] [class*="shabox-sm-"][class*="-target2"],
[class*="shabox-sm-"][class*="-radio3"]:checked ~ [class*="shabox-sm-"][class*="-relay"] [class*="shabox-sm-"][class*="-target3"],
[class*="shabox-sm-"][class*="-radio4"]:checked ~ [class*="shabox-sm-"][class*="-relay"] [class*="shabox-sm-"][class*="-target4"],
[class*="shabox-sm-"][class*="-radio5"]:checked ~ [class*="shabox-sm-"][class*="-relay"] [class*="shabox-sm-"][class*="-target5"],
[class*="shabox-sm-"][class*="-check"]:checked ~ [class*="shabox-sm-"][class*="-hub"] [class*="shabox-sm-"][class*="-goal"] {
  box-shadow: var(--box-shadow-sm);
}

[class*="shabox-in-sm-"][class*="-base"],
[class*="shabox-in-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-in-sm-"][class*="-into"],
*:focus > [class*="shabox-in-sm-"][class*="-into"],
[class*="shabox-in-sm-"][class*="-onto"]:hover,
[class*="shabox-in-sm-"][class*="-onto"]:focus,
[class*="shabox-in-sm-"][class*="-toall"]:hover > *,
[class*="shabox-in-sm-"][class*="-toall"]:focus > *,
[class*="shabox-in-sm-"][class*="-toone"] > *:hover,
[class*="shabox-in-sm-"][class*="-toone"] > *:focus,
[class*="shabox-in-sm-"][class*="-radio1"]:checked ~ [class*="shabox-in-sm-"][class*="-relay"] [class*="shabox-in-sm-"][class*="-target1"],
[class*="shabox-in-sm-"][class*="-radio2"]:checked ~ [class*="shabox-in-sm-"][class*="-relay"] [class*="shabox-in-sm-"][class*="-target2"],
[class*="shabox-in-sm-"][class*="-radio3"]:checked ~ [class*="shabox-in-sm-"][class*="-relay"] [class*="shabox-in-sm-"][class*="-target3"],
[class*="shabox-in-sm-"][class*="-radio4"]:checked ~ [class*="shabox-in-sm-"][class*="-relay"] [class*="shabox-in-sm-"][class*="-target4"],
[class*="shabox-in-sm-"][class*="-radio5"]:checked ~ [class*="shabox-in-sm-"][class*="-relay"] [class*="shabox-in-sm-"][class*="-target5"],
[class*="shabox-in-sm-"][class*="-check"]:checked ~ [class*="shabox-in-sm-"][class*="-hub"] [class*="shabox-in-sm-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-sm);
}

[class*="shabox-md-"][class*="-base"],
[class*="shabox-md-"][class*="-global"] > *,
*:hover > [class*="shabox-md-"][class*="-into"],
*:focus > [class*="shabox-md-"][class*="-into"],
[class*="shabox-md-"][class*="-onto"]:hover,
[class*="shabox-md-"][class*="-onto"]:focus,
[class*="shabox-md-"][class*="-toall"]:hover > *,
[class*="shabox-md-"][class*="-toall"]:focus > *,
[class*="shabox-md-"][class*="-toone"] > *:hover,
[class*="shabox-md-"][class*="-toone"] > *:focus,
[class*="shabox-md-"][class*="-radio1"]:checked ~ [class*="shabox-md-"][class*="-relay"] [class*="shabox-md-"][class*="-target1"],
[class*="shabox-md-"][class*="-radio2"]:checked ~ [class*="shabox-md-"][class*="-relay"] [class*="shabox-md-"][class*="-target2"],
[class*="shabox-md-"][class*="-radio3"]:checked ~ [class*="shabox-md-"][class*="-relay"] [class*="shabox-md-"][class*="-target3"],
[class*="shabox-md-"][class*="-radio4"]:checked ~ [class*="shabox-md-"][class*="-relay"] [class*="shabox-md-"][class*="-target4"],
[class*="shabox-md-"][class*="-radio5"]:checked ~ [class*="shabox-md-"][class*="-relay"] [class*="shabox-md-"][class*="-target5"],
[class*="shabox-md-"][class*="-check"]:checked ~ [class*="shabox-md-"][class*="-hub"] [class*="shabox-md-"][class*="-goal"] {
  box-shadow: var(--box-shadow-md);
}

[class*="shabox-in-md-"][class*="-base"],
[class*="shabox-in-md-"][class*="-global"] > *,
*:hover > [class*="shabox-in-md-"][class*="-into"],
*:focus > [class*="shabox-in-md-"][class*="-into"],
[class*="shabox-in-md-"][class*="-onto"]:hover,
[class*="shabox-in-md-"][class*="-onto"]:focus,
[class*="shabox-in-md-"][class*="-toall"]:hover > *,
[class*="shabox-in-md-"][class*="-toall"]:focus > *,
[class*="shabox-in-md-"][class*="-toone"] > *:hover,
[class*="shabox-in-md-"][class*="-toone"] > *:focus,
[class*="shabox-in-md-"][class*="-radio1"]:checked ~ [class*="shabox-in-md-"][class*="-relay"] [class*="shabox-in-md-"][class*="-target1"],
[class*="shabox-in-md-"][class*="-radio2"]:checked ~ [class*="shabox-in-md-"][class*="-relay"] [class*="shabox-in-md-"][class*="-target2"],
[class*="shabox-in-md-"][class*="-radio3"]:checked ~ [class*="shabox-in-md-"][class*="-relay"] [class*="shabox-in-md-"][class*="-target3"],
[class*="shabox-in-md-"][class*="-radio4"]:checked ~ [class*="shabox-in-md-"][class*="-relay"] [class*="shabox-in-md-"][class*="-target4"],
[class*="shabox-in-md-"][class*="-radio5"]:checked ~ [class*="shabox-in-md-"][class*="-relay"] [class*="shabox-in-md-"][class*="-target5"],
[class*="shabox-in-md-"][class*="-check"]:checked ~ [class*="shabox-in-md-"][class*="-hub"] [class*="shabox-in-md-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-md);
}

[class*="shabox-lg-"][class*="-base"],
[class*="shabox-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-lg-"][class*="-into"],
*:focus > [class*="shabox-lg-"][class*="-into"],
[class*="shabox-lg-"][class*="-onto"]:hover,
[class*="shabox-lg-"][class*="-onto"]:focus,
[class*="shabox-lg-"][class*="-toall"]:hover > *,
[class*="shabox-lg-"][class*="-toall"]:focus > *,
[class*="shabox-lg-"][class*="-toone"] > *:hover,
[class*="shabox-lg-"][class*="-toone"] > *:focus,
[class*="shabox-lg-"][class*="-radio1"]:checked ~ [class*="shabox-lg-"][class*="-relay"] [class*="shabox-lg-"][class*="-target1"],
[class*="shabox-lg-"][class*="-radio2"]:checked ~ [class*="shabox-lg-"][class*="-relay"] [class*="shabox-lg-"][class*="-target2"],
[class*="shabox-lg-"][class*="-radio3"]:checked ~ [class*="shabox-lg-"][class*="-relay"] [class*="shabox-lg-"][class*="-target3"],
[class*="shabox-lg-"][class*="-radio4"]:checked ~ [class*="shabox-lg-"][class*="-relay"] [class*="shabox-lg-"][class*="-target4"],
[class*="shabox-lg-"][class*="-radio5"]:checked ~ [class*="shabox-lg-"][class*="-relay"] [class*="shabox-lg-"][class*="-target5"],
[class*="shabox-lg-"][class*="-check"]:checked ~ [class*="shabox-lg-"][class*="-hub"] [class*="shabox-lg-"][class*="-goal"] {
  box-shadow: var(--box-shadow-lg);
}

[class*="shabox-in-lg-"][class*="-base"],
[class*="shabox-in-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-in-lg-"][class*="-into"],
*:focus > [class*="shabox-in-lg-"][class*="-into"],
[class*="shabox-in-lg-"][class*="-onto"]:hover,
[class*="shabox-in-lg-"][class*="-onto"]:focus,
[class*="shabox-in-lg-"][class*="-toall"]:hover > *,
[class*="shabox-in-lg-"][class*="-toall"]:focus > *,
[class*="shabox-in-lg-"][class*="-toone"] > *:hover,
[class*="shabox-in-lg-"][class*="-toone"] > *:focus,
[class*="shabox-in-lg-"][class*="-radio1"]:checked ~ [class*="shabox-in-lg-"][class*="-relay"] [class*="shabox-in-lg-"][class*="-target1"],
[class*="shabox-in-lg-"][class*="-radio2"]:checked ~ [class*="shabox-in-lg-"][class*="-relay"] [class*="shabox-in-lg-"][class*="-target2"],
[class*="shabox-in-lg-"][class*="-radio3"]:checked ~ [class*="shabox-in-lg-"][class*="-relay"] [class*="shabox-in-lg-"][class*="-target3"],
[class*="shabox-in-lg-"][class*="-radio4"]:checked ~ [class*="shabox-in-lg-"][class*="-relay"] [class*="shabox-in-lg-"][class*="-target4"],
[class*="shabox-in-lg-"][class*="-radio5"]:checked ~ [class*="shabox-in-lg-"][class*="-relay"] [class*="shabox-in-lg-"][class*="-target5"],
[class*="shabox-in-lg-"][class*="-check"]:checked ~ [class*="shabox-in-lg-"][class*="-hub"] [class*="shabox-in-lg-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-lg);
}

/***** 2 - Box Shadow Blur *****/
[class*="shabox-blur-all-"][class*="-base"],
[class*="shabox-blur-all-"][class*="-global"] > *,
*:hover > [class*="shabox-blur-all-"][class*="-into"],
*:focus > [class*="shabox-blur-all-"][class*="-into"],
[class*="shabox-blur-all-"][class*="-onto"]:hover,
[class*="shabox-blur-all-"][class*="-onto"]:focus,
[class*="shabox-blur-all-"][class*="-toall"]:hover > *,
[class*="shabox-blur-all-"][class*="-toall"]:focus > *,
[class*="shabox-blur-all-"][class*="-toone"] > *:hover,
[class*="shabox-blur-all-"][class*="-toone"] > *:focus,
[class*="shabox-blur-all-"][class*="-radio1"]:checked ~ [class*="shabox-blur-all-"][class*="-relay"] [class*="shabox-blur-all-"][class*="-target1"],
[class*="shabox-blur-all-"][class*="-radio2"]:checked ~ [class*="shabox-blur-all-"][class*="-relay"] [class*="shabox-blur-all-"][class*="-target2"],
[class*="shabox-blur-all-"][class*="-radio3"]:checked ~ [class*="shabox-blur-all-"][class*="-relay"] [class*="shabox-blur-all-"][class*="-target3"],
[class*="shabox-blur-all-"][class*="-radio4"]:checked ~ [class*="shabox-blur-all-"][class*="-relay"] [class*="shabox-blur-all-"][class*="-target4"],
[class*="shabox-blur-all-"][class*="-radio5"]:checked ~ [class*="shabox-blur-all-"][class*="-relay"] [class*="shabox-blur-all-"][class*="-target5"],
[class*="shabox-blur-all-"][class*="-check"]:checked ~ [class*="shabox-blur-all-"][class*="-hub"] [class*="shabox-blur-all-"][class*="-goal"] {
  box-shadow: var(--box-shadow-blur-all);
}

[class*="shabox-in-blur-all-"][class*="-base"],
[class*="shabox-in-blur-all-"][class*="-global"] > *,
*:hover > [class*="shabox-in-blur-all-"][class*="-into"],
*:focus > [class*="shabox-in-blur-all-"][class*="-into"],
[class*="shabox-in-blur-all-"][class*="-onto"]:hover,
[class*="shabox-in-blur-all-"][class*="-onto"]:focus,
[class*="shabox-in-blur-all-"][class*="-toall"]:hover > *,
[class*="shabox-in-blur-all-"][class*="-toall"]:focus > *,
[class*="shabox-in-blur-all-"][class*="-toone"] > *:hover,
[class*="shabox-in-blur-all-"][class*="-toone"] > *:focus,
[class*="shabox-in-blur-all-"][class*="-radio1"]:checked ~ [class*="shabox-in-blur-all-"][class*="-relay"] [class*="shabox-in-blur-all-"][class*="-target1"],
[class*="shabox-in-blur-all-"][class*="-radio2"]:checked ~ [class*="shabox-in-blur-all-"][class*="-relay"] [class*="shabox-in-blur-all-"][class*="-target2"],
[class*="shabox-in-blur-all-"][class*="-radio3"]:checked ~ [class*="shabox-in-blur-all-"][class*="-relay"] [class*="shabox-in-blur-all-"][class*="-target3"],
[class*="shabox-in-blur-all-"][class*="-radio4"]:checked ~ [class*="shabox-in-blur-all-"][class*="-relay"] [class*="shabox-in-blur-all-"][class*="-target4"],
[class*="shabox-in-blur-all-"][class*="-radio5"]:checked ~ [class*="shabox-in-blur-all-"][class*="-relay"] [class*="shabox-in-blur-all-"][class*="-target5"],
[class*="shabox-in-blur-all-"][class*="-check"]:checked ~ [class*="shabox-in-blur-all-"][class*="-hub"] [class*="shabox-in-blur-all-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-blur-all);
}

[class*="shabox-blur-sm-"][class*="-base"],
[class*="shabox-blur-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-blur-sm-"][class*="-into"],
*:focus > [class*="shabox-blur-sm-"][class*="-into"],
[class*="shabox-blur-sm-"][class*="-onto"]:hover,
[class*="shabox-blur-sm-"][class*="-onto"]:focus,
[class*="shabox-blur-sm-"][class*="-toall"]:hover > *,
[class*="shabox-blur-sm-"][class*="-toall"]:focus > *,
[class*="shabox-blur-sm-"][class*="-toone"] > *:hover,
[class*="shabox-blur-sm-"][class*="-toone"] > *:focus,
[class*="shabox-blur-sm-"][class*="-radio1"]:checked ~ [class*="shabox-blur-sm-"][class*="-relay"] [class*="shabox-blur-sm-"][class*="-target1"],
[class*="shabox-blur-sm-"][class*="-radio2"]:checked ~ [class*="shabox-blur-sm-"][class*="-relay"] [class*="shabox-blur-sm-"][class*="-target2"],
[class*="shabox-blur-sm-"][class*="-radio3"]:checked ~ [class*="shabox-blur-sm-"][class*="-relay"] [class*="shabox-blur-sm-"][class*="-target3"],
[class*="shabox-blur-sm-"][class*="-radio4"]:checked ~ [class*="shabox-blur-sm-"][class*="-relay"] [class*="shabox-blur-sm-"][class*="-target4"],
[class*="shabox-blur-sm-"][class*="-radio5"]:checked ~ [class*="shabox-blur-sm-"][class*="-relay"] [class*="shabox-blur-sm-"][class*="-target5"],
[class*="shabox-blur-sm-"][class*="-check"]:checked ~ [class*="shabox-blur-sm-"][class*="-hub"] [class*="shabox-blur-sm-"][class*="-goal"] {
  box-shadow: var(--box-shadow-blur-sm);
}

[class*="shabox-in-blur-sm-"][class*="-base"],
[class*="shabox-in-blur-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-in-blur-sm-"][class*="-into"],
*:focus > [class*="shabox-in-blur-sm-"][class*="-into"],
[class*="shabox-in-blur-sm-"][class*="-onto"]:hover,
[class*="shabox-in-blur-sm-"][class*="-onto"]:focus,
[class*="shabox-in-blur-sm-"][class*="-toall"]:hover > *,
[class*="shabox-in-blur-sm-"][class*="-toall"]:focus > *,
[class*="shabox-in-blur-sm-"][class*="-toone"] > *:hover,
[class*="shabox-in-blur-sm-"][class*="-toone"] > *:focus,
[class*="shabox-in-blur-sm-"][class*="-radio1"]:checked ~ [class*="shabox-in-blur-sm-"][class*="-relay"] [class*="shabox-in-blur-sm-"][class*="-target1"],
[class*="shabox-in-blur-sm-"][class*="-radio2"]:checked ~ [class*="shabox-in-blur-sm-"][class*="-relay"] [class*="shabox-in-blur-sm-"][class*="-target2"],
[class*="shabox-in-blur-sm-"][class*="-radio3"]:checked ~ [class*="shabox-in-blur-sm-"][class*="-relay"] [class*="shabox-in-blur-sm-"][class*="-target3"],
[class*="shabox-in-blur-sm-"][class*="-radio4"]:checked ~ [class*="shabox-in-blur-sm-"][class*="-relay"] [class*="shabox-in-blur-sm-"][class*="-target4"],
[class*="shabox-in-blur-sm-"][class*="-radio5"]:checked ~ [class*="shabox-in-blur-sm-"][class*="-relay"] [class*="shabox-in-blur-sm-"][class*="-target5"],
[class*="shabox-in-blur-sm-"][class*="-check"]:checked ~ [class*="shabox-in-blur-sm-"][class*="-hub"] [class*="shabox-in-blur-sm-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-blur-sm);
}

[class*="shabox-blur-md-"][class*="-base"],
[class*="shabox-blur-md-"][class*="-global"] > *,
*:hover > [class*="shabox-blur-md-"][class*="-into"],
*:focus > [class*="shabox-blur-md-"][class*="-into"],
[class*="shabox-blur-md-"][class*="-onto"]:hover,
[class*="shabox-blur-md-"][class*="-onto"]:focus,
[class*="shabox-blur-md-"][class*="-toall"]:hover > *,
[class*="shabox-blur-md-"][class*="-toall"]:focus > *,
[class*="shabox-blur-md-"][class*="-toone"] > *:hover,
[class*="shabox-blur-md-"][class*="-toone"] > *:focus,
[class*="shabox-blur-md-"][class*="-radio1"]:checked ~ [class*="shabox-blur-md-"][class*="-relay"] [class*="shabox-blur-md-"][class*="-target1"],
[class*="shabox-blur-md-"][class*="-radio2"]:checked ~ [class*="shabox-blur-md-"][class*="-relay"] [class*="shabox-blur-md-"][class*="-target2"],
[class*="shabox-blur-md-"][class*="-radio3"]:checked ~ [class*="shabox-blur-md-"][class*="-relay"] [class*="shabox-blur-md-"][class*="-target3"],
[class*="shabox-blur-md-"][class*="-radio4"]:checked ~ [class*="shabox-blur-md-"][class*="-relay"] [class*="shabox-blur-md-"][class*="-target4"],
[class*="shabox-blur-md-"][class*="-radio5"]:checked ~ [class*="shabox-blur-md-"][class*="-relay"] [class*="shabox-blur-md-"][class*="-target5"],
[class*="shabox-blur-md-"][class*="-check"]:checked ~ [class*="shabox-blur-md-"][class*="-hub"] [class*="shabox-blur-md-"][class*="-goal"] {
  box-shadow: var(--box-shadow-blur-md);
}

[class*="shabox-in-blur-md-"][class*="-base"],
[class*="shabox-in-blur-md-"][class*="-global"] > *,
*:hover > [class*="shabox-in-blur-md-"][class*="-into"],
*:focus > [class*="shabox-in-blur-md-"][class*="-into"],
[class*="shabox-in-blur-md-"][class*="-onto"]:hover,
[class*="shabox-in-blur-md-"][class*="-onto"]:focus,
[class*="shabox-in-blur-md-"][class*="-toall"]:hover > *,
[class*="shabox-in-blur-md-"][class*="-toall"]:focus > *,
[class*="shabox-in-blur-md-"][class*="-toone"] > *:hover,
[class*="shabox-in-blur-md-"][class*="-toone"] > *:focus,
[class*="shabox-in-blur-md-"][class*="-radio1"]:checked ~ [class*="shabox-in-blur-md-"][class*="-relay"] [class*="shabox-in-blur-md-"][class*="-target1"],
[class*="shabox-in-blur-md-"][class*="-radio2"]:checked ~ [class*="shabox-in-blur-md-"][class*="-relay"] [class*="shabox-in-blur-md-"][class*="-target2"],
[class*="shabox-in-blur-md-"][class*="-radio3"]:checked ~ [class*="shabox-in-blur-md-"][class*="-relay"] [class*="shabox-in-blur-md-"][class*="-target3"],
[class*="shabox-in-blur-md-"][class*="-radio4"]:checked ~ [class*="shabox-in-blur-md-"][class*="-relay"] [class*="shabox-in-blur-md-"][class*="-target4"],
[class*="shabox-in-blur-md-"][class*="-radio5"]:checked ~ [class*="shabox-in-blur-md-"][class*="-relay"] [class*="shabox-in-blur-md-"][class*="-target5"],
[class*="shabox-in-blur-md-"][class*="-check"]:checked ~ [class*="shabox-in-blur-md-"][class*="-hub"] [class*="shabox-in-blur-md-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-blur-md);
}

[class*="shabox-blur-lg-"][class*="-base"],
[class*="shabox-blur-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-blur-lg-"][class*="-into"],
*:focus > [class*="shabox-blur-lg-"][class*="-into"],
[class*="shabox-blur-lg-"][class*="-onto"]:hover,
[class*="shabox-blur-lg-"][class*="-onto"]:focus,
[class*="shabox-blur-lg-"][class*="-toall"]:hover > *,
[class*="shabox-blur-lg-"][class*="-toall"]:focus > *,
[class*="shabox-blur-lg-"][class*="-toone"] > *:hover,
[class*="shabox-blur-lg-"][class*="-toone"] > *:focus,
[class*="shabox-blur-lg-"][class*="-radio1"]:checked ~ [class*="shabox-blur-lg-"][class*="-relay"] [class*="shabox-blur-lg-"][class*="-target1"],
[class*="shabox-blur-lg-"][class*="-radio2"]:checked ~ [class*="shabox-blur-lg-"][class*="-relay"] [class*="shabox-blur-lg-"][class*="-target2"],
[class*="shabox-blur-lg-"][class*="-radio3"]:checked ~ [class*="shabox-blur-lg-"][class*="-relay"] [class*="shabox-blur-lg-"][class*="-target3"],
[class*="shabox-blur-lg-"][class*="-radio4"]:checked ~ [class*="shabox-blur-lg-"][class*="-relay"] [class*="shabox-blur-lg-"][class*="-target4"],
[class*="shabox-blur-lg-"][class*="-radio5"]:checked ~ [class*="shabox-blur-lg-"][class*="-relay"] [class*="shabox-blur-lg-"][class*="-target5"],
[class*="shabox-blur-lg-"][class*="-check"]:checked ~ [class*="shabox-blur-lg-"][class*="-hub"] [class*="shabox-blur-lg-"][class*="-goal"] {
  box-shadow: var(--box-shadow-blur-lg);
}

[class*="shabox-in-blur-lg-"][class*="-base"],
[class*="shabox-in-blur-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-in-blur-lg-"][class*="-into"],
*:focus > [class*="shabox-in-blur-lg-"][class*="-into"],
[class*="shabox-in-blur-lg-"][class*="-onto"]:hover,
[class*="shabox-in-blur-lg-"][class*="-onto"]:focus,
[class*="shabox-in-blur-lg-"][class*="-toall"]:hover > *,
[class*="shabox-in-blur-lg-"][class*="-toall"]:focus > *,
[class*="shabox-in-blur-lg-"][class*="-toone"] > *:hover,
[class*="shabox-in-blur-lg-"][class*="-toone"] > *:focus,
[class*="shabox-in-blur-lg-"][class*="-radio1"]:checked ~ [class*="shabox-in-blur-lg-"][class*="-relay"] [class*="shabox-in-blur-lg-"][class*="-target1"],
[class*="shabox-in-blur-lg-"][class*="-radio2"]:checked ~ [class*="shabox-in-blur-lg-"][class*="-relay"] [class*="shabox-in-blur-lg-"][class*="-target2"],
[class*="shabox-in-blur-lg-"][class*="-radio3"]:checked ~ [class*="shabox-in-blur-lg-"][class*="-relay"] [class*="shabox-in-blur-lg-"][class*="-target3"],
[class*="shabox-in-blur-lg-"][class*="-radio4"]:checked ~ [class*="shabox-in-blur-lg-"][class*="-relay"] [class*="shabox-in-blur-lg-"][class*="-target4"],
[class*="shabox-in-blur-lg-"][class*="-radio5"]:checked ~ [class*="shabox-in-blur-lg-"][class*="-relay"] [class*="shabox-in-blur-lg-"][class*="-target5"],
[class*="shabox-in-blur-lg-"][class*="-check"]:checked ~ [class*="shabox-in-blur-lg-"][class*="-hub"] [class*="shabox-in-blur-lg-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-blur-lg);
}

/***** 3 - Box Shadow Spread *****/
[class*="shabox-spread-all-"][class*="-base"],
[class*="shabox-spread-all-"][class*="-global"] > *,
*:hover > [class*="shabox-spread-all-"][class*="-into"],
*:focus > [class*="shabox-spread-all-"][class*="-into"],
[class*="shabox-spread-all-"][class*="-onto"]:hover,
[class*="shabox-spread-all-"][class*="-onto"]:focus,
[class*="shabox-spread-all-"][class*="-toall"]:hover > *,
[class*="shabox-spread-all-"][class*="-toall"]:focus > *,
[class*="shabox-spread-all-"][class*="-toone"] > *:hover,
[class*="shabox-spread-all-"][class*="-toone"] > *:focus,
[class*="shabox-spread-all-"][class*="-radio1"]:checked ~ [class*="shabox-spread-all-"][class*="-relay"] [class*="shabox-spread-all-"][class*="-target1"],
[class*="shabox-spread-all-"][class*="-radio2"]:checked ~ [class*="shabox-spread-all-"][class*="-relay"] [class*="shabox-spread-all-"][class*="-target2"],
[class*="shabox-spread-all-"][class*="-radio3"]:checked ~ [class*="shabox-spread-all-"][class*="-relay"] [class*="shabox-spread-all-"][class*="-target3"],
[class*="shabox-spread-all-"][class*="-radio4"]:checked ~ [class*="shabox-spread-all-"][class*="-relay"] [class*="shabox-spread-all-"][class*="-target4"],
[class*="shabox-spread-all-"][class*="-radio5"]:checked ~ [class*="shabox-spread-all-"][class*="-relay"] [class*="shabox-spread-all-"][class*="-target5"],
[class*="shabox-spread-all-"][class*="-check"]:checked ~ [class*="shabox-spread-all-"][class*="-hub"] [class*="shabox-spread-all-"][class*="-goal"] {
  box-shadow: var(--box-shadow-spread-all);
}

[class*="shabox-in-spread-all-"][class*="-base"],
[class*="shabox-in-spread-all-"][class*="-global"] > *,
*:hover > [class*="shabox-in-spread-all-"][class*="-into"],
*:focus > [class*="shabox-in-spread-all-"][class*="-into"],
[class*="shabox-in-spread-all-"][class*="-onto"]:hover,
[class*="shabox-in-spread-all-"][class*="-onto"]:focus,
[class*="shabox-in-spread-all-"][class*="-toall"]:hover > *,
[class*="shabox-in-spread-all-"][class*="-toall"]:focus > *,
[class*="shabox-in-spread-all-"][class*="-toone"] > *:hover,
[class*="shabox-in-spread-all-"][class*="-toone"] > *:focus,
[class*="shabox-in-spread-all-"][class*="-radio1"]:checked ~ [class*="shabox-in-spread-all-"][class*="-relay"] [class*="shabox-in-spread-all-"][class*="-target1"],
[class*="shabox-in-spread-all-"][class*="-radio2"]:checked ~ [class*="shabox-in-spread-all-"][class*="-relay"] [class*="shabox-in-spread-all-"][class*="-target2"],
[class*="shabox-in-spread-all-"][class*="-radio3"]:checked ~ [class*="shabox-in-spread-all-"][class*="-relay"] [class*="shabox-in-spread-all-"][class*="-target3"],
[class*="shabox-in-spread-all-"][class*="-radio4"]:checked ~ [class*="shabox-in-spread-all-"][class*="-relay"] [class*="shabox-in-spread-all-"][class*="-target4"],
[class*="shabox-in-spread-all-"][class*="-radio5"]:checked ~ [class*="shabox-in-spread-all-"][class*="-relay"] [class*="shabox-in-spread-all-"][class*="-target5"],
[class*="shabox-in-spread-all-"][class*="-check"]:checked ~ [class*="shabox-in-spread-all-"][class*="-hub"] [class*="shabox-in-spread-all-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-spread-all);
}

[class*="shabox-spread-sm-"][class*="-base"],
[class*="shabox-spread-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-spread-sm-"][class*="-into"],
*:focus > [class*="shabox-spread-sm-"][class*="-into"],
[class*="shabox-spread-sm-"][class*="-onto"]:hover,
[class*="shabox-spread-sm-"][class*="-onto"]:focus,
[class*="shabox-spread-sm-"][class*="-toall"]:hover > *,
[class*="shabox-spread-sm-"][class*="-toall"]:focus > *,
[class*="shabox-spread-sm-"][class*="-toone"] > *:hover,
[class*="shabox-spread-sm-"][class*="-toone"] > *:focus,
[class*="shabox-spread-sm-"][class*="-radio1"]:checked ~ [class*="shabox-spread-sm-"][class*="-relay"] [class*="shabox-spread-sm-"][class*="-target1"],
[class*="shabox-spread-sm-"][class*="-radio2"]:checked ~ [class*="shabox-spread-sm-"][class*="-relay"] [class*="shabox-spread-sm-"][class*="-target2"],
[class*="shabox-spread-sm-"][class*="-radio3"]:checked ~ [class*="shabox-spread-sm-"][class*="-relay"] [class*="shabox-spread-sm-"][class*="-target3"],
[class*="shabox-spread-sm-"][class*="-radio4"]:checked ~ [class*="shabox-spread-sm-"][class*="-relay"] [class*="shabox-spread-sm-"][class*="-target4"],
[class*="shabox-spread-sm-"][class*="-radio5"]:checked ~ [class*="shabox-spread-sm-"][class*="-relay"] [class*="shabox-spread-sm-"][class*="-target5"],
[class*="shabox-spread-sm-"][class*="-check"]:checked ~ [class*="shabox-spread-sm-"][class*="-hub"] [class*="shabox-spread-sm-"][class*="-goal"] {
  box-shadow: var(--box-shadow-spread-sm);
}

[class*="shabox-in-spread-sm-"][class*="-base"],
[class*="shabox-in-spread-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-in-spread-sm-"][class*="-into"],
*:focus > [class*="shabox-in-spread-sm-"][class*="-into"],
[class*="shabox-in-spread-sm-"][class*="-onto"]:hover,
[class*="shabox-in-spread-sm-"][class*="-onto"]:focus,
[class*="shabox-in-spread-sm-"][class*="-toall"]:hover > *,
[class*="shabox-in-spread-sm-"][class*="-toall"]:focus > *,
[class*="shabox-in-spread-sm-"][class*="-toone"] > *:hover,
[class*="shabox-in-spread-sm-"][class*="-toone"] > *:focus,
[class*="shabox-in-spread-sm-"][class*="-radio1"]:checked ~ [class*="shabox-in-spread-sm-"][class*="-relay"] [class*="shabox-in-spread-sm-"][class*="-target1"],
[class*="shabox-in-spread-sm-"][class*="-radio2"]:checked ~ [class*="shabox-in-spread-sm-"][class*="-relay"] [class*="shabox-in-spread-sm-"][class*="-target2"],
[class*="shabox-in-spread-sm-"][class*="-radio3"]:checked ~ [class*="shabox-in-spread-sm-"][class*="-relay"] [class*="shabox-in-spread-sm-"][class*="-target3"],
[class*="shabox-in-spread-sm-"][class*="-radio4"]:checked ~ [class*="shabox-in-spread-sm-"][class*="-relay"] [class*="shabox-in-spread-sm-"][class*="-target4"],
[class*="shabox-in-spread-sm-"][class*="-radio5"]:checked ~ [class*="shabox-in-spread-sm-"][class*="-relay"] [class*="shabox-in-spread-sm-"][class*="-target5"],
[class*="shabox-in-spread-sm-"][class*="-check"]:checked ~ [class*="shabox-in-spread-sm-"][class*="-hub"] [class*="shabox-in-spread-sm-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-spread-sm);
}

[class*="shabox-spread-md-"][class*="-base"],
[class*="shabox-spread-md-"][class*="-global"] > *,
*:hover > [class*="shabox-spread-md-"][class*="-into"],
*:focus > [class*="shabox-spread-md-"][class*="-into"],
[class*="shabox-spread-md-"][class*="-onto"]:hover,
[class*="shabox-spread-md-"][class*="-onto"]:focus,
[class*="shabox-spread-md-"][class*="-toall"]:hover > *,
[class*="shabox-spread-md-"][class*="-toall"]:focus > *,
[class*="shabox-spread-md-"][class*="-toone"] > *:hover,
[class*="shabox-spread-md-"][class*="-toone"] > *:focus,
[class*="shabox-spread-md-"][class*="-radio1"]:checked ~ [class*="shabox-spread-md-"][class*="-relay"] [class*="shabox-spread-md-"][class*="-target1"],
[class*="shabox-spread-md-"][class*="-radio2"]:checked ~ [class*="shabox-spread-md-"][class*="-relay"] [class*="shabox-spread-md-"][class*="-target2"],
[class*="shabox-spread-md-"][class*="-radio3"]:checked ~ [class*="shabox-spread-md-"][class*="-relay"] [class*="shabox-spread-md-"][class*="-target3"],
[class*="shabox-spread-md-"][class*="-radio4"]:checked ~ [class*="shabox-spread-md-"][class*="-relay"] [class*="shabox-spread-md-"][class*="-target4"],
[class*="shabox-spread-md-"][class*="-radio5"]:checked ~ [class*="shabox-spread-md-"][class*="-relay"] [class*="shabox-spread-md-"][class*="-target5"],
[class*="shabox-spread-md-"][class*="-check"]:checked ~ [class*="shabox-spread-md-"][class*="-hub"] [class*="shabox-spread-md-"][class*="-goal"] {
  box-shadow: var(--box-shadow-spread-md);
}

[class*="shabox-in-spread-md-"][class*="-base"],
[class*="shabox-in-spread-md-"][class*="-global"] > *,
*:hover > [class*="shabox-in-spread-md-"][class*="-into"],
*:focus > [class*="shabox-in-spread-md-"][class*="-into"],
[class*="shabox-in-spread-md-"][class*="-onto"]:hover,
[class*="shabox-in-spread-md-"][class*="-onto"]:focus,
[class*="shabox-in-spread-md-"][class*="-toall"]:hover > *,
[class*="shabox-in-spread-md-"][class*="-toall"]:focus > *,
[class*="shabox-in-spread-md-"][class*="-toone"] > *:hover,
[class*="shabox-in-spread-md-"][class*="-toone"] > *:focus,
[class*="shabox-in-spread-md-"][class*="-radio1"]:checked ~ [class*="shabox-in-spread-md-"][class*="-relay"] [class*="shabox-in-spread-md-"][class*="-target1"],
[class*="shabox-in-spread-md-"][class*="-radio2"]:checked ~ [class*="shabox-in-spread-md-"][class*="-relay"] [class*="shabox-in-spread-md-"][class*="-target2"],
[class*="shabox-in-spread-md-"][class*="-radio3"]:checked ~ [class*="shabox-in-spread-md-"][class*="-relay"] [class*="shabox-in-spread-md-"][class*="-target3"],
[class*="shabox-in-spread-md-"][class*="-radio4"]:checked ~ [class*="shabox-in-spread-md-"][class*="-relay"] [class*="shabox-in-spread-md-"][class*="-target4"],
[class*="shabox-in-spread-md-"][class*="-radio5"]:checked ~ [class*="shabox-in-spread-md-"][class*="-relay"] [class*="shabox-in-spread-md-"][class*="-target5"],
[class*="shabox-in-spread-md-"][class*="-check"]:checked ~ [class*="shabox-in-spread-md-"][class*="-hub"] [class*="shabox-in-spread-md-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-spread-md);
}

[class*="shabox-spread-lg-"][class*="-base"],
[class*="shabox-spread-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-spread-lg-"][class*="-into"],
*:focus > [class*="shabox-spread-lg-"][class*="-into"],
[class*="shabox-spread-lg-"][class*="-onto"]:hover,
[class*="shabox-spread-lg-"][class*="-onto"]:focus,
[class*="shabox-spread-lg-"][class*="-toall"]:hover > *,
[class*="shabox-spread-lg-"][class*="-toall"]:focus > *,
[class*="shabox-spread-lg-"][class*="-toone"] > *:hover,
[class*="shabox-spread-lg-"][class*="-toone"] > *:focus,
[class*="shabox-spread-lg-"][class*="-radio1"]:checked ~ [class*="shabox-spread-lg-"][class*="-relay"] [class*="shabox-spread-lg-"][class*="-target1"],
[class*="shabox-spread-lg-"][class*="-radio2"]:checked ~ [class*="shabox-spread-lg-"][class*="-relay"] [class*="shabox-spread-lg-"][class*="-target2"],
[class*="shabox-spread-lg-"][class*="-radio3"]:checked ~ [class*="shabox-spread-lg-"][class*="-relay"] [class*="shabox-spread-lg-"][class*="-target3"],
[class*="shabox-spread-lg-"][class*="-radio4"]:checked ~ [class*="shabox-spread-lg-"][class*="-relay"] [class*="shabox-spread-lg-"][class*="-target4"],
[class*="shabox-spread-lg-"][class*="-radio5"]:checked ~ [class*="shabox-spread-lg-"][class*="-relay"] [class*="shabox-spread-lg-"][class*="-target5"],
[class*="shabox-spread-lg-"][class*="-check"]:checked ~ [class*="shabox-spread-lg-"][class*="-hub"] [class*="shabox-spread-lg-"][class*="-goal"] {
  box-shadow: var(--box-shadow-spread-lg);
}

[class*="shabox-in-spread-lg-"][class*="-base"],
[class*="shabox-in-spread-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-in-spread-lg-"][class*="-into"],
*:focus > [class*="shabox-in-spread-lg-"][class*="-into"],
[class*="shabox-in-spread-lg-"][class*="-onto"]:hover,
[class*="shabox-in-spread-lg-"][class*="-onto"]:focus,
[class*="shabox-in-spread-lg-"][class*="-toall"]:hover > *,
[class*="shabox-in-spread-lg-"][class*="-toall"]:focus > *,
[class*="shabox-in-spread-lg-"][class*="-toone"] > *:hover,
[class*="shabox-in-spread-lg-"][class*="-toone"] > *:focus,
[class*="shabox-in-spread-lg-"][class*="-radio1"]:checked ~ [class*="shabox-in-spread-lg-"][class*="-relay"] [class*="shabox-in-spread-lg-"][class*="-target1"],
[class*="shabox-in-spread-lg-"][class*="-radio2"]:checked ~ [class*="shabox-in-spread-lg-"][class*="-relay"] [class*="shabox-in-spread-lg-"][class*="-target2"],
[class*="shabox-in-spread-lg-"][class*="-radio3"]:checked ~ [class*="shabox-in-spread-lg-"][class*="-relay"] [class*="shabox-in-spread-lg-"][class*="-target3"],
[class*="shabox-in-spread-lg-"][class*="-radio4"]:checked ~ [class*="shabox-in-spread-lg-"][class*="-relay"] [class*="shabox-in-spread-lg-"][class*="-target4"],
[class*="shabox-in-spread-lg-"][class*="-radio5"]:checked ~ [class*="shabox-in-spread-lg-"][class*="-relay"] [class*="shabox-in-spread-lg-"][class*="-target5"],
[class*="shabox-in-spread-lg-"][class*="-check"]:checked ~ [class*="shabox-in-spread-lg-"][class*="-hub"] [class*="shabox-in-spread-lg-"][class*="-goal"] {
  box-shadow: inset var(--box-shadow-spread-lg);
}
