/********** SHATEX **********/

/*
1 - Text Shadow
2 - Text Shadow Blur
*/

/***** 1 - Text Shadow *****/
.shatex-sm,
.shatex-sm-global > *,
*:hover > .shatex-sm-into,
*:focus > .shatex-sm-into,
.shatex-sm-onto:hover,
.shatex-sm-onto:focus,
.shatex-sm-toall:hover > *,
.shatex-sm-toall:focus > *,
.shatex-sm-toone > *:hover,
.shatex-sm-toone > *:focus,
.shatex-sm-radio1:checked ~ .shatex-sm-relay .shatex-sm-target1,
.shatex-sm-radio2:checked ~ .shatex-sm-relay .shatex-sm-target2,
.shatex-sm-radio3:checked ~ .shatex-sm-relay .shatex-sm-target3,
.shatex-sm-radio4:checked ~ .shatex-sm-relay .shatex-sm-target4,
.shatex-sm-radio5:checked ~ .shatex-sm-relay .shatex-sm-target5,
.shatex-sm-check:checked ~ .shatex-sm-hub .shatex-sm-goal {
  text-shadow: var(--text-shadow-sm);
}

.shatex-md,
.shatex-md-global > *,
*:hover > .shatex-md-into,
*:focus > .shatex-md-into,
.shatex-md-onto:hover,
.shatex-md-onto:focus,
.shatex-md-toall:hover > *,
.shatex-md-toall:focus > *,
.shatex-md-toone > *:hover,
.shatex-md-toone > *:focus,
.shatex-md-radio1:checked ~ .shatex-md-relay .shatex-md-target1,
.shatex-md-radio2:checked ~ .shatex-md-relay .shatex-md-target2,
.shatex-md-radio3:checked ~ .shatex-md-relay .shatex-md-target3,
.shatex-md-radio4:checked ~ .shatex-md-relay .shatex-md-target4,
.shatex-md-radio5:checked ~ .shatex-md-relay .shatex-md-target5,
.shatex-md-check:checked ~ .shatex-md-hub .shatex-md-goal {
  text-shadow: var(--text-shadow-md);
}

.shatex-lg,
.shatex-lg-global > *,
*:hover > .shatex-lg-into,
*:focus > .shatex-lg-into,
.shatex-lg-onto:hover,
.shatex-lg-onto:focus,
.shatex-lg-toall:hover > *,
.shatex-lg-toall:focus > *,
.shatex-lg-toone > *:hover,
.shatex-lg-toone > *:focus,
.shatex-lg-radio1:checked ~ .shatex-lg-relay .shatex-lg-target1,
.shatex-lg-radio2:checked ~ .shatex-lg-relay .shatex-lg-target2,
.shatex-lg-radio3:checked ~ .shatex-lg-relay .shatex-lg-target3,
.shatex-lg-radio4:checked ~ .shatex-lg-relay .shatex-lg-target4,
.shatex-lg-radio5:checked ~ .shatex-lg-relay .shatex-lg-target5,
.shatex-lg-check:checked ~ .shatex-lg-hub .shatex-lg-goal {
  text-shadow: var(--text-shadow-lg);
}

/***** 2 - Text Shadow Blur *****/
.shatex-blur,
.shatex-blur-global > *,
*:hover > .shatex-blur-into,
*:focus > .shatex-blur-into,
.shatex-blur-onto:hover,
.shatex-blur-onto:focus,
.shatex-blur-toall:hover > *,
.shatex-blur-toall:focus > *,
.shatex-blur-toone > *:hover,
.shatex-blur-toone > *:focus,
.shatex-blur-radio1:checked ~ .shatex-blur-relay .shatex-blur-target1,
.shatex-blur-radio2:checked ~ .shatex-blur-relay .shatex-blur-target2,
.shatex-blur-radio3:checked ~ .shatex-blur-relay .shatex-blur-target3,
.shatex-blur-radio4:checked ~ .shatex-blur-relay .shatex-blur-target4,
.shatex-blur-radio5:checked ~ .shatex-blur-relay .shatex-blur-target5,
.shatex-blur-check:checked ~ .shatex-blur-hub .shatex-blur-goal {
  text-shadow: var(--text-shadow-blur);
}

.shatex-blur-sm,
.shatex-blur-sm-global > *,
*:hover > .shatex-blur-sm-into,
*:focus > .shatex-blur-sm-into,
.shatex-blur-sm-onto:hover,
.shatex-blur-sm-onto:focus,
.shatex-blur-sm-toall:hover > *,
.shatex-blur-sm-toall:focus > *,
.shatex-blur-sm-toone > *:hover,
.shatex-blur-sm-toone > *:focus,
.shatex-blur-sm-radio1:checked ~ .shatex-blur-sm-relay .shatex-blur-sm-target1,
.shatex-blur-sm-radio2:checked ~ .shatex-blur-sm-relay .shatex-blur-sm-target2,
.shatex-blur-sm-radio3:checked ~ .shatex-blur-sm-relay .shatex-blur-sm-target3,
.shatex-blur-sm-radio4:checked ~ .shatex-blur-sm-relay .shatex-blur-sm-target4,
.shatex-blur-sm-radio5:checked ~ .shatex-blur-sm-relay .shatex-blur-sm-target5,
.shatex-blur-sm-check:checked ~ .shatex-blur-sm-hub .shatex-blur-sm-goal {
  text-shadow: var(--text-shadow-blur-sm);
}

.shatex-blur-md,
.shatex-blur-md-global > *,
*:hover > .shatex-blur-md-into,
*:focus > .shatex-blur-md-into,
.shatex-blur-md-onto:hover,
.shatex-blur-md-onto:focus,
.shatex-blur-md-toall:hover > *,
.shatex-blur-md-toall:focus > *,
.shatex-blur-md-toone > *:hover,
.shatex-blur-md-toone > *:focus,
.shatex-blur-md-radio1:checked ~ .shatex-blur-md-relay .shatex-blur-md-target1,
.shatex-blur-md-radio2:checked ~ .shatex-blur-md-relay .shatex-blur-md-target2,
.shatex-blur-md-radio3:checked ~ .shatex-blur-md-relay .shatex-blur-md-target3,
.shatex-blur-md-radio4:checked ~ .shatex-blur-md-relay .shatex-blur-md-target4,
.shatex-blur-md-radio5:checked ~ .shatex-blur-md-relay .shatex-blur-md-target5,
.shatex-blur-md-check:checked ~ .shatex-blur-md-hub .shatex-blur-md-goal {
  text-shadow: var(--text-shadow-blur-md);
}

.shatex-blur-lg,
.shatex-blur-lg-global > *,
*:hover > .shatex-blur-lg-into,
*:focus > .shatex-blur-lg-into,
.shatex-blur-lg-onto:hover,
.shatex-blur-lg-onto:focus,
.shatex-blur-lg-toall:hover > *,
.shatex-blur-lg-toall:focus > *,
.shatex-blur-lg-toone > *:hover,
.shatex-blur-lg-toone > *:focus,
.shatex-blur-lg-radio1:checked ~ .shatex-blur-lg-relay .shatex-blur-lg-target1,
.shatex-blur-lg-radio2:checked ~ .shatex-blur-lg-relay .shatex-blur-lg-target2,
.shatex-blur-lg-radio3:checked ~ .shatex-blur-lg-relay .shatex-blur-lg-target3,
.shatex-blur-lg-radio4:checked ~ .shatex-blur-lg-relay .shatex-blur-lg-target4,
.shatex-blur-lg-radio5:checked ~ .shatex-blur-lg-relay .shatex-blur-lg-target5,
.shatex-blur-lg-check:checked ~ .shatex-blur-lg-hub .shatex-blur-lg-goal {
  text-shadow: var(--text-shadow-blur-lg);
}
