/***********************************/
/********** BORDER GLOBAL **********/
/***********************************/


[class*="bord"][class*="tio"],
[class*="bord"][class*="dio"]:checked ~ [class*="bord"][class*="target"],
*:hover > [class*="bord"][class*="into"],
*:focus > [class*="bord"][class*="into"],
*:active > [class*="bord"][class*="into"],
[class*="bord"][class*="onto"]:hover,
[class*="bord"][class*="onto"]:focus,
[class*="bord"][class*="onto"]:active,
[class*="bord"][class*="toall"] > *,
[class*="bord"][class*="forall"]:hover > *,
[class*="bord"][class*="forall"]:focus > *,
[class*="bord"][class*="forall"]:active > *,
[class*="bord"][class*="fromall"] > *:hover,
[class*="bord"][class*="fromall"] > *:focus,
[class*="bord"][class*="fromall"] > *:active {
    border-style: var(--bord-global-style);
    border-width: var(--bord-global-width);
    border-color: var(--bord-global-color);
    border-radius: var(--bord-global-radius);
}