/***** Variables : Animation *****/

// Animation Duration
$animation-duration: 2s !default;

$animation-duration-tn: 500ms !default;
$animation-duration-sm: 1s    !default;
$animation-duration-md: 2s    !default;
$animation-duration-lg: 3s    !default;
$animation-duration-xl: 4s    !default;
$animation-duration-wd: 5s    !default;

$animation-durations: (
  'tn': $animation-duration-tn,
  'sm': $animation-duration-sm,
  'md': $animation-duration-md,
  'lg': $animation-duration-lg,
  'xl': $animation-duration-xl,
  'wd': $animation-duration-wd
) !default;

// Animation Timing Function
$animation-timing-function-linear:        cubic-bezier(0, 0, 1, 1)        !default;
$animation-timing-function-ease-in:       cubic-bezier(0.42, 0, 1, 1)     !default;
$animation-timing-function-ease-out:      cubic-bezier(0, 0, 0.58, 1)     !default;
$animation-timing-function-ease-in-out:   cubic-bezier(0.42, 0, 0.58, 1)  !default;
$animation-timing-function-cubic-bezier:  cubic-bezier(0.2, -2, 0.8, 2)   !default;
$animation-timing-function-steps:         steps(5, start)                 !default;

$animation-timing-functions: (
  'linear': $animation-timing-function-linear,
  'in':     $animation-timing-function-ease-in,
  'out':    $animation-timing-function-ease-out,
  'inout':  $animation-timing-function-ease-in-out,
  'bezier': $animation-timing-function-cubic-bezier,
  'steps':  $animation-timing-function-steps,
) !default;

// Animation Iteration Count
$animation-iteration-count-few:   2 !default;
$animation-iteration-count-many:  4 !default;

$animation-iteration-counts: (
  'few':  $animation-iteration-count-few,
  'many': $animation-iteration-count-many,
  'loop': infinite
) !default;

// Animation Delay
$animation-delay-sm:  1s  !default;
$animation-delay-md:  2s  !default;
$animation-delay-lg:  3s  !default;

$animation-delays: (
  'small':  $animation-delay-sm,
  'medium': $animation-delay-md,
  'large':  $animation-delay-lg,
) !default;

// Animation Direction
$animation-directions: (
  'alt':    alternate,
  'rev':    reverse,
  'altrev': alternate-reverse
) !default;

// Animation Options
$animation-options: (
  'duration':         $animation-durations,
  'timing-function':  $animation-timing-functions,
  'iteration-count':  $animation-iteration-counts,
  'delay':            $animation-delays
) !default;

// Animation CSS Variables
[class*="anima-"] {
  --animation-duration: #{$animation-duration};

  @each $type, $option in $animation-options {
    @each $key, $value in $option {
      --animation-#{$type}-#{$key}: #{$value};
    }
  }
}
