/***** Variables : Bord *****/

// Border Style
$border-style: solid !default;

$border-styles: (
  'dash':   dashed,
  'dot':    dotted,
  'solid':  solid,
  'double': double,
  'groove': groove,
  'ridge':  ridge,
  'in':     inset,
  'out':    outset
) !default;

// Border Width
$border-width-tn: 1px !default;
$border-width-sm: 2px !default;
$border-width-md: 3px !default;
$border-width-lg: 4px !default;
$border-width-xl: 5px !default;
$border-width-wd: 6px !default;

$border-widths: (
  'tn': $border-width-tn,
  'sm': $border-width-sm,
  'md': $border-width-md,
  'lg': $border-width-lg,
  'xl': $border-width-xl,
  'wd': $border-width-wd
) !default;

// Border Radius
$border-radius-square:  unset !default;
$border-radius-curve:   5px   !default;
$border-radius-round:   10px  !default;
$border-radius-circle:  50%   !default;

$border-radiuses: (
  'square': $border-radius-square,
  'curve':  $border-radius-curve,
  'round':  $border-radius-round,
  'circle': $border-radius-circle
) !default;

// Borders
$borders : (
  "width":  $border-widths,
  "radius": $border-radiuses
) !default;

// Border CSS Variables
[class*="bord"] {
  --border-style: #{$border-style};

  @each $type, $border in $borders {
    @each $key, $value in $border {
      --border-#{$type}-#{$key}: #{$value};
    }
  }
}
