/***** Variables : Btn *****/

$btn-tn-padding:    3px 6px   !default;
$btn-tn-font-size:  60%       !default;

$btn-sm-padding:    4px 8px   !default;
$btn-sm-font-size:  80%       !default;

$btn-lg-padding:    6px 12px  !default;
$btn-lg-font-size:  120%      !default;

$btn-xl-padding:    7px 14px  !default;
$btn-xl-font-size:  140%      !default;

$btn-wd-padding:    8px 16px  !default;
$btn-wd-font-size:  160%      !default;

$btn-size: 'tn', 'sm', 'lg', 'xl', 'wd';

$btn-sizes: (
  'tn-padding':   $btn-tn-padding,
  'tn-font-size': $btn-tn-font-size,
  'sm-padding':   $btn-sm-padding,
  'sm-font-size': $btn-sm-font-size,
  'lg-padding':   $btn-lg-padding,
  'lg-font-size': $btn-lg-font-size,
  'xl-padding':   $btn-xl-padding,
  'xl-font-size': $btn-xl-font-size,
  'wd-padding':   $btn-wd-padding,
  'wd-font-size': $btn-wd-font-size
) !default;

$btn-square-border-radius:  unset                             !default;
$btn-square-padding-top:    calc(var(--btn-square-sizes) / 4) !default;
$btn-square-sizes:          100px                             !default;

$btn-curve-border-radius: 10px                                !default;
$btn-curve-padding-top:   calc(var(--btn-round-sizes) / 4)    !default;
$btn-curve-sizes:         100px                               !default;

$btn-round-border-radius: 20px                                !default;
$btn-round-padding-top:   calc(var(--btn-round-sizes) / 4)    !default;
$btn-round-sizes:         100px                               !default;

$btn-circle-border-radius:  50%                               !default;
$btn-circle-padding-top:    calc(var(--btn-circle-sizes) / 4) !default;
$btn-circle-sizes:          100px                             !default;

$btn-shape: 'square', 'round', 'circle';

$btn-shapes: (
  'square-border-radius': $btn-square-border-radius,
  'square-padding-top':   $btn-square-padding-top,
  'square-sizes':         $btn-square-sizes,
  'curve-border-radius':  $btn-curve-border-radius,
  'curve-padding-top':    $btn-curve-padding-top,
  'curve-sizes':          $btn-curve-sizes,
  'round-border-radius':  $btn-round-border-radius,
  'round-padding-top':    $btn-round-padding-top,
  'round-sizes':          $btn-round-sizes,
  'circle-border-radius': $btn-circle-border-radius,
  'circle-padding-top':   $btn-circle-padding-top,
  'circle-sizes':         $btn-circle-sizes,
) !default;

[class*="btn"],
[class*="button"] {
  --btn-margin: 10px;
  --btn-padding: 10px;
  --btn-font-size: 2rem;
  --btn-font-weight: bold;
  --btn-text-align: center;

  --btn-hover-border-radius: 5px;
  --btn-hover-transition: all 300ms linear;
  --btn-hover-animation: none;

  --btn-checked-transform: scale(0.9);

  --btn-child-margin: auto;

  @each $key, $value in $btn-sizes {
    --btn-#{$key}: #{$value};
  }

  @each $key, $value in $btn-shapes {
    --btn-#{$key}: #{$value};
  }
}

[class*="btn"] {
  --btn-border-style: solid;
  --btn-border-width: medium;
  --btn-border-radius: 10px;
  --btn-border-color: var(--white);
  --btn-background-color: var(--black);
  --btn-color: var(--white);

  --btn-hover-border-style: solid;
  --btn-hover-border-width: medium;
  --btn-hover-box-shadow: inset 0 0 5px 5px;
  --btn-hover-border-color: var(--black);
  --btn-hover-background-color: var(--white);
  --btn-hover-color: var(--black);
}

[class*="button"] {
  --button-border-style: outset;
  --button-border-width: medium;
  --button-border-radius: 5px;
  --button-border-color: var(--black);
  --button-background-color: var(--white);
  --button-color: var(--black);

  --button-hover-border-style: solid;
  --button-hover-border-width: medium;
  --button-hover-box-shadow: inset 0 0 5px 5px;
  --button-hover-border-color: var(--white);
  --button-hover-background-color: var(--black);
  --button-hover-color: var(--white);
}
