/***** Variables : Canvas *****/

.canvas {
  --canvas-border: thick double var(--blue);
  --canvas-border-radius: 20px;
  --canvas-cursor: crosshair;

  --canvas-hover-controls-opacity: 1;
  --canvas-hover-controls-transition: 2s;

  --canvas-controls-margin: auto;
  --canvas-controls-border: thin solid var(--black);
  --canvas-controls-border-radius: 10px;
  --canvas-controls-width: 200px;
  --canvas-controls-background-color: var(--gray-dark);
  --canvas-controls-opacity: 0;
  --canvas-controls-transition: 2s;

  --canvas-controls-list-flex-direction: column;
  --canvas-controls-list-place-items: center;
  --canvas-controls-list-margin: 5px;

  --canvas-controls-label-padding: 5px;
  --canvas-controls-label-color: var(--white);
}
