/***** Variables : Canvas *****/

.canvas {
  --canvas-border: medium dashed var(--secondary);
  --canvas-border-radius: 20px;
  --canvas-cursor: crosshair;

  --canvas-hover-controls-opacity: 1;
  --canvas-hover-controls-transition: opacity 2s;

  --canvas-controls-margin: auto;
  --canvas-controls-border: thin solid var(--primary);
  --canvas-controls-border-radius: 10px;
  --canvas-controls-width: 300px;
  --canvas-controls-background-color: var(--primary-dark);
  --canvas-controls-opacity: 1;
  --canvas-controls-transition: opacity 1s;

  --canvas-controls-list-flex-direction: column;
  --canvas-controls-list-place-items: center;
  --canvas-controls-list-margin: 5px;

  --canvas-controls-label-padding: 5px;
  --canvas-controls-label-color: var(--white);
}

@media (min-width: $breakpoint-xl) {
  .canvas {
    --canvas-controls-opacity: 0;
  }
}
