/***** Variables : Card *****/

[class*="card"] {
  --card-flex-direction: column;
  --card-place-content: space-evenly;
  --card-place-items: center;
  --card-position: relative;
  --card-overflow: hidden;
  --card-margin: 50px;
  --card-border: solid medium;
  --card-border-radius: 10px;
  --card-padding: 10px;
  --card-height: initial;
  --card-max-width: 400px;
  --card-box-shadow: 3px 5px 10px 5px var(--black);
  --card-background-color: var(--gray-dark);
  --card-color: var(--black);

  --card-hover-transform: rotate(1deg);
  --card-hover-transition: transform 200ms;

  --card-child-margin: 10px;
  --card-child-border: solid thin;
  --card-child-border-radius: 20px;
  --card-child-padding: 5px 10px;
  --card-child-max-width: calc(var(--card-max-width) * 0.9);
  --card-child-background-color: var(--white);
  --card-child-text-align: center;

  --card-selection-background-color: var(--black);
  --card-selection-color: var(--green);

  --card-title-font-size: 3rem;
  --card-title-box-shadow: inset 0 0 5px 2px;
  --card-title-text-shadow: 2px 2px 5px;

  --card-btn-width: calc(var(--card-child-max-width) * 0.5);
  --card-btn-color: var(--white);
  --card-btn-font-weight: bold;
  --card-btn-text-align: center;

  --card-btn-hover-border-color: initial;
  --card-btn-hover-background-color: var(--white);
  --card-btn-hover-color: initial;
}
