/***** Variables : Colors *****/

// Primary Colors
$pink:    255, 0, 255   !default;
$red:     250, 128, 114 !default;
$orange:  255, 140, 0   !default;
$yellow:  255, 215, 0   !default;
$brown:   139, 69, 19   !default;
$green:   50, 205, 50   !default;
$cyan:    0, 128, 128   !default;
$blue:    30, 144, 255  !default;
$violet:  106, 90, 205  !default;

$primary-colors: (
  "pink":   $pink,
  "red":    $red,
  "orange": $orange,
  "yellow": $yellow,
  "brown":  $brown,
  "green":  $green,
  "cyan":   $cyan,
  "blue":   $blue,
  "violet": $violet
) !default;

// Grayscale
$black: 15, 15, 15    !default;
$gray:  105, 105, 105 !default;
$grey:  192, 192, 192 !default;
$white: 255, 255, 240 !default;

$grayscale: (
  "black":  $black,
  "gray":   $gray,
  "grey":   $grey
) !default;

$grayscales: (
  "black":  $black,
  "gray":   $gray,
  "grey":   $grey,
  "white":  $white
) !default;

// Brand Colors
$facebook:  66, 103, 178  !default;
$github:    36, 41, 46    !default;
$linkedin:  0, 119, 181   !default;
$paypal:    39, 52, 106   !default;
$twitter:   29, 161, 242  !default;

$brand-colors: (
  "fb": $facebook,
  "gh": $github,
  "in": $linkedin,
  "pp": $paypal,
  "tw": $twitter
) !default;

// Composite Colors
$base-colors: $primary-colors, $grayscales;
$main-colors: $primary-colors, $brand-colors;
$all-colors:  $primary-colors, $grayscales, $brand-colors;

// CSS Colors
:root {
  // Opaque Colors
  @each $colors in $all-colors {
    @each $key, $value in $colors {
      --#{$key}: rgb(#{$value});
    }
  }

  // Transparent Colors
  @each $colors in $base-colors {
    @each $key, $value in $colors {
      --#{$key}-dark: rgba(#{$value}, var(--opacity-dark));
      --#{$key}-light: rgba(#{$value}, var(--opacity-light));
    }
  }
}
