/***** Variables : Colors *****/

// Primary Colors
$primary:   65, 105, 225  !default; // RoyalBlue
$secondary: 220, 220, 220 !default; // Gainsboro
$pink:      255, 0, 255   !default; // Magenta
$red:       250, 128, 114 !default; // Salmon
$orange:    255, 140, 0   !default; // DarkOrange
$yellow:    255, 215, 0   !default; // Gold
$brown:     139, 69, 19   !default; // SaddleBrown
$green:     50, 205, 50   !default; // LimeGreen
$cyan:      0, 128, 128   !default; // Teal
$blue:      30, 144, 255  !default; // DodgerBlue
$violet:    106, 90, 205  !default; // SlateBlue

$primary-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "pink":       $pink,
  "red":        $red,
  "orange":     $orange,
  "yellow":     $yellow,
  "brown":      $brown,
  "green":      $green,
  "cyan":       $cyan,
  "blue":       $blue,
  "violet":     $violet
) !default;

// Grayscale
$black: 15, 15, 15    !default; // Black
$gray:  105, 105, 105 !default; // DimGray
$grey:  192, 192, 192 !default; // Silver
$white: 255, 255, 240 !default; // Ivory

$grayscale: (
  "black":  $black,
  "gray":   $gray,
  "grey":   $grey
) !default;

$grayscales: (
  "black":  $black,
  "gray":   $gray,
  "grey":   $grey,
  "white":  $white
) !default;

// Brand Colors
$facebook:  66, 103, 178  !default;
$github:    36, 41, 46    !default;
$linkedin:  0, 119, 181   !default;
$paypal:    39, 52, 106   !default;
$twitter:   29, 161, 242  !default;

$brand-colors: (
  "fb": $facebook,
  "gh": $github,
  "in": $linkedin,
  "pp": $paypal,
  "tw": $twitter
) !default;

// Composite Colors
$base-colors: $primary-colors, $grayscales;
$main-colors: $primary-colors, $brand-colors;
$all-colors:  $primary-colors, $grayscales, $brand-colors;

// CSS Colors
:root {
  // Opaque Colors
  @each $colors in $all-colors {
    @each $key, $value in $colors {
      --#{$key}: rgb(#{$value});
    }
  }

  // Transparent Colors
  @each $colors in $base-colors {
    @each $key, $value in $colors {
      --#{$key}-dark: rgba(#{$value}, var(--opacity-dark));
      --#{$key}-light: rgba(#{$value}, var(--opacity-light));
    }
  }
}
