/***** Variables : Display *****/

$displays: (
  'hide':     none,
  'flex':     flex,
  'block':    block,
  'inline':   inline,
  'inflex':   inline-flex,
  'inblock':  inline-block
) !default;

[class*="flex"],
[class*="col"],
[class*="row"] {
  --flex-place-content: center;
}

[class*="col"] {
  --column-padding: 0 10px;
}

[class*="row"] {
  --row-padding: 10px 0;
}

[class*="grid"] {
  --grid-max-width: 90%;
  --grid-margin: auto;
}

$gap-tn:  1px   !default;
$gap-sm:  2px   !default;
$gap-md:  5px   !default;
$gap-lg:  10px  !default;
$gap-wd:  20px  !default;

$gaps: (
  'tn': $gap-tn,
  'sm': $gap-sm,
  'md': $gap-md,
  'lg': $gap-lg,
  'wd': $gap-wd
) !default;

[class*="gap-"] {
  @each $key, $value in $gaps {
    --gap-#{$key}: #{$value};
  }
}

// Place Content
$place-content: (
  'around':   space-around,
  'between':  space-between,
  'evenly':   space-evenly,
  'center':   center,
  'stretch':  stretch
) !default;

$place-content-start: flex-start  !default;
$place-content-end:   flex-end    !default;

$place-content-var: (
  'start':  $place-content-start,
  'end':    $place-content-end
) !default;

[class*="placo-"] {
  @each $key, $value in $place-content-var {
    --place-content-#{$key}: #{$value};
  }
}

// Place Items
$place-items: (
  'normal':   normal,
  'center':   center,
  'stretch':  stretch
) !default;

$place-items-baseline:  baseline    !default;
$place-items-start:     flex-start  !default;
$place-items-end:       flex-end    !default;

$place-items-var: (
  'base':   $place-items-baseline,
  'start':  $place-items-start,
  'end':    $place-items-end
) !default;

[class*="plait-"] {
  @each $key, $value in $place-items-var {
    --place-items-#{$key}: #{$value};
  }
}

// Place Self
$place-self: (
  'auto':     auto,
  'normal':   normal,
  'center':   center,
  'stretch':  stretch
) !default;

$place-self-baseline: baseline    !default;
$place-self-start:    flex-start  !default;
$place-self-end:      flex-end    !default;

$place-self-var: (
  'base':   $place-self-baseline,
  'start':  $place-self-start,
  'end':    $place-self-end
) !default;

[class*="plase-"] {
  @each $key, $value in $place-self-var {
    --place-self-#{$key}: #{$value};
  }
}
