/***** Variables : Flex *****/

$column-padding:    0 10px    !default;
$row-padding:       10px 0    !default;

[class*="column"] {
  --column-padding: #{$column-padding};
}

[class*="row"] {
  --row-padding: #{$row-padding};
}
