/***** Variables : Foot *****/

.foot {
  --foot-text-align: center;
  --foot-title-margin: 10px;
  --foot-title-font-size: 2rem;
  --foot-title-color: var(--secondary);

  --foot-list-flex-direction: column;
  --foot-list-place-content: space-evenly;
  --foot-list-margin: 0;
  --foot-list-background-color: var(--primary);
  --foot-list-cursor: pointer;
  --foot-list-color: var(--white);
  --foot-list-hover-color: var(--secondary);

  --foot-target-margin-left: 2px;
  --foot-label-cursor: pointer;
  --foot-label-hover-color: var(--white);
  --foot-label-hover-transform: scale(1.2);
  --foot-label-hover-transition: transform 1s;

  --foot-visual-place-content: center;
  --foot-visual-margin: 0;
  --foot-visual-padding: 10px 0;
  --foot-visual-background-color: var(--white);
  --foot-visual-link-cursor: crosshair;
}

@media (min-width: $breakpoint-md) {
  .foot {
    --foot-list-flex-direction: row;
  }
}
