/***** Variables : Foot *****/

.foot {
  --foot-text-align: center;
  --foot-title-margin: 10px;
  --foot-title-color: var(--yellow);
  --foot-title-font-size: 2rem;
  --foot-label-cursor: pointer;

  --foot-list-flex-direction: column;
  --foot-list-place-content: space-evenly;
  --foot-list-margin: 0;
  --foot-list-background-color: var(--violet);
  --foot-list-cursor: pointer;
  --foot-list-link-font-color: var(--white);
  --foot-list-link-hover-font-color: var(--yellow);

  --foot-target-margin-left: 2px;
  --foot-hover-transform: scale(1.2);
  --foot-hover-transition: transorm 1s;
  --foot-hover-color: var(--yellow);

  --foot-visual-place-content: center;
  --foot-visual-margin: 0;
  --foot-visual-padding: 10px 0;
  --foot-visual-background-color: var(--white);
  --foot-visual-link-cursor: crosshair;
}

@media (min-width: $breakpoint-sm) {
  .foot {
    --foot-list-flex-direction: row;
  }
}
