/***** Variables : Form *****/

.form {
  --form-margin: 20px auto;
  --form-border: thick outset var(--secondary);
  --form-border-radius: 5px;
  --form-padding: 20px;
  --form-width: 90%;
  --form-background-color: var(--white);
  --form-box-shadow: unset;

  --form-fieldset-border: 0;

  --form-legend-margin: auto;
  --form-legend-font-size: 2.5rem;
  --form-legend-font-weight: bold;

  --form-list-flex-direction: column;
  --form-list-place-content: center;
  --form-list-place-items: baseline;

  --form-label-margin: auto;
  --form-label-padding: 5px;
  --form-label-font-size: 150%;
  --form-label-color: var(--gray);
  --form-label-text-decoration: none;

  --form-field-margin: 10px 0 20px;
  --form-field-border: medium outset var(--secondary);
  --form-field-border-radius: 10px;
  --form-field-outline: 0;
  --form-field-padding: 5px;
  --form-field-width: 100%;
  --form-field-line-height: 1.8;
  --form-field-background-color: var(--grey-light);
  --form-field-box-shadow: unset;

  --form-field-hover-border: medium inset var(--green);
  --form-field-hover-box-shadow: inset 0 0 5px 2px var(--gray);

  --form-field-placeholder-font-style: italic;
  --form-field-placeholder-color: var(--primary);

  --form-action-margin: 10px auto;
  --form-action-width: 80%;
  --form-action-font-size: 110%;
  --form-action-font-weight: bold;
  --form-action-line-height: 2;
  --form-action-shadows: inset 0 0 5px 2px;
  --form-action-cursor: pointer;

  --form-action-hover-shadows: inset 0 0 10px 10px;
  --form-action-hover-transform: scale(1.1);
  --form-action-hover-transition: all 1s;

  --form-reset-border: medium inset var(--red);
  --form-reset-box-shadow: var(--form-action-shadows) var(--red);
  --form-reset-background-color: var(--white);
  --form-reset-color: var(--red);

  --form-reset-hover-border: medium outset var(--red);
  --form-reset-hover-box-shadow: var(--form-action-hover-shadows) var(--white);
  --form-reset-hover-background-color: var(--red);
  --form-reset-hover-color: var(--white);

  --form-submit-border: medium inset var(--green);
  --form-submit-box-shadow: var(--form-action-shadows) var(--green);
  --form-submit-background-color: var(--white);
  --form-submit-color: var(--green);

  --form-submit-hover-border: medium outset var(--green);
  --form-submit-hover-box-shadow: var(--form-action-hover-shadows) var(--white);
  --form-submit-hover-background-color: var(--green);
  --form-submit-hover-color: var(--white);
}

@media (min-width: $breakpoint-sm) {
  .form {
    --form-width: 80%;
    --form-action-width: 60%;
  }
}

@media (min-width: $breakpoint-md) {
  .form {
    --form-width: 75%;
    --form-fieldset-margin-left: 0;
    --form-list-flex-direction: row;
    --form-list-place-content: space-around;
    --form-list-place-items: center;
    --form-field-width: 50%;
    --form-action-width: 30%;
  }
}

@media (min-width: $breakpoint-lg) {
  .form {
    --form-width: 70%;
  }
}

@media (min-width: $breakpoint-xl) {
  .form {
    --form-width: 65%;
  }
}

@media (min-width: $breakpoint-wd) {
  .form {
    --form-width: 60%;
  }
}
