/***** Variables : Gallery *****/

.gallery {
  --gallery-flex-wrap: wrap;
  --gallery-place-content: center;
  --gallery-place-items: center;
  --gallery-overflow: hidden;
  --gallery-margin: 20px auto 50px;
  --gallery-max-width: 90%;

  --gallery-all-cursor: crosshair;

  --gallery-figure-position: relative;
  --gallery-figure-overflow: hidden;
  --gallery-figure-margin: 5px;
  --gallery-figure-border: medium solid var(--primary);
  --gallery-figure-width: calc(100% - 10px);
  --gallery-figure-line-height: 0;
  --gallery-figure-box-shadow: 0 0 5px;

  --gallery-figure-hover-figcaption-animation: slideT 1s;
  --gallery-figure-hover-figcaption-bottom: 0;

  --gallery-figcaption-position: absolute;
  --gallery-figcaption-bottom: 0;
  --gallery-figcaption-padding: 10px;
  --gallery-figcaption-width: 100%;
  --gallery-figcaption-line-height: 0.8;
  --gallery-figcaption-background-color: var(--gray-dark);

  --gallery-figcaption-fa-position: absolute;
  --gallery-figcaption-fa-top: -20px;
  --gallery-figcaption-fa-right: 5px;
  --gallery-figcaption-fa-border: 2px solid var(--white);
  --gallery-figcaption-fa-radius: 50%;
  --gallery-figcaption-fa-padding: 10px;
  --gallery-figcaption-fa-background-color: var(--secondary);

  --gallery-link-color: var(--white);

  --gallery-link-all-margin: 0;
  --gallery-link-all-padding: 5px;
  --gallery-link-all-font-size: 80%;
  --gallery-link-all-cursor: pointer;
}

@media (min-width: $breakpoint-md) {
  @include gallery(10px, calc(100% / 2 - 20px));
}

@media (min-width: $breakpoint-lg) {
  .gallery {
    --gallery-figcaption-bottom: -60%;
  }
}

@media (min-width: $breakpoint-xl) {
  @include gallery(15px, calc(100% / 3 - 30px));
}

@media (min-width: $breakpoint-wd) {
  @include gallery(20px, calc(100% / 4 - 40px));
}
