/***** Variables : Margin *****/

// Box
$box-nones: (
  'none':         '',
  'top-none':     '-top',
  'right-none':   '-right',
  'bottom-none':  '-bottom',
  'left-none':    '-left',
) !default;

$box-sizes: (
  'sm':       '',
  'md':       '',
  'lg':       '',
  'top-sm':   '-top',
  'top-md':   '-top',
  'top-lg':   '-top',
  'right-sm': '-right',
  'right-md': '-right',
  'right-lg': '-right',
  'bot-sm':   '-bottom',
  'bot-md':   '-bottom',
  'bot-lg':   '-bottom',
  'left-sm':  '-left',
  'left-md':  '-left',
  'left-lg':  '-left'
) !default;

// Margin
$margin-sm: 10px  !default;
$margin-md: 20px  !default;
$margin-lg: 50px  !default;

$margins: (
  'none':     0,
  'sm':       $margin-sm,
  'md':       $margin-md,
  'lg':       $margin-lg,
  'top-sm':   $margin-sm,
  'top-md':   $margin-md,
  'top-lg':   $margin-lg,
  'right-sm': $margin-sm,
  'right-md': $margin-md,
  'right-lg': $margin-lg,
  'bot-sm':   $margin-sm,
  'bot-md':   $margin-md,
  'bot-lg':   $margin-lg,
  'left-sm':  $margin-sm,
  'left-md':  $margin-md,
  'left-lg':  $margin-lg
) !default;

[class*="mar-"] {
  @each $key, $value in $margins {
    --margin-#{$key}: #{$value};
  }
}

// Padding
$padding-sm:  10px  !default;
$padding-md:  20px  !default;
$padding-lg:  50px  !default;

$paddings: (
  'none':     0,
  'sm':       $padding-sm,
  'md':       $padding-md,
  'lg':       $padding-lg,
  'top-sm':   $padding-sm,
  'top-md':   $padding-md,
  'top-lg':   $padding-lg,
  'right-sm': $padding-sm,
  'right-md': $padding-md,
  'right-lg': $padding-lg,
  'bot-sm':   $padding-sm,
  'bot-md':   $padding-md,
  'bot-lg':   $padding-lg,
  'left-sm':  $padding-sm,
  'left-md':  $padding-md,
  'left-lg':  $padding-lg
) !default;

[class*="pad-"] {
  @each $key, $value in $paddings {
    --padding-#{$key}: #{$value};
  }
}
