/***** Variables : Navbar *****/

:root {
  --navbar-height: 80px;
}

.navbar {
  --navbar-place-content: center;
  --navbar-place-items: center;
  --navbar-position: fixed;
  --navbar-top: 0;
  --navbar-right: 0;
  --navbar-bottom: unset;
  --navbar-left: 0;
  --navbar-z-index: 1000;
  --navbar-background-color: var(--primary-dark);
  --navbar-color: var(--white);

  --navbar-link-padding: 20px 10px;
  --navbar-link-color: var(--white);
  --navbar-link-cursor: pointer;

  --navbar-icon-place-self: center;

  --navbar-list-place-items: center;
  --navbar-list-margin: 0;
  --navbar-list-padding: 0;
  --navbar-list-list-style: none;

  --navbar-list-link-flex-direction: column;

  --navbar-link-hover-color: var(--secondary);
  --navbar-first-list-link-hover-scale: 0.9;

  --navbar-last-list-img-margin: 5px;
  --navbar-last-list-height: 50px;

  --navbar-last-list-link-hover-scale: 1.5;

  --navbar-brand-link-left: 0;

  --navbar-brand-link-img-height: 40px;

  --navbar-label-right: 10px;
  --navbar-label-hover-color: var(--secondary);

  --navbar-first-list-span-font-size: 2rem;
  --navbar-first-list-span-text-align: center;
}

@media (min-width: $breakpoint-sm) {
  .navbar {
    --navbar-flex-direction: row;
    --navbar-place-content: space-around;
    --navbar-padding: 10px;
  }
}

@media (min-width: $breakpoint-md) {
  .navbar {
    --navbar-place-content: space-evenly;
  }
}
