/***** Variables : Place *****/

// Place Content
$place-content: (
  'around':     space-around,
  'between':    space-between,
  'evenly':     space-evenly,
  'center':     center,
  'stretch':    stretch
) !default;

$place-content-start:   flex-start    !default;
$place-content-end:     flex-end      !default;

$place-content-var: (
  'start':      $place-content-start,
  'end':        $place-content-end
) !default;

[class*="placo-"] {
  @each $key, $value in $place-content-var {
    --place-content-#{$key}: #{$value};
  }
}

// Place Items
$place-items: (
  'normal':     normal,
  'center':     center,
  'stretch':    stretch
) !default;

$place-items-baseline:    baseline      !default;
$place-items-start:       flex-start    !default;
$place-items-end:         flex-end      !default;

$place-items-var: (
  'base':       $place-items-baseline,
  'start':      $place-items-start,
  'end':        $place-items-end
) !default;

[class*="plait-"] {
  @each $key, $value in $place-items-var {
    --place-items-#{$key}: #{$value};
  }
}

// Place Self
$place-self: (
  'auto':       auto,
  'normal':     normal,
  'center':     center,
  'stretch':    stretch
) !default;

$place-self-baseline:   baseline      !default;
$place-self-start:      flex-start    !default;
$place-self-end:        flex-end      !default;

$place-self-var: (
  'base':     $place-self-baseline,
  'start':    $place-self-start,
  'end':      $place-self-end
) !default;

[class*="plase-"] {
  @each $key, $value in $place-self-var {
    --place-self-#{$key}: #{$value};
  }
}
