/***** Variables : Shadow *****/

// Shadows
$shadow-sm: 1px 1px !default;
$shadow-md: 2px 2px !default;
$shadow-lg: 5px 5px !default;

$shadow-blur:     0   0   2px !default;
$shadow-blur-sm:  1px 1px 1px !default;
$shadow-blur-md:  2px 2px 2px !default;
$shadow-blur-lg:  5px 5px 5px !default;

$shadow-spread:     0   0   2px 2px !default;
$shadow-spread-sm:  1px 1px 1px 1px !default;
$shadow-spread-md:  2px 2px 2px 2px !default;
$shadow-spread-lg:  5px 5px 5px 5px !default;

// Box Shadow
$box-shadows: (
  'sm':         $shadow-sm,
  'md':         $shadow-md,
  'lg':         $shadow-lg,
  'blur':       $shadow-blur,
  'blur-sm':    $shadow-blur-sm,
  'blur-md':    $shadow-blur-md,
  'blur-lg':    $shadow-blur-lg,
  'spread':     $shadow-spread,
  'spread-sm':  $shadow-spread-sm,
  'spread-md':  $shadow-spread-md,
  'spread-lg':  $shadow-spread-lg
) !default;

[class*="shabox-"] {
  @each $key, $value in $box-shadows {
    --box-shadow-#{$key}: #{$value};
  }
}

// Text Shadow
$text-shadows: (
  'sm':       $shadow-sm,
  'md':       $shadow-md,
  'lg':       $shadow-lg,
  'blur':     $shadow-blur,
  'blur-sm':  $shadow-blur-sm,
  'blur-md':  $shadow-blur-md,
  'blur-lg':  $shadow-blur-lg,
) !default;

[class*="shatex-"] {
  @each $key, $value in $text-shadows {
    --text-shadow-#{$key}: #{$value};
  }
}
