/***** Variables : Sidebar *****/

.sidebar {
  --sidebar-flex-direction: column;
  --sidebar-position: fixed;
  --sidebar-top: calc(var(--navbar-height) + 10px);
  --sidebar-left: 2px;
  --sidebar-z-index: 10;
  --sidebar-width: auto;

  --sidebar-child-place-content: center;
  --sidebar-child-place-items: center;
  --sidebar-child-margin: 5px;
  --sidebar-child-border-radius: 20px;
  --sidebar-child-padding: 10px;
  --sidebar-child-width: 100%;
  --sidebar-child-background-color: var(--white-dark);
  --sidebar-child-color: var(--primary-dark);
  --sidebar-child-cursor: crosshair;

  --sidebar-child-hover-border-radius: 10px;
  --sidebar-child-hover-background-color: var(--primary-dark);
  --sidebar-child-hover-color: var(--white-dark);
  --sidebar-child-hover-transform: scale(1.1);
  --sidebar-child-hover-transition: all 1s;

  --sidebar-checked-child-font-weight: bold;
  --sidebar-checked-child-background-color: var(--primary);
  --sidebar-checked-child-color: var(--white);
}
