/***** Variables : Size *****/

// Height
$height-sm: 25vh  !default;
$height-md: 50vh  !default;
$height-lg: 75vh  !default;

$heights: (
  'sm': $height-sm,
  'md': $height-md,
  'lg': $height-lg
) !default;

[class*="height-"] {
  @each $key, $value in $heights {
    --height-#{$key}: #{$value};
  }
}

// Max-Height
$max-heights: (
  'sm': $height-sm,
  'md': $height-md,
  'lg': $height-lg
) !default;

[class*="max-h-"] {
  @each $key, $value in $max-heights {
    --max-height-#{$key}: #{$value};
  }
}

// Min-Height
$min-heights: (
  'sm': $height-sm,
  'md': $height-md,
  'lg': $height-lg
) !default;

[class*="min-h-"] {
  @each $key, $value in $min-heights {
    --min-height-#{$key}: #{$value};
  }
}

// Width
$width-sm:  25vw  !default;
$width-md:  50vw  !default;
$width-lg:  75vw  !default;

$widths: (
  'sm': $width-sm,
  'md': $width-md,
  'lg': $width-lg
) !default;

[class*="width-"] {
  @each $key, $value in $widths {
    --width-#{$key}: #{$value};
  }
}

// Max-Width
$max-widths: (
  'sm': $width-sm,
  'md': $width-md,
  'lg': $width-lg
) !default;

[class*="max-w-"] {
  @each $key, $value in $max-widths {
    --max-width-#{$key}: #{$value};
  }
}

// Min-Width
$min-widths: (
  'sm': $width-sm,
  'md': $width-md,
  'lg': $width-lg
) !default;

[class*="min-w-"] {
  @each $key, $value in $min-widths {
    --min-width-#{$key}: #{$value};
  }
}
