/***** Variables : Slider *****/

.slider {
  --slider-margin: var(--slider-figcaption-height) auto -20px;
  --slider-width: 100%;
  --slider-relay-text-align: center;

  --slider-figcaption-top: -45%;
  --slider-figcaption-left: 0;
  --slider-figcaption-padding: 5px 20px;
  --slider-figcaption-width: 100%;
  --slider-figcaption-height: 20%;
  --slider-figcaption-font-weight: bold;

  --slider-button-border: none;
  --slider-button-font-size: 60%;
  --slider-button-background: none;
  --slider-button-color: var(--grey-dark);

  --slider-previous-top: 42%;
  --slider-previous-left: -1%;

  --slider-auto-bottom: 5%;
  --slider-auto-left: 45%;
  --slider-auto-opacity: 1;
  --slider-auto-hover-opacity: 1;

  --slider-random-top: 42%;
  --slider-random-left: 45%;
  --slider-random-opacity: 0;
  --slider-random-hover-opacity: 1;

  --slider-next-top: 42%;
  --slider-next-right: -1%;

  --slider-progress-place-content: center;
  --slider-progress-top: -5%;
  --slider-progress-margin-left: calc((100% - var(--slider-progress-width)) / 2);
  --slider-progress-width: 90%;

  --slider-progress-label-padding: 5px;
  --slider-progress-label-font-size: var(--slider-button-font-size);
  --slider-progress-label-color: var(--grey-dark);

  --slider-checked-content: "\f058";
}

@media (min-width: $breakpoint-sm) {
  .slider {
    --slider-figcaption-top: -35%;
    --slider-figcaption-height: 15%;
    --slider-button-font-size: 70%;
    --slider-previous-top: 44%;
    --slider-previous-left: 0;
    --slider-random-top: 44%;
    --slider-next-top: 44%;
    --slider-next-right: 0;
    --slider-auto-bottom: 6%;
    --slider-auto-left: 46%;
    --slider-random-left: 46%;
    --slider-progress-top: -2%;
    --slider-progress-width: 80%;
  }
}

@media (min-width: $breakpoint-md) {
  .slider {
    --slider-figcaption-top: -20%;
    --slider-figcaption-height: 10%;
    --slider-button-font-size: 80%;
    --slider-previous-top: 45%;
    --slider-random-top: 45%;
    --slider-next-top: 45%;
    --slider-auto-left: 47%;
    --slider-random-left: 47%;
    --slider-progress-top: 0;
    --slider-progress-width: 70%;
  }
}

@media (min-width: $breakpoint-lg) {
  .slider {
    --slider-figcaption-top: -15%;
    --slider-figcaption-height: 8%;
    --slider-button-font-size: 90%;
    --slider-previous-top: 46%;
    --slider-random-top: 46%;
    --slider-next-top: 46%;
    --slider-auto-left: 48%;
    --slider-random-left: 48%;
    --slider-progress-width: 60%;
  }
}

@media (min-width: $breakpoint-xl) {
  .slider {
    --slider-figcaption-top: -12%;
    --slider-figcaption-height: 6%;
    --slider-button-font-size: 100%;
    --slider-previous-top: 48%;
    --slider-random-top: 48%;
    --slider-next-top: 48%;
    --slider-auto-left: 49%;
    --slider-auto-opacity: 0;
    --slider-random-left: 49%;
    --slider-progress-width: 50%;
  }
}

@media (min-width: $breakpoint-wd) {
  .slider {
    --slider-figcaption-top: -10%;
    --slider-figcaption-height: 5%;
    --slider-button-font-size: 100%;
    --slider-previous-top: 48%;
    --slider-random-top: 48%;
    --slider-next-top: 48%;
    --slider-auto-left: 49%;
    --slider-auto-opacity: 0;
    --slider-random-left: 49%;
    --slider-progress-width: 50%;
  }
}
