/***** Variables : Table *****/

.table {
  --table-border-spacing: 10px;
  --table-margin: 50px auto;
  --table-width: auto;
  --table-max-width: 100%;
  --table-font-size: calc(var(--body-font-size) * 110 / 100);
  --table-box-shadow: 5px 5px 10px 5px var(--grey);

  --table-caption-side: top;
  --table-caption-margin: 10px;
  --table-caption-font-size: 3rem;
  --table-caption-font-weight: bold;
  --table-caption-color: var(--black);
  --table-caption-text-shadow: 1px 1px 2px;

  --table-title-font-size: calc(var(--body-font-size) * 120 / 100);
  --table-title-font-style: italic;
  --table-title-background-color: var(--primary);
  --table-title-color: var(--white);

  --table-cell-border-style: solid;
  --table-cell-border-width: thin;
  --table-cell-border-radius: 0;
  --table-cell-border-color: var(--black);
  --table-cell-padding: 2px;
  --table-cell-text-align: center;
  --table-cell-vertical-align: middle;
  --table-cell-word-break: normal;
  --table-cell-cursor: cell;

  --table-odd-background-color: var(--white);
  --table-odd-color: var(--gray);

  --table-even-background-color: var(--grey);
  --table-even-color: var(--black);

  --table-row-hover-background-color: var(--secondary);
  --table-row-hover-color: var(--black);
}

@media (min-width: $breakpoint-sm) {
  .table {
    --table-cell-padding: 6px;
  }
}

@media (min-width: $breakpoint-md) {
  .table {
    --table-max-width: 95%;
    --table-cell-padding: 7px;
  }
}

@media (min-width: $breakpoint-lg) {
  .table {
    --table-max-width: 90%;
    --table-cell-padding: 8px;
  }
}

@media (min-width: $breakpoint-xl) {
  .table {
    --table-max-width: 85%;
    --table-cell-padding: 9px;
  }
}

@media (min-width: $breakpoint-wd) {
  .table {
    --table-max-width: 70%;
    --table-cell-padding: 10px;
  }
}
