/***** Variables : Tags *****/

* {
  --all-box-sizing: border-box;
  --target-margins: 7rem;
}

html {
  --html-font-size: 62.5%;
  --html-scroll-behavior: smooth;
}

body {
  --body-background-color: var(--grey-light);
  --body-color: var(--black);
  --body-font-size: 2rem;
  --body-line-height: 1.6;
}

main {
  --main-text-align: center;
}

article {
  --article-margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: var(--serif);
  --title-text-align: center;
  --title-text-transform: capitalize;
}

h1,
h2,
h3 {
  --title-color: var(--primary);
}

h4,
h5,
h6 {
  --title-color: var(--blue);
}

h1 {
  --title-font-size: calc(var(--body-font-size) * 2.5);
}

h2 {
  --title-font-size: calc(var(--body-font-size) * 2);
}

h3 {
  --title-font-size: calc(var(--body-font-size) * 1.6);
}

h4 {
  --title-font-size: calc(var(--body-font-size) * 1.3);
}

h5 {
  --title-font-size: calc(var(--body-font-size) * 1.1);
}

h6 {
  --title-font-size: var(--body-font-size);
}

a {
  --link-outline: 0;
  --link-text-decoration: none;
  --link-color: var(--primary);
}

ul {
  --list-margin: 0 0 10px;
  --list-padding: 0;
  --list-style: none;
}

figure {
  --figure-margin: 0;
}

img,
video {
  --img-max-width: 100%;
  --img-height: auto;
  --img-object-fit: contain;
}

table {
  --table-border-collapse: collapse;
  --table-margin: auto;
  --table-text-align: center;
  --table-vertical-align: middle;
}

code,
pre {
  --code-background-color: var(--black);
  --code-color: var(--green);
  --code-margin: auto;
  --code-overflow: scroll;
  --code-padding: 10px;
  --code-text-align: initial;
  --code-width: 100%;
}

@media (min-width: $breakpoint-sm) {
  code,
  pre {
    --code-width: 95%;
  }
}

@media (min-width: $breakpoint-md) {
  code,
  pre {
    --code-width: 90%;
  }
}

@media (min-width: $breakpoint-lg) {
  code,
  pre {
    --code-width: 85%;
  }
}

@media (min-width: $breakpoint-xl) {
  code,
  pre {
    --code-width: 80%;
  }
}

@media (min-width: $breakpoint-wd) {
  code,
  pre {
    --code-width: 75%;
  }
}
