/***** Variables : Tags *****/

body {
  --body-background-color: none;
  --body-color: var(--black);
  --body-font-size: 2rem;
  --body-line-height: 1.6;
  --body-scroll-behavior: smooth;
}

main {
  --main-text-align: center;
}

article {
  --article-margin-bottom: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-text-align: center;
  --title-text-transform: capitalize;

  --title-wd-color: var(--pp);
  --title-wd-font-size: 5rem;
  --title-wd-text-shadow: 2px 2px 2px;

  --title-xl-color: var(--fb);
  --title-xl-font-size: 4.5rem;
  --title-xl-text-shadow: 1px 1px 1px;

  --title-lg-color: var(--in);
  --title-lg-font-size: 4rem;
  --title-lg-text-shadow: 0 0 1px;

  --title-md-color: var(--cyan);
  --title-md-font-size: 3.5rem;
  --title-md-text-shadow: 0 0 2px;

  --title-sm-color: var(--blue);
  --title-sm-font-size: 3rem;

  --title-tn-color: var(--tw);
  --title-tn-font-size: 2.5rem;
}

a {
  --link-outline: 0;
  --link-text-decoration: none;
  --link-color: var(--blue);
}

ul {
  --list-margin: 0 0 10px;
  --list-padding: 0;
  --list-style: none;
}

figure {
  --figure-margin: 0;
}

img,
video {
  --img-height: auto;
  --img-max-width: 100%;
  --img-object-fit: contain;
}

table {
  --table-border-collapse: collapse;
  --table-margin: auto;
  --table-text-align: center;
  --table-vertical-align: middle;
}

code,
pre {
  --code-background-color: var(--black);
  --code-color: var(--green);
  --code-margin: auto;
  --code-overflow: scroll;
  --code-padding: 10px;
  --code-text-align: initial;
  --code-width: 100%;
}

@media (min-width: $breakpoint-sm) {
  code,
  pre {
    --code-width: 95%;
  }
}

@media (min-width: $breakpoint-md) {
  code,
  pre {
    --code-width: 90%;
  }
}

@media (min-width: $breakpoint-lg) {
  code,
  pre {
    --code-width: 85%;
  }
}

@media (min-width: $breakpoint-xl) {
  code,
  pre {
    --code-width: 80%;
  }
}

@media (min-width: $breakpoint-wd) {
  code,
  pre {
    --code-width: 75%;
  }
}
