/***** Variables : Transform *****/

// ***** Translate *****
$slideT:  translate(0, 10vh)      !default;
$slideR:  translate(-10vw, 0)     !default;
$slideB:  translate(0, -10vh)     !default;
$slideL:  translate(10vw, 0)      !default;
$slideTR: translate(-10vw, 10vh)  !default;
$slideBR: translate(-10vw, -10vh) !default;
$slideBL: translate(10vw, -10vh)  !default;
$slideTL: translate(10vw, 10vh)   !default;

// ***** Rotate *****
$turn:    rotate3d(0, 0, 1, 360deg) !default;
$turnX:   rotate3d(1, 0, 0, 360deg) !default;
$turnY:   rotate3d(0, 1, 0, 360deg) !default;
$turnXY:  rotate3d(1, 1, 0, 360deg) !default;
$turnXZ:  rotate3d(1, 0, 1, 360deg) !default;
$turnYZ:  rotate3d(0, 1, 1, 360deg) !default;
$turn3D:  rotate3d(1, 1, 1, 360deg) !default;

// ***** Scale *****
$bounce:    scale(-1, -1)   !default;
$grow:      scale(0.5, 0.5) !default;
$shrink:    scale(1.5, 1.5) !default;
$flipX:     scale(1, -1)    !default;
$flipY:     scale(-1, 1)    !default;
$openX:     scale(1, 0)     !default;
$openY:     scale(0, 1)     !default;
$flipperX:  scale(0, -1)    !default;
$flipperY:  scale(-1, 0)    !default;

// ***** Skew *****
$twistT:    skew(-90deg, -90deg)    !default;
$twistR:    skew(90deg, -90deg)     !default;
$twistB:    skew(90deg, 90deg)      !default;
$twistL:    skew(-90deg, 90deg)     !default;
$torsionT:  skew(-180deg, -180deg)  !default;
$torsionR:  skew(180deg, -180deg)   !default;
$torsionB:  skew(180deg, 180deg)    !default;
$torsionL:  skew(-180deg, 180deg)   !default;

$transforms: (
  // Translate
  'slideT':   $slideT,
  'slideR':   $slideR,
  'slideB':   $slideB,
  'slideL':   $slideL,
  'slideTR':  $slideTR,
  'slideBR':  $slideBR,
  'slideBL':  $slideBL,
  'slideTL':  $slideTL,
  // Rotate
  'turn':   $turn,
  'turnX':  $turnX,
  'turnY':  $turnY,
  'turnXY': $turnXY,
  'turnXZ': $turnXZ,
  'turnYZ': $turnYZ,
  'turn3D': $turn3D,
  // Scale
  'bounce':   $bounce,
  'grow':     $grow,
  'shrink':   $shrink,
  'flipX':    $flipX,
  'flipY':    $flipY,
  'openX':    $openX,
  'openY':    $openY,
  'flipperX': $flipperX,
  'flipperY': $flipperY,
  // Skew
  'twistT':   $twistT,
  'twistR':   $twistR,
  'twistB':   $twistB,
  'twistL':   $twistL,
  'torsionT': $torsionT,
  'torsionR': $torsionR,
  'torsionB': $torsionB,
  'torsionL': $torsionL
) !default;

:root {
  @each $key, $value in $transforms {
    --#{$key}: #{$value};
  }

  --originT: top;
  --originR: right;
  --originB: bottom;
  --originL: left;
}
