/***** Variables : Transform *****/

// ***** Scale *****
$bounce:    scale(-2, -2) !default;
$grow:      scale(0, 0)   !default;
$shrink:    scale(2, 2)   !default;
$flipperX:  scale(0, -2)  !default;
$flipperY:  scale(-2, 0)  !default;
$openX:     scale(2, 0)   !default;
$openY:     scale(0, 2)   !default;
$flipX:     scale(1, -2)  !default;
$flipY:     scale(-2, 1)  !default;
$fallX:     scale(2, -2)  !default;
$fallY:     scale(-2, 2)  !default;

// ***** Skew *****
$twistT:    skew(-90deg, -90deg)    !default;
$twistR:    skew(90deg, -90deg)     !default;
$twistB:    skew(90deg, 90deg)      !default;
$twistL:    skew(-90deg, 90deg)     !default;
$torsionT:  skew(-180deg, -180deg)  !default;
$torsionR:  skew(180deg, -180deg)   !default;
$torsionB:  skew(180deg, 180deg)    !default;
$torsionL:  skew(-180deg, 180deg)   !default;

// ***** Rotate *****
$turn:    rotate3d(0, 0, 1, 360deg) !default;
$turnX:   rotate3d(1, 0, 0, 360deg) !default;
$turnY:   rotate3d(0, 1, 0, 360deg) !default;
$turnXY:  rotate3d(1, 1, 0, 360deg) !default;
$turnXZ:  rotate3d(1, 0, 1, 360deg) !default;
$turnYZ:  rotate3d(0, 1, 1, 360deg) !default;
$turn3D:  rotate3d(1, 1, 1, 360deg) !default;

// ***** Translate *****
$slideT:  translate(0, 20vh)      !default;
$slideR:  translate(-20vw, 0)     !default;
$slideB:  translate(0, -20vh)     !default;
$slideL:  translate(20vw, 0)      !default;
$slideTR: translate(-20vw, 20vh)  !default;
$slideBR: translate(-20vw, -20vh) !default;
$slideBL: translate(20vw, -20vh)  !default;
$slideTL: translate(20vw, 20vh)   !default;

$transforms: (
  // Scale
  'bounce':   $bounce,
  'grow':     $grow,
  'shrink':   $shrink,
  'flipperX': $flipperX,
  'flipperY': $flipperY,
  'openX':    $openX,
  'openY':    $openY,
  'flipX':    $flipX,
  'flipY':    $flipY,
  'fallX':    $fallX,
  'fallY':    $fallY,
  // Skew
  'twistT':   $twistT,
  'twistR':   $twistR,
  'twistB':   $twistB,
  'twistL':   $twistL,
  'torsionT': $torsionT,
  'torsionR': $torsionR,
  'torsionB': $torsionB,
  'torsionL': $torsionL,
  // Rotate
  'turn':   $turn,
  'turnX':  $turnX,
  'turnY':  $turnY,
  'turnXY': $turnXY,
  'turnXZ': $turnXZ,
  'turnYZ': $turnYZ,
  'turn3D': $turn3D,
  // Translate
  'slideT':   $slideT,
  'slideR':   $slideR,
  'slideB':   $slideB,
  'slideL':   $slideL,
  'slideTR':  $slideTR,
  'slideBR':  $slideBR,
  'slideBL':  $slideBL,
  'slideTL':  $slideTL
) !default;

:root {
  @each $key, $value in $transforms {
    --#{$key}: #{$value};
  }

  --opacity: 0;
  --transform-origin: center;
}
