/*****************************************/
/********** anima VARIABLES **********/
/*****************************************/

/*
1. Delay
2. Duration
3. Iteration Count
4. Timing Function
*/


[class="anima"] {
    /***** Delay *****/
    --anima-delay-small: 1s;
    --anima-delay-medium: 2s;
    --anima-delay-large: 3s;

    /***** Duration *****/
    --anima-duration-tn: 1s;
    --anima-duration-sm: 2s;
    --anima-duration-md: 5s;
    --anima-duration-lg: 10s;
    --anima-duration-wd: 60s;

    /***** Iteration Count *****/
    --anima-count-few: 2;
    --anima-count-many: 5;

    /***** Timing Function *****/
    --anima-timing-ease: ease-in-out;
    --anima-timing-steps: 60, start;
    --anima-timing-bezier: 1,5,1,-5;
}
