/**************************************/
/********** BORDER VARIABLES **********/
/**************************************/

/*
1. Border
2. Border Radius
*/


[class*="border"] {
    /***** Border *****/
    --border-style-global: solid;
    --border-width-global: medium;

    --border-width-sm: thin;
    --border-width-md: medium;
    --border-width-lg: thick;

    /***** Border Radius *****/
    --border-radius-slight: 10px;
    --border-radius-round: 50px;
    --border-radius-circle: 50%;
    --border-radius-ellipse: 50% / 25%;
}
