/**************************************/
/********** SHADOW VARIABLES **********/
/**************************************/

/*
1. Box Shadow
2. Text Shadow
*/


/***** Box Shadow *****/
[class*="shadow"] {
    --shadow-x-sm: 2px;
    --shadow-x-md: 5px;
    --shadow-x-lg: 10px;

    --shadow-y-sm: 2px;
    --shadow-y-md: 5px;
    --shadow-y-lg: 10px;

    --shadow-blur-all: 5px;
    --shadow-blur-sm:  2px;
    --shadow-blur-md:  5px;
    --shadow-blur-lg:  10px;

    --shadow-spread-all: 5px;
    --shadow-spread-sm:  2px;
    --shadow-spread-md:  5px;
    --shadow-spread-lg:  10px;

    /***** Text Shadow *****/
    --text-x-sm: 1px;
    --text-x-md: 2px;
    --text-x-lg: 5px;

    --text-y-sm: 1px;
    --text-y-md: 2px;
    --text-y-lg: 5px;

    --text-blur-all: 2px;
    --text-blur-sm:  1px;
    --text-blur-md:  2px;
    --text-blur-lg:  5px;
}
