/**************************************/
/********** SHADOW VARIABLES **********/
/**************************************/

/*
1. Box Shadow
2. Text Shadow
*/


/***** Box Shadow *****/
[class*="shabox"] {
    --shabox-x-sm: 2px;
    --shabox-x-md: 5px;
    --shabox-x-lg: 10px;

    --shabox-y-sm: 2px;
    --shabox-y-md: 5px;
    --shabox-y-lg: 10px;

    --shabox-blur-all: 5px;
    --shabox-blur-sm: 2px;
    --shabox-blur-md: 5px;
    --shabox-blur-lg: 10px;

    --shabox-spread-all: 5px;
    --shabox-spread-sm: 2px;
    --shabox-spread-md: 5px;
    --shabox-spread-lg: 10px;
}


/***** Text Shadow *****/
[class*="shatext"] {
    --shatext-x-sm: 1px;
    --shatext-x-md: 2px;
    --shatext-x-lg: 5px;

    --shatext-y-sm: 1px;
    --shatext-y-md: 2px;
    --shatext-y-lg: 5px;

    --shatext-blur-all: 2px;
    --shatext-blur-sm: 1px;
    --shatext-blur-md: 2px;
    --shatext-blur-lg: 5px;
}
