/***************************************/
/********** SPACING VARIABLES **********/
/***************************************/

/*
1. Margin
2. Padding
*/


:root {
    /***** Margin *****/
    --mar-sm: 10px;
    --mar-md: 20px;
    --mar-lg: 50px;

    --mar-bottom-sm: 10px;
    --mar-bottom-md: 20px;
    --mar-bottom-lg: 50px;

    --mar-left-sm: 10px;
    --mar-left-md: 20px;
    --mar-left-lg: 50px;

    --mar-right-sm: 10px;
    --mar-right-md: 20px;
    --mar-right-lg: 50px;

    --mar-top-sm: 10px;
    --mar-top-md: 20px;
    --mar-top-lg: 50px;

    /***** Padding *****/
    --pad-sm: 10px;
    --pad-md: 20px;
    --pad-lg: 50px;

    --pad-bottom-sm: 10px;
    --pad-bottom-md: 20px;
    --pad-bottom-lg: 50px;

    --pad-left-sm: 10px;
    --pad-left-md: 20px;
    --pad-left-lg: 50px;

    --pad-right-sm: 10px;
    --pad-right-md: 20px;
    --pad-right-lg: 50px;

    --pad-top-sm: 10px;
    --pad-top-md: 20px;
    --pad-top-lg: 50px;
}
