/***************************************/
/********** SPACING VARIABLES **********/
/***************************************/

/*
1. Margin
2. Padding
*/


:root {
    /***** Margin *****/
    --margin-sm: 10px;
    --margin-md: 20px;
    --margin-lg: 50px;

    --margin-bottom-sm: 10px;
    --margin-bottom-md: 20px;
    --margin-bottom-lg: 50px;

    --margin-left-sm: 10px;
    --margin-left-md: 20px;
    --margin-left-lg: 50px;

    --margin-right-sm: 10px;
    --margin-right-md: 20px;
    --margin-right-lg: 50px;

    --margin-top-sm: 10px;
    --margin-top-md: 20px;
    --margin-top-lg: 50px;

    /***** Padding *****/
    --padding-sm: 10px;
    --padding-md: 20px;
    --padding-lg: 50px;

    --padding-bottom-sm: 10px;
    --padding-bottom-md: 20px;
    --padding-bottom-lg: 50px;

    --padding-left-sm: 10px;
    --padding-left-md: 20px;
    --padding-left-lg: 50px;

    --padding-right-sm: 10px;
    --padding-right-md: 20px;
    --padding-right-lg: 50px;

    --padding-top-sm: 10px;
    --padding-top-md: 20px;
    --padding-top-lg: 50px;
}
