/*****************************************/
/********** TRANSFORM VARIABLES **********/
/*****************************************/

/*
1. Transform
2. Transform Origin
*/


:root {
    /***** Transform *****/
    --rotate: -360deg;
    --rotateX: -360deg;
    --rotateY: -360deg;

    --scale: 0;
    --scaleX: 0;
    --scaleY: 0;

    --skew: 180deg, 180deg;
    --skewX: 180deg;
    --skewY: 180deg;

    --translate: -100vw, -100vh;
    --translateX: -100vw;
    --translateY: -100vh;

    /***** Transform Origin *****/
    --transform-origin-near: 50px 50px;
    --transform-origin-far: top right 50px;
}