/***********************************/
/********** SHOW HELPERS ***********/
/***********************************/


/*
1. Container
2. Cursor
3. Display
4. Overflow
5. Position
*/


/*********************/
/***** Container *****/
[class^="container"] {
    margin: auto;
}

.container-sm {
    max-width: var(--max-width-sm);
}

.container {
    max-width: var(--max-width-md);
}

.container-lg {
    max-width: var(--max-width-lg);
}


/******************/
/***** Cursor *****/
.cursor-cross,
.cursor-cross > * {
    cursor: crosshair;
}

.cursor-help,
.cursor-help > * {
    cursor: help;
}

.cursor-none,
.cursor-none > * {
    cursor: not-allowed;
}

.cursor-pointer,
.cursor-pointer > * {
    cursor: pointer;
}

.cursor-text,
.cursor-text > * {
    cursor: text;
}


/*******************/
/***** Display *****/
.dis-block {
    display: block;
}

.dis-flex {
    display: flex;
}

.dis-inblock {
    display: inline-block;
}

.dis-inline {
    display: inline;
}

.dis-none,
.radio {
    display: none;
}


/********************/
/***** Overflow *****/
.flow-hidden {
    overflow: hidden;
}

.flow-scroll {
    overflow: scroll;
}


/********************/
/***** Position *****/
.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.pos-relative {
    position: relative;
}

.pos-sticky {
    position: sticky;
}