/***********************************/
/********** SHOW HELPERS ***********/
/***********************************/


/*
1. Display
2. Position
3. Overflow
4. Container
5. Cursor
*/


/*******************/
/***** Display *****/
.block {
    display: block;
}

.inblock {
    display: inline-block;
}

.inline {
    display: inline;
}

.hidden,
.dio {
    display: none;
}


/********************/
/***** Position *****/
.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.sticky {
    position: sticky;
}


/********************/
/***** Overflow *****/
.flow-hidden {
    overflow: hidden;
}

.flow-scroll {
    overflow: scroll;
}


/*********************/
/***** Container *****/
[class*="container"] {
    margin: auto;
}

.container-sm {
    max-width: var(--max-width-sm);
}

.container {
    max-width: var(--max-width-md);
}

.container-lg {
    max-width: var(--max-width-lg);
}


/******************/
/***** Cursor *****/
.crosshair,
.crosshair > * {
    cursor: crosshair;
}

.help,
.help > * {
    cursor: help;
}

.forbidden,
.forbidden > * {
    cursor: not-allowed;
}

.pointer,
.pointer > * {
    cursor: pointer;
}