/***********************************/
/********** TEXT HELPERS ***********/
/***********************************/

/*
1. Font
2. Text Align
3. Text Decoration
*/


/****************/
/***** Font *****/
.font-normal {
    font-style: normal;
    font-weight: normal;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold;
}


/**********************/
/***** Text Align *****/
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/***************************/
/***** Text Decoration *****/

/***** Deco Line *****/
[class*="deco"][class*="under"] {
    text-decoration-line: underline;
}

[class*="deco"][class*="none"] {
    text-decoration-line: none;
}

[class*="deco"][class*="over"] {
    text-decoration-line: overline;
}

[class*="deco"][class*="through"] {
    text-decoration-line: line-through;
}

/***** Deco Style *****/
[class*="deco"][class*="solid"] {
    text-decoration-style: solid;
}

[class*="deco"][class*="double"] {
    text-decoration-style: double;
}

[class*="deco"][class*="dotted"] {
    text-decoration-style: dotted;
}

[class*="deco"][class*="dashed"] {
    text-decoration-style: dashed;
}

[class*="deco"][class*="wavy"] {
    text-decoration-style: wavy;
}

/***** Deco Color *****/
[class*="deco"][class*="black"] {
    text-decoration-color: black;
}

[class*="deco"][class*="blue"] {
    text-decoration-color: var(--blue);
}

[class*="deco"][class*="brown"] {
    text-decoration-color: var(--brown);
}

[class*="deco"][class*="gray"] {
    text-decoration-color: var(--gray);
}

[class*="deco"][class*="grey"] {
    text-decoration-color: var(--grey);
}

[class*="deco"][class*="green"] {
    text-decoration-color: var(--green);
}

[class*="deco"][class*="orange"] {
    text-decoration-color: var(--orange);
}

[class*="deco"][class*="red"] {
    text-decoration-color: var(--red);
}

[class*="deco"][class*="violet"] {
    text-decoration-color: var(--violet);
}

[class*="deco"][class*="white"] {
    text-decoration-color: var(--white);
}

[class*="deco"][class*="yellow"] {
    text-decoration-color: var(--yellow);
}