/********** ANIMA **********/

/*
1. Variables
2. Name
3. Duration
4. Timing Function
5. Iteration Count
6. Direction
7. Delay
8. Fill Mode
9. Origin
*/

/***** Variables *****/
[class*="anima"] {
  --anima-duration-tn: 1s;
  --anima-duration-sm: 2s;
  --anima-duration-md: 5s;
  --anima-duration-lg: 10s;
  --anima-duration-wd: 60s;
  --anima-timing-ease: ease-in-out;
  --anima-timing-steps: 60, start;
  --anima-timing-bezier: 1, 5, 1, -5;
  --anima-count-few: 2;
  --anima-count-many: 5;
  --anima-delay-small: 1s;
  --anima-delay-medium: 2s;
  --anima-delay-large: 3s;
  --transform-origin-near: 50px 50px;
  --transform-origin-far: top right 50px;
}

/***** Name *****/
[class|="anima"][class*="-rota-"][class$="-d"],
[class|="anima"][class*="-rota-"][class$="-r"]:checked ~ [class|="anima"][class*="-rota-"][class$="-t"],
*:hover > [class|="anima"][class*="-rota-"][class$="-i"],
*:focus > [class|="anima"][class*="-rota-"][class$="-i"],
*:active > [class|="anima"][class*="-rota-"][class$="-i"],
[class|="anima"][class*="-rota-"][class$="-o"]:hover,
[class|="anima"][class*="-rota-"][class$="-o"]:focus,
[class|="anima"][class*="-rota-"][class$="-o"]:active,
[class|="anima"][class*="-rota-"][class$="-g"] > *,
[class|="anima"][class*="-rota-"][class$="-t"]:hover > *,
[class|="anima"][class*="-rota-"][class$="-t"]:focus > *,
[class|="anima"][class*="-rota-"][class$="-t"]:active > *,
[class|="anima"][class*="-rota-"][class$="-f"] > *:hover,
[class|="anima"][class*="-rota-"][class$="-f"] > *:focus,
[class|="anima"][class*="-rota-"][class$="-f"] > *:active {
  animation-name: rotate;
}

[class|="anima"][class*="-rotax-"][class$="-d"],
[class|="anima"][class*="-rotax-"][class$="-r"]:checked ~ [class|="anima"][class*="-rotax-"][class$="-t"],
*:hover > [class|="anima"][class*="-rotax-"][class$="-i"],
*:focus > [class|="anima"][class*="-rotax-"][class$="-i"],
*:active > [class|="anima"][class*="-rotax-"][class$="-i"],
[class|="anima"][class*="-rotax-"][class$="-o"]:hover,
[class|="anima"][class*="-rotax-"][class$="-o"]:focus,
[class|="anima"][class*="-rotax-"][class$="-o"]:active,
[class|="anima"][class*="-rotax-"][class$="-g"] > *,
[class|="anima"][class*="-rotax-"][class$="-t"]:hover > *,
[class|="anima"][class*="-rotax-"][class$="-t"]:focus > *,
[class|="anima"][class*="-rotax-"][class$="-t"]:active > *,
[class|="anima"][class*="-rotax-"][class$="-f"] > *:hover,
[class|="anima"][class*="-rotax-"][class$="-f"] > *:focus,
[class|="anima"][class*="-rotax-"][class$="-f"] > *:active {
  animation-name: rotateX;
}

[class|="anima"][class*="-rotay-"][class$="-d"],
[class|="anima"][class*="-rotay-"][class$="-r"]:checked ~ [class|="anima"][class*="-rotay-"][class$="-t"],
*:hover > [class|="anima"][class*="-rotay-"][class$="-i"],
*:focus > [class|="anima"][class*="-rotay-"][class$="-i"],
*:active > [class|="anima"][class*="-rotay-"][class$="-i"],
[class|="anima"][class*="-rotay-"][class$="-o"]:hover,
[class|="anima"][class*="-rotay-"][class$="-o"]:focus,
[class|="anima"][class*="-rotay-"][class$="-o"]:active,
[class|="anima"][class*="-rotay-"][class$="-g"] > *,
[class|="anima"][class*="-rotay-"][class$="-t"]:hover > *,
[class|="anima"][class*="-rotay-"][class$="-t"]:focus > *,
[class|="anima"][class*="-rotay-"][class$="-t"]:active > *,
[class|="anima"][class*="-rotay-"][class$="-f"] > *:hover,
[class|="anima"][class*="-rotay-"][class$="-f"] > *:focus,
[class|="anima"][class*="-rotay-"][class$="-f"] > *:active {
  animation-name: rotateY;
}

[class|="anima"][class*="-scal-"][class$="-d"],
[class|="anima"][class*="-scal-"][class$="-r"]:checked ~ [class|="anima"][class*="-scal-"][class$="-t"],
*:hover > [class|="anima"][class*="-scal-"][class$="-i"],
*:focus > [class|="anima"][class*="-scal-"][class$="-i"],
*:active > [class|="anima"][class*="-scal-"][class$="-i"],
[class|="anima"][class*="-scal-"][class$="-o"]:hover,
[class|="anima"][class*="-scal-"][class$="-o"]:focus,
[class|="anima"][class*="-scal-"][class$="-o"]:active,
[class|="anima"][class*="-scal-"][class$="-g"] > *,
[class|="anima"][class*="-scal-"][class$="-t"]:hover > *,
[class|="anima"][class*="-scal-"][class$="-t"]:focus > *,
[class|="anima"][class*="-scal-"][class$="-t"]:active > *,
[class|="anima"][class*="-scal-"][class$="-f"] > *:hover,
[class|="anima"][class*="-scal-"][class$="-f"] > *:focus,
[class|="anima"][class*="-scal-"][class$="-f"] > *:active {
  animation-name: scale;
}

[class|="anima"][class*="-scalx-"][class$="-d"],
[class|="anima"][class*="-scalx-"][class$="-r"]:checked ~ [class|="anima"][class*="-scalx-"][class$="-t"],
*:hover > [class|="anima"][class*="-scalx-"][class$="-i"],
*:focus > [class|="anima"][class*="-scalx-"][class$="-i"],
*:active > [class|="anima"][class*="-scalx-"][class$="-i"],
[class|="anima"][class*="-scalx-"][class$="-o"]:hover,
[class|="anima"][class*="-scalx-"][class$="-o"]:focus,
[class|="anima"][class*="-scalx-"][class$="-o"]:active,
[class|="anima"][class*="-scalx-"][class$="-g"] > *,
[class|="anima"][class*="-scalx-"][class$="-t"]:hover > *,
[class|="anima"][class*="-scalx-"][class$="-t"]:focus > *,
[class|="anima"][class*="-scalx-"][class$="-t"]:active > *,
[class|="anima"][class*="-scalx-"][class$="-f"] > *:hover,
[class|="anima"][class*="-scalx-"][class$="-f"] > *:focus,
[class|="anima"][class*="-scalx-"][class$="-f"] > *:active {
  animation-name: scaleX;
}

[class|="anima"][class*="-scaly-"][class$="-d"],
[class|="anima"][class*="-scaly-"][class$="-r"]:checked ~ [class|="anima"][class*="-scaly-"][class$="-t"],
*:hover > [class|="anima"][class*="-scaly-"][class$="-i"],
*:focus > [class|="anima"][class*="-scaly-"][class$="-i"],
*:active > [class|="anima"][class*="-scaly-"][class$="-i"],
[class|="anima"][class*="-scaly-"][class$="-o"]:hover,
[class|="anima"][class*="-scaly-"][class$="-o"]:focus,
[class|="anima"][class*="-scaly-"][class$="-o"]:active,
[class|="anima"][class*="-scaly-"][class$="-g"] > *,
[class|="anima"][class*="-scaly-"][class$="-t"]:hover > *,
[class|="anima"][class*="-scaly-"][class$="-t"]:focus > *,
[class|="anima"][class*="-scaly-"][class$="-t"]:active > *,
[class|="anima"][class*="-scaly-"][class$="-f"] > *:hover,
[class|="anima"][class*="-scaly-"][class$="-f"] > *:focus,
[class|="anima"][class*="-scaly-"][class$="-f"] > *:active {
  animation-name: scaleY;
}

[class|="anima"][class*="-skew-"][class$="-d"],
[class|="anima"][class*="-skew-"][class$="-r"]:checked ~ [class|="anima"][class*="-skew-"][class$="-t"],
*:hover > [class|="anima"][class*="-skew-"][class$="-i"],
*:focus > [class|="anima"][class*="-skew-"][class$="-i"],
*:active > [class|="anima"][class*="-skew-"][class$="-i"],
[class|="anima"][class*="-skew-"][class$="-o"]:hover,
[class|="anima"][class*="-skew-"][class$="-o"]:focus,
[class|="anima"][class*="-skew-"][class$="-o"]:active,
[class|="anima"][class*="-skew-"][class$="-g"] > *,
[class|="anima"][class*="-skew-"][class$="-t"]:hover > *,
[class|="anima"][class*="-skew-"][class$="-t"]:focus > *,
[class|="anima"][class*="-skew-"][class$="-t"]:active > *,
[class|="anima"][class*="-skew-"][class$="-f"] > *:hover,
[class|="anima"][class*="-skew-"][class$="-f"] > *:focus,
[class|="anima"][class*="-skew-"][class$="-f"] > *:active {
  animation-name: skew;
}

[class|="anima"][class*="-skewx-"][class$="-d"],
[class|="anima"][class*="-skewx-"][class$="-r"]:checked ~ [class|="anima"][class*="-skewx-"][class$="-t"],
*:hover > [class|="anima"][class*="-skewx-"][class$="-i"],
*:focus > [class|="anima"][class*="-skewx-"][class$="-i"],
*:active > [class|="anima"][class*="-skewx-"][class$="-i"],
[class|="anima"][class*="-skewx-"][class$="-o"]:hover,
[class|="anima"][class*="-skewx-"][class$="-o"]:focus,
[class|="anima"][class*="-skewx-"][class$="-o"]:active,
[class|="anima"][class*="-skewx-"][class$="-g"] > *,
[class|="anima"][class*="-skewx-"][class$="-t"]:hover > *,
[class|="anima"][class*="-skewx-"][class$="-t"]:focus > *,
[class|="anima"][class*="-skewx-"][class$="-t"]:active > *,
[class|="anima"][class*="-skewx-"][class$="-f"] > *:hover,
[class|="anima"][class*="-skewx-"][class$="-f"] > *:focus,
[class|="anima"][class*="-skewx-"][class$="-f"] > *:active {
  animation-name: skewX;
}

[class|="anima"][class*="-skewy-"][class$="-d"],
[class|="anima"][class*="-skewy-"][class$="-r"]:checked ~ [class|="anima"][class*="-skewy-"][class$="-t"],
*:hover > [class|="anima"][class*="-skewy-"][class$="-i"],
*:focus > [class|="anima"][class*="-skewy-"][class$="-i"],
*:active > [class|="anima"][class*="-skewy-"][class$="-i"],
[class|="anima"][class*="-skewy-"][class$="-o"]:hover,
[class|="anima"][class*="-skewy-"][class$="-o"]:focus,
[class|="anima"][class*="-skewy-"][class$="-o"]:active,
[class|="anima"][class*="-skewy-"][class$="-g"] > *,
[class|="anima"][class*="-skewy-"][class$="-t"]:hover > *,
[class|="anima"][class*="-skewy-"][class$="-t"]:focus > *,
[class|="anima"][class*="-skewy-"][class$="-t"]:active > *,
[class|="anima"][class*="-skewy-"][class$="-f"] > *:hover,
[class|="anima"][class*="-skewy-"][class$="-f"] > *:focus,
[class|="anima"][class*="-skewy-"][class$="-f"] > *:active {
  animation-name: skewY;
}

[class|="anima"][class*="-tran-"][class$="-d"],
[class|="anima"][class*="-tran-"][class$="-r"]:checked ~ [class|="anima"][class*="-tran-"][class$="-t"],
*:hover > [class|="anima"][class*="-tran-"][class$="-i"],
*:focus > [class|="anima"][class*="-tran-"][class$="-i"],
*:active > [class|="anima"][class*="-tran-"][class$="-i"],
[class|="anima"][class*="-tran-"][class$="-o"]:hover,
[class|="anima"][class*="-tran-"][class$="-o"]:focus,
[class|="anima"][class*="-tran-"][class$="-o"]:active,
[class|="anima"][class*="-tran-"][class$="-g"] > *,
[class|="anima"][class*="-tran-"][class$="-t"]:hover > *,
[class|="anima"][class*="-tran-"][class$="-t"]:focus > *,
[class|="anima"][class*="-tran-"][class$="-t"]:active > *,
[class|="anima"][class*="-tran-"][class$="-f"] > *:hover,
[class|="anima"][class*="-tran-"][class$="-f"] > *:focus,
[class|="anima"][class*="-tran-"][class$="-f"] > *:active {
  animation-name: translate;
}

[class|="anima"][class*="-tranx-"][class$="-d"],
[class|="anima"][class*="-tranx-"][class$="-r"]:checked ~ [class|="anima"][class*="-tranx-"][class$="-t"],
*:hover > [class|="anima"][class*="-tranx-"][class$="-i"],
*:focus > [class|="anima"][class*="-tranx-"][class$="-i"],
*:active > [class|="anima"][class*="-tranx-"][class$="-i"],
[class|="anima"][class*="-tranx-"][class$="-o"]:hover,
[class|="anima"][class*="-tranx-"][class$="-o"]:focus,
[class|="anima"][class*="-tranx-"][class$="-o"]:active,
[class|="anima"][class*="-tranx-"][class$="-g"] > *,
[class|="anima"][class*="-tranx-"][class$="-t"]:hover > *,
[class|="anima"][class*="-tranx-"][class$="-t"]:focus > *,
[class|="anima"][class*="-tranx-"][class$="-t"]:active > *,
[class|="anima"][class*="-tranx-"][class$="-f"] > *:hover,
[class|="anima"][class*="-tranx-"][class$="-f"] > *:focus,
[class|="anima"][class*="-tranx-"][class$="-f"] > *:active {
  animation-name: translateX;
}

[class|="anima"][class*="-trany-"][class$="-d"],
[class|="anima"][class*="-trany-"][class$="-r"]:checked ~ [class|="anima"][class*="-trany-"][class$="-t"],
*:hover > [class|="anima"][class*="-trany-"][class$="-i"],
*:focus > [class|="anima"][class*="-trany-"][class$="-i"],
*:active > [class|="anima"][class*="-trany-"][class$="-i"],
[class|="anima"][class*="-trany-"][class$="-o"]:hover,
[class|="anima"][class*="-trany-"][class$="-o"]:focus,
[class|="anima"][class*="-trany-"][class$="-o"]:active,
[class|="anima"][class*="-trany-"][class$="-g"] > *,
[class|="anima"][class*="-trany-"][class$="-t"]:hover > *,
[class|="anima"][class*="-trany-"][class$="-t"]:focus > *,
[class|="anima"][class*="-trany-"][class$="-t"]:active > *,
[class|="anima"][class*="-trany-"][class$="-f"] > *:hover,
[class|="anima"][class*="-trany-"][class$="-f"] > *:focus,
[class|="anima"][class*="-trany-"][class$="-f"] > *:active {
  animation-name: translateY;
}

/***** Duration *****/
[class|="anima"][class*="-tn-"][class$="-d"],
[class|="anima"][class*="-tn-"][class$="-r"]:checked ~ [class|="anima"][class*="-tn-"][class$="-t"],
*:hover > [class|="anima"][class*="-tn-"][class$="-i"],
*:focus > [class|="anima"][class*="-tn-"][class$="-i"],
*:active > [class|="anima"][class*="-tn-"][class$="-i"],
[class|="anima"][class*="-tn-"][class$="-o"]:hover,
[class|="anima"][class*="-tn-"][class$="-o"]:focus,
[class|="anima"][class*="-tn-"][class$="-o"]:active,
[class|="anima"][class*="-tn-"][class$="-g"] > *,
[class|="anima"][class*="-tn-"][class$="-t"]:hover > *,
[class|="anima"][class*="-tn-"][class$="-t"]:focus > *,
[class|="anima"][class*="-tn-"][class$="-t"]:active > *,
[class|="anima"][class*="-tn-"][class$="-f"] > *:hover,
[class|="anima"][class*="-tn-"][class$="-f"] > *:focus,
[class|="anima"][class*="-tn-"][class$="-f"] > *:active {
  animation-duration: var(--anima-duration-tn);
}

[class|="anima"][class*="-sm-"][class$="-d"],
[class|="anima"][class*="-sm-"][class$="-r"]:checked ~ [class|="anima"][class*="-sm-"][class$="-t"],
*:hover > [class|="anima"][class*="-sm-"][class$="-i"],
*:focus > [class|="anima"][class*="-sm-"][class$="-i"],
*:active > [class|="anima"][class*="-sm-"][class$="-i"],
[class|="anima"][class*="-sm-"][class$="-o"]:hover,
[class|="anima"][class*="-sm-"][class$="-o"]:focus,
[class|="anima"][class*="-sm-"][class$="-o"]:active,
[class|="anima"][class*="-sm-"][class$="-g"] > *,
[class|="anima"][class*="-sm-"][class$="-t"]:hover > *,
[class|="anima"][class*="-sm-"][class$="-t"]:focus > *,
[class|="anima"][class*="-sm-"][class$="-t"]:active > *,
[class|="anima"][class*="-sm-"][class$="-f"] > *:hover,
[class|="anima"][class*="-sm-"][class$="-f"] > *:focus,
[class|="anima"][class*="-sm-"][class$="-f"] > *:active {
  animation-duration: var(--anima-duration-sm);
}

[class|="anima"][class*="-md-"][class$="-d"],
[class|="anima"][class*="-md-"][class$="-r"]:checked ~ [class|="anima"][class*="-md-"][class$="-t"],
*:hover > [class|="anima"][class*="-md-"][class$="-i"],
*:focus > [class|="anima"][class*="-md-"][class$="-i"],
*:active > [class|="anima"][class*="-md-"][class$="-i"],
[class|="anima"][class*="-md-"][class$="-o"]:hover,
[class|="anima"][class*="-md-"][class$="-o"]:focus,
[class|="anima"][class*="-md-"][class$="-o"]:active,
[class|="anima"][class*="-md-"][class$="-g"] > *,
[class|="anima"][class*="-md-"][class$="-t"]:hover > *,
[class|="anima"][class*="-md-"][class$="-t"]:focus > *,
[class|="anima"][class*="-md-"][class$="-t"]:active > *,
[class|="anima"][class*="-md-"][class$="-f"] > *:hover,
[class|="anima"][class*="-md-"][class$="-f"] > *:focus,
[class|="anima"][class*="-md-"][class$="-f"] > *:active {
  animation-duration: var(--anima-duration-md);
}

[class|="anima"][class*="-lg-"][class$="-d"],
[class|="anima"][class*="-lg-"][class$="-r"]:checked ~ [class|="anima"][class*="-lg-"][class$="-t"],
*:hover > [class|="anima"][class*="-lg-"][class$="-i"],
*:focus > [class|="anima"][class*="-lg-"][class$="-i"],
*:active > [class|="anima"][class*="-lg-"][class$="-i"],
[class|="anima"][class*="-lg-"][class$="-o"]:hover,
[class|="anima"][class*="-lg-"][class$="-o"]:focus,
[class|="anima"][class*="-lg-"][class$="-o"]:active,
[class|="anima"][class*="-lg-"][class$="-g"] > *,
[class|="anima"][class*="-lg-"][class$="-t"]:hover > *,
[class|="anima"][class*="-lg-"][class$="-t"]:focus > *,
[class|="anima"][class*="-lg-"][class$="-t"]:active > *,
[class|="anima"][class*="-lg-"][class$="-f"] > *:hover,
[class|="anima"][class*="-lg-"][class$="-f"] > *:focus,
[class|="anima"][class*="-lg-"][class$="-f"] > *:active {
  animation-duration: var(--anima-duration-lg);
}

[class|="anima"][class*="-wd-"][class$="-d"],
[class|="anima"][class*="-wd-"][class$="-r"]:checked ~ [class|="anima"][class*="-wd-"][class$="-t"],
*:hover > [class|="anima"][class*="-wd-"][class$="-i"],
*:focus > [class|="anima"][class*="-wd-"][class$="-i"],
*:active > [class|="anima"][class*="-wd-"][class$="-i"],
[class|="anima"][class*="-wd-"][class$="-o"]:hover,
[class|="anima"][class*="-wd-"][class$="-o"]:focus,
[class|="anima"][class*="-wd-"][class$="-o"]:active,
[class|="anima"][class*="-wd-"][class$="-g"] > *,
[class|="anima"][class*="-wd-"][class$="-t"]:hover > *,
[class|="anima"][class*="-wd-"][class$="-t"]:focus > *,
[class|="anima"][class*="-wd-"][class$="-t"]:active > *,
[class|="anima"][class*="-wd-"][class$="-f"] > *:hover,
[class|="anima"][class*="-wd-"][class$="-f"] > *:focus,
[class|="anima"][class*="-wd-"][class$="-f"] > *:active {
  animation-duration: var(--anima-duration-wd);
}

/***** Timing Function *****/
[class|="anima"][class*="-linear-"][class$="-d"],
[class|="anima"][class*="-linear-"][class$="-r"]:checked ~ [class|="anima"][class*="-linear-"][class$="-t"],
*:hover > [class|="anima"][class*="-linear-"][class$="-i"],
*:focus > [class|="anima"][class*="-linear-"][class$="-i"],
*:active > [class|="anima"][class*="-linear-"][class$="-i"],
[class|="anima"][class*="-linear-"][class$="-o"]:hover,
[class|="anima"][class*="-linear-"][class$="-o"]:focus,
[class|="anima"][class*="-linear-"][class$="-o"]:active,
[class|="anima"][class*="-linear-"][class$="-g"] > *,
[class|="anima"][class*="-linear-"][class$="-t"]:hover > *,
[class|="anima"][class*="-linear-"][class$="-t"]:focus > *,
[class|="anima"][class*="-linear-"][class$="-t"]:active > *,
[class|="anima"][class*="-linear-"][class$="-f"] > *:hover,
[class|="anima"][class*="-linear-"][class$="-f"] > *:focus,
[class|="anima"][class*="-linear-"][class$="-f"] > *:active {
  animation-timing-function: linear;
}

[class|="anima"][class*="-ease-"][class$="-d"],
[class|="anima"][class*="-ease-"][class$="-r"]:checked ~ [class|="anima"][class*="-ease-"][class$="-t"],
*:hover > [class|="anima"][class*="-ease-"][class$="-i"],
*:focus > [class|="anima"][class*="-ease-"][class$="-i"],
*:active > [class|="anima"][class*="-ease-"][class$="-i"],
[class|="anima"][class*="-ease-"][class$="-o"]:hover,
[class|="anima"][class*="-ease-"][class$="-o"]:focus,
[class|="anima"][class*="-ease-"][class$="-o"]:active,
[class|="anima"][class*="-ease-"][class$="-g"] > *,
[class|="anima"][class*="-ease-"][class$="-t"]:hover > *,
[class|="anima"][class*="-ease-"][class$="-t"]:focus > *,
[class|="anima"][class*="-ease-"][class$="-t"]:active > *,
[class|="anima"][class*="-ease-"][class$="-f"] > *:hover,
[class|="anima"][class*="-ease-"][class$="-f"] > *:focus,
[class|="anima"][class*="-ease-"][class$="-f"] > *:active {
  animation-timing-function: var(--anima-timing-ease);
}

[class|="anima"][class*="-steps-"][class$="-d"],
[class|="anima"][class*="-steps-"][class$="-r"]:checked ~ [class|="anima"][class*="-steps-"][class$="-t"],
*:hover > [class|="anima"][class*="-steps-"][class$="-i"],
*:focus > [class|="anima"][class*="-steps-"][class$="-i"],
*:active > [class|="anima"][class*="-steps-"][class$="-i"],
[class|="anima"][class*="-steps-"][class$="-o"]:hover,
[class|="anima"][class*="-steps-"][class$="-o"]:focus,
[class|="anima"][class*="-steps-"][class$="-o"]:active,
[class|="anima"][class*="-steps-"][class$="-g"] > *,
[class|="anima"][class*="-steps-"][class$="-t"]:hover > *,
[class|="anima"][class*="-steps-"][class$="-t"]:focus > *,
[class|="anima"][class*="-steps-"][class$="-t"]:active > *,
[class|="anima"][class*="-steps-"][class$="-f"] > *:hover,
[class|="anima"][class*="-steps-"][class$="-f"] > *:focus,
[class|="anima"][class*="-steps-"][class$="-f"] > *:active {
  animation-timing-function: steps(var(--anima-timing-steps));
}

[class|="anima"][class*="-bezier-"][class$="-d"],
[class|="anima"][class*="-bezier-"][class$="-r"]:checked ~ [class|="anima"][class*="-bezier-"][class$="-t"],
*:hover > [class|="anima"][class*="-bezier-"][class$="-i"],
*:focus > [class|="anima"][class*="-bezier-"][class$="-i"],
*:active > [class|="anima"][class*="-bezier-"][class$="-i"],
[class|="anima"][class*="-bezier-"][class$="-o"]:hover,
[class|="anima"][class*="-bezier-"][class$="-o"]:focus,
[class|="anima"][class*="-bezier-"][class$="-o"]:active,
[class|="anima"][class*="-bezier-"][class$="-g"] > *,
[class|="anima"][class*="-bezier-"][class$="-t"]:hover > *,
[class|="anima"][class*="-bezier-"][class$="-t"]:focus > *,
[class|="anima"][class*="-bezier-"][class$="-t"]:active > *,
[class|="anima"][class*="-bezier-"][class$="-f"] > *:hover,
[class|="anima"][class*="-bezier-"][class$="-f"] > *:focus,
[class|="anima"][class*="-bezier-"][class$="-f"] > *:active {
  animation-timing-function: cubic-bezier(var(--anima-timing-bezier));
}

/***** Iteration Count *****/
[class|="anima"][class*="-few-"][class$="-d"],
[class|="anima"][class*="-few-"][class$="-r"]:checked ~ [class|="anima"][class*="-few-"][class$="-t"],
*:hover > [class|="anima"][class*="-few-"][class$="-i"],
*:focus > [class|="anima"][class*="-few-"][class$="-i"],
*:active > [class|="anima"][class*="-few-"][class$="-i"],
[class|="anima"][class*="-few-"][class$="-o"]:hover,
[class|="anima"][class*="-few-"][class$="-o"]:focus,
[class|="anima"][class*="-few-"][class$="-o"]:active,
[class|="anima"][class*="-few-"][class$="-g"] > *,
[class|="anima"][class*="-few-"][class$="-t"]:hover > *,
[class|="anima"][class*="-few-"][class$="-t"]:focus > *,
[class|="anima"][class*="-few-"][class$="-t"]:active > *,
[class|="anima"][class*="-few-"][class$="-f"] > *:hover,
[class|="anima"][class*="-few-"][class$="-f"] > *:focus,
[class|="anima"][class*="-few-"][class$="-f"] > *:active {
  animation-iteration-count: var(--anima-count-few);
}

[class|="anima"][class*="-many-"][class$="-d"],
[class|="anima"][class*="-many-"][class$="-r"]:checked ~ [class|="anima"][class*="-many-"][class$="-t"],
*:hover > [class|="anima"][class*="-many-"][class$="-i"],
*:focus > [class|="anima"][class*="-many-"][class$="-i"],
*:active > [class|="anima"][class*="-many-"][class$="-i"],
[class|="anima"][class*="-many-"][class$="-o"]:hover,
[class|="anima"][class*="-many-"][class$="-o"]:focus,
[class|="anima"][class*="-many-"][class$="-o"]:active,
[class|="anima"][class*="-many-"][class$="-g"] > *,
[class|="anima"][class*="-many-"][class$="-t"]:hover > *,
[class|="anima"][class*="-many-"][class$="-t"]:focus > *,
[class|="anima"][class*="-many-"][class$="-t"]:active > *,
[class|="anima"][class*="-many-"][class$="-f"] > *:hover,
[class|="anima"][class*="-many-"][class$="-f"] > *:focus,
[class|="anima"][class*="-many-"][class$="-f"] > *:active {
  animation-iteration-count: var(--anima-count-many);
}

[class|="anima"][class*="-loop-"][class$="-d"],
[class|="anima"][class*="-loop-"][class$="-r"]:checked ~ [class|="anima"][class*="-loop-"][class$="-t"],
*:hover > [class|="anima"][class*="-loop-"][class$="-i"],
*:focus > [class|="anima"][class*="-loop-"][class$="-i"],
*:active > [class|="anima"][class*="-loop-"][class$="-i"],
[class|="anima"][class*="-loop-"][class$="-o"]:hover,
[class|="anima"][class*="-loop-"][class$="-o"]:focus,
[class|="anima"][class*="-loop-"][class$="-o"]:active,
[class|="anima"][class*="-loop-"][class$="-g"] > *,
[class|="anima"][class*="-loop-"][class$="-t"]:hover > *,
[class|="anima"][class*="-loop-"][class$="-t"]:focus > *,
[class|="anima"][class*="-loop-"][class$="-t"]:active > *,
[class|="anima"][class*="-loop-"][class$="-f"] > *:hover,
[class|="anima"][class*="-loop-"][class$="-f"] > *:focus,
[class|="anima"][class*="-loop-"][class$="-f"] > *:active {
  animation-iteration-count: infinite;
}

/***** Direction *****/
[class|="anima"][class*="-alter-"][class$="-d"],
[class|="anima"][class*="-alter-"][class$="-r"]:checked ~ [class|="anima"][class*="-alter-"][class$="-t"],
*:hover > [class|="anima"][class*="-alter-"][class$="-i"],
*:focus > [class|="anima"][class*="-alter-"][class$="-i"],
*:active > [class|="anima"][class*="-alter-"][class$="-i"],
[class|="anima"][class*="-alter-"][class$="-o"]:hover,
[class|="anima"][class*="-alter-"][class$="-o"]:focus,
[class|="anima"][class*="-alter-"][class$="-o"]:active,
[class|="anima"][class*="-alter-"][class$="-g"] > *,
[class|="anima"][class*="-alter-"][class$="-t"]:hover > *,
[class|="anima"][class*="-alter-"][class$="-t"]:focus > *,
[class|="anima"][class*="-alter-"][class$="-t"]:active > *,
[class|="anima"][class*="-alter-"][class$="-f"] > *:hover,
[class|="anima"][class*="-alter-"][class$="-f"] > *:focus,
[class|="anima"][class*="-alter-"][class$="-f"] > *:active {
  animation-direction: alternate;
}

[class|="anima"][class*="-rever-"][class$="-d"],
[class|="anima"][class*="-rever-"][class$="-r"]:checked ~ [class|="anima"][class*="-rever-"][class$="-t"],
*:hover > [class|="anima"][class*="-rever-"][class$="-i"],
*:focus > [class|="anima"][class*="-rever-"][class$="-i"],
*:active > [class|="anima"][class*="-rever-"][class$="-i"],
[class|="anima"][class*="-rever-"][class$="-o"]:hover,
[class|="anima"][class*="-rever-"][class$="-o"]:focus,
[class|="anima"][class*="-rever-"][class$="-o"]:active,
[class|="anima"][class*="-rever-"][class$="-g"] > *,
[class|="anima"][class*="-rever-"][class$="-t"]:hover > *,
[class|="anima"][class*="-rever-"][class$="-t"]:focus > *,
[class|="anima"][class*="-rever-"][class$="-t"]:active > *,
[class|="anima"][class*="-rever-"][class$="-f"] > *:hover,
[class|="anima"][class*="-rever-"][class$="-f"] > *:focus,
[class|="anima"][class*="-rever-"][class$="-f"] > *:active {
  animation-direction: reverse;
}

[class|="anima"][class*="-altrev-"][class$="-d"],
[class|="anima"][class*="-altrev-"][class$="-r"]:checked ~ [class|="anima"][class*="-altrev-"][class$="-t"],
*:hover > [class|="anima"][class*="-altrev-"][class$="-i"],
*:focus > [class|="anima"][class*="-altrev-"][class$="-i"],
*:active > [class|="anima"][class*="-altrev-"][class$="-i"],
[class|="anima"][class*="-altrev-"][class$="-o"]:hover,
[class|="anima"][class*="-altrev-"][class$="-o"]:focus,
[class|="anima"][class*="-altrev-"][class$="-o"]:active,
[class|="anima"][class*="-altrev-"][class$="-g"] > *,
[class|="anima"][class*="-altrev-"][class$="-t"]:hover > *,
[class|="anima"][class*="-altrev-"][class$="-t"]:focus > *,
[class|="anima"][class*="-altrev-"][class$="-t"]:active > *,
[class|="anima"][class*="-altrev-"][class$="-f"] > *:hover,
[class|="anima"][class*="-altrev-"][class$="-f"] > *:focus,
[class|="anima"][class*="-altrev-"][class$="-f"] > *:active {
  animation-direction: alternate-reverse;
}

/***** Delay *****/
[class|="anima"][class*="-small-"][class$="-d"],
[class|="anima"][class*="-small-"][class$="-r"]:checked ~ [class|="anima"][class*="-small-"][class$="-t"],
*:hover > [class|="anima"][class*="-small-"][class$="-i"],
*:focus > [class|="anima"][class*="-small-"][class$="-i"],
*:active > [class|="anima"][class*="-small-"][class$="-i"],
[class|="anima"][class*="-small-"][class$="-o"]:hover,
[class|="anima"][class*="-small-"][class$="-o"]:focus,
[class|="anima"][class*="-small-"][class$="-o"]:active,
[class|="anima"][class*="-small-"][class$="-g"] > *,
[class|="anima"][class*="-small-"][class$="-t"]:hover > *,
[class|="anima"][class*="-small-"][class$="-t"]:focus > *,
[class|="anima"][class*="-small-"][class$="-t"]:active > *,
[class|="anima"][class*="-small-"][class$="-f"] > *:hover,
[class|="anima"][class*="-small-"][class$="-f"] > *:focus,
[class|="anima"][class*="-small-"][class$="-f"] > *:active {
  animation-delay: var(--anima-delay-small);
}

[class|="anima"][class*="-medium-"][class$="-d"],
[class|="anima"][class*="-medium-"][class$="-r"]:checked ~ [class|="anima"][class*="-medium-"][class$="-t"],
*:hover > [class|="anima"][class*="-medium-"][class$="-i"],
*:focus > [class|="anima"][class*="-medium-"][class$="-i"],
*:active > [class|="anima"][class*="-medium-"][class$="-i"],
[class|="anima"][class*="-medium-"][class$="-o"]:hover,
[class|="anima"][class*="-medium-"][class$="-o"]:focus,
[class|="anima"][class*="-medium-"][class$="-o"]:active,
[class|="anima"][class*="-medium-"][class$="-g"] > *,
[class|="anima"][class*="-medium-"][class$="-t"]:hover > *,
[class|="anima"][class*="-medium-"][class$="-t"]:focus > *,
[class|="anima"][class*="-medium-"][class$="-t"]:active > *,
[class|="anima"][class*="-medium-"][class$="-f"] > *:hover,
[class|="anima"][class*="-medium-"][class$="-f"] > *:focus,
[class|="anima"][class*="-medium-"][class$="-f"] > *:active {
  animation-delay: var(--anima-delay-medium);
}

[class|="anima"][class*="-large-"][class$="-d"],
[class|="anima"][class*="-large-"][class$="-r"]:checked ~ [class|="anima"][class*="-large-"][class$="-t"],
*:hover > [class|="anima"][class*="-large-"][class$="-i"],
*:focus > [class|="anima"][class*="-large-"][class$="-i"],
*:active > [class|="anima"][class*="-large-"][class$="-i"],
[class|="anima"][class*="-large-"][class$="-o"]:hover,
[class|="anima"][class*="-large-"][class$="-o"]:focus,
[class|="anima"][class*="-large-"][class$="-o"]:active,
[class|="anima"][class*="-large-"][class$="-g"] > *,
[class|="anima"][class*="-large-"][class$="-t"]:hover > *,
[class|="anima"][class*="-large-"][class$="-t"]:focus > *,
[class|="anima"][class*="-large-"][class$="-t"]:active > *,
[class|="anima"][class*="-large-"][class$="-f"] > *:hover,
[class|="anima"][class*="-large-"][class$="-f"] > *:focus,
[class|="anima"][class*="-large-"][class$="-f"] > *:active {
  animation-delay: var(--anima-delay-large);
}

/***** Fill Mode *****/
[class|="anima"][class*="-back-"][class$="-d"],
[class|="anima"][class*="-back-"][class$="-r"]:checked ~ [class|="anima"][class*="-back-"][class$="-t"],
*:hover > [class|="anima"][class*="-back-"][class$="-i"],
*:focus > [class|="anima"][class*="-back-"][class$="-i"],
*:active > [class|="anima"][class*="-back-"][class$="-i"],
[class|="anima"][class*="-back-"][class$="-o"]:hover,
[class|="anima"][class*="-back-"][class$="-o"]:focus,
[class|="anima"][class*="-back-"][class$="-o"]:active,
[class|="anima"][class*="-back-"][class$="-g"] > *,
[class|="anima"][class*="-back-"][class$="-t"]:hover > *,
[class|="anima"][class*="-back-"][class$="-t"]:focus > *,
[class|="anima"][class*="-back-"][class$="-t"]:active > *,
[class|="anima"][class*="-back-"][class$="-f"] > *:hover,
[class|="anima"][class*="-back-"][class$="-f"] > *:focus,
[class|="anima"][class*="-back-"][class$="-f"] > *:active {
  animation-fill-mode: backwards;
}

[class|="anima"][class*="-front-"][class$="-d"],
[class|="anima"][class*="-front-"][class$="-r"]:checked ~ [class|="anima"][class*="-front-"][class$="-t"],
*:hover > [class|="anima"][class*="-front-"][class$="-i"],
*:focus > [class|="anima"][class*="-front-"][class$="-i"],
*:active > [class|="anima"][class*="-front-"][class$="-i"],
[class|="anima"][class*="-front-"][class$="-o"]:hover,
[class|="anima"][class*="-front-"][class$="-o"]:focus,
[class|="anima"][class*="-front-"][class$="-o"]:active,
[class|="anima"][class*="-front-"][class$="-g"] > *,
[class|="anima"][class*="-front-"][class$="-t"]:hover > *,
[class|="anima"][class*="-front-"][class$="-t"]:focus > *,
[class|="anima"][class*="-front-"][class$="-t"]:active > *,
[class|="anima"][class*="-front-"][class$="-f"] > *:hover,
[class|="anima"][class*="-front-"][class$="-f"] > *:focus,
[class|="anima"][class*="-front-"][class$="-f"] > *:active {
  animation-fill-mode: forwards;
}

/***** Origin *****/
[class|="anima"][class*="-far-"][class$="-d"],
[class|="anima"][class*="-far-"][class$="-r"]:checked ~ [class|="anima"][class*="-far-"][class$="-t"],
*:hover > [class|="anima"][class*="-far-"][class$="-i"],
*:focus > [class|="anima"][class*="-far-"][class$="-i"],
*:active > [class|="anima"][class*="-far-"][class$="-i"],
[class|="anima"][class*="-far-"][class$="-o"]:hover,
[class|="anima"][class*="-far-"][class$="-o"]:focus,
[class|="anima"][class*="-far-"][class$="-o"]:active,
[class|="anima"][class*="-far-"][class$="-g"] > *,
[class|="anima"][class*="-far-"][class$="-t"]:hover > *,
[class|="anima"][class*="-far-"][class$="-t"]:focus > *,
[class|="anima"][class*="-far-"][class$="-t"]:active > *,
[class|="anima"][class*="-far-"][class$="-f"] > *:hover,
[class|="anima"][class*="-far-"][class$="-f"] > *:focus,
[class|="anima"][class*="-far-"][class$="-f"] > *:active {
  transform-origin: var(--transform-origin-far);
}

[class|="anima"][class*="-near-"][class$="-d"],
[class|="anima"][class*="-near-"][class$="-r"]:checked ~ [class|="anima"][class*="-near-"][class$="-t"],
*:hover > [class|="anima"][class*="-near-"][class$="-i"],
*:focus > [class|="anima"][class*="-near-"][class$="-i"],
*:active > [class|="anima"][class*="-near-"][class$="-i"],
[class|="anima"][class*="-near-"][class$="-o"]:hover,
[class|="anima"][class*="-near-"][class$="-o"]:focus,
[class|="anima"][class*="-near-"][class$="-o"]:active,
[class|="anima"][class*="-near-"][class$="-g"] > *,
[class|="anima"][class*="-near-"][class$="-t"]:hover > *,
[class|="anima"][class*="-near-"][class$="-t"]:focus > *,
[class|="anima"][class*="-near-"][class$="-t"]:active > *,
[class|="anima"][class*="-near-"][class$="-f"] > *:hover,
[class|="anima"][class*="-near-"][class$="-f"] > *:focus,
[class|="anima"][class*="-near-"][class$="-f"] > *:active {
  transform-origin: var(--transform-origin-near);
}
