/***************************/
/********** ANIMA **********/

/*
1. Variables
2. Name
3. Duration
4. Timing Function
5. Iteration Count
6. Direction
7. Delay
8. Fill Mode
9. Origin
*/


/***** Variables *****/
[class="anima"] {
    --anima-duration-tn: 1s;
    --anima-duration-sm: 2s;
    --anima-duration-md: 5s;
    --anima-duration-lg: 10s;
    --anima-duration-wd: 60s;

    --anima-timing-ease: ease-in-out;
    --anima-timing-steps: 60, start;
    --anima-timing-bezier: 1, 5, 1, -5;

    --anima-count-few: 2;
    --anima-count-many: 5;

    --anima-delay-small: 1s;
    --anima-delay-medium: 2s;
    --anima-delay-large: 3s;

    --transform-origin-near: 50px 50px;
    --transform-origin-far: top right 50px;
}


/***** Name *****/
[class*="anima"][class*="tio"][class*="rotA"],
[class*="anima"][class*="dio"][class*="rotA"]:checked ~ [class*="anima"][class*="target"][class*="rotA"],
*:hover > [class*="anima"][class*="into"][class*="rotA"],
*:focus > [class*="anima"][class*="into"][class*="rotA"],
*:active > [class*="anima"][class*="into"][class*="rotA"],
[class*="anima"][class*="onto"][class*="rotA"]:hover,
[class*="anima"][class*="onto"][class*="rotA"]:focus,
[class*="anima"][class*="onto"][class*="rotA"]:active,
[class*="anima"][class*="toall"][class*="rotA"] > *,
[class*="anima"][class*="forall"][class*="rotA"]:hover > *,
[class*="anima"][class*="forall"][class*="rotA"]:focus > *,
[class*="anima"][class*="forall"][class*="rotA"]:active > *,
[class*="anima"][class*="fromall"][class*="rotA"] > *:hover,
[class*="anima"][class*="fromall"][class*="rotA"] > *:focus,
[class*="anima"][class*="fromall"][class*="rotA"] > *:active {
    animation-name: rotate;
}

[class*="anima"][class*="tio"][class*="rotX"],
[class*="anima"][class*="dio"][class*="rotX"]:checked ~ [class*="anima"][class*="target"][class*="rotX"],
*:hover > [class*="anima"][class*="into"][class*="rotX"],
*:focus > [class*="anima"][class*="into"][class*="rotX"],
*:active > [class*="anima"][class*="into"][class*="rotX"],
[class*="anima"][class*="onto"][class*="rotX"]:hover,
[class*="anima"][class*="onto"][class*="rotX"]:focus,
[class*="anima"][class*="onto"][class*="rotX"]:active,
[class*="anima"][class*="toall"][class*="rotX"] > *,
[class*="anima"][class*="forall"][class*="rotX"]:hover > *,
[class*="anima"][class*="forall"][class*="rotX"]:focus > *,
[class*="anima"][class*="forall"][class*="rotX"]:active > *,
[class*="anima"][class*="fromall"][class*="rotX"] > *:hover,
[class*="anima"][class*="fromall"][class*="rotX"] > *:focus,
[class*="anima"][class*="fromall"][class*="rotX"] > *:active {
    animation-name: rotateX;
}

[class*="anima"][class*="tio"][class*="rotY"],
[class*="anima"][class*="dio"][class*="rotY"]:checked ~ [class*="anima"][class*="target"][class*="rotY"],
*:hover > [class*="anima"][class*="into"][class*="rotY"],
*:focus > [class*="anima"][class*="into"][class*="rotY"],
*:active > [class*="anima"][class*="into"][class*="rotY"],
[class*="anima"][class*="onto"][class*="rotY"]:hover,
[class*="anima"][class*="onto"][class*="rotY"]:focus,
[class*="anima"][class*="onto"][class*="rotY"]:active,
[class*="anima"][class*="toall"][class*="rotY"] > *,
[class*="anima"][class*="forall"][class*="rotY"]:hover > *,
[class*="anima"][class*="forall"][class*="rotY"]:focus > *,
[class*="anima"][class*="forall"][class*="rotY"]:active > *,
[class*="anima"][class*="fromall"][class*="rotY"] > *:hover,
[class*="anima"][class*="fromall"][class*="rotY"] > *:focus,
[class*="anima"][class*="fromall"][class*="rotY"] > *:active {
    animation-name: rotateY;
}

[class*="anima"][class*="tio"][class*="scaL"],
[class*="anima"][class*="dio"][class*="scaL"]:checked ~ [class*="anima"][class*="target"][class*="scaL"],
*:hover > [class*="anima"][class*="into"][class*="scaL"],
*:focus > [class*="anima"][class*="into"][class*="scaL"],
*:active > [class*="anima"][class*="into"][class*="scaL"],
[class*="anima"][class*="onto"][class*="scaL"]:hover,
[class*="anima"][class*="onto"][class*="scaL"]:focus,
[class*="anima"][class*="onto"][class*="scaL"]:active,
[class*="anima"][class*="toall"][class*="scaL"] > *,
[class*="anima"][class*="forall"][class*="scaL"]:hover > *,
[class*="anima"][class*="forall"][class*="scaL"]:focus > *,
[class*="anima"][class*="forall"][class*="scaL"]:active > *,
[class*="anima"][class*="fromall"][class*="scaL"] > *:hover,
[class*="anima"][class*="fromall"][class*="scaL"] > *:focus,
[class*="anima"][class*="fromall"][class*="scaL"] > *:active {
    animation-name: scale;
}

[class*="anima"][class*="tio"][class*="scaX"],
[class*="anima"][class*="dio"][class*="scaX"]:checked ~ [class*="anima"][class*="target"][class*="scaX"],
*:hover > [class*="anima"][class*="into"][class*="scaX"],
*:focus > [class*="anima"][class*="into"][class*="scaX"],
*:active > [class*="anima"][class*="into"][class*="scaX"],
[class*="anima"][class*="onto"][class*="scaX"]:hover,
[class*="anima"][class*="onto"][class*="scaX"]:focus,
[class*="anima"][class*="onto"][class*="scaX"]:active,
[class*="anima"][class*="toall"][class*="scaX"] > *,
[class*="anima"][class*="forall"][class*="scaX"]:hover > *,
[class*="anima"][class*="forall"][class*="scaX"]:focus > *,
[class*="anima"][class*="forall"][class*="scaX"]:active > *,
[class*="anima"][class*="fromall"][class*="scaX"] > *:hover,
[class*="anima"][class*="fromall"][class*="scaX"] > *:focus,
[class*="anima"][class*="fromall"][class*="scaX"] > *:active {
    animation-name: scaleX;
}

[class*="anima"][class*="tio"][class*="scaY"],
[class*="anima"][class*="dio"][class*="scaY"]:checked ~ [class*="anima"][class*="target"][class*="scaY"],
*:hover > [class*="anima"][class*="into"][class*="scaY"],
*:focus > [class*="anima"][class*="into"][class*="scaY"],
*:active > [class*="anima"][class*="into"][class*="scaY"],
[class*="anima"][class*="onto"][class*="scaY"]:hover,
[class*="anima"][class*="onto"][class*="scaY"]:focus,
[class*="anima"][class*="onto"][class*="scaY"]:active,
[class*="anima"][class*="toall"][class*="scaY"] > *,
[class*="anima"][class*="forall"][class*="scaY"]:hover > *,
[class*="anima"][class*="forall"][class*="scaY"]:focus > *,
[class*="anima"][class*="forall"][class*="scaY"]:active > *,
[class*="anima"][class*="fromall"][class*="scaY"] > *:hover,
[class*="anima"][class*="fromall"][class*="scaY"] > *:focus,
[class*="anima"][class*="fromall"][class*="scaY"] > *:active {
    animation-name: scaleY;
}

[class*="anima"][class*="tio"][class*="skeW"],
[class*="anima"][class*="dio"][class*="skeW"]:checked ~ [class*="anima"][class*="target"][class*="skeW"],
*:hover > [class*="anima"][class*="into"][class*="skeW"],
*:focus > [class*="anima"][class*="into"][class*="skeW"],
*:active > [class*="anima"][class*="into"][class*="skeW"],
[class*="anima"][class*="onto"][class*="skeW"]:hover,
[class*="anima"][class*="onto"][class*="skeW"]:focus,
[class*="anima"][class*="onto"][class*="skeW"]:active,
[class*="anima"][class*="toall"][class*="skeW"] > *,
[class*="anima"][class*="forall"][class*="skeW"]:hover > *,
[class*="anima"][class*="forall"][class*="skeW"]:focus > *,
[class*="anima"][class*="forall"][class*="skeW"]:active > *,
[class*="anima"][class*="fromall"][class*="skeW"] > *:hover,
[class*="anima"][class*="fromall"][class*="skeW"] > *:focus,
[class*="anima"][class*="fromall"][class*="skeW"] > *:active {
    animation-name: skew;
}

[class*="anima"][class*="tio"][class*="skeX"],
[class*="anima"][class*="dio"][class*="skeX"]:checked ~ [class*="anima"][class*="target"][class*="skeX"],
*:hover > [class*="anima"][class*="into"][class*="skeX"],
*:focus > [class*="anima"][class*="into"][class*="skeX"],
*:active > [class*="anima"][class*="into"][class*="skeX"],
[class*="anima"][class*="onto"][class*="skeX"]:hover,
[class*="anima"][class*="onto"][class*="skeX"]:focus,
[class*="anima"][class*="onto"][class*="skeX"]:active,
[class*="anima"][class*="toall"][class*="skeX"] > *,
[class*="anima"][class*="forall"][class*="skeX"]:hover > *,
[class*="anima"][class*="forall"][class*="skeX"]:focus > *,
[class*="anima"][class*="forall"][class*="skeX"]:active > *,
[class*="anima"][class*="fromall"][class*="skeX"] > *:hover,
[class*="anima"][class*="fromall"][class*="skeX"] > *:focus,
[class*="anima"][class*="fromall"][class*="skeX"] > *:active {
animation-name: skewX;
}

[class*="anima"][class*="tio"][class*="skeY"],
[class*="anima"][class*="dio"][class*="skeY"]:checked ~ [class*="anima"][class*="target"][class*="skeY"],
*:hover > [class*="anima"][class*="into"][class*="skeY"],
*:focus > [class*="anima"][class*="into"][class*="skeY"],
*:active > [class*="anima"][class*="into"][class*="skeY"],
[class*="anima"][class*="onto"][class*="skeY"]:hover,
[class*="anima"][class*="onto"][class*="skeY"]:focus,
[class*="anima"][class*="onto"][class*="skeY"]:active,
[class*="anima"][class*="toall"][class*="skeY"] > *,
[class*="anima"][class*="forall"][class*="skeY"]:hover > *,
[class*="anima"][class*="forall"][class*="skeY"]:focus > *,
[class*="anima"][class*="forall"][class*="skeY"]:active > *,
[class*="anima"][class*="fromall"][class*="skeY"] > *:hover,
[class*="anima"][class*="fromall"][class*="skeY"] > *:focus,
[class*="anima"][class*="fromall"][class*="skeY"] > *:active {
animation-name: skewY;
}

[class*="anima"][class*="tio"][class*="traN"],
[class*="anima"][class*="dio"][class*="traN"]:checked ~ [class*="anima"][class*="target"][class*="traN"],
*:hover > [class*="anima"][class*="into"][class*="traN"],
*:focus > [class*="anima"][class*="into"][class*="traN"],
*:active > [class*="anima"][class*="into"][class*="traN"],
[class*="anima"][class*="onto"][class*="traN"]:hover,
[class*="anima"][class*="onto"][class*="traN"]:focus,
[class*="anima"][class*="onto"][class*="traN"]:active,
[class*="anima"][class*="toall"][class*="traN"] > *,
[class*="anima"][class*="forall"][class*="traN"]:hover > *,
[class*="anima"][class*="forall"][class*="traN"]:focus > *,
[class*="anima"][class*="forall"][class*="traN"]:active > *,
[class*="anima"][class*="fromall"][class*="traN"] > *:hover,
[class*="anima"][class*="fromall"][class*="traN"] > *:focus,
[class*="anima"][class*="fromall"][class*="traN"] > *:active {
    animation-name: translate;
}

[class*="anima"][class*="tio"][class*="traX"],
[class*="anima"][class*="dio"][class*="traX"]:checked ~ [class*="anima"][class*="target"][class*="traX"],
*:hover > [class*="anima"][class*="into"][class*="traX"],
*:focus > [class*="anima"][class*="into"][class*="traX"],
*:active > [class*="anima"][class*="into"][class*="traX"],
[class*="anima"][class*="onto"][class*="traX"]:hover,
[class*="anima"][class*="onto"][class*="traX"]:focus,
[class*="anima"][class*="onto"][class*="traX"]:active,
[class*="anima"][class*="toall"][class*="traX"] > *,
[class*="anima"][class*="forall"][class*="traX"]:hover > *,
[class*="anima"][class*="forall"][class*="traX"]:focus > *,
[class*="anima"][class*="forall"][class*="traX"]:active > *,
[class*="anima"][class*="fromall"][class*="traX"] > *:hover,
[class*="anima"][class*="fromall"][class*="traX"] > *:focus,
[class*="anima"][class*="fromall"][class*="traX"] > *:active {
    animation-name: translateX;
}

[class*="anima"][class*="tio"][class*="traY"],
[class*="anima"][class*="dio"][class*="traY"]:checked ~ [class*="anima"][class*="target"][class*="traY"],
*:hover > [class*="anima"][class*="into"][class*="traY"],
*:focus > [class*="anima"][class*="into"][class*="traY"],
*:active > [class*="anima"][class*="into"][class*="traY"],
[class*="anima"][class*="onto"][class*="traY"]:hover,
[class*="anima"][class*="onto"][class*="traY"]:focus,
[class*="anima"][class*="onto"][class*="traY"]:active,
[class*="anima"][class*="toall"][class*="traY"] > *,
[class*="anima"][class*="forall"][class*="traY"]:hover > *,
[class*="anima"][class*="forall"][class*="traY"]:focus > *,
[class*="anima"][class*="forall"][class*="traY"]:active > *,
[class*="anima"][class*="fromall"][class*="traY"] > *:hover,
[class*="anima"][class*="fromall"][class*="traY"] > *:focus,
[class*="anima"][class*="fromall"][class*="traY"] > *:active {
    animation-name: translateY;
}


/***** Duration *****/
[class*="anima"][class*="tio"][class*="tn"],
[class*="anima"][class*="dio"][class*="tn"]:checked ~ [class*="anima"][class*="target"][class*="tn"],
*:hover > [class*="anima"][class*="into"][class*="tn"],
*:focus > [class*="anima"][class*="into"][class*="tn"],
*:active > [class*="anima"][class*="into"][class*="tn"],
[class*="anima"][class*="onto"][class*="tn"]:hover,
[class*="anima"][class*="onto"][class*="tn"]:focus,
[class*="anima"][class*="onto"][class*="tn"]:active,
[class*="anima"][class*="toall"][class*="tn"] > *,
[class*="anima"][class*="forall"][class*="tn"]:hover > *,
[class*="anima"][class*="forall"][class*="tn"]:focus > *,
[class*="anima"][class*="forall"][class*="tn"]:active > *,
[class*="anima"][class*="fromall"][class*="tn"] > *:hover,
[class*="anima"][class*="fromall"][class*="tn"] > *:focus,
[class*="anima"][class*="fromall"][class*="tn"] > *:active {
    animation-duration: var(--anima-duration-tn);
}

[class*="anima"][class*="tio"][class*="sm"],
[class*="anima"][class*="dio"][class*="sm"]:checked ~ [class*="anima"][class*="target"][class*="sm"],
*:hover > [class*="anima"][class*="into"][class*="sm"],
*:focus > [class*="anima"][class*="into"][class*="sm"],
*:active > [class*="anima"][class*="into"][class*="sm"],
[class*="anima"][class*="onto"][class*="sm"]:hover,
[class*="anima"][class*="onto"][class*="sm"]:focus,
[class*="anima"][class*="onto"][class*="sm"]:active,
[class*="anima"][class*="toall"][class*="sm"] > *,
[class*="anima"][class*="forall"][class*="sm"]:hover > *,
[class*="anima"][class*="forall"][class*="sm"]:focus > *,
[class*="anima"][class*="forall"][class*="sm"]:active > *,
[class*="anima"][class*="fromall"][class*="sm"] > *:hover,
[class*="anima"][class*="fromall"][class*="sm"] > *:focus,
[class*="anima"][class*="fromall"][class*="sm"] > *:active {
    animation-duration: var(--anima-duration-sm);
}

[class*="anima"][class*="tio"][class*="md"],
[class*="anima"][class*="dio"][class*="md"]:checked ~ [class*="anima"][class*="target"][class*="md"],
*:hover > [class*="anima"][class*="into"][class*="md"],
*:focus > [class*="anima"][class*="into"][class*="md"],
*:active > [class*="anima"][class*="into"][class*="md"],
[class*="anima"][class*="onto"][class*="md"]:hover,
[class*="anima"][class*="onto"][class*="md"]:focus,
[class*="anima"][class*="onto"][class*="md"]:active,
[class*="anima"][class*="toall"][class*="md"] > *,
[class*="anima"][class*="forall"][class*="md"]:hover > *,
[class*="anima"][class*="forall"][class*="md"]:focus > *,
[class*="anima"][class*="forall"][class*="md"]:active > *,
[class*="anima"][class*="fromall"][class*="md"] > *:hover,
[class*="anima"][class*="fromall"][class*="md"] > *:focus,
[class*="anima"][class*="fromall"][class*="md"] > *:active {
    animation-duration: var(--anima-duration-md);
}

[class*="anima"][class*="tio"][class*="lg"],
[class*="anima"][class*="dio"][class*="lg"]:checked ~ [class*="anima"][class*="target"][class*="lg"],
*:hover > [class*="anima"][class*="into"][class*="lg"],
*:focus > [class*="anima"][class*="into"][class*="lg"],
*:active > [class*="anima"][class*="into"][class*="lg"],
[class*="anima"][class*="onto"][class*="lg"]:hover,
[class*="anima"][class*="onto"][class*="lg"]:focus,
[class*="anima"][class*="onto"][class*="lg"]:active,
[class*="anima"][class*="toall"][class*="lg"] > *,
[class*="anima"][class*="forall"][class*="lg"]:hover > *,
[class*="anima"][class*="forall"][class*="lg"]:focus > *,
[class*="anima"][class*="forall"][class*="lg"]:active > *,
[class*="anima"][class*="fromall"][class*="lg"] > *:hover,
[class*="anima"][class*="fromall"][class*="lg"] > *:focus,
[class*="anima"][class*="fromall"][class*="lg"] > *:active {
    animation-duration: var(--anima-duration-lg);
}

[class*="anima"][class*="tio"][class*="wd"],
[class*="anima"][class*="dio"][class*="wd"]:checked ~ [class*="anima"][class*="target"][class*="wd"],
*:hover > [class*="anima"][class*="into"][class*="wd"],
*:focus > [class*="anima"][class*="into"][class*="wd"],
*:active > [class*="anima"][class*="into"][class*="wd"],
[class*="anima"][class*="onto"][class*="wd"]:hover,
[class*="anima"][class*="onto"][class*="wd"]:focus,
[class*="anima"][class*="onto"][class*="wd"]:active,
[class*="anima"][class*="toall"][class*="wd"] > *,
[class*="anima"][class*="forall"][class*="wd"]:hover > *,
[class*="anima"][class*="forall"][class*="wd"]:focus > *,
[class*="anima"][class*="forall"][class*="wd"]:active > *,
[class*="anima"][class*="fromall"][class*="wd"] > *:hover,
[class*="anima"][class*="fromall"][class*="wd"] > *:focus,
[class*="anima"][class*="fromall"][class*="wd"] > *:active {
    animation-duration: var(--anima-duration-wd);
}


/***** Timing Function *****/
[class*="anima"][class*="tio"][class*="linear"],
[class*="anima"][class*="dio"][class*="linear"]:checked ~ [class*="anima"][class*="target"][class*="linear"],
*:hover > [class*="anima"][class*="into"][class*="linear"],
*:focus > [class*="anima"][class*="into"][class*="linear"],
*:active > [class*="anima"][class*="into"][class*="linear"],
[class*="anima"][class*="onto"][class*="linear"]:hover,
[class*="anima"][class*="onto"][class*="linear"]:focus,
[class*="anima"][class*="onto"][class*="linear"]:active,
[class*="anima"][class*="toall"][class*="linear"] > *,
[class*="anima"][class*="forall"][class*="linear"]:hover > *,
[class*="anima"][class*="forall"][class*="linear"]:focus > *,
[class*="anima"][class*="forall"][class*="linear"]:active > *,
[class*="anima"][class*="fromall"][class*="linear"] > *:hover,
[class*="anima"][class*="fromall"][class*="linear"] > *:focus,
[class*="anima"][class*="fromall"][class*="linear"] > *:active {
    animation-timing-function: linear;
}

[class*="anima"][class*="tio"][class*="ease"],
[class*="anima"][class*="dio"][class*="ease"]:checked ~ [class*="anima"][class*="target"][class*="ease"],
*:hover > [class*="anima"][class*="into"][class*="ease"],
*:focus > [class*="anima"][class*="into"][class*="ease"],
*:active > [class*="anima"][class*="into"][class*="ease"],
[class*="anima"][class*="onto"][class*="ease"]:hover,
[class*="anima"][class*="onto"][class*="ease"]:focus,
[class*="anima"][class*="onto"][class*="ease"]:active,
[class*="anima"][class*="toall"][class*="ease"] > *,
[class*="anima"][class*="forall"][class*="ease"]:hover > *,
[class*="anima"][class*="forall"][class*="ease"]:focus > *,
[class*="anima"][class*="forall"][class*="ease"]:active > *,
[class*="anima"][class*="fromall"][class*="ease"] > *:hover,
[class*="anima"][class*="fromall"][class*="ease"] > *:focus,
[class*="anima"][class*="fromall"][class*="ease"] > *:active {
    animation-timing-function: var(--anima-timing-ease);
}

[class*="anima"][class*="tio"][class*="steps"],
[class*="anima"][class*="dio"][class*="steps"]:checked ~ [class*="anima"][class*="target"][class*="steps"],
*:hover > [class*="anima"][class*="into"][class*="steps"],
*:focus > [class*="anima"][class*="into"][class*="steps"],
*:active > [class*="anima"][class*="into"][class*="steps"],
[class*="anima"][class*="onto"][class*="steps"]:hover,
[class*="anima"][class*="onto"][class*="steps"]:focus,
[class*="anima"][class*="onto"][class*="steps"]:active,
[class*="anima"][class*="toall"][class*="steps"] > *,
[class*="anima"][class*="forall"][class*="steps"]:hover > *,
[class*="anima"][class*="forall"][class*="steps"]:focus > *,
[class*="anima"][class*="forall"][class*="steps"]:active > *,
[class*="anima"][class*="fromall"][class*="steps"] > *:hover,
[class*="anima"][class*="fromall"][class*="steps"] > *:focus,
[class*="anima"][class*="fromall"][class*="steps"] > *:active {
    animation-timing-function: steps(var(--anima-timing-steps));
}

[class*="anima"][class*="tio"][class*="bezier"],
[class*="anima"][class*="dio"][class*="bezier"]:checked ~ [class*="anima"][class*="target"][class*="bezier"],
*:hover > [class*="anima"][class*="into"][class*="bezier"],
*:focus > [class*="anima"][class*="into"][class*="bezier"],
*:active > [class*="anima"][class*="into"][class*="bezier"],
[class*="anima"][class*="onto"][class*="bezier"]:hover,
[class*="anima"][class*="onto"][class*="bezier"]:focus,
[class*="anima"][class*="onto"][class*="bezier"]:active,
[class*="anima"][class*="toall"][class*="bezier"] > *,
[class*="anima"][class*="forall"][class*="bezier"]:hover > *,
[class*="anima"][class*="forall"][class*="bezier"]:focus > *,
[class*="anima"][class*="forall"][class*="bezier"]:active > *,
[class*="anima"][class*="fromall"][class*="bezier"] > *:hover,
[class*="anima"][class*="fromall"][class*="bezier"] > *:focus,
[class*="anima"][class*="fromall"][class*="bezier"] > *:active {
    animation-timing-function: cubic-bezier(var(--anima-timing-bezier));
}


/***** Iteration Count *****/
[class*="animate-"][class*="few"]:hover,
[class*="animate-"][class*="few"]:focus,
[class*="animate-"][class*="few"]:active,
*:hover > [class*="animated-"][class*="few"],
*:focus > [class*="animated-"][class*="few"],
*:active > [class*="animated-"][class*="few"],
[class*="radio-"][class*="few"]:checked ~ [class*="target-"][class*="few"],
[class*="show-"][class*="few"],
[class*="shown-"][class*="few"] > * {
    animation-iteration-count: var(--anima-count-few);
}

[class*="animate-"][class*="many"]:hover,
[class*="animate-"][class*="many"]:focus,
[class*="animate-"][class*="many"]:active,
*:hover > [class*="animated-"][class*="many"],
*:focus > [class*="animated-"][class*="many"],
*:active > [class*="animated-"][class*="many"],
[class*="radio-"][class*="many"]:checked ~ [class*="target-"][class*="many"],
[class*="show-"][class*="many"],
[class*="shown-"][class*="many"] > * {
    animation-iteration-count: var(--anima-count-many);
}

[class*="animate-"][class*="loop"]:hover,
[class*="animate-"][class*="loop"]:focus,
[class*="animate-"][class*="loop"]:active,
*:hover > [class*="animated-"][class*="loop"],
*:focus > [class*="animated-"][class*="loop"],
*:active > [class*="animated-"][class*="loop"],
[class*="radio-"][class*="loop"]:checked ~ [class*="target-"][class*="loop"],
[class*="show-"][class*="loop"],
[class*="shown-"][class*="loop"] > * {
    animation-iteration-count: infinite;
}


/***** Direction *****/
[class*="anima"][class*="tio"][class*="alter"],
[class*="anima"][class*="dio"][class*="alter"]:checked ~ [class*="anima"][class*="target"][class*="alter"],
*:hover > [class*="anima"][class*="into"][class*="alter"],
*:focus > [class*="anima"][class*="into"][class*="alter"],
*:active > [class*="anima"][class*="into"][class*="alter"],
[class*="anima"][class*="onto"][class*="alter"]:hover,
[class*="anima"][class*="onto"][class*="alter"]:focus,
[class*="anima"][class*="onto"][class*="alter"]:active,
[class*="anima"][class*="toall"][class*="alter"] > *,
[class*="anima"][class*="forall"][class*="alter"]:hover > *,
[class*="anima"][class*="forall"][class*="alter"]:focus > *,
[class*="anima"][class*="forall"][class*="alter"]:active > *,
[class*="anima"][class*="fromall"][class*="alter"] > *:hover,
[class*="anima"][class*="fromall"][class*="alter"] > *:focus,
[class*="anima"][class*="fromall"][class*="alter"] > *:active {
    animation-direction: alternate;
}

[class*="anima"][class*="tio"][class*="rever"],
[class*="anima"][class*="dio"][class*="rever"]:checked ~ [class*="anima"][class*="target"][class*="rever"],
*:hover > [class*="anima"][class*="into"][class*="rever"],
*:focus > [class*="anima"][class*="into"][class*="rever"],
*:active > [class*="anima"][class*="into"][class*="rever"],
[class*="anima"][class*="onto"][class*="rever"]:hover,
[class*="anima"][class*="onto"][class*="rever"]:focus,
[class*="anima"][class*="onto"][class*="rever"]:active,
[class*="anima"][class*="toall"][class*="rever"] > *,
[class*="anima"][class*="forall"][class*="rever"]:hover > *,
[class*="anima"][class*="forall"][class*="rever"]:focus > *,
[class*="anima"][class*="forall"][class*="rever"]:active > *,
[class*="anima"][class*="fromall"][class*="rever"] > *:hover,
[class*="anima"][class*="fromall"][class*="rever"] > *:focus,
[class*="anima"][class*="fromall"][class*="rever"] > *:active {
    animation-direction: reverse;
}

[class*="anima"][class*="tio"][class*="altrev"],
[class*="anima"][class*="dio"][class*="altrev"]:checked ~ [class*="anima"][class*="target"][class*="altrev"],
*:hover > [class*="anima"][class*="into"][class*="altrev"],
*:focus > [class*="anima"][class*="into"][class*="altrev"],
*:active > [class*="anima"][class*="into"][class*="altrev"],
[class*="anima"][class*="onto"][class*="altrev"]:hover,
[class*="anima"][class*="onto"][class*="altrev"]:focus,
[class*="anima"][class*="onto"][class*="altrev"]:active,
[class*="anima"][class*="toall"][class*="altrev"] > *,
[class*="anima"][class*="forall"][class*="altrev"]:hover > *,
[class*="anima"][class*="forall"][class*="altrev"]:focus > *,
[class*="anima"][class*="forall"][class*="altrev"]:active > *,
[class*="anima"][class*="fromall"][class*="altrev"] > *:hover,
[class*="anima"][class*="fromall"][class*="altrev"] > *:focus,
[class*="anima"][class*="fromall"][class*="altrev"] > *:active {
    animation-direction: alternate-reverse;
}


/***** Delay *****/
[class*="anima"][class*="tio"][class*="small"],
[class*="anima"][class*="dio"][class*="small"]:checked ~ [class*="anima"][class*="target"][class*="small"],
*:hover > [class*="anima"][class*="into"][class*="small"],
*:focus > [class*="anima"][class*="into"][class*="small"],
*:active > [class*="anima"][class*="into"][class*="small"],
[class*="anima"][class*="onto"][class*="small"]:hover,
[class*="anima"][class*="onto"][class*="small"]:focus,
[class*="anima"][class*="onto"][class*="small"]:active,
[class*="anima"][class*="toall"][class*="small"] > *,
[class*="anima"][class*="forall"][class*="small"]:hover > *,
[class*="anima"][class*="forall"][class*="small"]:focus > *,
[class*="anima"][class*="forall"][class*="small"]:active > *,
[class*="anima"][class*="fromall"][class*="small"] > *:hover,
[class*="anima"][class*="fromall"][class*="small"] > *:focus,
[class*="anima"][class*="fromall"][class*="small"] > *:active {
    animation-delay: var(--anima-delay-small);
}

[class*="anima"][class*="tio"][class*="medium"],
[class*="anima"][class*="dio"][class*="medium"]:checked ~ [class*="anima"][class*="target"][class*="medium"],
*:hover > [class*="anima"][class*="into"][class*="medium"],
*:focus > [class*="anima"][class*="into"][class*="medium"],
*:active > [class*="anima"][class*="into"][class*="medium"],
[class*="anima"][class*="onto"][class*="medium"]:hover,
[class*="anima"][class*="onto"][class*="medium"]:focus,
[class*="anima"][class*="onto"][class*="medium"]:active,
[class*="anima"][class*="toall"][class*="medium"] > *,
[class*="anima"][class*="forall"][class*="medium"]:hover > *,
[class*="anima"][class*="forall"][class*="medium"]:focus > *,
[class*="anima"][class*="forall"][class*="medium"]:active > *,
[class*="anima"][class*="fromall"][class*="medium"] > *:hover,
[class*="anima"][class*="fromall"][class*="medium"] > *:focus,
[class*="anima"][class*="fromall"][class*="medium"] > *:active {
    animation-delay: var(--anima-delay-medium);
}

[class*="anima"][class*="tio"][class*="large"],
[class*="anima"][class*="dio"][class*="large"]:checked ~ [class*="anima"][class*="target"][class*="large"],
*:hover > [class*="anima"][class*="into"][class*="large"],
*:focus > [class*="anima"][class*="into"][class*="large"],
*:active > [class*="anima"][class*="into"][class*="large"],
[class*="anima"][class*="onto"][class*="large"]:hover,
[class*="anima"][class*="onto"][class*="large"]:focus,
[class*="anima"][class*="onto"][class*="large"]:active,
[class*="anima"][class*="toall"][class*="large"] > *,
[class*="anima"][class*="forall"][class*="large"]:hover > *,
[class*="anima"][class*="forall"][class*="large"]:focus > *,
[class*="anima"][class*="forall"][class*="large"]:active > *,
[class*="anima"][class*="fromall"][class*="large"] > *:hover,
[class*="anima"][class*="fromall"][class*="large"] > *:focus,
[class*="anima"][class*="fromall"][class*="large"] > *:active {
    animation-delay: var(--anima-delay-large);
}


/***** Fill Mode *****/
[class*="anima"][class*="tio"][class*="back"],
[class*="anima"][class*="dio"][class*="back"]:checked ~ [class*="anima"][class*="target"][class*="back"],
*:hover > [class*="anima"][class*="into"][class*="back"],
*:focus > [class*="anima"][class*="into"][class*="back"],
*:active > [class*="anima"][class*="into"][class*="back"],
[class*="anima"][class*="onto"][class*="back"]:hover,
[class*="anima"][class*="onto"][class*="back"]:focus,
[class*="anima"][class*="onto"][class*="back"]:active,
[class*="anima"][class*="toall"][class*="back"] > *,
[class*="anima"][class*="forall"][class*="back"]:hover > *,
[class*="anima"][class*="forall"][class*="back"]:focus > *,
[class*="anima"][class*="forall"][class*="back"]:active > *,
[class*="anima"][class*="fromall"][class*="back"] > *:hover,
[class*="anima"][class*="fromall"][class*="back"] > *:focus,
[class*="anima"][class*="fromall"][class*="back"] > *:active {
    animation-fill-mode: backwards;
}

[class*="anima"][class*="tio"][class*="front"],
[class*="anima"][class*="dio"][class*="front"]:checked ~ [class*="anima"][class*="target"][class*="front"],
*:hover > [class*="anima"][class*="into"][class*="front"],
*:focus > [class*="anima"][class*="into"][class*="front"],
*:active > [class*="anima"][class*="into"][class*="front"],
[class*="anima"][class*="onto"][class*="front"]:hover,
[class*="anima"][class*="onto"][class*="front"]:focus,
[class*="anima"][class*="onto"][class*="front"]:active,
[class*="anima"][class*="toall"][class*="front"] > *,
[class*="anima"][class*="forall"][class*="front"]:hover > *,
[class*="anima"][class*="forall"][class*="front"]:focus > *,
[class*="anima"][class*="forall"][class*="front"]:active > *,
[class*="anima"][class*="fromall"][class*="front"] > *:hover,
[class*="anima"][class*="fromall"][class*="front"] > *:focus,
[class*="anima"][class*="fromall"][class*="front"] > *:active {
    animation-fill-mode: forwards;
}


/***** Origin *****/
[class*="anima"][class*="tio"][class*="far"],
[class*="anima"][class*="dio"][class*="far"]:checked ~ [class*="anima"][class*="target"][class*="far"],
*:hover > [class*="anima"][class*="into"][class*="far"],
*:focus > [class*="anima"][class*="into"][class*="far"],
*:active > [class*="anima"][class*="into"][class*="far"],
[class*="anima"][class*="onto"][class*="far"]:hover,
[class*="anima"][class*="onto"][class*="far"]:focus,
[class*="anima"][class*="onto"][class*="far"]:active,
[class*="anima"][class*="toall"][class*="far"] > *,
[class*="anima"][class*="forall"][class*="far"]:hover > *,
[class*="anima"][class*="forall"][class*="far"]:focus > *,
[class*="anima"][class*="forall"][class*="far"]:active > *,
[class*="anima"][class*="fromall"][class*="far"] > *:hover,
[class*="anima"][class*="fromall"][class*="far"] > *:focus,
[class*="anima"][class*="fromall"][class*="far"] > *:active {
    transform-origin: var(--transform-origin-far);
}

[class*="anima"][class*="tio"][class*="near"],
[class*="anima"][class*="dio"][class*="near"]:checked ~ [class*="anima"][class*="target"][class*="near"],
*:hover > [class*="anima"][class*="into"][class*="near"],
*:focus > [class*="anima"][class*="into"][class*="near"],
*:active > [class*="anima"][class*="into"][class*="near"],
[class*="anima"][class*="onto"][class*="near"]:hover,
[class*="anima"][class*="onto"][class*="near"]:focus,
[class*="anima"][class*="onto"][class*="near"]:active,
[class*="anima"][class*="toall"][class*="near"] > *,
[class*="anima"][class*="forall"][class*="near"]:hover > *,
[class*="anima"][class*="forall"][class*="near"]:focus > *,
[class*="anima"][class*="forall"][class*="near"]:active > *,
[class*="anima"][class*="fromall"][class*="near"] > *:hover,
[class*="anima"][class*="fromall"][class*="near"] > *:focus,
[class*="anima"][class*="fromall"][class*="near"] > *:active {
    transform-origin: var(--transform-origin-near);
}

