/********** BORD *********/

/*
1. Bord Variables
2. Bord
3. Bord Styles
4. Bord Widths
5. Bord Colors
6. Bord Radius
*/

/***** Bord Variables *****/
[class*="bord"] {
  --bord-global-style: solid;
  --bord-global-width: medium;
  --bord-global-color: black;
  --bord-global-radius: 20px;
  --bord-width-sm: thin;
  --bord-width-md: medium;
  --bord-width-lg: thick;
  --bord-radius-slight: 10px;
  --bord-radius-round: 50px;
  --bord-radius-circle: 50%;
  --bord-radius-ellipse: 50% / 25%;
}

/***** Bord *****/
[class|="bord"][class$="-d"],
[class|="bord"][class$="-r"]:checked ~ [class|="bord"][class$="-t"],
*:hover > [class|="bord"][class$="-i"],
*:focus > [class|="bord"][class$="-i"],
*:active > [class|="bord"][class$="-i"],
[class|="bord"][class$="-o"]:hover,
[class|="bord"][class$="-o"]:focus,
[class|="bord"][class$="-o"]:active,
[class|="bord"][class$="-g"] > *,
[class|="bord"][class$="-t"]:hover > *,
[class|="bord"][class$="-t"]:focus > *,
[class|="bord"][class$="-t"]:active > *,
[class|="bord"][class$="-f"] > *:hover,
[class|="bord"][class$="-f"] > *:focus,
[class|="bord"][class$="-f"] > *:active {
  border-style: var(--bord-global-style);
  border-width: var(--bord-global-width);
  border-color: var(--bord-global-color);
  border-radius: var(--bord-global-radius);
}

/***** Bord Styles *****/
[class|="bord"][class*="-dashed-"][class$="-d"],
[class|="bord"][class*="-dashed-"][class$="-r"]:checked ~ [class|="bord"][class*="-dashed-"][class$="-t"],
*:hover > [class|="bord"][class*="-dashed-"][class$="-i"],
*:focus > [class|="bord"][class*="-dashed-"][class$="-i"],
*:active > [class|="bord"][class*="-dashed-"][class$="-i"],
[class|="bord"][class*="-dashed-"][class$="-o"]:hover,
[class|="bord"][class*="-dashed-"][class$="-o"]:focus,
[class|="bord"][class*="-dashed-"][class$="-o"]:active,
[class|="bord"][class*="-dashed-"][class$="-g"] > *,
[class|="bord"][class*="-dashed-"][class$="-t"]:hover > *,
[class|="bord"][class*="-dashed-"][class$="-t"]:focus > *,
[class|="bord"][class*="-dashed-"][class$="-t"]:active > *,
[class|="bord"][class*="-dashed-"][class$="-f"] > *:hover,
[class|="bord"][class*="-dashed-"][class$="-f"] > *:focus,
[class|="bord"][class*="-dashed-"][class$="-f"] > *:active {
  border-style: dashed;
}

[class|="bord"][class*="-dotted-"][class$="-d"],
[class|="bord"][class*="-dotted-"][class$="-r"]:checked ~ [class|="bord"][class*="-dotted-"][class$="-t"],
*:hover > [class|="bord"][class*="-dotted-"][class$="-i"],
*:focus > [class|="bord"][class*="-dotted-"][class$="-i"],
*:active > [class|="bord"][class*="-dotted-"][class$="-i"],
[class|="bord"][class*="-dotted-"][class$="-o"]:hover,
[class|="bord"][class*="-dotted-"][class$="-o"]:focus,
[class|="bord"][class*="-dotted-"][class$="-o"]:active,
[class|="bord"][class*="-dotted-"][class$="-g"] > *,
[class|="bord"][class*="-dotted-"][class$="-t"]:hover > *,
[class|="bord"][class*="-dotted-"][class$="-t"]:focus > *,
[class|="bord"][class*="-dotted-"][class$="-t"]:active > *,
[class|="bord"][class*="-dotted-"][class$="-f"] > *:hover,
[class|="bord"][class*="-dotted-"][class$="-f"] > *:focus,
[class|="bord"][class*="-dotted-"][class$="-f"] > *:active {
  border-style: dotted;
}

[class|="bord"][class*="-double-"][class$="-d"],
[class|="bord"][class*="-double-"][class$="-r"]:checked ~ [class|="bord"][class*="-double-"][class$="-t"],
*:hover > [class|="bord"][class*="-double-"][class$="-i"],
*:focus > [class|="bord"][class*="-double-"][class$="-i"],
*:active > [class|="bord"][class*="-double-"][class$="-i"],
[class|="bord"][class*="-double-"][class$="-o"]:hover,
[class|="bord"][class*="-double-"][class$="-o"]:focus,
[class|="bord"][class*="-double-"][class$="-o"]:active,
[class|="bord"][class*="-double-"][class$="-g"] > *,
[class|="bord"][class*="-double-"][class$="-t"]:hover > *,
[class|="bord"][class*="-double-"][class$="-t"]:focus > *,
[class|="bord"][class*="-double-"][class$="-t"]:active > *,
[class|="bord"][class*="-double-"][class$="-f"] > *:hover,
[class|="bord"][class*="-double-"][class$="-f"] > *:focus,
[class|="bord"][class*="-double-"][class$="-f"] > *:active {
  border-style: double;
}

[class|="bord"][class*="-groove-"][class$="-d"],
[class|="bord"][class*="-groove-"][class$="-r"]:checked ~ [class|="bord"][class*="-groove-"][class$="-t"],
*:hover > [class|="bord"][class*="-groove-"][class$="-i"],
*:focus > [class|="bord"][class*="-groove-"][class$="-i"],
*:active > [class|="bord"][class*="-groove-"][class$="-i"],
[class|="bord"][class*="-groove-"][class$="-o"]:hover,
[class|="bord"][class*="-groove-"][class$="-o"]:focus,
[class|="bord"][class*="-groove-"][class$="-o"]:active,
[class|="bord"][class*="-groove-"][class$="-g"] > *,
[class|="bord"][class*="-groove-"][class$="-t"]:hover > *,
[class|="bord"][class*="-groove-"][class$="-t"]:focus > *,
[class|="bord"][class*="-groove-"][class$="-t"]:active > *,
[class|="bord"][class*="-groove-"][class$="-f"] > *:hover,
[class|="bord"][class*="-groove-"][class$="-f"] > *:focus,
[class|="bord"][class*="-groove-"][class$="-f"] > *:active {
  border-style: groove;
}

[class|="bord"][class*="-inset-"][class$="-d"],
[class|="bord"][class*="-inset-"][class$="-r"]:checked ~ [class|="bord"][class*="-inset-"][class$="-t"],
*:hover > [class|="bord"][class*="-inset-"][class$="-i"],
*:focus > [class|="bord"][class*="-inset-"][class$="-i"],
*:active > [class|="bord"][class*="-inset-"][class$="-i"],
[class|="bord"][class*="-inset-"][class$="-o"]:hover,
[class|="bord"][class*="-inset-"][class$="-o"]:focus,
[class|="bord"][class*="-inset-"][class$="-o"]:active,
[class|="bord"][class*="-inset-"][class$="-g"] > *,
[class|="bord"][class*="-inset-"][class$="-t"]:hover > *,
[class|="bord"][class*="-inset-"][class$="-t"]:focus > *,
[class|="bord"][class*="-inset-"][class$="-t"]:active > *,
[class|="bord"][class*="-inset-"][class$="-f"] > *:hover,
[class|="bord"][class*="-inset-"][class$="-f"] > *:focus,
[class|="bord"][class*="-inset-"][class$="-f"] > *:active {
  border-style: inset;
}

[class|="bord"][class*="-outset-"][class$="-d"],
[class|="bord"][class*="-outset-"][class$="-r"]:checked ~ [class|="bord"][class*="-outset-"][class$="-t"],
*:hover > [class|="bord"][class*="-outset-"][class$="-i"],
*:focus > [class|="bord"][class*="-outset-"][class$="-i"],
*:active > [class|="bord"][class*="-outset-"][class$="-i"],
[class|="bord"][class*="-outset-"][class$="-o"]:hover,
[class|="bord"][class*="-outset-"][class$="-o"]:focus,
[class|="bord"][class*="-outset-"][class$="-o"]:active,
[class|="bord"][class*="-outset-"][class$="-g"] > *,
[class|="bord"][class*="-outset-"][class$="-t"]:hover > *,
[class|="bord"][class*="-outset-"][class$="-t"]:focus > *,
[class|="bord"][class*="-outset-"][class$="-t"]:active > *,
[class|="bord"][class*="-outset-"][class$="-f"] > *:hover,
[class|="bord"][class*="-outset-"][class$="-f"] > *:focus,
[class|="bord"][class*="-outset-"][class$="-f"] > *:active {
  border-style: outset;
}

[class|="bord"][class*="-ridge-"][class$="-d"],
[class|="bord"][class*="-ridge-"][class$="-r"]:checked ~ [class|="bord"][class*="-ridge-"][class$="-t"],
*:hover > [class|="bord"][class*="-ridge-"][class$="-i"],
*:focus > [class|="bord"][class*="-ridge-"][class$="-i"],
*:active > [class|="bord"][class*="-ridge-"][class$="-i"],
[class|="bord"][class*="-ridge-"][class$="-o"]:hover,
[class|="bord"][class*="-ridge-"][class$="-o"]:focus,
[class|="bord"][class*="-ridge-"][class$="-o"]:active,
[class|="bord"][class*="-ridge-"][class$="-g"] > *,
[class|="bord"][class*="-ridge-"][class$="-t"]:hover > *,
[class|="bord"][class*="-ridge-"][class$="-t"]:focus > *,
[class|="bord"][class*="-ridge-"][class$="-t"]:active > *,
[class|="bord"][class*="-ridge-"][class$="-f"] > *:hover,
[class|="bord"][class*="-ridge-"][class$="-f"] > *:focus,
[class|="bord"][class*="-ridge-"][class$="-f"] > *:active {
  border-style: ridge;
}

[class|="bord"][class*="-solid-"][class$="-d"],
[class|="bord"][class*="-solid-"][class$="-r"]:checked ~ [class|="bord"][class*="-solid-"][class$="-t"],
*:hover > [class|="bord"][class*="-solid-"][class$="-i"],
*:focus > [class|="bord"][class*="-solid-"][class$="-i"],
*:active > [class|="bord"][class*="-solid-"][class$="-i"],
[class|="bord"][class*="-solid-"][class$="-o"]:hover,
[class|="bord"][class*="-solid-"][class$="-o"]:focus,
[class|="bord"][class*="-solid-"][class$="-o"]:active,
[class|="bord"][class*="-solid-"][class$="-g"] > *,
[class|="bord"][class*="-solid-"][class$="-t"]:hover > *,
[class|="bord"][class*="-solid-"][class$="-t"]:focus > *,
[class|="bord"][class*="-solid-"][class$="-t"]:active > *,
[class|="bord"][class*="-solid-"][class$="-f"] > *:hover,
[class|="bord"][class*="-solid-"][class$="-f"] > *:focus,
[class|="bord"][class*="-solid-"][class$="-f"] > *:active {
  border-style: solid;
}

/***** Bord Widths *****/
[class|="bord"][class*="-sm-"][class$="-d"],
[class|="bord"][class*="-sm-"][class$="-r"]:checked ~ [class|="bord"][class*="-sm-"][class$="-t"],
*:hover > [class|="bord"][class*="-sm-"][class$="-i"],
*:focus > [class|="bord"][class*="-sm-"][class$="-i"],
*:active > [class|="bord"][class*="-sm-"][class$="-i"],
[class|="bord"][class*="-sm-"][class$="-o"]:hover,
[class|="bord"][class*="-sm-"][class$="-o"]:focus,
[class|="bord"][class*="-sm-"][class$="-o"]:active,
[class|="bord"][class*="-sm-"][class$="-g"] > *,
[class|="bord"][class*="-sm-"][class$="-t"]:hover > *,
[class|="bord"][class*="-sm-"][class$="-t"]:focus > *,
[class|="bord"][class*="-sm-"][class$="-t"]:active > *,
[class|="bord"][class*="-sm-"][class$="-f"] > *:hover,
[class|="bord"][class*="-sm-"][class$="-f"] > *:focus,
[class|="bord"][class*="-sm-"][class$="-f"] > *:active {
  border-width: var(--bord-width-sm);
}

[class|="bord"][class*="-md-"][class$="-d"],
[class|="bord"][class*="-md-"][class$="-r"]:checked ~ [class|="bord"][class*="-md-"][class$="-t"],
*:hover > [class|="bord"][class*="-md-"][class$="-i"],
*:focus > [class|="bord"][class*="-md-"][class$="-i"],
*:active > [class|="bord"][class*="-md-"][class$="-i"],
[class|="bord"][class*="-md-"][class$="-o"]:hover,
[class|="bord"][class*="-md-"][class$="-o"]:focus,
[class|="bord"][class*="-md-"][class$="-o"]:active,
[class|="bord"][class*="-md-"][class$="-g"] > *,
[class|="bord"][class*="-md-"][class$="-t"]:hover > *,
[class|="bord"][class*="-md-"][class$="-t"]:focus > *,
[class|="bord"][class*="-md-"][class$="-t"]:active > *,
[class|="bord"][class*="-md-"][class$="-f"] > *:hover,
[class|="bord"][class*="-md-"][class$="-f"] > *:focus,
[class|="bord"][class*="-md-"][class$="-f"] > *:active {
  border-width: var(--bord-width-md);
}

[class|="bord"][class*="-lg-"][class$="-d"],
[class|="bord"][class*="-lg-"][class$="-r"]:checked ~ [class|="bord"][class*="-lg-"][class$="-t"],
*:hover > [class|="bord"][class*="-lg-"][class$="-i"],
*:focus > [class|="bord"][class*="-lg-"][class$="-i"],
*:active > [class|="bord"][class*="-lg-"][class$="-i"],
[class|="bord"][class*="-lg-"][class$="-o"]:hover,
[class|="bord"][class*="-lg-"][class$="-o"]:focus,
[class|="bord"][class*="-lg-"][class$="-o"]:active,
[class|="bord"][class*="-lg-"][class$="-g"] > *,
[class|="bord"][class*="-lg-"][class$="-t"]:hover > *,
[class|="bord"][class*="-lg-"][class$="-t"]:focus > *,
[class|="bord"][class*="-lg-"][class$="-t"]:active > *,
[class|="bord"][class*="-lg-"][class$="-f"] > *:hover,
[class|="bord"][class*="-lg-"][class$="-f"] > *:focus,
[class|="bord"][class*="-lg-"][class$="-f"] > *:active {
  border-width: var(--bord-width-lg);
}

/***** Bord Colors *****/
[class|="bord"][class*="-black-"][class$="-d"],
[class|="bord"][class*="-black-"][class$="-r"]:checked ~ [class|="bord"][class*="-black-"][class$="-t"],
*:hover > [class|="bord"][class*="-black-"][class$="-i"],
*:focus > [class|="bord"][class*="-black-"][class$="-i"],
*:active > [class|="bord"][class*="-black-"][class$="-i"],
[class|="bord"][class*="-black-"][class$="-o"]:hover,
[class|="bord"][class*="-black-"][class$="-o"]:focus,
[class|="bord"][class*="-black-"][class$="-o"]:active,
[class|="bord"][class*="-black-"][class$="-g"] > *,
[class|="bord"][class*="-black-"][class$="-t"]:hover > *,
[class|="bord"][class*="-black-"][class$="-t"]:focus > *,
[class|="bord"][class*="-black-"][class$="-t"]:active > *,
[class|="bord"][class*="-black-"][class$="-f"] > *:hover,
[class|="bord"][class*="-black-"][class$="-f"] > *:focus,
[class|="bord"][class*="-black-"][class$="-f"] > *:active {
  border-color: black;
}

[class|="bord"][class*="-blue-"][class$="-d"],
[class|="bord"][class*="-blue-"][class$="-r"]:checked ~ [class|="bord"][class*="-blue-"][class$="-t"],
*:hover > [class|="bord"][class*="-blue-"][class$="-i"],
*:focus > [class|="bord"][class*="-blue-"][class$="-i"],
*:active > [class|="bord"][class*="-blue-"][class$="-i"],
[class|="bord"][class*="-blue-"][class$="-o"]:hover,
[class|="bord"][class*="-blue-"][class$="-o"]:focus,
[class|="bord"][class*="-blue-"][class$="-o"]:active,
[class|="bord"][class*="-blue-"][class$="-g"] > *,
[class|="bord"][class*="-blue-"][class$="-t"]:hover > *,
[class|="bord"][class*="-blue-"][class$="-t"]:focus > *,
[class|="bord"][class*="-blue-"][class$="-t"]:active > *,
[class|="bord"][class*="-blue-"][class$="-f"] > *:hover,
[class|="bord"][class*="-blue-"][class$="-f"] > *:focus,
[class|="bord"][class*="-blue-"][class$="-f"] > *:active {
  border-color: var(--blue);
}

[class|="bord"][class$="-d"][class*="brown"],
[class|="bord"][class$="-r"][class*="brown"]:checked ~ [class|="bord"][class$="-t"][class*="brown"],
*:hover > [class|="bord"][class$="-i"][class*="brown"],
*:focus > [class|="bord"][class$="-i"][class*="brown"],
*:active > [class|="bord"][class$="-i"][class*="brown"],
[class|="bord"][class$="-o"][class*="brown"]:hover,
[class|="bord"][class$="-o"][class*="brown"]:focus,
[class|="bord"][class$="-o"][class*="brown"]:active,
[class|="bord"][class$="-g"][class*="brown"] > *,
[class|="bord"][class$="-t"][class*="brown"]:hover > *,
[class|="bord"][class$="-t"][class*="brown"]:focus > *,
[class|="bord"][class$="-t"][class*="brown"]:active > *,
[class|="bord"][class$="-f"][class*="brown"] > *:hover,
[class|="bord"][class$="-f"][class*="brown"] > *:focus,
[class|="bord"][class$="-f"][class*="brown"] > *:active {
  border-color: var(--brown);
}

[class|="bord"][class*="-gray-"][class$="-d"],
[class|="bord"][class*="-gray-"][class$="-r"]:checked ~ [class|="bord"][class*="-gray-"][class$="-t"],
*:hover > [class|="bord"][class*="-gray-"][class$="-i"],
*:focus > [class|="bord"][class*="-gray-"][class$="-i"],
*:active > [class|="bord"][class*="-gray-"][class$="-i"],
[class|="bord"][class*="-gray-"][class$="-o"]:hover,
[class|="bord"][class*="-gray-"][class$="-o"]:focus,
[class|="bord"][class*="-gray-"][class$="-o"]:active,
[class|="bord"][class*="-gray-"][class$="-g"] > *,
[class|="bord"][class*="-gray-"][class$="-t"]:hover > *,
[class|="bord"][class*="-gray-"][class$="-t"]:focus > *,
[class|="bord"][class*="-gray-"][class$="-t"]:active > *,
[class|="bord"][class*="-gray-"][class$="-f"] > *:hover,
[class|="bord"][class*="-gray-"][class$="-f"] > *:focus,
[class|="bord"][class*="-gray-"][class$="-f"] > *:active {
  border-color: var(--gray);
}

[class|="bord"][class*="-grey-"][class$="-d"],
[class|="bord"][class*="-grey-"][class$="-r"]:checked ~ [class|="bord"][class*="-grey-"][class$="-t"],
*:hover > [class|="bord"][class*="-grey-"][class$="-i"],
*:focus > [class|="bord"][class*="-grey-"][class$="-i"],
*:active > [class|="bord"][class*="-grey-"][class$="-i"],
[class|="bord"][class*="-grey-"][class$="-o"]:hover,
[class|="bord"][class*="-grey-"][class$="-o"]:focus,
[class|="bord"][class*="-grey-"][class$="-o"]:active,
[class|="bord"][class*="-grey-"][class$="-g"] > *,
[class|="bord"][class*="-grey-"][class$="-t"]:hover > *,
[class|="bord"][class*="-grey-"][class$="-t"]:focus > *,
[class|="bord"][class*="-grey-"][class$="-t"]:active > *,
[class|="bord"][class*="-grey-"][class$="-f"] > *:hover,
[class|="bord"][class*="-grey-"][class$="-f"] > *:focus,
[class|="bord"][class*="-grey-"][class$="-f"] > *:active {
  border-color: var(--grey);
}

[class|="bord"][class*="-green-"][class$="-d"],
[class|="bord"][class*="-green-"][class$="-r"]:checked ~ [class|="bord"][class*="-green-"][class$="-t"],
*:hover > [class|="bord"][class*="-green-"][class$="-i"],
*:focus > [class|="bord"][class*="-green-"][class$="-i"],
*:active > [class|="bord"][class*="-green-"][class$="-i"],
[class|="bord"][class*="-green-"][class$="-o"]:hover,
[class|="bord"][class*="-green-"][class$="-o"]:focus,
[class|="bord"][class*="-green-"][class$="-o"]:active,
[class|="bord"][class*="-green-"][class$="-g"] > *,
[class|="bord"][class*="-green-"][class$="-t"]:hover > *,
[class|="bord"][class*="-green-"][class$="-t"]:focus > *,
[class|="bord"][class*="-green-"][class$="-t"]:active > *,
[class|="bord"][class*="-green-"][class$="-f"] > *:hover,
[class|="bord"][class*="-green-"][class$="-f"] > *:focus,
[class|="bord"][class*="-green-"][class$="-f"] > *:active {
  border-color: var(--green);
}

[class|="bord"][class*="-orange-"][class$="-d"],
[class|="bord"][class*="-orange-"][class$="-r"]:checked ~ [class|="bord"][class*="-orange-"][class$="-t"],
*:hover > [class|="bord"][class*="-orange-"][class$="-i"],
*:focus > [class|="bord"][class*="-orange-"][class$="-i"],
*:active > [class|="bord"][class*="-orange-"][class$="-i"],
[class|="bord"][class*="-orange-"][class$="-o"]:hover,
[class|="bord"][class*="-orange-"][class$="-o"]:focus,
[class|="bord"][class*="-orange-"][class$="-o"]:active,
[class|="bord"][class*="-orange-"][class$="-g"] > *,
[class|="bord"][class*="-orange-"][class$="-t"]:hover > *,
[class|="bord"][class*="-orange-"][class$="-t"]:focus > *,
[class|="bord"][class*="-orange-"][class$="-t"]:active > *,
[class|="bord"][class*="-orange-"][class$="-f"] > *:hover,
[class|="bord"][class*="-orange-"][class$="-f"] > *:focus,
[class|="bord"][class*="-orange-"][class$="-f"] > *:active {
  border-color: var(--orange);
}

[class|="bord"][class*="-red-"][class$="-d"],
[class|="bord"][class*="-red-"][class$="-r"]:checked ~ [class|="bord"][class*="-red-"][class$="-t"],
*:hover > [class|="bord"][class*="-red-"][class$="-i"],
*:focus > [class|="bord"][class*="-red-"][class$="-i"],
*:active > [class|="bord"][class*="-red-"][class$="-i"],
[class|="bord"][class*="-red-"][class$="-o"]:hover,
[class|="bord"][class*="-red-"][class$="-o"]:focus,
[class|="bord"][class*="-red-"][class$="-o"]:active,
[class|="bord"][class*="-red-"][class$="-g"] > *,
[class|="bord"][class*="-red-"][class$="-t"]:hover > *,
[class|="bord"][class*="-red-"][class$="-t"]:focus > *,
[class|="bord"][class*="-red-"][class$="-t"]:active > *,
[class|="bord"][class*="-red-"][class$="-f"] > *:hover,
[class|="bord"][class*="-red-"][class$="-f"] > *:focus,
[class|="bord"][class*="-red-"][class$="-f"] > *:active {
  border-color: var(--red);
}

[class|="bord"][class*="-violet-"][class$="-d"],
[class|="bord"][class*="-violet-"][class$="-r"]:checked ~ [class|="bord"][class*="-violet-"][class$="-t"],
*:hover > [class|="bord"][class*="-violet-"][class$="-i"],
*:focus > [class|="bord"][class*="-violet-"][class$="-i"],
*:active > [class|="bord"][class*="-violet-"][class$="-i"],
[class|="bord"][class*="-violet-"][class$="-o"]:hover,
[class|="bord"][class*="-violet-"][class$="-o"]:focus,
[class|="bord"][class*="-violet-"][class$="-o"]:active,
[class|="bord"][class*="-violet-"][class$="-g"] > *,
[class|="bord"][class*="-violet-"][class$="-t"]:hover > *,
[class|="bord"][class*="-violet-"][class$="-t"]:focus > *,
[class|="bord"][class*="-violet-"][class$="-t"]:active > *,
[class|="bord"][class*="-violet-"][class$="-f"] > *:hover,
[class|="bord"][class*="-violet-"][class$="-f"] > *:focus,
[class|="bord"][class*="-violet-"][class$="-f"] > *:active {
  border-color: var(--violet);
}

[class|="bord"][class*="-white-"][class$="-d"],
[class|="bord"][class*="-white-"][class$="-r"]:checked ~ [class|="bord"][class*="-white-"][class$="-t"],
*:hover > [class|="bord"][class*="-white-"][class$="-i"],
*:focus > [class|="bord"][class*="-white-"][class$="-i"],
*:active > [class|="bord"][class*="-white-"][class$="-i"],
[class|="bord"][class*="-white-"][class$="-o"]:hover,
[class|="bord"][class*="-white-"][class$="-o"]:focus,
[class|="bord"][class*="-white-"][class$="-o"]:active,
[class|="bord"][class*="-white-"][class$="-g"] > *,
[class|="bord"][class*="-white-"][class$="-t"]:hover > *,
[class|="bord"][class*="-white-"][class$="-t"]:focus > *,
[class|="bord"][class*="-white-"][class$="-t"]:active > *,
[class|="bord"][class*="-white-"][class$="-f"] > *:hover,
[class|="bord"][class*="-white-"][class$="-f"] > *:focus,
[class|="bord"][class*="-white-"][class$="-f"] > *:active {
  border-color: var(--white);
}

[class|="bord"][class*="-yellow-"][class$="-d"],
[class|="bord"][class*="-yellow-"][class$="-r"]:checked ~ [class|="bord"][class*="-yellow-"][class$="-t"],
*:hover > [class|="bord"][class*="-yellow-"][class$="-i"],
*:focus > [class|="bord"][class*="-yellow-"][class$="-i"],
*:active > [class|="bord"][class*="-yellow-"][class$="-i"],
[class|="bord"][class*="-yellow-"][class$="-o"]:hover,
[class|="bord"][class*="-yellow-"][class$="-o"]:focus,
[class|="bord"][class*="-yellow-"][class$="-o"]:active,
[class|="bord"][class*="-yellow-"][class$="-g"] > *,
[class|="bord"][class*="-yellow-"][class$="-t"]:hover > *,
[class|="bord"][class*="-yellow-"][class$="-t"]:focus > *,
[class|="bord"][class*="-yellow-"][class$="-t"]:active > *,
[class|="bord"][class*="-yellow-"][class$="-f"] > *:hover,
[class|="bord"][class*="-yellow-"][class$="-f"] > *:focus,
[class|="bord"][class*="-yellow-"][class$="-f"] > *:active {
  border-color: var(--yellow);
}

/***** Bord Radius *****/
[class|="bord"][class*="-slight-"][class$="-d"],
[class|="bord"][class*="-slight-"][class$="-r"]:checked ~ [class|="bord"][class*="-slight-"][class$="-t"],
*:hover > [class|="bord"][class*="-slight-"][class$="-i"],
*:focus > [class|="bord"][class*="-slight-"][class$="-i"],
*:active > [class|="bord"][class*="-slight-"][class$="-i"],
[class|="bord"][class*="-slight-"][class$="-o"]:hover,
[class|="bord"][class*="-slight-"][class$="-o"]:focus,
[class|="bord"][class*="-slight-"][class$="-o"]:active,
[class|="bord"][class*="-slight-"][class$="-g"] > *,
[class|="bord"][class*="-slight-"][class$="-t"]:hover > *,
[class|="bord"][class*="-slight-"][class$="-t"]:focus > *,
[class|="bord"][class*="-slight-"][class$="-t"]:active > *,
[class|="bord"][class*="-slight-"][class$="-f"] > *:hover,
[class|="bord"][class*="-slight-"][class$="-f"] > *:focus,
[class|="bord"][class*="-slight-"][class$="-f"] > *:active {
  border-radius: var(--bord-radius-slight);
}

[class|="bord"][class*="-round-"][class$="-d"],
[class|="bord"][class*="-round-"][class$="-r"]:checked ~ [class|="bord"][class*="-round-"][class$="-t"],
*:hover > [class|="bord"][class*="-round-"][class$="-i"],
*:focus > [class|="bord"][class*="-round-"][class$="-i"],
*:active > [class|="bord"][class*="-round-"][class$="-i"],
[class|="bord"][class*="-round-"][class$="-o"]:hover,
[class|="bord"][class*="-round-"][class$="-o"]:focus,
[class|="bord"][class*="-round-"][class$="-o"]:active,
[class|="bord"][class*="-round-"][class$="-g"] > *,
[class|="bord"][class*="-round-"][class$="-t"]:hover > *,
[class|="bord"][class*="-round-"][class$="-t"]:focus > *,
[class|="bord"][class*="-round-"][class$="-t"]:active > *,
[class|="bord"][class*="-round-"][class$="-f"] > *:hover,
[class|="bord"][class*="-round-"][class$="-f"] > *:focus,
[class|="bord"][class*="-round-"][class$="-f"] > *:active {
  border-radius: var(--bord-radius-round);
}

[class|="bord"][class*="-circle-"][class$="-d"],
[class|="bord"][class*="-circle-"][class$="-r"]:checked ~ [class|="bord"][class*="-circle-"][class$="-t"],
*:hover > [class|="bord"][class*="-circle-"][class$="-i"],
*:focus > [class|="bord"][class*="-circle-"][class$="-i"],
*:active > [class|="bord"][class*="-circle-"][class$="-i"],
[class|="bord"][class*="-circle-"][class$="-o"]:hover,
[class|="bord"][class*="-circle-"][class$="-o"]:focus,
[class|="bord"][class*="-circle-"][class$="-o"]:active,
[class|="bord"][class*="-circle-"][class$="-g"] > *,
[class|="bord"][class*="-circle-"][class$="-t"]:hover > *,
[class|="bord"][class*="-circle-"][class$="-t"]:focus > *,
[class|="bord"][class*="-circle-"][class$="-t"]:active > *,
[class|="bord"][class*="-circle-"][class$="-f"] > *:hover,
[class|="bord"][class*="-circle-"][class$="-f"] > *:focus,
[class|="bord"][class*="-circle-"][class$="-f"] > *:active {
  border-radius: var(--bord-radius-circle);
}

[class|="bord"][class*="-ellipse-"][class$="-d"],
[class|="bord"][class*="-ellipse-"][class$="-r"]:checked ~ [class|="bord"][class*="-ellipse-"][class$="-t"],
*:hover > [class|="bord"][class*="-ellipse-"][class$="-i"],
*:focus > [class|="bord"][class*="-ellipse-"][class$="-i"],
*:active > [class|="bord"][class*="-ellipse-"][class$="-i"],
[class|="bord"][class*="-ellipse-"][class$="-o"]:hover,
[class|="bord"][class*="-ellipse-"][class$="-o"]:focus,
[class|="bord"][class*="-ellipse-"][class$="-o"]:active,
[class|="bord"][class*="-ellipse-"][class$="-g"] > *,
[class|="bord"][class*="-ellipse-"][class$="-t"]:hover > *,
[class|="bord"][class*="-ellipse-"][class$="-t"]:focus > *,
[class|="bord"][class*="-ellipse-"][class$="-t"]:active > *,
[class|="bord"][class*="-ellipse-"][class$="-f"] > *:hover,
[class|="bord"][class*="-ellipse-"][class$="-f"] > *:focus,
[class|="bord"][class*="-ellipse-"][class$="-f"] > *:active {
  border-radius: var(--bord-radius-ellipse);
}
