/********** BORD *********/

/*
1. Bord Variables
2. Bord
3. Bord Styles
4. Bord Widths
5. Bord Colors
6. Bord Radius
*/

/***** Bord Variables *****/
[class*="bord"] {
  --bord-global-style: solid;
  --bord-global-width: medium;
  --bord-global-color: black;
  --bord-global-radius: 20px;
  --bord-width-sm: thin;
  --bord-width-md: medium;
  --bord-width-lg: thick;
  --bord-radius-slight: 10px;
  --bord-radius-round: 50px;
  --bord-radius-circle: 50%;
  --bord-radius-ellipse: 50% / 25%;
}

/***** Bord *****/
[class|="bord"][class$="-D"],
[class|="bord"][class$="-R"]:checked ~ [class|="bord"][class$="-T"],
*:hover > [class|="bord"][class$="-I"],
*:focus > [class|="bord"][class$="-I"],
*:active > [class|="bord"][class$="-I"],
[class|="bord"][class$="-O"]:hover,
[class|="bord"][class$="-O"]:focus,
[class|="bord"][class$="-O"]:active,
[class|="bord"][class$="-G"] > *,
[class|="bord"][class$="-T"]:hover > *,
[class|="bord"][class$="-T"]:focus > *,
[class|="bord"][class$="-T"]:active > *,
[class|="bord"][class$="-F"] > *:hover,
[class|="bord"][class$="-F"] > *:focus,
[class|="bord"][class$="-F"] > *:active {
  border-style: var(--bord-global-style);
  border-width: var(--bord-global-width);
  border-color: var(--bord-global-color);
  border-radius: var(--bord-global-radius);
}

/***** Bord Styles *****/
[class|="bord"][class*="-dashed-"][class$="-D"],
[class|="bord"][class*="-dashed-"][class$="-R"]:checked ~ [class|="bord"][class*="-dashed-"][class$="-T"],
*:hover > [class|="bord"][class*="-dashed-"][class$="-I"],
*:focus > [class|="bord"][class*="-dashed-"][class$="-I"],
*:active > [class|="bord"][class*="-dashed-"][class$="-I"],
[class|="bord"][class*="-dashed-"][class$="-O"]:hover,
[class|="bord"][class*="-dashed-"][class$="-O"]:focus,
[class|="bord"][class*="-dashed-"][class$="-O"]:active,
[class|="bord"][class*="-dashed-"][class$="-G"] > *,
[class|="bord"][class*="-dashed-"][class$="-T"]:hover > *,
[class|="bord"][class*="-dashed-"][class$="-T"]:focus > *,
[class|="bord"][class*="-dashed-"][class$="-T"]:active > *,
[class|="bord"][class*="-dashed-"][class$="-F"] > *:hover,
[class|="bord"][class*="-dashed-"][class$="-F"] > *:focus,
[class|="bord"][class*="-dashed-"][class$="-F"] > *:active {
  border-style: dashed;
}

[class|="bord"][class*="-dotted-"][class$="-D"],
[class|="bord"][class*="-dotted-"][class$="-R"]:checked ~ [class|="bord"][class*="-dotted-"][class$="-T"],
*:hover > [class|="bord"][class*="-dotted-"][class$="-I"],
*:focus > [class|="bord"][class*="-dotted-"][class$="-I"],
*:active > [class|="bord"][class*="-dotted-"][class$="-I"],
[class|="bord"][class*="-dotted-"][class$="-O"]:hover,
[class|="bord"][class*="-dotted-"][class$="-O"]:focus,
[class|="bord"][class*="-dotted-"][class$="-O"]:active,
[class|="bord"][class*="-dotted-"][class$="-G"] > *,
[class|="bord"][class*="-dotted-"][class$="-T"]:hover > *,
[class|="bord"][class*="-dotted-"][class$="-T"]:focus > *,
[class|="bord"][class*="-dotted-"][class$="-T"]:active > *,
[class|="bord"][class*="-dotted-"][class$="-F"] > *:hover,
[class|="bord"][class*="-dotted-"][class$="-F"] > *:focus,
[class|="bord"][class*="-dotted-"][class$="-F"] > *:active {
  border-style: dotted;
}

[class|="bord"][class*="-double-"][class$="-D"],
[class|="bord"][class*="-double-"][class$="-R"]:checked ~ [class|="bord"][class*="-double-"][class$="-T"],
*:hover > [class|="bord"][class*="-double-"][class$="-I"],
*:focus > [class|="bord"][class*="-double-"][class$="-I"],
*:active > [class|="bord"][class*="-double-"][class$="-I"],
[class|="bord"][class*="-double-"][class$="-O"]:hover,
[class|="bord"][class*="-double-"][class$="-O"]:focus,
[class|="bord"][class*="-double-"][class$="-O"]:active,
[class|="bord"][class*="-double-"][class$="-G"] > *,
[class|="bord"][class*="-double-"][class$="-T"]:hover > *,
[class|="bord"][class*="-double-"][class$="-T"]:focus > *,
[class|="bord"][class*="-double-"][class$="-T"]:active > *,
[class|="bord"][class*="-double-"][class$="-F"] > *:hover,
[class|="bord"][class*="-double-"][class$="-F"] > *:focus,
[class|="bord"][class*="-double-"][class$="-F"] > *:active {
  border-style: double;
}

[class|="bord"][class*="-groove-"][class$="-D"],
[class|="bord"][class*="-groove-"][class$="-R"]:checked ~ [class|="bord"][class*="-groove-"][class$="-T"],
*:hover > [class|="bord"][class*="-groove-"][class$="-I"],
*:focus > [class|="bord"][class*="-groove-"][class$="-I"],
*:active > [class|="bord"][class*="-groove-"][class$="-I"],
[class|="bord"][class*="-groove-"][class$="-O"]:hover,
[class|="bord"][class*="-groove-"][class$="-O"]:focus,
[class|="bord"][class*="-groove-"][class$="-O"]:active,
[class|="bord"][class*="-groove-"][class$="-G"] > *,
[class|="bord"][class*="-groove-"][class$="-T"]:hover > *,
[class|="bord"][class*="-groove-"][class$="-T"]:focus > *,
[class|="bord"][class*="-groove-"][class$="-T"]:active > *,
[class|="bord"][class*="-groove-"][class$="-F"] > *:hover,
[class|="bord"][class*="-groove-"][class$="-F"] > *:focus,
[class|="bord"][class*="-groove-"][class$="-F"] > *:active {
  border-style: groove;
}

[class|="bord"][class*="-inset-"][class$="-D"],
[class|="bord"][class*="-inset-"][class$="-R"]:checked ~ [class|="bord"][class*="-inset-"][class$="-T"],
*:hover > [class|="bord"][class*="-inset-"][class$="-I"],
*:focus > [class|="bord"][class*="-inset-"][class$="-I"],
*:active > [class|="bord"][class*="-inset-"][class$="-I"],
[class|="bord"][class*="-inset-"][class$="-O"]:hover,
[class|="bord"][class*="-inset-"][class$="-O"]:focus,
[class|="bord"][class*="-inset-"][class$="-O"]:active,
[class|="bord"][class*="-inset-"][class$="-G"] > *,
[class|="bord"][class*="-inset-"][class$="-T"]:hover > *,
[class|="bord"][class*="-inset-"][class$="-T"]:focus > *,
[class|="bord"][class*="-inset-"][class$="-T"]:active > *,
[class|="bord"][class*="-inset-"][class$="-F"] > *:hover,
[class|="bord"][class*="-inset-"][class$="-F"] > *:focus,
[class|="bord"][class*="-inset-"][class$="-F"] > *:active {
  border-style: inset;
}

[class|="bord"][class*="-outset-"][class$="-D"],
[class|="bord"][class*="-outset-"][class$="-R"]:checked ~ [class|="bord"][class*="-outset-"][class$="-T"],
*:hover > [class|="bord"][class*="-outset-"][class$="-I"],
*:focus > [class|="bord"][class*="-outset-"][class$="-I"],
*:active > [class|="bord"][class*="-outset-"][class$="-I"],
[class|="bord"][class*="-outset-"][class$="-O"]:hover,
[class|="bord"][class*="-outset-"][class$="-O"]:focus,
[class|="bord"][class*="-outset-"][class$="-O"]:active,
[class|="bord"][class*="-outset-"][class$="-G"] > *,
[class|="bord"][class*="-outset-"][class$="-T"]:hover > *,
[class|="bord"][class*="-outset-"][class$="-T"]:focus > *,
[class|="bord"][class*="-outset-"][class$="-T"]:active > *,
[class|="bord"][class*="-outset-"][class$="-F"] > *:hover,
[class|="bord"][class*="-outset-"][class$="-F"] > *:focus,
[class|="bord"][class*="-outset-"][class$="-F"] > *:active {
  border-style: outset;
}

[class|="bord"][class*="-ridge-"][class$="-D"],
[class|="bord"][class*="-ridge-"][class$="-R"]:checked ~ [class|="bord"][class*="-ridge-"][class$="-T"],
*:hover > [class|="bord"][class*="-ridge-"][class$="-I"],
*:focus > [class|="bord"][class*="-ridge-"][class$="-I"],
*:active > [class|="bord"][class*="-ridge-"][class$="-I"],
[class|="bord"][class*="-ridge-"][class$="-O"]:hover,
[class|="bord"][class*="-ridge-"][class$="-O"]:focus,
[class|="bord"][class*="-ridge-"][class$="-O"]:active,
[class|="bord"][class*="-ridge-"][class$="-G"] > *,
[class|="bord"][class*="-ridge-"][class$="-T"]:hover > *,
[class|="bord"][class*="-ridge-"][class$="-T"]:focus > *,
[class|="bord"][class*="-ridge-"][class$="-T"]:active > *,
[class|="bord"][class*="-ridge-"][class$="-F"] > *:hover,
[class|="bord"][class*="-ridge-"][class$="-F"] > *:focus,
[class|="bord"][class*="-ridge-"][class$="-F"] > *:active {
  border-style: ridge;
}

[class|="bord"][class*="-solid-"][class$="-D"],
[class|="bord"][class*="-solid-"][class$="-R"]:checked ~ [class|="bord"][class*="-solid-"][class$="-T"],
*:hover > [class|="bord"][class*="-solid-"][class$="-I"],
*:focus > [class|="bord"][class*="-solid-"][class$="-I"],
*:active > [class|="bord"][class*="-solid-"][class$="-I"],
[class|="bord"][class*="-solid-"][class$="-O"]:hover,
[class|="bord"][class*="-solid-"][class$="-O"]:focus,
[class|="bord"][class*="-solid-"][class$="-O"]:active,
[class|="bord"][class*="-solid-"][class$="-G"] > *,
[class|="bord"][class*="-solid-"][class$="-T"]:hover > *,
[class|="bord"][class*="-solid-"][class$="-T"]:focus > *,
[class|="bord"][class*="-solid-"][class$="-T"]:active > *,
[class|="bord"][class*="-solid-"][class$="-F"] > *:hover,
[class|="bord"][class*="-solid-"][class$="-F"] > *:focus,
[class|="bord"][class*="-solid-"][class$="-F"] > *:active {
  border-style: solid;
}

/***** Bord Widths *****/
[class|="bord"][class*="-sm-"][class$="-D"],
[class|="bord"][class*="-sm-"][class$="-R"]:checked ~ [class|="bord"][class*="-sm-"][class$="-T"],
*:hover > [class|="bord"][class*="-sm-"][class$="-I"],
*:focus > [class|="bord"][class*="-sm-"][class$="-I"],
*:active > [class|="bord"][class*="-sm-"][class$="-I"],
[class|="bord"][class*="-sm-"][class$="-O"]:hover,
[class|="bord"][class*="-sm-"][class$="-O"]:focus,
[class|="bord"][class*="-sm-"][class$="-O"]:active,
[class|="bord"][class*="-sm-"][class$="-G"] > *,
[class|="bord"][class*="-sm-"][class$="-T"]:hover > *,
[class|="bord"][class*="-sm-"][class$="-T"]:focus > *,
[class|="bord"][class*="-sm-"][class$="-T"]:active > *,
[class|="bord"][class*="-sm-"][class$="-F"] > *:hover,
[class|="bord"][class*="-sm-"][class$="-F"] > *:focus,
[class|="bord"][class*="-sm-"][class$="-F"] > *:active {
  border-width: var(--bord-width-sm);
}

[class|="bord"][class*="-md-"][class$="-D"],
[class|="bord"][class*="-md-"][class$="-R"]:checked ~ [class|="bord"][class*="-md-"][class$="-T"],
*:hover > [class|="bord"][class*="-md-"][class$="-I"],
*:focus > [class|="bord"][class*="-md-"][class$="-I"],
*:active > [class|="bord"][class*="-md-"][class$="-I"],
[class|="bord"][class*="-md-"][class$="-O"]:hover,
[class|="bord"][class*="-md-"][class$="-O"]:focus,
[class|="bord"][class*="-md-"][class$="-O"]:active,
[class|="bord"][class*="-md-"][class$="-G"] > *,
[class|="bord"][class*="-md-"][class$="-T"]:hover > *,
[class|="bord"][class*="-md-"][class$="-T"]:focus > *,
[class|="bord"][class*="-md-"][class$="-T"]:active > *,
[class|="bord"][class*="-md-"][class$="-F"] > *:hover,
[class|="bord"][class*="-md-"][class$="-F"] > *:focus,
[class|="bord"][class*="-md-"][class$="-F"] > *:active {
  border-width: var(--bord-width-md);
}

[class|="bord"][class*="-lg-"][class$="-D"],
[class|="bord"][class*="-lg-"][class$="-R"]:checked ~ [class|="bord"][class*="-lg-"][class$="-T"],
*:hover > [class|="bord"][class*="-lg-"][class$="-I"],
*:focus > [class|="bord"][class*="-lg-"][class$="-I"],
*:active > [class|="bord"][class*="-lg-"][class$="-I"],
[class|="bord"][class*="-lg-"][class$="-O"]:hover,
[class|="bord"][class*="-lg-"][class$="-O"]:focus,
[class|="bord"][class*="-lg-"][class$="-O"]:active,
[class|="bord"][class*="-lg-"][class$="-G"] > *,
[class|="bord"][class*="-lg-"][class$="-T"]:hover > *,
[class|="bord"][class*="-lg-"][class$="-T"]:focus > *,
[class|="bord"][class*="-lg-"][class$="-T"]:active > *,
[class|="bord"][class*="-lg-"][class$="-F"] > *:hover,
[class|="bord"][class*="-lg-"][class$="-F"] > *:focus,
[class|="bord"][class*="-lg-"][class$="-F"] > *:active {
  border-width: var(--bord-width-lg);
}

/***** Bord Colors *****/
[class|="bord"][class*="-black-"][class$="-D"],
[class|="bord"][class*="-black-"][class$="-R"]:checked ~ [class|="bord"][class*="-black-"][class$="-T"],
*:hover > [class|="bord"][class*="-black-"][class$="-I"],
*:focus > [class|="bord"][class*="-black-"][class$="-I"],
*:active > [class|="bord"][class*="-black-"][class$="-I"],
[class|="bord"][class*="-black-"][class$="-O"]:hover,
[class|="bord"][class*="-black-"][class$="-O"]:focus,
[class|="bord"][class*="-black-"][class$="-O"]:active,
[class|="bord"][class*="-black-"][class$="-G"] > *,
[class|="bord"][class*="-black-"][class$="-T"]:hover > *,
[class|="bord"][class*="-black-"][class$="-T"]:focus > *,
[class|="bord"][class*="-black-"][class$="-T"]:active > *,
[class|="bord"][class*="-black-"][class$="-F"] > *:hover,
[class|="bord"][class*="-black-"][class$="-F"] > *:focus,
[class|="bord"][class*="-black-"][class$="-F"] > *:active {
  border-color: black;
}

[class|="bord"][class*="-blue-"][class$="-D"],
[class|="bord"][class*="-blue-"][class$="-R"]:checked ~ [class|="bord"][class*="-blue-"][class$="-T"],
*:hover > [class|="bord"][class*="-blue-"][class$="-I"],
*:focus > [class|="bord"][class*="-blue-"][class$="-I"],
*:active > [class|="bord"][class*="-blue-"][class$="-I"],
[class|="bord"][class*="-blue-"][class$="-O"]:hover,
[class|="bord"][class*="-blue-"][class$="-O"]:focus,
[class|="bord"][class*="-blue-"][class$="-O"]:active,
[class|="bord"][class*="-blue-"][class$="-G"] > *,
[class|="bord"][class*="-blue-"][class$="-T"]:hover > *,
[class|="bord"][class*="-blue-"][class$="-T"]:focus > *,
[class|="bord"][class*="-blue-"][class$="-T"]:active > *,
[class|="bord"][class*="-blue-"][class$="-F"] > *:hover,
[class|="bord"][class*="-blue-"][class$="-F"] > *:focus,
[class|="bord"][class*="-blue-"][class$="-F"] > *:active {
  border-color: var(--blue);
}

[class|="bord"][class$="-D"][class*="brown"],
[class|="bord"][class$="-R"][class*="brown"]:checked ~ [class|="bord"][class$="-T"][class*="brown"],
*:hover > [class|="bord"][class$="-I"][class*="brown"],
*:focus > [class|="bord"][class$="-I"][class*="brown"],
*:active > [class|="bord"][class$="-I"][class*="brown"],
[class|="bord"][class$="-O"][class*="brown"]:hover,
[class|="bord"][class$="-O"][class*="brown"]:focus,
[class|="bord"][class$="-O"][class*="brown"]:active,
[class|="bord"][class$="-G"][class*="brown"] > *,
[class|="bord"][class$="-T"][class*="brown"]:hover > *,
[class|="bord"][class$="-T"][class*="brown"]:focus > *,
[class|="bord"][class$="-T"][class*="brown"]:active > *,
[class|="bord"][class$="-F"][class*="brown"] > *:hover,
[class|="bord"][class$="-F"][class*="brown"] > *:focus,
[class|="bord"][class$="-F"][class*="brown"] > *:active {
  border-color: var(--brown);
}

[class|="bord"][class*="-gray-"][class$="-D"],
[class|="bord"][class*="-gray-"][class$="-R"]:checked ~ [class|="bord"][class*="-gray-"][class$="-T"],
*:hover > [class|="bord"][class*="-gray-"][class$="-I"],
*:focus > [class|="bord"][class*="-gray-"][class$="-I"],
*:active > [class|="bord"][class*="-gray-"][class$="-I"],
[class|="bord"][class*="-gray-"][class$="-O"]:hover,
[class|="bord"][class*="-gray-"][class$="-O"]:focus,
[class|="bord"][class*="-gray-"][class$="-O"]:active,
[class|="bord"][class*="-gray-"][class$="-G"] > *,
[class|="bord"][class*="-gray-"][class$="-T"]:hover > *,
[class|="bord"][class*="-gray-"][class$="-T"]:focus > *,
[class|="bord"][class*="-gray-"][class$="-T"]:active > *,
[class|="bord"][class*="-gray-"][class$="-F"] > *:hover,
[class|="bord"][class*="-gray-"][class$="-F"] > *:focus,
[class|="bord"][class*="-gray-"][class$="-F"] > *:active {
  border-color: var(--gray);
}

[class|="bord"][class*="-grey-"][class$="-D"],
[class|="bord"][class*="-grey-"][class$="-R"]:checked ~ [class|="bord"][class*="-grey-"][class$="-T"],
*:hover > [class|="bord"][class*="-grey-"][class$="-I"],
*:focus > [class|="bord"][class*="-grey-"][class$="-I"],
*:active > [class|="bord"][class*="-grey-"][class$="-I"],
[class|="bord"][class*="-grey-"][class$="-O"]:hover,
[class|="bord"][class*="-grey-"][class$="-O"]:focus,
[class|="bord"][class*="-grey-"][class$="-O"]:active,
[class|="bord"][class*="-grey-"][class$="-G"] > *,
[class|="bord"][class*="-grey-"][class$="-T"]:hover > *,
[class|="bord"][class*="-grey-"][class$="-T"]:focus > *,
[class|="bord"][class*="-grey-"][class$="-T"]:active > *,
[class|="bord"][class*="-grey-"][class$="-F"] > *:hover,
[class|="bord"][class*="-grey-"][class$="-F"] > *:focus,
[class|="bord"][class*="-grey-"][class$="-F"] > *:active {
  border-color: var(--grey);
}

[class|="bord"][class*="-green-"][class$="-D"],
[class|="bord"][class*="-green-"][class$="-R"]:checked ~ [class|="bord"][class*="-green-"][class$="-T"],
*:hover > [class|="bord"][class*="-green-"][class$="-I"],
*:focus > [class|="bord"][class*="-green-"][class$="-I"],
*:active > [class|="bord"][class*="-green-"][class$="-I"],
[class|="bord"][class*="-green-"][class$="-O"]:hover,
[class|="bord"][class*="-green-"][class$="-O"]:focus,
[class|="bord"][class*="-green-"][class$="-O"]:active,
[class|="bord"][class*="-green-"][class$="-G"] > *,
[class|="bord"][class*="-green-"][class$="-T"]:hover > *,
[class|="bord"][class*="-green-"][class$="-T"]:focus > *,
[class|="bord"][class*="-green-"][class$="-T"]:active > *,
[class|="bord"][class*="-green-"][class$="-F"] > *:hover,
[class|="bord"][class*="-green-"][class$="-F"] > *:focus,
[class|="bord"][class*="-green-"][class$="-F"] > *:active {
  border-color: var(--green);
}

[class|="bord"][class*="-orange-"][class$="-D"],
[class|="bord"][class*="-orange-"][class$="-R"]:checked ~ [class|="bord"][class*="-orange-"][class$="-T"],
*:hover > [class|="bord"][class*="-orange-"][class$="-I"],
*:focus > [class|="bord"][class*="-orange-"][class$="-I"],
*:active > [class|="bord"][class*="-orange-"][class$="-I"],
[class|="bord"][class*="-orange-"][class$="-O"]:hover,
[class|="bord"][class*="-orange-"][class$="-O"]:focus,
[class|="bord"][class*="-orange-"][class$="-O"]:active,
[class|="bord"][class*="-orange-"][class$="-G"] > *,
[class|="bord"][class*="-orange-"][class$="-T"]:hover > *,
[class|="bord"][class*="-orange-"][class$="-T"]:focus > *,
[class|="bord"][class*="-orange-"][class$="-T"]:active > *,
[class|="bord"][class*="-orange-"][class$="-F"] > *:hover,
[class|="bord"][class*="-orange-"][class$="-F"] > *:focus,
[class|="bord"][class*="-orange-"][class$="-F"] > *:active {
  border-color: var(--orange);
}

[class|="bord"][class*="-red-"][class$="-D"],
[class|="bord"][class*="-red-"][class$="-R"]:checked ~ [class|="bord"][class*="-red-"][class$="-T"],
*:hover > [class|="bord"][class*="-red-"][class$="-I"],
*:focus > [class|="bord"][class*="-red-"][class$="-I"],
*:active > [class|="bord"][class*="-red-"][class$="-I"],
[class|="bord"][class*="-red-"][class$="-O"]:hover,
[class|="bord"][class*="-red-"][class$="-O"]:focus,
[class|="bord"][class*="-red-"][class$="-O"]:active,
[class|="bord"][class*="-red-"][class$="-G"] > *,
[class|="bord"][class*="-red-"][class$="-T"]:hover > *,
[class|="bord"][class*="-red-"][class$="-T"]:focus > *,
[class|="bord"][class*="-red-"][class$="-T"]:active > *,
[class|="bord"][class*="-red-"][class$="-F"] > *:hover,
[class|="bord"][class*="-red-"][class$="-F"] > *:focus,
[class|="bord"][class*="-red-"][class$="-F"] > *:active {
  border-color: var(--red);
}

[class|="bord"][class*="-violet-"][class$="-D"],
[class|="bord"][class*="-violet-"][class$="-R"]:checked ~ [class|="bord"][class*="-violet-"][class$="-T"],
*:hover > [class|="bord"][class*="-violet-"][class$="-I"],
*:focus > [class|="bord"][class*="-violet-"][class$="-I"],
*:active > [class|="bord"][class*="-violet-"][class$="-I"],
[class|="bord"][class*="-violet-"][class$="-O"]:hover,
[class|="bord"][class*="-violet-"][class$="-O"]:focus,
[class|="bord"][class*="-violet-"][class$="-O"]:active,
[class|="bord"][class*="-violet-"][class$="-G"] > *,
[class|="bord"][class*="-violet-"][class$="-T"]:hover > *,
[class|="bord"][class*="-violet-"][class$="-T"]:focus > *,
[class|="bord"][class*="-violet-"][class$="-T"]:active > *,
[class|="bord"][class*="-violet-"][class$="-F"] > *:hover,
[class|="bord"][class*="-violet-"][class$="-F"] > *:focus,
[class|="bord"][class*="-violet-"][class$="-F"] > *:active {
  border-color: var(--violet);
}

[class|="bord"][class*="-white-"][class$="-D"],
[class|="bord"][class*="-white-"][class$="-R"]:checked ~ [class|="bord"][class*="-white-"][class$="-T"],
*:hover > [class|="bord"][class*="-white-"][class$="-I"],
*:focus > [class|="bord"][class*="-white-"][class$="-I"],
*:active > [class|="bord"][class*="-white-"][class$="-I"],
[class|="bord"][class*="-white-"][class$="-O"]:hover,
[class|="bord"][class*="-white-"][class$="-O"]:focus,
[class|="bord"][class*="-white-"][class$="-O"]:active,
[class|="bord"][class*="-white-"][class$="-G"] > *,
[class|="bord"][class*="-white-"][class$="-T"]:hover > *,
[class|="bord"][class*="-white-"][class$="-T"]:focus > *,
[class|="bord"][class*="-white-"][class$="-T"]:active > *,
[class|="bord"][class*="-white-"][class$="-F"] > *:hover,
[class|="bord"][class*="-white-"][class$="-F"] > *:focus,
[class|="bord"][class*="-white-"][class$="-F"] > *:active {
  border-color: var(--white);
}

[class|="bord"][class*="-yellow-"][class$="-D"],
[class|="bord"][class*="-yellow-"][class$="-R"]:checked ~ [class|="bord"][class*="-yellow-"][class$="-T"],
*:hover > [class|="bord"][class*="-yellow-"][class$="-I"],
*:focus > [class|="bord"][class*="-yellow-"][class$="-I"],
*:active > [class|="bord"][class*="-yellow-"][class$="-I"],
[class|="bord"][class*="-yellow-"][class$="-O"]:hover,
[class|="bord"][class*="-yellow-"][class$="-O"]:focus,
[class|="bord"][class*="-yellow-"][class$="-O"]:active,
[class|="bord"][class*="-yellow-"][class$="-G"] > *,
[class|="bord"][class*="-yellow-"][class$="-T"]:hover > *,
[class|="bord"][class*="-yellow-"][class$="-T"]:focus > *,
[class|="bord"][class*="-yellow-"][class$="-T"]:active > *,
[class|="bord"][class*="-yellow-"][class$="-F"] > *:hover,
[class|="bord"][class*="-yellow-"][class$="-F"] > *:focus,
[class|="bord"][class*="-yellow-"][class$="-F"] > *:active {
  border-color: var(--yellow);
}

/***** Bord Radius *****/
[class|="bord"][class*="-slight-"][class$="-D"],
[class|="bord"][class*="-slight-"][class$="-R"]:checked ~ [class|="bord"][class*="-slight-"][class$="-T"],
*:hover > [class|="bord"][class*="-slight-"][class$="-I"],
*:focus > [class|="bord"][class*="-slight-"][class$="-I"],
*:active > [class|="bord"][class*="-slight-"][class$="-I"],
[class|="bord"][class*="-slight-"][class$="-O"]:hover,
[class|="bord"][class*="-slight-"][class$="-O"]:focus,
[class|="bord"][class*="-slight-"][class$="-O"]:active,
[class|="bord"][class*="-slight-"][class$="-G"] > *,
[class|="bord"][class*="-slight-"][class$="-T"]:hover > *,
[class|="bord"][class*="-slight-"][class$="-T"]:focus > *,
[class|="bord"][class*="-slight-"][class$="-T"]:active > *,
[class|="bord"][class*="-slight-"][class$="-F"] > *:hover,
[class|="bord"][class*="-slight-"][class$="-F"] > *:focus,
[class|="bord"][class*="-slight-"][class$="-F"] > *:active {
  border-radius: var(--bord-radius-slight);
}

[class|="bord"][class*="-round-"][class$="-D"],
[class|="bord"][class*="-round-"][class$="-R"]:checked ~ [class|="bord"][class*="-round-"][class$="-T"],
*:hover > [class|="bord"][class*="-round-"][class$="-I"],
*:focus > [class|="bord"][class*="-round-"][class$="-I"],
*:active > [class|="bord"][class*="-round-"][class$="-I"],
[class|="bord"][class*="-round-"][class$="-O"]:hover,
[class|="bord"][class*="-round-"][class$="-O"]:focus,
[class|="bord"][class*="-round-"][class$="-O"]:active,
[class|="bord"][class*="-round-"][class$="-G"] > *,
[class|="bord"][class*="-round-"][class$="-T"]:hover > *,
[class|="bord"][class*="-round-"][class$="-T"]:focus > *,
[class|="bord"][class*="-round-"][class$="-T"]:active > *,
[class|="bord"][class*="-round-"][class$="-F"] > *:hover,
[class|="bord"][class*="-round-"][class$="-F"] > *:focus,
[class|="bord"][class*="-round-"][class$="-F"] > *:active {
  border-radius: var(--bord-radius-round);
}

[class|="bord"][class*="-circle-"][class$="-D"],
[class|="bord"][class*="-circle-"][class$="-R"]:checked ~ [class|="bord"][class*="-circle-"][class$="-T"],
*:hover > [class|="bord"][class*="-circle-"][class$="-I"],
*:focus > [class|="bord"][class*="-circle-"][class$="-I"],
*:active > [class|="bord"][class*="-circle-"][class$="-I"],
[class|="bord"][class*="-circle-"][class$="-O"]:hover,
[class|="bord"][class*="-circle-"][class$="-O"]:focus,
[class|="bord"][class*="-circle-"][class$="-O"]:active,
[class|="bord"][class*="-circle-"][class$="-G"] > *,
[class|="bord"][class*="-circle-"][class$="-T"]:hover > *,
[class|="bord"][class*="-circle-"][class$="-T"]:focus > *,
[class|="bord"][class*="-circle-"][class$="-T"]:active > *,
[class|="bord"][class*="-circle-"][class$="-F"] > *:hover,
[class|="bord"][class*="-circle-"][class$="-F"] > *:focus,
[class|="bord"][class*="-circle-"][class$="-F"] > *:active {
  border-radius: var(--bord-radius-circle);
}

[class|="bord"][class*="-ellipse-"][class$="-D"],
[class|="bord"][class*="-ellipse-"][class$="-R"]:checked ~ [class|="bord"][class*="-ellipse-"][class$="-T"],
*:hover > [class|="bord"][class*="-ellipse-"][class$="-I"],
*:focus > [class|="bord"][class*="-ellipse-"][class$="-I"],
*:active > [class|="bord"][class*="-ellipse-"][class$="-I"],
[class|="bord"][class*="-ellipse-"][class$="-O"]:hover,
[class|="bord"][class*="-ellipse-"][class$="-O"]:focus,
[class|="bord"][class*="-ellipse-"][class$="-O"]:active,
[class|="bord"][class*="-ellipse-"][class$="-G"] > *,
[class|="bord"][class*="-ellipse-"][class$="-T"]:hover > *,
[class|="bord"][class*="-ellipse-"][class$="-T"]:focus > *,
[class|="bord"][class*="-ellipse-"][class$="-T"]:active > *,
[class|="bord"][class*="-ellipse-"][class$="-F"] > *:hover,
[class|="bord"][class*="-ellipse-"][class$="-F"] > *:focus,
[class|="bord"][class*="-ellipse-"][class$="-F"] > *:active {
  border-radius: var(--bord-radius-ellipse);
}
