/********** BOX **********/

/*
1 - Container
2 - Margin
3 - Padding
4 - Height
5 - Width
*/

/***** 1 - Container *****/
[class*="container"] {
  margin: auto;
}

.container-70xs {
  max-width: 70%;
}

.container-80xs {
  max-width: 80%;
}

.container-90xs {
  max-width: 90%;
}

@media (min-width: 576px) {
  .container-70sm {
    max-width: 70%;
  }

  .container-80sm {
    max-width: 80%;
  }

  .container-90sm {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .container-70md {
    max-width: 70%;
  }

  .container-80md {
    max-width: 80%;
  }

  .container-90md {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .container-70lg {
    max-width: 70%;
  }

  .container-80lg {
    max-width: 80%;
  }

  .container-90lg {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .container-70xl {
    max-width: 70%;
  }

  .container-80xl {
    max-width: 80%;
  }

  .container-90xl {
    max-width: 90%;
  }
}

/***** 2 - Margin *****/
.mar-all-none,
.mar-all-none-global > * {
  margin: var(--margin-none);
}

.mar-all-sm,
.mar-all-sm-global > * {
  margin: var(--margin-sm);
}

.mar-all-md,
.mar-all-md-global > * {
  margin: var(--margin-md);
}

.mar-all-lg,
.mar-all-lg-global > * {
  margin: var(--margin-lg);
}

.mar-top-none,
.mar-top-none-global > * {
  margin-top: var(--margin-none);
}

.mar-top-sm,
.mar-top-sm-global > * {
  margin-top: var(--margin-top-sm);
}

.mar-top-md,
.mar-top-md-global > * {
  margin-top: var(--margin-top-md);
}

.mar-top-lg,
.mar-top-lg-global > * {
  margin-top: var(--margin-top-lg);
}

.mar-right-none,
.mar-right-none-global > * {
  margin-right: var(--margin-none);
}

.mar-right-sm,
.mar-right-sm-global > * {
  margin-right: var(--margin-right-sm);
}

.mar-right-md,
.mar-right-md-global > * {
  margin-right: var(--margin-right-md);
}

.mar-right-lg,
.mar-right-lg-global > * {
  margin-right: var(--margin-right-lg);
}

.mar-bot-none,
.mar-bot-none-global > * {
  margin-bottom: var(--margin-none);
}

.mar-bot-sm,
.mar-bot-sm-global > * {
  margin-bottom: var(--margin-bot-sm);
}

.mar-bot-md,
.mar-bot-md-global > * {
  margin-bottom: var(--margin-bot-md);
}

.mar-bot-lg,
.mar-bot-lg-global > * {
  margin-bottom: var(--margin-bot-lg);
}

.mar-left-none,
.mar-left-none-global > * {
  margin-left: var(--margin-none);
}

.mar-left-sm,
.mar-left-sm-global > * {
  margin-left: var(--margin-left-sm);
}

.mar-left-md,
.mar-left-md-global > * {
  margin-left: var(--margin-left-md);
}

.mar-left-lg,
.mar-left-lg-global > * {
  margin-left: var(--margin-left-lg);
}

/***** 3 - Padding *****/
.pad-all-none,
.pad-all-none-global > * {
  padding: var(--padding-none);
}

.pad-all-sm,
.pad-all-sm-global > * {
  padding: var(--padding-sm);
}

.pad-all-md,
.pad-all-md-global > * {
  padding: var(--padding-md);
}

.pad-all-lg,
.pad-all-lg-global > * {
  padding: var(--padding-lg);
}

.pad-top-none,
.pad-top-none-global > * {
  padding-top: var(--padding-none);
}

.pad-top-sm,
.pad-top-sm-global > * {
  padding-top: var(--padding-top-sm);
}

.pad-top-md,
.pad-top-md-global > * {
  padding-top: var(--padding-top-md);
}

.pad-top-lg,
.pad-top-lg-global > * {
  padding-top: var(--padding-top-lg);
}

.pad-right-none,
.pad-right-none-global > * {
  padding-right: var(--padding-none);
}

.pad-right-sm,
.pad-right-sm-global > * {
  padding-right: var(--padding-right-sm);
}

.pad-right-md,
.pad-right-md-global > * {
  padding-right: var(--padding-right-md);
}

.pad-right-lg,
.pad-right-lg-global > * {
  padding-right: var(--padding-right-lg);
}

.pad-bot-none,
.pad-bot-none-global > * {
  padding-bottom: var(--padding-none);
}

.pad-bot-sm,
.pad-bot-sm-global > * {
  padding-bottom: var(--padding-bot-sm);
}

.pad-bot-md,
.pad-bot-md-global > * {
  padding-bottom: var(--padding-bot-md);
}

.pad-bot-lg,
.pad-bot-lg-global > * {
  padding-bottom: var(--padding-bot-lg);
}

.pad-left-none,
.pad-left-none-global > * {
  padding-left: var(--padding-none);
}

.pad-left-sm,
.pad-left-sm-global > * {
  padding-left: var(--padding-left-sm);
}

.pad-left-md,
.pad-left-md-global > * {
  padding-left: var(--padding-left-md);
}

.pad-left-lg,
.pad-left-lg-global > * {
  padding-left: var(--padding-left-lg);
}

/***** 4 - Height *****/
.height-sm,
.height-sm-global > * {
  height: var(--height-sm);
}

.height-md,
.height-md-global > * {
  height: var(--height-md);
}

.height-lg,
.height-lg-global > * {
  height: var(--height-lg);
}

.max-h-sm,
.max-h-sm-global > * {
  max-height: var(--max-height-sm);
}

.max-h-md,
.max-h-md-global > * {
  max-height: var(--max-height-md);
}

.max-h-lg,
.max-h-lg-global > * {
  max-height: var(--max-height-lg);
}

.min-h-sm,
.min-h-sm-global > * {
  min-height: var(--min-height-sm);
}

.min-h-md,
.min-h-md-global > * {
  min-height: var(--min-height-md);
}

.min-h-lg,
.min-h-lg-global > * {
  min-height: var(--min-height-lg);
}

/***** 5 - Width *****/
.width-sm,
.width-sm-global > * {
  width: var(--width-sm);
}

.width-md,
.width-md-global > * {
  width: var(--width-md);
}

.width-lg,
.width-lg-global > * {
  width: var(--width-lg);
}

.max-w-sm,
.max-w-sm-global > * {
  max-width: var(--max-width-sm);
}

.max-w-md,
.max-w-md-global > * {
  max-width: var(--max-width-md);
}

.max-w-lg,
.max-w-lg-global > * {
  max-width: var(--max-width-lg);
}

.min-w-sm,
.min-w-sm-global > * {
  min-width: var(--min-width-sm);
}

.min-w-md,
.min-w-md-global > * {
  min-width: var(--min-width-md);
}

.min-w-lg,
.min-w-lg-global > * {
  min-width: var(--min-width-lg);
}
