/********** COLOR **********/

/*
1. Color Variables
2. Colors
3. Background Colors
*/

/***** Color Variables *****/
:root {
  --blue: RoyalBlue;
  --brown: Sienna;
  --gray: DarkGray;
  --grey: LightGrey;
  --green: SeaGreen;
  --orange: DarkOrange;
  --red: IndianRed;
  --violet: BlueViolet;
  --white: Ivory;
  --yellow: Khaki;
  --facebook: #4267b2;
  --freecodecamp: #006400;
  --github: #24292e;
  --linkedin: #0077b5;
  --medium: #029e74;
  --npm: #c12127;
  --packagist: #f28d1a;
  --stackoverflow: #f48024;
  --twitter: #1da1f2;
}

/***** Colors *****/
[class|="color"][class*="-black"][class$="-d"],
[class|="color"][class*="-black"][class$="-r"]:checked ~ [class|="color"][class*="-black"][class$="-t"],
*:hover > [class|="color"][class*="-black"][class$="-i"],
*:focus > [class|="color"][class*="-black"][class$="-i"],
*:active > [class|="color"][class*="-black"][class$="-i"],
[class|="color"][class*="-black"][class$="-o"]:hover,
[class|="color"][class*="-black"][class$="-o"]:focus,
[class|="color"][class*="-black"][class$="-o"]:active,
[class|="color"][class*="-black"][class$="-g"] > *,
[class|="color"][class*="-black"][class$="-t"]:hover > *,
[class|="color"][class*="-black"][class$="-t"]:focus > *,
[class|="color"][class*="-black"][class$="-t"]:active > *,
[class|="color"][class*="-black"][class$="-f"] > *:hover,
[class|="color"][class*="-black"][class$="-f"] > *:focus,
[class|="color"][class*="-black"][class$="-f"] > *:active {
  color: black;
}

[class|="color"][class*="-blue"][class$="-d"],
[class|="color"][class*="-blue"][class$="-r"]:checked ~ [class|="color"][class*="-blue"][class$="-t"],
*:hover > [class|="color"][class*="-blue"][class$="-i"],
*:focus > [class|="color"][class*="-blue"][class$="-i"],
*:active > [class|="color"][class*="-blue"][class$="-i"],
[class|="color"][class*="-blue"][class$="-o"]:hover,
[class|="color"][class*="-blue"][class$="-o"]:focus,
[class|="color"][class*="-blue"][class$="-o"]:active,
[class|="color"][class*="-blue"][class$="-g"] > *,
[class|="color"][class*="-blue"][class$="-t"]:hover > *,
[class|="color"][class*="-blue"][class$="-t"]:focus > *,
[class|="color"][class*="-blue"][class$="-t"]:active > *,
[class|="color"][class*="-blue"][class$="-f"] > *:hover,
[class|="color"][class*="-blue"][class$="-f"] > *:focus,
[class|="color"][class*="-blue"][class$="-f"] > *:active {
  color: var(--blue);
}

[class|="color"][class*="-brown"][class$="-d"],
[class|="color"][class*="-brown"][class$="-r"]:checked ~ [class|="color"][class*="-brown"][class$="-t"],
*:hover > [class|="color"][class*="-brown"][class$="-i"],
*:focus > [class|="color"][class*="-brown"][class$="-i"],
*:active > [class|="color"][class*="-brown"][class$="-i"],
[class|="color"][class*="-brown"][class$="-o"]:hover,
[class|="color"][class*="-brown"][class$="-o"]:focus,
[class|="color"][class*="-brown"][class$="-o"]:active,
[class|="color"][class*="-brown"][class$="-g"] > *,
[class|="color"][class*="-brown"][class$="-t"]:hover > *,
[class|="color"][class*="-brown"][class$="-t"]:focus > *,
[class|="color"][class*="-brown"][class$="-t"]:active > *,
[class|="color"][class*="-brown"][class$="-f"] > *:hover,
[class|="color"][class*="-brown"][class$="-f"] > *:focus,
[class|="color"][class*="-brown"][class$="-f"] > *:active {
  color: var(--brown);
}

[class|="color"][class*="-gray"][class$="-d"],
[class|="color"][class*="-gray"][class$="-r"]:checked ~ [class|="color"][class*="-gray"][class$="-t"],
*:hover > [class|="color"][class*="-gray"][class$="-i"],
*:focus > [class|="color"][class*="-gray"][class$="-i"],
*:active > [class|="color"][class*="-gray"][class$="-i"],
[class|="color"][class*="-gray"][class$="-o"]:hover,
[class|="color"][class*="-gray"][class$="-o"]:focus,
[class|="color"][class*="-gray"][class$="-o"]:active,
[class|="color"][class*="-gray"][class$="-g"] > *,
[class|="color"][class*="-gray"][class$="-t"]:hover > *,
[class|="color"][class*="-gray"][class$="-t"]:focus > *,
[class|="color"][class*="-gray"][class$="-t"]:active > *,
[class|="color"][class*="-gray"][class$="-f"] > *:hover,
[class|="color"][class*="-gray"][class$="-f"] > *:focus,
[class|="color"][class*="-gray"][class$="-f"] > *:active {
  color: var(--gray);
}

[class|="color"][class*="-grey"][class$="-d"],
[class|="color"][class*="-grey"][class$="-r"]:checked ~ [class|="color"][class*="-grey"][class$="-t"],
*:hover > [class|="color"][class*="-grey"][class$="-i"],
*:focus > [class|="color"][class*="-grey"][class$="-i"],
*:active > [class|="color"][class*="-grey"][class$="-i"],
[class|="color"][class*="-grey"][class$="-o"]:hover,
[class|="color"][class*="-grey"][class$="-o"]:focus,
[class|="color"][class*="-grey"][class$="-o"]:active,
[class|="color"][class*="-grey"][class$="-g"] > *,
[class|="color"][class*="-grey"][class$="-t"]:hover > *,
[class|="color"][class*="-grey"][class$="-t"]:focus > *,
[class|="color"][class*="-grey"][class$="-t"]:active > *,
[class|="color"][class*="-grey"][class$="-f"] > *:hover,
[class|="color"][class*="-grey"][class$="-f"] > *:focus,
[class|="color"][class*="-grey"][class$="-f"] > *:active {
  color: var(--grey);
}

[class|="color"][class*="-green"][class$="-d"],
[class|="color"][class*="-green"][class$="-r"]:checked ~ [class|="color"][class*="-green"][class$="-t"],
*:hover > [class|="color"][class*="-green"][class$="-i"],
*:focus > [class|="color"][class*="-green"][class$="-i"],
*:active > [class|="color"][class*="-green"][class$="-i"],
[class|="color"][class*="-green"][class$="-o"]:hover,
[class|="color"][class*="-green"][class$="-o"]:focus,
[class|="color"][class*="-green"][class$="-o"]:active,
[class|="color"][class*="-green"][class$="-g"] > *,
[class|="color"][class*="-green"][class$="-t"]:hover > *,
[class|="color"][class*="-green"][class$="-t"]:focus > *,
[class|="color"][class*="-green"][class$="-t"]:active > *,
[class|="color"][class*="-green"][class$="-f"] > *:hover,
[class|="color"][class*="-green"][class$="-f"] > *:focus,
[class|="color"][class*="-green"][class$="-f"] > *:active {
  color: var(--green);
}

[class|="color"][class*="-orange"][class$="-d"],
[class|="color"][class*="-orange"][class$="-r"]:checked ~ [class|="color"][class*="-orange"][class$="-t"],
*:hover > [class|="color"][class*="-orange"][class$="-i"],
*:focus > [class|="color"][class*="-orange"][class$="-i"],
*:active > [class|="color"][class*="-orange"][class$="-i"],
[class|="color"][class*="-orange"][class$="-o"]:hover,
[class|="color"][class*="-orange"][class$="-o"]:focus,
[class|="color"][class*="-orange"][class$="-o"]:active,
[class|="color"][class*="-orange"][class$="-g"] > *,
[class|="color"][class*="-orange"][class$="-t"]:hover > *,
[class|="color"][class*="-orange"][class$="-t"]:focus > *,
[class|="color"][class*="-orange"][class$="-t"]:active > *,
[class|="color"][class*="-orange"][class$="-f"] > *:hover,
[class|="color"][class*="-orange"][class$="-f"] > *:focus,
[class|="color"][class*="-orange"][class$="-f"] > *:active {
  color: var(--orange);
}

[class|="color"][class*="-red"][class$="-d"],
[class|="color"][class*="-red"][class$="-r"]:checked ~ [class|="color"][class*="-red"][class$="-t"],
*:hover > [class|="color"][class*="-red"][class$="-i"],
*:focus > [class|="color"][class*="-red"][class$="-i"],
*:active > [class|="color"][class*="-red"][class$="-i"],
[class|="color"][class*="-red"][class$="-o"]:hover,
[class|="color"][class*="-red"][class$="-o"]:focus,
[class|="color"][class*="-red"][class$="-o"]:active,
[class|="color"][class*="-red"][class$="-g"] > *,
[class|="color"][class*="-red"][class$="-t"]:hover > *,
[class|="color"][class*="-red"][class$="-t"]:focus > *,
[class|="color"][class*="-red"][class$="-t"]:active > *,
[class|="color"][class*="-red"][class$="-f"] > *:hover,
[class|="color"][class*="-red"][class$="-f"] > *:focus,
[class|="color"][class*="-red"][class$="-f"] > *:active {
  color: var(--red);
}

[class|="color"][class*="-violet"][class$="-d"],
[class|="color"][class*="-violet"][class$="-r"]:checked ~ [class|="color"][class*="-violet"][class$="-t"],
*:hover > [class|="color"][class*="-violet"][class$="-i"],
*:focus > [class|="color"][class*="-violet"][class$="-i"],
*:active > [class|="color"][class*="-violet"][class$="-i"],
[class|="color"][class*="-violet"][class$="-o"]:hover,
[class|="color"][class*="-violet"][class$="-o"]:focus,
[class|="color"][class*="-violet"][class$="-o"]:active,
[class|="color"][class*="-violet"][class$="-g"] > *,
[class|="color"][class*="-violet"][class$="-t"]:hover > *,
[class|="color"][class*="-violet"][class$="-t"]:focus > *,
[class|="color"][class*="-violet"][class$="-t"]:active > *,
[class|="color"][class*="-violet"][class$="-f"] > *:hover,
[class|="color"][class*="-violet"][class$="-f"] > *:focus,
[class|="color"][class*="-violet"][class$="-f"] > *:active {
  color: var(--violet);
}

[class|="color"][class*="-white"][class$="-d"],
[class|="color"][class*="-white"][class$="-r"]:checked ~ [class|="color"][class*="-white"][class$="-t"],
*:hover > [class|="color"][class*="-white"][class$="-i"],
*:focus > [class|="color"][class*="-white"][class$="-i"],
*:active > [class|="color"][class*="-white"][class$="-i"],
[class|="color"][class*="-white"][class$="-o"]:hover,
[class|="color"][class*="-white"][class$="-o"]:focus,
[class|="color"][class*="-white"][class$="-o"]:active,
[class|="color"][class*="-white"][class$="-g"] > *,
[class|="color"][class*="-white"][class$="-t"]:hover > *,
[class|="color"][class*="-white"][class$="-t"]:focus > *,
[class|="color"][class*="-white"][class$="-t"]:active > *,
[class|="color"][class*="-white"][class$="-f"] > *:hover,
[class|="color"][class*="-white"][class$="-f"] > *:focus,
[class|="color"][class*="-white"][class$="-f"] > *:active {
  color: var(--white);
}

[class|="color"][class*="-yellow"][class$="-d"],
[class|="color"][class*="-yellow"][class$="-r"]:checked ~ [class|="color"][class*="-yellow"][class$="-t"],
*:hover > [class|="color"][class*="-yellow"][class$="-i"],
*:focus > [class|="color"][class*="-yellow"][class$="-i"],
*:active > [class|="color"][class*="-yellow"][class$="-i"],
[class|="color"][class*="-yellow"][class$="-o"]:hover,
[class|="color"][class*="-yellow"][class$="-o"]:focus,
[class|="color"][class*="-yellow"][class$="-o"]:active,
[class|="color"][class*="-yellow"][class$="-g"] > *,
[class|="color"][class*="-yellow"][class$="-t"]:hover > *,
[class|="color"][class*="-yellow"][class$="-t"]:focus > *,
[class|="color"][class*="-yellow"][class$="-t"]:active > *,
[class|="color"][class*="-yellow"][class$="-f"] > *:hover,
[class|="color"][class*="-yellow"][class$="-f"] > *:focus,
[class|="color"][class*="-yellow"][class$="-f"] > *:active {
  color: var(--yellow);
}

/***** Background Colors *****/
[class|="bg"][class*="-black"][class$="-d"],
[class|="bg"][class*="-black"][class$="-r"]:checked ~ [class|="bg"][class*="-black"][class$="-t"],
*:hover > [class|="bg"][class*="-black"][class$="-i"],
*:focus > [class|="bg"][class*="-black"][class$="-i"],
*:active > [class|="bg"][class*="-black"][class$="-i"],
[class|="bg"][class*="-black"][class$="-o"]:hover,
[class|="bg"][class*="-black"][class$="-o"]:focus,
[class|="bg"][class*="-black"][class$="-o"]:active,
[class|="bg"][class*="-black"][class$="-g"] > *,
[class|="bg"][class*="-black"][class$="-t"]:hover > *,
[class|="bg"][class*="-black"][class$="-t"]:focus > *,
[class|="bg"][class*="-black"][class$="-t"]:active > *,
[class|="bg"][class*="-black"][class$="-f"] > *:hover,
[class|="bg"][class*="-black"][class$="-f"] > *:focus,
[class|="bg"][class*="-black"][class$="-f"] > *:active {
  background-color: black;
}

[class|="bg"][class*="-blue"][class$="-d"],
[class|="bg"][class*="-blue"][class$="-r"]:checked ~ [class|="bg"][class*="-blue"][class$="-t"],
*:hover > [class|="bg"][class*="-blue"][class$="-i"],
*:focus > [class|="bg"][class*="-blue"][class$="-i"],
*:active > [class|="bg"][class*="-blue"][class$="-i"],
[class|="bg"][class*="-blue"][class$="-o"]:hover,
[class|="bg"][class*="-blue"][class$="-o"]:focus,
[class|="bg"][class*="-blue"][class$="-o"]:active,
[class|="bg"][class*="-blue"][class$="-g"] > *,
[class|="bg"][class*="-blue"][class$="-t"]:hover > *,
[class|="bg"][class*="-blue"][class$="-t"]:focus > *,
[class|="bg"][class*="-blue"][class$="-t"]:active > *,
[class|="bg"][class*="-blue"][class$="-f"] > *:hover,
[class|="bg"][class*="-blue"][class$="-f"] > *:focus,
[class|="bg"][class*="-blue"][class$="-f"] > *:active {
  background-color: var(--blue);
}

[class|="bg"][class*="-brown"][class$="-d"],
[class|="bg"][class*="-brown"][class$="-r"]:checked ~ [class|="bg"][class*="-brown"][class$="-t"],
*:hover > [class|="bg"][class*="-brown"][class$="-i"],
*:focus > [class|="bg"][class*="-brown"][class$="-i"],
*:active > [class|="bg"][class*="-brown"][class$="-i"],
[class|="bg"][class*="-brown"][class$="-o"]:hover,
[class|="bg"][class*="-brown"][class$="-o"]:focus,
[class|="bg"][class*="-brown"][class$="-o"]:active,
[class|="bg"][class*="-brown"][class$="-g"] > *,
[class|="bg"][class*="-brown"][class$="-t"]:hover > *,
[class|="bg"][class*="-brown"][class$="-t"]:focus > *,
[class|="bg"][class*="-brown"][class$="-t"]:active > *,
[class|="bg"][class*="-brown"][class$="-f"] > *:hover,
[class|="bg"][class*="-brown"][class$="-f"] > *:focus,
[class|="bg"][class*="-brown"][class$="-f"] > *:active {
  background-color: var(--brown);
}

[class|="bg"][class*="-gray"][class$="-d"],
[class|="bg"][class*="-gray"][class$="-r"]:checked ~ [class|="bg"][class*="-gray"][class$="-t"],
*:hover > [class|="bg"][class*="-gray"][class$="-i"],
*:focus > [class|="bg"][class*="-gray"][class$="-i"],
*:active > [class|="bg"][class*="-gray"][class$="-i"],
[class|="bg"][class*="-gray"][class$="-o"]:hover,
[class|="bg"][class*="-gray"][class$="-o"]:focus,
[class|="bg"][class*="-gray"][class$="-o"]:active,
[class|="bg"][class*="-gray"][class$="-g"] > *,
[class|="bg"][class*="-gray"][class$="-t"]:hover > *,
[class|="bg"][class*="-gray"][class$="-t"]:focus > *,
[class|="bg"][class*="-gray"][class$="-t"]:active > *,
[class|="bg"][class*="-gray"][class$="-f"] > *:hover,
[class|="bg"][class*="-gray"][class$="-f"] > *:focus,
[class|="bg"][class*="-gray"][class$="-f"] > *:active {
  background-color: var(--gray);
}

[class|="bg"][class*="-grey"][class$="-d"],
[class|="bg"][class*="-grey"][class$="-r"]:checked ~ [class|="bg"][class*="-grey"][class$="-t"],
*:hover > [class|="bg"][class*="-grey"][class$="-i"],
*:focus > [class|="bg"][class*="-grey"][class$="-i"],
*:active > [class|="bg"][class*="-grey"][class$="-i"],
[class|="bg"][class*="-grey"][class$="-o"]:hover,
[class|="bg"][class*="-grey"][class$="-o"]:focus,
[class|="bg"][class*="-grey"][class$="-o"]:active,
[class|="bg"][class*="-grey"][class$="-g"] > *,
[class|="bg"][class*="-grey"][class$="-t"]:hover > *,
[class|="bg"][class*="-grey"][class$="-t"]:focus > *,
[class|="bg"][class*="-grey"][class$="-t"]:active > *,
[class|="bg"][class*="-grey"][class$="-f"] > *:hover,
[class|="bg"][class*="-grey"][class$="-f"] > *:focus,
[class|="bg"][class*="-grey"][class$="-f"] > *:active {
  background-color: var(--grey);
}

[class|="bg"][class*="-green"][class$="-d"],
[class|="bg"][class*="-green"][class$="-r"]:checked ~ [class|="bg"][class*="-green"][class$="-t"],
*:hover > [class|="bg"][class*="-green"][class$="-i"],
*:focus > [class|="bg"][class*="-green"][class$="-i"],
*:active > [class|="bg"][class*="-green"][class$="-i"],
[class|="bg"][class*="-green"][class$="-o"]:hover,
[class|="bg"][class*="-green"][class$="-o"]:focus,
[class|="bg"][class*="-green"][class$="-o"]:active,
[class|="bg"][class*="-green"][class$="-g"] > *,
[class|="bg"][class*="-green"][class$="-t"]:hover > *,
[class|="bg"][class*="-green"][class$="-t"]:focus > *,
[class|="bg"][class*="-green"][class$="-t"]:active > *,
[class|="bg"][class*="-green"][class$="-f"] > *:hover,
[class|="bg"][class*="-green"][class$="-f"] > *:focus,
[class|="bg"][class*="-green"][class$="-f"] > *:active {
  background-color: var(--green);
}

[class|="bg"][class*="-orange"][class$="-d"],
[class|="bg"][class*="-orange"][class$="-r"]:checked ~ [class|="bg"][class*="-orange"][class$="-t"],
*:hover > [class|="bg"][class*="-orange"][class$="-i"],
*:focus > [class|="bg"][class*="-orange"][class$="-i"],
*:active > [class|="bg"][class*="-orange"][class$="-i"],
[class|="bg"][class*="-orange"][class$="-o"]:hover,
[class|="bg"][class*="-orange"][class$="-o"]:focus,
[class|="bg"][class*="-orange"][class$="-o"]:active,
[class|="bg"][class*="-orange"][class$="-g"] > *,
[class|="bg"][class*="-orange"][class$="-t"]:hover > *,
[class|="bg"][class*="-orange"][class$="-t"]:focus > *,
[class|="bg"][class*="-orange"][class$="-t"]:active > *,
[class|="bg"][class*="-orange"][class$="-f"] > *:hover,
[class|="bg"][class*="-orange"][class$="-f"] > *:focus,
[class|="bg"][class*="-orange"][class$="-f"] > *:active {
  background-color: var(--orange);
}

[class|="bg"][class*="-red"][class$="-d"],
[class|="bg"][class*="-red"][class$="-r"]:checked ~ [class|="bg"][class*="-red"][class$="-t"],
*:hover > [class|="bg"][class*="-red"][class$="-i"],
*:focus > [class|="bg"][class*="-red"][class$="-i"],
*:active > [class|="bg"][class*="-red"][class$="-i"],
[class|="bg"][class*="-red"][class$="-o"]:hover,
[class|="bg"][class*="-red"][class$="-o"]:focus,
[class|="bg"][class*="-red"][class$="-o"]:active,
[class|="bg"][class*="-red"][class$="-g"] > *,
[class|="bg"][class*="-red"][class$="-t"]:hover > *,
[class|="bg"][class*="-red"][class$="-t"]:focus > *,
[class|="bg"][class*="-red"][class$="-t"]:active > *,
[class|="bg"][class*="-red"][class$="-f"] > *:hover,
[class|="bg"][class*="-red"][class$="-f"] > *:focus,
[class|="bg"][class*="-red"][class$="-f"] > *:active {
  background-color: var(--red);
}

[class|="bg"][class*="-violet"][class$="-d"],
[class|="bg"][class*="-violet"][class$="-r"]:checked ~ [class|="bg"][class*="-violet"][class$="-t"],
*:hover > [class|="bg"][class*="-violet"][class$="-i"],
*:focus > [class|="bg"][class*="-violet"][class$="-i"],
*:active > [class|="bg"][class*="-violet"][class$="-i"],
[class|="bg"][class*="-violet"][class$="-o"]:hover,
[class|="bg"][class*="-violet"][class$="-o"]:focus,
[class|="bg"][class*="-violet"][class$="-o"]:active,
[class|="bg"][class*="-violet"][class$="-g"] > *,
[class|="bg"][class*="-violet"][class$="-t"]:hover > *,
[class|="bg"][class*="-violet"][class$="-t"]:focus > *,
[class|="bg"][class*="-violet"][class$="-t"]:active > *,
[class|="bg"][class*="-violet"][class$="-f"] > *:hover,
[class|="bg"][class*="-violet"][class$="-f"] > *:focus,
[class|="bg"][class*="-violet"][class$="-f"] > *:active {
  background-color: var(--violet);
}

[class|="bg"][class*="-white"][class$="-d"],
[class|="bg"][class*="-white"][class$="-r"]:checked ~ [class|="bg"][class*="-white"][class$="-t"],
*:hover > [class|="bg"][class*="-white"][class$="-i"],
*:focus > [class|="bg"][class*="-white"][class$="-i"],
*:active > [class|="bg"][class*="-white"][class$="-i"],
[class|="bg"][class*="-white"][class$="-o"]:hover,
[class|="bg"][class*="-white"][class$="-o"]:focus,
[class|="bg"][class*="-white"][class$="-o"]:active,
[class|="bg"][class*="-white"][class$="-g"] > *,
[class|="bg"][class*="-white"][class$="-t"]:hover > *,
[class|="bg"][class*="-white"][class$="-t"]:focus > *,
[class|="bg"][class*="-white"][class$="-t"]:active > *,
[class|="bg"][class*="-white"][class$="-f"] > *:hover,
[class|="bg"][class*="-white"][class$="-f"] > *:focus,
[class|="bg"][class*="-white"][class$="-f"] > *:active {
  background-color: var(--white);
}

[class|="bg"][class*="-yellow"][class$="-d"],
[class|="bg"][class*="-yellow"][class$="-r"]:checked ~ [class|="bg"][class*="-yellow"][class$="-t"],
*:hover > [class|="bg"][class*="-yellow"][class$="-i"],
*:focus > [class|="bg"][class*="-yellow"][class$="-i"],
*:active > [class|="bg"][class*="-yellow"][class$="-i"],
[class|="bg"][class*="-yellow"][class$="-o"]:hover,
[class|="bg"][class*="-yellow"][class$="-o"]:focus,
[class|="bg"][class*="-yellow"][class$="-o"]:active,
[class|="bg"][class*="-yellow"][class$="-g"] > *,
[class|="bg"][class*="-yellow"][class$="-t"]:hover > *,
[class|="bg"][class*="-yellow"][class$="-t"]:focus > *,
[class|="bg"][class*="-yellow"][class$="-t"]:active > *,
[class|="bg"][class*="-yellow"][class$="-f"] > *:hover,
[class|="bg"][class*="-yellow"][class$="-f"] > *:focus,
[class|="bg"][class*="-yellow"][class$="-f"] > *:active {
  background-color: var(--yellow);
}
