/********** DISPLAY ***********/

/*
1. Dis
2. Pos
3. Flow
4. Container
5. Cursor
*/

/***** Dis *****/
[class|="dis"][class$="-block"] {
  display: block;
}

[class|="dis"][class$="-inbloc"] {
  display: inline-block;
}

[class|="dis"][class$="-inline"] {
  display: inline;
}

[class|="dis"][class$="-hidden"],
[class$="-r"] {
  display: none;
}

/***** Pos *****/
[class|="pos"][class$="-absolute"] {
  position: absolute;
}

[class|="pos"][class$="-fixed"] {
  position: fixed;
}

[class|="pos"][class$="-relative"] {
  position: relative;
}

[class|="pos"][class$="-sticky"] {
  position: sticky;
}

/***** Flow *****/
[class|="flow"][class$="-hidden"] {
  overflow: hidden;
}

[class|="flow"][class$="-scroll"] {
  overflow: scroll;
}

/***** Container *****/
[class|="container"] {
  margin: auto;
  max-width: var(--max-width-md);
}

[class|="container"][class$="-sm"] {
  max-width: var(--max-width-sm);
}

[class|="container"][class$="-lg"] {
  max-width: var(--max-width-lg);
}

/***** Cursor *****/
[class|="cursor"][class$="-cross"],
[class|="cursor"][class$="-cross"] > * {
  cursor: crosshair;
}

[class|="cursor"][class$="-help"],
[class|="cursor"][class$="-help"] > * {
  cursor: help;
}

[class|="cursor"][class$="-none"],
[class|="cursor"][class$="-none"] > * {
  cursor: not-allowed;
}

[class|="cursor"][class$="-hand"],
[class|="cursor"][class$="-hand"] > * {
  cursor: pointer;
}
