/********** DISPLAY ***********/

/*
1. Block
2. Hide
3. Inline
*/

/***** Block *****/
[class*="block-tn-"][class*="-base"],
[class*="block-tn-"][class*="-global"] > *,
*:hover > [class*="block-tn-"][class*="-into"],
*:focus > [class*="block-tn-"][class*="-into"],
*:active > [class*="block-tn-"][class*="-into"],
[class*="block-tn-"][class*="-onto"]:hover,
[class*="block-tn-"][class*="-onto"]:focus,
[class*="block-tn-"][class*="-onto"]:active,
[class*="block-tn-"][class*="-toall"]:hover > *,
[class*="block-tn-"][class*="-toall"]:focus > *,
[class*="block-tn-"][class*="-toall"]:active > *,
[class*="block-tn-"][class*="-from"] > *:hover,
[class*="block-tn-"][class*="-from"] > *:focus,
[class*="block-tn-"][class*="-from"] > *:active,
[class*="block-tn-"][class*="-radio1"]:checked ~ [class*="block-tn-"][class*="-relay"] [class*="block-tn-"][class*="-target1"],
[class*="block-tn-"][class*="-radio2"]:checked ~ [class*="block-tn-"][class*="-relay"] [class*="block-tn-"][class*="-target2"],
[class*="block-tn-"][class*="-radio3"]:checked ~ [class*="block-tn-"][class*="-relay"] [class*="block-tn-"][class*="-target3"],
[class*="block-tn-"][class*="-radio4"]:checked ~ [class*="block-tn-"][class*="-relay"] [class*="block-tn-"][class*="-target4"],
[class*="block-tn-"][class*="-radio5"]:checked ~ [class*="block-tn-"][class*="-relay"] [class*="block-tn-"][class*="-target5"],
[class*="block-tn-"][class*="-radio6"]:checked ~ [class*="block-tn-"][class*="-relay"] [class*="block-tn-"][class*="-target6"] {
  display: block;
}

@media (min-width: 576px) {
  [class*="block-sm-"][class*="-base"],
  [class*="block-sm-"][class*="-global"] > *,
  *:hover > [class*="block-sm-"][class*="-into"],
  *:focus > [class*="block-sm-"][class*="-into"],
  *:active > [class*="block-sm-"][class*="-into"],
  [class*="block-sm-"][class*="-onto"]:hover,
  [class*="block-sm-"][class*="-onto"]:focus,
  [class*="block-sm-"][class*="-onto"]:active,
  [class*="block-sm-"][class*="-toall"]:hover > *,
  [class*="block-sm-"][class*="-toall"]:focus > *,
  [class*="block-sm-"][class*="-toall"]:active > *,
  [class*="block-sm-"][class*="-from"] > *:hover,
  [class*="block-sm-"][class*="-from"] > *:focus,
  [class*="block-sm-"][class*="-from"] > *:active,
  [class*="block-sm-"][class*="-radio1"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target1"],
  [class*="block-sm-"][class*="-radio2"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target2"],
  [class*="block-sm-"][class*="-radio3"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target3"],
  [class*="block-sm-"][class*="-radio4"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target4"],
  [class*="block-sm-"][class*="-radio5"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target5"],
  [class*="block-sm-"][class*="-radio6"]:checked ~ [class*="block-sm-"][class*="-relay"] [class*="block-sm-"][class*="-target6"] {
    display: block;
  }
}

@media (min-width: 768px) {
  [class*="block-md-"][class*="-base"],
  [class*="block-md-"][class*="-global"] > *,
  *:hover > [class*="block-md-"][class*="-into"],
  *:focus > [class*="block-md-"][class*="-into"],
  *:active > [class*="block-md-"][class*="-into"],
  [class*="block-md-"][class*="-onto"]:hover,
  [class*="block-md-"][class*="-onto"]:focus,
  [class*="block-md-"][class*="-onto"]:active,
  [class*="block-md-"][class*="-toall"]:hover > *,
  [class*="block-md-"][class*="-toall"]:focus > *,
  [class*="block-md-"][class*="-toall"]:active > *,
  [class*="block-md-"][class*="-from"] > *:hover,
  [class*="block-md-"][class*="-from"] > *:focus,
  [class*="block-md-"][class*="-from"] > *:active,
  [class*="block-md-"][class*="-radio1"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target1"],
  [class*="block-md-"][class*="-radio2"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target2"],
  [class*="block-md-"][class*="-radio3"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target3"],
  [class*="block-md-"][class*="-radio4"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target4"],
  [class*="block-md-"][class*="-radio5"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target5"],
  [class*="block-md-"][class*="-radio6"]:checked ~ [class*="block-md-"][class*="-relay"] [class*="block-md-"][class*="-target6"] {
    display: block;
  }
}

@media (min-width: 992px) {
  [class*="block-lg-"][class*="-base"],
  [class*="block-lg-"][class*="-global"] > *,
  *:hover > [class*="block-lg-"][class*="-into"],
  *:focus > [class*="block-lg-"][class*="-into"],
  *:active > [class*="block-lg-"][class*="-into"],
  [class*="block-lg-"][class*="-onto"]:hover,
  [class*="block-lg-"][class*="-onto"]:focus,
  [class*="block-lg-"][class*="-onto"]:active,
  [class*="block-lg-"][class*="-toall"]:hover > *,
  [class*="block-lg-"][class*="-toall"]:focus > *,
  [class*="block-lg-"][class*="-toall"]:active > *,
  [class*="block-lg-"][class*="-from"] > *:hover,
  [class*="block-lg-"][class*="-from"] > *:focus,
  [class*="block-lg-"][class*="-from"] > *:active,
  [class*="block-lg-"][class*="-radio1"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target1"],
  [class*="block-lg-"][class*="-radio2"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target2"],
  [class*="block-lg-"][class*="-radio3"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target3"],
  [class*="block-lg-"][class*="-radio4"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target4"],
  [class*="block-lg-"][class*="-radio5"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target5"],
  [class*="block-lg-"][class*="-radio6"]:checked ~ [class*="block-lg-"][class*="-relay"] [class*="block-lg-"][class*="-target6"] {
    display: block;
  }
}

@media (min-width: 1200px) {
  [class*="block-wd-"][class*="-base"],
  [class*="block-wd-"][class*="-global"] > *,
  *:hover > [class*="block-wd-"][class*="-into"],
  *:focus > [class*="block-wd-"][class*="-into"],
  *:active > [class*="block-wd-"][class*="-into"],
  [class*="block-wd-"][class*="-onto"]:hover,
  [class*="block-wd-"][class*="-onto"]:focus,
  [class*="block-wd-"][class*="-onto"]:active,
  [class*="block-wd-"][class*="-toall"]:hover > *,
  [class*="block-wd-"][class*="-toall"]:focus > *,
  [class*="block-wd-"][class*="-toall"]:active > *,
  [class*="block-wd-"][class*="-from"] > *:hover,
  [class*="block-wd-"][class*="-from"] > *:focus,
  [class*="block-wd-"][class*="-from"] > *:active,
  [class*="block-wd-"][class*="-radio1"]:checked ~ [class*="block-wd-"][class*="-relay"] [class*="block-wd-"][class*="-target1"],
  [class*="block-wd-"][class*="-radio2"]:checked ~ [class*="block-wd-"][class*="-relay"] [class*="block-wd-"][class*="-target2"],
  [class*="block-wd-"][class*="-radio3"]:checked ~ [class*="block-wd-"][class*="-relay"] [class*="block-wd-"][class*="-target3"],
  [class*="block-wd-"][class*="-radio4"]:checked ~ [class*="block-wd-"][class*="-relay"] [class*="block-wd-"][class*="-target4"],
  [class*="block-wd-"][class*="-radio5"]:checked ~ [class*="block-wd-"][class*="-relay"] [class*="block-wd-"][class*="-target5"],
  [class*="block-wd-"][class*="-radio6"]:checked ~ [class*="block-wd-"][class*="-relay"] [class*="block-wd-"][class*="-target6"] {
    display: block;
  }
}

/***** Hide *****/
[class*="hide-tn-"][class*="-base"],
[class*="hide-tn-"][class*="-global"] > *,
*:hover > [class*="hide-tn-"][class*="-into"],
*:focus > [class*="hide-tn-"][class*="-into"],
*:active > [class*="hide-tn-"][class*="-into"],
[class*="hide-tn-"][class*="-onto"]:hover,
[class*="hide-tn-"][class*="-onto"]:focus,
[class*="hide-tn-"][class*="-onto"]:active,
[class*="hide-tn-"][class*="-toall"]:hover > *,
[class*="hide-tn-"][class*="-toall"]:focus > *,
[class*="hide-tn-"][class*="-toall"]:active > *,
[class*="hide-tn-"][class*="-from"] > *:hover,
[class*="hide-tn-"][class*="-from"] > *:focus,
[class*="hide-tn-"][class*="-from"] > *:active,
[class*="hide-tn-"][class*="-radio1"]:checked ~ [class*="hide-tn-"][class*="-relay"] [class*="hide-tn-"][class*="-target1"],
[class*="hide-tn-"][class*="-radio2"]:checked ~ [class*="hide-tn-"][class*="-relay"] [class*="hide-tn-"][class*="-target2"],
[class*="hide-tn-"][class*="-radio3"]:checked ~ [class*="hide-tn-"][class*="-relay"] [class*="hide-tn-"][class*="-target3"],
[class*="hide-tn-"][class*="-radio4"]:checked ~ [class*="hide-tn-"][class*="-relay"] [class*="hide-tn-"][class*="-target4"],
[class*="hide-tn-"][class*="-radio5"]:checked ~ [class*="hide-tn-"][class*="-relay"] [class*="hide-tn-"][class*="-target5"],
[class*="hide-tn-"][class*="-radio6"]:checked ~ [class*="hide-tn-"][class*="-relay"] [class*="hide-tn-"][class*="-target6"] {
  display: none;
}

@media (min-width: 576px) {
  [class*="hide-sm-"][class*="-base"],
  [class*="hide-sm-"][class*="-global"] > *,
  *:hover > [class*="hide-sm-"][class*="-into"],
  *:focus > [class*="hide-sm-"][class*="-into"],
  *:active > [class*="hide-sm-"][class*="-into"],
  [class*="hide-sm-"][class*="-onto"]:hover,
  [class*="hide-sm-"][class*="-onto"]:focus,
  [class*="hide-sm-"][class*="-onto"]:active,
  [class*="hide-sm-"][class*="-toall"]:hover > *,
  [class*="hide-sm-"][class*="-toall"]:focus > *,
  [class*="hide-sm-"][class*="-toall"]:active > *,
  [class*="hide-sm-"][class*="-from"] > *:hover,
  [class*="hide-sm-"][class*="-from"] > *:focus,
  [class*="hide-sm-"][class*="-from"] > *:active,
  [class*="hide-sm-"][class*="-radio1"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target1"],
  [class*="hide-sm-"][class*="-radio2"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target2"],
  [class*="hide-sm-"][class*="-radio3"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target3"],
  [class*="hide-sm-"][class*="-radio4"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target4"],
  [class*="hide-sm-"][class*="-radio5"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target5"],
  [class*="hide-sm-"][class*="-radio6"]:checked ~ [class*="hide-sm-"][class*="-relay"] [class*="hide-sm-"][class*="-target6"] {
    display: none;
  }
}

@media (min-width: 768px) {
  [class*="hide-md-"][class*="-base"],
  [class*="hide-md-"][class*="-global"] > *,
  *:hover > [class*="hide-md-"][class*="-into"],
  *:focus > [class*="hide-md-"][class*="-into"],
  *:active > [class*="hide-md-"][class*="-into"],
  [class*="hide-md-"][class*="-onto"]:hover,
  [class*="hide-md-"][class*="-onto"]:focus,
  [class*="hide-md-"][class*="-onto"]:active,
  [class*="hide-md-"][class*="-toall"]:hover > *,
  [class*="hide-md-"][class*="-toall"]:focus > *,
  [class*="hide-md-"][class*="-toall"]:active > *,
  [class*="hide-md-"][class*="-from"] > *:hover,
  [class*="hide-md-"][class*="-from"] > *:focus,
  [class*="hide-md-"][class*="-from"] > *:active,
  [class*="hide-md-"][class*="-radio1"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target1"],
  [class*="hide-md-"][class*="-radio2"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target2"],
  [class*="hide-md-"][class*="-radio3"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target3"],
  [class*="hide-md-"][class*="-radio4"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target4"],
  [class*="hide-md-"][class*="-radio5"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target5"],
  [class*="hide-md-"][class*="-radio6"]:checked ~ [class*="hide-md-"][class*="-relay"] [class*="hide-md-"][class*="-target6"] {
    display: none;
  }
}

@media (min-width: 992px) {
  [class*="hide-lg-"][class*="-base"],
  [class*="hide-lg-"][class*="-global"] > *,
  *:hover > [class*="hide-lg-"][class*="-into"],
  *:focus > [class*="hide-lg-"][class*="-into"],
  *:active > [class*="hide-lg-"][class*="-into"],
  [class*="hide-lg-"][class*="-onto"]:hover,
  [class*="hide-lg-"][class*="-onto"]:focus,
  [class*="hide-lg-"][class*="-onto"]:active,
  [class*="hide-lg-"][class*="-toall"]:hover > *,
  [class*="hide-lg-"][class*="-toall"]:focus > *,
  [class*="hide-lg-"][class*="-toall"]:active > *,
  [class*="hide-lg-"][class*="-from"] > *:hover,
  [class*="hide-lg-"][class*="-from"] > *:focus,
  [class*="hide-lg-"][class*="-from"] > *:active,
  [class*="hide-lg-"][class*="-radio1"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target1"],
  [class*="hide-lg-"][class*="-radio2"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target2"],
  [class*="hide-lg-"][class*="-radio3"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target3"],
  [class*="hide-lg-"][class*="-radio4"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target4"],
  [class*="hide-lg-"][class*="-radio5"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target5"],
  [class*="hide-lg-"][class*="-radio6"]:checked ~ [class*="hide-lg-"][class*="-relay"] [class*="hide-lg-"][class*="-target6"] {
    display: none;
  }
}

@media (min-width: 1200px) {
  [class*="hide-wd-"][class*="-base"],
  [class*="hide-wd-"][class*="-global"] > *,
  *:hover > [class*="hide-wd-"][class*="-into"],
  *:focus > [class*="hide-wd-"][class*="-into"],
  *:active > [class*="hide-wd-"][class*="-into"],
  [class*="hide-wd-"][class*="-onto"]:hover,
  [class*="hide-wd-"][class*="-onto"]:focus,
  [class*="hide-wd-"][class*="-onto"]:active,
  [class*="hide-wd-"][class*="-toall"]:hover > *,
  [class*="hide-wd-"][class*="-toall"]:focus > *,
  [class*="hide-wd-"][class*="-toall"]:active > *,
  [class*="hide-wd-"][class*="-from"] > *:hover,
  [class*="hide-wd-"][class*="-from"] > *:focus,
  [class*="hide-wd-"][class*="-from"] > *:active,
  [class*="hide-wd-"][class*="-radio1"]:checked ~ [class*="hide-wd-"][class*="-relay"] [class*="hide-wd-"][class*="-target1"],
  [class*="hide-wd-"][class*="-radio2"]:checked ~ [class*="hide-wd-"][class*="-relay"] [class*="hide-wd-"][class*="-target2"],
  [class*="hide-wd-"][class*="-radio3"]:checked ~ [class*="hide-wd-"][class*="-relay"] [class*="hide-wd-"][class*="-target3"],
  [class*="hide-wd-"][class*="-radio4"]:checked ~ [class*="hide-wd-"][class*="-relay"] [class*="hide-wd-"][class*="-target4"],
  [class*="hide-wd-"][class*="-radio5"]:checked ~ [class*="hide-wd-"][class*="-relay"] [class*="hide-wd-"][class*="-target5"],
  [class*="hide-wd-"][class*="-radio6"]:checked ~ [class*="hide-wd-"][class*="-relay"] [class*="hide-wd-"][class*="-target6"] {
    display: none;
  }
}

/***** Inline *****/
[class*="inline-tn-"][class*="-base"],
[class*="inline-tn-"][class*="-global"] > *,
*:hover > [class*="inline-tn-"][class*="-into"],
*:focus > [class*="inline-tn-"][class*="-into"],
*:active > [class*="inline-tn-"][class*="-into"],
[class*="inline-tn-"][class*="-onto"]:hover,
[class*="inline-tn-"][class*="-onto"]:focus,
[class*="inline-tn-"][class*="-onto"]:active,
[class*="inline-tn-"][class*="-toall"]:hover > *,
[class*="inline-tn-"][class*="-toall"]:focus > *,
[class*="inline-tn-"][class*="-toall"]:active > *,
[class*="inline-tn-"][class*="-from"] > *:hover,
[class*="inline-tn-"][class*="-from"] > *:focus,
[class*="inline-tn-"][class*="-from"] > *:active,
[class*="inline-tn-"][class*="-radio1"]:checked ~ [class*="inline-tn-"][class*="-relay"] [class*="inline-tn-"][class*="-target1"],
[class*="inline-tn-"][class*="-radio2"]:checked ~ [class*="inline-tn-"][class*="-relay"] [class*="inline-tn-"][class*="-target2"],
[class*="inline-tn-"][class*="-radio3"]:checked ~ [class*="inline-tn-"][class*="-relay"] [class*="inline-tn-"][class*="-target3"],
[class*="inline-tn-"][class*="-radio4"]:checked ~ [class*="inline-tn-"][class*="-relay"] [class*="inline-tn-"][class*="-target4"],
[class*="inline-tn-"][class*="-radio5"]:checked ~ [class*="inline-tn-"][class*="-relay"] [class*="inline-tn-"][class*="-target5"],
[class*="inline-tn-"][class*="-radio6"]:checked ~ [class*="inline-tn-"][class*="-relay"] [class*="inline-tn-"][class*="-target6"] {
  display: inline;
}

@media (min-width: 576px) {
  [class*="inline-sm-"][class*="-base"],
  [class*="inline-sm-"][class*="-global"] > *,
  *:hover > [class*="inline-sm-"][class*="-into"],
  *:focus > [class*="inline-sm-"][class*="-into"],
  *:active > [class*="inline-sm-"][class*="-into"],
  [class*="inline-sm-"][class*="-onto"]:hover,
  [class*="inline-sm-"][class*="-onto"]:focus,
  [class*="inline-sm-"][class*="-onto"]:active,
  [class*="inline-sm-"][class*="-toall"]:hover > *,
  [class*="inline-sm-"][class*="-toall"]:focus > *,
  [class*="inline-sm-"][class*="-toall"]:active > *,
  [class*="inline-sm-"][class*="-from"] > *:hover,
  [class*="inline-sm-"][class*="-from"] > *:focus,
  [class*="inline-sm-"][class*="-from"] > *:active,
  [class*="inline-sm-"][class*="-radio1"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target1"],
  [class*="inline-sm-"][class*="-radio2"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target2"],
  [class*="inline-sm-"][class*="-radio3"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target3"],
  [class*="inline-sm-"][class*="-radio4"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target4"],
  [class*="inline-sm-"][class*="-radio5"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target5"],
  [class*="inline-sm-"][class*="-radio6"]:checked ~ [class*="inline-sm-"][class*="-relay"] [class*="inline-sm-"][class*="-target6"] {
    display: inline;
  }
}

@media (min-width: 768px) {
  [class*="inline-md-"][class*="-base"],
  [class*="inline-md-"][class*="-global"] > *,
  *:hover > [class*="inline-md-"][class*="-into"],
  *:focus > [class*="inline-md-"][class*="-into"],
  *:active > [class*="inline-md-"][class*="-into"],
  [class*="inline-md-"][class*="-onto"]:hover,
  [class*="inline-md-"][class*="-onto"]:focus,
  [class*="inline-md-"][class*="-onto"]:active,
  [class*="inline-md-"][class*="-toall"]:hover > *,
  [class*="inline-md-"][class*="-toall"]:focus > *,
  [class*="inline-md-"][class*="-toall"]:active > *,
  [class*="inline-md-"][class*="-from"] > *:hover,
  [class*="inline-md-"][class*="-from"] > *:focus,
  [class*="inline-md-"][class*="-from"] > *:active,
  [class*="inline-md-"][class*="-radio1"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target1"],
  [class*="inline-md-"][class*="-radio2"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target2"],
  [class*="inline-md-"][class*="-radio3"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target3"],
  [class*="inline-md-"][class*="-radio4"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target4"],
  [class*="inline-md-"][class*="-radio5"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target5"],
  [class*="inline-md-"][class*="-radio6"]:checked ~ [class*="inline-md-"][class*="-relay"] [class*="inline-md-"][class*="-target6"] {
    display: inline;
  }
}

@media (min-width: 992px) {
  [class*="inline-lg-"][class*="-base"],
  [class*="inline-lg-"][class*="-global"] > *,
  *:hover > [class*="inline-lg-"][class*="-into"],
  *:focus > [class*="inline-lg-"][class*="-into"],
  *:active > [class*="inline-lg-"][class*="-into"],
  [class*="inline-lg-"][class*="-onto"]:hover,
  [class*="inline-lg-"][class*="-onto"]:focus,
  [class*="inline-lg-"][class*="-onto"]:active,
  [class*="inline-lg-"][class*="-toall"]:hover > *,
  [class*="inline-lg-"][class*="-toall"]:focus > *,
  [class*="inline-lg-"][class*="-toall"]:active > *,
  [class*="inline-lg-"][class*="-from"] > *:hover,
  [class*="inline-lg-"][class*="-from"] > *:focus,
  [class*="inline-lg-"][class*="-from"] > *:active,
  [class*="inline-lg-"][class*="-radio1"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target1"],
  [class*="inline-lg-"][class*="-radio2"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target2"],
  [class*="inline-lg-"][class*="-radio3"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target3"],
  [class*="inline-lg-"][class*="-radio4"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target4"],
  [class*="inline-lg-"][class*="-radio5"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target5"],
  [class*="inline-lg-"][class*="-radio6"]:checked ~ [class*="inline-lg-"][class*="-relay"] [class*="inline-lg-"][class*="-target6"] {
    display: inline;
  }
}

@media (min-width: 1200px) {
  [class*="inline-wd-"][class*="-base"],
  [class*="inline-wd-"][class*="-global"] > *,
  *:hover > [class*="inline-wd-"][class*="-into"],
  *:focus > [class*="inline-wd-"][class*="-into"],
  *:active > [class*="inline-wd-"][class*="-into"],
  [class*="inline-wd-"][class*="-onto"]:hover,
  [class*="inline-wd-"][class*="-onto"]:focus,
  [class*="inline-wd-"][class*="-onto"]:active,
  [class*="inline-wd-"][class*="-toall"]:hover > *,
  [class*="inline-wd-"][class*="-toall"]:focus > *,
  [class*="inline-wd-"][class*="-toall"]:active > *,
  [class*="inline-wd-"][class*="-from"] > *:hover,
  [class*="inline-wd-"][class*="-from"] > *:focus,
  [class*="inline-wd-"][class*="-from"] > *:active,
  [class*="inline-wd-"][class*="-radio1"]:checked ~ [class*="inline-wd-"][class*="-relay"] [class*="inline-wd-"][class*="-target1"],
  [class*="inline-wd-"][class*="-radio2"]:checked ~ [class*="inline-wd-"][class*="-relay"] [class*="inline-wd-"][class*="-target2"],
  [class*="inline-wd-"][class*="-radio3"]:checked ~ [class*="inline-wd-"][class*="-relay"] [class*="inline-wd-"][class*="-target3"],
  [class*="inline-wd-"][class*="-radio4"]:checked ~ [class*="inline-wd-"][class*="-relay"] [class*="inline-wd-"][class*="-target4"],
  [class*="inline-wd-"][class*="-radio5"]:checked ~ [class*="inline-wd-"][class*="-relay"] [class*="inline-wd-"][class*="-target5"],
  [class*="inline-wd-"][class*="-radio6"]:checked ~ [class*="inline-wd-"][class*="-relay"] [class*="inline-wd-"][class*="-target6"] {
    display: inline;
  }
}
