/********** DISPLAY ***********/

/*
1. Dis
2. Pos
3. Flow
4. Container
5. Cursor
*/

/***** Dis *****/
[class*="dis"][class*="block"] {
    display: block;
}

[class*="dis"][class*="inbloc"] {
    display: inline-block;
}

[class*="dis"][class*="inline"] {
    display: inline;
}

[class*="dis"][class*="hidden"],
[class*="dio"] {
    display: none;
}

/***** Pos *****/
[class*="pos"][class*="absolute"] {
    position: absolute;
}

[class*="pos"][class*="fixed"] {
    position: fixed;
}

[class*="pos"][class*="relative"] {
    position: relative;
}

[class*="pos"][class*="sticky"] {
    position: sticky;
}

/***** Flow *****/
[class*="flow"][class*="hidden"] {
    overflow: hidden;
}

[class*="flow"][class*="scroll"] {
    overflow: scroll;
}

/***** Container *****/
[class*="container"] {
    margin: auto;
}

[class*="container"][class*="sm"] {
    max-width: var(--max-width-sm);
}

.container {
    max-width: var(--max-width-md);
}

[class*="container"][class*="lg"] {
    max-width: var(--max-width-lg);
}

/***** Cursor *****/
.crosshair,
.crosshair > * {
    cursor: crosshair;
}

.help,
.help > * {
    cursor: help;
}

.forbidden,
.forbidden > * {
    cursor: not-allowed;
}

.pointer,
.pointer > * {
    cursor: pointer;
}
