/********** FLOW **********/

/*
1. Hidden
2. Scroll
*/

/***** Hidden *****/
[class*="hidden-tn-"][class*="-base"],
[class*="hidden-tn-"][class*="-global"] > *,
*:hover > [class*="hidden-tn-"][class*="-into"],
*:focus > [class*="hidden-tn-"][class*="-into"],
*:active > [class*="hidden-tn-"][class*="-into"],
[class*="hidden-tn-"][class*="-onto"]:hover,
[class*="hidden-tn-"][class*="-onto"]:focus,
[class*="hidden-tn-"][class*="-onto"]:active,
[class*="hidden-tn-"][class*="-toall"]:hover > *,
[class*="hidden-tn-"][class*="-toall"]:focus > *,
[class*="hidden-tn-"][class*="-toall"]:active > *,
[class*="hidden-tn-"][class*="-from"] > *:hover,
[class*="hidden-tn-"][class*="-from"] > *:focus,
[class*="hidden-tn-"][class*="-from"] > *:active,
[class*="hidden-tn-"][class*="-radio1"]:checked ~ [class*="hidden-tn-"][class*="-relay"] [class*="hidden-tn-"][class*="-target1"],
[class*="hidden-tn-"][class*="-radio2"]:checked ~ [class*="hidden-tn-"][class*="-relay"] [class*="hidden-tn-"][class*="-target2"],
[class*="hidden-tn-"][class*="-radio3"]:checked ~ [class*="hidden-tn-"][class*="-relay"] [class*="hidden-tn-"][class*="-target3"],
[class*="hidden-tn-"][class*="-radio4"]:checked ~ [class*="hidden-tn-"][class*="-relay"] [class*="hidden-tn-"][class*="-target4"],
[class*="hidden-tn-"][class*="-radio5"]:checked ~ [class*="hidden-tn-"][class*="-relay"] [class*="hidden-tn-"][class*="-target5"],
[class*="hidden-tn-"][class*="-radio6"]:checked ~ [class*="hidden-tn-"][class*="-relay"] [class*="hidden-tn-"][class*="-target6"] {
  overflow: hidden;
}

@media (min-width: 576px) {
  [class*="hidden-sm-"][class*="-base"],
  [class*="hidden-sm-"][class*="-global"] > *,
  *:hover > [class*="hidden-sm-"][class*="-into"],
  *:focus > [class*="hidden-sm-"][class*="-into"],
  *:active > [class*="hidden-sm-"][class*="-into"],
  [class*="hidden-sm-"][class*="-onto"]:hover,
  [class*="hidden-sm-"][class*="-onto"]:focus,
  [class*="hidden-sm-"][class*="-onto"]:active,
  [class*="hidden-sm-"][class*="-toall"]:hover > *,
  [class*="hidden-sm-"][class*="-toall"]:focus > *,
  [class*="hidden-sm-"][class*="-toall"]:active > *,
  [class*="hidden-sm-"][class*="-from"] > *:hover,
  [class*="hidden-sm-"][class*="-from"] > *:focus,
  [class*="hidden-sm-"][class*="-from"] > *:active,
  [class*="hidden-sm-"][class*="-radio1"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target1"],
  [class*="hidden-sm-"][class*="-radio2"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target2"],
  [class*="hidden-sm-"][class*="-radio3"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target3"],
  [class*="hidden-sm-"][class*="-radio4"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target4"],
  [class*="hidden-sm-"][class*="-radio5"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target5"],
  [class*="hidden-sm-"][class*="-radio6"]:checked ~ [class*="hidden-sm-"][class*="-relay"] [class*="hidden-sm-"][class*="-target6"] {
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  [class*="hidden-md-"][class*="-base"],
  [class*="hidden-md-"][class*="-global"] > *,
  *:hover > [class*="hidden-md-"][class*="-into"],
  *:focus > [class*="hidden-md-"][class*="-into"],
  *:active > [class*="hidden-md-"][class*="-into"],
  [class*="hidden-md-"][class*="-onto"]:hover,
  [class*="hidden-md-"][class*="-onto"]:focus,
  [class*="hidden-md-"][class*="-onto"]:active,
  [class*="hidden-md-"][class*="-toall"]:hover > *,
  [class*="hidden-md-"][class*="-toall"]:focus > *,
  [class*="hidden-md-"][class*="-toall"]:active > *,
  [class*="hidden-md-"][class*="-from"] > *:hover,
  [class*="hidden-md-"][class*="-from"] > *:focus,
  [class*="hidden-md-"][class*="-from"] > *:active,
  [class*="hidden-md-"][class*="-radio1"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target1"],
  [class*="hidden-md-"][class*="-radio2"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target2"],
  [class*="hidden-md-"][class*="-radio3"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target3"],
  [class*="hidden-md-"][class*="-radio4"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target4"],
  [class*="hidden-md-"][class*="-radio5"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target5"],
  [class*="hidden-md-"][class*="-radio6"]:checked ~ [class*="hidden-md-"][class*="-relay"] [class*="hidden-md-"][class*="-target6"] {
    overflow: hidden;
  }
}

@media (min-width: 992px) {
  [class*="hidden-lg-"][class*="-base"],
  [class*="hidden-lg-"][class*="-global"] > *,
  *:hover > [class*="hidden-lg-"][class*="-into"],
  *:focus > [class*="hidden-lg-"][class*="-into"],
  *:active > [class*="hidden-lg-"][class*="-into"],
  [class*="hidden-lg-"][class*="-onto"]:hover,
  [class*="hidden-lg-"][class*="-onto"]:focus,
  [class*="hidden-lg-"][class*="-onto"]:active,
  [class*="hidden-lg-"][class*="-toall"]:hover > *,
  [class*="hidden-lg-"][class*="-toall"]:focus > *,
  [class*="hidden-lg-"][class*="-toall"]:active > *,
  [class*="hidden-lg-"][class*="-from"] > *:hover,
  [class*="hidden-lg-"][class*="-from"] > *:focus,
  [class*="hidden-lg-"][class*="-from"] > *:active,
  [class*="hidden-lg-"][class*="-radio1"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target1"],
  [class*="hidden-lg-"][class*="-radio2"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target2"],
  [class*="hidden-lg-"][class*="-radio3"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target3"],
  [class*="hidden-lg-"][class*="-radio4"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target4"],
  [class*="hidden-lg-"][class*="-radio5"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target5"],
  [class*="hidden-lg-"][class*="-radio6"]:checked ~ [class*="hidden-lg-"][class*="-relay"] [class*="hidden-lg-"][class*="-target6"] {
    overflow: hidden;
  }
}

@media (min-width: 1200px) {
  [class*="hidden-wd-"][class*="-base"],
  [class*="hidden-wd-"][class*="-global"] > *,
  *:hover > [class*="hidden-wd-"][class*="-into"],
  *:focus > [class*="hidden-wd-"][class*="-into"],
  *:active > [class*="hidden-wd-"][class*="-into"],
  [class*="hidden-wd-"][class*="-onto"]:hover,
  [class*="hidden-wd-"][class*="-onto"]:focus,
  [class*="hidden-wd-"][class*="-onto"]:active,
  [class*="hidden-wd-"][class*="-toall"]:hover > *,
  [class*="hidden-wd-"][class*="-toall"]:focus > *,
  [class*="hidden-wd-"][class*="-toall"]:active > *,
  [class*="hidden-wd-"][class*="-from"] > *:hover,
  [class*="hidden-wd-"][class*="-from"] > *:focus,
  [class*="hidden-wd-"][class*="-from"] > *:active,
  [class*="hidden-wd-"][class*="-radio1"]:checked ~ [class*="hidden-wd-"][class*="-relay"] [class*="hidden-wd-"][class*="-target1"],
  [class*="hidden-wd-"][class*="-radio2"]:checked ~ [class*="hidden-wd-"][class*="-relay"] [class*="hidden-wd-"][class*="-target2"],
  [class*="hidden-wd-"][class*="-radio3"]:checked ~ [class*="hidden-wd-"][class*="-relay"] [class*="hidden-wd-"][class*="-target3"],
  [class*="hidden-wd-"][class*="-radio4"]:checked ~ [class*="hidden-wd-"][class*="-relay"] [class*="hidden-wd-"][class*="-target4"],
  [class*="hidden-wd-"][class*="-radio5"]:checked ~ [class*="hidden-wd-"][class*="-relay"] [class*="hidden-wd-"][class*="-target5"],
  [class*="hidden-wd-"][class*="-radio6"]:checked ~ [class*="hidden-wd-"][class*="-relay"] [class*="hidden-wd-"][class*="-target6"] {
    overflow: hidden;
  }
}

/***** Scroll *****/
[class*="scroll-tn-"][class*="-base"],
[class*="scroll-tn-"][class*="-global"] > *,
*:hover > [class*="scroll-tn-"][class*="-into"],
*:focus > [class*="scroll-tn-"][class*="-into"],
*:active > [class*="scroll-tn-"][class*="-into"],
[class*="scroll-tn-"][class*="-onto"]:hover,
[class*="scroll-tn-"][class*="-onto"]:focus,
[class*="scroll-tn-"][class*="-onto"]:active,
[class*="scroll-tn-"][class*="-toall"]:hover > *,
[class*="scroll-tn-"][class*="-toall"]:focus > *,
[class*="scroll-tn-"][class*="-toall"]:active > *,
[class*="scroll-tn-"][class*="-from"] > *:hover,
[class*="scroll-tn-"][class*="-from"] > *:focus,
[class*="scroll-tn-"][class*="-from"] > *:active,
[class*="scroll-tn-"][class*="-radio1"]:checked ~ [class*="scroll-tn-"][class*="-relay"] [class*="scroll-tn-"][class*="-target1"],
[class*="scroll-tn-"][class*="-radio2"]:checked ~ [class*="scroll-tn-"][class*="-relay"] [class*="scroll-tn-"][class*="-target2"],
[class*="scroll-tn-"][class*="-radio3"]:checked ~ [class*="scroll-tn-"][class*="-relay"] [class*="scroll-tn-"][class*="-target3"],
[class*="scroll-tn-"][class*="-radio4"]:checked ~ [class*="scroll-tn-"][class*="-relay"] [class*="scroll-tn-"][class*="-target4"],
[class*="scroll-tn-"][class*="-radio5"]:checked ~ [class*="scroll-tn-"][class*="-relay"] [class*="scroll-tn-"][class*="-target5"],
[class*="scroll-tn-"][class*="-radio6"]:checked ~ [class*="scroll-tn-"][class*="-relay"] [class*="scroll-tn-"][class*="-target6"] {
  overflow: scroll;
}

@media (min-width: 576px) {
  [class*="scroll-sm-"][class*="-base"],
  [class*="scroll-sm-"][class*="-global"] > *,
  *:hover > [class*="scroll-sm-"][class*="-into"],
  *:focus > [class*="scroll-sm-"][class*="-into"],
  *:active > [class*="scroll-sm-"][class*="-into"],
  [class*="scroll-sm-"][class*="-onto"]:hover,
  [class*="scroll-sm-"][class*="-onto"]:focus,
  [class*="scroll-sm-"][class*="-onto"]:active,
  [class*="scroll-sm-"][class*="-toall"]:hover > *,
  [class*="scroll-sm-"][class*="-toall"]:focus > *,
  [class*="scroll-sm-"][class*="-toall"]:active > *,
  [class*="scroll-sm-"][class*="-from"] > *:hover,
  [class*="scroll-sm-"][class*="-from"] > *:focus,
  [class*="scroll-sm-"][class*="-from"] > *:active,
  [class*="scroll-sm-"][class*="-radio1"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target1"],
  [class*="scroll-sm-"][class*="-radio2"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target2"],
  [class*="scroll-sm-"][class*="-radio3"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target3"],
  [class*="scroll-sm-"][class*="-radio4"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target4"],
  [class*="scroll-sm-"][class*="-radio5"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target5"],
  [class*="scroll-sm-"][class*="-radio6"]:checked ~ [class*="scroll-sm-"][class*="-relay"] [class*="scroll-sm-"][class*="-target6"] {
    overflow: scroll;
  }
}

@media (min-width: 768px) {
  [class*="scroll-md-"][class*="-base"],
  [class*="scroll-md-"][class*="-global"] > *,
  *:hover > [class*="scroll-md-"][class*="-into"],
  *:focus > [class*="scroll-md-"][class*="-into"],
  *:active > [class*="scroll-md-"][class*="-into"],
  [class*="scroll-md-"][class*="-onto"]:hover,
  [class*="scroll-md-"][class*="-onto"]:focus,
  [class*="scroll-md-"][class*="-onto"]:active,
  [class*="scroll-md-"][class*="-toall"]:hover > *,
  [class*="scroll-md-"][class*="-toall"]:focus > *,
  [class*="scroll-md-"][class*="-toall"]:active > *,
  [class*="scroll-md-"][class*="-from"] > *:hover,
  [class*="scroll-md-"][class*="-from"] > *:focus,
  [class*="scroll-md-"][class*="-from"] > *:active,
  [class*="scroll-md-"][class*="-radio1"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target1"],
  [class*="scroll-md-"][class*="-radio2"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target2"],
  [class*="scroll-md-"][class*="-radio3"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target3"],
  [class*="scroll-md-"][class*="-radio4"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target4"],
  [class*="scroll-md-"][class*="-radio5"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target5"],
  [class*="scroll-md-"][class*="-radio6"]:checked ~ [class*="scroll-md-"][class*="-relay"] [class*="scroll-md-"][class*="-target6"] {
    overflow: scroll;
  }
}

@media (min-width: 992px) {
  [class*="scroll-lg-"][class*="-base"],
  [class*="scroll-lg-"][class*="-global"] > *,
  *:hover > [class*="scroll-lg-"][class*="-into"],
  *:focus > [class*="scroll-lg-"][class*="-into"],
  *:active > [class*="scroll-lg-"][class*="-into"],
  [class*="scroll-lg-"][class*="-onto"]:hover,
  [class*="scroll-lg-"][class*="-onto"]:focus,
  [class*="scroll-lg-"][class*="-onto"]:active,
  [class*="scroll-lg-"][class*="-toall"]:hover > *,
  [class*="scroll-lg-"][class*="-toall"]:focus > *,
  [class*="scroll-lg-"][class*="-toall"]:active > *,
  [class*="scroll-lg-"][class*="-from"] > *:hover,
  [class*="scroll-lg-"][class*="-from"] > *:focus,
  [class*="scroll-lg-"][class*="-from"] > *:active,
  [class*="scroll-lg-"][class*="-radio1"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target1"],
  [class*="scroll-lg-"][class*="-radio2"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target2"],
  [class*="scroll-lg-"][class*="-radio3"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target3"],
  [class*="scroll-lg-"][class*="-radio4"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target4"],
  [class*="scroll-lg-"][class*="-radio5"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target5"],
  [class*="scroll-lg-"][class*="-radio6"]:checked ~ [class*="scroll-lg-"][class*="-relay"] [class*="scroll-lg-"][class*="-target6"] {
    overflow: scroll;
  }
}

@media (min-width: 1200px) {
  [class*="scroll-wd-"][class*="-base"],
  [class*="scroll-wd-"][class*="-global"] > *,
  *:hover > [class*="scroll-wd-"][class*="-into"],
  *:focus > [class*="scroll-wd-"][class*="-into"],
  *:active > [class*="scroll-wd-"][class*="-into"],
  [class*="scroll-wd-"][class*="-onto"]:hover,
  [class*="scroll-wd-"][class*="-onto"]:focus,
  [class*="scroll-wd-"][class*="-onto"]:active,
  [class*="scroll-wd-"][class*="-toall"]:hover > *,
  [class*="scroll-wd-"][class*="-toall"]:focus > *,
  [class*="scroll-wd-"][class*="-toall"]:active > *,
  [class*="scroll-wd-"][class*="-from"] > *:hover,
  [class*="scroll-wd-"][class*="-from"] > *:focus,
  [class*="scroll-wd-"][class*="-from"] > *:active,
  [class*="scroll-wd-"][class*="-radio1"]:checked ~ [class*="scroll-wd-"][class*="-relay"] [class*="scroll-wd-"][class*="-target1"],
  [class*="scroll-wd-"][class*="-radio2"]:checked ~ [class*="scroll-wd-"][class*="-relay"] [class*="scroll-wd-"][class*="-target2"],
  [class*="scroll-wd-"][class*="-radio3"]:checked ~ [class*="scroll-wd-"][class*="-relay"] [class*="scroll-wd-"][class*="-target3"],
  [class*="scroll-wd-"][class*="-radio4"]:checked ~ [class*="scroll-wd-"][class*="-relay"] [class*="scroll-wd-"][class*="-target4"],
  [class*="scroll-wd-"][class*="-radio5"]:checked ~ [class*="scroll-wd-"][class*="-relay"] [class*="scroll-wd-"][class*="-target5"],
  [class*="scroll-wd-"][class*="-radio6"]:checked ~ [class*="scroll-wd-"][class*="-relay"] [class*="scroll-wd-"][class*="-target6"] {
    overflow: scroll;
  }
}
