/********** GLOBAL VAR **********/

/*
1. Navbar
2. Colors
3. Keyframes
4. Init
5. Mar
6. Pad
7. Height
8. Width
*/

/***** Root Variables *****/
:root {
  /* Navbar */
  --navbar-height: 80px;

  /***** Colors *****/
  --black: rgb(15, 15, 15);
  --blue: RoyalBlue;
  --gray: DimGray;
  --green: ForestGreen;
  --maroon: SaddleBrown;
  --orange: DarkOrange;
  --purple: SlateBlue;
  --red: Crimson;
  --yellow: Gold;
  --choco: Chocolate;
  --jade: PaleGreen;
  --khaki: Khaki;
  --salmon: Salmon;
  --silver: Silver;
  --sky: SkyBlue;
  --tomato: Tomato;
  --violet: Violet;
  --white: Ivory;
  --facebook: #4267b2;
  --github: #24292e;
  --linkedin: #0077b5;
  --npm: #c12127;
  --stackoverflow: #f48024;
  --twitter: #1da1f2;
  --amethyst: rgba(153, 102, 204, 0.5);
  --citrine: rgba(228, 208, 10, 0.5);
  --quartz: rgba(217, 217, 243, 0.5);
  --emerald: rgba(80, 200, 120, 0.5);
  --obsidian: rgba(15, 15, 15, 0.5);
  --ruby: rgba(224, 17, 95, 0.5);
  --sapphire: rgba(15, 82, 186, 0.5);

  /***** Keyframes *****/
  --rotate: rotate(-360deg);
  --rotateX: rotateX(-360deg);
  --rotateY: rotateY(-360deg);
  --scale: scale(0);
  --scaleX: scaleX(0);
  --scaleY: scaleY(0);
  --skew: skew(180deg, 180deg);
  --skewX: skewX(180deg);
  --skewY: skewY(180deg);
  --translate: translate(-100vw, -100vh);
  --translateX: translateX(-100vw);
  --translateY: translateY(-100vh);
  --trany-tn: translateY(2vh);
}

/***** Init *****/
body {
  --global-font-family: serif;
  --global-line-height: 1.6;
  --global-font-size: 1.8rem;
}

article {
  --article-mar-bot: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: sans-serif;
  --title-wd-font-size: 5rem;
  --title-wd-text-transform: capitalize;
  --title-lg-font-size: 3.5rem;
  --title-lg-text-transform: none;
  --title-md-font-size: 3rem;
  --title-sm-font-size: 2.5rem;
  --title-tn-font-size: 2rem;
}

a {
  --link-deco: none;
  --link-outline: 0;
}

ul {
  --list-mar: 0 0 10px;
  --list-pad: 0;
  --list-style: none;
}

img,
video {
  --img-height: auto;
  --img-max-width: 100%;
  --img-object-fit: contain;
}

table {
  --table-mar: auto;
  --table-bord-collapse: collapse;
  --table-text-align: center;
  --table-vertical-align: middle;
}

label {
  --label-cursor: pointer;
}

pre {
  --pre-font-family: monospace;
  --pre-overflow: scroll;
  --pre-pad: 10px;
  --pre-selection-bg: var(--jade);
  --pre-selection-color: var(--black);
}

/***** Mar *****/
[class*="mar-"] {
  --mar-none: 0;
  --mar-sm: 10px;
  --mar-md: 20px;
  --mar-lg: 50px;
  --mar-bot-sm: 10px;
  --mar-bot-md: 20px;
  --mar-bot-lg: 50px;
  --mar-left-sm: 10px;
  --mar-left-md: 20px;
  --mar-left-lg: 50px;
  --mar-right-sm: 10px;
  --mar-right-md: 20px;
  --mar-right-lg: 50px;
  --mar-top-sm: 10px;
  --mar-top-md: 20px;
  --mar-top-lg: 50px;
}

/***** Pad *****/
[class*="pad-"] {
  --pad-none: 0;
  --pad-sm: 10px;
  --pad-md: 20px;
  --pad-lg: 50px;
  --pad-bot-sm: 10px;
  --pad-bot-md: 20px;
  --pad-bot-lg: 50px;
  --pad-left-sm: 10px;
  --pad-left-md: 20px;
  --pad-left-lg: 50px;
  --pad-right-sm: 10px;
  --pad-right-md: 20px;
  --pad-right-lg: 50px;
  --pad-top-sm: 10px;
  --pad-top-md: 20px;
  --pad-top-lg: 50px;
}

/***** Height *****/
[class*="height-"] {
  --height-sm: 10vh;
  --height-md: 50vh;
  --height-lg: 100vh;
}

[class*="max-h-"] {
  --max-height-sm: 50vh;
  --max-height-md: 75vh;
  --max-height-lg: 100vh;
}

[class*="min-h-"] {
  --min-height-sm: 25vh;
  --min-height-md: 50vh;
  --min-height-lg: 75vh;
}

/***** Width *****/
[class*="width-"] {
  --width-sm: 25%;
  --width-md: 50%;
  --width-lg: 100%;
}

[class*="max-w-"] {
  --max-width-sm: 50%;
  --max-width-md: 75%;
  --max-width-lg: 100%;
}

[class*="min-w-"] {
  --min-width-sm: 25%;
  --min-width-md: 50%;
  --min-width-lg: 75%;
}

