/********** HELPERS **********/

/*
1. Font
2. Cursor
3. Container
4. Text
*/

/***** Font *****/
[class*="font-"][class*="-normal"] {
  font-style: normal;
  font-weight: normal;
}

[class*="font-"][class*="-italic"] {
  font-style: italic;
}

[class*="font-"][class*="-bold"] {
  font-weight: bold;
}

/***** Cursor *****/
[class*="cursor-"][class*="-cross"],
[class*="cursor-"][class*="-cross"] > * {
  cursor: crosshair;
}

[class*="cursor-"][class*="-help"],
[class*="cursor-"][class*="-help"] > * {
  cursor: help;
}

[class*="cursor-"][class*="-none"],
[class*="cursor-"][class*="-none"] > * {
  cursor: not-allowed;
}

[class*="cursor-"][class*="-hand"],
[class*="cursor-"][class*="-hand"] > * {
  cursor: pointer;
}

/***** Container *****/
[class*="container-"] {
  margin: auto;
}

[class*="container-"][class*="-70xs"] {
  max-width: 70%;
}

[class*="container-"][class*="-80xs"] {
  max-width: 80%;
}

[class*="container-"][class*="-90xs"] {
  max-width: 90%;
}

@media (min-width: 576px) {
  [class*="container-"][class*="-70sm"] {
    max-width: 70%;
  }

  [class*="container-"][class*="-80sm"] {
    max-width: 80%;
  }

  [class*="container-"][class*="-90sm"] {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  [class*="container-"][class*="-70sm"] {
    max-width: 70%;
  }

  [class*="container-"][class*="-80sm"] {
    max-width: 80%;
  }

  [class*="container-"][class*="-90sm"] {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  [class*="container-"][class*="-70lg"] {
    max-width: 70%;
  }

  [class*="container-"][class*="-80lg"] {
    max-width: 80%;
  }

  [class*="container-"][class*="-90lg"] {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  [class*="container-"][class*="-70xl"] {
    max-width: 70%;
  }

  [class*="container-"][class*="-80xl"] {
    max-width: 80%;
  }

  [class*="container-"][class*="-90xl"] {
    max-width: 90%;
  }
}

/***** Text *****/
[class*="text-"][class*="-center-xs"] {
  text-align: center;
}

[class*="text-"][class*="-justify-xs"] {
  text-align: justify;
}

[class*="text-"][class*="-right-xs"] {
  text-align: right;
}

[class*="text-"][class*="-left-xs"] {
  text-align: left;
}

@media (min-width: 576px) {
  [class*="text-"][class*="-center-sm"] {
    text-align: center;
  }

  [class*="text-"][class*="-justify-sm"] {
    text-align: justify;
  }

  [class*="text-"][class*="-right-sm"] {
    text-align: right;
  }

  [class*="text-"][class*="-left-sm"] {
    text-align: left;
  }
}

@media (min-width: 768px) {
  [class*="text-"][class*="-center-md"] {
    text-align: center;
  }

  [class*="text-"][class*="-justify-md"] {
    text-align: justify;
  }

  [class*="text-"][class*="-right-md"] {
    text-align: right;
  }

  [class*="text-"][class*="-left-md"] {
    text-align: left;
  }
}

@media (min-width: 992px) {
  [class*="text-"][class*="-center-lg"] {
    text-align: center;
  }

  [class*="text-"][class*="-justify-lg"] {
    text-align: justify;
  }

  [class*="text-"][class*="-right-lg"] {
    text-align: right;
  }

  [class*="text-"][class*="-left-lg"] {
    text-align: left;
  }
}

@media (min-width: 1200px) {
  [class*="text-"][class*="-center-xl"] {
    text-align: center;
  }

  [class*="text-"][class*="-justify-xl"] {
    text-align: justify;
  }

  [class*="text-"][class*="-right-xl"] {
    text-align: right;
  }

  [class*="text-"][class*="-left-xl"] {
    text-align: left;
  }
}

