/******************************/
/********** HELPERS ***********/
/******************************/


/* Container */
/* Cursor */
/* Display */
/* Font */
/* Height */
/* Overflow */
/* Position */
/* Text Align */
/* Width */


/****************************/
/***** Container Helper *****/
.container {
    margin: auto;
    max-width: 80%;
}


/**************************/
/***** Cursor Helpers *****/
.cursor-cross,
.cursor-cross > * {
    cursor: crosshair;
}

.cursor-help,
.cursor-help > * {
    cursor: help;
}

.cursor-none,
.cursor-none > * {
    cursor: not-allowed;
}

.cursor-pointer,
.cursor-pointer > * {
    cursor: pointer;
}

.cursor-text,
.cursor-text > * {
    cursor: text;
}


/***************************/
/***** Display Helpers *****/
.dis-block {
    display: block;
}

.dis-flex {
    display: flex;
}

.dis-in-block {
    display: inline-block;
}

.dis-inline {
    display: inline;
}

.dis-none {
    display: none;
}


/************************/
/***** Font Helpers *****/
.font-normal {
    font-style: normal;
    font-weight: normal;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold;
}

