/******************************/
/********** HELPERS ***********/
/******************************/


/* Container */
/* Cursor */
/* Display */
/* Font */
/* Height */
/* Overflow */
/* Position */
/* Text Align */
/* Width */


/****************************/
/***** Container Helper *****/
.container {
    margin: auto;
    max-width: 80%;
}


/**************************/
/***** Cursor Helpers *****/
.cursor-cross,
.cursor-cross > * {
    cursor: crosshair;
}

.cursor-help,
.cursor-help > * {
    cursor: help;
}

.cursor-none,
.cursor-none > * {
    cursor: not-allowed;
}

.cursor-pointer,
.cursor-pointer > * {
    cursor: pointer;
}

.cursor-text,
.cursor-text > * {
    cursor: text;
}


/***************************/
/***** Display Helpers *****/
.dis-block {
    display: block;
}

.dis-flex {
    display: flex;
}

.dis-in-block {
    display: inline-block;
}

.dis-inline {
    display: inline;
}

.dis-none {
    display: none;
}


/************************/
/***** Font Helpers *****/
.font-normal {
    font-style: normal;
    font-weight: normal;
}

.font-italic {
    font-style: italic;
}

.font-bold {
    font-weight: bold;
}


/**************************/
/***** Height Helpers *****/
.height-sm,
.g-height-sm > * {
    height: var(--height-sm);
}

.height-md,
.g-height-md > * {
    height: var(--height-md);
}

.height-lg,
.g-height-lg > * {
    height: var(--height-lg);
}

/***** Min Height Helpers *****/
.min-height-sm,
.g-min-height-sm > * {
    min-height: var(--min-height-sm);
}

.min-height-md,
.g-min-height-md > * {
    min-height: var(--min-height-md);
}

.min-height-lg,
.g-min-height-lg > * {
    min-height: var(--min-height-lg);
}

/***** Max Height Helpers *****/
.max-height-sm,
.g-max-height-sm > * {
    max-height: var(--max-height-sm);
}

.max-height-md,
.g-max-height-md > * {
    max-height: var(--max-height-md);
}

.max-height-lg,
.g-max-height-lg > * {
    max-height: var(--max-height-lg);
}


/******************/
/***** Margin *****/
.margin-sm,
.g-margin-sm > * {
    margin: var(--margin-sm);
}

.margin-md,
.g-margin-md > * {
    margin: var(--margin-md);
}

.margin-lg,
.g-margin-lg > * {
    margin: var(--margin-lg);
}

/***** Margin Top *****/
.margin-top-sm,
.g-margin-top-sm > * {
    margin-top: var(--margin-top-sm);
}

.margin-top-md,
.g-margin-top-md > * {
    margin-top: var(--margin-top-md);
}

.margin-top-lg,
.g-margin-top-lg > * {
    margin-top: var(--margin-top-lg);
}

/***** Margin Right *****/
.margin-right-sm,
.g-margin-right-sm > * {
    margin-right: var(--margin-right-sm);
}

.margin-right-md,
.g-margin-right-md > * {
    margin-right: var(--margin-right-md);
}

.margin-right-lg,
.g-margin-right-lg > * {
    margin-right: var(--margin-right-lg);
}

/***** Margin Bottom *****/
.margin-bottom-sm,
.g-margin-bottom-sm > * {
    margin-bottom: var(--margin-bottom-sm);
}

.margin-bottom-md,
.g-margin-bottom-md > * {
    margin-bottom: var(--margin-bottom-md);
}

.margin-bottom-lg,
.g-margin-bottom-lg > * {
    margin-bottom: var(--margin-bottom-lg);
}

/***** Margin Left *****/
.margin-left-sm,
.g-margin-left-sm > * {
    margin-left: var(--margin-left-sm);
}

.margin-left-md,
.g-margin-left-md > * {
    margin-left: var(--margin-left-md);
}

.margin-left-lg,
.g-margin-left-lg > * {
    margin-left: var(--margin-left-lg);
}


/****************************/
/***** Overflow Helpers *****/
.flow-hidden {
    overflow: hidden;
}

.flow-scroll {
    overflow: scroll;
}


/****************************/
/***** Position Helpers *****/
.pos-absolute {
    position: absolute;
}

.pos-fixed {
    position: fixed;
}

.pos-relative {
    position: relative;
}

.pos-sticky {
    position: sticky;
}


/******************************/
/***** Text Align Helpers *****/
.text-center {
    text-align: center;
}

.text-justify {
    text-align: justify;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}


/*************************/
/***** Width Helpers *****/
.width-sm,
.g-width-sm > * {
    width: var(--width-sm);
}

.width-md,
.g-width-md > * {
    width: var(--width-md);
}

.width-lg,
.g-width-lg > * {
    width: var(--width-lg);
}

/***** Min Width Helpers *****/
.min-width-sm,
.g-min-width-sm > * {
    min-width: var(--min-width-sm);
}

.min-width-md,
.g-min-width-md > * {
    min-width: var(--min-width-md);
}

.min-width-lg,
.g-min-width-lg > * {
    min-width: var(--min-width-lg);
}

/***** Max Width Helpers *****/
.max-width-sm,
.g-max-width-sm > * {
    max-width: var(--max-width-sm);
}

.max-width-md,
.g-max-width-md > * {
    max-width: var(--max-width-md);
}

.max-width-lg,
.g-max-width-lg > * {
    max-width: var(--max-width-lg);
}