/******************** INIT ********************/

/*
1. CLASSES
  1.1 Hidden
2. TAGS
  2.1 Global
  2.2 Title
  2.3 Link
  2.4 List
  2.5 Media
  2.6 Table
  2.7 Form
  2.8 Code
*/

/********** 1. CLASSES **********/

/*
1.1 Hidden
*/

/***** 1.1 Hidden *****/
[class*="check"],
[class*="radio"] {
  display: none;
}

/********** 2. TAGS **********/

/*
2.1 Global
2.2 Title
2.3 Link
2.4 List
2.5 Media
2.6 Table
2.7 Form
2.8 Code
*/

/***** 2.1 Global *****/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  line-height: var(--global-line-height);
  font-size: var(--global-font-size);
  font-family: var(--global-font-family);
  scroll-behavior: smooth;
}

article {
  margin-bottom: var(--article-mar-bot);
}

/***** 2.2 Title *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
}

h1 {
  font-size: var(--title-xl-font-size);
  text-transform: var(--title-xl-text-transform);
  color: var(--title-xl-color);
}

h2 {
  font-size: var(--title-lg-font-size);
  text-transform: var(--title-lg-text-transform);
  color: var(--title-lg-color);
}

h3 {
  font-size: var(--title-md-font-size);
  color: var(--title-md-color);
}

h4 {
  font-size: var(--title-sm-font-size);
  color: var(--title-sm-color);
}

h5,
h6 {
  font-size: var(--title-xs-font-size);
  color: var(--title-xs-color);
}

/***** 2.3 Link *****/
a {
  text-decoration: var(--link-deco);
  outline: var(--link-outline);
}

/***** 2.4 List *****/
ul {
  margin: var(--list-mar);
  padding: var(--list-pad);
  list-style: var(--list-style);
}

/***** 2.5 Media *****/
img,
video {
  object-fit: var(--img-object-fit);
  max-width: var(--img-max-width);
  max-height: var(--img-max-height);
}

/***** 2.6 Table *****/
table {
  margin: var(--table-mar);
  border-collapse: var(--table-bord-collapse);
  text-align: var(--table-text-align);
  vertical-align: var(--table-vertical-align);
}

/***** 2.7 Form *****/
label {
  cursor: var(--label-cursor);
}

/***** 2.8 Code *****/
code,
pre {
  overflow: var(--pre-overflow);
  padding: var(--pre-pad);
  font-family: var(--pre-font-family);
}

code > *::selection,
pre > *::selection {
  background-color: var(--pre-selection-bg);
  color: var(--pre-selection-color);
}

