/********** INIT **********/

/*
1 - Hidden
2 - Global
3 - Title
4 - Link
5 - List
6 - Media
7 - Table
8 - Form
9 - Code
*/

/***** 1 - Hidden *****/
[class*="check"],
[class*="radio"],
[id*="check"],
[id*="radio"] {
  display: none !important;
}

/***** 2 - Global *****/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
  font-family: var(--body-font-family);
  background-color: var(--body-background-color);
  scroll-behavior: var(--body-scroll-behavior);
}

article {
  margin-bottom: var(--article-margin-bottom);
}

/***** 3 - Title *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
}

h1 {
  font-size: var(--title-xl-font-size);
  text-transform: var(--title-xl-text-transform);
}

h2 {
  font-size: var(--title-lg-font-size);
  text-transform: var(--title-lg-text-transform);
}

h3 {
  font-size: var(--title-md-font-size);
}

h4 {
  font-size: var(--title-sm-font-size);
}

h5,
h6 {
  font-size: var(--title-xs-font-size);
}

/***** 4 - Link *****/
a {
  text-decoration: var(--link-text-decoration);
  outline: var(--link-outline);
}

/***** 5 - List *****/
ul {
  margin: var(--list-margin);
  padding: var(--list-padding);
  list-style: var(--list-style);
}

/***** 6 - Media *****/
img,
video {
  object-fit: var(--img-object-fit);
  max-width: var(--img-max-width);
  max-height: var(--img-max-height);
}

/***** 7 - Table *****/
table {
  margin: var(--table-margin);
  border-collapse: var(--table-border-collapse);
  text-align: var(--table-text-align);
  vertical-align: var(--table-vertical-align);
  font-family: var(--table-font-family);
}

/***** 8 - Form *****/
label {
  cursor: var(--label-cursor);
}

/***** 9 - Code *****/
code,
pre {
  overflow: var(--code-overflow);
  padding: var(--code-padding);
  font-family: var(--code-font-family);
  background-color: var(--code-background-color);
  color: var(--code-color);
}

code > *::selection,
pre > *::selection {
  background-color: var(--code-color);
  color: var(--code-background-color);
}
