/********** KEYFRAMES **********/

/*
1. Rotate
2. RotateX
3. RotateY
4. Scale
5. ScaleX
6. ScaleY
7. Skew
8. SkewX
9. SkewY
10. Translate
11. TranslateX
12. TranslateY
13. Width
*/

/***** Rotate *****/
@keyframes rotate {
  to {
    transform: var(--rotate);
  }
}

/***** RotateX *****/
@keyframes rotateX {
  to {
    transform: var(--rotateX);
  }
}

/***** RotateY *****/
@keyframes rotateY {
  to {
    transform: var(--rotateY);
  }
}

/***** Scale *****/
@keyframes scale {
  to {
    transform: var(--scale);
  }
}

/***** ScaleX *****/
@keyframes scaleX {
  to {
    transform: var(--scaleX);
  }
}

/***** ScaleY *****/
@keyframes scaleY {
  to {
    transform: var(--scaleY);
  }
}

/***** Skew *****/
@keyframes skew {
  to {
    transform: var(--skew);
  }
}

/***** SkewX *****/
@keyframes skewX {
  to {
    transform: var(--skewX);
  }
}

/***** SkewY *****/
@keyframes skewY {
  to {
    transform: var(--skewY);
  }
}

/***** Slider *****/
@keyframes slider {
  0% {
    content: var(--slide1);
  }

  20% {
    content: var(--slide2);
  }

  40% {
    content: var(--slide3);
  }

  60% {
    content: var(--slide4);
  }

  80% {
    content: var(--slide5);
  }
}

/***** Translate *****/
@keyframes translate {
  to {
    transform: var(--translate);
  }
}

/***** TranslateX *****/
@keyframes translateX {
  to {
    transform: var(--translateX);
  }
}

@keyframes translateX-paused {
  from {
    transform: translateX(0);
    animation-play-state: paused;
  }

  10% {
    transform: translateX(0);
    animation-play-state: running;
  }

  to {
    transform: translateX(-50%);
  }
}

/***** TranslateY *****/
@keyframes translateY {
  to {
    transform: var(--translateY);
  }
}

@keyframes trany-opac {
  from {
    opacity: 0;
    transform: translateY(68px);
  }
}

@keyframes trany-xs {
  to {
    transform: var(--trany-xs);
  }
}

/***** Width *****/
@keyframes width {
  from {
    width: 0;
    animation-play-state: paused;
  }

  10% {
    width: 0;
    animation-play-state: running;
  }

  to {
    width: 100%;
  }
}

