/********** KEYFRAMES **********/

/*
1 - Content
2 - Rotate
3 - Scale
4 - Skew
5 - Translate
6 - Width
*/

/***** 1 - Content *****/
@keyframes content {
  0% {
    content: var(--keyframes-content1);
  }

  25% {
    content: var(--keyframes-content2);
  }

  50% {
    content: var(--keyframes-content3);
  }

  75% {
    content: var(--keyframes-content4);
  }

  100% {
    content: var(--keyframes-content5);
  }
}

/***** 2 - Rotate *****/
@keyframes rotate {
  from {
    transform: rotate(var(--keyframes-rotate));
  }
}

@keyframes rotate3d {
  from {
    transform: rotate3d(var(--keyframes-rotate3d));
  }
}

@keyframes rotateX {
  from {
    transform: rotateX(var(--keyframes-rotateX));
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(var(--keyframes-rotateY));
  }
}

@keyframes rotateZ {
  from {
    transform: rotateZ(var(--keyframes-rotateZ));
  }
}

/***** 3 - Scale *****/
@keyframes scale {
  from {
    transform: scale(var(--keyframes-scale));
  }
}

@keyframes scale3d {
  from {
    transform: scale3d(var(--keyframes-scale3d));
  }
}

@keyframes scaleX {
  from {
    transform: scaleX(var(--keyframes-scaleX));
  }
}

@keyframes scaleY {
  from {
    transform: scaleY(var(--keyframes-scaleY));
  }
}

@keyframes scaleZ {
  from {
    transform: scaleZ(var(--keyframes-scaleZ));
  }
}

/***** 4 - Skew *****/
@keyframes skew {
  from {
    transform: skew(var(--keyframes-skew));
  }
}

@keyframes skewX {
  from {
    transform: skewX(var(--keyframes-skewX));
  }
}

@keyframes skewY {
  from {
    transform: skewY(var(--keyframes-skewY));
  }
}

/***** 5 - Translate *****/
@keyframes translate {
  from {
    transform: translate(var(--keyframes-translate));
  }
}

@keyframes translate3d {
  from {
    transform: translate3d(var(--keyframes-translate3d));
  }
}

@keyframes translateX {
  from {
    transform: translateX(var(--keyframes-translateX));
  }
}

@keyframes translateY {
  from {
    transform: translateY(var(--keyframes-translateY));
  }
}

@keyframes translateY-opac {
  from {
    opacity: 0;
    transform: translateY(var(--keyframes-translateY-opac));
  }
}

@keyframes translateY-xs {
  to {
    transform: translateY(var(--keyframes-translateY-xs));
  }
}

@keyframes translateZ {
  from {
    transform: translateZ(var(--keyframes-translateZ));
  }
}

/***** 6 - Width *****/
@keyframes width {
  to {
    width: var(--keyframes-width);
  }
}
