/********** POSITION **********/

/*
1. Absolute
2. Fixed
3. Relative
4. Sticky
5. Pos
*/

/***** Absolute *****/
[class*="absolute-tn-"][class*="-base"],
[class*="absolute-tn-"][class*="-global"] > *,
*:hover > [class*="absolute-tn-"][class*="-into"],
*:focus > [class*="absolute-tn-"][class*="-into"],
*:active > [class*="absolute-tn-"][class*="-into"],
[class*="absolute-tn-"][class*="-onto"]:hover,
[class*="absolute-tn-"][class*="-onto"]:focus,
[class*="absolute-tn-"][class*="-onto"]:active,
[class*="absolute-tn-"][class*="-toall"]:hover > *,
[class*="absolute-tn-"][class*="-toall"]:focus > *,
[class*="absolute-tn-"][class*="-toall"]:active > *,
[class*="absolute-tn-"][class*="-from"] > *:hover,
[class*="absolute-tn-"][class*="-from"] > *:focus,
[class*="absolute-tn-"][class*="-from"] > *:active,
[class*="absolute-tn-"][class*="-radio1"]:checked ~ [class*="absolute-tn-"][class*="-relay"] [class*="absolute-tn-"][class*="-target1"],
[class*="absolute-tn-"][class*="-radio2"]:checked ~ [class*="absolute-tn-"][class*="-relay"] [class*="absolute-tn-"][class*="-target2"],
[class*="absolute-tn-"][class*="-radio3"]:checked ~ [class*="absolute-tn-"][class*="-relay"] [class*="absolute-tn-"][class*="-target3"],
[class*="absolute-tn-"][class*="-radio4"]:checked ~ [class*="absolute-tn-"][class*="-relay"] [class*="absolute-tn-"][class*="-target4"],
[class*="absolute-tn-"][class*="-radio5"]:checked ~ [class*="absolute-tn-"][class*="-relay"] [class*="absolute-tn-"][class*="-target5"],
[class*="absolute-tn-"][class*="-check"]:checked ~ [class*="absolute-tn-"][class*="-relay"] [class*="absolute-tn-"][class*="-goal"] {
  position: absolute;
}

@media (min-width: 576px) {
  [class*="absolute-sm-"][class*="-base"],
  [class*="absolute-sm-"][class*="-global"] > *,
  *:hover > [class*="absolute-sm-"][class*="-into"],
  *:focus > [class*="absolute-sm-"][class*="-into"],
  *:active > [class*="absolute-sm-"][class*="-into"],
  [class*="absolute-sm-"][class*="-onto"]:hover,
  [class*="absolute-sm-"][class*="-onto"]:focus,
  [class*="absolute-sm-"][class*="-onto"]:active,
  [class*="absolute-sm-"][class*="-toall"]:hover > *,
  [class*="absolute-sm-"][class*="-toall"]:focus > *,
  [class*="absolute-sm-"][class*="-toall"]:active > *,
  [class*="absolute-sm-"][class*="-from"] > *:hover,
  [class*="absolute-sm-"][class*="-from"] > *:focus,
  [class*="absolute-sm-"][class*="-from"] > *:active,
  [class*="absolute-sm-"][class*="-radio1"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target1"],
  [class*="absolute-sm-"][class*="-radio2"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target2"],
  [class*="absolute-sm-"][class*="-radio3"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target3"],
  [class*="absolute-sm-"][class*="-radio4"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target4"],
  [class*="absolute-sm-"][class*="-radio5"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-target5"],
  [class*="absolute-sm-"][class*="-check"]:checked ~ [class*="absolute-sm-"][class*="-relay"] [class*="absolute-sm-"][class*="-goal"] {
    position: absolute;
  }
}

@media (min-width: 768px) {
  [class*="absolute-md-"][class*="-base"],
  [class*="absolute-md-"][class*="-global"] > *,
  *:hover > [class*="absolute-md-"][class*="-into"],
  *:focus > [class*="absolute-md-"][class*="-into"],
  *:active > [class*="absolute-md-"][class*="-into"],
  [class*="absolute-md-"][class*="-onto"]:hover,
  [class*="absolute-md-"][class*="-onto"]:focus,
  [class*="absolute-md-"][class*="-onto"]:active,
  [class*="absolute-md-"][class*="-toall"]:hover > *,
  [class*="absolute-md-"][class*="-toall"]:focus > *,
  [class*="absolute-md-"][class*="-toall"]:active > *,
  [class*="absolute-md-"][class*="-from"] > *:hover,
  [class*="absolute-md-"][class*="-from"] > *:focus,
  [class*="absolute-md-"][class*="-from"] > *:active,
  [class*="absolute-md-"][class*="-radio1"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target1"],
  [class*="absolute-md-"][class*="-radio2"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target2"],
  [class*="absolute-md-"][class*="-radio3"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target3"],
  [class*="absolute-md-"][class*="-radio4"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target4"],
  [class*="absolute-md-"][class*="-radio5"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-target5"],
  [class*="absolute-md-"][class*="-check"]:checked ~ [class*="absolute-md-"][class*="-relay"] [class*="absolute-md-"][class*="-goal"] {
    position: absolute;
  }
}

@media (min-width: 992px) {
  [class*="absolute-lg-"][class*="-base"],
  [class*="absolute-lg-"][class*="-global"] > *,
  *:hover > [class*="absolute-lg-"][class*="-into"],
  *:focus > [class*="absolute-lg-"][class*="-into"],
  *:active > [class*="absolute-lg-"][class*="-into"],
  [class*="absolute-lg-"][class*="-onto"]:hover,
  [class*="absolute-lg-"][class*="-onto"]:focus,
  [class*="absolute-lg-"][class*="-onto"]:active,
  [class*="absolute-lg-"][class*="-toall"]:hover > *,
  [class*="absolute-lg-"][class*="-toall"]:focus > *,
  [class*="absolute-lg-"][class*="-toall"]:active > *,
  [class*="absolute-lg-"][class*="-from"] > *:hover,
  [class*="absolute-lg-"][class*="-from"] > *:focus,
  [class*="absolute-lg-"][class*="-from"] > *:active,
  [class*="absolute-lg-"][class*="-radio1"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target1"],
  [class*="absolute-lg-"][class*="-radio2"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target2"],
  [class*="absolute-lg-"][class*="-radio3"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target3"],
  [class*="absolute-lg-"][class*="-radio4"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target4"],
  [class*="absolute-lg-"][class*="-radio5"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-target5"],
  [class*="absolute-lg-"][class*="-check"]:checked ~ [class*="absolute-lg-"][class*="-relay"] [class*="absolute-lg-"][class*="-goal"] {
    position: absolute;
  }
}

@media (min-width: 1200px) {
  [class*="absolute-wd-"][class*="-base"],
  [class*="absolute-wd-"][class*="-global"] > *,
  *:hover > [class*="absolute-wd-"][class*="-into"],
  *:focus > [class*="absolute-wd-"][class*="-into"],
  *:active > [class*="absolute-wd-"][class*="-into"],
  [class*="absolute-wd-"][class*="-onto"]:hover,
  [class*="absolute-wd-"][class*="-onto"]:focus,
  [class*="absolute-wd-"][class*="-onto"]:active,
  [class*="absolute-wd-"][class*="-toall"]:hover > *,
  [class*="absolute-wd-"][class*="-toall"]:focus > *,
  [class*="absolute-wd-"][class*="-toall"]:active > *,
  [class*="absolute-wd-"][class*="-from"] > *:hover,
  [class*="absolute-wd-"][class*="-from"] > *:focus,
  [class*="absolute-wd-"][class*="-from"] > *:active,
  [class*="absolute-wd-"][class*="-radio1"]:checked ~ [class*="absolute-wd-"][class*="-relay"] [class*="absolute-wd-"][class*="-target1"],
  [class*="absolute-wd-"][class*="-radio2"]:checked ~ [class*="absolute-wd-"][class*="-relay"] [class*="absolute-wd-"][class*="-target2"],
  [class*="absolute-wd-"][class*="-radio3"]:checked ~ [class*="absolute-wd-"][class*="-relay"] [class*="absolute-wd-"][class*="-target3"],
  [class*="absolute-wd-"][class*="-radio4"]:checked ~ [class*="absolute-wd-"][class*="-relay"] [class*="absolute-wd-"][class*="-target4"],
  [class*="absolute-wd-"][class*="-radio5"]:checked ~ [class*="absolute-wd-"][class*="-relay"] [class*="absolute-wd-"][class*="-target5"],
  [class*="absolute-wd-"][class*="-check"]:checked ~ [class*="absolute-wd-"][class*="-relay"] [class*="absolute-wd-"][class*="-goal"] {
    position: absolute;
  }
}

/***** Position Fixed *****/
[class*="fixed-tn-"][class*="-base"],
[class*="fixed-tn-"][class*="-global"] > *,
*:hover > [class*="fixed-tn-"][class*="-into"],
*:focus > [class*="fixed-tn-"][class*="-into"],
*:active > [class*="fixed-tn-"][class*="-into"],
[class*="fixed-tn-"][class*="-onto"]:hover,
[class*="fixed-tn-"][class*="-onto"]:focus,
[class*="fixed-tn-"][class*="-onto"]:active,
[class*="fixed-tn-"][class*="-toall"]:hover > *,
[class*="fixed-tn-"][class*="-toall"]:focus > *,
[class*="fixed-tn-"][class*="-toall"]:active > *,
[class*="fixed-tn-"][class*="-from"] > *:hover,
[class*="fixed-tn-"][class*="-from"] > *:focus,
[class*="fixed-tn-"][class*="-from"] > *:active,
[class*="fixed-tn-"][class*="-radio1"]:checked ~ [class*="fixed-tn-"][class*="-relay"] [class*="fixed-tn-"][class*="-target1"],
[class*="fixed-tn-"][class*="-radio2"]:checked ~ [class*="fixed-tn-"][class*="-relay"] [class*="fixed-tn-"][class*="-target2"],
[class*="fixed-tn-"][class*="-radio3"]:checked ~ [class*="fixed-tn-"][class*="-relay"] [class*="fixed-tn-"][class*="-target3"],
[class*="fixed-tn-"][class*="-radio4"]:checked ~ [class*="fixed-tn-"][class*="-relay"] [class*="fixed-tn-"][class*="-target4"],
[class*="fixed-tn-"][class*="-radio5"]:checked ~ [class*="fixed-tn-"][class*="-relay"] [class*="fixed-tn-"][class*="-target5"],
[class*="fixed-tn-"][class*="-check"]:checked ~ [class*="fixed-tn-"][class*="-relay"] [class*="fixed-tn-"][class*="-goal"] {
  position: fixed;
}

@media (min-width: 576px) {
  [class*="fixed-sm-"][class*="-base"],
  [class*="fixed-sm-"][class*="-global"] > *,
  *:hover > [class*="fixed-sm-"][class*="-into"],
  *:focus > [class*="fixed-sm-"][class*="-into"],
  *:active > [class*="fixed-sm-"][class*="-into"],
  [class*="fixed-sm-"][class*="-onto"]:hover,
  [class*="fixed-sm-"][class*="-onto"]:focus,
  [class*="fixed-sm-"][class*="-onto"]:active,
  [class*="fixed-sm-"][class*="-toall"]:hover > *,
  [class*="fixed-sm-"][class*="-toall"]:focus > *,
  [class*="fixed-sm-"][class*="-toall"]:active > *,
  [class*="fixed-sm-"][class*="-from"] > *:hover,
  [class*="fixed-sm-"][class*="-from"] > *:focus,
  [class*="fixed-sm-"][class*="-from"] > *:active,
  [class*="fixed-sm-"][class*="-radio1"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target1"],
  [class*="fixed-sm-"][class*="-radio2"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target2"],
  [class*="fixed-sm-"][class*="-radio3"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target3"],
  [class*="fixed-sm-"][class*="-radio4"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target4"],
  [class*="fixed-sm-"][class*="-radio5"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-target5"],
  [class*="fixed-sm-"][class*="-check"]:checked ~ [class*="fixed-sm-"][class*="-relay"] [class*="fixed-sm-"][class*="-goal"] {
    position: fixed;
  }
}

@media (min-width: 768px) {
  [class*="fixed-md-"][class*="-base"],
  [class*="fixed-md-"][class*="-global"] > *,
  *:hover > [class*="fixed-md-"][class*="-into"],
  *:focus > [class*="fixed-md-"][class*="-into"],
  *:active > [class*="fixed-md-"][class*="-into"],
  [class*="fixed-md-"][class*="-onto"]:hover,
  [class*="fixed-md-"][class*="-onto"]:focus,
  [class*="fixed-md-"][class*="-onto"]:active,
  [class*="fixed-md-"][class*="-toall"]:hover > *,
  [class*="fixed-md-"][class*="-toall"]:focus > *,
  [class*="fixed-md-"][class*="-toall"]:active > *,
  [class*="fixed-md-"][class*="-from"] > *:hover,
  [class*="fixed-md-"][class*="-from"] > *:focus,
  [class*="fixed-md-"][class*="-from"] > *:active,
  [class*="fixed-md-"][class*="-radio1"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target1"],
  [class*="fixed-md-"][class*="-radio2"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target2"],
  [class*="fixed-md-"][class*="-radio3"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target3"],
  [class*="fixed-md-"][class*="-radio4"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target4"],
  [class*="fixed-md-"][class*="-radio5"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-target5"],
  [class*="fixed-md-"][class*="-check"]:checked ~ [class*="fixed-md-"][class*="-relay"] [class*="fixed-md-"][class*="-goal"] {
    position: fixed;
  }
}

@media (min-width: 992px) {
  [class*="fixed-lg-"][class*="-base"],
  [class*="fixed-lg-"][class*="-global"] > *,
  *:hover > [class*="fixed-lg-"][class*="-into"],
  *:focus > [class*="fixed-lg-"][class*="-into"],
  *:active > [class*="fixed-lg-"][class*="-into"],
  [class*="fixed-lg-"][class*="-onto"]:hover,
  [class*="fixed-lg-"][class*="-onto"]:focus,
  [class*="fixed-lg-"][class*="-onto"]:active,
  [class*="fixed-lg-"][class*="-toall"]:hover > *,
  [class*="fixed-lg-"][class*="-toall"]:focus > *,
  [class*="fixed-lg-"][class*="-toall"]:active > *,
  [class*="fixed-lg-"][class*="-from"] > *:hover,
  [class*="fixed-lg-"][class*="-from"] > *:focus,
  [class*="fixed-lg-"][class*="-from"] > *:active,
  [class*="fixed-lg-"][class*="-radio1"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target1"],
  [class*="fixed-lg-"][class*="-radio2"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target2"],
  [class*="fixed-lg-"][class*="-radio3"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target3"],
  [class*="fixed-lg-"][class*="-radio4"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target4"],
  [class*="fixed-lg-"][class*="-radio5"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-target5"],
  [class*="fixed-lg-"][class*="-check"]:checked ~ [class*="fixed-lg-"][class*="-relay"] [class*="fixed-lg-"][class*="-goal"] {
    position: fixed;
  }
}

@media (min-width: 1200px) {
  [class*="fixed-wd-"][class*="-base"],
  [class*="fixed-wd-"][class*="-global"] > *,
  *:hover > [class*="fixed-wd-"][class*="-into"],
  *:focus > [class*="fixed-wd-"][class*="-into"],
  *:active > [class*="fixed-wd-"][class*="-into"],
  [class*="fixed-wd-"][class*="-onto"]:hover,
  [class*="fixed-wd-"][class*="-onto"]:focus,
  [class*="fixed-wd-"][class*="-onto"]:active,
  [class*="fixed-wd-"][class*="-toall"]:hover > *,
  [class*="fixed-wd-"][class*="-toall"]:focus > *,
  [class*="fixed-wd-"][class*="-toall"]:active > *,
  [class*="fixed-wd-"][class*="-from"] > *:hover,
  [class*="fixed-wd-"][class*="-from"] > *:focus,
  [class*="fixed-wd-"][class*="-from"] > *:active,
  [class*="fixed-wd-"][class*="-radio1"]:checked ~ [class*="fixed-wd-"][class*="-relay"] [class*="fixed-wd-"][class*="-target1"],
  [class*="fixed-wd-"][class*="-radio2"]:checked ~ [class*="fixed-wd-"][class*="-relay"] [class*="fixed-wd-"][class*="-target2"],
  [class*="fixed-wd-"][class*="-radio3"]:checked ~ [class*="fixed-wd-"][class*="-relay"] [class*="fixed-wd-"][class*="-target3"],
  [class*="fixed-wd-"][class*="-radio4"]:checked ~ [class*="fixed-wd-"][class*="-relay"] [class*="fixed-wd-"][class*="-target4"],
  [class*="fixed-wd-"][class*="-radio5"]:checked ~ [class*="fixed-wd-"][class*="-relay"] [class*="fixed-wd-"][class*="-target5"],
  [class*="fixed-wd-"][class*="-check"]:checked ~ [class*="fixed-wd-"][class*="-relay"] [class*="fixed-wd-"][class*="-goal"] {
    position: fixed;
  }
}

/***** Position Relative *****/
[class*="relative-tn-"][class*="-base"],
[class*="relative-tn-"][class*="-global"] > *,
*:hover > [class*="relative-tn-"][class*="-into"],
*:focus > [class*="relative-tn-"][class*="-into"],
*:active > [class*="relative-tn-"][class*="-into"],
[class*="relative-tn-"][class*="-onto"]:hover,
[class*="relative-tn-"][class*="-onto"]:focus,
[class*="relative-tn-"][class*="-onto"]:active,
[class*="relative-tn-"][class*="-toall"]:hover > *,
[class*="relative-tn-"][class*="-toall"]:focus > *,
[class*="relative-tn-"][class*="-toall"]:active > *,
[class*="relative-tn-"][class*="-from"] > *:hover,
[class*="relative-tn-"][class*="-from"] > *:focus,
[class*="relative-tn-"][class*="-from"] > *:active,
[class*="relative-tn-"][class*="-radio1"]:checked ~ [class*="relative-tn-"][class*="-relay"] [class*="relative-tn-"][class*="-target1"],
[class*="relative-tn-"][class*="-radio2"]:checked ~ [class*="relative-tn-"][class*="-relay"] [class*="relative-tn-"][class*="-target2"],
[class*="relative-tn-"][class*="-radio3"]:checked ~ [class*="relative-tn-"][class*="-relay"] [class*="relative-tn-"][class*="-target3"],
[class*="relative-tn-"][class*="-radio4"]:checked ~ [class*="relative-tn-"][class*="-relay"] [class*="relative-tn-"][class*="-target4"],
[class*="relative-tn-"][class*="-radio5"]:checked ~ [class*="relative-tn-"][class*="-relay"] [class*="relative-tn-"][class*="-target5"],
[class*="relative-tn-"][class*="-check"]:checked ~ [class*="relative-tn-"][class*="-relay"] [class*="relative-tn-"][class*="-goal"] {
  position: relative;
}

@media (min-width: 576px) {
  [class*="relative-sm-"][class*="-base"],
  [class*="relative-sm-"][class*="-global"] > *,
  *:hover > [class*="relative-sm-"][class*="-into"],
  *:focus > [class*="relative-sm-"][class*="-into"],
  *:active > [class*="relative-sm-"][class*="-into"],
  [class*="relative-sm-"][class*="-onto"]:hover,
  [class*="relative-sm-"][class*="-onto"]:focus,
  [class*="relative-sm-"][class*="-onto"]:active,
  [class*="relative-sm-"][class*="-toall"]:hover > *,
  [class*="relative-sm-"][class*="-toall"]:focus > *,
  [class*="relative-sm-"][class*="-toall"]:active > *,
  [class*="relative-sm-"][class*="-from"] > *:hover,
  [class*="relative-sm-"][class*="-from"] > *:focus,
  [class*="relative-sm-"][class*="-from"] > *:active,
  [class*="relative-sm-"][class*="-radio1"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target1"],
  [class*="relative-sm-"][class*="-radio2"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target2"],
  [class*="relative-sm-"][class*="-radio3"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target3"],
  [class*="relative-sm-"][class*="-radio4"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target4"],
  [class*="relative-sm-"][class*="-radio5"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-target5"],
  [class*="relative-sm-"][class*="-check"]:checked ~ [class*="relative-sm-"][class*="-relay"] [class*="relative-sm-"][class*="-goal"] {
    position: relative;
  }
}

@media (min-width: 768px) {
  [class*="relative-md-"][class*="-base"],
  [class*="relative-md-"][class*="-global"] > *,
  *:hover > [class*="relative-md-"][class*="-into"],
  *:focus > [class*="relative-md-"][class*="-into"],
  *:active > [class*="relative-md-"][class*="-into"],
  [class*="relative-md-"][class*="-onto"]:hover,
  [class*="relative-md-"][class*="-onto"]:focus,
  [class*="relative-md-"][class*="-onto"]:active,
  [class*="relative-md-"][class*="-toall"]:hover > *,
  [class*="relative-md-"][class*="-toall"]:focus > *,
  [class*="relative-md-"][class*="-toall"]:active > *,
  [class*="relative-md-"][class*="-from"] > *:hover,
  [class*="relative-md-"][class*="-from"] > *:focus,
  [class*="relative-md-"][class*="-from"] > *:active,
  [class*="relative-md-"][class*="-radio1"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target1"],
  [class*="relative-md-"][class*="-radio2"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target2"],
  [class*="relative-md-"][class*="-radio3"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target3"],
  [class*="relative-md-"][class*="-radio4"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target4"],
  [class*="relative-md-"][class*="-radio5"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-target5"],
  [class*="relative-md-"][class*="-check"]:checked ~ [class*="relative-md-"][class*="-relay"] [class*="relative-md-"][class*="-goal"] {
    position: relative;
  }
}

@media (min-width: 992px) {
  [class*="relative-lg-"][class*="-base"],
  [class*="relative-lg-"][class*="-global"] > *,
  *:hover > [class*="relative-lg-"][class*="-into"],
  *:focus > [class*="relative-lg-"][class*="-into"],
  *:active > [class*="relative-lg-"][class*="-into"],
  [class*="relative-lg-"][class*="-onto"]:hover,
  [class*="relative-lg-"][class*="-onto"]:focus,
  [class*="relative-lg-"][class*="-onto"]:active,
  [class*="relative-lg-"][class*="-toall"]:hover > *,
  [class*="relative-lg-"][class*="-toall"]:focus > *,
  [class*="relative-lg-"][class*="-toall"]:active > *,
  [class*="relative-lg-"][class*="-from"] > *:hover,
  [class*="relative-lg-"][class*="-from"] > *:focus,
  [class*="relative-lg-"][class*="-from"] > *:active,
  [class*="relative-lg-"][class*="-radio1"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target1"],
  [class*="relative-lg-"][class*="-radio2"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target2"],
  [class*="relative-lg-"][class*="-radio3"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target3"],
  [class*="relative-lg-"][class*="-radio4"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target4"],
  [class*="relative-lg-"][class*="-radio5"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-target5"],
  [class*="relative-lg-"][class*="-check"]:checked ~ [class*="relative-lg-"][class*="-relay"] [class*="relative-lg-"][class*="-goal"] {
    position: relative;
  }
}

@media (min-width: 1200px) {
  [class*="relative-wd-"][class*="-base"],
  [class*="relative-wd-"][class*="-global"] > *,
  *:hover > [class*="relative-wd-"][class*="-into"],
  *:focus > [class*="relative-wd-"][class*="-into"],
  *:active > [class*="relative-wd-"][class*="-into"],
  [class*="relative-wd-"][class*="-onto"]:hover,
  [class*="relative-wd-"][class*="-onto"]:focus,
  [class*="relative-wd-"][class*="-onto"]:active,
  [class*="relative-wd-"][class*="-toall"]:hover > *,
  [class*="relative-wd-"][class*="-toall"]:focus > *,
  [class*="relative-wd-"][class*="-toall"]:active > *,
  [class*="relative-wd-"][class*="-from"] > *:hover,
  [class*="relative-wd-"][class*="-from"] > *:focus,
  [class*="relative-wd-"][class*="-from"] > *:active,
  [class*="relative-wd-"][class*="-radio1"]:checked ~ [class*="relative-wd-"][class*="-relay"] [class*="relative-wd-"][class*="-target1"],
  [class*="relative-wd-"][class*="-radio2"]:checked ~ [class*="relative-wd-"][class*="-relay"] [class*="relative-wd-"][class*="-target2"],
  [class*="relative-wd-"][class*="-radio3"]:checked ~ [class*="relative-wd-"][class*="-relay"] [class*="relative-wd-"][class*="-target3"],
  [class*="relative-wd-"][class*="-radio4"]:checked ~ [class*="relative-wd-"][class*="-relay"] [class*="relative-wd-"][class*="-target4"],
  [class*="relative-wd-"][class*="-radio5"]:checked ~ [class*="relative-wd-"][class*="-relay"] [class*="relative-wd-"][class*="-target5"],
  [class*="relative-wd-"][class*="-check"]:checked ~ [class*="relative-wd-"][class*="-relay"] [class*="relative-wd-"][class*="-goal"] {
    position: relative;
  }
}

/***** Position Sticky *****/
[class*="sticky-tn-"][class*="-base"],
[class*="sticky-tn-"][class*="-global"] > *,
*:hover > [class*="sticky-tn-"][class*="-into"],
*:focus > [class*="sticky-tn-"][class*="-into"],
*:active > [class*="sticky-tn-"][class*="-into"],
[class*="sticky-tn-"][class*="-onto"]:hover,
[class*="sticky-tn-"][class*="-onto"]:focus,
[class*="sticky-tn-"][class*="-onto"]:active,
[class*="sticky-tn-"][class*="-toall"]:hover > *,
[class*="sticky-tn-"][class*="-toall"]:focus > *,
[class*="sticky-tn-"][class*="-toall"]:active > *,
[class*="sticky-tn-"][class*="-from"] > *:hover,
[class*="sticky-tn-"][class*="-from"] > *:focus,
[class*="sticky-tn-"][class*="-from"] > *:active,
[class*="sticky-tn-"][class*="-radio1"]:checked ~ [class*="sticky-tn-"][class*="-relay"] [class*="sticky-tn-"][class*="-target1"],
[class*="sticky-tn-"][class*="-radio2"]:checked ~ [class*="sticky-tn-"][class*="-relay"] [class*="sticky-tn-"][class*="-target2"],
[class*="sticky-tn-"][class*="-radio3"]:checked ~ [class*="sticky-tn-"][class*="-relay"] [class*="sticky-tn-"][class*="-target3"],
[class*="sticky-tn-"][class*="-radio4"]:checked ~ [class*="sticky-tn-"][class*="-relay"] [class*="sticky-tn-"][class*="-target4"],
[class*="sticky-tn-"][class*="-radio5"]:checked ~ [class*="sticky-tn-"][class*="-relay"] [class*="sticky-tn-"][class*="-target5"],
[class*="sticky-tn-"][class*="-check"]:checked ~ [class*="sticky-tn-"][class*="-relay"] [class*="sticky-tn-"][class*="-goal"] {
  position: sticky;
}

@media (min-width: 576px) {
  [class*="sticky-sm-"][class*="-base"],
  [class*="sticky-sm-"][class*="-global"] > *,
  *:hover > [class*="sticky-sm-"][class*="-into"],
  *:focus > [class*="sticky-sm-"][class*="-into"],
  *:active > [class*="sticky-sm-"][class*="-into"],
  [class*="sticky-sm-"][class*="-onto"]:hover,
  [class*="sticky-sm-"][class*="-onto"]:focus,
  [class*="sticky-sm-"][class*="-onto"]:active,
  [class*="sticky-sm-"][class*="-toall"]:hover > *,
  [class*="sticky-sm-"][class*="-toall"]:focus > *,
  [class*="sticky-sm-"][class*="-toall"]:active > *,
  [class*="sticky-sm-"][class*="-from"] > *:hover,
  [class*="sticky-sm-"][class*="-from"] > *:focus,
  [class*="sticky-sm-"][class*="-from"] > *:active,
  [class*="sticky-sm-"][class*="-radio1"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target1"],
  [class*="sticky-sm-"][class*="-radio2"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target2"],
  [class*="sticky-sm-"][class*="-radio3"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target3"],
  [class*="sticky-sm-"][class*="-radio4"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target4"],
  [class*="sticky-sm-"][class*="-radio5"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-target5"],
  [class*="sticky-sm-"][class*="-check"]:checked ~ [class*="sticky-sm-"][class*="-relay"] [class*="sticky-sm-"][class*="-goal"] {
    position: sticky;
  }
}

@media (min-width: 768px) {
  [class*="sticky-md-"][class*="-base"],
  [class*="sticky-md-"][class*="-global"] > *,
  *:hover > [class*="sticky-md-"][class*="-into"],
  *:focus > [class*="sticky-md-"][class*="-into"],
  *:active > [class*="sticky-md-"][class*="-into"],
  [class*="sticky-md-"][class*="-onto"]:hover,
  [class*="sticky-md-"][class*="-onto"]:focus,
  [class*="sticky-md-"][class*="-onto"]:active,
  [class*="sticky-md-"][class*="-toall"]:hover > *,
  [class*="sticky-md-"][class*="-toall"]:focus > *,
  [class*="sticky-md-"][class*="-toall"]:active > *,
  [class*="sticky-md-"][class*="-from"] > *:hover,
  [class*="sticky-md-"][class*="-from"] > *:focus,
  [class*="sticky-md-"][class*="-from"] > *:active,
  [class*="sticky-md-"][class*="-radio1"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target1"],
  [class*="sticky-md-"][class*="-radio2"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target2"],
  [class*="sticky-md-"][class*="-radio3"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target3"],
  [class*="sticky-md-"][class*="-radio4"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target4"],
  [class*="sticky-md-"][class*="-radio5"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-target5"],
  [class*="sticky-md-"][class*="-check"]:checked ~ [class*="sticky-md-"][class*="-relay"] [class*="sticky-md-"][class*="-goal"] {
    position: sticky;
  }
}

@media (min-width: 992px) {
  [class*="sticky-lg-"][class*="-base"],
  [class*="sticky-lg-"][class*="-global"] > *,
  *:hover > [class*="sticky-lg-"][class*="-into"],
  *:focus > [class*="sticky-lg-"][class*="-into"],
  *:active > [class*="sticky-lg-"][class*="-into"],
  [class*="sticky-lg-"][class*="-onto"]:hover,
  [class*="sticky-lg-"][class*="-onto"]:focus,
  [class*="sticky-lg-"][class*="-onto"]:active,
  [class*="sticky-lg-"][class*="-toall"]:hover > *,
  [class*="sticky-lg-"][class*="-toall"]:focus > *,
  [class*="sticky-lg-"][class*="-toall"]:active > *,
  [class*="sticky-lg-"][class*="-from"] > *:hover,
  [class*="sticky-lg-"][class*="-from"] > *:focus,
  [class*="sticky-lg-"][class*="-from"] > *:active,
  [class*="sticky-lg-"][class*="-radio1"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target1"],
  [class*="sticky-lg-"][class*="-radio2"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target2"],
  [class*="sticky-lg-"][class*="-radio3"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target3"],
  [class*="sticky-lg-"][class*="-radio4"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target4"],
  [class*="sticky-lg-"][class*="-radio5"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-target5"],
  [class*="sticky-lg-"][class*="-check"]:checked ~ [class*="sticky-lg-"][class*="-relay"] [class*="sticky-lg-"][class*="-goal"] {
    position: sticky;
  }
}

@media (min-width: 1200px) {
  [class*="sticky-wd-"][class*="-base"],
  [class*="sticky-wd-"][class*="-global"] > *,
  *:hover > [class*="sticky-wd-"][class*="-into"],
  *:focus > [class*="sticky-wd-"][class*="-into"],
  *:active > [class*="sticky-wd-"][class*="-into"],
  [class*="sticky-wd-"][class*="-onto"]:hover,
  [class*="sticky-wd-"][class*="-onto"]:focus,
  [class*="sticky-wd-"][class*="-onto"]:active,
  [class*="sticky-wd-"][class*="-toall"]:hover > *,
  [class*="sticky-wd-"][class*="-toall"]:focus > *,
  [class*="sticky-wd-"][class*="-toall"]:active > *,
  [class*="sticky-wd-"][class*="-from"] > *:hover,
  [class*="sticky-wd-"][class*="-from"] > *:focus,
  [class*="sticky-wd-"][class*="-from"] > *:active,
  [class*="sticky-wd-"][class*="-radio1"]:checked ~ [class*="sticky-wd-"][class*="-relay"] [class*="sticky-wd-"][class*="-target1"],
  [class*="sticky-wd-"][class*="-radio2"]:checked ~ [class*="sticky-wd-"][class*="-relay"] [class*="sticky-wd-"][class*="-target2"],
  [class*="sticky-wd-"][class*="-radio3"]:checked ~ [class*="sticky-wd-"][class*="-relay"] [class*="sticky-wd-"][class*="-target3"],
  [class*="sticky-wd-"][class*="-radio4"]:checked ~ [class*="sticky-wd-"][class*="-relay"] [class*="sticky-wd-"][class*="-target4"],
  [class*="sticky-wd-"][class*="-radio5"]:checked ~ [class*="sticky-wd-"][class*="-relay"] [class*="sticky-wd-"][class*="-target5"],
  [class*="sticky-wd-"][class*="-check"]:checked ~ [class*="sticky-wd-"][class*="-relay"] [class*="sticky-wd-"][class*="-goal"] {
    position: sticky;
  }
}

/***** Position Pos *****/
[class*="pos-top-"][class*="-base"],
[class*="pos-top-"][class*="-global"] > *,
*:hover > [class*="pos-top-"][class*="-into"],
*:focus > [class*="pos-top-"][class*="-into"],
*:active > [class*="pos-top-"][class*="-into"],
[class*="pos-top-"][class*="-onto"]:hover,
[class*="pos-top-"][class*="-onto"]:focus,
[class*="pos-top-"][class*="-onto"]:active,
[class*="pos-top-"][class*="-toall"]:hover > *,
[class*="pos-top-"][class*="-toall"]:focus > *,
[class*="pos-top-"][class*="-toall"]:active > *,
[class*="pos-top-"][class*="-from"] > *:hover,
[class*="pos-top-"][class*="-from"] > *:focus,
[class*="pos-top-"][class*="-from"] > *:active,
[class*="pos-top-"][class*="-radio1"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target1"],
[class*="pos-top-"][class*="-radio2"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target2"],
[class*="pos-top-"][class*="-radio3"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target3"],
[class*="pos-top-"][class*="-radio4"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target4"],
[class*="pos-top-"][class*="-radio5"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-target5"],
[class*="pos-top-"][class*="-check"]:checked ~ [class*="pos-top-"][class*="-relay"] [class*="pos-top-"][class*="-goal"] {
  top: 0;
  right: 0;
  left: 0;
}

[class*="pos-bot-"][class*="-base"],
[class*="pos-bot-"][class*="-global"] > *,
*:hover > [class*="pos-bot-"][class*="-into"],
*:focus > [class*="pos-bot-"][class*="-into"],
*:active > [class*="pos-bot-"][class*="-into"],
[class*="pos-bot-"][class*="-onto"]:hover,
[class*="pos-bot-"][class*="-onto"]:focus,
[class*="pos-bot-"][class*="-onto"]:active,
[class*="pos-bot-"][class*="-toall"]:hover > *,
[class*="pos-bot-"][class*="-toall"]:focus > *,
[class*="pos-bot-"][class*="-toall"]:active > *,
[class*="pos-bot-"][class*="-from"] > *:hover,
[class*="pos-bot-"][class*="-from"] > *:focus,
[class*="pos-bot-"][class*="-from"] > *:active,
[class*="pos-bot-"][class*="-radio1"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target1"],
[class*="pos-bot-"][class*="-radio2"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target2"],
[class*="pos-bot-"][class*="-radio3"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target3"],
[class*="pos-bot-"][class*="-radio4"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target4"],
[class*="pos-bot-"][class*="-radio5"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-target5"],
[class*="pos-bot-"][class*="-check"]:checked ~ [class*="pos-bot-"][class*="-relay"] [class*="pos-bot-"][class*="-goal"] {
  bottom: 0;
  right: 0;
  left: 0;
}

[class*="pos-right-"][class*="-base"],
[class*="pos-right-"][class*="-global"] > *,
*:hover > [class*="pos-right-"][class*="-into"],
*:focus > [class*="pos-right-"][class*="-into"],
*:active > [class*="pos-right-"][class*="-into"],
[class*="pos-right-"][class*="-onto"]:hover,
[class*="pos-right-"][class*="-onto"]:focus,
[class*="pos-right-"][class*="-onto"]:active,
[class*="pos-right-"][class*="-toall"]:hover > *,
[class*="pos-right-"][class*="-toall"]:focus > *,
[class*="pos-right-"][class*="-toall"]:active > *,
[class*="pos-right-"][class*="-from"] > *:hover,
[class*="pos-right-"][class*="-from"] > *:focus,
[class*="pos-right-"][class*="-from"] > *:active,
[class*="pos-right-"][class*="-radio1"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target1"],
[class*="pos-right-"][class*="-radio2"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target2"],
[class*="pos-right-"][class*="-radio3"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target3"],
[class*="pos-right-"][class*="-radio4"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target4"],
[class*="pos-right-"][class*="-radio5"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-target5"],
[class*="pos-right-"][class*="-check"]:checked ~ [class*="pos-right-"][class*="-relay"] [class*="pos-right-"][class*="-goal"] {
  right: 0;
  top: 0;
  bottom: 0;
}

[class*="pos-left-"][class*="-base"],
[class*="pos-left-"][class*="-global"] > *,
*:hover > [class*="pos-left-"][class*="-into"],
*:focus > [class*="pos-left-"][class*="-into"],
*:active > [class*="pos-left-"][class*="-into"],
[class*="pos-left-"][class*="-onto"]:hover,
[class*="pos-left-"][class*="-onto"]:focus,
[class*="pos-left-"][class*="-onto"]:active,
[class*="pos-left-"][class*="-toall"]:hover > *,
[class*="pos-left-"][class*="-toall"]:focus > *,
[class*="pos-left-"][class*="-toall"]:active > *,
[class*="pos-left-"][class*="-from"] > *:hover,
[class*="pos-left-"][class*="-from"] > *:focus,
[class*="pos-left-"][class*="-from"] > *:active,
[class*="pos-left-"][class*="-radio1"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target1"],
[class*="pos-left-"][class*="-radio2"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target2"],
[class*="pos-left-"][class*="-radio3"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target3"],
[class*="pos-left-"][class*="-radio4"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target4"],
[class*="pos-left-"][class*="-radio5"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-target5"],
[class*="pos-left-"][class*="-check"]:checked ~ [class*="pos-left-"][class*="-relay"] [class*="pos-left-"][class*="-goal"] {
  left: 0;
  top: 0;
  bottom: 0;
}
