/********** SHABOX **********/

/*
1. Shabox Variables
2. Shabox
3. Shabox Blur
4. Shabox Spread
*/

/***** Shabox Variables *****/
[class*="shabox-"] {
  --shabox-x-sm: 2px;
  --shabox-x-md: 5px;
  --shabox-x-lg: 10px;
  --shabox-y-sm: 2px;
  --shabox-y-md: 5px;
  --shabox-y-lg: 10px;
  --shabox-blur-all: 5px;
  --shabox-blur-sm: 2px;
  --shabox-blur-md: 5px;
  --shabox-blur-lg: 10px;
  --shabox-spread-all: 5px;
  --shabox-spread-sm: 2px;
  --shabox-spread-md: 5px;
  --shabox-spread-lg: 10px;
}

/***** Shabox *****/
[class*="shabox-"][class*="-sm-"][class*="-base"],
[class*="shabox-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-sm-"][class*="-into"],
*:active > [class*="shabox-"][class*="-sm-"][class*="-into"],
[class*="shabox-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-sm-"][class*="-onto"]:active,
[class*="shabox-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-sm-"][class*="-target1"],
[class*="shabox-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-sm-"][class*="-target2"],
[class*="shabox-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-sm-"][class*="-target3"],
[class*="shabox-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-sm-"][class*="-target4"],
[class*="shabox-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-sm-"][class*="-target5"],
[class*="shabox-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-sm-"][class*="-target6"] {
  box-shadow: var(--shabox-x-sm) var(--shabox-y-sm);
}

[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-sm-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm);
}

[class*="shabox-"][class*="-md-"][class*="-base"],
[class*="shabox-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-md-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-md-"][class*="-into"],
*:active > [class*="shabox-"][class*="-md-"][class*="-into"],
[class*="shabox-"][class*="-md-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-md-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-md-"][class*="-onto"]:active,
[class*="shabox-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-md-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-md-"][class*="-target1"],
[class*="shabox-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-md-"][class*="-target2"],
[class*="shabox-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-md-"][class*="-target3"],
[class*="shabox-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-md-"][class*="-target4"],
[class*="shabox-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-md-"][class*="-target5"],
[class*="shabox-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-md-"][class*="-target6"] {
  box-shadow: var(--shabox-x-md) var(--shabox-y-md);
}

[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-md-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-md) var(--shabox-y-md);
}

[class*="shabox-"][class*="-lg-"][class*="-base"],
[class*="shabox-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-lg-"][class*="-into"],
*:active > [class*="shabox-"][class*="-lg-"][class*="-into"],
[class*="shabox-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-lg-"][class*="-onto"]:active,
[class*="shabox-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-lg-"][class*="-target1"],
[class*="shabox-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-lg-"][class*="-target2"],
[class*="shabox-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-lg-"][class*="-target3"],
[class*="shabox-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-lg-"][class*="-target4"],
[class*="shabox-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-lg-"][class*="-target5"],
[class*="shabox-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-lg-"][class*="-target6"] {
  box-shadow: var(--shabox-x-lg) var(--shabox-y-lg);
}

[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-lg-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg);
}

/***** Shabox Blur *****/
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-base"],
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-into"],
*:active > [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-into"],
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-onto"]:active,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-target1"],
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-target2"],
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-target3"],
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-target4"],
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-target5"],
[class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-all-"][class*="-target6"] {
  box-shadow: 0 0 var(--shabox-blur-all);
}

[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-all-"][class*="-target6"] {
  box-shadow: inset 0 0 var(--shabox-blur-all);
}

[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-base"],
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-into"],
*:active > [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-into"],
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:active,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-target1"],
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-target2"],
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-target3"],
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-target4"],
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-target5"],
[class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-sm-"][class*="-target6"] {
  box-shadow: var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-sm-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-base"],
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-into"],
*:active > [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-into"],
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-onto"]:active,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-target1"],
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-target2"],
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-target3"],
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-target4"],
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-target5"],
[class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-md-"][class*="-target6"] {
  box-shadow: var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-md-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-base"],
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-into"],
*:active > [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-into"],
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:active,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-target1"],
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-target2"],
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-target3"],
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-target4"],
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-target5"],
[class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-blur-"][class*="-lg-"][class*="-target6"] {
  box-shadow: var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}

[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-blur-"][class*="-lg-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}

/***** Shabox Spread *****/
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-base"],
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-into"],
*:active > [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-into"],
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-onto"]:active,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-target1"],
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-target2"],
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-target3"],
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-target4"],
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-target5"],
[class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-all-"][class*="-target6"] {
  box-shadow: 0 0 var(--shabox-blur-all) var(--shabox-spread-all);
}

[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-all-"][class*="-target6"] {
  box-shadow: inset 0 0 var(--shabox-blur-all) var(--shabox-spread-all);
}

[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-base"],
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-into"],
*:active > [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-into"],
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-onto"]:active,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-target1"],
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-target2"],
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-target3"],
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-target4"],
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-target5"],
[class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-sm-"][class*="-target6"] {
  box-shadow: var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm) var(--shabox-spread-sm);
}

[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-sm-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm) var(--shabox-spread-sm);
}

[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-base"],
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-into"],
*:active > [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-into"],
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-onto"]:active,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-target1"],
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-target2"],
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-target3"],
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-target4"],
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-target5"],
[class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-md-"][class*="-target6"] {
  box-shadow: var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md) var(--shabox-spread-md);
}

[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-md-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md) var(--shabox-spread-md);
}

[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-base"],
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-into"],
*:active > [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-into"],
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-onto"]:active,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-target1"],
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-target2"],
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-target3"],
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-target4"],
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-target5"],
[class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-spread-"][class*="-lg-"][class*="-target6"] {
  box-shadow: var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg) var(--shabox-spread-lg);
}

[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-base"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-into"],
*:active > [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-into"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-onto"]:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-target1"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-target2"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-target3"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-target4"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-target5"],
[class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-relay"] [class*="shabox-"][class*="-in-"][class*="-spread-"][class*="-lg-"][class*="-target6"] {
  box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg) var(--shabox-spread-lg);
}
