/********** SHABOX **********/

/*
1. Shabox Variables
2. Shabox
3. Shabox Blur
4. Shabox Spread
*/

/***** Shabox Variables *****/
[class|="shabox"] {
  --shabox-x-sm: 2px;
  --shabox-x-md: 5px;
  --shabox-x-lg: 10px;
  --shabox-y-sm: 2px;
  --shabox-y-md: 5px;
  --shabox-y-lg: 10px;
  --shabox-blur-all: 5px;
  --shabox-blur-sm: 2px;
  --shabox-blur-md: 5px;
  --shabox-blur-lg: 10px;
  --shabox-spread-all: 5px;
  --shabox-spread-sm: 2px;
  --shabox-spread-md: 5px;
  --shabox-spread-lg: 10px;
}

/***** Shabox *****/
[class|="shabox"][class*="-sm-"][class$="-d"],
[class|="shabox"][class*="-sm-"][class$="-r"]:checked ~ [class|="shabox"][class*="-sm-"][class$="-t"],
*:hover > [class|="shabox"][class*="-sm-"][class$="-i"],
*:focus > [class|="shabox"][class*="-sm-"][class$="-i"],
*:active > [class|="shabox"][class*="-sm-"][class$="-i"],
[class|="shabox"][class*="-sm-"][class$="-o"]:hover,
[class|="shabox"][class*="-sm-"][class$="-o"]:focus,
[class|="shabox"][class*="-sm-"][class$="-o"]:active,
[class|="shabox"][class*="-sm-"][class$="-g"] > *,
[class|="shabox"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-sm-"][class$="-t"]:active > *,
[class|="shabox"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-sm-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-sm) var(--shabox-y-sm);
}

[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-sm-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-sm-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-sm-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-sm-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-sm-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm);
}

[class|="shabox"][class*="-md-"][class$="-d"],
[class|="shabox"][class*="-md-"][class$="-r"]:checked ~ [class|="shabox"][class*="-md-"][class$="-t"],
*:hover > [class|="shabox"][class*="-md-"][class$="-i"],
*:focus > [class|="shabox"][class*="-md-"][class$="-i"],
*:active > [class|="shabox"][class*="-md-"][class$="-i"],
[class|="shabox"][class*="-md-"][class$="-o"]:hover,
[class|="shabox"][class*="-md-"][class$="-o"]:focus,
[class|="shabox"][class*="-md-"][class$="-o"]:active,
[class|="shabox"][class*="-md-"][class$="-g"] > *,
[class|="shabox"][class*="-md-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-md-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-md-"][class$="-t"]:active > *,
[class|="shabox"][class*="-md-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-md-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-md-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-md) var(--shabox-y-md);
}

[class|="shabox"][class*="-in-"][class*="-md-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-md-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-md-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-md-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-md-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-md-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-md) var(--shabox-y-md);
}

[class|="shabox"][class*="-lg-"][class$="-d"],
[class|="shabox"][class*="-lg-"][class$="-r"]:checked ~ [class|="shabox"][class*="-lg-"][class$="-t"],
*:hover > [class|="shabox"][class*="-lg-"][class$="-i"],
*:focus > [class|="shabox"][class*="-lg-"][class$="-i"],
*:active > [class|="shabox"][class*="-lg-"][class$="-i"],
[class|="shabox"][class*="-lg-"][class$="-o"]:hover,
[class|="shabox"][class*="-lg-"][class$="-o"]:focus,
[class|="shabox"][class*="-lg-"][class$="-o"]:active,
[class|="shabox"][class*="-lg-"][class$="-g"] > *,
[class|="shabox"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-lg-"][class$="-t"]:active > *,
[class|="shabox"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-lg-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-lg) var(--shabox-y-lg);
}

[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-lg-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-lg-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-lg-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-lg-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-lg-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg);
}

/***** Shabox Blur *****/
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-d"],
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-r"]:checked ~ [class|="shabox"][class*="-blur-"][class*="-all-"][class$="-t"],
*:hover > [class|="shabox"][class*="-blur-"][class*="-all-"][class$="-i"],
*:focus > [class|="shabox"][class*="-blur-"][class*="-all-"][class$="-i"],
*:active > [class|="shabox"][class*="-blur-"][class*="-all-"][class$="-i"],
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-o"]:hover,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-o"]:focus,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-o"]:active,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-g"] > *,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-t"]:active > *,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-blur-"][class*="-all-"][class$="-f"] > *:active {
  box-shadow: 0 0 var(--shabox-blur-all);
}

[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-all-"][class$="-f"] > *:active {
  box-shadow: inset 0 0 var(--shabox-blur-all);
}

[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-d"],
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-r"]:checked ~ [class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-t"],
*:hover > [class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-i"],
*:focus > [class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-i"],
*:active > [class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-i"],
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-o"]:hover,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-o"]:focus,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-o"]:active,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-g"] > *,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-t"]:active > *,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-d"],
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-r"]:checked ~ [class|="shabox"][class*="-blur-"][class*="-md-"][class$="-t"],
*:hover > [class|="shabox"][class*="-blur-"][class*="-md-"][class$="-i"],
*:focus > [class|="shabox"][class*="-blur-"][class*="-md-"][class$="-i"],
*:active > [class|="shabox"][class*="-blur-"][class*="-md-"][class$="-i"],
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-o"]:hover,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-o"]:focus,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-o"]:active,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-g"] > *,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-t"]:active > *,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-blur-"][class*="-md-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-md-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-d"],
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-r"]:checked ~ [class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-t"],
*:hover > [class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-i"],
*:focus > [class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-i"],
*:active > [class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-i"],
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-o"]:hover,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-o"]:focus,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-o"]:active,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-g"] > *,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-t"]:active > *,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}

[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}

/***** Shabox Spread *****/
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-d"],
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-r"]:checked ~ [class|="shabox"][class*="-spread-"][class*="-all-"][class$="-t"],
*:hover > [class|="shabox"][class*="-spread-"][class*="-all-"][class$="-i"],
*:focus > [class|="shabox"][class*="-spread-"][class*="-all-"][class$="-i"],
*:active > [class|="shabox"][class*="-spread-"][class*="-all-"][class$="-i"],
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-o"]:hover,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-o"]:focus,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-o"]:active,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-g"] > *,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-t"]:active > *,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-spread-"][class*="-all-"][class$="-f"] > *:active {
  box-shadow: 0 0 var(--shabox-blur-all) var(--shabox-spread-all);
}

[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-all-"][class$="-f"] > *:active {
  box-shadow: inset 0 0 var(--shabox-blur-all) var(--shabox-spread-all);
}

[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-d"],
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-r"]:checked ~ [class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-t"],
*:hover > [class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-i"],
*:focus > [class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-i"],
*:active > [class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-i"],
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-o"]:hover,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-o"]:focus,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-o"]:active,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-g"] > *,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-t"]:active > *,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-spread-"][class*="-sm-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm) var(--shabox-spread-sm);
}

[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-sm-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm) var(--shabox-spread-sm);
}

[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-d"],
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-r"]:checked ~ [class|="shabox"][class*="-spread-"][class*="-md-"][class$="-t"],
*:hover > [class|="shabox"][class*="-spread-"][class*="-md-"][class$="-i"],
*:focus > [class|="shabox"][class*="-spread-"][class*="-md-"][class$="-i"],
*:active > [class|="shabox"][class*="-spread-"][class*="-md-"][class$="-i"],
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-o"]:hover,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-o"]:focus,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-o"]:active,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-g"] > *,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-t"]:active > *,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-spread-"][class*="-md-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md) var(--shabox-spread-md);
}

[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-md-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md) var(--shabox-spread-md);
}

[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-d"],
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-r"]:checked ~ [class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-t"],
*:hover > [class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-i"],
*:focus > [class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-i"],
*:active > [class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-i"],
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-o"]:hover,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-o"]:focus,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-o"]:active,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-g"] > *,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-t"]:active > *,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-spread-"][class*="-lg-"][class$="-f"] > *:active {
  box-shadow: var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg) var(--shabox-spread-lg);
}

[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-d"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-r"]:checked ~ [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-t"],
*:hover > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-i"],
*:focus > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-i"],
*:active > [class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-i"],
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-o"]:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-o"]:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-o"]:active,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-g"] > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-t"]:active > *,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shabox"][class*="-in-"][class*="-spread-"][class*="-lg-"][class$="-f"] > *:active {
  box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg) var(--shabox-spread-lg);
}
