/********** SHATEX **********/

/*
1. Shatex Variables
2. Shatex
3. Shatex Blur
*/

/***** Shatex Variables *****/
[class|="shatex"] {
  --shatex-x-sm: 1px;
  --shatex-x-md: 2px;
  --shatex-x-lg: 5px;
  --shatex-y-sm: 1px;
  --shatex-y-md: 2px;
  --shatex-y-lg: 5px;
  --shatex-blur-all: 2px;
  --shatex-blur-sm: 1px;
  --shatex-blur-md: 2px;
  --shatex-blur-lg: 5px;
}

/***** Shatex *****/
[class|="shatex"][class*="-sm-"][class$="-d"],
[class|="shatex"][class*="-sm-"][class$="-r"]:checked ~ [class|="shatex"][class*="-sm-"][class$="-t"],
*:hover > [class|="shatex"][class*="-sm-"][class$="-i"],
*:focus > [class|="shatex"][class*="-sm-"][class$="-i"],
*:active > [class|="shatex"][class*="-sm-"][class$="-i"],
[class|="shatex"][class*="-sm-"][class$="-o"]:hover,
[class|="shatex"][class*="-sm-"][class$="-o"]:focus,
[class|="shatex"][class*="-sm-"][class$="-o"]:active,
[class|="shatex"][class*="-sm-"][class$="-g"] > *,
[class|="shatex"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shatex"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shatex"][class*="-sm-"][class$="-t"]:active > *,
[class|="shatex"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shatex"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shatex"][class*="-sm-"][class$="-f"] > *:active {
  text-shadow: var(--shatex-x-sm) var(--shatex-y-sm);
}

[class|="shatex"][class*="-md-"][class$="-d"],
[class|="shatex"][class*="-md-"][class$="-r"]:checked ~ [class|="shatex"][class*="-md-"][class$="-t"],
*:hover > [class|="shatex"][class*="-md-"][class$="-i"],
*:focus > [class|="shatex"][class*="-md-"][class$="-i"],
*:active > [class|="shatex"][class*="-md-"][class$="-i"],
[class|="shatex"][class*="-md-"][class$="-o"]:hover,
[class|="shatex"][class*="-md-"][class$="-o"]:focus,
[class|="shatex"][class*="-md-"][class$="-o"]:active,
[class|="shatex"][class*="-md-"][class$="-g"] > *,
[class|="shatex"][class*="-md-"][class$="-t"]:hover > *,
[class|="shatex"][class*="-md-"][class$="-t"]:focus > *,
[class|="shatex"][class*="-md-"][class$="-t"]:active > *,
[class|="shatex"][class*="-md-"][class$="-f"] > *:hover,
[class|="shatex"][class*="-md-"][class$="-f"] > *:focus,
[class|="shatex"][class*="-md-"][class$="-f"] > *:active {
  text-shadow: var(--shatex-x-md) var(--shatex-y-md);
}

[class|="shatex"][class*="-lg-"][class$="-d"],
[class|="shatex"][class*="-lg-"][class$="-r"]:checked ~ [class|="shatex"][class*="-lg-"][class$="-t"],
*:hover > [class|="shatex"][class*="-lg-"][class$="-i"],
*:focus > [class|="shatex"][class*="-lg-"][class$="-i"],
*:active > [class|="shatex"][class*="-lg-"][class$="-i"],
[class|="shatex"][class*="-lg-"][class$="-o"]:hover,
[class|="shatex"][class*="-lg-"][class$="-o"]:focus,
[class|="shatex"][class*="-lg-"][class$="-o"]:active,
[class|="shatex"][class*="-lg-"][class$="-g"] > *,
[class|="shatex"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shatex"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shatex"][class*="-lg-"][class$="-t"]:active > *,
[class|="shatex"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shatex"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shatex"][class*="-lg-"][class$="-f"] > *:active {
  text-shadow: var(--shatex-x-lg) var(--shatex-y-lg);
}

/***** Shatex Blur *****/
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-d"],
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-r"]:checked ~ [class|="shatex"][class*="-blur-"][class*="-all-"][class$="-t"],
*:hover > [class|="shatex"][class*="-blur-"][class*="-all-"][class$="-i"],
*:focus > [class|="shatex"][class*="-blur-"][class*="-all-"][class$="-i"],
*:active > [class|="shatex"][class*="-blur-"][class*="-all-"][class$="-i"],
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-o"]:hover,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-o"]:focus,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-o"]:active,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-g"] > *,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-t"]:hover > *,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-t"]:focus > *,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-t"]:active > *,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-f"] > *:hover,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-f"] > *:focus,
[class|="shatex"][class*="-blur-"][class*="-all-"][class$="-f"] > *:active {
  text-shadow: 0 0 var(--shatex-blur-all);
}

[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-d"],
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-r"]:checked ~ [class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-t"],
*:hover > [class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-i"],
*:focus > [class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-i"],
*:active > [class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-i"],
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-o"]:hover,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-o"]:focus,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-o"]:active,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-g"] > *,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-t"]:hover > *,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-t"]:focus > *,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-t"]:active > *,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:hover,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:focus,
[class|="shatex"][class*="-blur-"][class*="-sm-"][class$="-f"] > *:active {
  text-shadow: var(--shatex-x-sm) var(--shatex-y-sm) var(--shatex-blur-sm);
}

[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-d"],
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-r"]:checked ~ [class|="shatex"][class*="-blur-"][class*="-md-"][class$="-t"],
*:hover > [class|="shatex"][class*="-blur-"][class*="-md-"][class$="-i"],
*:focus > [class|="shatex"][class*="-blur-"][class*="-md-"][class$="-i"],
*:active > [class|="shatex"][class*="-blur-"][class*="-md-"][class$="-i"],
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-o"]:hover,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-o"]:focus,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-o"]:active,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-g"] > *,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-t"]:hover > *,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-t"]:focus > *,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-t"]:active > *,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-f"] > *:hover,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-f"] > *:focus,
[class|="shatex"][class*="-blur-"][class*="-md-"][class$="-f"] > *:active {
  text-shadow: var(--shatex-x-md) var(--shatex-y-md) var(--shatex-blur-md);
}

[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-d"],
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-r"]:checked ~ [class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-t"],
*:hover > [class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-i"],
*:focus > [class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-i"],
*:active > [class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-i"],
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-o"]:hover,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-o"]:focus,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-o"]:active,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-g"] > *,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-t"]:hover > *,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-t"]:focus > *,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-t"]:active > *,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:hover,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:focus,
[class|="shatex"][class*="-blur-"][class*="-lg-"][class$="-f"] > *:active {
  text-shadow: var(--shatex-x-lg) var(--shatex-y-lg) var(--shatex-blur-lg);
}
