/********** SHATEX **********/

/*
1. Shatex Variables
2. Shatex
3. Shatex Blur
*/

/***** Shatex Variables *****/
[class*="shatex"] {
  --shatex-x-sm: 1px;
  --shatex-x-md: 2px;
  --shatex-x-lg: 5px;
  --shatex-y-sm: 1px;
  --shatex-y-md: 2px;
  --shatex-y-lg: 5px;
  --shatex-blur-Z: 2px;
  --shatex-blur-sm: 1px;
  --shatex-blur-md: 2px;
  --shatex-blur-lg: 5px;
}

/***** Shatex *****/
[class*="shatex"][class*="tio"][class*="sm"],
[class*="shatex"][class*="dio"][class*="sm"]:checked ~ [class*="shatex"][class*="target"][class*="sm"],
*:hover > [class*="shatex"][class*="into"][class*="sm"],
*:focus > [class*="shatex"][class*="into"][class*="sm"],
*:active > [class*="shatex"][class*="into"][class*="sm"],
[class*="shatex"][class*="onto"][class*="sm"]:hover,
[class*="shatex"][class*="onto"][class*="sm"]:focus,
[class*="shatex"][class*="onto"][class*="sm"]:active,
[class*="shatex"][class*="toall"][class*="sm"] > *,
[class*="shatex"][class*="forall"][class*="sm"]:hover > *,
[class*="shatex"][class*="forall"][class*="sm"]:focus > *,
[class*="shatex"][class*="forall"][class*="sm"]:active > *,
[class*="shatex"][class*="fromall"][class*="sm"] > *:hover,
[class*="shatex"][class*="fromall"][class*="sm"] > *:focus,
[class*="shatex"][class*="fromall"][class*="sm"] > *:active {
  text-shadow: var(--shatex-x-sm) var(--shatex-y-sm);
}

[class*="shatex"][class*="tio"][class*="md"],
[class*="shatex"][class*="dio"][class*="md"]:checked ~ [class*="shatex"][class*="target"][class*="md"],
*:hover > [class*="shatex"][class*="into"][class*="md"],
*:focus > [class*="shatex"][class*="into"][class*="md"],
*:active > [class*="shatex"][class*="into"][class*="md"],
[class*="shatex"][class*="onto"][class*="md"]:hover,
[class*="shatex"][class*="onto"][class*="md"]:focus,
[class*="shatex"][class*="onto"][class*="md"]:active,
[class*="shatex"][class*="toall"][class*="md"] > *,
[class*="shatex"][class*="forall"][class*="md"]:hover > *,
[class*="shatex"][class*="forall"][class*="md"]:focus > *,
[class*="shatex"][class*="forall"][class*="md"]:active > *,
[class*="shatex"][class*="fromall"][class*="md"] > *:hover,
[class*="shatex"][class*="fromall"][class*="md"] > *:focus,
[class*="shatex"][class*="fromall"][class*="md"] > *:active {
  text-shadow: var(--shatex-x-md) var(--shatex-y-md);
}

[class*="shatex"][class*="tio"][class*="lg"],
[class*="shatex"][class*="dio"][class*="lg"]:checked ~ [class*="shatex"][class*="target"][class*="lg"],
*:hover > [class*="shatex"][class*="into"][class*="lg"],
*:focus > [class*="shatex"][class*="into"][class*="lg"],
*:active > [class*="shatex"][class*="into"][class*="lg"],
[class*="shatex"][class*="onto"][class*="lg"]:hover,
[class*="shatex"][class*="onto"][class*="lg"]:focus,
[class*="shatex"][class*="onto"][class*="lg"]:active,
[class*="shatex"][class*="toall"][class*="lg"] > *,
[class*="shatex"][class*="forall"][class*="lg"]:hover > *,
[class*="shatex"][class*="forall"][class*="lg"]:focus > *,
[class*="shatex"][class*="forall"][class*="lg"]:active > *,
[class*="shatex"][class*="fromall"][class*="lg"] > *:hover,
[class*="shatex"][class*="fromall"][class*="lg"] > *:focus,
[class*="shatex"][class*="fromall"][class*="lg"] > *:active {
  text-shadow: var(--shatex-x-lg) var(--shatex-y-lg);
}

/***** Shatex Blur *****/
[class*="shatex"][class*="tio"][class*="blur"][class*="Z"],
[class*="shatex"][class*="dio"][class*="blur"][class*="Z"]:checked ~ [class*="shatex"][class*="target"][class*="blur"][class*="Z"],
*:hover > [class*="shatex"][class*="into"][class*="blur"][class*="Z"],
*:focus > [class*="shatex"][class*="into"][class*="blur"][class*="Z"],
*:active > [class*="shatex"][class*="into"][class*="blur"][class*="Z"],
[class*="shatex"][class*="onto"][class*="blur"][class*="Z"]:hover,
[class*="shatex"][class*="onto"][class*="blur"][class*="Z"]:focus,
[class*="shatex"][class*="onto"][class*="blur"][class*="Z"]:active,
[class*="shatex"][class*="toall"][class*="blur"][class*="Z"] > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="Z"]:hover > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="Z"]:focus > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="Z"]:active > *,
[class*="shatex"][class*="fromall"][class*="blur"][class*="Z"] > *:hover,
[class*="shatex"][class*="fromall"][class*="blur"][class*="Z"] > *:focus,
[class*="shatex"][class*="fromall"][class*="blur"][class*="Z"] > *:active {
  text-shadow: 0 0 var(--shatex-blur-Z);
}

[class*="shatex"][class*="tio"][class*="blur"][class*="sm"],
[class*="shatex"][class*="dio"][class*="blur"][class*="sm"]:checked ~ [class*="shatex"][class*="target"][class*="blur"][class*="sm"],
*:hover > [class*="shatex"][class*="into"][class*="blur"][class*="sm"],
*:focus > [class*="shatex"][class*="into"][class*="blur"][class*="sm"],
*:active > [class*="shatex"][class*="into"][class*="blur"][class*="sm"],
[class*="shatex"][class*="onto"][class*="blur"][class*="sm"]:hover,
[class*="shatex"][class*="onto"][class*="blur"][class*="sm"]:focus,
[class*="shatex"][class*="onto"][class*="blur"][class*="sm"]:active,
[class*="shatex"][class*="toall"][class*="blur"][class*="sm"] > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="sm"]:hover > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="sm"]:focus > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="sm"]:active > *,
[class*="shatex"][class*="fromall"][class*="blur"][class*="sm"] > *:hover,
[class*="shatex"][class*="fromall"][class*="blur"][class*="sm"] > *:focus,
[class*="shatex"][class*="fromall"][class*="blur"][class*="sm"] > *:active {
  text-shadow: var(--shatex-x-sm) var(--shatex-y-sm) var(--shatex-blur-sm);
}

[class*="shatex"][class*="tio"][class*="blur"][class*="md"],
[class*="shatex"][class*="dio"][class*="blur"][class*="md"]:checked ~ [class*="shatex"][class*="target"][class*="blur"][class*="md"],
*:hover > [class*="shatex"][class*="into"][class*="blur"][class*="md"],
*:focus > [class*="shatex"][class*="into"][class*="blur"][class*="md"],
*:active > [class*="shatex"][class*="into"][class*="blur"][class*="md"],
[class*="shatex"][class*="onto"][class*="blur"][class*="md"]:hover,
[class*="shatex"][class*="onto"][class*="blur"][class*="md"]:focus,
[class*="shatex"][class*="onto"][class*="blur"][class*="md"]:active,
[class*="shatex"][class*="toall"][class*="blur"][class*="md"] > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="md"]:hover > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="md"]:focus > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="md"]:active > *,
[class*="shatex"][class*="fromall"][class*="blur"][class*="md"] > *:hover,
[class*="shatex"][class*="fromall"][class*="blur"][class*="md"] > *:focus,
[class*="shatex"][class*="fromall"][class*="blur"][class*="md"] > *:active {
  text-shadow: var(--shatex-x-md) var(--shatex-y-md) var(--shatex-blur-md);
}

[class*="shatex"][class*="tio"][class*="blur"][class*="lg"],
[class*="shatex"][class*="dio"][class*="blur"][class*="lg"]:checked ~ [class*="shatex"][class*="target"][class*="blur"][class*="lg"],
*:hover > [class*="shatex"][class*="into"][class*="blur"][class*="lg"],
*:focus > [class*="shatex"][class*="into"][class*="blur"][class*="lg"],
*:active > [class*="shatex"][class*="into"][class*="blur"][class*="lg"],
[class*="shatex"][class*="onto"][class*="blur"][class*="lg"]:hover,
[class*="shatex"][class*="onto"][class*="blur"][class*="lg"]:focus,
[class*="shatex"][class*="onto"][class*="blur"][class*="lg"]:active,
[class*="shatex"][class*="toall"][class*="blur"][class*="lg"] > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="lg"]:hover > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="lg"]:focus > *,
[class*="shatex"][class*="forall"][class*="blur"][class*="lg"]:active > *,
[class*="shatex"][class*="fromall"][class*="blur"][class*="lg"] > *:hover,
[class*="shatex"][class*="fromall"][class*="blur"][class*="lg"] > *:focus,
[class*="shatex"][class*="fromall"][class*="blur"][class*="lg"] > *:active {
  text-shadow: var(--shatex-x-lg) var(--shatex-y-lg) var(--shatex-blur-lg);
}
