/********** SHATEX **********/

/*
1. Shatex Variables
2. Shatex
3. Shatex Blur
*/

/***** Shatex Variables *****/
[class*="shatex-"] {
  --shatex-x-sm: 1px;
  --shatex-x-md: 2px;
  --shatex-x-lg: 5px;
  --shatex-y-sm: 1px;
  --shatex-y-md: 2px;
  --shatex-y-lg: 5px;
  --shatex-blur-all: 2px;
  --shatex-blur-sm: 1px;
  --shatex-blur-md: 2px;
  --shatex-blur-lg: 5px;
}

/***** Shatex *****/
[class*="shatex-"][class*="-sm-"][class*="-base"],
[class*="shatex-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shatex-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shatex-"][class*="-sm-"][class*="-into"],
*:active > [class*="shatex-"][class*="-sm-"][class*="-into"],
[class*="shatex-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shatex-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shatex-"][class*="-sm-"][class*="-onto"]:active,
[class*="shatex-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shatex-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shatex-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shatex-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shatex-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shatex-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shatex-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shatex-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-sm-"][class*="-target1"],
[class*="shatex-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shatex-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-sm-"][class*="-target2"],
[class*="shatex-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shatex-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-sm-"][class*="-target3"],
[class*="shatex-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shatex-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-sm-"][class*="-target4"],
[class*="shatex-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shatex-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-sm-"][class*="-target5"],
[class*="shatex-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shatex-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-sm-"][class*="-target6"] {
  text-shadow: var(--shatex-x-sm) var(--shatex-y-sm);
}

[class*="shatex-"][class*="-md-"][class*="-base"],
[class*="shatex-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shatex-"][class*="-md-"][class*="-into"],
*:focus > [class*="shatex-"][class*="-md-"][class*="-into"],
*:active > [class*="shatex-"][class*="-md-"][class*="-into"],
[class*="shatex-"][class*="-md-"][class*="-onto"]:hover,
[class*="shatex-"][class*="-md-"][class*="-onto"]:focus,
[class*="shatex-"][class*="-md-"][class*="-onto"]:active,
[class*="shatex-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shatex-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shatex-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shatex-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shatex-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shatex-"][class*="-md-"][class*="-from"] > *:active,
[class*="shatex-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shatex-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-md-"][class*="-target1"],
[class*="shatex-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shatex-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-md-"][class*="-target2"],
[class*="shatex-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shatex-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-md-"][class*="-target3"],
[class*="shatex-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shatex-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-md-"][class*="-target4"],
[class*="shatex-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shatex-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-md-"][class*="-target5"],
[class*="shatex-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shatex-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-md-"][class*="-target6"] {
  text-shadow: var(--shatex-x-md) var(--shatex-y-md);
}

[class*="shatex-"][class*="-lg-"][class*="-base"],
[class*="shatex-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shatex-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shatex-"][class*="-lg-"][class*="-into"],
*:active > [class*="shatex-"][class*="-lg-"][class*="-into"],
[class*="shatex-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shatex-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shatex-"][class*="-lg-"][class*="-onto"]:active,
[class*="shatex-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shatex-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shatex-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shatex-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shatex-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shatex-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shatex-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shatex-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-lg-"][class*="-target1"],
[class*="shatex-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shatex-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-lg-"][class*="-target2"],
[class*="shatex-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shatex-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-lg-"][class*="-target3"],
[class*="shatex-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shatex-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-lg-"][class*="-target4"],
[class*="shatex-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shatex-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-lg-"][class*="-target5"],
[class*="shatex-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shatex-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-lg-"][class*="-target6"] {
  text-shadow: var(--shatex-x-lg) var(--shatex-y-lg);
}

/***** Shatex Blur *****/
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-base"],
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-global"] > *,
*:hover > [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-into"],
*:focus > [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-into"],
*:active > [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-into"],
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-onto"]:hover,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-onto"]:focus,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-onto"]:active,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-toall"]:hover > *,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-toall"]:focus > *,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-toall"]:active > *,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:hover,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:focus,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-from"] > *:active,
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-radio1"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-target1"],
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-radio2"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-target2"],
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-radio3"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-target3"],
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-radio4"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-target4"],
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-radio5"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-target5"],
[class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-radio6"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-all-"][class*="-target6"] {
  text-shadow: 0 0 var(--shatex-blur-all);
}

[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-base"],
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-global"] > *,
*:hover > [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-into"],
*:focus > [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-into"],
*:active > [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-into"],
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:hover,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:focus,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-onto"]:active,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:hover > *,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:focus > *,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-toall"]:active > *,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:hover,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:focus,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-from"] > *:active,
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-radio1"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-target1"],
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-radio2"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-target2"],
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-radio3"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-target3"],
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-radio4"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-target4"],
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-radio5"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-target5"],
[class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-radio6"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-sm-"][class*="-target6"] {
  text-shadow: var(--shatex-x-sm) var(--shatex-y-sm) var(--shatex-blur-sm);
}

[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-base"],
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-global"] > *,
*:hover > [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-into"],
*:focus > [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-into"],
*:active > [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-into"],
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-onto"]:hover,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-onto"]:focus,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-onto"]:active,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-toall"]:hover > *,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-toall"]:focus > *,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-toall"]:active > *,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:hover,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:focus,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-from"] > *:active,
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-radio1"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-target1"],
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-radio2"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-target2"],
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-radio3"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-target3"],
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-radio4"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-target4"],
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-radio5"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-target5"],
[class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-radio6"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-md-"][class*="-target6"] {
  text-shadow: var(--shatex-x-md) var(--shatex-y-md) var(--shatex-blur-md);
}

[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-base"],
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-global"] > *,
*:hover > [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-into"],
*:focus > [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-into"],
*:active > [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-into"],
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:hover,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:focus,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-onto"]:active,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:hover > *,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:focus > *,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-toall"]:active > *,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:hover,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:focus,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-from"] > *:active,
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-radio1"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-target1"],
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-radio2"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-target2"],
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-radio3"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-target3"],
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-radio4"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-target4"],
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-radio5"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-target5"],
[class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-radio6"]:checked ~ [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-relay"] [class*="shatex-"][class*="-blur-"][class*="-lg-"][class*="-target6"] {
  text-shadow: var(--shatex-x-lg) var(--shatex-y-lg) var(--shatex-blur-lg);
}
