/********** SIZE ***********/

/*
1. Height
2. Min Height
3. Max Height
4. Width
5. Min Width
6. Max Width
*/

/***** Height *****/
[class*="height-sm-"][class*="-base"],
[class*="height-sm-"][class*="-global"] > * {
  height: var(--height-sm);
}

[class*="height-md-"][class*="-base"],
[class*="height-md-"][class*="-global"] > * {
  height: var(--height-md);
}

[class*="height-lg-"][class*="-base"],
[class*="height-lg-"][class*="-global"] > * {
  height: var(--height-lg);
}

/***** Min Height *****/
[class*="min-h-sm-"][class*="-base"],
[class*="min-h-sm-"][class*="-global"] > * {
  min-height: var(--min-height-sm);
}

[class*="min-h-md-"][class*="-base"],
[class*="min-h-md-"][class*="-global"] > * {
  min-height: var(--min-height-md);
}

[class*="min-h-lg-"][class*="-base"],
[class*="min-h-lg-"][class*="-global"] > * {
  min-height: var(--min-height-lg);
}

/***** Max Height *****/
[class*="max-h-sm-"][class*="-base"],
[class*="max-h-sm-"][class*="-global"] > * {
  max-height: var(--max-height-sm);
}

[class*="max-h-md-"][class*="-base"],
[class*="max-h-md-"][class*="-global"] > * {
  max-height: var(--max-height-md);
}

[class*="max-h-lg-"][class*="-base"],
[class*="max-h-lg-"][class*="-global"] > * {
  max-height: var(--max-height-lg);
}

/***** Width *****/
[class*="width-sm-"][class*="-base"],
[class*="width-sm-"][class*="-global"] > * {
  width: var(--width-sm);
}

[class*="width-md-"][class*="-base"],
[class*="width-md-"][class*="-global"] > * {
  width: var(--width-md);
}

[class*="width-lg-"][class*="-base"],
[class*="width-lg-"][class*="-global"] > * {
  width: var(--width-lg);
}

/***** Min Width *****/
[class*="min-w-sm-"][class*="-base"],
[class*="min-w-sm-"][class*="-global"] > * {
  min-width: var(--min-width-sm);
}

[class*="min-w-md-"][class*="-base"],
[class*="min-w-md-"][class*="-global"] > * {
  min-width: var(--min-width-md);
}

[class*="min-w-lg-"][class*="-base"],
[class*="min-w-lg-"][class*="-global"] > * {
  min-width: var(--min-width-lg);
}

/***** Max Width *****/
[class*="max-w-sm-"][class*="-base"],
[class*="max-w-sm-"][class*="-global"] > * {
  max-width: var(--max-width-sm);
}

[class*="max-w-md-"][class*="-base"],
[class*="max-w-md-"][class*="-global"] > * {
  max-width: var(--max-width-md);
}

[class*="max-w-lg-"][class*="-base"],
[class*="max-w-lg-"][class*="-global"] > * {
  max-width: var(--max-width-lg);
}

