/********** SPACE ***********/

/*
1. Mar Variables
2. Mar All
3. Mar Top
4. Mar Right
5. Mar Bottom
6. Mar Left
7. Pad Variables
8. Pad All
9. Pad Top
10. Pad Right
11. Pad Bottom
12. Pad Left
*/

/***** Mar Variables *****/
[class*="mar-"] {
  --mar-none: 0;
  --mar-sm: 10px;
  --mar-md: 20px;
  --mar-lg: 50px;
  --mar-bot-sm: 10px;
  --mar-bot-md: 20px;
  --mar-bot-lg: 50px;
  --mar-left-sm: 10px;
  --mar-left-md: 20px;
  --mar-left-lg: 50px;
  --mar-right-sm: 10px;
  --mar-right-md: 20px;
  --mar-right-lg: 50px;
  --mar-top-sm: 10px;
  --mar-top-md: 20px;
  --mar-top-lg: 50px;
}

/***** Mar *****/
[class*="mar-all-none-"][class*="-base"],
[class*="mar-all-none-"][class*="-global"] > * {
  margin: var(--mar-none);
}

[class*="mar-all-sm-"][class*="-base"],
[class*="mar-all-sm-"][class*="-global"] > * {
  margin: var(--mar-sm);
}

[class*="mar-all-md-"][class*="-base"],
[class*="mar-all-md-"][class*="-global"] > * {
  margin: var(--mar-md);
}

[class*="mar-all-lg-"][class*="-base"],
[class*="mar-all-lg-"][class*="-global"] > * {
  margin: var(--mar-lg);
}

/***** Mar Top *****/
[class*="mar-top-none-"][class*="-base"],
[class*="mar-top-none-"][class*="-global"] > * {
  margin-top: var(--mar-none);
}

[class*="mar-top-sm-"][class*="-base"],
[class*="mar-top-sm-"][class*="-global"] > * {
  margin-top: var(--mar-top-sm);
}

[class*="mar-top-md-"][class*="-base"],
[class*="mar-top-md-"][class*="-global"] > * {
  margin-top: var(--mar-top-md);
}

[class*="mar-top-lg-"][class*="-base"],
[class*="mar-top-lg-"][class*="-global"] > * {
  margin-top: var(--mar-top-lg);
}

/***** Mar Right *****/
[class*="mar-right-none-"][class*="-base"],
[class*="mar-right-none-"][class*="-global"] > * {
  margin-right: var(--mar-none);
}

[class*="mar-right-sm-"][class*="-base"],
[class*="mar-right-sm-"][class*="-global"] > * {
  margin-right: var(--mar-right-sm);
}

[class*="mar-right-md-"][class*="-base"],
[class*="mar-right-md-"][class*="-global"] > * {
  margin-right: var(--mar-right-md);
}

[class*="mar-right-lg-"][class*="-base"],
[class*="mar-right-lg-"][class*="-global"] > * {
  margin-right: var(--mar-right-lg);
}

/***** Mar Bot *****/
[class*="mar-bot-none-"][class*="-base"],
[class*="mar-bot-none-"][class*="-global"] > * {
  margin-bottom: var(--mar-none);
}

[class*="mar-bot-sm-"][class*="-base"],
[class*="mar-bot-sm-"][class*="-global"] > * {
  margin-bottom: var(--mar-bot-sm);
}

[class*="mar-bot-md-"][class*="-base"],
[class*="mar-bot-md-"][class*="-global"] > * {
  margin-bottom: var(--mar-bot-md);
}

[class*="mar-bot-lg-"][class*="-base"],
[class*="mar-bot-lg-"][class*="-global"] > * {
  margin-bottom: var(--mar-bot-lg);
}

/***** Mar Left *****/
[class*="mar-left-none-"][class*="-base"],
[class*="mar-left-none-"][class*="-global"] > * {
  margin-left: var(--mar-none);
}

[class*="mar-left-sm-"][class*="-base"],
[class*="mar-left-sm-"][class*="-global"] > * {
  margin-left: var(--mar-left-sm);
}

[class*="mar-left-md-"][class*="-base"],
[class*="mar-left-md-"][class*="-global"] > * {
  margin-left: var(--mar-left-md);
}

[class*="mar-left-lg-"][class*="-base"],
[class*="mar-left-lg-"][class*="-global"] > * {
  margin-left: var(--mar-left-lg);
}

/***** Pad Variables *****/
[class*="pad-"] {
  --pad-none: 0;
  --pad-sm: 10px;
  --pad-md: 20px;
  --pad-lg: 50px;
  --pad-bot-sm: 10px;
  --pad-bot-md: 20px;
  --pad-bot-lg: 50px;
  --pad-left-sm: 10px;
  --pad-left-md: 20px;
  --pad-left-lg: 50px;
  --pad-right-sm: 10px;
  --pad-right-md: 20px;
  --pad-right-lg: 50px;
  --pad-top-sm: 10px;
  --pad-top-md: 20px;
  --pad-top-lg: 50px;
}

/***** Pad *****/
[class*="pad-all-none-"][class*="-base"],
[class*="pad-all-none-"][class*="-global"] > * {
  padding: var(--pad-none);
}

[class*="pad-all-sm-"][class*="-base"],
[class*="pad-all-sm-"][class*="-global"] > * {
  padding: var(--pad-sm);
}

[class*="pad-all-md-"][class*="-base"],
[class*="pad-all-md-"][class*="-global"] > * {
  padding: var(--pad-md);
}

[class*="pad-all-lg-"][class*="-base"],
[class*="pad-all-lg-"][class*="-global"] > * {
  padding: var(--pad-lg);
}

/***** Pad Top *****/
[class*="pad-top-none-"][class*="-base"],
[class*="pad-top-none-"][class*="-global"] > * {
  padding-top: var(--pad-none);
}

[class*="pad-top-sm-"][class*="-base"],
[class*="pad-top-sm-"][class*="-global"] > * {
  padding-top: var(--pad-top-sm);
}

[class*="pad-top-md-"][class*="-base"],
[class*="pad-top-md-"][class*="-global"] > * {
  padding-top: var(--pad-top-md);
}

[class*="pad-top-lg-"][class*="-base"],
[class*="pad-top-lg-"][class*="-global"] > * {
  padding-top: var(--pad-top-lg);
}

/***** Pad Right *****/
[class*="pad-right-none-"][class*="-base"],
[class*="pad-right-none-"][class*="-global"] > * {
  padding-right: var(--pad-none);
}

[class*="pad-right-sm-"][class*="-base"],
[class*="pad-right-sm-"][class*="-global"] > * {
  padding-right: var(--pad-right-sm);
}

[class*="pad-right-md-"][class*="-base"],
[class*="pad-right-md-"][class*="-global"] > * {
  padding-right: var(--pad-right-md);
}

[class*="pad-right-lg-"][class*="-base"],
[class*="pad-right-lg-"][class*="-global"] > * {
  padding-right: var(--pad-right-lg);
}

/***** Pad Bottom *****/
[class*="pad-bot-none-"][class*="-base"],
[class*="pad-bot-none-"][class*="-global"] > * {
  padding-bottom: var(--pad-none);
}

[class*="pad-bot-sm-"][class*="-base"],
[class*="pad-bot-sm-"][class*="-global"] > * {
  padding-bottom: var(--pad-bot-sm);
}

[class*="pad-bot-md-"][class*="-base"],
[class*="pad-bot-md-"][class*="-global"] > * {
  padding-bottom: var(--pad-bot-md);
}

[class*="pad-bot-lg-"][class*="-base"],
[class*="pad-bot-lg-"][class*="-global"] > * {
  padding-bottom: var(--pad-bot-lg);
}

/***** Pad Left *****/
[class*="pad-left-none-"][class*="-base"],
[class*="pad-left-none-"][class*="-global"] > * {
  padding-left: var(--pad-none);
}

[class*="pad-left-sm-"][class*="-base"],
[class*="pad-left-sm-"][class*="-global"] > * {
  padding-left: var(--pad-left-sm);
}

[class*="pad-left-md-"][class*="-base"],
[class*="pad-left-md-"][class*="-global"] > * {
  padding-left: var(--pad-left-md);
}

[class*="pad-left-lg-"][class*="-base"],
[class*="pad-left-lg-"][class*="-global"] > * {
  padding-left: var(--pad-left-lg);
}
