/********** SPACE ***********/

/*
1. Mar Variables
2. Mar All
3. Mar Top
4. Mar Right
5. Mar Bottom
6. Mar Left
7. Pad Variables
8. Pad All
9. Pad Top
10. Pad Right
11. Pad Bottom
12. Pad Left
*/

/***** Mar Variables *****/
[class*="mar"] {
  --mar-sm: 10px;
  --mar-md: 20px;
  --mar-lg: 50px;
  --mar-bottom-sm: 10px;
  --mar-bottom-md: 20px;
  --mar-bottom-lg: 50px;
  --mar-left-sm: 10px;
  --mar-left-md: 20px;
  --mar-left-lg: 50px;
  --mar-right-sm: 10px;
  --mar-right-md: 20px;
  --mar-right-lg: 50px;
  --mar-top-sm: 10px;
  --mar-top-md: 20px;
  --mar-top-lg: 50px;
}

/***** Mar *****/
[class|="mar"][class*="-sm-"][class$="-d"],
[class|="mar"][class*="-sm-"][class$="-g"] > * {
  margin: var(--mar-sm);
}

[class|="mar"][class*="-md-"][class$="-d"],
[class|="mar"][class*="-md-"][class$="-g"] > * {
  margin: var(--mar-md);
}

[class|="mar"][class*="-lg-"][class$="-d"],
[class|="mar"][class*="-lg-"][class$="-g"] > * {
  margin: var(--mar-lg);
}

/***** Mar Top *****/
[class|="top-mar"][class*="-sm-"][class$="-d"],
[class|="top-mar"][class*="-sm-"][class$="-g"] > * {
  margin-top: var(--mar-top-sm);
}

[class|="top-mar"][class*="-md-"][class$="-d"],
[class|="top-mar"][class*="-md-"][class$="-g"] > * {
  margin-top: var(--mar-top-md);
}

[class|="top-mar"][class*="-lg-"][class$="-d"],
[class|="top-mar"][class*="-lg-"][class$="-g"] > * {
  margin-top: var(--mar-top-lg);
}

/***** Mar Right *****/
[class|="right-mar"][class*="-sm-"][class$="-d"],
[class|="right-mar"][class*="-sm-"][class$="-g"] > * {
  margin-right: var(--mar-right-sm);
}

[class|="right-mar"][class*="-md-"][class$="-d"],
[class|="right-mar"][class*="-md-"][class$="-g"] > * {
  margin-right: var(--mar-right-md);
}

[class|="right-mar"][class*="-lg-"][class$="-d"],
[class|="right-mar"][class*="-lg-"][class$="-g"] > * {
  margin-right: var(--mar-right-lg);
}

/***** Mar Bot *****/
[class|="bot-mar"][class*="-sm-"][class$="-d"],
[class|="bot-mar"][class*="-sm-"][class$="-g"] > * {
  margin-bottom: var(--mar-bottom-sm);
}

[class|="bot-mar"][class*="-md-"][class$="-d"],
[class|="bot-mar"][class*="-md-"][class$="-g"] > * {
  margin-bottom: var(--mar-bottom-md);
}

[class|="bot-mar"][class*="-lg-"][class$="-d"],
[class|="bot-mar"][class*="-lg-"][class$="-g"] > * {
  margin-bottom: var(--mar-bottom-lg);
}

/***** Mar Left *****/
[class|="left-mar"][class*="-sm-"][class$="-d"],
[class|="left-mar"][class*="-sm-"][class$="-g"] > * {
  margin-left: var(--mar-left-sm);
}

[class|="left-mar"][class*="-md-"][class$="-d"],
[class|="left-mar"][class*="-md-"][class$="-g"] > * {
  margin-left: var(--mar-left-md);
}

[class|="left-mar"][class*="-lg-"][class$="-d"],
[class|="left-mar"][class*="-lg-"][class$="-g"] > * {
  margin-left: var(--mar-left-lg);
}

/***** Pad Variables *****/
[class*="pad"] {
  --pad-sm: 10px;
  --pad-md: 20px;
  --pad-lg: 50px;
  --pad-bottom-sm: 10px;
  --pad-bottom-md: 20px;
  --pad-bottom-lg: 50px;
  --pad-left-sm: 10px;
  --pad-left-md: 20px;
  --pad-left-lg: 50px;
  --pad-right-sm: 10px;
  --pad-right-md: 20px;
  --pad-right-lg: 50px;
  --pad-top-sm: 10px;
  --pad-top-md: 20px;
  --pad-top-lg: 50px;
}

/***** Pad *****/
[class|="pad"][class*="-sm-"][class$="-d"],
[class|="pad"][class*="-sm-"][class$="-g"] > * {
  padding: var(--pad-sm);
}

[class|="pad"][class*="-md-"][class$="-d"],
[class|="pad"][class*="-md-"][class$="-g"] > * {
  padding: var(--pad-md);
}

[class|="pad"][class*="-lg-"][class$="-d"],
[class|="pad"][class*="-lg-"][class$="-g"] > * {
  padding: var(--pad-lg);
}

/***** Pad Top *****/
[class|="top-pad"][class*="-sm-"][class$="-d"],
[class|="top-pad"][class*="-sm-"][class$="-g"] > * {
  padding-top: var(--pad-top-sm);
}

[class|="top-pad"][class*="-md-"][class$="-d"],
[class|="top-pad"][class*="-md-"][class$="-g"] > * {
  padding-top: var(--pad-top-md);
}

[class|="top-pad"][class*="-lg-"][class$="-d"],
[class|="top-pad"][class*="-lg-"][class$="-g"] > * {
  padding-top: var(--pad-top-lg);
}

/***** Pad Right *****/
[class|="right-pad"][class*="-sm-"][class$="-d"],
[class|="right-pad"][class*="-sm-"][class$="-g"] > * {
  padding-right: var(--pad-right-sm);
}

[class|="right-pad"][class*="-md-"][class$="-d"],
[class|="right-pad"][class*="-md-"][class$="-g"] > * {
  padding-right: var(--pad-right-md);
}

[class|="right-pad"][class*="-lg-"][class$="-d"],
[class|="right-pad"][class*="-lg-"][class$="-g"] > * {
  padding-right: var(--pad-right-lg);
}

/***** Pad Bottom *****/
[class|="bot-pad"][class*="-sm-"][class$="-d"],
[class|="bot-pad"][class*="-sm-"][class$="-g"] > * {
  padding-bottom: var(--pad-bottom-sm);
}

[class|="bot-pad"][class*="-md-"][class$="-d"],
[class|="bot-pad"][class*="-md-"][class$="-g"] > * {
  padding-bottom: var(--pad-bottom-md);
}

[class|="bot-pad"][class*="-lg-"][class$="-d"],
[class|="bot-pad"][class*="-lg-"][class$="-g"] > * {
  padding-bottom: var(--pad-bottom-lg);
}

/***** Pad Left *****/
[class|="left-pad"][class*="-sm-"][class$="-d"],
[class|="left-pad"][class*="-sm-"][class$="-g"] > * {
  padding-left: var(--pad-left-sm);
}

[class|="left-pad"][class*="-md-"][class$="-d"],
[class|="left-pad"][class*="-md-"][class$="-g"] > * {
  padding-left: var(--pad-left-md);
}

[class|="left-pad"][class*="-lg-"][class$="-d"],
[class|="left-pad"][class*="-lg-"][class$="-g"] > * {
  padding-left: var(--pad-left-lg);
}
