/**************************/
/********** TAGS **********/

/*
1. Variables
2. Global
3. Titles
4. Links
5. Lists
6. Medias
7. Tables
*/


/***** Variables *****/
body {
    --global-font-family: serif;
    --global-line-height: 1.5;
    --global-font-size: 1.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    --title-font-family: sans-serif;
    --title-font-size-tn: 1.5rem;
    --title-font-size-sm: 2rem;
    --title-font-size-md: 2.5rem;
    --title-font-size-lg: 3rem;
    --title-font-size-wd: 3.5rem;
}


/***** Global *****/
* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    line-height: var(--global-line-height);
    font-size: var(--global-font-size);
    font-family: var(--global-font-family);
    scroll-behavior: smooth;
}


/***** Titles *****/
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--title-font-family);
}

h1 {
    font-size: var(--title-font-size-wd);
    text-transform: uppercase;
}

h2 {
    font-size: var(--title-font-size-lg);
    text-transform: capitalize;
}

h3 {
    font-size: var(--title-font-size-md);
}

h4 {
    font-size: var(--title-font-size-sm);
}

h5,
h6 {
    font-size: var(--title-font-size-tn);
}


/***** Links *****/
a {
    text-decoration: none;
}


/***** Lists *****/
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}


/***** Medias *****/
img,
video {
    max-width: 100%;
    height: auto;
}


/***** Table *****/
table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

