/********** TAGS **********/

/*
1. Global
2. Titles
3. Links
4. Lists
5. Medias
6. Tables
*/

/***** Global *****/
* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  --global-font-family: serif;
  --global-line-height: 1.5;
  --global-font-size: 1.5rem;

  margin: 0;
  padding: 0;
  line-height: var(--global-line-height);
  font-size: var(--global-font-size);
  font-family: var(--global-font-family);
  scroll-behavior: smooth;
}

[class*="check"],
[class*="radio"] {
  display: none;
}

/***** Titles *****/
h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: sans-serif;

  font-family: var(--title-font-family);
}

h1 {
  --title-font-size-wd: 3.5rem;

  font-size: var(--title-font-size-wd);
  text-transform: uppercase;
}

h2 {
  --title-font-size-lg: 3rem;

  font-size: var(--title-font-size-lg);
  text-transform: capitalize;
}

h3 {
  --title-font-size-md: 2.5rem;

  font-size: var(--title-font-size-md);
}

h4 {
  --title-font-size-sm: 2rem;

  font-size: var(--title-font-size-sm);
}

h5,
h6 {
  --title-font-size-tn: 1.5rem;

  font-size: var(--title-font-size-tn);
}

/***** Links *****/
a {
  text-decoration: none;
  outline: 0;
}

/***** Lists *****/
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/***** Medias *****/
img,
video {
  max-width: 100%;
  height: auto;
}

/***** Table *****/
table {
  margin: auto;
  border-collapse: collapse;
  text-align: center;
  vertical-align: middle;
/***** Form *****/
label {
  --label-cursor: pointer;

  cursor: var(--label-cursor);
}

