/******************** VARIABLES ********************/

/*
You can override any variable of Animadio you want in your custom stylesheet file to cutomize the tag & class properties !

1. GLOBAL VARIABLES
  1.1 Colors
  1.2 Keyframes
  1.3 Init
  1.4 Margin
  1.5 Padding
  1.6 Height
  1.7 Width
2. GRID VARIABLES
  2.1 Grid
  2.2 Flex
  2.3 Align
  2.4 Justify
3. ELEMENTS VARIABLES
  3.1 Btn
  3.2 Foot
  3.3 Form
  3.4 Gallery
  3.5 Menu
  3.6 Navbar
  3.7 Slider
  3.8 Table
4. STATES VARIABLES
  4.1 Anima
  4.2 Bord
  4.3 Deco
  4.4 Shabox
  4.5 Shatex
*/

/********** 1. GLOBAL VARIABLES **********/

/*
1.1 Colors
1.2 Keyframes
1.3 Init
1.4 Margin
1.5 Padding
1.6 Height
1.7 Width
*/

:root {
  --navbar-height: 80px;

  /***** 1.1 Colors *****/
  --black: rgb(15, 15, 15);
  --blue: RoyalBlue;
  --gray: DimGray;
  --green: ForestGreen;
  --maroon: SaddleBrown;
  --orange: DarkOrange;
  --purple: SlateBlue;
  --red: Crimson;
  --yellow: Gold;
  --choco: Chocolate;
  --jade: PaleGreen;
  --khaki: Khaki;
  --salmon: Salmon;
  --silver: Silver;
  --sky: SkyBlue;
  --tomato: Tomato;
  --violet: Violet;
  --white: Ivory;
  --facebook: #4267b2;
  --github: #24292e;
  --linkedin: #0077b5;
  --npm: #c12127;
  --stackoverflow: #f48024;
  --twitter: #1da1f2;
  --amethyst: rgba(153, 102, 204, 0.5);
  --citrine: rgba(228, 208, 10, 0.5);
  --quartz: rgba(217, 217, 243, 0.5);
  --emerald: rgba(80, 200, 120, 0.5);
  --obsidian: rgba(15, 15, 15, 0.5);
  --ruby: rgba(224, 17, 95, 0.5);
  --sapphire: rgba(15, 82, 186, 0.5);

  /***** 1.3 Keyframes *****/
  --keyframes-content1: url(https://animadio.org/img/svg/1.svg);
  --keyframes-content2: url(https://animadio.org/img/svg/2.svg);
  --keyframes-content3: url(https://animadio.org/img/svg/3.svg);
  --keyframes-content4: url(https://animadio.org/img/svg/4.svg);
  --keyframes-content5: url(https://animadio.org/img/svg/5.svg);
  --keyframes-rotate: -360deg;
  --keyframes-rotateX: -360deg;
  --keyframes-rotateY: -360deg;
  --keyframes-scale: 0;
  --keyframes-scaleX: 0;
  --keyframes-scaleY: 0;
  --keyframes-skew: 180deg, 180deg;
  --keyframes-skewX: 180deg;
  --keyframes-skewY: 180deg;
  --keyframes-translate: -100vw, -100vh;
  --keyframes-translateX: -100vw;
  --keyframes-translateY: -100vh;
  --keyframes-translateY-opac: 68px;
  --keyframes-translateY-xs: 1vh;
  --keyframes-width: 100%;
}

/***** 1.4 Init *****/
body {
  --global-font-family: serif;
  --global-line-height: 1.6;
  --global-font-size: 1.8rem;
}

article {
  --article-margin-bot: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: sans-serif;
  --title-xl-font-size: 6rem;
  --title-xl-text-transform: capitalize;
  --title-xl-color: var(--purple);
  --title-lg-font-size: 5rem;
  --title-lg-text-transform: none;
  --title-lg-color: var(--green);
  --title-md-font-size: 4rem;
  --title-md-color: var(--gray);
  --title-sm-font-size: 3rem;
  --title-sm-color: var(--black);
  --title-xs-font-size: 2rem;
  --title-xs-color: var(--gray);
}

a {
  --link-deco: none;
  --link-outline: 0;
}

ul {
  --list-margin: 0 0 10px;
  --list-padding: 0;
  --list-style: none;
}

img,
video {
  --img-max-height: auto;
  --img-max-width: 100%;
  --img-object-fit: contain;
}

table {
  --table-margin: auto;
  --table-border-collapse: collapse;
  --table-text-align: center;
  --table-vertical-align: middle;
}

label {
  --label-cursor: pointer;
}

pre {
  --pre-font-family: monospace;
  --pre-overflow: scroll;
  --pre-padding: 10px;
  --pre-selection-background-color: var(--jade);
  --pre-selection-color: var(--black);
}

/***** 1.5 Margin *****/
[class*="mar-"] {
  --margin-none: 0;
  --margin-sm: 10px;
  --margin-md: 20px;
  --margin-lg: 50px;
  --margin-bot-sm: 10px;
  --margin-bot-md: 20px;
  --margin-bot-lg: 50px;
  --margin-left-sm: 10px;
  --margin-left-md: 20px;
  --margin-left-lg: 50px;
  --margin-right-sm: 10px;
  --margin-right-md: 20px;
  --margin-right-lg: 50px;
  --margin-top-sm: 10px;
  --margin-top-md: 20px;
  --margin-top-lg: 50px;
}

/***** 1.6 Padding *****/
[class*="pad-"] {
  --padding-none: 0;
  --padding-sm: 10px;
  --padding-md: 20px;
  --padding-lg: 50px;
  --padding-bot-sm: 10px;
  --padding-bot-md: 20px;
  --padding-bot-lg: 50px;
  --padding-left-sm: 10px;
  --padding-left-md: 20px;
  --padding-left-lg: 50px;
  --padding-right-sm: 10px;
  --padding-right-md: 20px;
  --padding-right-lg: 50px;
  --padding-top-sm: 10px;
  --padding-top-md: 20px;
  --padding-top-lg: 50px;
}

/***** 1.7 Height *****/
[class*="height-"] {
  --height-sm: 10vh;
  --height-md: 50vh;
  --height-lg: 100vh;
}

[class*="max-h-"] {
  --max-height-sm: 50vh;
  --max-height-md: 75vh;
  --max-height-lg: 100vh;
}

[class*="min-h-"] {
  --min-height-sm: 25vh;
  --min-height-md: 50vh;
  --min-height-lg: 75vh;
}

/***** 1.8 Width *****/
[class*="width-"] {
  --width-sm: 25%;
  --width-md: 50%;
  --width-lg: 100%;
}

[class*="max-w-"] {
  --max-width-sm: 50%;
  --max-width-md: 75%;
  --max-width-lg: 100%;
}

[class*="min-w-"] {
  --min-width-sm: 25%;
  --min-width-md: 50%;
  --min-width-lg: 75%;
}

/********** 2. GRID VARIABLES **********/

/*
2.1 Grid
2.2 Flex
2.3 Align
2.4 Justify
*/

/***** 2.1 Grid *****/
[class*="gap-"] {
  --gap-1xs: 1px;
  --gap-2xs: 2px;
  --gap-3xs: 5px;
  --gap-1sm: 2px;
  --gap-2sm: 5px;
  --gap-3sm: 10px;
  --gap-1md: 5px;
  --gap-2md: 10px;
  --gap-3md: 20px;
  --gap-1lg: 10px;
  --gap-2lg: 20px;
  --gap-3lg: 50px;
  --gap-1xl: 20px;
  --gap-2xl: 50px;
  --gap-3xl: 100px;
}

/***** 2.2 Flex *****/
[class*="flex-"] {
  --flex-negative-margin-xs: -2px;
  --flex-positive-margin-xs: 2px;
  --flex-width-xs: 4px;
  --flex-negative-margin-sm: -5px;
  --flex-positive-margin-sm: 5px;
  --flex-width-sm: 10px;
  --flex-negative-margin-md: -10px;
  --flex-positive-margin-md: 10px;
  --flex-width-md: 20px;
  --flex-negative-margin-lg: -20px;
  --flex-positive-margin-lg: 20px;
  --flex-width-lg: 40px;
  --flex-negative-margin-xl: -50px;
  --flex-positive-margin-xl: 50px;
  --flex-width-xl: 100px;
}

[class*="column"] {
  --column-padding: 0 10px;
}

[class*="row"] {
  --row-padding: 10px 0;
}

/***** 2.3 Align *****/
[class*="alco-"][class*="-"] {
  --align-content-base: baseline;
  --align-content-end: flex-end;
  --align-content-start: flex-start;
}

[class*="alit-"] {
  --align-items-base: baseline;
  --align-items-end: flex-end;
  --align-items-start: flex-start;
}

[class*="alse-"] {
  --align-self-base: baseline;
  --align-self-end: flex-end;
  --align-self-start: flex-start;
}

/***** 2.4 Justify *****/
[class*="juco-"][class*="-"] {
  --justify-content-end: flex-end;
  --justify-content-start: flex-start;
}

[class*="juit-"] {
  --justify-items-base: baseline;
  --justify-items-end: flex-end;
  --justify-items-start: flex-start;
}

[class*="juse-"] {
  --justify-self-base: baseline;
  --justify-self-end: flex-end;
  --justify-self-start: flex-start;
}

/********** 3. ELEMENTS VARIABLES **********/

/*
3.1 Btn
3.2 Foot
3.3 Form
3.4 Gallery
3.5 Menu
3.6 Navbar
3.7 Slider
3.8 Table
*/

/***** 3.1 Btn *****/
[class*="btn"],
[class*="button"] {
  --btn-background-color: var(--blue);
  --btn-border: solid medium var(--quartz);
  --btn-color: var(--white);
  --btn-font-size: 1.5rem;
  --btn-margin: 10px;
  --btn-padding: 5px 10px;
  --btn-radius: 10px;
  --btn-text-align: center;
  --btn-hover-anima: none;
  --btn-hover-background-color: var(--blue);
  --btn-hover-border: outset medium var(--obsidian);
  --btn-hover-color: var(--silver);
  --btn-hover-radius: 0;
  --btn-hover-shabox: 5px 5px 5px var(--gray);
  --btn-hover-transition: border 1s;
  --check-button-transform: scale(0.9);
  --btn-color-black: var(--white);
  --btn-color-blue: var(--white);
  --btn-color-gray: var(--white);
  --btn-color-green: var(--white);
  --btn-color-maroon: var(--white);
  --btn-color-orange: var(--white);
  --btn-color-purple: var(--white);
  --btn-color-red: var(--white);
  --btn-color-yellow: var(--blue);
  --btn-color-choco: var(--white);
  --btn-color-jade: var(--violet);
  --btn-color-khaki: var(--sky);
  --btn-color-salmon: var(--white);
  --btn-color-silver: var(--black);
  --btn-color-sky: var(--white);
  --btn-color-tomato: var(--white);
  --btn-color-violet: var(--white);
  --btn-color-white: var(--black);
  --btn-color-fb: var(--white);
  --btn-color-github: var(--white);
  --btn-color-linkedin: var(--white);
  --btn-color-npm: var(--white);
  --btn-color-stack: var(--white);
  --btn-color-tw: var(--white);
  --btn-color-amthyst: var(--white);
  --btn-color-citrine: var(--sky);
  --btn-color-quartz: var(--black);
  --btn-color-emerald: var(--violet);
  --btn-color-obsidian: var(--white);
  --btn-color-ruby: var(--white);
  --btn-color-sapphire: var(--khaki);
  --btn-padding-xs: 1px 2px;
  --btn-padding-sm: 2px 5px;
  --btn-padding-md: 5px 10px;
  --btn-padding-lg: 10px 20px;
  --btn-padding-xl: 20px 50px;
  --btn-radius-square: unset;
  --btn-radius-round: 50px;
  --btn-radius-circle: 50%;
}

/***** 3.2 Foot *****/
[class*="foot"] {
  --foot-text-align: center;
  --foot-title-color: var(--khaki);
  --foot-title-font-size: 1.8rem;
  --foot-global-padding-bot: 20px;
  --foot-main-background-color: var(--purple);
  --foot-main-cursor: help;
  --foot-main-flex-direction: column;
  --foot-main-font-color: var(--white);
  --foot-main-justify-content: space-evenly;
  --foot-list-cursor: pointer;
  --foot-list-text-align: center;
  --foot-list-link-font-color: var(--white);
  --foot-list-link-margin-bot: 5px;
  --foot-list-link-hover-font-color: var(--jade);
  --foot-info-background-color: var(--white);
  --foot-info-cursor: crosshair;
  --foot-info-justify-content: center;
  --foot-info-padding-top: 20px;
  --foot-info-link-margin-left: 10px;
  --foot-info-link-margin-right: 10px;
}

@media (min-width: 576px) {
  [class*="foot"] {
    --foot-main-flex-direction: row;
  }
}

/***** 3.3 Form *****/
.form {
  --form-margin: auto;
  --form-padding: 20px 0 40px;
  --form-width: 300px;
  --form-flex-direction: column;
  --form-fieldset-border: medium double;
  --form-fieldset-margin-left: -13px;
  --form-fieldset-padding: 20px;
  --form-legend-font-weight: bold;
  --form-input-placeholder-color: var(--blue);
  --form-input-placeholder-font-style: italic;
  --form-input-placeholder-text-align: center;
  --form-input-field-background-color: var(--sapphire);
  --form-input-field-border: thin solid var(--blue);
  --form-input-field-line-height: 2;
  --form-input-field-margin: 10px 0 20px;
  --form-input-field-padding: 10px;
  --form-input-field-radius: 10px;
  --form-input-action-line-height: 2.5;
  --form-input-action-cursor: pointer;
}

@media (min-width: 992px) {
  .form {
    --form-width: 500px;
    --form-li-flex-direction: row;
    --form-li-justify-content: space-between;
    --form-li-align-items: center;
    --form-label-lg-flex: 2 0 auto;
    --form-label-text-decoration: underline dashed;
    --form-fieldset-margin-left: 0;
    --form-input-width: 75%;
  }
}

/***** 3.4 Gallery *****/
.gallery {
  --gallery-flex-wrap: wrap;
  --gallery-flow: hidden;
  --gallery-mar: auto;
  --gallery-max-w: 90%;
  --gallery-all-cursor: crosshair;
  --gallery-figure-bord: thin dotted var(--silver);
  --gallery-figure-flow: hidden;
  --gallery-figure-line-height: 0;
  --gallery-figure-mar: 5px;
  --gallery-figure-position: relative;
  --gallery-figure-shabox: 0 0 5px;
  --gallery-figure-width: calc(100% - 10px);
  --gallery-figcaption-bg: rgba(0, 0, 0, 0.5);
  --gallery-figcaption-bot: -60%;
  --gallery-figcaption-line-height: 1;
  --gallery-figcaption-position: absolute;
  --gallery-figcaption-width: 100%;
  --gallery-figure-figcaption-anima: translateY-opac 2s;
  --gallery-figure-figcaption-bot: 0;
  --gallery-figcaption-fa-bg: var(--blue);
  --gallery-figcaption-fa-bord: 2px solid var(--white);
  --gallery-figcaption-fa-position: absolute;
  --gallery-figcaption-fa-right: 5px;
  --gallery-figcaption-fa-top: -15px;
  --gallery-figcaption-fa-pad: 10px;
  --gallery-figcaption-fa-radius: 50%;
  --gallery-link-all-mar: 0;
  --gallery-link-all-cursor: pointer;
  --gallery-link-all-even-pad: 0 10px 20px;
  --gallery-link-all-even-font-size: 1.2rem;
  --gallery-link-all-odd-pad: 10px;
  --gallery-link-all-odd-font-size: 1.5rem;
  --gallery-link-color: var(--white);
}

@media (min-width: 576px) {
  .gallery {
    --gallery-figure-mar: 6px;
    --gallery-figure-width: calc(100% / 2 - 12px);
  }
}

@media (min-width: 992px) {
  .gallery {
    --gallery-figure-mar: 7px;
    --gallery-figure-width: calc(100% / 3 - 14px);
  }
}

@media (min-width: 1200px) {
  .gallery {
    --gallery-figure-mar: 8px;
    --gallery-figure-width: calc(100% / 4 - 16px);
  }
}

/***** 3.5 Menu *****/
.menu {
  --menu-align-items: stretch;
  --menu-bg: var(--silver);
  --menu-border: none;
  --menu-color: var(--gray);
  --menu-flex-direction: column;
  --menu-justify-content: center;
  --menu-list-style: none;
  --menu-mar: auto;
  --menu-pad: 0;
  --menu-radius: 5px;
  --menu-width: 40%;
  --menu-all-cursor: pointer;
  --menu-label-align-items: center;
  --menu-label-justify-content: center;
  --menu-label-pad: 6px 12px;
  --menu-label-position: relative;
  --menu-label-radius: 5px;
  --menu-label-width: 100%;
  --menu-label-hover-bg: var(--sapphire);
  --menu-label-hover-bord: none;
  --menu-label-hover-color: var(--white);
  --menu-label-hover-font-style: italic;
  --menu-label-check-bg: var(--blue);
  --menu-label-check-color: var(--white);
  --menu-label-check-font-weight: bold;
  --menu-fa-bot: -18px;
  --menu-fa-color: var(--blue);
  --menu-fa-position: absolute;
}

@media (min-width: 576px) {
  .menu {
    --menu-flex-direction: row;
    --menu-align-items: flex-start;
    --menu-width: 100%;
  }
}

@media (min-width: 768px) {
  .menu {
    --menu-width: 90%;
  }
}

@media (min-width: 992px) {
  .menu {
    --menu-width: 80%;
  }
}

@media (min-width: 1200px) {
  .menu {
    --menu-width: 70%;
  }
}

/***** 3.6 Navbar *****/
[class*="nav"] {
  --navbar-align-items: center;
  --navbar-bg: var(--blue);
  --navbar-bot: unset;
  --navbar-color: var(--white);
  --navbar-index: 1000;
  --navbar-justify-content: center;
  --navbar-left: 0;
  --navbar-position: fixed;
  --navbar-right: 0;
  --navbar-top: 0;
  --navbar-link-color: var(--white);
  --navbar-link-cursor: pointer;
  --navbar-link-padding: 20px 10px;
  --navbar-link-hover-color: var(--yellow);
  --navbar-icon-align-self: center;
  --navs-align-items: center;
  --navs-list-style: none;
  --navs-margin: 0;
  --navs-padding: 0;
  --navs-link-flex-direction: column;
  --nav-brand-left: 10px;
  --nav-brand-img-height: 40px;
  --nav-main-link-hover-scale: 0.9;
  --nav-info-height: 50px;
  --nav-info-img-margin: 5px;
  --nav-info-link-hover-scale: 1.5;
  --nav-toggle-anima: translateY-xs 1s linear infinite alternate;
  --nav-toggle-right: 10px;
  --nav-toggle-top: 0;
}

@media (min-width: 576px) {
  [class*="nav"] {
    --navbar-flex-direction: row;
    --navbar-justify-content: space-around;
    --navbar-padding: 10px;
  }
}

@media (min-width: 768px) {
  [class*="nav"] {
    --navbar-justify-content: space-evenly;
  }
}

/***** 3.7 Slider *****/
.slider {
  --slider-min-height: 40vh;
  --slider-text-align: center;
  --slider-anima-direction: reverse;
  --slider-anima-iteration: infinite;
  --slider-transition-opacity: 2s;
  --slider-transition-color: 1s;
  --play-check-slide-anima: 10s linear;
  --slider-icon-color: var(--blue);
  --play-check-slide-play-icon-before: "\f28d";
  --repeat-check-slide-repeat-icon-before: "\f056";
  --direction-check-slide-direction-icon-before: "\f137";
  --play-check-slide-icon-before-color: var(--white);
  --slider-radio-slide-icon-before-content: "\f058";
  --slider-radio1-slider-timeline-width: 0;
  --slider-radio2-slider-timeline-width: 25%;
  --slider-radio3-slider-timeline-width: 50%;
  --slider-radio4-slider-timeline-width: 75%;
  --slider-radio5-slider-timeline-width: 100%;
  --slide-height: auto;
  --slide-mar: auto;
  --slide-width: 80%;
  --slide-max-width: 1000px;
  --slider-controls-bg: var(--obsidian);
  --slider-controls-bord: thin solid var(--black);
  --slider-controls-juco: center;
  --slider-controls-mar: 10px;
  --slider-controls-opacity: 0;
  --slider-controls-pad: 10px;
  --slider-controls-radius: 5px;
  --slider-controls-hover-opacity: 1;
  --slider-label-color: var(--white);
  --slider-label-pad: 10px 5px;
  --slider-timeline-bg: var(--blue);
  --slider-timeline-height: 6px;
}

@media (min-width: 576px) {
  .slider {
    --slider-min-height: 45vh;
    --slider-timeline-height: 7px;
  }
}

@media (min-width: 768px) {
  .slider {
    --slider-min-height: 50vh;
    --slider-timeline-height: 8px;
  }
}

@media (min-width: 992px) {
  .slider {
    --slider-min-height: 55vh;
    --slider-timeline-height: 9px;
  }
}

@media (min-width: 1200px) {
  .slider {
    --slider-min-height: 60vh;
    --slider-timeline-height: 10px;
  }
}

/***** 3.8 Table *****/
[class*="table"] {
  --table-bord-collapse: collapse;
  --table-bord-space: 10px;
  --table-width: 50%;
  --table-row-even-bg: var(--yellow);
  --table-row-odd-bg: var(--white);
  --table-caption-font-weight: bold;
  --table-caption-color: var(--red);
  --table-caption-side: top;
  --table-title-bg: var(--blue);
  --table-title-color: var(--white);
  --table-title-font-style: italic;
  --table-cell-bord-color: var(--black);
  --table-cell-bord-radius: 0;
  --table-cell-bord-style: solid;
  --table-cell-bord-width: thin;
  --table-cell-pad: 10px;
  --table-cell-text-align: center;
  --table-cell-vertical-align: middle;
  --table-cell-color: var(--blue);
}

/********** 4. STATES VARIABLES **********/

/*
4.1 Anima
4.2 Bord
4.3 Deco
4.4 Shabox
4.5 Shatex
*/

/***** 4.1 Anima *****/
[class*="anima-"] {
  --anima-duration: 2s;
  --anima-duration-xs: 1s;
  --anima-duration-sm: 2s;
  --anima-duration-md: 5s;
  --anima-duration-lg: 10s;
  --anima-duration-xl: 60s;
  --anima-timing-ease: ease-in-out;
  --anima-timing-steps: 60, start;
  --anima-timing-bezier: 1, 5, 1, -5;
  --anima-count-few: 2;
  --anima-count-many: 5;
  --anima-delay-small: 1s;
  --anima-delay-medium: 2s;
  --anima-delay-large: 3s;
  --transform-origin-near: 50px 50px;
  --transform-origin-far: top right 50px;
}

/***** 4.2 Bord *****/
[class*="bord-"] {
  --border-style: solid;
  --border-width: medium;
  --border-color: var(--black);
  --border-radius: 5px;
  --border-width-sm: thin;
  --border-width-md: medium;
  --border-width-lg: thick;
  --border-radius-square: unset;
  --border-radius-round: 10px;
  --border-radius-circle: 50%;
}

/***** 4.3 Deco *****/
[class*="deco-"] {
  --deco-line: underline;
  --deco-style: solid;
  --deco-color: var(--black);
}

/***** 4.4 Shabox *****/
[class*="shabox-"] {
  --shabox-sm: 1px 1px;
  --shabox-md: 2px 2px;
  --shabox-lg: 5px 5px;
  --shabox-blur-all: 0 0 2px;
  --shabox-blur-sm: 1px 1px 1px;
  --shabox-blur-md: 2px 2px 2px;
  --shabox-blur-lg: 5px 5px 5px;
  --shabox-spread-all: 0 0 2px 2px;
  --shabox-spread-sm: 1px 1px 1px 1px;
  --shabox-spread-md: 2px 2px 2px 2px;
  --shabox-spread-lg: 5px 5px 5px 5px;
}

/***** 4.5 Shatex *****/
[class*="shatex-"] {
  --shatex-sm: 1px 1px;
  --shatex-md: 2px 2px;
  --shatex-lg: 5px 5px;
  --shatex-blur-all: 0 0 2px;
  --shatex-blur-sm: 1px 1px 1px;
  --shatex-blur-md: 2px 2px 2px;
  --shatex-blur-lg: 5px 5px 5px;
}

