/******************************/
/********** VARIABLES**********/
/******************************/

/* Tags */
/* Navbar */


:root {
    /******************/
    /***** Tags *****/
    --global-font-family:       serif;
    --global-font-size:         1.5rem;
    --global-line-height:       1.5;
    --titles-font-family:       sans-serif;

    /******************/
    /***** Navbar *****/
    --navbar-height:            100px;

}