/***** Variables : States : Shatex *****/

[class*="shatex-"] {
  --text-shadow-blur: 0 0 2px;
  --text-shadow-blur-lg: 5px 5px 5px;
  --text-shadow-blur-md: 2px 2px 2px;
  --text-shadow-blur-sm: 1px 1px 1px;
  --text-shadow-lg: 5px 5px;
  --text-shadow-md: 2px 2px;
  --text-shadow-sm: 1px 1px;
}
