/************************************/
/********** SIZE VARIABLES **********/
/************************************/

/*
1. Height
2. Width
*/


:root {
    /***** Height *****/
    --height-sm: 10vh;
    --height-md: 50vh;
    --height-lg: 100vh;

    --max-height-sm: 50vh;
    --max-height-md: 75vh;
    --max-height-lg: 100vh;

    --min-height-sm: 25vh;
    --min-height-md: 50vh;
    --min-height-lg: 75vh;

    /***** Width *****/
    --width-sm: 25%;
    --width-md: 50%;
    --width-lg: 100%;

    --max-width-sm: 50%;
    --max-width-md: 75%;
    --max-width-lg: 100%;

    --min-width-sm: 25%;
    --min-width-md: 50%;
    --min-width-lg: 75%;
}
