/***** Grid : Variables : Grid *****/

$gap-1xs:   1px   !default;
$gap-2xs:   2px   !default;
$gap-3xs:   5px   !default;

$gap-1sm:   2px     !default;
$gap-2sm:   5px     !default;
$gap-3sm:   10px    !default;

$gap-1md:   5px     !default;
$gap-2md:   10px    !default;
$gap-3md:   20px    !default;

$gap-1lg:   10px    !default;
$gap-2lg:   20px    !default;
$gap-3lg:   50px    !default;

$gap-1xl:   20px    !default;
$gap-2xl:   50px    !default;
$gap-3xl:   100px   !default;

$gaps: (
  '1xs':    $gap-1xs,
  '2xs':    $gap-2xs,
  '3xs':    $gap-3xs,
  '1sm':    $gap-1sm,
  '2sm':    $gap-2sm,
  '3sm':    $gap-3sm,
  '1md':    $gap-1md,
  '2md':    $gap-2md,
  '3md':    $gap-3md,
  '1lg':    $gap-1lg,
  '2lg':    $gap-2lg,
  '3lg':    $gap-3lg,
  '1xl':    $gap-1xl,
  '2xl':    $gap-2xl,
  '3xl':    $gap-3xl
) !default;

[class*="gap-"] {
  @each $key, $value in $gaps {
    --gap-#{$key}: #{$value};
  }
}
