/***** Grid : Variables : Grid *****/

$gap-1tn:   1px   !default;
$gap-2tn:   2px   !default;
$gap-3tn:   5px   !default;

$gap-1sm:   2px     !default;
$gap-2sm:   5px     !default;
$gap-3sm:   10px    !default;

$gap-1md:   5px     !default;
$gap-2md:   10px    !default;
$gap-3md:   20px    !default;

$gap-1lg:   10px    !default;
$gap-2lg:   20px    !default;
$gap-3lg:   50px    !default;

$gap-1wd:   20px    !default;
$gap-2wd:   50px    !default;
$gap-3wd:   100px   !default;

$gaps: (
  '1tn':    $gap-1tn,
  '2tn':    $gap-2tn,
  '3tn':    $gap-3tn,
  '1sm':    $gap-1sm,
  '2sm':    $gap-2sm,
  '3sm':    $gap-3sm,
  '1md':    $gap-1md,
  '2md':    $gap-2md,
  '3md':    $gap-3md,
  '1lg':    $gap-1lg,
  '2lg':    $gap-2lg,
  '3lg':    $gap-3lg,
  '1wd':    $gap-1wd,
  '2wd':    $gap-2wd,
  '3wd':    $gap-3wd
) !default;

[class*="gap-"] {
  @each $key, $value in $gaps {
    --gap-#{$key}: #{$value};
  }
}
