/***** Grid : Variables : Grid *****/

$gap-small-xs:    1px     !default;
$gap-medium-xs:   2px     !default;
$gap-large-xs:    5px     !default;

$gap-small-sm:    2px     !default;
$gap-medium-sm:   5px     !default;
$gap-large-sm:    10px    !default;

$gap-small-md:    5px     !default;
$gap-medium-md:   10px    !default;
$gap-large-md:    20px    !default;

$gap-small-lg:    10px    !default;
$gap-medium-lg:   20px    !default;
$gap-large-lg:    50px    !default;

$gap-small-xl:    20px    !default;
$gap-medium-xl:   50px    !default;
$gap-large-xl:    100px   !default;

$gaps: (
  'small-xs':     $gap-small-xs,
  'medium-xs':    $gap-medium-xs,
  'large-xs':     $gap-large-xs,
  'small-sm':     $gap-small-sm,
  'medium-sm':    $gap-medium-sm,
  'large-sm':     $gap-large-sm,
  'small-md':     $gap-small-md,
  'medium-md':    $gap-medium-md,
  'large-md':     $gap-large-md,
  'small-lg':     $gap-small-lg,
  'medium-lg':    $gap-medium-lg,
  'large-lg':     $gap-large-lg,
  'small-xl':     $gap-small-xl,
  'medium-xl':    $gap-medium-xl,
  'large-xl':     $gap-large-xl
) !default;

$gap-sizes : 'small', 'medium', 'large';

[class*="gap-"] {
  @each $key, $value in $gaps {
    --gap-#{$key}: #{$value};
  }
}
