/*****************************************/
/********** ANIMATION DIRECTION **********/
/*****************************************/


[class*="anima"][class*="tio"][class*="alter"],
[class*="anima"][class*="dio"][class*="alter"]:checked ~ [class*="anima"][class*="target"][class*="alter"],
*:hover > [class*="anima"][class*="into"][class*="alter"],
*:focus > [class*="anima"][class*="into"][class*="alter"],
*:active > [class*="anima"][class*="into"][class*="alter"],
[class*="anima"][class*="onto"][class*="alter"]:hover,
[class*="anima"][class*="onto"][class*="alter"]:focus,
[class*="anima"][class*="onto"][class*="alter"]:active,
[class*="anima"][class*="toall"][class*="alter"] > *,
[class*="anima"][class*="forall"][class*="alter"]:hover > *,
[class*="anima"][class*="forall"][class*="alter"]:focus > *,
[class*="anima"][class*="forall"][class*="alter"]:active > *,
[class*="anima"][class*="fromall"][class*="alter"] > *:hover,
[class*="anima"][class*="fromall"][class*="alter"] > *:focus,
[class*="anima"][class*="fromall"][class*="alter"] > *:active {
    animation-direction: alternate;
}

[class*="anima"][class*="tio"][class*="rever"],
[class*="anima"][class*="dio"][class*="rever"]:checked ~ [class*="anima"][class*="target"][class*="rever"],
*:hover > [class*="anima"][class*="into"][class*="rever"],
*:focus > [class*="anima"][class*="into"][class*="rever"],
*:active > [class*="anima"][class*="into"][class*="rever"],
[class*="anima"][class*="onto"][class*="rever"]:hover,
[class*="anima"][class*="onto"][class*="rever"]:focus,
[class*="anima"][class*="onto"][class*="rever"]:active,
[class*="anima"][class*="toall"][class*="rever"] > *,
[class*="anima"][class*="forall"][class*="rever"]:hover > *,
[class*="anima"][class*="forall"][class*="rever"]:focus > *,
[class*="anima"][class*="forall"][class*="rever"]:active > *,
[class*="anima"][class*="fromall"][class*="rever"] > *:hover,
[class*="anima"][class*="fromall"][class*="rever"] > *:focus,
[class*="anima"][class*="fromall"][class*="rever"] > *:active {
    animation-direction: reverse;
}

[class*="anima"][class*="tio"][class*="altrev"],
[class*="anima"][class*="dio"][class*="altrev"]:checked ~ [class*="anima"][class*="target"][class*="altrev"],
*:hover > [class*="anima"][class*="into"][class*="altrev"],
*:focus > [class*="anima"][class*="into"][class*="altrev"],
*:active > [class*="anima"][class*="into"][class*="altrev"],
[class*="anima"][class*="onto"][class*="altrev"]:hover,
[class*="anima"][class*="onto"][class*="altrev"]:focus,
[class*="anima"][class*="onto"][class*="altrev"]:active,
[class*="anima"][class*="toall"][class*="altrev"] > *,
[class*="anima"][class*="forall"][class*="altrev"]:hover > *,
[class*="anima"][class*="forall"][class*="altrev"]:focus > *,
[class*="anima"][class*="forall"][class*="altrev"]:active > *,
[class*="anima"][class*="fromall"][class*="altrev"] > *:hover,
[class*="anima"][class*="fromall"][class*="altrev"] > *:focus,
[class*="anima"][class*="fromall"][class*="altrev"] > *:active {
    animation-direction: alternate-reverse;
}