/*****************************************/
/********** ANIMA VARIABLES **************/
/*****************************************/

/*
1. Transform
2. Transform Origin
3. Delay
4. Duration
5. Iteration Count
6. Timing Function
*/


:root {
    /***** Transform *****/
    --rotate: rotate(-360deg);
    --rotateX: rotateX(-360deg);
    --rotateY: rotateY(-360deg);

    --scale: scale(0);
    --scaleX: scaleX(0);
    --scaleY: scaleY(0);

    --skew: skew(180deg, 180deg);
    --skewX: skewX(180deg);
    --skewY: skewY(180deg);

    --translate: translate(-100vw, -100vh);
    --translateX: translateX(-100vw);
    --translateY: translateY(-100vh);

    /***** Transform Origin *****/
    --transform-origin-near: 50px 50px;
    --transform-origin-far: top right 50px;
}


[class="anima"] {
    /***** Delay *****/
    --anima-delay-small: 1s;
    --anima-delay-medium: 2s;
    --anima-delay-large: 3s;

    /***** Duration *****/
    --anima-duration-tn: 1s;
    --anima-duration-sm: 2s;
    --anima-duration-md: 5s;
    --anima-duration-lg: 10s;
    --anima-duration-wd: 60s;

    /***** Iteration Count *****/
    --anima-count-few: 2;
    --anima-count-many: 5;

    /***** Timing Function *****/
    --anima-timing-ease: ease-in-out;
    --anima-timing-steps: 60, start;
    --anima-timing-bezier: 1,5,1,-5;
}
