/***************************/
/********** ANIMA **********/
/***************************/

/*
1. Variables
2. Name
3. Duration
*/


/***** Variables *****/
[class="anima"] {
    --anima-duration-tn: 1s;
    --anima-duration-sm: 2s;
    --anima-duration-md: 5s;
    --anima-duration-lg: 10s;
    --anima-duration-wd: 60s;
}


/***** Name *****/
[class*="anima"][class*="tio"][class*="rotA"],
[class*="anima"][class*="dio"][class*="rotA"]:checked ~ [class*="anima"][class*="target"][class*="rotA"],
*:hover > [class*="anima"][class*="into"][class*="rotA"],
*:focus > [class*="anima"][class*="into"][class*="rotA"],
*:active > [class*="anima"][class*="into"][class*="rotA"],
[class*="anima"][class*="onto"][class*="rotA"]:hover,
[class*="anima"][class*="onto"][class*="rotA"]:focus,
[class*="anima"][class*="onto"][class*="rotA"]:active,
[class*="anima"][class*="toall"][class*="rotA"] > *,
[class*="anima"][class*="forall"][class*="rotA"]:hover > *,
[class*="anima"][class*="forall"][class*="rotA"]:focus > *,
[class*="anima"][class*="forall"][class*="rotA"]:active > *,
[class*="anima"][class*="fromall"][class*="rotA"] > *:hover,
[class*="anima"][class*="fromall"][class*="rotA"] > *:focus,
[class*="anima"][class*="fromall"][class*="rotA"] > *:active {
    animation-name: rotate;
}

[class*="anima"][class*="tio"][class*="rotX"],
[class*="anima"][class*="dio"][class*="rotX"]:checked ~ [class*="anima"][class*="target"][class*="rotX"],
*:hover > [class*="anima"][class*="into"][class*="rotX"],
*:focus > [class*="anima"][class*="into"][class*="rotX"],
*:active > [class*="anima"][class*="into"][class*="rotX"],
[class*="anima"][class*="onto"][class*="rotX"]:hover,
[class*="anima"][class*="onto"][class*="rotX"]:focus,
[class*="anima"][class*="onto"][class*="rotX"]:active,
[class*="anima"][class*="toall"][class*="rotX"] > *,
[class*="anima"][class*="forall"][class*="rotX"]:hover > *,
[class*="anima"][class*="forall"][class*="rotX"]:focus > *,
[class*="anima"][class*="forall"][class*="rotX"]:active > *,
[class*="anima"][class*="fromall"][class*="rotX"] > *:hover,
[class*="anima"][class*="fromall"][class*="rotX"] > *:focus,
[class*="anima"][class*="fromall"][class*="rotX"] > *:active {
    animation-name: rotateX;
}

[class*="anima"][class*="tio"][class*="rotY"],
[class*="anima"][class*="dio"][class*="rotY"]:checked ~ [class*="anima"][class*="target"][class*="rotY"],
*:hover > [class*="anima"][class*="into"][class*="rotY"],
*:focus > [class*="anima"][class*="into"][class*="rotY"],
*:active > [class*="anima"][class*="into"][class*="rotY"],
[class*="anima"][class*="onto"][class*="rotY"]:hover,
[class*="anima"][class*="onto"][class*="rotY"]:focus,
[class*="anima"][class*="onto"][class*="rotY"]:active,
[class*="anima"][class*="toall"][class*="rotY"] > *,
[class*="anima"][class*="forall"][class*="rotY"]:hover > *,
[class*="anima"][class*="forall"][class*="rotY"]:focus > *,
[class*="anima"][class*="forall"][class*="rotY"]:active > *,
[class*="anima"][class*="fromall"][class*="rotY"] > *:hover,
[class*="anima"][class*="fromall"][class*="rotY"] > *:focus,
[class*="anima"][class*="fromall"][class*="rotY"] > *:active {
    animation-name: rotateY;
}

[class*="anima"][class*="tio"][class*="scaL"],
[class*="anima"][class*="dio"][class*="scaL"]:checked ~ [class*="anima"][class*="target"][class*="scaL"],
*:hover > [class*="anima"][class*="into"][class*="scaL"],
*:focus > [class*="anima"][class*="into"][class*="scaL"],
*:active > [class*="anima"][class*="into"][class*="scaL"],
[class*="anima"][class*="onto"][class*="scaL"]:hover,
[class*="anima"][class*="onto"][class*="scaL"]:focus,
[class*="anima"][class*="onto"][class*="scaL"]:active,
[class*="anima"][class*="toall"][class*="scaL"] > *,
[class*="anima"][class*="forall"][class*="scaL"]:hover > *,
[class*="anima"][class*="forall"][class*="scaL"]:focus > *,
[class*="anima"][class*="forall"][class*="scaL"]:active > *,
[class*="anima"][class*="fromall"][class*="scaL"] > *:hover,
[class*="anima"][class*="fromall"][class*="scaL"] > *:focus,
[class*="anima"][class*="fromall"][class*="scaL"] > *:active {
    animation-name: scale;
}

[class*="anima"][class*="tio"][class*="scaX"],
[class*="anima"][class*="dio"][class*="scaX"]:checked ~ [class*="anima"][class*="target"][class*="scaX"],
*:hover > [class*="anima"][class*="into"][class*="scaX"],
*:focus > [class*="anima"][class*="into"][class*="scaX"],
*:active > [class*="anima"][class*="into"][class*="scaX"],
[class*="anima"][class*="onto"][class*="scaX"]:hover,
[class*="anima"][class*="onto"][class*="scaX"]:focus,
[class*="anima"][class*="onto"][class*="scaX"]:active,
[class*="anima"][class*="toall"][class*="scaX"] > *,
[class*="anima"][class*="forall"][class*="scaX"]:hover > *,
[class*="anima"][class*="forall"][class*="scaX"]:focus > *,
[class*="anima"][class*="forall"][class*="scaX"]:active > *,
[class*="anima"][class*="fromall"][class*="scaX"] > *:hover,
[class*="anima"][class*="fromall"][class*="scaX"] > *:focus,
[class*="anima"][class*="fromall"][class*="scaX"] > *:active {
    animation-name: scaleX;
}

[class*="anima"][class*="tio"][class*="scaY"],
[class*="anima"][class*="dio"][class*="scaY"]:checked ~ [class*="anima"][class*="target"][class*="scaY"],
*:hover > [class*="anima"][class*="into"][class*="scaY"],
*:focus > [class*="anima"][class*="into"][class*="scaY"],
*:active > [class*="anima"][class*="into"][class*="scaY"],
[class*="anima"][class*="onto"][class*="scaY"]:hover,
[class*="anima"][class*="onto"][class*="scaY"]:focus,
[class*="anima"][class*="onto"][class*="scaY"]:active,
[class*="anima"][class*="toall"][class*="scaY"] > *,
[class*="anima"][class*="forall"][class*="scaY"]:hover > *,
[class*="anima"][class*="forall"][class*="scaY"]:focus > *,
[class*="anima"][class*="forall"][class*="scaY"]:active > *,
[class*="anima"][class*="fromall"][class*="scaY"] > *:hover,
[class*="anima"][class*="fromall"][class*="scaY"] > *:focus,
[class*="anima"][class*="fromall"][class*="scaY"] > *:active {
    animation-name: scaleY;
}

[class*="anima"][class*="tio"][class*="skeW"],
[class*="anima"][class*="dio"][class*="skeW"]:checked ~ [class*="anima"][class*="target"][class*="skeW"],
*:hover > [class*="anima"][class*="into"][class*="skeW"],
*:focus > [class*="anima"][class*="into"][class*="skeW"],
*:active > [class*="anima"][class*="into"][class*="skeW"],
[class*="anima"][class*="onto"][class*="skeW"]:hover,
[class*="anima"][class*="onto"][class*="skeW"]:focus,
[class*="anima"][class*="onto"][class*="skeW"]:active,
[class*="anima"][class*="toall"][class*="skeW"] > *,
[class*="anima"][class*="forall"][class*="skeW"]:hover > *,
[class*="anima"][class*="forall"][class*="skeW"]:focus > *,
[class*="anima"][class*="forall"][class*="skeW"]:active > *,
[class*="anima"][class*="fromall"][class*="skeW"] > *:hover,
[class*="anima"][class*="fromall"][class*="skeW"] > *:focus,
[class*="anima"][class*="fromall"][class*="skeW"] > *:active {
    animation-name: skew;
}

[class*="anima"][class*="tio"][class*="skeX"],
[class*="anima"][class*="dio"][class*="skeX"]:checked ~ [class*="anima"][class*="target"][class*="skeX"],
*:hover > [class*="anima"][class*="into"][class*="skeX"],
*:focus > [class*="anima"][class*="into"][class*="skeX"],
*:active > [class*="anima"][class*="into"][class*="skeX"],
[class*="anima"][class*="onto"][class*="skeX"]:hover,
[class*="anima"][class*="onto"][class*="skeX"]:focus,
[class*="anima"][class*="onto"][class*="skeX"]:active,
[class*="anima"][class*="toall"][class*="skeX"] > *,
[class*="anima"][class*="forall"][class*="skeX"]:hover > *,
[class*="anima"][class*="forall"][class*="skeX"]:focus > *,
[class*="anima"][class*="forall"][class*="skeX"]:active > *,
[class*="anima"][class*="fromall"][class*="skeX"] > *:hover,
[class*="anima"][class*="fromall"][class*="skeX"] > *:focus,
[class*="anima"][class*="fromall"][class*="skeX"] > *:active {
animation-name: skewX;
}

[class*="anima"][class*="tio"][class*="skeY"],
[class*="anima"][class*="dio"][class*="skeY"]:checked ~ [class*="anima"][class*="target"][class*="skeY"],
*:hover > [class*="anima"][class*="into"][class*="skeY"],
*:focus > [class*="anima"][class*="into"][class*="skeY"],
*:active > [class*="anima"][class*="into"][class*="skeY"],
[class*="anima"][class*="onto"][class*="skeY"]:hover,
[class*="anima"][class*="onto"][class*="skeY"]:focus,
[class*="anima"][class*="onto"][class*="skeY"]:active,
[class*="anima"][class*="toall"][class*="skeY"] > *,
[class*="anima"][class*="forall"][class*="skeY"]:hover > *,
[class*="anima"][class*="forall"][class*="skeY"]:focus > *,
[class*="anima"][class*="forall"][class*="skeY"]:active > *,
[class*="anima"][class*="fromall"][class*="skeY"] > *:hover,
[class*="anima"][class*="fromall"][class*="skeY"] > *:focus,
[class*="anima"][class*="fromall"][class*="skeY"] > *:active {
animation-name: skewY;
}

[class*="anima"][class*="tio"][class*="traN"],
[class*="anima"][class*="dio"][class*="traN"]:checked ~ [class*="anima"][class*="target"][class*="traN"],
*:hover > [class*="anima"][class*="into"][class*="traN"],
*:focus > [class*="anima"][class*="into"][class*="traN"],
*:active > [class*="anima"][class*="into"][class*="traN"],
[class*="anima"][class*="onto"][class*="traN"]:hover,
[class*="anima"][class*="onto"][class*="traN"]:focus,
[class*="anima"][class*="onto"][class*="traN"]:active,
[class*="anima"][class*="toall"][class*="traN"] > *,
[class*="anima"][class*="forall"][class*="traN"]:hover > *,
[class*="anima"][class*="forall"][class*="traN"]:focus > *,
[class*="anima"][class*="forall"][class*="traN"]:active > *,
[class*="anima"][class*="fromall"][class*="traN"] > *:hover,
[class*="anima"][class*="fromall"][class*="traN"] > *:focus,
[class*="anima"][class*="fromall"][class*="traN"] > *:active {
    animation-name: translate;
}

[class*="anima"][class*="tio"][class*="traX"],
[class*="anima"][class*="dio"][class*="traX"]:checked ~ [class*="anima"][class*="target"][class*="traX"],
*:hover > [class*="anima"][class*="into"][class*="traX"],
*:focus > [class*="anima"][class*="into"][class*="traX"],
*:active > [class*="anima"][class*="into"][class*="traX"],
[class*="anima"][class*="onto"][class*="traX"]:hover,
[class*="anima"][class*="onto"][class*="traX"]:focus,
[class*="anima"][class*="onto"][class*="traX"]:active,
[class*="anima"][class*="toall"][class*="traX"] > *,
[class*="anima"][class*="forall"][class*="traX"]:hover > *,
[class*="anima"][class*="forall"][class*="traX"]:focus > *,
[class*="anima"][class*="forall"][class*="traX"]:active > *,
[class*="anima"][class*="fromall"][class*="traX"] > *:hover,
[class*="anima"][class*="fromall"][class*="traX"] > *:focus,
[class*="anima"][class*="fromall"][class*="traX"] > *:active {
    animation-name: translateX;
}

[class*="anima"][class*="tio"][class*="traY"],
[class*="anima"][class*="dio"][class*="traY"]:checked ~ [class*="anima"][class*="target"][class*="traY"],
*:hover > [class*="anima"][class*="into"][class*="traY"],
*:focus > [class*="anima"][class*="into"][class*="traY"],
*:active > [class*="anima"][class*="into"][class*="traY"],
[class*="anima"][class*="onto"][class*="traY"]:hover,
[class*="anima"][class*="onto"][class*="traY"]:focus,
[class*="anima"][class*="onto"][class*="traY"]:active,
[class*="anima"][class*="toall"][class*="traY"] > *,
[class*="anima"][class*="forall"][class*="traY"]:hover > *,
[class*="anima"][class*="forall"][class*="traY"]:focus > *,
[class*="anima"][class*="forall"][class*="traY"]:active > *,
[class*="anima"][class*="fromall"][class*="traY"] > *:hover,
[class*="anima"][class*="fromall"][class*="traY"] > *:focus,
[class*="anima"][class*="fromall"][class*="traY"] > *:active {
    animation-name: translateY;
}


/***** Duration *****/
[class*="anima"][class*="tio"][class*="tn"],
[class*="anima"][class*="dio"][class*="tn"]:checked ~ [class*="anima"][class*="target"][class*="tn"],
*:hover > [class*="anima"][class*="into"][class*="tn"],
*:focus > [class*="anima"][class*="into"][class*="tn"],
*:active > [class*="anima"][class*="into"][class*="tn"],
[class*="anima"][class*="onto"][class*="tn"]:hover,
[class*="anima"][class*="onto"][class*="tn"]:focus,
[class*="anima"][class*="onto"][class*="tn"]:active,
[class*="anima"][class*="toall"][class*="tn"] > *,
[class*="anima"][class*="forall"][class*="tn"]:hover > *,
[class*="anima"][class*="forall"][class*="tn"]:focus > *,
[class*="anima"][class*="forall"][class*="tn"]:active > *,
[class*="anima"][class*="fromall"][class*="tn"] > *:hover,
[class*="anima"][class*="fromall"][class*="tn"] > *:focus,
[class*="anima"][class*="fromall"][class*="tn"] > *:active {
    animation-duration: var(--anima-duration-tn);
}

[class*="anima"][class*="tio"][class*="sm"],
[class*="anima"][class*="dio"][class*="sm"]:checked ~ [class*="anima"][class*="target"][class*="sm"],
*:hover > [class*="anima"][class*="into"][class*="sm"],
*:focus > [class*="anima"][class*="into"][class*="sm"],
*:active > [class*="anima"][class*="into"][class*="sm"],
[class*="anima"][class*="onto"][class*="sm"]:hover,
[class*="anima"][class*="onto"][class*="sm"]:focus,
[class*="anima"][class*="onto"][class*="sm"]:active,
[class*="anima"][class*="toall"][class*="sm"] > *,
[class*="anima"][class*="forall"][class*="sm"]:hover > *,
[class*="anima"][class*="forall"][class*="sm"]:focus > *,
[class*="anima"][class*="forall"][class*="sm"]:active > *,
[class*="anima"][class*="fromall"][class*="sm"] > *:hover,
[class*="anima"][class*="fromall"][class*="sm"] > *:focus,
[class*="anima"][class*="fromall"][class*="sm"] > *:active {
    animation-duration: var(--anima-duration-sm);
}

[class*="anima"][class*="tio"][class*="md"],
[class*="anima"][class*="dio"][class*="md"]:checked ~ [class*="anima"][class*="target"][class*="md"],
*:hover > [class*="anima"][class*="into"][class*="md"],
*:focus > [class*="anima"][class*="into"][class*="md"],
*:active > [class*="anima"][class*="into"][class*="md"],
[class*="anima"][class*="onto"][class*="md"]:hover,
[class*="anima"][class*="onto"][class*="md"]:focus,
[class*="anima"][class*="onto"][class*="md"]:active,
[class*="anima"][class*="toall"][class*="md"] > *,
[class*="anima"][class*="forall"][class*="md"]:hover > *,
[class*="anima"][class*="forall"][class*="md"]:focus > *,
[class*="anima"][class*="forall"][class*="md"]:active > *,
[class*="anima"][class*="fromall"][class*="md"] > *:hover,
[class*="anima"][class*="fromall"][class*="md"] > *:focus,
[class*="anima"][class*="fromall"][class*="md"] > *:active {
    animation-duration: var(--anima-duration-md);
}

[class*="anima"][class*="tio"][class*="lg"],
[class*="anima"][class*="dio"][class*="lg"]:checked ~ [class*="anima"][class*="target"][class*="lg"],
*:hover > [class*="anima"][class*="into"][class*="lg"],
*:focus > [class*="anima"][class*="into"][class*="lg"],
*:active > [class*="anima"][class*="into"][class*="lg"],
[class*="anima"][class*="onto"][class*="lg"]:hover,
[class*="anima"][class*="onto"][class*="lg"]:focus,
[class*="anima"][class*="onto"][class*="lg"]:active,
[class*="anima"][class*="toall"][class*="lg"] > *,
[class*="anima"][class*="forall"][class*="lg"]:hover > *,
[class*="anima"][class*="forall"][class*="lg"]:focus > *,
[class*="anima"][class*="forall"][class*="lg"]:active > *,
[class*="anima"][class*="fromall"][class*="lg"] > *:hover,
[class*="anima"][class*="fromall"][class*="lg"] > *:focus,
[class*="anima"][class*="fromall"][class*="lg"] > *:active {
    animation-duration: var(--anima-duration-lg);
}

[class*="anima"][class*="tio"][class*="wd"],
[class*="anima"][class*="dio"][class*="wd"]:checked ~ [class*="anima"][class*="target"][class*="wd"],
*:hover > [class*="anima"][class*="into"][class*="wd"],
*:focus > [class*="anima"][class*="into"][class*="wd"],
*:active > [class*="anima"][class*="into"][class*="wd"],
[class*="anima"][class*="onto"][class*="wd"]:hover,
[class*="anima"][class*="onto"][class*="wd"]:focus,
[class*="anima"][class*="onto"][class*="wd"]:active,
[class*="anima"][class*="toall"][class*="wd"] > *,
[class*="anima"][class*="forall"][class*="wd"]:hover > *,
[class*="anima"][class*="forall"][class*="wd"]:focus > *,
[class*="anima"][class*="forall"][class*="wd"]:active > *,
[class*="anima"][class*="fromall"][class*="wd"] > *:hover,
[class*="anima"][class*="fromall"][class*="wd"] > *:focus,
[class*="anima"][class*="fromall"][class*="wd"] > *:active {
    animation-duration: var(--anima-duration-wd);
}