/*************************************/
/********** ANIMATION DELAY **********/
/*************************************/


[class*="anima"][class*="tio"][class*="small"],
[class*="anima"][class*="dio"][class*="small"]:checked ~ [class*="anima"][class*="target"][class*="small"],
*:hover > [class*="anima"][class*="into"][class*="small"],
*:focus > [class*="anima"][class*="into"][class*="small"],
*:active > [class*="anima"][class*="into"][class*="small"],
[class*="anima"][class*="onto"][class*="small"]:hover,
[class*="anima"][class*="onto"][class*="small"]:focus,
[class*="anima"][class*="onto"][class*="small"]:active,
[class*="anima"][class*="toall"][class*="small"] > *,
[class*="anima"][class*="forall"][class*="small"]:hover > *,
[class*="anima"][class*="forall"][class*="small"]:focus > *,
[class*="anima"][class*="forall"][class*="small"]:active > *,
[class*="anima"][class*="fromall"][class*="small"] > *:hover,
[class*="anima"][class*="fromall"][class*="small"] > *:focus,
[class*="anima"][class*="fromall"][class*="small"] > *:active {
    animation-delay: var(--anima-delay-small);
}

[class*="anima"][class*="tio"][class*="medium"],
[class*="anima"][class*="dio"][class*="medium"]:checked ~ [class*="anima"][class*="target"][class*="medium"],
*:hover > [class*="anima"][class*="into"][class*="medium"],
*:focus > [class*="anima"][class*="into"][class*="medium"],
*:active > [class*="anima"][class*="into"][class*="medium"],
[class*="anima"][class*="onto"][class*="medium"]:hover,
[class*="anima"][class*="onto"][class*="medium"]:focus,
[class*="anima"][class*="onto"][class*="medium"]:active,
[class*="anima"][class*="toall"][class*="medium"] > *,
[class*="anima"][class*="forall"][class*="medium"]:hover > *,
[class*="anima"][class*="forall"][class*="medium"]:focus > *,
[class*="anima"][class*="forall"][class*="medium"]:active > *,
[class*="anima"][class*="fromall"][class*="medium"] > *:hover,
[class*="anima"][class*="fromall"][class*="medium"] > *:focus,
[class*="anima"][class*="fromall"][class*="medium"] > *:active {
    animation-delay: var(--anima-delay-medium);
}

[class*="anima"][class*="tio"][class*="large"],
[class*="anima"][class*="dio"][class*="large"]:checked ~ [class*="anima"][class*="target"][class*="large"],
*:hover > [class*="anima"][class*="into"][class*="large"],
*:focus > [class*="anima"][class*="into"][class*="large"],
*:active > [class*="anima"][class*="into"][class*="large"],
[class*="anima"][class*="onto"][class*="large"]:hover,
[class*="anima"][class*="onto"][class*="large"]:focus,
[class*="anima"][class*="onto"][class*="large"]:active,
[class*="anima"][class*="toall"][class*="large"] > *,
[class*="anima"][class*="forall"][class*="large"]:hover > *,
[class*="anima"][class*="forall"][class*="large"]:focus > *,
[class*="anima"][class*="forall"][class*="large"]:active > *,
[class*="anima"][class*="fromall"][class*="large"] > *:hover,
[class*="anima"][class*="fromall"][class*="large"] > *:focus,
[class*="anima"][class*="fromall"][class*="large"] > *:active {
    animation-delay: var(--anima-delay-large);
}