/*****************************************/
/********** ANIMATION DIRECTION **********/
/*****************************************/


[class*="animate-"][class*="reverse"]:hover,
[class*="animate-"][class*="reverse"]:focus,
[class*="animate-"][class*="reverse"]:active,
*:hover > [class*="animated-"][class*="reverse"],
*:focus > [class*="animated-"][class*="reverse"],
*:active > [class*="animated-"][class*="reverse"],
[class*="radio-"][class*="reverse"]:checked ~ [class*="target-"][class*="reverse"],
[class*="show-"][class*="reverse"],
[class*="shown-"][class*="reverse"] > * {
    animation-direction: reverse;
}

[class*="animate-"][class*="alternate"]:hover,
[class*="animate-"][class*="alternate"]:focus,
[class*="animate-"][class*="alternate"]:active,
*:hover > [class*="animated-"][class*="alternate"],
*:focus > [class*="animated-"][class*="alternate"],
*:active > [class*="animated-"][class*="alternate"],
[class*="radio-"][class*="alternate"]:checked ~ [class*="target-"][class*="alternate"],
[class*="show-"][class*="alternate"],
[class*="shown-"][class*="alternate"] > * {
    animation-direction: alternate;
}

[class*="animate-"][class*="alt-rev"]:hover,
[class*="animate-"][class*="alt-rev"]:focus,
[class*="animate-"][class*="alt-rev"]:active,
*:hover > [class*="animated-"][class*="alt-rev"],
*:focus > [class*="animated-"][class*="alt-rev"],
*:active > [class*="animated-"][class*="alt-rev"],
[class*="radio-"][class*="alt-rev"]:checked ~ [class*="target-"][class*="alt-rev"],
[class*="show-"][class*="alt-rev"],
[class*="shown-"][class*="alt-rev"] > * {
    animation-direction: alternate-reverse;
}