/****************************************/
/********** ANIMATION DURATION **********/
/****************************************/


[class*="anima"][class*="tio"][class*="tn"],
[class*="anima"][class*="dio"][class*="tn"]:checked ~ [class*="anima"][class*="target"][class*="tn"],
*:hover > [class*="anima"][class*="into"][class*="tn"],
*:focus > [class*="anima"][class*="into"][class*="tn"],
*:active > [class*="anima"][class*="into"][class*="tn"],
[class*="anima"][class*="onto"][class*="tn"]:hover,
[class*="anima"][class*="onto"][class*="tn"]:focus,
[class*="anima"][class*="onto"][class*="tn"]:active,
[class*="anima"][class*="toall"][class*="tn"] > *,
[class*="anima"][class*="forall"][class*="tn"]:hover > *,
[class*="anima"][class*="forall"][class*="tn"]:focus > *,
[class*="anima"][class*="forall"][class*="tn"]:active > *,
[class*="anima"][class*="fromall"][class*="tn"] > *:hover,
[class*="anima"][class*="fromall"][class*="tn"] > *:focus,
[class*="anima"][class*="fromall"][class*="tn"] > *:active {
    animation-duration: var(--anima-duration-tn);
}

[class*="anima"][class*="tio"][class*="sm"],
[class*="anima"][class*="dio"][class*="sm"]:checked ~ [class*="anima"][class*="target"][class*="sm"],
*:hover > [class*="anima"][class*="into"][class*="sm"],
*:focus > [class*="anima"][class*="into"][class*="sm"],
*:active > [class*="anima"][class*="into"][class*="sm"],
[class*="anima"][class*="onto"][class*="sm"]:hover,
[class*="anima"][class*="onto"][class*="sm"]:focus,
[class*="anima"][class*="onto"][class*="sm"]:active,
[class*="anima"][class*="toall"][class*="sm"] > *,
[class*="anima"][class*="forall"][class*="sm"]:hover > *,
[class*="anima"][class*="forall"][class*="sm"]:focus > *,
[class*="anima"][class*="forall"][class*="sm"]:active > *,
[class*="anima"][class*="fromall"][class*="sm"] > *:hover,
[class*="anima"][class*="fromall"][class*="sm"] > *:focus,
[class*="anima"][class*="fromall"][class*="sm"] > *:active {
    animation-duration: var(--anima-duration-sm);
}

[class*="anima"][class*="tio"][class*="md"],
[class*="anima"][class*="dio"][class*="md"]:checked ~ [class*="anima"][class*="target"][class*="md"],
*:hover > [class*="anima"][class*="into"][class*="md"],
*:focus > [class*="anima"][class*="into"][class*="md"],
*:active > [class*="anima"][class*="into"][class*="md"],
[class*="anima"][class*="onto"][class*="md"]:hover,
[class*="anima"][class*="onto"][class*="md"]:focus,
[class*="anima"][class*="onto"][class*="md"]:active,
[class*="anima"][class*="toall"][class*="md"] > *,
[class*="anima"][class*="forall"][class*="md"]:hover > *,
[class*="anima"][class*="forall"][class*="md"]:focus > *,
[class*="anima"][class*="forall"][class*="md"]:active > *,
[class*="anima"][class*="fromall"][class*="md"] > *:hover,
[class*="anima"][class*="fromall"][class*="md"] > *:focus,
[class*="anima"][class*="fromall"][class*="md"] > *:active {
    animation-duration: var(--anima-duration-md);
}

[class*="anima"][class*="tio"][class*="lg"],
[class*="anima"][class*="dio"][class*="lg"]:checked ~ [class*="anima"][class*="target"][class*="lg"],
*:hover > [class*="anima"][class*="into"][class*="lg"],
*:focus > [class*="anima"][class*="into"][class*="lg"],
*:active > [class*="anima"][class*="into"][class*="lg"],
[class*="anima"][class*="onto"][class*="lg"]:hover,
[class*="anima"][class*="onto"][class*="lg"]:focus,
[class*="anima"][class*="onto"][class*="lg"]:active,
[class*="anima"][class*="toall"][class*="lg"] > *,
[class*="anima"][class*="forall"][class*="lg"]:hover > *,
[class*="anima"][class*="forall"][class*="lg"]:focus > *,
[class*="anima"][class*="forall"][class*="lg"]:active > *,
[class*="anima"][class*="fromall"][class*="lg"] > *:hover,
[class*="anima"][class*="fromall"][class*="lg"] > *:focus,
[class*="anima"][class*="fromall"][class*="lg"] > *:active {
    animation-duration: var(--anima-duration-lg);
}

[class*="anima"][class*="tio"][class*="wd"],
[class*="anima"][class*="dio"][class*="wd"]:checked ~ [class*="anima"][class*="target"][class*="wd"],
*:hover > [class*="anima"][class*="into"][class*="wd"],
*:focus > [class*="anima"][class*="into"][class*="wd"],
*:active > [class*="anima"][class*="into"][class*="wd"],
[class*="anima"][class*="onto"][class*="wd"]:hover,
[class*="anima"][class*="onto"][class*="wd"]:focus,
[class*="anima"][class*="onto"][class*="wd"]:active,
[class*="anima"][class*="toall"][class*="wd"] > *,
[class*="anima"][class*="forall"][class*="wd"]:hover > *,
[class*="anima"][class*="forall"][class*="wd"]:focus > *,
[class*="anima"][class*="forall"][class*="wd"]:active > *,
[class*="anima"][class*="fromall"][class*="wd"] > *:hover,
[class*="anima"][class*="fromall"][class*="wd"] > *:focus,
[class*="anima"][class*="fromall"][class*="wd"] > *:active {
    animation-duration: var(--anima-duration-wd);
}