/****************************************/
/********** ANIMATION DURATION **********/
/****************************************/

/*
1. TN
2. SM
3. MD
4. LG
5. WD
*/


/**************/
/***** TN *****/
[class*="animate-"][class*="tn"]:hover,
[class*="animate-"][class*="tn"]:focus,
[class*="animate-"][class*="tn"]:active,
*:hover > [class*="animated-"][class*="tn"],
*:focus > [class*="animated-"][class*="tn"],
*:active > [class*="animated-"][class*="tn"],
[class*="radio-"][class*="tn"]:checked ~ [class*="target-"][class*="tn"],
[class*="show-"][class*="tn"],
[class*="shown-"][class*="tn"] > * {
    animation-duration: var(--animation-duration-tn);
}


/**************/
/***** SM *****/
[class*="animate-"][class*="sm"]:hover,
[class*="animate-"][class*="sm"]:focus,
[class*="animate-"][class*="sm"]:active,
*:hover > [class*="animated-"][class*="sm"],
*:focus > [class*="animated-"][class*="sm"],
*:active > [class*="animated-"][class*="sm"],
[class*="radio-"][class*="sm"]:checked ~ [class*="target-"][class*="sm"],
[class*="show-"][class*="sm"],
[class*="shown-"][class*="sm"] > * {
    animation-duration: var(--animation-duration-sm);
}


/**************/
/***** MD *****/
[class*="animate-"][class*="md"]:hover,
[class*="animate-"][class*="md"]:focus,
[class*="animate-"][class*="md"]:active,
*:hover > [class*="animated-"][class*="md"],
*:focus > [class*="animated-"][class*="md"],
*:active > [class*="animated-"][class*="md"],
[class*="radio-"][class*="md"]:checked ~ [class*="target-"][class*="md"],
[class*="show-"][class*="md"],
[class*="shown-"][class*="md"] > * {
    animation-duration: var(--animation-duration-md);
}


/**************/
/***** LG *****/
[class*="animate-"][class*="lg"]:hover,
[class*="animate-"][class*="lg"]:focus,
[class*="animate-"][class*="lg"]:active,
*:hover > [class*="animated-"][class*="lg"],
*:focus > [class*="animated-"][class*="lg"],
*:active > [class*="animated-"][class*="lg"],
[class*="radio-"][class*="lg"]:checked ~ [class*="target-"][class*="lg"],
[class*="show-"][class*="lg"],
[class*="shown-"][class*="lg"] > * {
    animation-duration: var(--animation-duration-lg);
}


/**************/
/***** WD *****/
[class*="animate-"][class*="wd"]:hover,
[class*="animate-"][class*="wd"]:focus,
[class*="animate-"][class*="wd"]:active,
*:hover > [class*="animated-"][class*="wd"],
*:focus > [class*="animated-"][class*="wd"],
*:active > [class*="animated-"][class*="wd"],
[class*="radio-"][class*="wd"]:checked ~ [class*="target-"][class*="wd"],
[class*="show-"][class*="wd"],
[class*="shown-"][class*="wd"] > * {
    animation-duration: var(--animation-duration-wd);
}