/*******************************/
/********** KEYFRAMES **********/
/*******************************/

/*
1. Rotate
2. Scale
3. Skew
4. Translate
*/


/******************/
/***** Rotate *****/
@keyframes rotate {
    to {
        transform: rotate(var(--rotate));
    }
}

/***** RotateX *****/
@keyframes rotateX {
    to {
        transform: rotateX(var(--rotateX));
    }
}

/***** RotateY *****/
@keyframes rotateY {
    to {
        transform: rotateY(var(--rotateY));
    }
}


/*****************/
/***** Scale *****/
@keyframes scale {
    to {
        transform: scale(var(--scale));
    }
}

/***** ScaleX *****/
@keyframes scaleX {
    to {
        transform: scaleX(var(--scaleX));
    }
}

/***** ScaleY *****/
@keyframes scaleY {
    to {
        transform: scaleY(var(--scaleY));
    }
}


/****************/
/***** Skew *****/
@keyframes skew {
    to {
        transform: skew(var(--skew));
    }
}

/***** SkewX *****/
@keyframes skewX {
    to {
        transform: skewX(var(--skewX));
    }
}

/***** SkewY *****/
@keyframes skewY {
    to {
        transform: skewY(var(--skewY));
    }
}


/*********************/
/***** Translate *****/
@keyframes translate {
    to {
        transform: translate(var(--translate));
    }
}

/***** TranslateX *****/
@keyframes translateX {
    to {
        transform: translateX(var(--translateX));
    }
}

/***** TranslateY *****/
@keyframes translateY {
    to {
        transform: translateY(var(--translateY));
    }
}