/*******************************/
/********** KEYFRAMES **********/
/*******************************/

/*
1. Rotate
2. Scale
3. Skew
4. Translate
*/


/******************/
/***** Rotate *****/
@keyframes rotate {
    to {
        transform: var(--rotate);
    }
}

/***** RotateX *****/
@keyframes rotateX {
    to {
        transform: var(--rotateX);
    }
}

/***** RotateY *****/
@keyframes rotateY {
    to {
        transform: var(--rotateY);
    }
}


/*****************/
/***** Scale *****/
@keyframes scale {
    to {
        transform: var(--scale);
    }
}

/***** ScaleX *****/
@keyframes scaleX {
    to {
        transform: var(--scaleX);
    }
}

/***** ScaleY *****/
@keyframes scaleY {
    to {
        transform: var(--scaleY);
    }
}


/****************/
/***** Skew *****/
@keyframes skew {
    to {
        transform: var(--skew);
    }
}

/***** SkewX *****/
@keyframes skewX {
    to {
        transform: var(--skewX);
    }
}

/***** SkewY *****/
@keyframes skewY {
    to {
        transform: var(--skewY);
    }
}


/*********************/
/***** Translate *****/
@keyframes translate {
    to {
        transform: var(--translate);
    }
}

/***** TranslateX *****/
@keyframes translateX {
    to {
        transform: var(--translateX);
    }
}

/***** TranslateY *****/
@keyframes translateY {
    to {
        transform: var(--translateY);
    }
}