/****************************/
/********** ORIGIN **********/
/****************************/

/*
1. Origin Variables
2. Origin
*/


/***** Origin Variables *****/
:root {
    --transform-origin-near: 50px 50px;
    --transform-origin-far: top right 50px;
}


/***** Origin *****/
[class*="anima"][class*="tio"][class*="far"],
[class*="anima"][class*="dio"][class*="far"]:checked ~ [class*="anima"][class*="target"][class*="far"],
*:hover > [class*="anima"][class*="into"][class*="far"],
*:focus > [class*="anima"][class*="into"][class*="far"],
*:active > [class*="anima"][class*="into"][class*="far"],
[class*="anima"][class*="onto"][class*="far"]:hover,
[class*="anima"][class*="onto"][class*="far"]:focus,
[class*="anima"][class*="onto"][class*="far"]:active,
[class*="anima"][class*="toall"][class*="far"] > *,
[class*="anima"][class*="forall"][class*="far"]:hover > *,
[class*="anima"][class*="forall"][class*="far"]:focus > *,
[class*="anima"][class*="forall"][class*="far"]:active > *,
[class*="anima"][class*="fromall"][class*="far"] > *:hover,
[class*="anima"][class*="fromall"][class*="far"] > *:focus,
[class*="anima"][class*="fromall"][class*="far"] > *:active {
    transform-origin: var(--transform-origin-far);
}

[class*="anima"][class*="tio"][class*="near"],
[class*="anima"][class*="dio"][class*="near"]:checked ~ [class*="anima"][class*="target"][class*="near"],
*:hover > [class*="anima"][class*="into"][class*="near"],
*:focus > [class*="anima"][class*="into"][class*="near"],
*:active > [class*="anima"][class*="into"][class*="near"],
[class*="anima"][class*="onto"][class*="near"]:hover,
[class*="anima"][class*="onto"][class*="near"]:focus,
[class*="anima"][class*="onto"][class*="near"]:active,
[class*="anima"][class*="toall"][class*="near"] > *,
[class*="anima"][class*="forall"][class*="near"]:hover > *,
[class*="anima"][class*="forall"][class*="near"]:focus > *,
[class*="anima"][class*="forall"][class*="near"]:active > *,
[class*="anima"][class*="fromall"][class*="near"] > *:hover,
[class*="anima"][class*="fromall"][class*="near"] > *:focus,
[class*="anima"][class*="fromall"][class*="near"] > *:active {
transform-origin: var(--transform-origin-near);
}

