/***********************************************/
/********** ANIMATION TIMING FUNCTION **********/
/***********************************************/

/*
1. Linear
2. Ease
3. Steps
4. Bezier
*/


/******************/
/***** Linear *****/
[class*="anima"][class*="tio"][class*="linear"],
[class*="anima"][class*="dio"][class*="linear"]:checked ~ [class*="anima"][class*="target"][class*="linear"],
*:hover > [class*="anima"][class*="into"][class*="linear"],
*:focus > [class*="anima"][class*="into"][class*="linear"],
*:active > [class*="anima"][class*="into"][class*="linear"],
[class*="anima"][class*="onto"][class*="linear"]:hover,
[class*="anima"][class*="onto"][class*="linear"]:focus,
[class*="anima"][class*="onto"][class*="linear"]:active,
[class*="anima"][class*="toall"][class*="linear"] > *,
[class*="anima"][class*="forall"][class*="linear"]:hover > *,
[class*="anima"][class*="forall"][class*="linear"]:focus > *,
[class*="anima"][class*="forall"][class*="linear"]:active > *,
[class*="anima"][class*="fromall"][class*="linear"] > *:hover,
[class*="anima"][class*="fromall"][class*="linear"] > *:focus,
[class*="anima"][class*="fromall"][class*="linear"] > *:active {
    animation-timing-function: linear;
}


/****************/
/***** Ease *****/
[class*="anima"][class*="tio"][class*="ease"],
[class*="anima"][class*="dio"][class*="ease"]:checked ~ [class*="anima"][class*="target"][class*="ease"],
*:hover > [class*="anima"][class*="into"][class*="ease"],
*:focus > [class*="anima"][class*="into"][class*="ease"],
*:active > [class*="anima"][class*="into"][class*="ease"],
[class*="anima"][class*="onto"][class*="ease"]:hover,
[class*="anima"][class*="onto"][class*="ease"]:focus,
[class*="anima"][class*="onto"][class*="ease"]:active,
[class*="anima"][class*="toall"][class*="ease"] > *,
[class*="anima"][class*="forall"][class*="ease"]:hover > *,
[class*="anima"][class*="forall"][class*="ease"]:focus > *,
[class*="anima"][class*="forall"][class*="ease"]:active > *,
[class*="anima"][class*="fromall"][class*="ease"] > *:hover,
[class*="anima"][class*="fromall"][class*="ease"] > *:focus,
[class*="anima"][class*="fromall"][class*="ease"] > *:active {
    animation-timing-function: var(--anima-timing-ease);
}


/*****************/
/***** Steps *****/
[class*="anima"][class*="tio"][class*="steps"],
[class*="anima"][class*="dio"][class*="steps"]:checked ~ [class*="anima"][class*="target"][class*="steps"],
*:hover > [class*="anima"][class*="into"][class*="steps"],
*:focus > [class*="anima"][class*="into"][class*="steps"],
*:active > [class*="anima"][class*="into"][class*="steps"],
[class*="anima"][class*="onto"][class*="steps"]:hover,
[class*="anima"][class*="onto"][class*="steps"]:focus,
[class*="anima"][class*="onto"][class*="steps"]:active,
[class*="anima"][class*="toall"][class*="steps"] > *,
[class*="anima"][class*="forall"][class*="steps"]:hover > *,
[class*="anima"][class*="forall"][class*="steps"]:focus > *,
[class*="anima"][class*="forall"][class*="steps"]:active > *,
[class*="anima"][class*="fromall"][class*="steps"] > *:hover,
[class*="anima"][class*="fromall"][class*="steps"] > *:focus,
[class*="anima"][class*="fromall"][class*="steps"] > *:active {
    animation-timing-function: steps(var(--anima-timing-steps));
}


/******************/
/***** Bezier *****/
[class*="anima"][class*="tio"][class*="bezier"],
[class*="anima"][class*="dio"][class*="bezier"]:checked ~ [class*="anima"][class*="target"][class*="bezier"],
*:hover > [class*="anima"][class*="into"][class*="bezier"],
*:focus > [class*="anima"][class*="into"][class*="bezier"],
*:active > [class*="anima"][class*="into"][class*="bezier"],
[class*="anima"][class*="onto"][class*="bezier"]:hover,
[class*="anima"][class*="onto"][class*="bezier"]:focus,
[class*="anima"][class*="onto"][class*="bezier"]:active,
[class*="anima"][class*="toall"][class*="bezier"] > *,
[class*="anima"][class*="forall"][class*="bezier"]:hover > *,
[class*="anima"][class*="forall"][class*="bezier"]:focus > *,
[class*="anima"][class*="forall"][class*="bezier"]:active > *,
[class*="anima"][class*="fromall"][class*="bezier"] > *:hover,
[class*="anima"][class*="fromall"][class*="bezier"] > *:focus,
[class*="anima"][class*="fromall"][class*="bezier"] > *:active {
    animation-timing-function: cubic-bezier(var(--anima-timing-bezier));
}