/***** Grid : Classes : Flex *****/

[class^="flex"],
[class*=" flex"],
.column,
.col-inverse,
.col-nowrap,
.col-reverse,
.row,
.row-inverse,
.row-nowrap,
.row-reverse {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.column,
.col-inverse,
.col-nowrap,
.col-reverse {
  flex-direction: column;
  padding: var(--column-padding);
}

.row,
.row-inverse,
.row-nowrap,
.row-reverse {
  flex-direction: row;
  padding: var(--row-padding);
}

.col-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-nowrap,
.row-nowrap {
  flex-wrap: nowrap;
}

.col-inverse,
.row-inverse {
  flex-wrap: wrap-reverse;
}

@for $i from 2 to 13 {
  [class^="flex-"][class*="-#{$i}tn"],
  [class*=" flex-"][class*="-#{$i}tn"] {
    margin: var(--flex-negative-margin-tn);
  }

  [class^="flex-"][class*="-#{$i}tn"] > *,
  [class*=" flex-"][class*="-#{$i}tn"] > * {
    width: calc(100% / #{$i} - var(--flex-width-tn));
    margin: var(--flex-positive-margin-tn);
  }
}

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 2 to 13 {
      [class^="flex-"][class*="-#{$i}#{$key}"],
      [class*=" flex-"][class*="-#{$i}#{$key}"] {
        margin: var(--flex-negative-margin-#{$key});
      }

      [class^="flex-"][class*="-#{$i}#{$key}"] > *,
      [class*=" flex-"][class*="-#{$i}#{$key}"] > * {
        width: calc(100% / #{$i} - var(--flex-width-#{$key}));
        margin: var(--flex-positive-margin-#{$key});
      }
    }
  }
}
