/***** 2.1.1 - Grid:Flex:Base *****/

[class^="flex"],
[class*=" flex"],
.column,
.col-inverse,
.col-nowrap,
.col-reverse,
.row,
.row-inverse,
.row-nowrap,
.row-reverse {
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}

.column,
.col-inverse,
.col-nowrap,
.col-reverse {
  flex-direction: column;
  padding: var(--column-padding);
}

.row,
.row-inverse,
.row-nowrap,
.row-reverse {
  flex-direction: row;
  padding: var(--row-padding);
}

.col-reverse {
  flex-direction: column-reverse;
}

.row-reverse {
  flex-direction: row-reverse;
}

.col-nowrap,
.row-nowrap {
  flex-wrap: nowrap;
}

.col-inverse,
.row-inverse {
  flex-wrap: wrap-reverse;
}

@for $i from 2 to 12 {
  [class^=" flex-"][class*="-#{$i}xs"],
  [class*=" flex-"][class*="-#{$i}xs"] {
    margin: var(--flex-negative-margin-xs);
  }

  [class^="flex-"][class*="-#{$i}xs"] > *,
  [class*=" flex-"][class*="-#{$i}xs"] > * {
    width: calc(100% / #{$i} - var(--flex-width-xs));
    margin: var(--flex-positive-margin-xs);
  }
}

@each $breakpoint-name, $breakpoint-value in $breakpoints {
  @media (min-width: $breakpoint-value) {
    @for $i from 2 to 12 {
      [class^="flex-"][class*="-#{$i}#{$breakpoint-name}"],
      [class*=" flex-"][class*="-#{$i}#{$breakpoint-name}"] {
        margin: var(--flex-negative-margin-#{$breakpoint-name});
      }

      [class^="flex-"][class*="-#{$i}#{$breakpoint-name}"] > *,
      [class*=" flex-"][class*="-#{$i}#{$breakpoint-name}"] > * {
        width: calc(100% / #{$i} - var(--flex-width-#{$breakpoint-name}));
        margin: var(--flex-positive-margin-#{$breakpoint-name});
      }
    }
  }
}
