/***** 2.2.1 - Grid:Grid:Base *****/

[class^="grid"],
[class*=" grid"],
[class^="fluid"],
[class*=" fluid"] {
  display: grid;
}

[class^="grid"],
[class*=" grid"] {
  margin: auto;
  max-width: 80%;
}

[class^="fluid"],
[class*=" fluid"] {
  max-width: 100%;
}

@for $i from 2 to 13 {
  [class^="grid-"][class*="-#{$i}xs"],
  [class*=" grid-"][class*="-#{$i}xs"],
  [class^="fluid-"][class*="-#{$i}xs"],
  [class*=" fluid-"][class*="-#{$i}xs"] {
    grid-template: auto/repeat(#{$i}, auto);
  }
}

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 2 to 13 {
      [class^="grid-"][class*="-#{$i}#{$key}"],
      [class*=" grid-"][class*="-#{$i}#{$key}"],
      [class^="fluid-"][class*="-#{$i}#{$key}"],
      [class*=" fluid-"][class*="-#{$i}#{$key}"] {
        grid-template: auto/repeat(#{$i}, auto);
      }
    }
  }
}

@each $size in $gap-sizes {
  [class^="gap-"][class*="-#{$size}-xs"],
  [class*=" gap-"][class*="-#{$size}-xs"] {
    grid-gap: var(--gap-#{$size}-xs);
  }
}

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    @each $size in $gap-sizes {
      [class^="gap-"][class*="-#{$size}-#{$key}"],
      [class*=" gap-"][class*="-#{$size}-#{$key}"] {
        grid-gap: var(--gap-#{$size}-#{$key});
      }
    }
  }
}
