/***** Grid : Classes : Place *****/

/* Place Content */
@each $key, $value in $place-content {
  .placo-#{$key} {
    place-content: var(--place-content-#{$key});
  }
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $place-content {
      .placo-#{$key}-#{$type} {
        place-content: var(--place-content-#{$key});
      }
    }
  }
}

/* Place Items */
@each $key, $value in $place-items {
  .plait-#{$key} {
    place-items: var(--place-items-#{$key});
  }
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $place-items {
      .plait-#{$key}-#{$type} {
        place-items: var(--place-items-#{$key});
      }
    }
  }
}

/* Place Self */
@each $key, $value in $place-self {
  .plase-#{$key} {
    place-self: var(--place-self-#{$key});
  }
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $place-self {
      .plase-#{$key}-#{$type} {
        place-self: var(--place-self-#{$key});
      }
    }
  }
}
