/*************************************/
/********** SHADOW BOX BLUR **********/
/*************************************/


[class*="shabox"][class*="tio"][class*="blur"][class*="all"],
[class*="shabox"][class*="dio"][class*="blur"][class*="all"]:checked ~ [class*="shabox"][class*="target"][class*="blur"][class*="all"],
*:hover > [class*="shabox"][class*="into"][class*="blur"][class*="all"],
*:focus > [class*="shabox"][class*="into"][class*="blur"][class*="all"],
*:active > [class*="shabox"][class*="into"][class*="blur"][class*="all"],
[class*="shabox"][class*="onto"][class*="blur"][class*="all"]:hover,
[class*="shabox"][class*="onto"][class*="blur"][class*="all"]:focus,
[class*="shabox"][class*="onto"][class*="blur"][class*="all"]:active,
[class*="shabox"][class*="toall"][class*="blur"][class*="all"] > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="all"]:hover > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="all"]:focus > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="all"]:active > *,
[class*="shabox"][class*="fromall"][class*="blur"][class*="all"] > *:hover,
[class*="shabox"][class*="fromall"][class*="blur"][class*="all"] > *:focus,
[class*="shabox"][class*="fromall"][class*="blur"][class*="all"] > *:active {
    box-shadow: 0 0 var(--shabox-blur-all);
}

[class*="shabox"][class*="tio"][class*="inset"][class*="blur"][class*="all"],
[class*="shabox"][class*="dio"][class*="inset"][class*="blur"][class*="all"]:checked ~ [class*="shabox"][class*="target"][class*="inset"][class*="blur"][class*="all"],
*:hover > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="all"],
*:focus > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="all"],
*:active > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="all"],
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="all"]:hover,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="all"]:focus,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="all"]:active,
[class*="shabox"][class*="toall"][class*="inset"][class*="blur"][class*="all"] > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="all"]:hover > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="all"]:focus > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="all"]:active > *,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="all"] > *:hover,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="all"] > *:focus,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="all"] > *:active {
    box-shadow: inset 0 0 var(--shabox-blur-all);
}

[class*="shabox"][class*="tio"][class*="blur"][class*="sm"],
[class*="shabox"][class*="dio"][class*="blur"][class*="sm"]:checked ~ [class*="shabox"][class*="target"][class*="blur"][class*="sm"],
*:hover > [class*="shabox"][class*="into"][class*="blur"][class*="sm"],
*:focus > [class*="shabox"][class*="into"][class*="blur"][class*="sm"],
*:active > [class*="shabox"][class*="into"][class*="blur"][class*="sm"],
[class*="shabox"][class*="onto"][class*="blur"][class*="sm"]:hover,
[class*="shabox"][class*="onto"][class*="blur"][class*="sm"]:focus,
[class*="shabox"][class*="onto"][class*="blur"][class*="sm"]:active,
[class*="shabox"][class*="toall"][class*="blur"][class*="sm"] > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="sm"]:hover > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="sm"]:focus > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="sm"]:active > *,
[class*="shabox"][class*="fromall"][class*="blur"][class*="sm"] > *:hover,
[class*="shabox"][class*="fromall"][class*="blur"][class*="sm"] > *:focus,
[class*="shabox"][class*="fromall"][class*="blur"][class*="sm"] > *:active {
    box-shadow: var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class*="shabox"][class*="tio"][class*="inset"][class*="blur"][class*="sm"],
[class*="shabox"][class*="dio"][class*="inset"][class*="blur"][class*="sm"]:checked ~ [class*="shabox"][class*="target"][class*="inset"][class*="blur"][class*="sm"],
*:hover > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="sm"],
*:focus > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="sm"],
*:active > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="sm"],
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="sm"]:hover,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="sm"]:focus,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="sm"]:active,
[class*="shabox"][class*="toall"][class*="inset"][class*="blur"][class*="sm"] > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="sm"]:hover > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="sm"]:focus > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="sm"]:active > *,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="sm"] > *:hover,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="sm"] > *:focus,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="sm"] > *:active {
    box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class*="shabox"][class*="tio"][class*="blur"][class*="md"],
[class*="shabox"][class*="dio"][class*="blur"][class*="md"]:checked ~ [class*="shabox"][class*="target"][class*="blur"][class*="md"],
*:hover > [class*="shabox"][class*="into"][class*="blur"][class*="md"],
*:focus > [class*="shabox"][class*="into"][class*="blur"][class*="md"],
*:active > [class*="shabox"][class*="into"][class*="blur"][class*="md"],
[class*="shabox"][class*="onto"][class*="blur"][class*="md"]:hover,
[class*="shabox"][class*="onto"][class*="blur"][class*="md"]:focus,
[class*="shabox"][class*="onto"][class*="blur"][class*="md"]:active,
[class*="shabox"][class*="toall"][class*="blur"][class*="md"] > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="md"]:hover > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="md"]:focus > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="md"]:active > *,
[class*="shabox"][class*="fromall"][class*="blur"][class*="md"] > *:hover,
[class*="shabox"][class*="fromall"][class*="blur"][class*="md"] > *:focus,
[class*="shabox"][class*="fromall"][class*="blur"][class*="md"] > *:active {
    box-shadow: var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class*="shabox"][class*="tio"][class*="inset"][class*="blur"][class*="md"],
[class*="shabox"][class*="dio"][class*="inset"][class*="blur"][class*="md"]:checked ~ [class*="shabox"][class*="target"][class*="inset"][class*="blur"][class*="md"],
*:hover > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="md"],
*:focus > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="md"],
*:active > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="md"],
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="md"]:hover,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="md"]:focus,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="md"]:active,
[class*="shabox"][class*="toall"][class*="inset"][class*="blur"][class*="md"] > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="md"]:hover > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="md"]:focus > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="md"]:active > *,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="md"] > *:hover,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="md"] > *:focus,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="md"] > *:active {
    box-shadow: inset var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class*="shabox"][class*="tio"][class*="blur"][class*="lg"],
[class*="shabox"][class*="dio"][class*="blur"][class*="lg"]:checked ~ [class*="shabox"][class*="target"][class*="blur"][class*="lg"],
*:hover > [class*="shabox"][class*="into"][class*="blur"][class*="lg"],
*:focus > [class*="shabox"][class*="into"][class*="blur"][class*="lg"],
*:active > [class*="shabox"][class*="into"][class*="blur"][class*="lg"],
[class*="shabox"][class*="onto"][class*="blur"][class*="lg"]:hover,
[class*="shabox"][class*="onto"][class*="blur"][class*="lg"]:focus,
[class*="shabox"][class*="onto"][class*="blur"][class*="lg"]:active,
[class*="shabox"][class*="toall"][class*="blur"][class*="lg"] > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="lg"]:hover > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="lg"]:focus > *,
[class*="shabox"][class*="forall"][class*="blur"][class*="lg"]:active > *,
[class*="shabox"][class*="fromall"][class*="blur"][class*="lg"] > *:hover,
[class*="shabox"][class*="fromall"][class*="blur"][class*="lg"] > *:focus,
[class*="shabox"][class*="fromall"][class*="blur"][class*="lg"] > *:active {
    box-shadow: var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}

[class*="shabox"][class*="tio"][class*="inset"][class*="blur"][class*="lg"],
[class*="shabox"][class*="dio"][class*="inset"][class*="blur"][class*="lg"]:checked ~ [class*="shabox"][class*="target"][class*="inset"][class*="blur"][class*="lg"],
*:hover > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="lg"],
*:focus > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="lg"],
*:active > [class*="shabox"][class*="into"][class*="inset"][class*="blur"][class*="lg"],
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="lg"]:hover,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="lg"]:focus,
[class*="shabox"][class*="onto"][class*="inset"][class*="blur"][class*="lg"]:active,
[class*="shabox"][class*="toall"][class*="inset"][class*="blur"][class*="lg"] > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="lg"]:hover > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="lg"]:focus > *,
[class*="shabox"][class*="forall"][class*="inset"][class*="blur"][class*="lg"]:active > *,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="lg"] > *:hover,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="lg"] > *:focus,
[class*="shabox"][class*="fromall"][class*="inset"][class*="blur"][class*="lg"] > *:active {
    box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}