/**************************************/
/********** SHADOW VARIABLES **********/
/**************************************/

/*
1. Box Shadow
2. Text Shadow
*/


/***** Box Shadow *****/
[class*="shabox"] {
    --shabox-x-sm: 2px;
    --shabox-x-md: 5px;
    --shabox-x-lg: 10px;

    --shabox-y-sm: 2px;
    --shabox-y-md: 5px;
    --shabox-y-lg: 10px;

    --shabox-blur-all: 5px;
    --shabox-blur-sm: 2px;
    --shabox-blur-md: 5px;
    --shabox-blur-lg: 10px;

    --shabox-spread-all: 5px;
    --shabox-spread-sm: 2px;
    --shabox-spread-md: 5px;
    --shabox-spread-lg: 10px;
}


/***** Text Shadow *****/
[class*="shatex"] {
    --shatex-x-sm: 1px;
    --shatex-x-md: 2px;
    --shatex-x-lg: 5px;

    --shatex-y-sm: 1px;
    --shatex-y-md: 2px;
    --shatex-y-lg: 5px;

    --shatex-blur-all: 2px;
    --shatex-blur-sm: 1px;
    --shatex-blur-md: 2px;
    --shatex-blur-lg: 5px;
}
