/*********************************/
/********** SHADOW TEXT **********/
/*********************************/


[class*="shatex"][class*="tio"][class*="sm"],
[class*="shatex"][class*="dio"][class*="sm"]:checked ~ [class*="shatex"][class*="target"][class*="sm"],
*:hover > [class*="shatex"][class*="into"][class*="sm"],
*:focus > [class*="shatex"][class*="into"][class*="sm"],
*:active > [class*="shatex"][class*="into"][class*="sm"],
[class*="shatex"][class*="onto"][class*="sm"]:hover,
[class*="shatex"][class*="onto"][class*="sm"]:focus,
[class*="shatex"][class*="onto"][class*="sm"]:active,
[class*="shatex"][class*="toall"][class*="sm"] > *,
[class*="shatex"][class*="forall"][class*="sm"]:hover > *,
[class*="shatex"][class*="forall"][class*="sm"]:focus > *,
[class*="shatex"][class*="forall"][class*="sm"]:active > *,
[class*="shatex"][class*="fromall"][class*="sm"] > *:hover,
[class*="shatex"][class*="fromall"][class*="sm"] > *:focus,
[class*="shatex"][class*="fromall"][class*="sm"] > *:active {
    text-shadow: var(--shatext-x-sm) var(--shatext-y-sm);
}

[class*="shatex"][class*="tio"][class*="md"],
[class*="shatex"][class*="dio"][class*="md"]:checked ~ [class*="shatex"][class*="target"][class*="md"],
*:hover > [class*="shatex"][class*="into"][class*="md"],
*:focus > [class*="shatex"][class*="into"][class*="md"],
*:active > [class*="shatex"][class*="into"][class*="md"],
[class*="shatex"][class*="onto"][class*="md"]:hover,
[class*="shatex"][class*="onto"][class*="md"]:focus,
[class*="shatex"][class*="onto"][class*="md"]:active,
[class*="shatex"][class*="toall"][class*="md"] > *,
[class*="shatex"][class*="forall"][class*="md"]:hover > *,
[class*="shatex"][class*="forall"][class*="md"]:focus > *,
[class*="shatex"][class*="forall"][class*="md"]:active > *,
[class*="shatex"][class*="fromall"][class*="md"] > *:hover,
[class*="shatex"][class*="fromall"][class*="md"] > *:focus,
[class*="shatex"][class*="fromall"][class*="md"] > *:active {
    text-shadow: var(--shatext-x-md) var(--shatext-y-md);
}

[class*="shatex"][class*="tio"][class*="lg"],
[class*="shatex"][class*="dio"][class*="lg"]:checked ~ [class*="shatex"][class*="target"][class*="lg"],
*:hover > [class*="shatex"][class*="into"][class*="lg"],
*:focus > [class*="shatex"][class*="into"][class*="lg"],
*:active > [class*="shatex"][class*="into"][class*="lg"],
[class*="shatex"][class*="onto"][class*="lg"]:hover,
[class*="shatex"][class*="onto"][class*="lg"]:focus,
[class*="shatex"][class*="onto"][class*="lg"]:active,
[class*="shatex"][class*="toall"][class*="lg"] > *,
[class*="shatex"][class*="forall"][class*="lg"]:hover > *,
[class*="shatex"][class*="forall"][class*="lg"]:focus > *,
[class*="shatex"][class*="forall"][class*="lg"]:active > *,
[class*="shatex"][class*="fromall"][class*="lg"] > *:hover,
[class*="shatex"][class*="fromall"][class*="lg"] > *:focus,
[class*="shatex"][class*="fromall"][class*="lg"] > *:active {
    text-shadow: var(--shatext-x-lg) var(--shatext-y-lg);
}