/****************************/
/********** BORDER **********/
/****************************/

/* Global */
/* Style */
/* Width */
/* Color */
/* Radius */


/******************/
/***** Global *****/
[class*="border"] {
    border-style: var(--border-style-global);
    border-width: var(--border-width-global);
}


/*****************/
/***** Style *****/
[class*="border"][class*="dashed"] {
    border-style: dashed;
}

[class*="border"][class*="dotted"] {
    border-style: dotted;
}

[class*="border"][class*="double"] {
    border-style: double;
}

[class*="border"][class*="groove"] {
    border-style: groove;
}

[class*="border"][class*="inset"] {
    border-style: inset;
}

[class*="border"][class*="outset"] {
    border-style: outset;
}

[class*="border"][class*="ridge"] {
    border-style: ridge;
}

[class*="border"][class*="solid"] {
    border-style: solid;
}


/*****************/
/***** Width *****/
[class*="border"][class*="sm"] {
    border-width: var(--border-width-sm);
}

[class*="border"][class*="md"] {
    border-width: var(--border-width-md);
}

[class*="border"][class*="lg"] {
    border-width: var(--border-width-lg);
}


/*****************/
/***** Color *****/
[class*="border"][class*="black"] {
    border-color: black;
}

[class*="border"][class*="blue"] {
    border-color: var(--blue);
}

[class*="border"][class*="brown"] {
    border-color: var(--blue);
}

[class*="border"][class*="gray"] {
    border-color: var(--gray);
}

[class*="border"][class*="grey"] {
    border-color: var(--grey);
}

[class*="border"][class*="green"] {
    border-color: var(--green);
}

[class*="border"][class*="orange"] {
    border-color: var(--orange);
}

[class*="border"][class*="red"] {
    border-color: var(--red);
}

[class*="border"][class*="violet"] {
    border-color: var(--violet);
}

[class*="border"][class*="white"] {
    border-color: var(--white);
}

[class*="border"][class*="yellow"] {
    border-color: var(--yellow);
}


/******************/
/***** Radius *****/
[class*="border"][class*="slight"] {
    border-radius: var(--border-radius-slight);
}

[class*="border"][class*="round"] {
    border-radius: var(--border-radius-round);
}

[class*="border"][class*="circle"] {
    border-radius: var(--border-radius-circle);
}

[class*="border"][class*="ellipse"] {
    border-radius: var(--border-radius-ellipse);
}