/***************************/
/********** COLOR **********/
/***************************/

/*
1. Black
2. Blue
3. Brown
4. Gray
5. Grey
6. Green
7. Orange
8. Red
9. Violet
10. White
11. Yellow
*/


/*****************/
/***** Black *****/
.black-text {
    color: black;
}

.black-box {
    background-color: black;
}


/****************/
/***** Blue *****/
.blue-text {
    color: var(--blue);
}

.blue-box {
    background-color: var(--blue);
}


/*****************/
/***** Brown *****/
.brown-text {
    color: var(--brown);
}

.brown-box {
    background-color: var(--brown);
}


/****************/
/***** Gray *****/
.gray-text {
    color: var(--gray);
}

.gray-box {
    background-color: var(--gray);
}


/****************/
/***** Grey *****/
.grey-text {
    color: var(--grey);
}

.grey-box {
    background-color: var(--grey);
}


/*****************/
/***** Green *****/
.green-text {
    color: var(--green);
}

.green-box {
    background-color: var(--green);
}


/****************/
/***** Orange *****/
.orange-text {
    color: var(--orange);
}

.orange-box {
    background-color: var(--orange);
}


/***************/
/***** Red *****/
.red-text {
    color: var(--red);
}

.red-box {
    background-color: var(--red);
}


/******************/
/***** Violet *****/
.violet-text {
    color: var(--violet);
}

.violet-box {
    background-color: var(--violet);
}


/*****************/
/***** White *****/
.white-text {
    color: var(--white);
}

.white-box {
    background-color: var(--white);
}


/****************/
/***** Yellow *****/
.yellow-text {
    color: var(--yellow);
}

.yellow-box {
    background-color: var(--yellow);
}