/****************************/
/********** SHADOW **********/
/****************************/

/*
1. Shabox
2. Shatext
*/


/******************/
/***** Shabox *****/
[class*="shabox"][class*="sm"] {
    box-shadow: var(--shabox-x-sm) var(--shabox-y-sm);
}

[class*="shabox"][class*="inset"][class*="sm"] {
    box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm);
}

[class*="shabox"][class*="md"] {
    box-shadow: var(--shabox-x-md) var(--shabox-y-md);
}

[class*="shabox"][class*="inset"][class*="md"] {
    box-shadow: inset var(--shabox-x-md) var(--shabox-y-md);
}

[class*="shabox"][class*="lg"] {
    box-shadow: var(--shabox-x-lg) var(--shabox-y-lg);
}

[class*="shabox"][class*="inset"][class*="lg"] {
    box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg);
}

/***** ShaBox Blur *****/
[class*="shabox"][class*="blur"] {
    box-shadow: 0 0 var(--shabox-blur-all);
}

[class*="shabox"][class*="inset"][class*="blur"] {
    box-shadow: inset 0 0 var(--shabox-blur-all);
}

[class*="shabox"][class*="blur"][class*="sm"] {
    box-shadow: var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class*="shabox"][class*="inset"][class*="blur"][class*="sm"] {
    box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm);
}

[class*="shabox"][class*="blur"][class*="md"] {
    box-shadow: var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class*="shabox"][class*="inset"][class*="blur"][class*="md"] {
    box-shadow: inset var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md);
}

[class*="shabox"][class*="blur"][class*="lg"] {
    box-shadow: var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}

[class*="shabox"][class*="inset"][class*="blur"][class*="lg"] {
    box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg);
}

/***** Shabox Spread *****/
[class*="shabox"][class*="spread"] {
    box-shadow: 0 0 var(--shabox-blur-all) var(--shabox-spread-all);
}

[class*="shabox"][class*="inset"][class*="spread"] {
    box-shadow: inset 0 0 var(--shabox-blur-all) var(--shabox-spread-all);
}

[class*="shabox"][class*="spread"][class*="sm"] {
    box-shadow: var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm) var(--shabox-spread-sm);
}

[class*="shabox"][class*="inset"][class*="spread"][class*="sm"] {
    box-shadow: inset var(--shabox-x-sm) var(--shabox-y-sm) var(--shabox-blur-sm) var(--shabox-spread-sm);
}

[class*="shabox"][class*="spread"][class*="md"] {
    box-shadow: var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md) var(--shabox-spread-md);
}

[class*="shabox"][class*="inset"][class*="spread"][class*="md"] {
    box-shadow: inset var(--shabox-x-md) var(--shabox-y-md) var(--shabox-blur-md) var(--shabox-spread-md);
}

[class*="shabox"][class*="spread"][class*="lg"] {
    box-shadow: var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg) var(--shabox-spread-lg);
}

[class*="shabox"][class*="inset"][class*="spread"][class*="lg"] {
    box-shadow: inset var(--shabox-x-lg) var(--shabox-y-lg) var(--shabox-blur-lg) var(--shabox-spread-lg);
}


/*******************/
/***** Shatext *****/
[class*="shatext"][class*="sm"] {
    text-shadow: var(--shatext-x-sm) var(--shatext-y-sm);
}

[class*="shatext"][class*="md"] {
    text-shadow: var(--shatext-x-md) var(--shatext-y-md);
}

[class*="shatext"][class*="lg"] {
    text-shadow: var(--shatext-x-lg) var(--shatext-y-lg);
}

/***** Shatext Blur *****/
[class*="shatext"][class*="blur"] {
    text-shadow: 0 0 var(--shatext-blur-all);
}

[class*="shatext"][class*="blur"][class*="sm"] {
    text-shadow: var(--shatext-x-sm) var(--shatext-y-sm) var(--shatext-blur-sm);
}

[class*="shatext"][class*="blur"][class*="md"] {
    text-shadow: var(--shatext-x-md) var(--shatext-y-md) var(--shatext-blur-md);
}

[class*="shatext"][class*="blur"][class*="lg"] {
    text-shadow: var(--shatext-x-lg) var(--shatext-y-lg) var(--shatext-blur-lg);
}
