/****************************/
/********** SHADOW **********/
/****************************/

/* Box */
/* Box Blur */
/* Box Spread */
/* Text */
/* Text Blur */


/***************/
/***** Box *****/
[class*="shadow"][class*="sm"] {
    box-shadow: var(--shadow-x-sm) var(--shadow-y-sm);
}

[class*="shadow"][class*="inset"][class*="sm"] {
    box-shadow: inset var(--shadow-x-sm) var(--shadow-y-sm);
}

[class*="shadow"][class*="md"] {
    box-shadow: var(--shadow-x-md) var(--shadow-y-md);
}

[class*="shadow"][class*="inset"][class*="md"] {
    box-shadow: inset var(--shadow-x-md) var(--shadow-y-md);
}

[class*="shadow"][class*="lg"] {
    box-shadow: var(--shadow-x-lg) var(--shadow-y-lg);
}

[class*="shadow"][class*="inset"][class*="lg"] {
    box-shadow: inset var(--shadow-x-lg) var(--shadow-y-lg);
}


/********************/
/***** Box Blur *****/
[class*="shadow"][class*="blur"] {
    box-shadow: 0 0 var(--shadow-blur-all);
}

[class*="shadow"][class*="inset"][class*="blur"] {
    box-shadow: inset 0 0 var(--shadow-blur-all);
}

[class*="shadow"][class*="blur"][class*="sm"] {
    box-shadow: var(--shadow-x-sm) var(--shadow-y-sm) var(--shadow-blur-sm);
}

[class*="shadow"][class*="inset"][class*="blur"][class*="sm"] {
    box-shadow: inset var(--shadow-x-sm) var(--shadow-y-sm) var(--shadow-blur-sm);
}

[class*="shadow"][class*="blur"][class*="md"] {
    box-shadow: var(--shadow-x-md) var(--shadow-y-md) var(--shadow-blur-md);
}

[class*="shadow"][class*="inset"][class*="blur"][class*="md"] {
    box-shadow: inset var(--shadow-x-md) var(--shadow-y-md) var(--shadow-blur-md);
}

[class*="shadow"][class*="blur"][class*="lg"] {
    box-shadow: var(--shadow-x-lg) var(--shadow-y-lg) var(--shadow-blur-lg);
}

[class*="shadow"][class*="inset"][class*="blur"][class*="lg"] {
    box-shadow: inset var(--shadow-x-lg) var(--shadow-y-lg) var(--shadow-blur-lg);
}


/**********************/
/***** Box Spread *****/
[class*="shadow"][class*="spread"] {
    box-shadow: 0 0 var(--shadow-blur-all) var(--shadow-spread-all);
}

[class*="shadow"][class*="inset"][class*="spread"] {
    box-shadow: inset 0 0 var(--shadow-blur-all) var(--shadow-spread-all);
}

[class*="shadow"][class*="spread"][class*="sm"] {
    box-shadow: var(--shadow-x-sm) var(--shadow-y-sm) var(--shadow-blur-sm) var(--shadow-spread-sm);
}

[class*="shadow"][class*="inset"][class*="spread"][class*="sm"] {
    box-shadow: inset var(--shadow-x-sm) var(--shadow-y-sm) var(--shadow-blur-sm) var(--shadow-spread-sm);
}

[class*="shadow"][class*="spread"][class*="md"] {
    box-shadow: var(--shadow-x-md) var(--shadow-y-md) var(--shadow-blur-md) var(--shadow-spread-md);
}

[class*="shadow"][class*="inset"][class*="spread"][class*="md"] {
    box-shadow: inset var(--shadow-x-md) var(--shadow-y-md) var(--shadow-blur-md) var(--shadow-spread-md);
}

[class*="shadow"][class*="spread"][class*="lg"] {
    box-shadow: var(--shadow-x-lg) var(--shadow-y-lg) var(--shadow-blur-lg) var(--shadow-spread-lg);
}

[class*="shadow"][class*="inset"][class*="spread"][class*="lg"] {
    box-shadow: inset var(--shadow-x-lg) var(--shadow-y-lg) var(--shadow-blur-lg) var(--shadow-spread-lg);
}


/****************/
/***** Text *****/
[class*="text"][class*="sm"] {
    text-shadow: var(--shadow-x-sm) var(--shadow-y-sm);
}

[class*="text"][class*="md"] {
    text-shadow: var(--shadow-x-md) var(--shadow-y-md);
}

[class*="text"][class*="lg"] {
    text-shadow: var(--shadow-x-lg) var(--shadow-y-lg);
}

