/***********************************/
/********** SIZE HELPERS ***********/
/***********************************/

/* Height */
/* Width */


/**************************/
/***** Height Helpers *****/
.height-sm,
.g-height-sm > * {
    height: var(--height-sm);
}

.height-md,
.g-height-md > * {
    height: var(--height-md);
}

.height-lg,
.g-height-lg > * {
    height: var(--height-lg);
}

/***** Min Height Helpers *****/
.min-height-sm,
.g-min-height-sm > * {
    min-height: var(--min-height-sm);
}

.min-height-md,
.g-min-height-md > * {
    min-height: var(--min-height-md);
}

.min-height-lg,
.g-min-height-lg > * {
    min-height: var(--min-height-lg);
}

/***** Max Height Helpers *****/
.max-height-sm,
.g-max-height-sm > * {
    max-height: var(--max-height-sm);
}

.max-height-md,
.g-max-height-md > * {
    max-height: var(--max-height-md);
}

.max-height-lg,
.g-max-height-lg > * {
    max-height: var(--max-height-lg);
}


/*************************/
/***** Width Helpers *****/
.width-sm,
.g-width-sm > * {
    width: var(--width-sm);
}

.width-md,
.g-width-md > * {
    width: var(--width-md);
}

.width-lg,
.g-width-lg > * {
    width: var(--width-lg);
}

/***** Min Width Helpers *****/
.min-width-sm,
.g-min-width-sm > * {
    min-width: var(--min-width-sm);
}

.min-width-md,
.g-min-width-md > * {
    min-width: var(--min-width-md);
}

.min-width-lg,
.g-min-width-lg > * {
    min-width: var(--min-width-lg);
}

/***** Max Width Helpers *****/
.max-width-sm,
.g-max-width-sm > * {
    max-width: var(--max-width-sm);
}

.max-width-md,
.g-max-width-md > * {
    max-width: var(--max-width-md);
}

.max-width-lg,
.g-max-width-lg > * {
    max-width: var(--max-width-lg);
}