/**************************************/
/********** SPACING HELPERS ***********/
/**************************************/

/* Margin */
/* Padding */


/******************/
/***** Margin *****/
.margin-sm,
.g-margin-sm > * {
    margin: var(--margin-sm);
}

.margin-md,
.g-margin-md > * {
    margin: var(--margin-md);
}

.margin-lg,
.g-margin-lg > * {
    margin: var(--margin-lg);
}

/***** Margin Top *****/
.margin-top-sm,
.g-margin-top-sm > * {
    margin-top: var(--margin-top-sm);
}

.margin-top-md,
.g-margin-top-md > * {
    margin-top: var(--margin-top-md);
}

.margin-top-lg,
.g-margin-top-lg > * {
    margin-top: var(--margin-top-lg);
}

/***** Margin Right *****/
.margin-right-sm,
.g-margin-right-sm > * {
    margin-right: var(--margin-right-sm);
}

.margin-right-md,
.g-margin-right-md > * {
    margin-right: var(--margin-right-md);
}

.margin-right-lg,
.g-margin-right-lg > * {
    margin-right: var(--margin-right-lg);
}

/***** Margin Bottom *****/
.margin-bottom-sm,
.g-margin-bottom-sm > * {
    margin-bottom: var(--margin-bottom-sm);
}

.margin-bottom-md,
.g-margin-bottom-md > * {
    margin-bottom: var(--margin-bottom-md);
}

.margin-bottom-lg,
.g-margin-bottom-lg > * {
    margin-bottom: var(--margin-bottom-lg);
}

/***** Margin Left *****/
.margin-left-sm,
.g-margin-left-sm > * {
    margin-left: var(--margin-left-sm);
}

.margin-left-md,
.g-margin-left-md > * {
    margin-left: var(--margin-left-md);
}

.margin-left-lg,
.g-margin-left-lg > * {
    margin-left: var(--margin-left-lg);
}


/*******************/
/***** Padding *****/
.padding-sm,
.g-padding-sm > * {
    padding: var(--padding-sm);
}

.padding-md,
.g-padding-md > * {
    padding: var(--padding-md);
}

.padding-lg,
.g-padding-lg > * {
    padding: var(--padding-lg);
}

/***** Padding Top *****/
.padding-top-sm,
.g-padding-top-sm > * {
    padding-top: var(--padding-top-sm);
}

.padding-top-md,
.g-padding-top-md > * {
    padding-top: var(--padding-top-md);
}

.padding-top-lg,
.g-padding-top-lg > * {
    padding-top: var(--padding-top-lg);
}

/***** Padding Right *****/
.padding-right-sm,
.g-padding-right-sm > * {
    padding-right: var(--padding-right-sm);
}

.padding-right-md,
.g-padding-right-md > * {
    padding-right: var(--padding-right-md);
}

.padding-right-lg,
.g-padding-right-lg > * {
    padding-right: var(--padding-right-lg);
}

/***** Padding Bottom *****/
.padding-bottom-sm,
.g-padding-bottom-sm > * {
    padding-bottom: var(--padding-bottom-sm);
}

.padding-bottom-md,
.g-padding-bottom-md > * {
    padding-bottom: var(--padding-bottom-md);
}

.padding-bottom-lg,
.g-padding-bottom-lg > * {
    padding-bottom: var(--padding-bottom-lg);
}

/***** Padding Left *****/
.padding-left-sm,
.g-padding-left-sm > * {
    padding-left: var(--padding-left-sm);
}

.padding-left-md,
.g-padding-left-md > * {
    padding-left: var(--padding-left-md);
}

.padding-left-lg,
.g-padding-left-lg > * {
    padding-left: var(--padding-left-lg);
}