/**************************************/
/********** SPACING HELPERS ***********/
/**************************************/

/*
1. Margin
2. Padding
*/


/******************/
/***** Margin *****/
.mar-sm,
.g-mar-sm > * {
    margin: var(--mar-sm);
}

.mar-md,
.g-mar-md > * {
    margin: var(--mar-md);
}

.mar-lg,
.g-mar-lg > * {
    margin: var(--mar-lg);
}

/***** Margin Top *****/
.mar-top-sm,
.g-mar-top-sm > * {
    margin-top: var(--mar-top-sm);
}

.mar-top-md,
.g-mar-top-md > * {
    margin-top: var(--mar-top-md);
}

.mar-top-lg,
.g-mar-top-lg > * {
    margin-top: var(--mar-top-lg);
}

/***** Margin Right *****/
.mar-right-sm,
.g-mar-right-sm > * {
    margin-right: var(--mar-right-sm);
}

.mar-right-md,
.g-mar-right-md > * {
    margin-right: var(--mar-right-md);
}

.mar-right-lg,
.g-mar-right-lg > * {
    margin-right: var(--mar-right-lg);
}

/***** Margin Bottom *****/
.mar-bottom-sm,
.g-mar-bottom-sm > * {
    margin-bottom: var(--mar-bottom-sm);
}

.mar-bottom-md,
.g-mar-bottom-md > * {
    margin-bottom: var(--mar-bottom-md);
}

.mar-bottom-lg,
.g-mar-bottom-lg > * {
    margin-bottom: var(--mar-bottom-lg);
}

/***** Margin Left *****/
.mar-left-sm,
.g-mar-left-sm > * {
    margin-left: var(--mar-left-sm);
}

.mar-left-md,
.g-mar-left-md > * {
    margin-left: var(--mar-left-md);
}

.mar-left-lg,
.g-mar-left-lg > * {
    margin-left: var(--mar-left-lg);
}


/*******************/
/***** Padding *****/
.pad-sm,
.g-pad-sm > * {
    padding: var(--pad-sm);
}

.pad-md,
.g-pad-md > * {
    padding: var(--pad-md);
}

.pad-lg,
.g-pad-lg > * {
    padding: var(--pad-lg);
}

/***** Padding Top *****/
.pad-top-sm,
.g-pad-top-sm > * {
    padding-top: var(--pad-top-sm);
}

.pad-top-md,
.g-pad-top-md > * {
    padding-top: var(--pad-top-md);
}

.pad-top-lg,
.g-pad-top-lg > * {
    padding-top: var(--pad-top-lg);
}

/***** Padding Right *****/
.pad-right-sm,
.g-pad-right-sm > * {
    padding-right: var(--pad-right-sm);
}

.pad-right-md,
.g-pad-right-md > * {
    padding-right: var(--pad-right-md);
}

.pad-right-lg,
.g-pad-right-lg > * {
    padding-right: var(--pad-right-lg);
}

/***** Padding Bottom *****/
.pad-bottom-sm,
.g-pad-bottom-sm > * {
    padding-bottom: var(--pad-bottom-sm);
}

.pad-bottom-md,
.g-pad-bottom-md > * {
    padding-bottom: var(--pad-bottom-md);
}

.pad-bottom-lg,
.g-pad-bottom-lg > * {
    padding-bottom: var(--pad-bottom-lg);
}

/***** Padding Left *****/
.pad-left-sm,
.g-pad-left-sm > * {
    padding-left: var(--pad-left-sm);
}

.pad-left-md,
.g-pad-left-md > * {
    padding-left: var(--pad-left-md);
}

.pad-left-lg,
.g-pad-left-lg > * {
    padding-left: var(--pad-left-lg);
}