/******************** ALIGN ********************/

/*
1. ALIGN CONTENT
  1.1 Align Content XS
  1.2 Align Content SM
  1.3 Align Content MD
  1.4 Align Content LG
  1.5 Align Content XL
2. ALIGN ITEMS
  2.1 Align Items XS
  2.2 Align Items SM
  2.3 Align Items MD
  2.4 Align Items LG
  2.5 Align Items XL
3. ALIGN SELF
  3.1 Align Self XS
  3.2 Align Self SM
  3.3 Align Self MD
  3.4 Align Self LG
  3.5 Align Self XL
*/

/********** 1. ALIGN CONTENT **********/

/*
1.1 Align Content XS
1.2 Align Content SM
1.3 Align Content MD
1.4 Align Content LG
1.5 Align Content XL
*/

/***** 1.1 Align Content XS *****/
[class*="alco-"][class*="-around-xs"] {
  align-content: space-around;
}

[class*="alco-"][class*="-base-xs"] {
  align-content: var(--align-content-base);
}

[class*="alco-"][class*="-between-xs"] {
  align-content: space-between;
}

[class*="alco-"][class*="-center-xs"] {
  align-content: center;
}

[class*="alco-"][class*="-end-xs"] {
  align-content: var(--align-content-end);
}

[class*="alco-"][class*="-evenly-xs"] {
  align-content: space-evenly;
}

[class*="alco-"][class*="-start-xs"] {
  align-content: var(--align-content-start);
}

[class*="alco-"][class*="-stretch-xs"] {
  align-content: stretch;
}

/***** 1.2 Align Content SM *****/
@media (min-width: 576px) {
  [class*="alco-"][class*="-around-sm"] {
    align-content: space-around;
  }

  [class*="alco-"][class*="-base-sm"] {
    align-content: var(--align-content-base);
  }

  [class*="alco-"][class*="-between-sm"] {
    align-content: space-between;
  }

  [class*="alco-"][class*="-center-sm"] {
    align-content: center;
  }

  [class*="alco-"][class*="-end-sm"] {
    align-content: var(--align-content-end);
  }

  [class*="alco-"][class*="-evenly-sm"] {
    align-content: space-evenly;
  }

  [class*="alco-"][class*="-start-sm"] {
    align-content: var(--align-content-start);
  }

  [class*="alco-"][class*="-stretch-sm"] {
    align-content: stretch;
  }
}

/***** 1.3 Align Content MD *****/
@media (min-width: 768px) {
  [class*="alco-"][class*="-around-md"] {
    align-content: space-around;
  }

  [class*="alco-"][class*="-base-md"] {
    align-content: var(--align-content-base);
  }

  [class*="alco-"][class*="-between-md"] {
    align-content: space-between;
  }

  [class*="alco-"][class*="-center-md"] {
    align-content: center;
  }

  [class*="alco-"][class*="-end-md"] {
    align-content: var(--align-content-end);
  }

  [class*="alco-"][class*="-evenly-md"] {
    align-content: space-evenly;
  }

  [class*="alco-"][class*="-start-md"] {
    align-content: var(--align-content-start);
  }

  [class*="alco-"][class*="-stretch-md"] {
    align-content: stretch;
  }
}

/***** 1.4 Align Content LG *****/
@media (min-width: 992px) {
  [class*="alco-"][class*="-around-lg"] {
    align-content: space-around;
  }

  [class*="alco-"][class*="-base-lg"] {
    align-content: var(--align-content-base);
  }

  [class*="alco-"][class*="-between-lg"] {
    align-content: space-between;
  }

  [class*="alco-"][class*="-center-lg"] {
    align-content: center;
  }

  [class*="alco-"][class*="-end-lg"] {
    align-content: var(--align-content-end);
  }

  [class*="alco-"][class*="-evenly-lg"] {
    align-content: space-evenly;
  }

  [class*="alco-"][class*="-start-lg"] {
    align-content: var(--align-content-start);
  }

  [class*="alco-"][class*="-stretch-lg"] {
    align-content: stretch;
  }
}

/***** 1.5 Align Content XL *****/
@media (min-width: 1200px) {
  [class*="alco-"][class*="-around-xl"] {
    align-content: space-around;
  }

  [class*="alco-"][class*="-base-xl"] {
    align-content: var(--align-content-base);
  }

  [class*="alco-"][class*="-between-xl"] {
    align-content: space-between;
  }

  [class*="alco-"][class*="-center-xl"] {
    align-content: center;
  }

  [class*="alco-"][class*="-end-xl"] {
    align-content: var(--align-content-end);
  }

  [class*="alco-"][class*="-evenly-xl"] {
    align-content: space-evenly;
  }

  [class*="alco-"][class*="-start-xl"] {
    align-content: var(--align-content-start);
  }

  [class*="alco-"][class*="-stretch-xl"] {
    align-content: stretch;
  }
}

/********** 2. ALIGN ITEMS **********/

/*
2.1 Align Items XS
2.2 Align Items SM
2.3 Align Items MD
2.4 Align Items LG
2.5 Align Items XL
*/

/***** 2.1 Align Items XS *****/
[class*="alit-"][class*="-base-xs"] {
  align-items: var(--align-items-base);
}

[class*="alit-"][class*="-center-xs"] {
  align-items: center;
}

[class*="alit-"][class*="-end-xs"] {
  align-items: var(--align-items-end);
}

[class*="alit-"][class*="-start-xs"] {
  align-items: var(--align-items-start);
}

[class*="alit-"][class*="-stretch-xs"] {
  align-items: stretch;
}

/***** 2.2 Align Items SM *****/
@media (min-width: 576px) {
  [class*="alit-"][class*="-base-sm"] {
    align-items: var(--align-items-base);
  }

  [class*="alit-"][class*="-center-sm"] {
    align-items: center;
  }

  [class*="alit-"][class*="-end-sm"] {
    align-items: var(--align-items-end);
  }

  [class*="alit-"][class*="-start-sm"] {
    align-items: var(--align-items-start);
  }

  [class*="alit-"][class*="-stretch-sm"] {
    align-items: stretch;
  }
}

/***** 2.3 Align Items MD *****/
@media (min-width: 768px) {
  [class*="alit-"][class*="-base-md"] {
    align-items: var(--align-items-base);
  }

  [class*="alit-"][class*="-center-md"] {
    align-items: center;
  }

  [class*="alit-"][class*="-end-md"] {
    align-items: var(--align-items-end);
  }

  [class*="alit-"][class*="-start-md"] {
    align-items: var(--align-items-start);
  }

  [class*="alit-"][class*="-stretch-md"] {
    align-items: stretch;
  }
}

/***** 2.4 Align Items LG *****/
@media (min-width: 992px) {
  [class*="alit-"][class*="-base-lg"] {
    align-items: var(--align-items-base);
  }

  [class*="alit-"][class*="-center-lg"] {
    align-items: center;
  }

  [class*="alit-"][class*="-end-lg"] {
    align-items: var(--align-items-end);
  }

  [class*="alit-"][class*="-start-lg"] {
    align-items: var(--align-items-start);
  }

  [class*="alit-"][class*="-stretch-lg"] {
    align-items: stretch;
  }
}

/***** 2.5 Align Items XL *****/
@media (min-width: 1200px) {
  [class*="alit-"][class*="-base-xl"] {
    align-items: var(--align-items-base);
  }

  [class*="alit-"][class*="-center-xl"] {
    align-items: center;
  }

  [class*="alit-"][class*="-end-xl"] {
    align-items: var(--align-items-end);
  }

  [class*="alit-"][class*="-start-xl"] {
    align-items: var(--align-items-start);
  }

  [class*="alit-"][class*="-stretch-xl"] {
    align-items: stretch;
  }
}

/********** 3. ALIGN SELF **********/

/*
3.1 Align Self XS
3.2 Align Self SM
3.3 Align Self MD
3.4 Align Self LG
3.5 Align Self XL
*/

/***** 3.1 Align Self XS *****/
[class*="alse-"][class*="-base-xs"] {
  align-self: var(--align-self-base);
}

[class*="alse-"][class*="-center-xs"] {
  align-self: center;
}

[class*="alse-"][class*="-end-xs"] {
  align-self: var(--align-self-end);
}

[class*="alse-"][class*="-start-xs"] {
  align-self: var(--align-self-start);
}

[class*="alse-"][class*="-stretch-xs"] {
  align-self: stretch;
}

/***** 3.2 Align Self SM *****/
@media (min-width: 576px) {
  [class*="alse-"][class*="-base-sm"] {
    align-self: var(--align-self-base);
  }

  [class*="alse-"][class*="-center-sm"] {
    align-self: center;
  }

  [class*="alse-"][class*="-end-sm"] {
    align-self: var(--align-self-end);
  }

  [class*="alse-"][class*="-start-sm"] {
    align-self: var(--align-self-start);
  }

  [class*="alse-"][class*="-stretch-sm"] {
    align-self: stretch;
  }
}

/***** 3.3 Align Self MD *****/
@media (min-width: 768px) {
  [class*="alse-"][class*="-base-md"] {
    align-self: var(--align-self-base);
  }

  [class*="alse-"][class*="-center-md"] {
    align-self: center;
  }

  [class*="alse-"][class*="-end-md"] {
    align-self: var(--align-self-end);
  }

  [class*="alse-"][class*="-start-md"] {
    align-self: var(--align-self-start);
  }

  [class*="alse-"][class*="-stretch-md"] {
    align-self: stretch;
  }
}

/***** 3.4 Align Self LG *****/
@media (min-width: 992px) {
  [class*="alse-"][class*="-base-lg"] {
    align-self: var(--align-self-base);
  }

  [class*="alse-"][class*="-center-lg"] {
    align-self: center;
  }

  [class*="alse-"][class*="-end-lg"] {
    align-self: var(--align-self-end);
  }

  [class*="alse-"][class*="-start-lg"] {
    align-self: var(--align-self-start);
  }

  [class*="alse-"][class*="-stretch-lg"] {
    align-self: stretch;
  }
}

/***** 3.5 Align Self XL *****/
@media (min-width: 1200px) {
  [class*="alse-"][class*="-base-xl"] {
    align-self: var(--align-self-base);
  }

  [class*="alse-"][class*="-center-xl"] {
    align-self: center;
  }

  [class*="alse-"][class*="-end-xl"] {
    align-self: var(--align-self-end);
  }

  [class*="alse-"][class*="-start-xl"] {
    align-self: var(--align-self-start);
  }

  [class*="alse-"][class*="-stretch-xl"] {
    align-self: stretch;
  }
}

