/********** DISPLAY **********/

/*
1 - Display Block
2 - Display Hide
3 - Display Inline
4 - Display Inblock
*/

/***** 1 - Display Block *****/
.block {
  display: block;
}

@media (min-width: 576px) {
  .block-sm {
    display: block;
  }
}

@media (min-width: 768px) {
  .block-md {
    display: block;
  }
}

@media (min-width: 992px) {
  .block-lg {
    display: block;
  }
}

@media (min-width: 1200px) {
  .block-xl {
    display: block;
  }
}

/***** 2 - Display None *****/
.hide {
  display: none;
}

@media (min-width: 576px) {
  .hide-sm {
    display: none;
  }
}

@media (min-width: 768px) {
  .hide-md {
    display: none;
  }
}

@media (min-width: 992px) {
  .hide-lg {
    display: none;
  }
}

@media (min-width: 1200px) {
  .hide-xl {
    display: none;
  }
}

/***** 3 - Display Inline *****/
.inline {
  display: inline;
}

@media (min-width: 576px) {
  .inline-sm {
    display: inline;
  }
}

@media (min-width: 768px) {
  .inline-md {
    display: inline;
  }
}

@media (min-width: 992px) {
  .inline-lg {
    display: inline;
  }
}

@media (min-width: 1200px) {
  .inline-xl {
    display: inline;
  }
}

/***** 4 - Display Inblock *****/
.inblock {
  display: inline-block;
}

@media (min-width: 576px) {
  .inblock-sm {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  .inblock-md {
    display: inline-block;
  }
}

@media (min-width: 992px) {
  .inblock-lg {
    display: inline-block;
  }
}

@media (min-width: 1200px) {
  .inblock-xl {
    display: inline-block;
  }
}
