/********** FLEX **********/

/*
1 - Flex Global
2 - Column & Row
3 - Flex
*/

/***** 1 - Flex Global *****/
[class*="flex"],
[class*="column"],
[class*="row"] {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/***** 2 - Column & Row *****/

[class*="column"] {
  flex-direction: column;
  padding: var(--column-padding);
}

[class*="row"] {
  flex-direction: row;
  padding: var(--row-padding);
}

[class*="column-"][class*="-reverse"] {
  flex-direction: column-reverse;
}

[class*="row-"][class*="-reverse"] {
  flex-direction: row-reverse;
}

[class*="column-"][class*="-nowrap"],
[class*="row-"][class*="-nowrap"] {
  flex-wrap: nowrap;
}

[class*="column-"][class*="-inverse"],
[class*="row-"][class*="-inverse"] {
  flex-wrap: wrap-reverse;
}

/***** 3 - Flex *****/
[class*="flex-"][class*="-2xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-2xs"] > * {
  width: calc(100% / 2 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-3xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-3xs"] > * {
  width: calc(100% / 3 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-4xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-4xs"] > * {
  width: calc(100% / 4 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-5xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-5xs"] > * {
  width: calc(100% / 5 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-6xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-6xs"] > * {
  width: calc(100% / 6 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-7xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-7xs"] > * {
  width: calc(100% / 7 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-8xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-8xs"] > * {
  width: calc(100% / 8 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-9xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-9xs"] > * {
  width: calc(100% / 9 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-10xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-10xs"] > * {
  width: calc(100% / 10 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-11xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-11xs"] > * {
  width: calc(100% / 11 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

[class*="flex-"][class*="-12xs"] {
  margin: var(--flex-negative-margin-xs);
}

[class*="flex-"][class*="-12xs"] > * {
  width: calc(100% / 12 - var(--flex-width-xs));
  margin: var(--flex-positive-margin-xs);
}

@media (min-width: 576px) {
  [class*="flex-"][class*="-2sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-2sm"] > * {
    width: calc(100% / 2 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-3sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-3sm"] > * {
    width: calc(100% / 3 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-4sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-4sm"] > * {
    width: calc(100% / 4 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-5sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-5sm"] > * {
    width: calc(100% / 5 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-6sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-6sm"] > * {
    width: calc(100% / 6 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-7sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-7sm"] > * {
    width: calc(100% / 7 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-8sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-8sm"] > * {
    width: calc(100% / 8 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-9sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-9sm"] > * {
    width: calc(100% / 9 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-10sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-10sm"] > * {
    width: calc(100% / 10 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-11sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-11sm"] > * {
    width: calc(100% / 11 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }

  [class*="flex-"][class*="-12sm"] {
    margin: var(--flex-negative-margin-sm);
  }

  [class*="flex-"][class*="-12sm"] > * {
    width: calc(100% / 12 - var(--flex-width-sm));
    margin: var(--flex-positive-margin-sm);
  }
}

@media (min-width: 768px) {
  [class*="flex-"][class*="-2md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-2md"] > * {
    width: calc(100% / 2 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-3md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-3md"] > * {
    width: calc(100% / 3 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-4md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-4md"] > * {
    width: calc(100% / 4 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-5md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-5md"] > * {
    width: calc(100% / 5 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-6md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-6md"] > * {
    width: calc(100% / 6 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-7md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-7md"] > * {
    width: calc(100% / 7 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-8md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-8md"] > * {
    width: calc(100% / 8 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-9md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-9md"] > * {
    width: calc(100% / 9 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-10md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-10md"] > * {
    width: calc(100% / 10 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-11md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-11md"] > * {
    width: calc(100% / 11 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }

  [class*="flex-"][class*="-12md"] {
    margin: var(--flex-negative-margin-md);
  }

  [class*="flex-"][class*="-12md"] > * {
    width: calc(100% / 12 - var(--flex-width-md));
    margin: var(--flex-positive-margin-md);
  }
}

@media (min-width: 992px) {
  [class*="flex-"][class*="-2lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-2lg"] > * {
    width: calc(100% / 2 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-3lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-3lg"] > * {
    width: calc(100% / 3 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-4lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-4lg"] > * {
    width: calc(100% / 4 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-5lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-5lg"] > * {
    width: calc(100% / 5 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-6lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-6lg"] > * {
    width: calc(100% / 6 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-7lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-7lg"] > * {
    width: calc(100% / 7 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-8lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-8lg"] > * {
    width: calc(100% / 8 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-9lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-9lg"] > * {
    width: calc(100% / 9 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-10lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-10lg"] > * {
    width: calc(100% / 10 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-11lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-11lg"] > * {
    width: calc(100% / 11 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }

  [class*="flex-"][class*="-12lg"] {
    margin: var(--flex-negative-margin-lg);
  }

  [class*="flex-"][class*="-12lg"] > * {
    width: calc(100% / 12 - var(--flex-width-lg));
    margin: var(--flex-positive-margin-lg);
  }
}

@media (min-width: 1200px) {
  [class*="flex-"][class*="-2xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-2xl"] > * {
    width: calc(100% / 2 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-3xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-3xl"] > * {
    width: calc(100% / 3 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-4xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-4xl"] > * {
    width: calc(100% / 4 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-5xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-5xl"] > * {
    width: calc(100% / 5 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-6xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-6xl"] > * {
    width: calc(100% / 6 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-7xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-7xl"] > * {
    width: calc(100% / 7 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-8xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-8xl"] > * {
    width: calc(100% / 8 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-9xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-9xl"] > * {
    width: calc(100% / 9 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-10xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-10xl"] > * {
    width: calc(100% / 10 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-11xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-11xl"] > * {
    width: calc(100% / 11 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }

  [class*="flex-"][class*="-12xl"] {
    margin: var(--flex-negative-margin-xl);
  }

  [class*="flex-"][class*="-12xl"] > * {
    width: calc(100% / 12 - var(--flex-width-xl));
    margin: var(--flex-positive-margin-xl);
  }
}
