/******************************/
/********** GRID GAP **********/
/******************************/


[class*="gap"][class*="1tn"] {
    grid-gap: var(--gap-1tn);
}

[class*="gap"][class*="2tn"] {
    grid-gap: var(--gap-2tn);
}

[class*="gap"][class*="3tn"] {
     grid-gap: var(--gap-3tn);
 }

/***** Mobile Landscape *****/
@media (min-width: 576px) {
    [class*="gap"][class*="1sm"] {
        grid-gap: var(--gap-1sm);
    }

    [class*="gap"][class*="2sm"] {
        grid-gap: var(--gap-2sm);
    }

    [class*="gap"][class*="3sm"] {
        grid-gap: var(--gap-3sm);
    }
}

/***** Tablet Portrait *****/
@media (min-width: 768px) {
    [class*="gap"][class*="1md"] {
        grid-gap: var(--gap-1md);
    }

    [class*="gap"][class*="2md"] {
        grid-gap: var(--gap-2md);
    }

    [class*="gap"][class*="3md"] {
        grid-gap: var(--gap-3md);
    }
}

/***** Tablet Landscape *****/
@media (min-width: 992px) {
    [class*="gap"][class*="1lg"] {
        grid-gap: var(--gap-1lg);
    }

    [class*="gap"][class*="2lg"] {
        grid-gap: var(--gap-2lg);
    }

    [class*="gap"][class*="3lg"] {
        grid-gap: var(--gap-3lg);
    }
}

/***** Desktop *****/
@media (min-width: 1200px) {
    [class*="gap"][class*="1wd"] {
        grid-gap: var(--gap-1wd);
    }

    [class*="gap"][class*="2wd"] {
        grid-gap: var(--gap-2wd);
    }

    [class*="gap"][class*="3wd"] {
        grid-gap: var(--gap-3wd);
    }
}