/*****************************/
/********** GRID LG **********/
/*****************************/


@media (min-width: 992px) {
    [class*="grid"][class*="2lg"],
    [class*="fluid"][class*="2lg"] {
        grid-template: auto/repeat(2, auto);
    }

    [class*="grid"][class*="3lg"],
    [class*="fluid"][class*="3lg"] {
        grid-template: auto/repeat(3, auto);
    }

    [class*="grid"][class*="4lg"],
    [class*="fluid"][class*="4lg"] {
        grid-template: auto/repeat(4, auto);
    }

    [class*="grid"][class*="5lg"],
    [class*="fluid"][class*="5lg"] {
        grid-template: auto/repeat(5, auto);
    }

    [class*="grid"][class*="6lg"],
    [class*="fluid"][class*="6lg"] {
        grid-template: auto/repeat(6, auto);
    }

    [class*="grid"][class*="7lg"],
    [class*="fluid"][class*="7lg"] {
        grid-template: auto/repeat(7, auto);
    }

    [class*="grid"][class*="8lg"],
    [class*="fluid"][class*="8lg"] {
        grid-template: auto/repeat(8, auto);
    }

    [class*="grid"][class*="9lg"],
    [class*="fluid"][class*="9lg"] {
        grid-template: auto/repeat(9, auto);
    }

    [class*="grid"][class*="10lg"],
    [class*="fluid"][class*="10lg"] {
        grid-template: auto/repeat(10, auto);
    }

    [class*="grid"][class*="11lg"],
    [class*="fluid"][class*="11lg"] {
        grid-template: auto/repeat(11, auto);
    }

    [class*="grid"][class*="12lg"],
    [class*="fluid"][class*="12lg"] {
        grid-template: auto/repeat(12, auto);
    }
}