/******************** GRID ********************/

/*
1. GRID
  1. Grid & Fluid
2. GRID XS
  2.1 Grid & Fluid XS
  2.2 Grid Gap XS
3. GRID SM
  3.1 Grid & Fluid SM
  3.2 Grid Gap SM
4. GRID MD
  4.1 Grid & Fluid MD
  4.2 Grid Gap MD
5. GRID LG
  5.1 Grid & Fluid LG
  5.2 Grid Gap LG
6. GRID XL
  6.1 Grid & Fluid XL
  6.2 Grid Gap XL
*/

/********** 1. GRID **********/

/*
1.1 Grid & Fluid
*/

/***** Grid & Fluid *****/
[class*="grid"],
[class*="fluid"] {
  display: grid;
}

[class*="grid"] {
  margin: auto;
  max-width: 80%;
}

[class*="fluid"] {
  max-width: 100%;
}

/********** 2. GRID XS **********/

/*
2.1 Grid & Fluid XS
2.2 Grid Gap XS
*/

/***** 2.1 Grid & Fluid XS *****/
[class*="grid-"][class*="-2xs"],
[class*="fluid-"][class*="-2xs"] {
  grid-template: auto/repeat(2, auto);
}

[class*="grid-"][class*="-3xs"],
[class*="fluid-"][class*="-3xs"] {
  grid-template: auto/repeat(3, auto);
}

[class*="grid-"][class*="-4xs"],
[class*="fluid-"][class*="-4xs"] {
  grid-template: auto/repeat(4, auto);
}

[class*="grid-"][class*="-5xs"],
[class*="fluid-"][class*="-5xs"] {
  grid-template: auto/repeat(5, auto);
}

[class*="grid-"][class*="-6xs"],
[class*="fluid-"][class*="-6xs"] {
  grid-template: auto/repeat(6, auto);
}

[class*="grid-"][class*="-7xs"],
[class*="fluid-"][class*="-7xs"] {
  grid-template: auto/repeat(7, auto);
}

[class*="grid-"][class*="-8xs"],
[class*="fluid-"][class*="-8xs"] {
  grid-template: auto/repeat(8, auto);
}

[class*="grid-"][class*="-9xs"],
[class*="fluid-"][class*="-9xs"] {
  grid-template: auto/repeat(9, auto);
}

[class*="grid-"][class*="-10xs"],
[class*="fluid-"][class*="-10xs"] {
  grid-template: auto/repeat(10, auto);
}

[class*="grid-"][class*="-11xs"],
[class*="fluid-"][class*="-11xs"] {
  grid-template: auto/repeat(11, auto);
}

[class*="grid-"][class*="-12xs"],
[class*="fluid-"][class*="-12xs"] {
  grid-template: auto/repeat(12, auto);
}

/***** 2.2 Grid Gap XS *****/
.gap-1xs {
  grid-gap: var(--gap-1xs);
}

.gap-2xs {
  grid-gap: var(--gap-2xs);
}

.gap-3xs {
  grid-gap: var(--gap-3xs);
}

/********** 3. GRID SM **********/

/*
3.1 Grid & Fluid SM
3.2 Grid Gap SM
*/

/***** 3.1 Grid & Fluid SM *****/
@media (min-width: 576px) {
  [class*="grid-"][class*="-2sm"],
  [class*="fluid-"][class*="-2sm"] {
    grid-template: auto/repeat(2, auto);
  }

  [class*="grid-"][class*="-3sm"],
  [class*="fluid-"][class*="-3sm"] {
    grid-template: auto/repeat(3, auto);
  }

  [class*="grid-"][class*="-4sm"],
  [class*="fluid-"][class*="-4sm"] {
    grid-template: auto/repeat(4, auto);
  }

  [class*="grid-"][class*="-5sm"],
  [class*="fluid-"][class*="-5sm"] {
    grid-template: auto/repeat(5, auto);
  }

  [class*="grid-"][class*="-6sm"],
  [class*="fluid-"][class*="-6sm"] {
    grid-template: auto/repeat(6, auto);
  }

  [class*="grid-"][class*="-7sm"],
  [class*="fluid-"][class*="-7sm"] {
    grid-template: auto/repeat(7, auto);
  }

  [class*="grid-"][class*="-8sm"],
  [class*="fluid-"][class*="-8sm"] {
    grid-template: auto/repeat(8, auto);
  }

  [class*="grid-"][class*="-9sm"],
  [class*="fluid-"][class*="-9sm"] {
    grid-template: auto/repeat(9, auto);
  }

  [class*="grid-"][class*="-10sm"],
  [class*="fluid-"][class*="-10sm"] {
    grid-template: auto/repeat(10, auto);
  }

  [class*="grid-"][class*="-11sm"],
  [class*="fluid-"][class*="-11sm"] {
    grid-template: auto/repeat(11, auto);
  }

  [class*="grid-"][class*="-12sm"],
  [class*="fluid-"][class*="-12sm"] {
    grid-template: auto/repeat(12, auto);
  }
}

/***** 3.2 Grid Gap SM *****/
@media (min-width: 576px) {
  .gap-1sm {
    grid-gap: var(--gap-1sm);
  }

  .gap-2sm {
    grid-gap: var(--gap-2sm);
  }

  .gap-3sm {
    grid-gap: var(--gap-3sm);
  }
}

/********** 4. GRID MD **********/

/*
4.1 Grid & Fluid MD
4.2 Grid Gap MD
*/

/***** 4.1 Grid & Fluid MD *****/
@media (min-width: 768px) {
  [class*="grid-"][class*="-2md"],
  [class*="fluid-"][class*="-2md"] {
    grid-template: auto/repeat(2, auto);
  }

  [class*="grid-"][class*="-3md"],
  [class*="fluid-"][class*="-3md"] {
    grid-template: auto/repeat(3, auto);
  }

  [class*="grid-"][class*="-4md"],
  [class*="fluid-"][class*="-4md"] {
    grid-template: auto/repeat(4, auto);
  }

  [class*="grid-"][class*="-5md"],
  [class*="fluid-"][class*="-5md"] {
    grid-template: auto/repeat(5, auto);
  }

  [class*="grid-"][class*="-6md"],
  [class*="fluid-"][class*="-6md"] {
    grid-template: auto/repeat(6, auto);
  }

  [class*="grid-"][class*="-7md"],
  [class*="fluid-"][class*="-7md"] {
    grid-template: auto/repeat(7, auto);
  }

  [class*="grid-"][class*="-8md"],
  [class*="fluid-"][class*="-8md"] {
    grid-template: auto/repeat(8, auto);
  }

  [class*="grid-"][class*="-9md"],
  [class*="fluid-"][class*="-9md"] {
    grid-template: auto/repeat(9, auto);
  }

  [class*="grid-"][class*="-10md"],
  [class*="fluid-"][class*="-10md"] {
    grid-template: auto/repeat(10, auto);
  }

  [class*="grid-"][class*="-11md"],
  [class*="fluid-"][class*="-11md"] {
    grid-template: auto/repeat(11, auto);
  }

  [class*="grid-"][class*="-12md"],
  [class*="fluid-"][class*="-12md"] {
    grid-template: auto/repeat(12, auto);
  }
}

/***** 4.2 Grid Gap MD *****/
@media (min-width: 768px) {
  .gap-1md {
    grid-gap: var(--gap-1md);
  }

  .gap-2md {
    grid-gap: var(--gap-2md);
  }

  .gap-3md {
    grid-gap: var(--gap-3md);
  }
}

/********** 5. GRID LG **********/

/*
5.1 Grid & Fluid LG
5.2 Grid Gap LG
*/

/***** 5.1 Grid & Fluid LG *****/
@media (min-width: 992px) {
  [class*="grid-"][class*="-2lg"],
  [class*="fluid-"][class*="-2lg"] {
    grid-template: auto/repeat(2, auto);
  }

  [class*="grid-"][class*="-3lg"],
  [class*="fluid-"][class*="-3lg"] {
    grid-template: auto/repeat(3, auto);
  }

  [class*="grid-"][class*="-4lg"],
  [class*="fluid-"][class*="-4lg"] {
    grid-template: auto/repeat(4, auto);
  }

  [class*="grid-"][class*="-5lg"],
  [class*="fluid-"][class*="-5lg"] {
    grid-template: auto/repeat(5, auto);
  }

  [class*="grid-"][class*="-6lg"],
  [class*="fluid-"][class*="-6lg"] {
    grid-template: auto/repeat(6, auto);
  }

  [class*="grid-"][class*="-7lg"],
  [class*="fluid-"][class*="-7lg"] {
    grid-template: auto/repeat(7, auto);
  }

  [class*="grid-"][class*="-8lg"],
  [class*="fluid-"][class*="-8lg"] {
    grid-template: auto/repeat(8, auto);
  }

  [class*="grid-"][class*="-9lg"],
  [class*="fluid-"][class*="-9lg"] {
    grid-template: auto/repeat(9, auto);
  }

  [class*="grid-"][class*="-10lg"],
  [class*="fluid-"][class*="-10lg"] {
    grid-template: auto/repeat(10, auto);
  }

  [class*="grid-"][class*="-11lg"],
  [class*="fluid-"][class*="-11lg"] {
    grid-template: auto/repeat(11, auto);
  }

  [class*="grid-"][class*="-12lg"],
  [class*="fluid-"][class*="-12lg"] {
    grid-template: auto/repeat(12, auto);
  }
}

/***** 5.2 Grid Gap LG *****/
@media (min-width: 992px) {
  .gap-1lg {
    grid-gap: var(--gap-1lg);
  }

  .gap-2lg {
    grid-gap: var(--gap-2lg);
  }

  .gap-3lg {
    grid-gap: var(--gap-3lg);
  }
}

/********** 6. GRID XL **********/

/*
6.1 Grid & Fluid XL
6.2 Grid Gap XL
*/

/***** 6.1 Grid & Fluid XL *****/
@media (min-width: 1200px) {
  [class*="grid-"][class*="-2xl"],
  [class*="fluid-"][class*="-2xl"] {
    grid-template: auto/repeat(2, auto);
  }

  [class*="grid-"][class*="-3xl"],
  [class*="fluid-"][class*="-3xl"] {
    grid-template: auto/repeat(3, auto);
  }

  [class*="grid-"][class*="-4xl"],
  [class*="fluid-"][class*="-4xl"] {
    grid-template: auto/repeat(4, auto);
  }

  [class*="grid-"][class*="-5xl"],
  [class*="fluid-"][class*="-5xl"] {
    grid-template: auto/repeat(5, auto);
  }

  [class*="grid-"][class*="-6xl"],
  [class*="fluid-"][class*="-6xl"] {
    grid-template: auto/repeat(6, auto);
  }

  [class*="grid-"][class*="-7xl"],
  [class*="fluid-"][class*="-7xl"] {
    grid-template: auto/repeat(7, auto);
  }

  [class*="grid-"][class*="-8xl"],
  [class*="fluid-"][class*="-8xl"] {
    grid-template: auto/repeat(8, auto);
  }

  [class*="grid-"][class*="-9xl"],
  [class*="fluid-"][class*="-9xl"] {
    grid-template: auto/repeat(9, auto);
  }

  [class*="grid-"][class*="-10xl"],
  [class*="fluid-"][class*="-10xl"] {
    grid-template: auto/repeat(10, auto);
  }

  [class*="grid-"][class*="-11xl"],
  [class*="fluid-"][class*="-11xl"] {
    grid-template: auto/repeat(11, auto);
  }

  [class*="grid-"][class*="-12xl"],
  [class*="fluid-"][class*="-12xl"] {
    grid-template: auto/repeat(12, auto);
  }
}

/***** 6.2 Grid Gap XL *****/
@media (min-width: 1200px) {
  .gap-1xl {
    grid-gap: var(--gap-1xl);
  }

  .gap-2xl {
    grid-gap: var(--gap-2xl);
  }

  .gap-3xl {
    grid-gap: var(--gap-3xl);
  }
}

