/*****************************/
/********** GRID MD **********/
/*****************************/


@media (min-width: 768px) {
    [class*="grid"][class*="2md"],
    [class*="fluid"][class*="2md"] {
        grid-template: auto/repeat(2, auto);
    }

    [class*="grid"][class*="3md"],
    [class*="fluid"][class*="3md"] {
        grid-template: auto/repeat(3, auto);
    }

    [class*="grid"][class*="4md"],
    [class*="fluid"][class*="4md"] {
        grid-template: auto/repeat(4, auto);
    }

    [class*="grid"][class*="5md"],
    [class*="fluid"][class*="5md"] {
        grid-template: auto/repeat(5, auto);
    }

    [class*="grid"][class*="6md"],
    [class*="fluid"][class*="6md"] {
        grid-template: auto/repeat(6, auto);
    }

    [class*="grid"][class*="7md"],
    [class*="fluid"][class*="7md"] {
        grid-template: auto/repeat(7, auto);
    }

    [class*="grid"][class*="8md"],
    [class*="fluid"][class*="8md"] {
        grid-template: auto/repeat(8, auto);
    }

    [class*="grid"][class*="9md"],
    [class*="fluid"][class*="9md"] {
        grid-template: auto/repeat(9, auto);
    }

    [class*="grid"][class*="10md"],
    [class*="fluid"][class*="10md"] {
        grid-template: auto/repeat(10, auto);
    }

    [class*="grid"][class*="11md"],
    [class*="fluid"][class*="11md"] {
        grid-template: auto/repeat(11, auto);
    }

    [class*="grid"][class*="12md"],
    [class*="fluid"][class*="12md"] {
        grid-template: auto/repeat(12, auto);
    }
}