/************************************/
/********** GRID VARIABLES **********/
/************************************/


[class*="gap"] {
    --gap-1tn: 1px;
    --gap-2tn: 2px;
    --gap-3tn: 5px;

    --gap-1sm: 2px;
    --gap-2sm: 5px;
    --gap-3sm: 10px;

    --gap-1md: 5px;
    --gap-2md: 10px;
    --gap-3md: 20px;

    --gap-1lg: 10px;
    --gap-2lg: 20px;
    --gap-3lg: 50px;

    --gap-1wd: 20px;
    --gap-2wd: 50px;
    --gap-3wd: 100px;
}