/********** GRID **********/

/*
1 - Grid & Fluid Global
2 - Grid & Fluid
3 - Grid Gap
*/

/***** 1 - Grid & Fluid Global *****/
[class^="grid"],
[class*=" grid"],
[class^="fluid"],
[class*=" fluid"] {
  display: grid;
}

[class^="grid"],
[class*=" grid"] {
  margin: auto;
  max-width: 80%;
}

[class^="fluid"],
[class*=" fluid"] {
  max-width: 100%;
}

/***** 2 - Grid & Fluid *****/
[class^="grid-"][class*="-2xs"],
[class*=" grid-"][class*="-2xs"],
[class^="fluid-"][class*="-2xs"],
[class*=" fluid-"][class*="-2xs"] {
grid-template: auto/repeat(2, auto);
}

[class^="grid-"][class*="-3xs"],
[class*=" grid-"][class*="-3xs"],
[class^="fluid-"][class*="-3xs"],
[class*=" fluid-"][class*="-3xs"] {
  grid-template: auto/repeat(3, auto);
}

[class^="grid-"][class*="-4xs"],
[class*=" grid-"][class*="-4xs"],
[class^="fluid-"][class*="-4xs"],
[class*=" fluid-"][class*="-4xs"] {
  grid-template: auto/repeat(4, auto);
}

[class^="grid-"][class*="-5xs"],
[class*=" grid-"][class*="-5xs"],
[class^="fluid-"][class*="-5xs"],
[class*=" fluid-"][class*="-5xs"] {
  grid-template: auto/repeat(5, auto);
}

[class^="grid-"][class*="-6xs"],
[class*=" grid-"][class*="-6xs"],
[class^="fluid-"][class*="-6xs"],
[class*=" fluid-"][class*="-6xs"] {
  grid-template: auto/repeat(6, auto);
}

[class^="grid-"][class*="-7xs"],
[class*=" grid-"][class*="-7xs"],
[class^="fluid-"][class*="-7xs"],
[class*=" fluid-"][class*="-7xs"] {
grid-template: auto/repeat(7, auto);
}

[class^="grid-"][class*="-8xs"],
[class*=" grid-"][class*="-8xs"],
[class^="fluid-"][class*="-8xs"],
[class*=" fluid-"][class*="-8xs"] {
  grid-template: auto/repeat(8, auto);
}

[class^="grid-"][class*="-9xs"],
[class*=" grid-"][class*="-9xs"],
[class^="fluid-"][class*="-9xs"],
[class*=" fluid-"][class*="-9xs"] {
  grid-template: auto/repeat(9, auto);
}

[class^="grid-"][class*="-10xs"],
[class*=" grid-"][class*="-10xs"],
[class^="fluid-"][class*="-10xs"],
[class*=" fluid-"][class*="-10xs"] {
  grid-template: auto/repeat(10, auto);
}

[class^="grid-"][class*="-11xs"],
[class*=" grid-"][class*="-11xs"],
[class^="fluid-"][class*="-11xs"],
[class*=" fluid-"][class*="-11xs"] {
  grid-template: auto/repeat(11, auto);
}

[class^="grid-"][class*="-12xs"],
[class*=" grid-"][class*="-12xs"],
[class^="fluid-"][class*="-12xs"],
[class*=" fluid-"][class*="-12xs"] {
  grid-template: auto/repeat(12, auto);
}

@media (min-width: 576px) {
  [class^="grid-"][class*="-2sm"],
  [class*=" grid-"][class*="-2sm"],
  [class^="fluid-"][class*="-2sm"],
  [class*=" fluid-"][class*="-2sm"] {
    grid-template: auto/repeat(2, auto);
  }

  [class^="grid-"][class*="-3sm"],
  [class*=" grid-"][class*="-3sm"],
  [class^="fluid-"][class*="-3sm"],
  [class*=" fluid-"][class*="-3sm"] {
    grid-template: auto/repeat(3, auto);
  }

  [class^="grid-"][class*="-4sm"],
  [class*=" grid-"][class*="-4sm"],
  [class^="fluid-"][class*="-4sm"],
  [class*=" fluid-"][class*="-4sm"] {
    grid-template: auto/repeat(4, auto);
  }

  [class^="grid-"][class*="-5sm"],
  [class*=" grid-"][class*="-5sm"],
  [class^="fluid-"][class*="-5sm"],
  [class*=" fluid-"][class*="-5sm"] {
    grid-template: auto/repeat(5, auto);
  }

  [class^="grid-"][class*="-6sm"],
  [class*=" grid-"][class*="-6sm"],
  [class^="fluid-"][class*="-6sm"],
  [class*=" fluid-"][class*="-6sm"] {
    grid-template: auto/repeat(6, auto);
  }

  [class^="grid-"][class*="-7sm"],
  [class*=" grid-"][class*="-7sm"],
  [class^="fluid-"][class*="-7sm"],
  [class*=" fluid-"][class*="-7sm"] {
    grid-template: auto/repeat(7, auto);
  }

  [class^="grid-"][class*="-8sm"],
  [class*=" grid-"][class*="-8sm"],
  [class^="fluid-"][class*="-8sm"],
  [class*=" fluid-"][class*="-8sm"] {
    grid-template: auto/repeat(8, auto);
  }

  [class^="grid-"][class*="-9sm"],
  [class*=" grid-"][class*="-9sm"],
  [class^="fluid-"][class*="-9sm"],
  [class*=" fluid-"][class*="-9sm"] {
    grid-template: auto/repeat(9, auto);
  }

  [class^="grid-"][class*="-10sm"],
  [class*=" grid-"][class*="-10sm"],
  [class^="fluid-"][class*="-10sm"],
  [class*=" fluid-"][class*="-10sm"] {
    grid-template: auto/repeat(10, auto);
  }

  [class^="grid-"][class*="-11sm"],
  [class*=" grid-"][class*="-11sm"],
  [class^="fluid-"][class*="-11sm"],
  [class*=" fluid-"][class*="-11sm"] {
    grid-template: auto/repeat(11, auto);
  }

  [class^="grid-"][class*="-12sm"],
  [class*=" grid-"][class*="-12sm"],
  [class^="fluid-"][class*="-12sm"],
  [class*=" fluid-"][class*="-12sm"] {
    grid-template: auto/repeat(12, auto);
  }
}

@media (min-width: 768px) {
  [class^="grid-"][class*="-2md"],
  [class*=" grid-"][class*="-2md"],
  [class^="fluid-"][class*="-2md"],
  [class*=" fluid-"][class*="-2md"] {
    grid-template: auto/repeat(2, auto);
  }

  [class^="grid-"][class*="-3md"],
  [class*=" grid-"][class*="-3md"],
  [class^="fluid-"][class*="-3md"],
  [class*=" fluid-"][class*="-3md"] {
  grid-template: auto/repeat(3, auto);
  }

  [class^="grid-"][class*="-4md"],
  [class*=" grid-"][class*="-4md"],
  [class^="fluid-"][class*="-4md"],
  [class*=" fluid-"][class*="-4md"] {
    grid-template: auto/repeat(4, auto);
  }

  [class^="grid-"][class*="-5md"],
  [class*=" grid-"][class*="-5md"],
  [class^="fluid-"][class*="-5md"],
  [class*=" fluid-"][class*="-5md"] {
    grid-template: auto/repeat(5, auto);
  }

  [class^="grid-"][class*="-6md"],
  [class*=" grid-"][class*="-6md"],
  [class^="fluid-"][class*="-6md"],
  [class*=" fluid-"][class*="-6md"] {
    grid-template: auto/repeat(6, auto);
  }

  [class^="grid-"][class*="-7md"],
  [class*=" grid-"][class*="-7md"],
  [class^="fluid-"][class*="-7md"],
  [class*=" fluid-"][class*="-7md"] {
    grid-template: auto/repeat(7, auto);
  }

  [class^="grid-"][class*="-8md"],
  [class*=" grid-"][class*="-8md"],
  [class^="fluid-"][class*="-8md"],
  [class*=" fluid-"][class*="-8md"] {
    grid-template: auto/repeat(8, auto);
  }

  [class^="grid-"][class*="-9md"],
  [class*=" grid-"][class*="-9md"],
  [class^="fluid-"][class*="-9md"],
  [class*=" fluid-"][class*="-9md"] {
    grid-template: auto/repeat(9, auto);
  }

  [class^="grid-"][class*="-10md"],
  [class*=" grid-"][class*="-10md"],
  [class^="fluid-"][class*="-10md"],
  [class*=" fluid-"][class*="-10md"] {
    grid-template: auto/repeat(10, auto);
  }

  [class^="grid-"][class*="-11md"],
  [class*=" grid-"][class*="-11md"],
  [class^="fluid-"][class*="-11md"],
  [class*=" fluid-"][class*="-11md"] {
    grid-template: auto/repeat(11, auto);
  }

  [class^="grid-"][class*="-12md"],
  [class*=" grid-"][class*="-12md"],
  [class^="fluid-"][class*="-12md"],
  [class*=" fluid-"][class*="-12md"] {
    grid-template: auto/repeat(12, auto);
  }
}

@media (min-width: 992px) {
  [class^="grid-"][class*="-2lg"],
  [class*=" grid-"][class*="-2lg"],
  [class^="fluid-"][class*="-2lg"],
  [class*=" fluid-"][class*="-2lg"] {
    grid-template: auto/repeat(2, auto);
  }

  [class^="grid-"][class*="-3lg"],
  [class*=" grid-"][class*="-3lg"],
  [class^="fluid-"][class*="-3lg"],
  [class*=" fluid-"][class*="-3lg"] {
  grid-template: auto/repeat(3, auto);
  }

  [class^="grid-"][class*="-4lg"],
  [class*=" grid-"][class*="-4lg"],
  [class^="fluid-"][class*="-4lg"],
  [class*=" fluid-"][class*="-4lg"] {
    grid-template: auto/repeat(4, auto);
  }

  [class^="grid-"][class*="-5lg"],
  [class*=" grid-"][class*="-5lg"],
  [class^="fluid-"][class*="-5lg"],
  [class*=" fluid-"][class*="-5lg"] {
    grid-template: auto/repeat(5, auto);
  }

  [class^="grid-"][class*="-6lg"],
  [class*=" grid-"][class*="-6lg"],
  [class^="fluid-"][class*="-6lg"],
  [class*=" fluid-"][class*="-6lg"] {
    grid-template: auto/repeat(6, auto);
  }

  [class^="grid-"][class*="-7lg"],
  [class*=" grid-"][class*="-7lg"],
  [class^="fluid-"][class*="-7lg"],
  [class*=" fluid-"][class*="-7lg"] {
    grid-template: auto/repeat(7, auto);
  }

  [class^="grid-"][class*="-8lg"],
  [class*=" grid-"][class*="-8lg"],
  [class^="fluid-"][class*="-8lg"],
  [class*=" fluid-"][class*="-8lg"] {
    grid-template: auto/repeat(8, auto);
  }

  [class^="grid-"][class*="-9lg"],
  [class*=" grid-"][class*="-9lg"],
  [class^="fluid-"][class*="-9lg"],
  [class*=" fluid-"][class*="-9lg"] {
    grid-template: auto/repeat(9, auto);
  }

  [class^="grid-"][class*="-10lg"],
  [class*=" grid-"][class*="-10lg"],
  [class^="fluid-"][class*="-10lg"],
  [class*=" fluid-"][class*="-10lg"] {
    grid-template: auto/repeat(10, auto);
  }

  [class^="grid-"][class*="-11lg"],
  [class*=" grid-"][class*="-11lg"],
  [class^="fluid-"][class*="-11lg"],
  [class*=" fluid-"][class*="-11lg"] {
    grid-template: auto/repeat(11, auto);
  }

  [class^="grid-"][class*="-12lg"],
  [class*=" grid-"][class*="-12lg"],
  [class^="fluid-"][class*="-12lg"],
  [class*=" fluid-"][class*="-12lg"] {
    grid-template: auto/repeat(12, auto);
  }
}

@media (min-width: 1200px) {
  [class^="grid-"][class*="-2xl"],
  [class*=" grid-"][class*="-2xl"],
  [class^="fluid-"][class*="-2xl"],
  [class*=" fluid-"][class*="-2xl"] {
    grid-template: auto/repeat(2, auto);
  }

  [class^="grid-"][class*="-3xl"],
  [class*=" grid-"][class*="-3xl"],
  [class^="fluid-"][class*="-3xl"],
  [class*=" fluid-"][class*="-3xl"] {
  grid-template: auto/repeat(3, auto);
  }

  [class^="grid-"][class*="-4xl"],
  [class*=" grid-"][class*="-4xl"],
  [class^="fluid-"][class*="-4xl"],
  [class*=" fluid-"][class*="-4xl"] {
  grid-template: auto/repeat(4, auto);
  }

  [class^="grid-"][class*="-5xl"],
  [class*=" grid-"][class*="-5xl"],
  [class^="fluid-"][class*="-5xl"],
  [class*=" fluid-"][class*="-5xl"] {
    grid-template: auto/repeat(5, auto);
  }

  [class^="grid-"][class*="-6xl"],
  [class*=" grid-"][class*="-6xl"],
  [class^="fluid-"][class*="-6xl"],
  [class*=" fluid-"][class*="-6xl"] {
    grid-template: auto/repeat(6, auto);
  }

  [class^="grid-"][class*="-7xl"],
  [class*=" grid-"][class*="-7xl"],
  [class^="fluid-"][class*="-7xl"],
  [class*=" fluid-"][class*="-7xl"] {
    grid-template: auto/repeat(7, auto);
  }

  [class^="grid-"][class*="-8xl"],
  [class*=" grid-"][class*="-8xl"],
  [class^="fluid-"][class*="-8xl"],
  [class*=" fluid-"][class*="-8xl"] {
    grid-template: auto/repeat(8, auto);
  }

  [class^="grid-"][class*="-9xl"],
  [class*=" grid-"][class*="-9xl"],
  [class^="fluid-"][class*="-9xl"],
  [class*=" fluid-"][class*="-9xl"] {
    grid-template: auto/repeat(9, auto);
  }

  [class^="grid-"][class*="-10xl"],
  [class*=" grid-"][class*="-10xl"],
  [class^="fluid-"][class*="-10xl"],
  [class*=" fluid-"][class*="-10xl"] {
    grid-template: auto/repeat(10, auto);
  }

  [class^="grid-"][class*="-11xl"],
  [class*=" grid-"][class*="-11xl"],
  [class^="fluid-"][class*="-11xl"],
  [class*=" fluid-"][class*="-11xl"] {
    grid-template: auto/repeat(11, auto);
  }

  [class^="grid-"][class*="-12xl"],
  [class*=" grid-"][class*="-12xl"],
  [class^="fluid-"][class*="-12xl"],
  [class*=" fluid-"][class*="-12xl"] {
    grid-template: auto/repeat(12, auto);
  }
}

/***** 3 - Grid Gap *****/
[class^="gap-"][class*="-small-xs"],
[class*=" gap-"][class*="-small-xs"] {
  grid-gap: var(--gap-small-xs);
}

[class^="gap-"][class*="-medium-xs"],
[class*=" gap-"][class*="-medium-xs"] {
  grid-gap: var(--gap-medium-xs);
}

[class^="gap-"][class*="-large-xs"],
[class*=" gap-"][class*="-large-xs"] {
  grid-gap: var(--gap-large-xs);
}

@media (min-width: 576px) {
  [class^="gap-"][class*="-small-sm"],
  [class*=" gap-"][class*="-small-sm"] {
    grid-gap: var(--gap-small-sm);
  }

  [class^="gap-"][class*="-medium-sm"],
  [class*=" gap-"][class*="-medium-sm"] {
    grid-gap: var(--gap-medium-sm);
  }

  [class^="gap-"][class*="-large-sm"],
  [class*=" gap-"][class*="-large-sm"] {
    grid-gap: var(--gap-large-sm);
  }
}

@media (min-width: 768px) {
  [class^="gap-"][class*="-small-md"],
  [class*=" gap-"][class*="-small-md"] {
    grid-gap: var(--gap-small-md);
  }

  [class^="gap-"][class*="-medium-md"],
  [class*=" gap-"][class*="-medium-md"] {
    grid-gap: var(--gap-medium-md);
  }

  [class^="gap-"][class*="-large-md"],
  [class*=" gap-"][class*="-large-md"] {
    grid-gap: var(--gap-large-md);
  }
}

@media (min-width: 992px) {
  [class^="gap-"][class*="-small-lg"],
  [class*=" gap-"][class*="-small-lg"] {
    grid-gap: var(--gap-small-lg);
  }

  [class^="gap-"][class*="-medium-lg"],
  [class*=" gap-"][class*="-medium-lg"] {
    grid-gap: var(--gap-medium-lg);
  }

  [class^="gap-"][class*="-large-lg"],
  [class*=" gap-"][class*="-large-lg"] {
    grid-gap: var(--gap-large-lg);
  }
}

@media (min-width: 1200px) {
  [class^="gap-"][class*="-small-xl"],
  [class*=" gap-"][class*="-small-xl"] {
    grid-gap: var(--gap-small-xl);
  }

  [class^="gap-"][class*="-medium-xl"],
  [class*=" gap-"][class*="-medium-xl"] {
    grid-gap: var(--gap-medium-xl);
  }

  [class^="gap-"][class*="-large-xl"],
  [class*=" gap-"][class*="-large-xl"] {
    grid-gap: var(--gap-large-xl);
  }
}
