/*****************************/
/********** GRID WD **********/
/*****************************/


@media (min-width: 1200px) {
    [class*="grid"][class*="2wd"],
    [class*="fluid"][class*="2wd"] {
        grid-template: auto/repeat(2, auto);
    }

    [class*="grid"][class*="3wd"],
    [class*="fluid"][class*="3wd"] {
        grid-template: auto/repeat(3, auto);
    }

    [class*="grid"][class*="4wd"],
    [class*="fluid"][class*="4wd"] {
        grid-template: auto/repeat(4, auto);
    }

    [class*="grid"][class*="5wd"],
    [class*="fluid"][class*="5wd"] {
        grid-template: auto/repeat(5, auto);
    }

    [class*="grid"][class*="6wd"],
    [class*="fluid"][class*="6wd"] {
        grid-template: auto/repeat(6, auto);
    }

    [class*="grid"][class*="7wd"],
    [class*="fluid"][class*="7wd"] {
        grid-template: auto/repeat(7, auto);
    }

    [class*="grid"][class*="8wd"],
    [class*="fluid"][class*="8wd"] {
        grid-template: auto/repeat(8, auto);
    }

    [class*="grid"][class*="9wd"],
    [class*="fluid"][class*="9wd"] {
        grid-template: auto/repeat(9, auto);
    }

    [class*="grid"][class*="10wd"],
    [class*="fluid"][class*="10wd"] {
        grid-template: auto/repeat(10, auto);
    }

    [class*="grid"][class*="11wd"],
    [class*="fluid"][class*="11wd"] {
        grid-template: auto/repeat(11, auto);
    }

    [class*="grid"][class*="12wd"],
    [class*="fluid"][class*="12wd"] {
        grid-template: auto/repeat(12, auto);
    }
}