/******************** JUSTIFY ********************/

/*
1. JUSTIFY CONTENT
  1.1 Justify Content XS
  1.2 Justify Content SM
  1.3 Justify Content MD
  1.4 Justify Content LG
  1.5 Justify Content XL
2. JUSTIFY ITEMS
  2.1 Justify Items XS
  2.2 Justify Items SM
  2.3 Justify Items MD
  2.4 Justify Items LG
  2.5 Justify Items XL
3. JUSTIFY SELF
  3.1 Justify Self XS
  3.2 Justify Self SM
  3.3 Justify Self MD
  3.4 Justify Self LG
  3.5 Justify Self XL
*/

/********** 1. JUSTIFY CONTENT **********/

/*
1.1 Justify Content XS
1.2 Justify Content SM
1.3 Justify Content MD
1.4 Justify Content LG
1.5 Justify Content XL
*/

/***** 1.1 Justify Content XS *****/
[class*="juco-"][class*="-around-xs"] {
  justify-content: space-around;
}

[class*="juco-"][class*="-between-xs"] {
  justify-content: space-between;
}

[class*="juco-"][class*="-center-xs"] {
  justify-content: center;
}

[class*="juco-"][class*="-end-xs"] {
  justify-content: var(--justify-content-end);
}

[class*="juco-"][class*="-evenly-xs"] {
  justify-content: space-evenly;
}

[class*="juco-"][class*="-left-xs"] {
  justify-content: left;
}

[class*="juco-"][class*="-right-xs"] {
  justify-content: right;
}

[class*="juco-"][class*="-start-xs"] {
  justify-content: var(--justify-content-start);
}

[class*="juco-"][class*="-stretch-xs"] {
  justify-content: stretch;
}

/***** 1.2 Justify Content SM *****/
@media (min-width: 576px) {
  [class*="juco-"][class*="-around-sm"] {
    justify-content: space-around;
  }

  [class*="juco-"][class*="-between-sm"] {
    justify-content: space-between;
  }

  [class*="juco-"][class*="-center-sm"] {
    justify-content: center;
  }

  [class*="juco-"][class*="-end-sm"] {
    justify-content: var(--justify-content-end);
  }

  [class*="juco-"][class*="-evenly-sm"] {
    justify-content: space-evenly;
  }

  [class*="juco-"][class*="-left-sm"] {
    justify-content: left;
  }

  [class*="juco-"][class*="-right-sm"] {
    justify-content: right;
  }

  [class*="juco-"][class*="-start-sm"] {
    justify-content: var(--justify-content-start);
  }

  [class*="juco-"][class*="-stretch-sm"] {
    justify-content: stretch;
  }
}

/***** 1.3 Justify Content MD *****/
@media (min-width: 768px) {
  [class*="juco-"][class*="-around-md"] {
    justify-content: space-around;
  }

  [class*="juco-"][class*="-between-md"] {
    justify-content: space-between;
  }

  [class*="juco-"][class*="-center-md"] {
    justify-content: center;
  }

  [class*="juco-"][class*="-end-md"] {
    justify-content: var(--justify-content-end);
  }

  [class*="juco-"][class*="-evenly-md"] {
    justify-content: space-evenly;
  }

  [class*="juco-"][class*="-left-md"] {
    justify-content: left;
  }

  [class*="juco-"][class*="-right-md"] {
    justify-content: right;
  }

  [class*="juco-"][class*="-start-md"] {
    justify-content: var(--justify-content-start);
  }

  [class*="juco-"][class*="-stretch-md"] {
    justify-content: stretch;
  }
}

/***** 1.4 Justify Content LG *****/
@media (min-width: 992px) {
  [class*="juco-"][class*="-around-lg"] {
    justify-content: space-around;
  }

  [class*="juco-"][class*="-between-lg"] {
    justify-content: space-between;
  }

  [class*="juco-"][class*="-center-lg"] {
    justify-content: center;
  }

  [class*="juco-"][class*="-end-lg"] {
    justify-content: var(--justify-content-end);
  }

  [class*="juco-"][class*="-evenly-lg"] {
    justify-content: space-evenly;
  }

  [class*="juco-"][class*="-left-lg"] {
    justify-content: left;
  }

  [class*="juco-"][class*="-right-lg"] {
    justify-content: right;
  }

  [class*="juco-"][class*="-start-lg"] {
    justify-content: var(--justify-content-start);
  }

  [class*="juco-"][class*="-stretch-lg"] {
    justify-content: stretch;
  }
}

/***** 1.5 Justify Content XL *****/
@media (min-width: 1200px) {
  [class*="juco-"][class*="-around-xl"] {
    justify-content: space-around;
  }

  [class*="juco-"][class*="-between-xl"] {
    justify-content: space-between;
  }

  [class*="juco-"][class*="-center-xl"] {
    justify-content: center;
  }

  [class*="juco-"][class*="-end-xl"] {
    justify-content: var(--justify-content-end);
  }

  [class*="juco-"][class*="-evenly-xl"] {
    justify-content: space-evenly;
  }

  [class*="juco-"][class*="-left-xl"] {
    justify-content: left;
  }

  [class*="juco-"][class*="-right-xl"] {
    justify-content: right;
  }

  [class*="juco-"][class*="-start-xl"] {
    justify-content: var(--justify-content-start);
  }

  [class*="juco-"][class*="-stretch-xl"] {
    justify-content: stretch;
  }
}

/********** 2. JUSTIFY ITEMS **********/

/*
2.1 Justify Items XS
2.2 Justify Items SM
2.3 Justify Items MD
2.4 Justify Items LG
2.5 Justify Items XL
*/

/***** 2.1 Justify Items XS *****/
[class*="juit-"][class*="-base-xs"] {
  justify-items: var(--justify-items-base);
}

[class*="juit-"][class*="-center-xs"] {
  justify-items: center;
}

[class*="juit-"][class*="-end-xs"] {
  justify-items: var(--justify-items-end);
}

[class*="juit-"][class*="-left-xs"] {
  justify-items: left;
}

[class*="juit-"][class*="-right-xs"] {
  justify-items: right;
}

[class*="juit-"][class*="-start-xs"] {
  justify-items: var(--justify-items-start);
}

[class*="juit-"][class*="-stretch-xs"] {
  justify-items: stretch;
}

/***** 2.2 Justify Items SM *****/
@media (min-width: 576px) {
  [class*="juit-"][class*="-base-sm"] {
    justify-items: var(--justify-items-base);
  }

  [class*="juit-"][class*="-center-sm"] {
    justify-items: center;
  }

  [class*="juit-"][class*="-end-sm"] {
    justify-items: var(--justify-items-end);
  }

  [class*="juit-"][class*="-left-sm"] {
    justify-items: left;
  }

  [class*="juit-"][class*="-right-sm"] {
    justify-items: right;
  }

  [class*="juit-"][class*="-start-sm"] {
    justify-items: var(--justify-items-start);
  }

  [class*="juit-"][class*="-stretch-sm"] {
    justify-items: stretch;
  }
}

/***** 2.3 Justify Items MD *****/
@media (min-width: 768px) {
  [class*="juit-"][class*="-base-md"] {
    justify-items: var(--justify-items-base);
  }

  [class*="juit-"][class*="-center-md"] {
    justify-items: center;
  }

  [class*="juit-"][class*="-end-md"] {
    justify-items: var(--justify-items-end);
  }

  [class*="juit-"][class*="-left-md"] {
    justify-items: left;
  }

  [class*="juit-"][class*="-right-md"] {
    justify-items: right;
  }

  [class*="juit-"][class*="-start-md"] {
    justify-items: var(--justify-items-start);
  }

  [class*="juit-"][class*="-stretch-md"] {
    justify-items: stretch;
  }
}

/***** 2.4 Justify Items LG *****/
@media (min-width: 992px) {
  [class*="juit-"][class*="-base-lg"] {
    justify-items: var(--justify-items-base);
  }

  [class*="juit-"][class*="-center-lg"] {
    justify-items: center;
  }

  [class*="juit-"][class*="-end-lg"] {
    justify-items: var(--justify-items-end);
  }

  [class*="juit-"][class*="-left-lg"] {
    justify-items: left;
  }

  [class*="juit-"][class*="-right-lg"] {
    justify-items: right;
  }

  [class*="juit-"][class*="-start-lg"] {
    justify-items: var(--justify-items-start);
  }

  [class*="juit-"][class*="-stretch-lg"] {
    justify-items: stretch;
  }
}

/***** 2.5 Justify Items XL *****/
@media (min-width: 1200px) {
  [class*="juit-"][class*="-base-xl"] {
    justify-items: var(--justify-items-base);
  }

  [class*="juit-"][class*="-center-xl"] {
    justify-items: center;
  }

  [class*="juit-"][class*="-end-xl"] {
    justify-items: var(--justify-items-end);
  }

  [class*="juit-"][class*="-left-xl"] {
    justify-items: left;
  }

  [class*="juit-"][class*="-right-txl"] {
    justify-items: right;
  }

  [class*="juit-"][class*="-start-xl"] {
    justify-items: var(--justify-items-start);
  }

  [class*="juit-"][class*="-stretch-xl"] {
    justify-items: stretch;
  }
}

/********** 3. JUSTIFY SELF **********/

/*
3.1 Justify Self XS
3.2 Justify Self SM
3.3 Justify Self MD
3.4 Justify Self LG
3.5 Justify Self XL
*/

/***** 3.1 Justify Self XS *****/
[class*="juse-"][class*="-base-xs"] {
  justify-self: var(--justify-self-base);
}

[class*="juse-"][class*="-center-xs"] {
  justify-self: center;
}

[class*="juse-"][class*="-end-xs"] {
  justify-self: var(--justify-self-end);
}

[class*="juse-"][class*="-left-xs"] {
  justify-self: left;
}

[class*="juse-"][class*="-right-xs"] {
  justify-self: right;
}

[class*="juse-"][class*="-start-xs"] {
  justify-self: var(--justify-self-start);
}

[class*="juse-"][class*="-stretch-xs"] {
  justify-self: stretch;
}

/***** 3.2 Justify Self SM *****/
@media (min-width: 576px) {
  [class*="juse-"][class*="-base-sm"] {
    justify-self: var(--justify-self-base);
  }

  [class*="juse-"][class*="-center-sm"] {
    justify-self: center;
  }

  [class*="juse-"][class*="-end-sm"] {
    justify-self: var(--justify-self-end);
  }

  [class*="juse-"][class*="-left-sm"] {
    justify-self: left;
  }

  [class*="juse-"][class*="-right-sm"] {
    justify-self: right;
  }

  [class*="juse-"][class*="-start-sm"] {
    justify-self: var(--justify-self-start);
  }

  [class*="juse-"][class*="-stretch-sm"] {
    justify-self: stretch;
  }
}

/***** 3.3 Justify Self MD *****/
@media (min-width: 768px) {
  [class*="juse-"][class*="-base-md"] {
    justify-self: var(--justify-self-base);
  }

  [class*="juse-"][class*="-center-md"] {
    justify-self: center;
  }

  [class*="juse-"][class*="-end-md"] {
    justify-self: var(--justify-self-end);
  }

  [class*="juse-"][class*="-left-md"] {
    justify-self: left;
  }

  [class*="juse-"][class*="-right-md"] {
    justify-self: right;
  }

  [class*="juse-"][class*="-start-md"] {
    justify-self: var(--justify-self-start);
  }

  [class*="juse-"][class*="-stretch-md"] {
    justify-self: stretch;
  }
}

/***** 3.4 Justify Self LG *****/
@media (min-width: 992px) {
  [class*="juse-"][class*="-base-lg"] {
    justify-self: var(--justify-self-base);
  }

  [class*="juse-"][class*="-center-lg"] {
    justify-self: center;
  }

  [class*="juse-"][class*="-end-lg"] {
    justify-self: var(--justify-self-end);
  }

  [class*="juse-"][class*="-left-lg"] {
    justify-self: left;
  }

  [class*="juse-"][class*="-right-lg"] {
    justify-self: right;
  }

  [class*="juse-"][class*="-start-lg"] {
    justify-self: var(--justify-self-start);
  }

  [class*="juse-"][class*="-stretch-lg"] {
    justify-self: stretch;
  }
}

/***** 3.5 Justify Self XL *****/
@media (min-width: 1200px) {
  [class*="juse-"][class*="-base-xl"] {
    justify-self: var(--justify-self-base);
  }

  [class*="juse-"][class*="-center-xl"] {
    justify-self: center;
  }

  [class*="juse-"][class*="-end-xl"] {
    justify-self: var(--justify-self-end);
  }

  [class*="juse-"][class*="-left-xl"] {
    justify-self: left;
  }

  [class*="juse-"][class*="-right-xl"] {
    justify-self: right;
  }

  [class*="juse-"][class*="-start-xl"] {
    justify-self: var(--justify-self-start);
  }

  [class*="juse-"][class*="-stretch-xl"] {
    justify-self: stretch;
  }
}

