/********** PLACE **********/

/*
1 - Place Content
2 - Place Items
3 - Place Self
*/

/***** 1 - Place Content *****/
.placo-around {
  place-content: space-around;
}

.placo-between {
  place-content: space-between;
}

.placo-evenly {
  place-content: space-evenly;
}

.placo-center {
  place-content: center;
}

.placo-stretch {
  place-content: stretch;
}

.placo-start {
  place-content: var(--place-content-start);
}

.placo-end{
  place-content: var(--place-content-end);
}

@media (min-width: 576px) {
  .placo-around-sm {
    place-content: space-around;
  }

  .placo-between-sm {
    place-content: space-between;
  }

  .placo-evenly-sm {
    place-content: space-evenly;
  }

  .placo-center-sm {
    place-content: center;
  }

  .placo-stretch-sm {
    place-content: stretch;
  }

  .placo-start-sm {
    place-content: var(--place-content-start);
  }

  .placo-end-sm {
    place-content: var(--place-content-end);
  }
}

@media (min-width: 768px) {
  .placo-around-md {
    place-content: space-around;
  }

  .placo-between-md {
    place-content: space-between;
  }

  .placo-evenly-md {
    place-content: space-evenly;
  }

  .placo-center-md {
    place-content: center;
  }

  .placo-stretch-md {
    place-content: stretch;
  }

  .placo-start-md {
    place-content: var(--place-content-start);
  }

  .placo-end-md {
    place-content: var(--place-content-end);
  }
}

@media (min-width: 992px) {
  .placo-around-lg {
    place-content: space-around;
  }

  .placo-between-lg {
    place-content: space-between;
  }

  .placo-evenly-lg {
    place-content: space-evenly;
  }

  .placo-center-lg {
    place-content: center;
  }

  .placo-stretch-lg {
    place-content: stretch;
  }

  .placo-start-lg {
    place-content: var(--place-content-start);
  }

  .placo-end-lg {
    place-content: var(--place-content-end);
  }
}

@media (min-width: 1200px) {
  .placo-around-xl {
    place-content: space-around;
  }

  .placo-between-xl {
    place-content: space-between;
  }

  .placo-evenly-xl {
    place-content: space-evenly;
  }

  .placo-center-xl {
    place-content: center;
  }

  .placo-stretch-xl {
    place-content: stretch;
  }

  .placo-start-xl {
    place-content: var(--place-content-start);
  }

  .placo-end-xl {
    place-content: var(--place-content-end);
  }
}

/***** 2 - Place Items *****/
.plait-base {
  place-items: var(--place-items-baseline);
}

.plait-normal {
  place-items: normal;
}

.plait-center {
  place-items: center;
}

.plait-stretch {
  place-items: stretch;
}

.plait-start {
  place-items: var(--place-items-start);
}

.plait-end {
  place-items: var(--place-items-end);
}

@media (min-width: 576px) {
  .plait-base-sm {
    place-items: var(--place-items-baseline);
  }

  .plait-normal-sm {
    place-items: normal;
  }

  .plait-center-sm {
    place-items: center;
  }

  .plait-stretch-sm {
    place-items: stretch;
  }

  .plait-start-sm {
    place-items: var(--place-items-start);
  }

  .plait-end-sm {
    place-items: var(--place-items-end);
  }
}

@media (min-width: 768px) {
  .plait-base-md {
    place-items: var(--place-items-baseline);
  }

  .plait-normal-md {
    place-items: normal;
  }

  .plait-center-md {
    place-items: center;
  }

  .plait-stretch-md {
    place-items: stretch;
  }

  .plait-start-md {
    place-items: var(--place-items-start);
  }

  .plait-end-md {
    place-items: var(--place-items-end);
  }
}

@media (min-width: 992px) {
  .plait-base-lg {
    place-items: var(--place-items-baseline);
  }

  .plait-normal-lg {
    place-items: normal;
  }

  .plait-center-lg {
    place-items: center;
  }

  .plait-stretch-lg {
    place-items: stretch;
  }

  .plait-start-lg {
    place-items: var(--place-items-start);
  }

  .plait-end-lg {
    place-items: var(--place-items-end);
  }
}

@media (min-width: 1200px) {
  .plait-base-xl {
    place-items: var(--place-items-baseline);
  }

  .plait-normal-xl {
    place-items: normal;
  }

  .plait-center-xl {
    place-items: center;
  }

  .plait-stretch-xl {
    place-items: stretch;
  }

  .plait-start-xl {
    place-items: var(--place-items-start);
  }

  .plait-end-xl {
    place-items: var(--place-items-end);
  }
}

/***** 2 - Place Self *****/
.plase-auto {
  place-self: auto;
}

.plase-base {
  place-self: var(--place-self-baseline);
}

.plase-normal {
  place-self: normal;
}

.plase-center {
  place-self: center;
}

.plase-stretch {
  place-self: stretch;
}

.plase-start {
  place-self: var(--place-self-start);
}

.plase-end {
  place-self: var(--place-self-end);
}

@media (min-width: 576px) {
  .plase-auto-sm {
    place-self: auto;
  }

  .plase-base-sm {
    place-self: var(--place-self-baseline);
  }

  .plase-normal-sm {
    place-self: normal;
  }

  .plase-center-sm {
    place-self: center;
  }

  .plase-stretch-sm {
    place-self: stretch;
  }

  .plase-start-sm {
    place-self: var(--place-self-start);
  }

  .plase-end-sm {
    place-self: var(--place-self-end);
  }
}

@media (min-width: 768px) {
  .plase-auto-md {
    place-self: auto;
  }

  .plase-base-md {
    place-self: var(--place-self-baseline);
  }

  .plase-normal-md {
    place-self: normal;
  }

  .plase-center-md {
    place-self: center;
  }

  .plase-stretch-md {
    place-self: stretch;
  }

  .plase-start-md {
    place-self: var(--place-self-start);
  }

  .plase-end-md {
    place-self: var(--place-self-end);
  }
}

@media (min-width: 992px) {
  .plase-auto-lg {
    place-self: auto;
  }

  .plase-base-lg {
    place-self: var(--place-self-baseline);
  }

  .plase-normal-lg {
    place-self: normal;
  }

  .plase-center-lg {
    place-self: center;
  }

  .plase-stretch-lg {
    place-self: stretch;
  }

  .plase-start-lg {
    place-self: var(--place-self-start);
  }

  .plase-end-lg {
    place-self: var(--place-self-end);
  }
}

@media (min-width: 1200px) {
  .plase-auto-xl {
    place-self: auto;
  }

  .plase-base-xl {
    place-self: var(--place-self-baseline);
  }

  .plase-normal-xl {
    place-self: normal;
  }

  .plase-center-xl {
    place-self: center;
  }

  .plase-stretch-xl {
    place-self: stretch;
  }

  .plase-start-xl {
    place-self: var(--place-self-start);
  }

  .plase-end-xl {
    place-self: var(--place-self-end);
  }
}
