/***** Classes : Base *****/

// Hide Input Radio & Checkbox used by Animadio
[class*="check"],
[class*="radio"],
[id*="check"],
[id*="radio"] {
  display: none !important;
}

// Container
[class*="container"] {
  margin: auto;
  max-width: var(--container-max-width);
}

@each $key, $value in $containers {
  @include container($key, 'tn', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $containers {
      @include container($key, $type, $value);
    }
  }
}

// Position
@each $key, $value in $positions {
  @include helpers($key, 'position', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $positions {
      @include helpers('#{$key}-#{$type}', 'position', $value);
    }
  }
}

// Colors
@each $colors in $all-colors {
  @each $key, $value in $colors {
    @include helpers('color-#{$key}', 'color', 'var(--#{$key})');
  }
}

@each $colors in $main-colors {
  @each $key, $value in $colors {
    @include helpers('bg-#{$key}', 'background-color', 'var(--#{$key})');
    @include helpers('bg-#{$key}-dark', 'background-color', 'var(--#{$key}-dark)');
    @include helpers('bg-#{$key}-light', 'background-color', 'var(--#{$key}-light)');
  }
}

// Animation default
[class*="anima-"][class*="-this"],
[class*="anima-"][class*="-global"] > *,
[class*="anima-"][class*="-onto"]:hover,
[class*="anima-"][class*="-onto"]:focus,
*:hover > [class*="anima-"][class*="-into"],
*:focus > [class*="anima-"][class*="-into"],
[class*="anima-"][class*="-toall"]:hover > *,
[class*="anima-"][class*="-toall"]:focus > *,
[class*="anima-"][class*="-toone"] > *:hover,
[class*="anima-"][class*="-toone"] > *:focus,
[class*="anima-"][class*="-radio1"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target1"],
[class*="anima-"][class*="-radio2"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target2"],
[class*="anima-"][class*="-radio3"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target3"],
[class*="anima-"][class*="-radio4"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target4"],
[class*="anima-"][class*="-radio5"]:checked ~ [class*="anima-"][class*="-relay"] [class*="anima-"][class*="-target5"],
[class*="anima-"][class*="-check"]:checked ~ [class*="anima-"][class*="-hub"] [class*="anima-"][class*="-goal"] {
  animation-duration: var(--animation-duration);
}

// Animations
@each $key, $value in $transforms {
  @include anima($key, 'animation-name', $key);
}

// Animation Options
@each $type, $option in $animation-options {
  @each $key, $value in $option {
    @include anima($key, 'animation-#{$type}', 'var(--animation-#{$type}-#{$key})');
  }
}

// Animation Directions
@each $key, $value in $animation-directions {
  @include anima($key, 'animation-direction', $value);
}
