/***** Classes : Btn *****/

[class*="btn"],
[class*="button"] {
  display: inline-block;
  margin: var(--btn-margin);
  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  font-weight: var(--btn-font-weight);
  text-align: var(--btn-text-align);

  & > * {
    display: block;
    margin: var(--btn-child-margin);
  }
}

[class*="btn"] {
  border-style: var(--btn-border-style);
  border-width: var(--btn-border-width);
  border-radius: var(--btn-border-radius);
  border-color: var(--btn-border-color);
  background-color: var(--btn-background-color);
  color: var(--btn-color);
}

[class*="button"] {
  border-style: var(--button-border-style);
  border-width: var(--button-border-width);
  border-radius: var(--button-border-radius);
  border-color: var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-color);
}

[class*="btn"]:hover,
[class*="button"]:hover,
[class*="btn"]:focus,
[class*="button"]:focus,
[class*="btn-check"]:checked + [class*="btn"],
[class*="button-check"]:checked + [class*="button"] {
  border-radius: var(--btn-hover-border-radius);
  transition: var(--btn-hover-transition);
  animation: var(--btn-hover-animation);
}

[class*="btn"]:hover,
[class*="btn"]:focus,
[class*="btn-check"]:checked + [class*="btn"] {
  border-style: var(--btn-hover-border-style);
  border-width: var(--btn-hover-border-width);
  box-shadow: var(--btn-hover-box-shadow);
  border-color: var(--btn-hover-border-color);
  background-color: var(--btn-hover-background-color);
  color: var(--btn-hover-color);
}

[class*="button"]:hover,
[class*="button"]:focus,
[class*="button-check"]:checked + [class*="button"] {
  border-style: var(--button-hover-border-style);
  border-width: var(--button-hover-border-width);
  box-shadow: var(--button-hover-box-shadow);
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-color);
}

[class*="check"]:checked + [class*="btn"],
[class*="check"]:checked + [class*="button"] {
  transform: var(--btn-checked-transform);
}

@each $colors in $main-colors {
  @each $key, $value in $colors {
    @include btn-color($key, $value);
  }
}

@each $size in $btn-size {
  .btn-#{$size},
  .button-#{$size} {
    padding: var(--btn-#{$size}-padding);
    font-size: var(--btn-#{$size}-font-size);
  }
}

@each $shape in $btn-shape {
  .btn-#{$shape},
  .button-#{$shape} {
    border-radius: var(--btn-#{$shape}-border-radius);
    padding-top: var(--btn-#{$shape}-padding-top);
    min-width: var(--btn-#{$shape}-sizes);
    min-height: var(--btn-#{$shape}-sizes);
  }

  .btn-#{$shape}:hover,
  .button-#{$shape}:hover,
  .btn-#{$shape}:focus,
  .button-#{$shape}:focus {
    border-radius: var(--btn-#{$shape}-border-radius);
  }
}
