/***** Classes : Canvas *****/

[class*="canvas"] {
  display: block;
}

.canvas {
  margin: var(--canvas-margin);
  border: var(--canvas-border);
  border-radius: var(--canvas-border-radius);
  background-color: var(--canvas-background-color);
  cursor: var(--canvas-cursor);
}

.canvas-controls {
  margin: var(--canvas-controls-margin);
  border: var(--canvas-controls-border);
  border-radius: var(--canvas-controls-border-radius);
  width: var(--canvas-controls-width);
  background-color: var(--canvas-controls-background-color);
  opacity: var(--canvas-controls-opacity);
  transition: var(--canvas-controls-transition);

  &:hover,
  &:focus {
    opacity: var(--canvas-controls-hover-opacity);
    transition: var(--canvas-controls-hover-transition);
  }

  & > * {
    display: flex;
    flex-direction: var(--canvas-child-flex-direction);
    place-items: var(--canvas-child-place-items);
    margin: var(--canvas-child-margin);
  }

  & label {
    padding: var(--canvas-label-padding);
    color: var(--canvas-label-color);
  }

  & input,
  & button {
    cursor: var(--canvas-options-cursor);
  }
}
