/***** Classes : Canvas *****/

.canvas {
  & > canvas {
    border: var(--canvas-border);
    border-radius: var(--canvas-border-radius);
    cursor: var(--canvas-cursor);
  }

  &:hover > .canvas-controls,
  &:focus > .canvas-controls {
    opacity: var(--canvas-hover-controls-opacity);
    transition: var(--canvas-hover-controls-transition);
  }
}

.canvas-controls {
  margin: var(--canvas-controls-margin);
  border: var(--canvas-controls-border);
  border-radius: var(--canvas-controls-border-radius);
  width: var(--canvas-controls-width);
  background-color: var(--canvas-controls-background-color);
  opacity: var(--canvas-controls-opacity);
  transition: var(--canvas-controls-transition);

  & li {
    display: flex;
    flex-direction: var(--canvas-controls-list-flex-direction);
    place-items: var(--canvas-controls-list-place-items);
    margin: var(--canvas-controls-list-margin);
  }

  & label {
    padding: var(--canvas-controls-label-padding);
    color: var(--canvas-controls-label-color);
  }
}
