/***** Classes : Card *****/

[class*="card"] {
  display: inline-flex;
  flex-direction: var(--card-flex-direction);
  place-content: var(--card-place-content);
  place-items: var(--card-place-items);
  position: var(--card-position);
  overflow: var(--card-overflow);
  margin: var(--card-margin);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  height: var(--card-height);
  max-width: var(--card-max-width);
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background-color);
  color: var(--card-color);

  &:hover,
  &:focus {
    transform: var(--card-hover-transform);
    transition: var(--card-hover-transition);
  }

  & > * {
    margin: var(--card-child-margin);
    border: var(--card-child-border);
    border-radius: var(--card-child-border-radius);
    padding: var(--card-child-padding);
    max-width: var(--card-child-max-width);
    background-color: var(--card-child-background-color);
    text-align: var(--card-child-text-align);

    &::selection {
      background-color: var(--card-selection-background-color);
      color: var(--card-selection-color);
    }
  }

  & > *:first-child {
    font-size: var(--card-title-font-size);
    text-shadow: var(--card-title-text-shadow);
  }

  & > [class*="btn"],
  & > [class*="button"] {
    width: var(--card-btn-width);
    background-color: inherit;
    color: var(--card-btn-color);
    font-weight: var(--card-btn-font-weight);
    text-align: var(--card-btn-text-align);

    &:hover,
    &:focus {
      border-color: var(--card-btn-hover-border-color);
      background-color: var(--card-btn-hover-background-color);
      color: var(--card-btn-hover-color);
    }
  }
}

@each $key, $value in $primary-colors {
  .card-#{$key} {
    background-color: var(--#{$key}-dark);
    color: var(--#{$key});

    & > h1,
    & > h2,
    & > h3,
    & > h4,
    & > h5,
    & > h6 {
      color: var(--#{$key});
    }
  }
}
