/***** Classes : Display *****/

@each $key, $value in $displays {
  @include helpers($key, 'display', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $displays {
      @include helpers('#{$key}-#{$type}', 'display', $value);
    }
  }
}

// Grid
[class*="grid"] {
  display: grid;
  max-width: var(--grid-max-width);
  margin: var(--grid-margin);
}

@for $i from 2 to 13 {
  @include grid-template($i, 'tn');
}

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 2 to 13 {
      @include grid-template($i, $key);
    }
  }
}

@include grid-gap('tn');

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    @include grid-gap($key);
  }
}

// Flex
.flex,
.col,
.row,
.col-rev,
.row-rev {
  display: flex;
  place-content: var(--flex-place-content);
}

.col,
.col-rev {
  padding: var(--column-padding);
}

.row,
.row-rev {
  padding: var(--row-padding);
}

.flex {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.col-rev {
  flex-direction: column-reverse;
}

.row-rev {
  flex-direction: row-reverse;
}

// Place-content
@each $key, $value in $place-content-var {
  @include place-content($key);
}
@each $key, $value in $place-content {
  @include place-content($key, '', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {

    @each $key, $value in $place-content-var {
      @include place-content($key, '-#{$type}');
    }

    @each $key, $value in $place-content {
      @include place-content($key, '-#{$type}', $value);
    }
  }
}

// Place-items
@each $key, $value in $place-items-var {
  @include place-items($key);
}

@each $key, $value in $place-items {
  @include place-items($key, '', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {

    @each $key, $value in $place-items-var {
      @include place-items($key, '-#{$type}');
    }

    @each $key, $value in $place-items {
      @include place-items($key, '-#{$type}', $value);
    }
  }
}

// Place-self
@each $key, $value in $place-self-var {
  @include place-self($key);
}

@each $key, $value in $place-self {
  @include place-self($key, '', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {

    @each $key, $value in $place-self-var {
      @include place-self($key, '-#{$type}');
    }

    @each $key, $value in $place-self {
      @include place-self($key, '-#{$type}', $value);
    }
  }
}
