/***** Classes : Form *****/

.form {
  margin: var(--form-margin);
  border: var(--form-border);
  border-radius: var(--form-border-radius);
  padding: var(--form-padding);
  width: var(--form-width);
  background-color: var(--form-background-color);
  box-shadow: var(--form-box-shadow);

  fieldset {
    border: var(--form-fieldset-border);
  }

  legend {
    margin: var(--form-legend-margin);
    font-size: var(--form-legend-font-size);
    font-weight: var(--form-legend-font-weight);
  }

  li {
    display: flex;
    flex-direction: var(--form-list-flex-direction);
    place-content: var(--form-list-place-content);
    place-items: var(--form-list-place-items);
  }

  label {
    margin: var(--form-label-margin);
    padding: var(--form-label-padding);
    font-size: var(--form-label-font-size);
    color: var(--form-label-color);
    text-decoration: var(--form-label-text-decoration);
  }

  input,
  select,
  textarea {
    margin: var(--form-field-margin);
    border: var(--form-field-border);
    border-radius: var(--form-field-border-radius);
    outline: var(--form-field-outline);
    padding: var(--form-field-padding);
    width: var(--form-field-width);
    line-height: var(--form-field-line-height);
    background-color: var(--form-field-background-color);
    box-shadow: var(--form-field-box-shadow);

    &:hover,
    &:focus {
      border: var(--form-field-hover-border);
      box-shadow: var(--form-field-hover-box-shadow);
    }

    &::placeholder {
      font-style: var(--form-field-placeholder-font-style);
      color: var(--form-field-placeholder-color);
    }
  }

  [type="reset"],
  [type="submit"] {
    margin: var(--form-action-margin);
    width: var(--form-action-width);
    font-size: var(--form-action-font-size);
    font-weight: var(--form-action-font-weight);
    line-height: var(--form-action-line-height);
    cursor: var(--form-action-cursor);

    &:hover,
    &:focus {
      transform: var(--form-action-hover-transform);
      transition: var(--form-action-hover-transition);
    }
  }

  [type="reset"] {
    border: var(--form-reset-border);
    box-shadow: var(--form-reset-box-shadow);
    background-color: var(--form-reset-background-color);
    color: var(--form-reset-color);

    &:hover,
    &:focus {
      border: var(--form-reset-hover-border);
      box-shadow: var(--form-reset-hover-box-shadow);
      background-color: var(--form-reset-hover-background-color);
      color: var(--form-reset-hover-color);
    }
  }

  [type="submit"] {
    border: var(--form-submit-border);
    box-shadow: var(--form-submit-box-shadow);
    background-color: var(--form-submit-background-color);
    color: var(--form-submit-color);

    &:hover,
    &:focus {
      border: var(--form-submit-hover-border);
      box-shadow: var(--form-submit-hover-box-shadow);
      background-color: var(--form-submit-hover-background-color);
      color: var(--form-submit-hover-color);
    }
  }
}
