/***** Classes : Gallery *****/

.gallery {
  display: flex;
  flex-wrap: var(--gallery-flex-wrap);
  place-content: var(--gallery-place-content);
  place-items: var(--gallery-place-items);
  overflow: var(--gallery-overflow);
  margin: var(--gallery-margin);
  max-width: var(--gallery-max-width);

  * {
    cursor: var(--gallery-all-cursor);
  }

  figure {
    display: flex;
    place-content: var(--gallery-place-content);
    place-items: var(--gallery-place-items);
    position: var(--gallery-figure-position);
    overflow: var(--gallery-figure-overflow);
    margin: var(--gallery-figure-margin);
    border: var(--gallery-figure-border);
    width: var(--gallery-figure-width);
    line-height: var(--gallery-figure-line-height);
    box-shadow: var(--gallery-figure-box-shadow);

    &:hover figcaption,
    &:focus figcaption {
      animation: var(--gallery-figure-hover-figcaption-animation);
      bottom: var(--gallery-figure-hover-figcaption-bottom);
    }
  }

  figcaption {
    position: var(--gallery-figcaption-position);
    bottom: var(--gallery-figcaption-bottom);
    padding: var(--gallery-figcaption-padding);
    width: var(--gallery-figcaption-width);
    line-height: var(--gallery-figcaption-line-height);
    background-color: var(--gallery-figcaption-background-color);

    [class*="fa-"] {
      position: var(--gallery-figcaption-fa-position);
      top: var(--gallery-figcaption-fa-top);
      right: var(--gallery-figcaption-fa-right);
      border: var(--gallery-figcaption-fa-border);
      border-radius: var(--gallery-figcaption-fa-radius);
      padding: var(--gallery-figcaption-fa-padding);
      background-color: var(--gallery-figcaption-fa-background-color);
    }
  }

  a {
    color: var(--gallery-link-color);

    * {
      margin: var(--gallery-link-all-margin);
      padding: var(--gallery-link-all-padding);
      font-size: var(--gallery-link-all-font-size);
      cursor: var(--gallery-link-all-cursor);
    }
  }
}
