/***** Classes : Head *****/

.head {
  display: block;
  margin: var(--head-margin);
  border: var(--head-border);
  border-radius: var(--head-border-radius);
  padding: var(--head-padding);
  max-width: var(--head-max-width);
  font-family: var(--head-font-family);
  font-size: var(--head-font-size);
  text-align: var(--head-text-align);
  box-shadow: var(--head-box-shadow);
  background-color: var(--head-background-color);
  color: var(--head-color);

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    margin: var(--head-title-margin);
    text-transform: var(--head-title-text-transform);
  }

  &:hover,
  &:focus {
    transform: var(--head-hover-transform);
    transition: var(--head-hover-transition);
  }

  &::selection,
  & > *::selection {
    background-color: var(--head-selection-background-color);
    color: var(--head-selection-color);
  }
}
