/***** Classes : Init *****/

// Hide Input Radio & Checkbox used by Animadio
[class*="check"],
[class*="radio"],
[id*="check"],
[id*="radio"] {
  display: none !important;
}

// Container
[class*="container"] {
  margin: auto;
  max-width: var(--container-max-width);
}

@each $key, $value in $containers {
  @include container($key, 'tn', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $containers {
      @include container($key, $type, $value);
    }
  }
}

// Position
@each $key, $value in $positions {
  @include helpers($key, 'position', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $positions {
      @include helpers('#{$key}-#{$type}', 'position', $value);
    }
  }
}
