/***** Classes : Init *****/

// Hide Radio & Check Classes
[class*="check"],
[class*="radio"] {
  display: none !important;
}

// Container
[class*="container"] {
  margin: auto;
  max-width: var(--container-max-width);
}

@each $key, $value in $containers {
  @include container($key, 'tn', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $containers {
      @include container($key, $type, $value);
    }
  }
}
