/***** Classes : Menu *****/

.menu {
  display: flex;
  position: fixed;
  bottom: var(--menu-bottom);
  z-index: var(--menu-z-index);
  width: var(--menu-width);
  background-color: var(--menu-background-color);

  & > * {
    display: flex;
    place-content: var(--menu-child-place-content);
    place-items: var(--menu-child-place-items);
    margin: var(--menu-child-margin);
    border-radius: var(--menu-child-border-radius);
    padding: var(--menu-child-padding);
    width: var(--menu-child-width);
    background-color: var(--menu-child-background-color);
    color: var(--menu-child-color);
    cursor: var(--menu-child-cursor);

    & > * {
      margin: var(--menu-children-margin);
    }

    &:hover,
    &:focus {
      border-radius: var(--menu-child-hover-border-radius);
      background-color: var(--menu-child-hover-background-color);
      color: var(--menu-child-hover-color);
      transition: background-color 1s;

      & > * {
        transform: var(--menu-children-hover-transform);
        transition: transform 1s;
      }
    }
  }

  & span {
    display: none;
  }

  & ~ footer {
    margin-bottom: var(--menu-footer-margin-bottom);
  }
}

.menu-relay {
  & > * {
    display: none;
  }

  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    display: block;
  }
}

.menu-radio1:checked ~ .menu [for*="menu-"][for*="-radio1"],
.menu-radio2:checked ~ .menu [for*="menu-"][for*="-radio2"],
.menu-radio3:checked ~ .menu [for*="menu-"][for*="-radio3"],
.menu-radio4:checked ~ .menu [for*="menu-"][for*="-radio4"],
.menu-radio5:checked ~ .menu [for*="menu-"][for*="-radio5"],
.menu-radio6:checked ~ .menu [for*="menu-"][for*="-radio6"],
.menu-radio7:checked ~ .menu [for*="menu-"][for*="-radio7"],
.menu-radio8:checked ~ .menu [for*="menu-"][for*="-radio8"],
.menu-radio9:checked ~ .menu [for*="menu-"][for*="-radio9"] {
  font-weight: var(--menu-checked-child-font-weight);
  background-color: var(--menu-checked-child-background-color);
  color: var(--menu-checked-child-color);

  &:hover {
    background-color: var(--menu-child-hover-background-color);
  }
}

.menu-radio1:checked ~ .menu-relay [class*="menu-"][class*="-target1"],
.menu-radio2:checked ~ .menu-relay [class*="menu-"][class*="-target2"],
.menu-radio3:checked ~ .menu-relay [class*="menu-"][class*="-target3"],
.menu-radio4:checked ~ .menu-relay [class*="menu-"][class*="-target4"],
.menu-radio5:checked ~ .menu-relay [class*="menu-"][class*="-target5"],
.menu-radio6:checked ~ .menu-relay [class*="menu-"][class*="-target6"],
.menu-radio7:checked ~ .menu-relay [class*="menu-"][class*="-target7"],
.menu-radio8:checked ~ .menu-relay [class*="menu-"][class*="-target8"],
.menu-radio9:checked ~ .menu-relay [class*="menu-"][class*="-target9"] {
  display: block;
}

@media (min-width: $breakpoint-lg) {
  .menu span {
    display: block;
  }
}
