/***** Classes : Navbar *****/

.navbar {
  place-content: var(--navbar-place-content);
  place-items: var(--navbar-place-items);
  position: var(--navbar-position);
  top: var(--navbar-top);
  right: var(--navbar-right);
  bottom: var(--navbar-bottom);
  left: var(--navbar-left);
  z-index: var(--navbar-z-index);
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);

  &,
  & > ul:first-of-type a,
  & > ul:first-of-type label,
  & > ul:last-of-type a,
  & > ul:last-of-type label {
    display: flex;
  }

  & > ul:first-of-type span,
  & > ul:last-of-type span {
    display: none;
  }

  a,
  label {
    padding: var(--navbar-link-padding);
    color: var(--navbar-link-color);
    cursor: var(--navbar-link-cursor);
  }

  i {
    place-self: var(--navbar-icon-place-self);
  }

  & + * {
    margin-top: var(--navbar-height);
  }

  & > ul {
    place-items: var(--navbar-list-place-items);
    margin: var(--navbar-list-margin);
    padding: var(--navbar-list-padding);
    list-style: var(--navbar-list-list-style);

    a,
    label {
      flex-direction: var(--navbar-list-link-flex-direction);
    }

    &:first-of-type {
      a:hover,
      a:focus,
      label:hover,
      label:focus {
        color: var(--navbar-link-hover-color);
        transform: scale(var(--navbar-first-list-link-hover-scale));
      }
    }

    &:last-of-type {
      img,
      svg {
        margin: var(--navbar-last-list-img-margin);
        height: var(--navbar-last-list-height);
      }

      a:hover,
      a:focus,
      label:hover,
      label:focus {
        transform: scale(var(--navbar-last-list-link-hover-scale));
      }
    }
  }

  & > input + a:first-of-type,
  & > input + label:first-of-type {
    position: absolute;
    left: var(--navbar-brand-link-left);
  }

  & > a:first-of-type img,
  & > a:first-of-type svg {
    height: var(--navbar-brand-link-img-height);
  }

  & > [for*="navbar"] {
    position: absolute;
    right: var(--navbar-label-right);

    &:hover,
    &:focus {
      color: var(--navbar-label-hover-color);
    }
  }
}

.navbar {
  &-close:checked ~ ul:first-of-type,
  &-open:checked ~ ul:last-of-type {
    display: flex;
  }

  &-close,
  &-open,
  &-open:checked ~ ul:first-of-type,
  &-close:checked ~ ul:last-of-type,
  &-close:checked ~ [for="navbar-close"],
  &-open:checked ~ [for="navbar-open"] {
    display: none;
  }
}

@media (min-width: $breakpoint-md) {
  .navbar {
    & > ul {
      display: flex !important;
    }

    & > input + a:first-of-type,
    & > input + label:first-of-type {
      position: static;
    }

    & > [for*="navbar"] {
      display: none;
    }
  }
}

@media (min-width: $breakpoint-lg) {
  .navbar > ul:first-of-type span {
    display: inline;
    font-size: var(--navbar-first-list-span-font-size);
    text-align: var(--navbar-first-list-span-text-align);
  }
}
