/***** Classes : Slider *****/

.slider {
  position: relative;
  margin: var(--slider-margin);
  width: var(--slider-width);

  & > .slider-relay {
    text-align: var(--slider-relay-text-align);
  }

  & [class*="target"] {
    display: none;
  }

  & figcaption {
    position: absolute;
    top: var(--slider-figcaption-top);
    left: var(--slider-figcaption-left);
    padding: var(--slider-figcaption-padding);
    width: var(--slider-figcaption-width);
    height: var(--slider-figcaption-height);
    font-weight: var(--slider-figcaption-font-weight);
  }

  & button {
    position: absolute;
    border: var(--slider-button-border);
    font-size: var(--slider-button-font-size);
    background: var(--slider-button-background);
    color: var(--slider-button-color);
  }

  &-previous {
    top: var(--slider-previous-top);
    left: var(--slider-previous-left);
  }

  &-auto {
    bottom: var(--slider-auto-bottom);
    left: var(--slider-auto-left);
    opacity: var(--slider-auto-opacity);
  }

  &:hover &-auto,
  &:focus &-auto {
    opacity: var(--slider-auto-hover-opacity);
  }

  &-random {
    top: var(--slider-random-top);
    left: var(--slider-random-left);
    opacity: var(--slider-random-opacity);
  }

  &:hover &-random,
  &:focus &-random {
    opacity: var(--slider-random-hover-opacity);
  }

  &-next {
    top: var(--slider-next-top);
    right: var(--slider-next-right);
  }

  &-progress {
    display: flex;
    position: absolute;
    place-content: var(--slider-progress-place-content);
    top: var(--slider-progress-top);
    margin-left: var(--slider-progress-margin-left);
    width: var(--slider-progress-width);

    & label {
      padding: var(--slider-progress-label-padding);
      font-size: var(--slider-progress-label-font-size);
      color: var(--slider-progress-label-color);
    }
  }
}

.slider-radio1:checked ~ .slider-relay .slider-target1,
.slider-radio2:checked ~ .slider-relay .slider-target2,
.slider-radio3:checked ~ .slider-relay .slider-target3,
.slider-radio4:checked ~ .slider-relay .slider-target4,
.slider-radio5:checked ~ .slider-relay .slider-target5,
.slider-radio6:checked ~ .slider-relay .slider-target6,
.slider-radio7:checked ~ .slider-relay .slider-target7,
.slider-radio8:checked ~ .slider-relay .slider-target8,
.slider-radio9:checked ~ .slider-relay .slider-target9 {
  display: inline-block;
}

.slider-radio1:checked ~ .slider-progress [for="slider-radio1"] *::before,
.slider-radio2:checked ~ .slider-progress [for="slider-radio2"] *::before,
.slider-radio3:checked ~ .slider-progress [for="slider-radio3"] *::before,
.slider-radio4:checked ~ .slider-progress [for="slider-radio4"] *::before,
.slider-radio5:checked ~ .slider-progress [for="slider-radio5"] *::before,
.slider-radio6:checked ~ .slider-progress [for="slider-radio6"] *::before,
.slider-radio7:checked ~ .slider-progress [for="slider-radio7"] *::before,
.slider-radio8:checked ~ .slider-progress [for="slider-radio8"] *::before,
.slider-radio9:checked ~ .slider-progress [for="slider-radio9"] *::before {
 content: var(--slider-checked-content);
}
