/***** Classes : Table *****/

.table {
  display: table;
  border-collapse: var(--table-border-collapse);
  border-spacing: var(--table-border-spacing);
  margin: var(--table-margin);
  width: var(--table-width);
  max-width: var(--table-max-width);
  font-size: var(--table-font-size);
  box-shadow: var(--table-box-shadow);

  &-inline {
    display: inline-table;
  }

  &-caption {
    display: table-caption;
  }

  &-row {
    display: table-row;
  }

  &-col {
    display: table-column;
  }

  &-cell {
    display: table-cell;
  }

  &-collapse {
    border-collapse: collapse;
  }

  &-separate {
    border-collapse: separate;
  }

  & > caption {
    caption-side: var(--table-caption-side);
    margin: var(--table-caption-margin);
    font-size: var(--table-caption-font-size);
    font-weight: var(--table-caption-font-weight);
    color: var(--table-caption-color);
    text-shadow: var(--table-caption-text-shadow);
  }

  th {
    font-size: var(--table-title-font-size);
    font-style: var(--table-title-font-style);
    background-color: var(--table-title-background-color);
    color: var(--table-title-color);
  }

  th,
  td {
    border-style: var(--table-cell-border-style);
    border-width: var(--table-cell-border-width);
    border-radius: var(--table-cell-border-radius);
    border-color: var(--table-cell-border-color);
    padding: var(--table-cell-padding);
    text-align: var(--table-cell-text-align);
    vertical-align: var(--table-cell-vertical-align);
  }

  td {
    word-break: var(--table-cell-word-break);
    cursor: var(--table-cell-cursor);
  }

  tbody tr {
    &:nth-child(even) {
      background-color: var(--table-even-background-color);
      color: var(--table-even-color);
    }

    &:nth-child(odd) {
      background-color: var(--table-odd-background-color);
      color: var(--table-odd-color);
    }

    &:hover,
    &:focus {
      background-color: var(--table-row-hover-background-color);
      color: var(--table-row-hover-color);
    }
  }
}
