/***** Variables : Grid : Flex *****/

[class*="flex-"] {
  --flex-negative-margin-lg: -20px;
  --flex-negative-margin-md: -10px;
  --flex-negative-margin-sm: -5px;
  --flex-negative-margin-xl: -50px;
  --flex-negative-margin-xs: -2px;
  --flex-positive-margin-lg: 20px;
  --flex-positive-margin-md: 10px;
  --flex-positive-margin-sm: 5px;
  --flex-positive-margin-xl: 50px;
  --flex-positive-margin-xs: 2px;
  --flex-width-lg: 40px;
  --flex-width-md: 20px;
  --flex-width-sm: 10px;
  --flex-width-xl: 100px;
  --flex-width-xs: 4px;
}

[class*="column"] {
  --column-padding: 0 10px;
}

[class*="row"] {
  --row-padding: 10px 0;
}
