/****************************/
/********** NAVBAR **********/
/****************************/

/* Global */
/* Navbar */
/* Brand Nav */
/* Main Nav */
/* User Nav */
/* Medias Rules */


/******************/
/***** Global *****/
.navbar,
.main-nav,
.nav-user,
.main-nav a,
.nav-user a {
    display: flex;
}


/******************/
/***** Navbar *****/
.navbar {
    align-items: var(--navbar-align-items);
    background-color: var(--navbar-background-color);
    color: var(--navbar-color);

    /***** Mobile Portrait *****/
    justify-content: var(--navbar-justify-content-tn);
}

/***** Nav Main & User *****/
.nav-main,
.nav-user {
    align-items: var(--nav-main-align-items);
    margin: var(--nav-main-margin);
    padding: var(--nav-main-padding);
    list-style: none;
}

/***** Navbar Links *****/
.navbar a {
    padding: var(--navbar-a-padding);
    color: var(--white);
}

.nav-main a,
.nav-user a {
    flex-direction: column;
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active {
    color: var(--yellow);
    transform: scale(var(--navbar-a-scale));
}

/***** Navbar Icons *****/
.navbar i {
    align-self: var(--navbar-i-align-self);
}


/*********************/
/***** Brand Nav *****/
.nav-brand img,
.nav-brand svg {
    height: var(--nav-brand-img-height);
}


/********************/
/***** Main Nav *****/
.main-nav span {
    display: var(--nav-main-span-display);
}


/********************/
/***** User Nav *****/
.nav-user p {
    display: var(--nav-user-p-display);
}

.nav-user img,
.nav-user svg {
    margin: var(--nav-user-img-margin);
    height: var(--nav-user-height);
}


/************************/
/***** Medias Rules *****/

/***** Mobile Landscape *****/
@media (min-width: 576px) {
    .navbar {
        flex-direction: var(--navbar-flex-direction-sm);
        justify-content: var(--navbar-justify-content-sm);
        padding: var(--navbar-padding-sm);
    }

    .nav-brand img,
    .nav-brand svg {
        height: calc(var(--nav-brand-img-height) * 1.25);
    }

    .nav-user img,
    .nav-user svg {
        margin: calc(var(--nav-user-img-margin) * 2);
        height: calc(var(--nav-user-height) * 1.25);
    }
}

/***** Tablet Portrait *****/
@media (min-width: 768px) {
    .navbar {
        justify-content: var(--navbar-justify-content-md);
    }

    .nav-brand img,
    .nav-brand svg {
        height: calc(var(--nav-brand-img-height) * 1.5);
    }

    .main-nav span {
        display: var(--nav-main-span-display-md);
    }

    .nav-user img,
    .nav-user svg {
        margin: calc(var(--nav-user-img-margin) * 3);
        height: calc(var(--nav-user-height) * 1.5);
    }
}

/***** Tablet Landscape *****/
@media (min-width: 992px) {
    .nav-brand img,
    .nav-brand svg {
        height: calc(var(--nav-brand-img-height) * 1.75);
    }

    .nav-user img,
    .nav-user svg {
        margin: calc(var(--nav-user-img-margin) * 4);
        height: calc(var(--nav-user-height) * 1.75);
    }
}

/***** Desktop *****/
@media (min-width: 1200px) {
    .nav-brand img,
    .nav-brand svg {
        height: calc(var(--nav-brand-img-height) * 2);
    }

    .nav-user img,
    .nav-user svg {
        margin: calc(var(--nav-user-img-margin) * 5);
        height: calc(var(--nav-user-height) * 2);
    }
    .nav-user p {
        display: var(--nav-user-p-display-wd);
        margin-right: var(--nav-user-p-margin-right-wd);
    }
}