/********** BTN **********/

/*
1. Buttons
2. Buttons Hover, Focus & Active
3. Buttons Active & Checked
4. Buttons Icons
5. Buttons with Main Colors
6. Buttons with Pale Colors
7. Buttons with Brand Colors
8. Buttons with Transparent Colors
9. Buttons with Differents Sizes
10. Buttons with Differents Shapes
*/

/***** Buttons *****/
[class*="btn"],
[class*="button"] {
  --btn-bg: var(--blue);
  --btn-bord: solid medium var(--quartz);
  --btn-color: var(--white);
  --btn-font-size: 1.5rem;
  --btn-mar: 10px;
  --btn-pad: 5px 10px;
  --btn-radius: 10px;
  --btn-text-align: center;
  --btn-hover-anima: none;
  --btn-hover-bg: var(--blue);
  --btn-hover-bord: outset medium var(--obsidian);
  --btn-hover-color: var(--silver);
  --btn-hover-radius: 0;
  --btn-hover-shabox: 5px 5px 5px var(--gray);
  --btn-hover-transition: border 1s;
  --check-button-transform: scale(0.9);
  --btn-color-black: var(--white);
  --btn-color-blue: var(--white);
  --btn-color-gray: var(--white);
  --btn-color-green: var(--white);
  --btn-color-maroon: var(--white);
  --btn-color-orange: var(--white);
  --btn-color-purple: var(--white);
  --btn-color-red: var(--white);
  --btn-color-yellow: var(--blue);
  --btn-color-choco: var(--white);
  --btn-color-jade: var(--violet);
  --btn-color-khaki: var(--sky);
  --btn-color-salmon: var(--white);
  --btn-color-silver: var(--black);
  --btn-color-sky: var(--white);
  --btn-color-tomato: var(--white);
  --btn-color-violet: var(--white);
  --btn-color-white: var(--black);
  --btn-color-fb: var(--white);
  --btn-color-github: var(--white);
  --btn-color-linkedin: var(--white);
  --btn-color-npm: var(--white);
  --btn-color-stack: var(--white);
  --btn-color-tw: var(--white);
  --btn-color-amthyst: var(--white);
  --btn-color-citrine: var(--sky);
  --btn-color-quartz: var(--black);
  --btn-color-emerald: var(--violet);
  --btn-color-obsidian: var(--white);
  --btn-color-ruby: var(--white);
  --btn-color-sapphire: var(--khaki);
  --btn-pad-tn: 1px 2px;
  --btn-pad-sm: 2px 5px;
  --btn-pad-md: 5px 10px;
  --btn-pad-lg: 10px 20px;
  --btn-pad-wd: 20px 50px;
  --btn-radius-slight: 10px;
  --btn-radius-round: 50px;
  --btn-radius-circle: 50%;
  --btn-radius-ellipse: 50% / 25%;

  display: inline-block;
  margin: var(--btn-mar);
  border: var(--btn-bord);
  border-radius: var(--btn-radius);
  padding: var(--btn-pad);
  font-size: var(--btn-font-size);
  text-align: var(--btn-text-align);
  background-color: var(--btn-bg);
  color: var(--btn-color);
}

/***** Buttons Hover, Focus & Active *****/
[class*="btn"]:hover,
[class*="button"]:hover,
[class*="btn"]:focus,
[class*="button"]:focus,
[class*="btn"]:active,
[class*="button"]:active {
  border: var(--btn-hover-bord);
  border-radius: var(--btn-hover-radius);
  box-shadow: var(--btn-hover-shabox);
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-color);
  transition: var(--btn-hover-transition);
  animation: var(--btn-hover-anima);
}

/***** Buttons Active & Checked *****/
[class*="btn"]:active,
[class*="check"]:checked + [class*="button"] {
  transform: var(--check-button-transform);
}

/***** Buttons Icons *****/
[class*="btn"] > i,
[class*="button"] > i {
  display: block;
}

