/******************** BTN ********************/

/*
1. BTN
  1.1 Btn & Button
2. BTN STATES
  2.1 Buttons Hover, Focus & Active
  2.2 Buttons Active & Checked
3. BTN ICON
  3.1 Buttons Icon
4. BTN COLORS
  4.1 Buttons Main Colors
  4.2 Buttons Pale Colors
  4.3 Buttons Brand Colors
  4.4 Buttons Transparent Colors
5. BTN SIZES
  5.1 Buttons Sizes
6. BTN SHAPES
  6.1 Buttons Shapes
*/

/********** 1. BTN **********/

/*
1.1 Btn & Button
*/

/***** Btn & Button *****/
[class*="btn"],
[class*="button"] {
  display: inline-block;
  margin: var(--btn-mar);
  border: var(--btn-bord);
  border-radius: var(--btn-radius);
  padding: var(--btn-pad);
  font-size: var(--btn-font-size);
  text-align: var(--btn-text-align);
  background-color: var(--btn-bg);
  color: var(--btn-color);
}

/********** 2. BTN STATES **********/

/*
2.1 Buttons Hover, Focus & Active
2.2 Buttons Active & Checked
*/

/***** 2.1 Buttons Hover, Focus & Active *****/
[class*="btn"]:hover,
[class*="button"]:hover,
[class*="btn"]:focus,
[class*="button"]:focus,
[class*="btn"]:active,
[class*="button"]:active {
  border: var(--btn-hover-bord);
  border-radius: var(--btn-hover-radius);
  box-shadow: var(--btn-hover-shabox);
  background-color: var(--btn-hover-bg);
  color: var(--btn-hover-color);
  transition: var(--btn-hover-transition);
  animation: var(--btn-hover-anima);
}

/***** 2.2 Buttons Active & Checked *****/
[class*="btn"]:active,
[class*="check"]:checked + [class*="button"] {
  transform: var(--check-button-transform);
}

/********** 3. BTN ICON **********/

/*
3.1 Buttons Icons
*/

/***** 3.1 Buttons Icons *****/
[class*="btn"] > i,
[class*="button"] > i {
  display: block;
}

/********** 4. BTN COLORS **********/

/*
4.1 Buttons Main Colors
4.2 Buttons Pale Colors
4.3 Buttons Brand Colors
4.4 Buttons Transparent Colors
*/

/***** 4.1 Buttons Main Colors *****/
[class*="btn"][class*="black"],
[class*="button"][class*="black"] {
  background-color: var(--black);
  color: var(--btn-color-black);
}

[class*="btn"][class*="blue"],
[class*="button"][class*="blue"] {
  background-color: var(--blue);
  color: var(--btn-color-blue);
}

[class*="btn"][class*="gray"],
[class*="button"][class*="gray"] {
  background-color: var(--gray);
  color: var(--btn-color-gray);
}

[class*="btn"][class*="green"],
[class*="button"][class*="green"] {
  background-color: var(--green);
  color: var(--btn-color-green);
}

[class*="btn"][class*="maroon"],
[class*="button"][class*="maroon"] {
  background-color: var(--maroon);
  color: var(--btn-color-maroon);
}

[class*="btn"][class*="orange"],
[class*="button"][class*="orange"] {
  background-color: var(--orange);
  color: var(--btn-color-orange);
}

[class*="btn"][class*="purple"],
[class*="button"][class*="purple"] {
  background-color: var(--purple);
  color: var(--btn-color-purple);
}

[class*="btn"][class*="red"],
[class*="button"][class*="red"] {
  background-color: var(--red);
  color: var(--btn-color-red);
}

[class*="btn"][class*="yellow"],
[class*="button"][class*="yellow"] {
  background-color: var(--yellow);
  color: var(--btn-color-yellow);
}

/***** 4.2 Buttons Pale Colors *****/
[class*="btn"][class*="choco"],
[class*="button"][class*="choco"] {
  background-color: var(--choco);
  color: var(--btn-color-choco);
}

[class*="btn"][class*="jade"],
[class*="button"][class*="jade"] {
  background-color: var(--jade);
  color: var(--btn-color-jade);
}

[class*="btn"][class*="khaki"],
[class*="button"][class*="khaki"] {
  background-color: var(--khaki);
  color: var(--btn-color-khaki);
}

[class*="btn"][class*="salmon"],
[class*="button"][class*="salmon"] {
  background-color: var(--salmon);
  color: var(--btn-color-salmon);
}

[class*="btn"][class*="silver"],
[class*="button"][class*="silver"] {
  background-color: var(--silver);
  color: var(--btn-color-silver);
}

[class*="btn"][class*="sky"],
[class*="button"][class*="sky"] {
  background-color: var(--sky);
  color: var(--btn-color-sky);
}

[class*="btn"][class*="tomato"],
[class*="button"][class*="tomato"] {
  background-color: var(--tomato);
  color: var(--btn-color-tomato);
}

[class*="btn"][class*="violet"],
[class*="button"][class*="violet"] {
  background-color: var(--violet);
  color: var(--btn-color-violet);
}

[class*="btn"][class*="white"],
[class*="button"][class*="white"] {
  background-color: var(--white);
  color: var(--btn-color-white);
}

/***** 4.3 Buttons Brand Colors *****/
[class*="btn"][class*="fb"],
[class*="button"][class*="fb"] {
  background-color: var(--facebook);
  color: var(--btn-color-fb);
}

[class*="btn"][class*="github"],
[class*="button"][class*="github"] {
  background-color: var(--github);
  color: var(--btn-color-github);
}

[class*="btn"][class*="Linkedin"],
[class*="button"][class*="linkedin"] {
  background-color: var(--linkedin);
  color: var(--btn-color-linkedin);
}

[class*="btn"][class*="npm"],
[class*="button"][class*="npm"] {
  background-color: var(--npm);
  color: var(--btn-color-npm);
}

[class*="btn"][class*="stack"],
[class*="button"][class*="stack"] {
  background-color: var(--stackoverflow);
  color: var(--btn-color-stack);
}

[class*="btn"][class*="tw"],
[class*="button"][class*="tw"] {
  background-color: var(--twitter);
  color: var(--btn-color-tw);
}

/***** 4.4 Buttons Transparent Colors *****/
[class*="btn"][class*="amethyst"],
[class*="button"][class*="amethyst"] {
  background-color: var(--amethyst);
  color: var(--btn-color-amthyst);
}

[class*="btn"][class*="citrine"],
[class*="button"][class*="citrine"] {
  background-color: var(--citrine);
  color: var(--btn-color-citrine);
}

[class*="btn"][class*="quartz"],
[class*="button"][class*="quartz"] {
  background-color: var(--quartz);
  color: var(--btn-color-quartz);
}

[class*="btn"][class*="emerald"],
[class*="button"][class*="emerald"] {
  background-color: var(--emerald);
  color: var(--btn-color-emerald);
}

[class*="btn"][class*="obsidian"],
[class*="button"][class*="obsidian"] {
  background-color: var(--obsidian);
  color: var(--btn-color-obsidian);
}

[class*="btn"][class*="ruby"],
[class*="button"][class*="ruby"] {
  background-color: var(--ruby);
  color: var(--btn-color-ruby);
}

[class*="btn"][class*="sapphire"],
[class*="button"][class*="sapphire"] {
  background-color: var(--sapphire);
  color: var(--btn-color-sapphire);
}

/********** 5. BTN SIZES **********/

/*
5.1 Buttons Sizes
*/

/***** 5.1 Buttons Sizes *****/
[class*="btn"][class*="xs"],
[class*="button"][class*="xs"] {
  padding: var(--btn-pad-xs);
}

[class*="btn"][class*="sm"],
[class*="button"][class*="sm"] {
  padding: var(--btn-pad-sm);
}

[class*="btn"][class*="md"],
[class*="button"][class*="md"] {
  padding: var(--btn-pad-md);
}

[class*="btn"][class*="lg"],
[class*="button"][class*="lg"] {
  padding: var(--btn-pad-lg);
}

[class*="btn"][class*="xl"],
[class*="button"][class*="xl"] {
  padding: var(--btn-pad-xl);
}

/********** 6. BTN SHAPES **********/

/*
6.1 Buttons Shapes
*/

/***** Buttons Shapes *****/
[class*="btn"][class*="square"],
[class*="button"][class*="square"] {
  border-radius: var(--btn-radius-square);
}

[class*="btn"][class*="round"],
[class*="button"][class*="round"] {
  border-radius: var(--btn-radius-round);
}

[class*="btn"][class*="circle"],
[class*="button"][class*="circle"] {
  border-radius: var(--btn-radius-circle);
}

