/******************** BTN ********************/

/*
1. BTN
  1.1 Btn & Button
2. BTN STATES
  2.1 Buttons Hover, Focus & Active
  2.2 Buttons Active & Checked
3. BTN ICON
  3.1 Buttons Icon
4. BTN COLORS
  4.1 Buttons Main Colors
  4.2 Buttons Pale Colors
  4.3 Buttons Brand Colors
  4.4 Buttons Transparent Colors
5. BTN SIZES
  5.1 Buttons Sizes
6. BTN SHAPES
  6.1 Buttons Shapes
*/

/********** 1. BTN **********/

/*
1.1 Btn & Button
*/

/***** Btn & Button *****/
[class*="btn"],
[class*="button"] {
  display: inline-block;
  margin: var(--btn-margin);
  border: var(--btn-border);
  border-radius: var(--btn-radius);
  padding: var(--btn-padding);
  font-size: var(--btn-font-size);
  text-align: var(--btn-text-align);
  background-color: var(--btn-background-color);
  color: var(--btn-color);
}

/********** 2. BTN STATES **********/

/*
2.1 Buttons Hover, Focus & Active
2.2 Buttons Active & Checked
*/

/***** 2.1 Buttons Hover, Focus & Active *****/
[class*="btn"]:hover,
[class*="button"]:hover,
[class*="btn"]:focus,
[class*="button"]:focus,
[class*="btn"]:active,
[class*="button"]:active,
[class*="button-check"]:checked + [class*="button"] {
  border: var(--btn-hover-border);
  border-radius: var(--btn-hover-radius);
  box-shadow: var(--btn-hover-shabox);
  background-color: var(--btn-hover-background-color);
  color: var(--btn-hover-color);
  transition: var(--btn-hover-transition);
  animation: var(--btn-hover-anima);
}

/***** 2.2 Buttons Active & Checked *****/
[class*="btn"]:active,
[class*="check"]:checked + [class*="button"] {
  transform: var(--check-button-transform);
}

/********** 3. BTN ICON **********/

/*
3.1 Buttons Icons
*/

/***** 3.1 Buttons Icons *****/
[class*="btn"] > i,
[class*="button"] > i {
  display: block;
}

/********** 4. BTN COLORS **********/

/*
4.1 Buttons Main Colors
4.2 Buttons Pale Colors
4.3 Buttons Brand Colors
4.4 Buttons Transparent Colors
*/

/***** 4.1 Buttons Main Colors *****/
[class*="btn-black"],
[class*="button-black"],
[class*="btn-white"]:hover,
[class*="button-white"]:hover,
[class*="btn-white"]:focus,
[class*="button-white"]:focus,
[class*="btn-white"]:active,
[class*="button-white"]:active,
[class*="button-white-check"]:checked + [class*="button-white"] {
  border-color: var(--btn-border-black);
  background-color: var(--black);
  color: var(--btn-color-black);
}

[class*="btn-blue"],
[class*="button-blue"],
[class*="btn-sky"]:hover,
[class*="button-sky"]:hover,
[class*="btn-sky"]:focus,
[class*="button-sky"]:focus,
[class*="btn-sky"]:active,
[class*="button-sky"]:active,
[class*="button-sky-check"]:checked + [class*="button-sky"] {
  border-color: var(--btn-border-blue);
  background-color: var(--blue);
  color: var(--btn-color-blue);
}

[class*="btn-gray"],
[class*="button-gray"],
[class*="btn-silver"]:hover,
[class*="button-silver"]:hover,
[class*="btn-silver"]:focus,
[class*="button-silver"]:focus,
[class*="btn-silver"]:active,
[class*="button-silver"]:active,
[class*="button-silver-check"]:checked + [class*="button-silver"] {
  border-color: var(--btn-border-gray);
  background-color: var(--gray);
  color: var(--btn-color-gray);
}

[class*="btn-green"],
[class*="button-green"],
[class*="btn-jade"]:hover,
[class*="button-jade"]:hover,
[class*="btn-jade"]:focus,
[class*="button-jade"]:focus,
[class*="btn-jade"]:active,
[class*="button-jade"]:active,
[class*="button-jade-check"]:checked + [class*="button-jade"] {
  border-color: var(--btn-border-green);
  background-color: var(--green);
  color: var(--btn-color-green);
}

[class*="btn-maroon"],
[class*="button-maroon"],
[class*="btn-choco"]:hover,
[class*="button-choco"]:hover,
[class*="btn-choco"]:focus,
[class*="button-choco"]:focus,
[class*="btn-choco"]:active,
[class*="button-choco"]:active,
[class*="button-blue-choco"]:checked + [class*="button-choco"] {
  border-color: var(--btn-border-maroon);
  background-color: var(--maroon);
  color: var(--btn-color-maroon);
}

[class*="btn-orange"],
[class*="button-orange"],
[class*="btn-salmon"]:hover,
[class*="button-salmon"]:hover,
[class*="btn-salmon"]:focus,
[class*="button-salmon"]:focus,
[class*="btn-salmon"]:active,
[class*="button-salmon"]:active,
[class*="button-salmon-check"]:checked + [class*="button-salmon"] {
  border-color: var(--btn-border-orange);
  background-color: var(--orange);
  color: var(--btn-color-orange);
}

[class*="btn-purple"],
[class*="button-purple"],
[class*="btn-violet"]:hover,
[class*="button-violet"]:hover,
[class*="btn-violet"]:focus,
[class*="button-violet"]:focus,
[class*="btn-violet"]:active,
[class*="button-violet"]:active,
[class*="button-violet-check"]:checked + [class*="button-violet"] {
  border-color: var(--btn-border-purple);
  background-color: var(--purple);
  color: var(--btn-color-purple);
}

[class*="btn-red"],
[class*="button-red"],
[class*="btn-tomato"]:hover,
[class*="button-tomato"]:hover,
[class*="btn-tomato"]:focus,
[class*="button-tomato"]:focus,
[class*="btn-tomato"]:active,
[class*="button-tomato"]:active,
[class*="button-tomato-check"]:checked + [class*="button-tomato"] {
  border-color: var(--btn-border-red);
  background-color: var(--red);
  color: var(--btn-color-red);
}

[class*="btn-yellow"],
[class*="button-yellow"],
[class*="btn-khaki"]:hover,
[class*="button-khaki"]:hover,
[class*="btn-khaki"]:focus,
[class*="button-khaki"]:focus,
[class*="btn-khaki"]:active,
[class*="button-khaki"]:active,
[class*="button-khaki-check"]:checked + [class*="button-khaki"] {
  border-color: var(--btn-border-yellow);
  background-color: var(--yellow);
  color: var(--btn-color-yellow);
}

/***** 4.2 Buttons Pale Colors *****/
[class*="btn-choco"],
[class*="button-choco"],
[class*="btn-maroon"]:hover,
[class*="button-maroon"]:hover,
[class*="btn-maroon"]:focus,
[class*="button-maroon"]:focus,
[class*="btn-maroon"]:active,
[class*="button-maroon"]:active,
[class*="button-maroon-check"]:checked + [class*="button-maroon"] {
  border-color: var(--btn-border-choco);
  background-color: var(--choco);
  color: var(--btn-color-choco);
}

[class*="btn-jade"],
[class*="button-jade"],
[class*="btn-green"]:hover,
[class*="button-green"]:hover,
[class*="btn-green"]:focus,
[class*="button-green"]:focus,
[class*="btn-green"]:active,
[class*="button-green"]:active,
[class*="button-green-check"]:checked + [class*="button-green"] {
  border-color: var(--btn-border-jade);
  background-color: var(--jade);
  color: var(--btn-color-jade);
}

[class*="btn-khaki"],
[class*="button-khaki"],
[class*="btn-yellow"]:hover,
[class*="button-yellow"]:hover,
[class*="btn-yellow"]:focus,
[class*="button-yellow"]:focus,
[class*="btn-yellow"]:active,
[class*="button-yellow"]:active,
[class*="button-yellow-check"]:checked + [class*="button-yellow"] {
  border-color: var(--btn-border-khaki);
  background-color: var(--khaki);
  color: var(--btn-color-khaki);
}

[class*="btn-salmon"],
[class*="button-salmon"],
[class*="btn-orange"]:hover,
[class*="button-orange"]:hover,
[class*="btn-orange"]:focus,
[class*="button-orange"]:focus,
[class*="btn-orange"]:active,
[class*="button-orange"]:active,
[class*="button-orange-check"]:checked + [class*="button-orange"] {
  border-color: var(--btn-border-salmon);
  background-color: var(--salmon);
  color: var(--btn-color-salmon);
}

[class*="btn-silver"],
[class*="button-silver"],
[class*="btn-gray"]:hover,
[class*="button-gray"]:hover,
[class*="btn-gray"]:focus,
[class*="button-gray"]:focus,
[class*="btn-gray"]:active,
[class*="button-gray"]:active,
[class*="button-gray-check"]:checked + [class*="button-gray"] {
  border-color: var(--btn-border-silver);
  background-color: var(--silver);
  color: var(--btn-color-silver);
}

[class*="btn-sky"],
[class*="button-sky"],
[class*="btn-blue"]:hover,
[class*="button-blue"]:hover,
[class*="btn-blue"]:focus,
[class*="button-blue"]:focus,
[class*="btn-blue"]:active,
[class*="button-blue"]:active,
[class*="button-blue-check"]:checked + [class*="button-blue"] {
  border-color: var(--btn-border-sky);
  background-color: var(--sky);
  color: var(--btn-color-sky);
}

[class*="btn-tomato"],
[class*="button-tomato"],
[class*="btn-red"]:hover,
[class*="button-red"]:hover,
[class*="btn-red"]:focus,
[class*="button-red"]:focus,
[class*="btn-red"]:active,
[class*="button-red"]:active,
[class*="button-red-check"]:checked + [class*="button-red"] {
  border-color: var(--btn-border-tomato);
  background-color: var(--tomato);
  color: var(--btn-color-tomato);
}

[class*="btn-violet"],
[class*="button-violet"],
[class*="btn-purple"]:hover,
[class*="button-purple"]:hover,
[class*="btn-purple"]:focus,
[class*="button-purple"]:focus,
[class*="btn-purple"]:active,
[class*="button-purple"]:active,
[class*="button-purple-check"]:checked + [class*="button-purple"] {
  border-color: var(--btn-border-violet);
  background-color: var(--violet);
  color: var(--btn-color-violet);
}

[class*="btn-white"],
[class*="button-white"],
[class*="btn-black"]:hover,
[class*="button-black"]:hover,
[class*="btn-black"]:focus,
[class*="button-black"]:focus,
[class*="btn-black"]:active,
[class*="button-black"]:active,
[class*="button-black-check"]:checked + [class*="button-black"] {
  border-color: var(--btn-border-white);
  background-color: var(--white);
  color: var(--btn-color-white);
}

/***** 4.3 Buttons Brand Colors *****/
[class*="btn-fb"],
[class*="button-fb"],
[class*="btn-github"],
[class*="button-github"],
[class*="btn-linkedin"],
[class*="button-linkedin"],
[class*="btn-npm"],
[class*="button-npm"],
[class*="btn-stack"],
[class*="button-stack"],
[class*="btn-tw"],
[class*="button-tw"] {
  border-color: var(--white);
  color: var(--white);
}

[class*="btn-fb"],
[class*="button-fb"] {
  background-color: var(--facebook);
}

[class*="btn-github"],
[class*="button-github"] {
  background-color: var(--github);
}

[class*="btn-linkedin"],
[class*="button-linkedin"] {
  background-color: var(--linkedin);
}

[class*="btn-npm"],
[class*="button-npm"] {
  background-color: var(--npm);
}

[class*="btn-stack"],
[class*="button-stack"] {
  background-color: var(--stackoverflow);
}

[class*="btn-tw"],
[class*="button-tw"] {
  background-color: var(--twitter);
}

[class*="btn-fb"]:hover,
[class*="button-fb"]:hover,
[class*="btn-fb"]:focus,
[class*="button-fb"]:focus,
[class*="btn-fb"]:active,
[class*="button-fb"]:active,
[class*="button-fb-check"]:checked + [class*="button-fb"],
[class*="btn-github"]:hover,
[class*="button-github"]:hover,
[class*="btn-github"]:focus,
[class*="button-github"]:focus,
[class*="btn-github"]:active,
[class*="button-github"]:active,
[class*="button-github-check"]:checked + [class*="button-github"],
[class*="btn-linkedin"]:hover,
[class*="button-linkedin"]:hover,
[class*="btn-linkedin"]:focus,
[class*="button-linkedin"]:focus,
[class*="btn-linkedin"]:active,
[class*="button-linkedin"]:active,
[class*="button-linkedin-check"]:checked + [class*="button-linkedin"],
[class*="btn-npm"]:hover,
[class*="button-npm"]:hover,
[class*="btn-npm"]:focus,
[class*="button-npm"]:focus,
[class*="btn-npm"]:active,
[class*="button-npm"]:active,
[class*="button-npm-check"]:checked + [class*="button-npm"],
[class*="btn-stack"]:hover,
[class*="button-stack"]:hover,
[class*="btn-stack"]:focus,
[class*="button-stack"]:focus,
[class*="btn-stack"]:active,
[class*="button-stack"]:active,
[class*="button-stack-check"]:checked + [class*="button-stack"],
[class*="btn-tw"]:hover,
[class*="button-tw"]:hover,
[class*="btn-tw"]:focus,
[class*="button-tw"]:focus,
[class*="btn-tw"]:active,
[class*="button-tw"]:active,
[class*="button-tw-check"]:checked + [class*="button-tw"] {
  background-color: var(--white);
}

[class*="btn-fb"]:hover,
[class*="button-fb"]:hover,
[class*="btn-fb"]:focus,
[class*="button-fb"]:focus,
[class*="btn-fb"]:active,
[class*="button-fb"]:active,
[class*="button-fb-check"]:checked + [class*="button-fb"] {
  border-color: var(--facebook);
  color: var(--facebook);
}

[class*="btn-github"]:hover,
[class*="button-github"]:hover,
[class*="btn-github"]:focus,
[class*="button-github"]:focus,
[class*="btn-github"]:active,
[class*="button-github"]:active,
[class*="button-github-check"]:checked + [class*="button-github"] {
  border-color: var(--github);
  color: var(--github);
}

[class*="btn-linkedin"]:hover,
[class*="button-linkedin"]:hover,
[class*="btn-linkedin"]:focus,
[class*="button-linkedin"]:focus,
[class*="btn-linkedin"]:active,
[class*="button-linkedin"]:active,
[class*="button-linkedin-check"]:checked + [class*="button-linkedin"] {
  border-color: var(--linkedin);
  color: var(--linkedin);
}

[class*="btn-npm"]:hover,
[class*="button-npm"]:hover,
[class*="btn-npm"]:focus,
[class*="button-npm"]:focus,
[class*="btn-npm"]:active,
[class*="button-npm"]:active,
[class*="button-npm-check"]:checked + [class*="button-npm"] {
  border-color: var(--npm);
  color: var(--npm);
}

[class*="btn-stack"]:hover,
[class*="button-stack"]:hover,
[class*="btn-stack"]:focus,
[class*="button-stack"]:focus,
[class*="btn-stack"]:active,
[class*="button-stack"]:active,
[class*="button-stack-check"]:checked + [class*="button-stack"] {
  border-color: var(--stackoverflow);
  color: var(--stackoverflow);
}

[class*="btn-tw"]:hover,
[class*="button-tw"]:hover,
[class*="btn-tw"]:focus,
[class*="button-tw"]:focus,
[class*="btn-tw"]:active,
[class*="button-tw"]:active,
[class*="button-tw-check"]:checked + [class*="button-tw"] {
  border-color: var(--twitter);
  color: var(--twitter);
}

/***** 4.4 Buttons Transparent Colors *****/
[class*="btn-amethyst"],
[class*="button-amethyst"] {
  border-color: var(--purple);
  background-color: var(--amethyst);
  color: var(--black);
}

[class*="btn-amethyst"]:hover,
[class*="button-amethyst"]:hover,
[class*="btn-amethyst"]:focus,
[class*="button-amethyst"]:focus,
[class*="btn-amethyst"]:active,
[class*="button-amethyst"]:active,
[class*="button-amethyst-check"]:checked + [class*="button-amethyst"] {
  border-color: var(--amethyst);
  background-color: var(--white);
  color: var(--purple);
  box-shadow: inset 0 0 5px 5px var(--amethyst);
}

[class*="btn-citrine"],
[class*="button-citrine"] {
  border-color: var(--blue);
  background-color: var(--citrine);
  color: var(--blue);
}

[class*="btn-citrine"]:hover,
[class*="button-citrine"]:hover,
[class*="btn-citrine"]:focus,
[class*="button-citrine"]:focus,
[class*="btn-citrine"]:active,
[class*="button-citrine"]:active,
[class*="button-citrine-check"]:checked + [class*="button-citrine"] {
  border-color: var(--citrine);
  background-color: var(--white);
  color: var(--black);
  box-shadow: inset 0 0 5px 5px var(--citrine);
}

[class*="btn-emerald"],
[class*="button-emerald"] {
  border-color: var(--green);
  background-color: var(--emerald);
  color: var(--black);
}

[class*="btn-emerald"]:hover,
[class*="button-emerald"]:hover,
[class*="btn-emerald"]:focus,
[class*="button-emerald"]:focus,
[class*="btn-emerald"]:active,
[class*="button-emerald"]:active,
[class*="button-emerald-check"]:checked + [class*="button-emerald"] {
  border-color: var(--emerald);
  background-color: var(--white);
  color: var(--green);
  box-shadow: inset 0 0 5px 5px var(--emerald);
}

[class*="btn-obsidian"],
[class*="button-obsidian"] {
  border-color: var(--white);
  background-color: var(--obsidian);
  color: var(--white);
}

[class*="btn-obsidian"]:hover,
[class*="button-obsidian"]:hover,
[class*="btn-obsidian"]:focus,
[class*="button-obsidian"]:focus,
[class*="btn-obsidian"]:active,
[class*="button-obsidian"]:active,
[class*="button-obsidian-check"]:checked + [class*="button-obsidian"] {
  border-color: var(--obsidian);
  background-color: var(--white);
  color: var(--obsidian);
  box-shadow: inset 0 0 5px 5px var(--obsidian);
}

[class*="btn-quartz"],
[class*="button-quartz"] {
  border-color: var(--black);
  background-color: var(--quartz);
  color: var(--black);
}

[class*="btn-quartz"]:hover,
[class*="button-quartz"]:hover,
[class*="btn-quartz"]:focus,
[class*="button-quartz"]:focus,
[class*="btn-quartz"]:active,
[class*="button-quartz"]:active,
[class*="button-quartz-check"]:checked + [class*="button-quartz"] {
  border-color: var(--quartz);
  background-color: var(--black);
  color: var(--quartz);
  box-shadow: inset 0 0 5px 5px var(--quartz);
}

[class*="btn-ruby"],
[class*="button-ruby"] {
  border-color: var(--red);
  background-color: var(--ruby);
  color: var(--white);
}

[class*="btn-ruby"]:hover,
[class*="button-ruby"]:hover,
[class*="btn-ruby"]:focus,
[class*="button-ruby"]:focus,
[class*="btn-ruby"]:active,
[class*="button-ruby"]:active,
[class*="button-ruby-check"]:checked + [class*="button-ruby"] {
  border-color: var(--ruby);
  background-color: var(--white);
  color: var(--red);
  box-shadow: inset 0 0 5px 5px var(--ruby);
}

[class*="btn-sapphire"],
[class*="button-sapphire"] {
  border-color: var(--blue);
  background-color: var(--sapphire);
  color: var(--white);
}

[class*="btn-sapphire"]:hover,
[class*="button-sapphire"]:hover,
[class*="btn-sapphire"]:focus,
[class*="button-sapphire"]:focus,
[class*="btn-sapphire"]:active,
[class*="button-sapphire"]:active,
[class*="button-sapphire-check"]:checked + [class*="button-sapphire"] {
  border-color: var(--sapphire);
  background-color: var(--white);
  color: var(--blue);
  box-shadow: inset 0 0 5px 5px var(--sapphire);
}

/********** 5. BTN SIZES **********/

/*
5.1 Buttons Sizes
*/

/***** 5.1 Buttons Sizes *****/
[class*="btn-xs"],
[class*="button-xs"] {
  border-width: var(--btn-border-width-xs);
  padding: var(--btn-padding-xs);
  font-size: var(--btn-font-size-xs);
}

[class*="btn-sm"],
[class*="button-sm"] {
  border-width: var(--btn-border-width-sm);
  padding: var(--btn-padding-sm);
  font-size: var(--btn-font-size-sm);
}

[class*="btn-md"],
[class*="button-md"] {
  border-width: var(--btn-border-width-md);
  padding: var(--btn-padding-md);
}

[class*="btn-lg"],
[class*="button-lg"] {
  border-width: var(--btn-border-width-lg);
  padding: var(--btn-padding-lg);
  font-size: var(--btn-font-size-lg);
}

[class*="btn-xl"],
[class*="button-xl"] {
  border-width: var(--btn-border-width-xl);
  padding: var(--btn-padding-xl);
  font-size: var(--btn-font-size-xl);
}

/********** 6. BTN SHAPES **********/

/*
6.1 Buttons Shapes
*/

/***** Buttons Shapes *****/
[class*="btn-square"],
[class*="button-square"] {
  border-radius: var(--btn-radius-square);
}

[class*="btn-square"]:hover,
[class*="button-square"]:hover,
[class*="btn-square"]:focus,
[class*="button-square"]:focus,
[class*="btn-square"]:active,
[class*="button-square"]:active {
  border-style: var(--btn-border-style-square);
  border-radius: var(--btn-radius-square);
}

[class*="btn-round"],
[class*="button-round"] {
  border-radius: var(--btn-radius-round);
}

[class*="btn-round"]:hover,
[class*="button-round"]:hover,
[class*="btn-round"]:focus,
[class*="button-round"]:focus,
[class*="btn-round"]:active,
[class*="button-round"]:active {
  border-style: var(--btn-border-style-round);
  border-radius: var(--btn-radius-round);
}

[class*="btn-circle"],
[class*="button-circle"] {
  border-radius: var(--btn-radius-circle);
}

[class*="btn-circle"]:hover,
[class*="button-circle"]:hover,
[class*="btn-circle"]:focus,
[class*="button-circle"]:focus,
[class*="btn-circle"]:active,
[class*="button-circle"]:active {
  border-style: var(--btn-border-style-circle);
  border-radius: var(--btn-radius-circle);
}

