/********** CARD **********/

/*
1 - Card
2 - Card Hover
3 - Card Child
4 - Card Selection
5 - Card Title
6 - Card Btn
7 - Card Black
8 - Card Blue
9 - Card Green
10 - Card Purple
11 - Card Red
12 - Card Yellow
*/

/***** 1 - Card *****/
[class*="card"] {
  display: inline-flex;
  flex-direction: var(--card-flex-direction);
  place-items: var(--card-place-items);
  position: var(--card-position);
  overflow: var(--card-overflow);
  margin: var(--card-margin);
  border: var(--card-border);
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  width: var(--card-width);
  box-shadow: var(--card-box-shadow);
  background-color: var(--card-background-color);
  color: var(--card-color);
}

/***** 2 - Card Hover *****/
[class*="card"]:hover,
[class*="card"]:focus,
[class*="card"]:active {
  transform: var(--card-hover-transform);
  transition: var(--card-hover-transition);
}

/***** 3 - Card Child *****/
[class*="card"] > * {
  margin: var(--card-child-margin);
  border: var(--card-child-border);
  border-radius: var(--card-child-border-radius);
  padding: var(--card-child-padding);
  max-width: var(--card-child-max-width);
  background-color: var(--card-child-background-color);
  font-size: var(--card-child-font-size);
  text-align: var(--card-child-text-align);
}

/***** 4 - Card Selection *****/
[class*="card"] > *::selection {
  background-color: var(--card-selection-background-color);
  color: var(--card-selection-color);
}

/***** 5 - Card Title *****/
[class*="card"] > h2,
[class*="card"] > h3,
[class*="card"] > h4,
[class*="card"] > h5,
[class*="card"] > h6 {
  font-size: var(--card-title-font-size);
  box-shadow: var(--card-title-box-shadow);
  text-shadow: var(--card-title-text-shadow);
}

/***** 6 - Card Btn *****/
[class*="card"] > [class*="btn"] {
  width: var(--card-btn-width);
  text-align: var(--card-btn-text-align);
}

/***** 7 - Card Black *****/
.card-black {
  background-color: var(--card-black-background-color);
}

.card-black > h2,
.card-black > h3,
.card-black > h4,
.card-black > h5,
.card-black > h6 {
  box-shadow: var(--card-black-title-box-shadow);
  text-shadow: var(--card-black-title-text-shadow);
}

/***** 8 - Card Blue *****/
.card-blue {
  background-color: var(--card-blue-background-color);
}

.card-blue > h2,
.card-blue > h3,
.card-blue > h4,
.card-blue > h5,
.card-blue > h6 {
  box-shadow: var(--card-blue-title-box-shadow);
  text-shadow: var(--card-blue-title-text-shadow);
}

/***** 9 - Card Green *****/
.card-green {
  background-color: var(--card-green-background-color);
}

.card-green > h2,
.card-green > h3,
.card-green > h4,
.card-green > h5,
.card-green > h6 {
  box-shadow: var(--card-green-title-box-shadow);
  text-shadow: var(--card-green-title-text-shadow);
}

/***** 10 - Card Purple *****/
.card-purple {
  background-color: var(--card-purple-background-color);
}

.card-purple > h2,
.card-purple > h3,
.card-purple > h4,
.card-purple > h5,
.card-purple > h6 {
  box-shadow: var(--card-purple-title-box-shadow);
  text-shadow: var(--card-purple-title-text-shadow);
}

/***** 11 - Card Red *****/
.card-red {
  background-color: var(--card-red-background-color);
}

.card-red > h2,
.card-red > h3,
.card-red > h4,
.card-red > h5,
.card-red > h6 {
  box-shadow: var(--card-red-title-box-shadow);
  text-shadow: var(--card-red-title-text-shadow);
}

/***** 12 - Card Yellow *****/
.card-yellow {
  background-color: var(--card-yellow-background-color);
}

.card-yellow > h2,
.card-yellow > h3,
.card-yellow > h4,
.card-yellow > h5,
.card-yellow > h6 {
  box-shadow: var(--card-yellow-title-box-shadow);
  text-shadow: var(--card-yellow-title-text-shadow);
}
