/********** FOOT **********/

/*
1 - Foot
2 - Foot Title
3 - Foot List
4 - Foot First Child
5 - Foot First Child List
6 - Foot First Child Link
7 - Foot First Child Link Hover
8 - Foot Last Child
9 - Foot Last Child Link
*/

/***** 1 - Foot *****/
.foot {
  text-align: var(--foot-text-align);
}

/***** 2 - Foot Title *****/
.foot h3,
.foot h4,
.foot h5,
.foot h6 {
  font-size: var(--foot-title-font-size);
  color: var(--foot-title-color);
}

/***** 3 - Foot List *****/
.foot > ul {
  display: flex;
  padding-bottom: var(--foot-list-padding-bottom);
}

/***** 4 - Foot First Child *****/
.foot > ul:first-child {
  flex-direction: var(--foot-first-child-flex-direction);
  place-content: var(--foot-first-child-place-content);
  margin: var(--foot-first-child-margin);
  background-color: var(--foot-first-child-background-color);
  color: var(--foot-first-child-font-color);
  cursor: var(--foot-first-child-cursor);
}

/***** 5 - Foot First Child List *****/
.foot > ul:first-child ul {
  text-align: var(--foot-first-child-list-text-align);
  cursor: var(--foot-first-child-list-cursor);
}

/***** 6 - Foot First Child Link *****/
.foot > ul:first-child a {
  margin-bottom: var(--foot-first-child-link-margin-bottom);
  color: var(--foot-first-child-link-font-color);
}

/***** 7 - Foot First Child Link Hover *****/
.foot > ul:first-child a:hover,
.foot > ul:first-child a:focus {
  color: var(--foot-first-child-link-hover-font-color);
}

/***** 8 - Foot Last Child *****/
.foot > ul:last-child {
  place-content: var(--foot-last-child-place-content);
  margin: var(--foot-last-child-margin);
  padding-top: var(--foot-last-child-padding-top);
  background-color: var(--foot-last-child-background-color);
  cursor: var(--foot-last-child-cursor);
}

/***** 9 - Foot Last Child Link *****/
.foot > ul:last-child a {
  margin-right: var(--foot-last-child-link-margin-right);
  margin-left: var(--foot-last-child-link-margin-left);
  cursor: var(--foot-last-child-cursor);
}
