/********** FOOT **********/

/*
1. Foot
2. Foot Global
3. Foot Main
4. Foot List
5. Foot Info
*/

/***** Foot *****/
.foot {
  text-align: var(--foot-text-align);
}

.foot h3,
.foot h4,
.foot h5,
.foot h6 {
  font-size: var(--foot-title-font-size);
  color: var(--foot-title-color);
}

/***** Foot Global *****/
.foot-main,
.foot-info {
  display: flex;
  padding-bottom: var(--foot-global-pad-bot);
}

/***** Foot Main *****/
.foot-main {
  flex-direction: var(--foot-main-flex-direction);
  justify-content: var(--foot-main-justify-content);
  background-color: var(--foot-main-bg);
  color: var(--foot-main-font-color);
  cursor: var(--foot-main-cursor);
}

/***** Foot List *****/
.foot-list {
  text-align: var(--foot-list-text-align);
  cursor: var(--foot-list-cursor);
}

.foot-list a {
  margin-bottom: var(--foot-list-link-mar-bot);
  color: var(--foot-list-link-font-color);
}

.foot-list a:hover,
.foot-list a:focus,
.foot-list a:active {
  color: var(--foot-list-link-hover-font-color);
}

/***** Foot Info *****/
.foot-info {
  justify-content: var(--foot-info-justify-content);
  padding-top: var(--foot-info-pad-top);
  background-color: var(--foot-info-bg);
  cursor: var(--foot-info-cursor);
}

.foot-info a {
  margin-right: var(--foot-info-link-mar-right);
  margin-left: var(--foot-info-link-mar-left);
  cursor: var(--foot-info-cursor);
}

