/******************** FORM ********************/

/*
1. FORM
  1.1 Form
2. FORM GLOBAL
  2.1 Form Global
3. FORM ITEMS
  3.1 Form Fieldset
  3.2 Form Legend
  3.3 Form Inputs & Textarea
  3.4 Form LG
*/

/********** 1. FORM **********/

/*
1.1 Form
*/

/***** 1.1 Form *****/
.form {
  margin: var(--form-mar);
  padding: var(--form-pad);
}

/********** 2. FORM GLOBAL **********/

/*
2.1 Form Global
*/

/***** 2.1 Form Global *****/
.form,
.form fieldset {
  width: var(--form-width);
}

.form,
.form fieldset,
.form ul,
.form li {
  display: flex;
  flex-direction: var(--form-flex-direction);
}

/********** 3. FORM ITEMS **********/

/*
3.1 Form Fieldset
3.2 Form Legend
3.3 Form Inputs & Textarea
3.4 Form LG
*/

/***** 3.1 Form Fieldset *****/
.form fieldset {
  margin-left: var(--form-fieldset-mar-left);
  border: var(--form-fieldset-bord);
  padding: var(--form-fieldset-pad);
}

/***** 3.2 Form Legend *****/
.form legend {
  font-weight: var(--form-legend-font-weight);
}

/***** 3.3 Form Inputs & Textarea *****/
.form input::placeholder,
.form textarea::placeholder {
  text-align: var(--form-input-placeholder-text-align);
  font-style: var(--form-input-placeholder-font-style);
  color: var(--form-input-placeholder-color);
}

.form [type="text"],
.form [type="file"],
.form [type="number"],
.form [type="email"],
.form [type="password"],
.form textarea {
  line-height: var(--form-input-field-line-height);
  margin: var(--form-input-field-mar);
  border: var(--form-input-field-bord);
  border-radius: var(--form-input-field-radius);
  padding: var(--form-input-field-pad);
  background-color: var(--form-input-field-bg);
}

.form [type="reset"],
.form [type="submit"] {
  line-height: var(--form-input-action-line-height);
  cursor: var(--form-input-action-cursor);
}

/***** 3.4 Form LG *****/
@media (min-width: 992px) {
  .form li {
    flex-direction: var(--form-li-flex-direction);
    justify-content: var(--form-li-justify-content);
    align-items: var(--form-li-align-items);
  }

  .form label {
    flex: var(--form-label-lg-flex);
    text-decoration: var(--form-label-text-decoration);
  }

  .form input,
  .form textarea {
    width: var(--form-input-width);
  }
}

