/********** GALLERY **********/

/*
1 - Gallery
2 - Gallery All
3 - Gallery Figure
4 - Gallery Figcaption
5 - Gallery Figure Hover Figcaption
6 - Gallery Figcaption FA
7 - Gallery Link
8 - Gallery Link All
9 - Gallery Link All Odd
10 - Gallery Link All Even
*/

/***** 1 - Gallery *****/
.gallery {
  display: flex;
  flex-wrap: var(--gallery-flex-wrap);
  overflow: var(--gallery-overflow);
  margin: var(--gallery-margin);
  max-width: var(--gallery-max-width);
}

/***** 2 - Gallery All *****/
.gallery * {
  cursor: var(--gallery-all-cursor);
}

/***** 3 - Gallery Figure *****/
.gallery figure {
  display: flex;
  place-content: var(--gallery-figure-place-content);
  place-items: var(--gallery-figure-place-items);
  position: var(--gallery-figure-position);
  overflow: var(--gallery-figure-overflow);
  margin: var(--gallery-figure-margin);
  border: var(--gallery-figure-border);
  width: var(--gallery-figure-width);
  box-shadow: var(--gallery-figure-box-shadow);
  line-height: var(--gallery-figure-line-height);
}

/***** 4 - Gallery Figcaption *****/
.gallery figcaption {
  display: none;
  position: var(--gallery-figcaption-position);
  bottom: var(--gallery-figcaption-bottom);
  width: var(--gallery-figcaption-width);
  line-height: var(--gallery-figcaption-line-height);
  background-color: var(--gallery-figcaption-background-color);
}

/***** 5 - Gallery Figure Hover Figcaption *****/
.gallery figure:hover figcaption,
.gallery figure:focus figcaption {
  display: block;
  animation: var(--gallery-figure-hover-figcaption-animation);
  bottom: var(--gallery-figure-hover-figcaption-bottom);
}

/***** 6 - Gallery Figcaption FA *****/
.gallery figcaption [class*="fa-"] {
  position: var(--gallery-figcaption-fa-position);
  top: var(--gallery-figcaption-fa-top);
  right: var(--gallery-figcaption-fa-right);
  border: var(--gallery-figcaption-fa-border);
  border-radius: var(--gallery-figcaption-fa-radius);
  padding: var(--gallery-figcaption-fa-padding);
  background-color: var(--gallery-figcaption-fa-background-color);
}

/***** 7 - Gallery Link *****/
.gallery a {
  color: var(--gallery-link-color);
}

/***** 8 - Gallery Link All *****/
.gallery a * {
  margin: var(--gallery-link-all-margin);
  cursor: var(--gallery-link-all-cursor);
}

/***** 9 - Gallery Link All Even *****/
.gallery a *:nth-child(even) {
  padding: var(--gallery-link-all-even-padding);
  font-size: var(--gallery-link-all-even-font-size);
}

/***** 10 - Gallery Link All Odd *****/
.gallery a *:nth-child(odd) {
  padding: var(--gallery-link-all-odd-padding);
  font-size: var(--gallery-link-all-odd-font-size);
}
