/********** GALLERY **********/

.gallery {
  --gallery-flex-wrap: wrap;
  --gallery-flow: hidden;
  --gallery-mar: 40px -6px;
  --gallery-all-cursor: crosshair;
  --gallery-figcaption-bot: -60%;
  --gallery-figcaption-width: 100%;
  --gallery-figcaption-line-height: 1;
  --gallery-figcaption-bg: rgba(0,0,0,.5);
  --gallery-figure-figcaption-anima: translateY 2s;
  --gallery-figure-figcaption-bot: 0;
  --gallery-figure-flow: hidden;
  --gallery-figure-line-height: 0;
  --gallery-figure-mar: 6px;
  --gallery-figure-width: calc(100% - 12px);
  --gallery-link-all-mar: 0;
  --gallery-link-all-cursor: pointer;
  --gallery-link-color: var(--white);
  --gallery-sm-mar: -8px;
  --gallery-figure-sm-mar: 8px;
  --gallery-figure-sm-width: calc(100% / 2 - 16px);
  --gallery-lg-mar: -10px;
  --gallery-figure-lg-mar: 10px;
  --gallery-figure-lg-width: calc(100% / 3 - 20px);
  --gallery-wd-mar: -12px;
  --gallery-figure-wd-mar: 12px;
  --gallery-figure-wd-width: calc(100% / 4 - 24px);

  display: flex;
  flex-wrap: var(--gallery-flex-wrap);
  overflow: var(--gallery-flow);
  margin: var(--gallery-mar);
}

.gallery * {
  cursor: var(--gallery-all-cursor);
}

.gallery figure {
  position: relative;
  overflow: var(--gallery-figure-flow);
  margin: var(--gallery-figure-mar);
  width: var(--gallery-figure-width);
  line-height: var(--gallery-figure-line-height);
}

.gallery figure:hover figcaption,
.gallery figure:focus figcaption,
.gallery figure:active figcaption {
   display: block;
   animation: var(--gallery-figure-figcaption-anima);
   bottom: var(--gallery-figure-figcaption-bot);
 }

.gallery figcaption {
  display: none;
  position: absolute;
  bottom: var(--gallery-figcaption-bot);
  width: var(--gallery-figcaption-width);
  line-height: var(--gallery-figcaption-line-height);
  background-color: var(--gallery-figcaption-bg);
}

.gallery a {
  color: var(--gallery-link-color);
}

.gallery a * {
  margin: var(--gallery-link-all-mar);
  cursor: var(--gallery-link-all-cursor);
}

/***** Medias Queries *****/
@media (min-width: 576px) {
  .gallery {
    margin-right: var(--gallery-sm-mar);
    margin-left: var(--gallery-sm-mar);
  }

  .gallery figure {
    margin: var(--gallery-figure-sm-mar);
    width: var(--gallery-figure-sm-width);
  }
}

@media (min-width: 992px) {
  .gallery {
    margin-right: var(--gallery-lg-mar);
    margin-left: var(--gallery-lg-mar);
  }

  .gallery figure {
    margin: var(--gallery-figure-lg-mar);
    width: var(--gallery-figure-lg-width);
  }
}

@media (min-width: 1200px) {
  .gallery {
    margin-right: var(--gallery-wd-mar);
    margin-left: var(--gallery-wd-mar);
  }

  .gallery figure {
    margin: var(--gallery-figure-wd-mar);
    width: var(--gallery-figure-wd-width);
  }
}