/********** MENU **********/

/*
1. Menu
2. Menu Label
3. Menu FA
*/

/***** Menu *****/
.menu {
  --menu-bg: var(--silver);
  --menu-border: none;
  --menu-color: var(--gray);
  --menu-flex-direction: column;
  --menu-justify-content: center;
  --menu-list-style: none;
  --menu-mar: auto;
  --menu-pad: 0;
  --menu-radius: 5px;
  --menu-width: 40%;

  display: flex;
  flex-direction: var(--menu-flex-direction);
  justify-content: var(--menu-justify-content);
  margin: var(--menu-mar);
  border: var(--menu-border);
  border-radius: var(--menu-radius);
  padding: var(--menu-pad);
  width: var(--menu-width);
  list-style: var(--menu-list-style);
  background-color: var(--menu-bg);
  color: var(--menu-color);
}

@media (min-width: 576px) {
  .menu {
    --menu-flex-direction: row;
    --menu-align-items: flex-start;
    --menu-width: 100%;
  }
}

@media (min-width: 768px) {
  .menu {
    --menu-width: 90%;
  }
}

@media (min-width: 992px) {
  .menu {
    --menu-width: 80%;
  }
}

@media (min-width: 1200px) {
  .menu {
    --menu-width: 70%;
  }
}

.menu * {
  --menu-all-cursor: pointer;

  cursor: var(--menu-all-cursor);
}

/***** Menu Label *****/
.menu label {
  --menu-label-justify-content: center;
  --menu-label-pad: 6px 12px;
  --menu-label-position: relative;
  --menu-label-radius: 5px;
  --menu-label-width: 100%;
  --menu-label-hover-bg: var(--sapphire);
  --menu-label-hover-bord: none;
  --menu-label-hover-color: var(--white);
  --menu-label-hover-font-style: italic;
  --menu-label-check-bg: var(--blue);
  --menu-label-check-color: var(--white);
  --menu-label-check-font-weight: bold;

  display: flex;
  justify-content: var(--menu-label-justify-content);
  position: var(--menu-label-position);
  border-radius: var(--menu-label-radius);
  padding: var(--menu-label-pad);
  width: var(--menu-label-width);
}

.menu label:hover,
.menu label:active,
.menu label:focus {
  border: var(--menu-label-hover-bord);
  font-style: var(--menu-label-hover-font-style);
  background-color: var(--menu-label-hover-bg);
  color: var(--menu-label-hover-color);
}

[class*="menu-radio1"]:checked ~ .menu > [for="menu-radio1"],
[class*="menu-radio2"]:checked ~ .menu > [for="menu-radio2"],
[class*="menu-radio3"]:checked ~ .menu > [for="menu-radio3"],
[class*="menu-radio4"]:checked ~ .menu > [for="menu-radio4"],
[class*="menu-radio5"]:checked ~ .menu > [for="menu-radio5"] {
  background-color: var(--menu-label-check-bg);
  color: var(--menu-label-check-color);
  font-weight: var(--menu-label-check-font-weight);
}

/***** Menu FA *****/
.menu [class*="fa-"][class*="-down"] {
  --menu-fa-bot: -18px;
  --menu-fa-color: var(--blue);
  --menu-fa-position: absolute;

  display: none;
  position: var(--menu-fa-position);
  bottom: var(--menu-fa-bot);
  color: var(--menu-fa-color);
}

@media (min-width: 576px) {
  [class*="menu-radio1"]:checked ~ .menu > [for="menu-radio1"] > [class*="fa-"][class*="-down"],
  [class*="menu-radio2"]:checked ~ .menu > [for="menu-radio2"] > [class*="fa-"][class*="-down"],
  [class*="menu-radio3"]:checked ~ .menu > [for="menu-radio3"] > [class*="fa-"][class*="-down"],
  [class*="menu-radio4"]:checked ~ .menu > [for="menu-radio4"] > [class*="fa-"][class*="-down"],
  [class*="menu-radio5"]:checked ~ .menu > [for="menu-radio5"] > [class*="fa-"][class*="-down"] {
    display: block;
  }
}

