/********** NAVBAR **********/

/*
1. Navbar Variables
2. Navbar Display
3. Navbar
4. Navs
5. Nav Brand
6. Nav Main
7. Nav Info
8. Nav Toggle
9. Media Queries
*/

/***** Navbar Variables *****/
:root {
  --navbar-height: 100px;
}

.navbar,
[class*="nav-"] {
  --navbar-align-items: center;
  --navbar-bg-color: var(--blue);
  --navbar-color: var(--white);
  --navbar-index: 1000;
  --navbar-justify-content: center;
  --navbar-link-color: var(--white);
  --navbar-link-cursor: pointer;
  --navbar-link-pad: 10px;
  --navbar-link-hover-color: var(--gold);
  --navbar-icon-align-self: center;
  --navs-align-items: center;
  --navs-list-style: none;
  --navs-mar: 0;
  --navs-pad: 0;
  --navs-link-flex-direction: column;
  --nav-brand-left: 10px;
  --nav-brand-img-height: 40px;
  --nav-main-link-hover-scale: 0.9;
  --nav-info-height: 50px;
  --nav-info-img-mar: 5px;
  --nav-info-link-hover-scale: 1.5;
  --nav-toggle-top: 25px;
  --nav-toggle-right: 10px;
  --nav-toggle-anima: trany-tn 1s linear infinite alternate;
  --navbar-sm-flex-direction: row;
  --navbar-sm-justify-content: space-around;
  --navbar-sm-pad: 10px;
  --navbar-md-justify-content: space-evenly;
}

/***** Navbar Display *****/
.navbar,
.nav-close:checked ~ .nav-main,
.nav-open:checked ~ .nav-info,
.nav-main a,
.nav-main label,
.nav-info a,
.nav-info label {
  display: flex;
}

.nav-main span,
.nav-info span,
.nav-close,
.nav-open,
.nav-open:checked ~ .nav-main,
.nav-close:checked ~ .nav-info,
.nav-close:checked ~ [for="nav-close"],
.nav-open:checked ~ [for="nav-open"] {
  display: none;
}

/***** Navbar *****/
.navbar {
  position: relative;
  z-index: var(--navbar-index);
  justify-content: var(--navbar-justify-content);
  align-items: var(--navbar-align-items);
  height: var(--navbar-height);
  background-color: var(--navbar-bg-color);
  color: var(--navbar-color);
}

.navbar a,
.navbar label {
  padding: var(--navbar-link-pad);
  color: var(--navbar-link-color);
  cursor: var(--navbar-link-cursor);
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active,
.navbar label:hover,
.navbar label:focus,
.navbar label:active {
  color: var(--navbar-link-hover-color);
}

.navbar i {
  align-self: var(--navbar-icon-align-self);
}

.navbar + * {
  margin-top: var(--navbar-height);
}

/***** Navs *****/
.nav-main,
.nav-info {
  align-items: var(--navs-align-items);
  margin: var(--navs-mar);
  padding: var(--navs-pad);
  list-style: var(--navs-list-style);
}

.nav-main a,
.nav-main label,
.nav-info a,
.nav-info label {
  flex-direction: var(--navs-link-flex-direction);
}

/***** Nav Brand *****/
.nav-brand {
  position: absolute;
  left: var(--nav-brand-left);
}

.nav-brand img,
.nav-brand svg {
  height: var(--nav-brand-img-height);
}

/***** Nav Main *****/
.nav-main a:hover,
.nav-main a:focus,
.nav-main a:active,
.nav-main label:hover,
.nav-main label:focus,
.nav-main label:active {
  transform: scale(var(--nav-main-link-hover-scale));
}

/***** Nav Info *****/
.nav-info img,
.nav-info svg {
  margin: var(--nav-info-img-mar);
  height: var(--nav-info-height);
}

.nav-info a:hover,
.nav-info a:focus,
.nav-info a:active,
.nav-info label:hover,
.nav-info label:focus,
.nav-info label:active {
  transform: scale(var(--nav-info-link-hover-scale));
}

/***** Nav Toggle *****/
.nav-toggle {
  position: absolute;
  top: var(--nav-toggle-top);
  right: var(--nav-toggle-right);
  animation: var(--nav-toggle-anima);
}

/***** Media Queries *****/
@media (min-width: 576px) {
  .navbar {
    flex-direction: var(--navbar-sm-flex-direction);
    justify-content: var(--navbar-sm-justify-content);
    padding: var(--navbar-sm-pad);
  }

  .nav-brand {
    position: static;
  }

  .nav-main,
  .nav-info {
    display: flex !important;
  }

  .nav-toggle {
    display: none;
  }
}

@media (min-width: 768px) {
  .navbar {
    justify-content: var(--navbar-md-justify-content);
  }

  .nav-main span {
    display: block;
  }

  .nav-info span {
    display: block;
  }
}

