/********** NAVBAR **********/

/*
1 - Navbar
2 - Navbar Visible
3 - Navbar Hidden
4 - Navbar Link & Label
5 - Navbar Icon
6 - Navbar Next All
7 - Navbar List
8 - Navbar List Link & Label
9 - Navbar Brand Link
10 - Navbar First List
11 - Navbar Last List
12 - Navbar Label
*/

/***** 1 - Navbar *****/
.navbar {
  justify-content: var(--navbar-justify-content);
  align-items: var(--navbar-align-items);
  position: var(--navbar-position);
  top: var(--navbar-top);
  right: var(--navbar-right);
  bottom: var(--navbar-bottom);
  left: var(--navbar-left);
  z-index: var(--navbar-z-index);
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
}

/***** 2 - Navbar Visible *****/
.navbar,
#navbar-close:checked ~ ul:first-of-type,
#navbar-open:checked ~ ul:last-of-type,
.navbar > ul:first-of-type a,
.navbar > ul:first-of-type label,
.navbar > ul:last-of-type a,
.navbar > ul:last-of-type label {
  display: flex;
}

/***** 3 - Navbar Hidden *****/
.navbar > ul:first-of-type span,
.navbar > ul:last-of-type span,
#navbar-close,
#navbar-open,
#navbar-open:checked ~ ul:first-of-type,
#navbar-close:checked ~ ul:last-of-type,
#navbar-close:checked ~ [for="navbar-close"],
#navbar-open:checked ~ [for="navbar-open"] {
  display: none;
}

/***** 4 - Navbar Link & Label *****/
.navbar a,
.navbar label {
  padding: var(--navbar-link-padding);
  color: var(--navbar-link-color);
  cursor: var(--navbar-link-cursor);
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active,
.navbar label:hover,
.navbar label:focus,
.navbar label:active {
  color: var(--navbar-link-hover-color);
}

/***** 5 - Navbar Icon *****/
.navbar i {
  align-self: var(--navbar-icon-align-self);
}

/***** 6 - Navbar Next All *****/
.navbar + * {
  margin-top: var(--navbar-height);
}

/***** 7 - Navbar List *****/
.navbar > ul {
  align-items: var(--navbar-list-align-items);
  margin: var(--navbar-list-margin);
  padding: var(--navbar-list-padding);
  list-style: var(--navbar-list-list-style);
}

@media (min-width: 576px) {
  .navbar > ul {
    display: flex !important;
  }
}

/***** 8 - Navbar List Link & Label *****/
.navbar > ul a,
.navbar > ul label {
  flex-direction: var(--navbar-list-link-flex-direction);
}

/***** 9 - Navbar Brand Link *****/
.navbar > a:first-of-type,
.navbar > label:first-of-type {
  position: absolute;
  left: var(--navbar-brand-link-left);
}

@media (min-width: 576px) {
  .navbar > a:first-of-type,
  .navbar > label:first-of-type {
    position: static;
  }
}

.navbar > a:first-of-type img,
.navbar > label:first-of-type img,
.navbar > a:first-of-type svg,
.navbar > label:first-of-type svg {
  height: var(--navbar-brand-link-img-height);
}

/***** 10 - Navbar First List *****/
@media (min-width: 768px) {
  .navbar > ul:first-of-type span {
    display: block;
  }
}

.navbar > ul:first-of-type a:hover,
.navbar > ul:first-of-type a:focus,
.navbar > ul:first-of-type a:active,
.navbar > ul:first-of-type label:hover,
.navbar > ul:first-of-type label:focus,
.navbar > ul:first-of-type label:active {
  transform: scale(var(--navbar-first-list-link-hover-scale));
}

/***** 11 - Navbar Last List *****/
.navbar > ul:last-of-type img,
.navbar > ul:last-of-type svg {
  margin: var(--navbar-last-list-img-margin);
  height: var(--navbar-last-list-height);
}

@media (min-width: 768px) {
  .navbar > ul:last-of-type span {
    display: block;
  }
}

.navbar > ul:last-of-type a:hover,
.navbar > ul:last-of-type a:focus,
.navbar > ul:last-of-type a:active,
.navbar > ul:last-of-type label:hover,
.navbar > ul:last-of-type label:focus,
.navbar > ul:last-of-type label:active {
  transform: scale(var(--navbar-last-list-link-hover-scale));
}

/***** 12 - Navbar Label *****/
.navbar > [for*="navbar"] {
  position: absolute;
  top: var(--navbar-label-top);
  right: var(--navbar-label-right);
  animation: var(--navbar-label-animation);
}

@media (min-width: 576px) {
  .navbar > [for*="navbar"] {
    display: none;
  }
}
