/******************** NAVBAR ********************/

/*
1. NAVBAR DISPLAY
  1.1 Navbar Visible
  1.2 Navbar Hidden
2. NAVBAR
  2.1 Navbar
  2.2 Navbar Link & Label
  2.3 Navbar Icon
  2.4 Navbar Fixed Next Element
3. NAVS
  3.1 Navs
  3.2 Navs Link & Label
4. NAV BRAND
  4.1 Nav Brand
  4.2 Nav Brand Images
5. NAV MAIN
  5.1 Nav Main
  5.1 Nav Main Hover
6. NAV INFO
  6.1 Nav Info
  6.2 Nav Info Hover
7. NAV TOGGLE
  7.1 Nav Toggle
*/

/********** 1. NAVBAR DISPLAY **********/

/*
1.1 Navbar Visible
1.2 Navbar Hidden
*/

/***** 1.1 Navbar Visible *****/
.navbar,
.nav-close:checked ~ .nav-main,
.nav-open:checked ~ .nav-info,
.nav-main a,
.nav-main label,
.nav-info a,
.nav-info label {
  display: flex;
}

/***** 1.2 Navbar Hidden *****/
.nav-main span,
.nav-info span,
.nav-close,
.nav-open,
.nav-open:checked ~ .nav-main,
.nav-close:checked ~ .nav-info,
.nav-close:checked ~ [for="nav-close"],
.nav-open:checked ~ [for="nav-open"] {
  display: none;
}

/********** 2. NAVBAR **********/

/*
2.1 Navbar
2.2 Navbar Link & Label
2.3 Navbar Icon
2.4 Navbar Fixed Next Element
*/

/***** 2.1 Navbar *****/
.navbar {
  justify-content: var(--navbar-justify-content);
  align-items: var(--navbar-align-items);
  position: var(--navbar-position);
  top: var(--navbar-top);
  right: var(--navbar-right);
  bottom: var(--navbar-bot);
  left: var(--navbar-left);
  z-index: var(--navbar-index);
  height: var(--navbar-height);
  background-color: var(--navbar-background-color);
  color: var(--navbar-color);
}

/***** 2.2 Navbar Link & Label *****/
.navbar a,
.navbar label {
  padding: var(--navbar-link-padding);
  color: var(--navbar-link-color);
  cursor: var(--navbar-link-cursor);
}

.navbar a:hover,
.navbar a:focus,
.navbar a:active,
.navbar label:hover,
.navbar label:focus,
.navbar label:active {
  color: var(--navbar-link-hover-color);
}

/***** 2.3 Navbar Icon *****/
.navbar i {
  align-self: var(--navbar-icon-align-self);
}

/***** 2.4 Navbar Fixed Next Element *****/
.navbar + * {
  margin-top: var(--navbar-height);
}

/********** 3. NAVS **********/

/*
3.1 Navs
3.2 Navs Link & Label
*/

/***** 3.1 Navs *****/
.nav-main,
.nav-info {
  align-items: var(--navs-align-items);
  margin: var(--navs-margin);
  padding: var(--navs-padding);
  list-style: var(--navs-list-style);
}

@media (min-width: 576px) {
  .nav-main,
  .nav-info {
    display: flex !important;
  }
}

/***** 3.2 Navs Link & Label *****/
.nav-main a,
.nav-main label,
.nav-info a,
.nav-info label {
  flex-direction: var(--navs-link-flex-direction);
}

/********** 4. NAV BRAND **********/

/*
4.1 Nav Brand
4.2 Nav Brand Images
*/

/***** 4.1 Nav Brand *****/
.nav-brand {
  position: absolute;
  left: var(--nav-brand-left);
}

@media (min-width: 576px) {
  .nav-brand {
    position: static;
  }
}

/***** 4.2 Nav Brand Images *****/
.nav-brand img,
.nav-brand svg {
  height: var(--nav-brand-img-height);
}

/********** 5. NAV MAIN **********/

/*
5.1 Nav Main
5.1 Nav Main Hover
*/

/***** 5.1 Nav Main *****/
@media (min-width: 768px) {
  .nav-main span {
    display: block;
  }
}

/***** 5.1 Nav Main Hover *****/
.nav-main a:hover,
.nav-main a:focus,
.nav-main a:active,
.nav-main label:hover,
.nav-main label:focus,
.nav-main label:active {
  transform: scale(var(--nav-main-link-hover-scale));
}

/********** 6. NAV INFO **********/

/*
6.1 Nav Info
6.2 Nav Info Hover
*/

/***** 6.1 Nav Info *****/
.nav-info img,
.nav-info svg {
  margin: var(--nav-info-img-margin);
  height: var(--nav-info-height);
}

@media (min-width: 768px) {
  .nav-info span {
    display: block;
  }
}

/***** 6.2 Nav Info Hover *****/
.nav-info a:hover,
.nav-info a:focus,
.nav-info a:active,
.nav-info label:hover,
.nav-info label:focus,
.nav-info label:active {
  transform: scale(var(--nav-info-link-hover-scale));
}

/********** 7. NAV TOGGLE **********/

/*
7.1 Nav Toggle
*/

/***** 7.1 Nav Toggle *****/
.nav-toggle {
  position: absolute;
  top: var(--nav-toggle-top);
  right: var(--nav-toggle-right);
  animation: var(--nav-toggle-anima);
}

@media (min-width: 576px) {
  .nav-toggle {
    display: none;
  }
}

