/********** SLIDER **********/

/*
1. Slider
2. Slide
3. Slider Controls
4. Slider Timeline
5. Media Queries
*/

/***** Slider *****/
.slider {
  --slider-text-align: center;
  --slider-anima-direction: reverse;
  --slider-anima-iteration: infinite;
  --play-check-slide-anima: 10s linear;
  --slider-icon-color: var(--blue);
  --play-check-slide-play-icon-before: "\f28d";
  --repeat-check-slide-repeat-icon-before: "\f056";
  --direction-check-slide-direction-icon-before: "\f137";
  --play-check-slide-icon-before-color: var(--white);
  --slider-radio-slide-icon-before-content: "\f058";
  --slider-radio1-slider-timeline-width: 0;
  --slider-radio2-slider-timeline-width: 25%;
  --slider-radio3-slider-timeline-width: 50%;
  --slider-radio4-slider-timeline-width: 75%;
  --slider-radio5-slider-timeline-width: 100%;

  text-align: var(--slider-text-align);
}

/***** Slide *****/
.slide {
  --slide-height: 50vh;
  --slide-mar: auto;

  margin: var(--slide-mar);
  height: var(--slide-height);
}

[class*="play-check"]:checked ~ .slide {
  animation: slider var(--play-check-slide-anima);
}

[class*="repeat-check"]:checked ~ .slide {
  animation-iteration-count: var(--slider-anima-iteration);
}

[class*="direction-check"]:checked ~ .slide {
  animation-direction: var(--slider-anima-direction);
}

.slide > * {
  display: none;
  height: var(--slide-height);
}

[class*="slider-radio1"]:checked ~ .slide .slide1,
[class*="slider-radio2"]:checked ~ .slide .slide2,
[class*="slider-radio3"]:checked ~ .slide .slide3,
[class*="slider-radio4"]:checked ~ .slide .slide4,
[class*="slider-radio5"]:checked ~ .slide .slide5 {
  display: inline-block;
}

/***** Slider Controls *****/
.slider-controls {
  --slider-controls-bg: var(--obsidian);
  --slider-controls-bord: thin solid var(--black);
  --slider-controls-juco: center;
  --slider-controls-mar: 10px;
  --slider-controls-opacity: 0;
  --slider-controls-pad: 10px;
  --slider-controls-radius: 5px;
  --slider-controls-hover-opacity: 1;

  display: inline-flex;
  justify-content: var(--slider-controls-juco);
  margin: var(--slider-controls-mar);
  border: var(--slider-controls-bord);
  border-radius: var(--slider-controls-radius);
  padding: var(--slider-controls-pad);
  background-color: var(--slider-controls-bg);
  opacity: var(--slider-controls-opacity);
}

.slider:hover .slider-controls,
.slider:focus .slider-controls,
.slider:active .slider-controls {
  opacity: var(--slider-controls-hover-opacity);
}

.slider label {
  --slider-label-color: var(--white);
  --slider-label-pad: 10px 5px;

  color: var(--slider-label-color);
  padding: var(--slider-label-pad);
}

[class*="play-check"]:checked ~ .slider-controls [for="slide-play"] > i {
  color: var(--slider-icon-color);
}

[class*="play-check"]:checked ~ .slider-controls [for="slide-play"] > i::before {
  content: var(--play-check-slide-play-icon-before);
}

[class*="repeat-check"]:checked ~ .slider-controls [for="slide-repeat"] > i::before {
  content: var(--repeat-check-slide-repeat-icon-before);
}

[class*="direction-check"]:checked ~ .slider-controls [for="slide-direction"] > i::before {
  content: var(--direction-check-slide-direction-icon-before);
}

[class*="play-check"]:checked ~ .slider-controls [for="slide1"] > .fas::before,
[class*="play-check"]:checked ~ .slider-controls [for="slide2"] > .fas::before,
[class*="play-check"]:checked ~ .slider-controls [for="slide3"] > .fas::before,
[class*="play-check"]:checked ~ .slider-controls [for="slide4"] > .fas::before,
[class*="play-check"]:checked ~ .slider-controls [for="slide5"] > .fas::before {
  color: var(--play-check-slide-icon-before-color);
}

[class*="slider-radio1"]:checked ~ .slider-controls [for="slide1"] > i::before,
[class*="slider-radio2"]:checked ~ .slider-controls [for="slide2"] > i::before,
[class*="slider-radio3"]:checked ~ .slider-controls [for="slide3"] > i::before,
[class*="slider-radio4"]:checked ~ .slider-controls [for="slide4"] > i::before,
[class*="slider-radio5"]:checked ~ .slider-controls [for="slide5"] > i::before {
  color: var(--slider-icon-color);
  content: var(--slider-radio-slide-icon-before-content);
}

/***** Slider Timeline *****/
.slider-timeline {
  --slider-timeline-height: 6px;
  --slider-timeline-bg: var(--blue);

  height: var(--slider-timeline-height);
  background-color: var(--slider-timeline-bg);
}

[class*="play-check"]:checked ~ .slider-timeline {
  animation: width var(--play-check-slide-anima);
}

[class*="repeat-check"]:checked ~ .slider-timeline {
  animation-iteration-count: var(--slider-anima-iteration);
}

[class*="direction-check"]:checked ~ .slider-timeline {
  animation-direction: var(--slider-anima-direction);
}

[class*="slider-radio1"]:checked ~ .slider-timeline {
  width: var(--slider-radio1-slider-timeline-width);
}

[class*="slider-radio2"]:checked ~ .slider-timeline {
  width: var(--slider-radio2-slider-timeline-width);
}

[class*="slider-radio3"]:checked ~ .slider-timeline {
  width: var(--slider-radio3-slider-timeline-width);
}

[class*="slider-radio4"]:checked ~ .slider-timeline {
  width: var(--slider-radio4-slider-timeline-width);
}

[class*="slider-radio5"]:checked ~ .slider-timeline {
  width: var(--slider-radio5-slider-timeline-width);
}

/***** Media Queries *****/
@media (min-width: 576px) {
  .slider-timeline {
    --slider-timeline-height: 7px;
  }
}

@media (min-width: 768px) {
  .slider-timeline {
    --slider-timeline-height: 8px;
  }
}

@media (min-width: 992px) {
  .slider-timeline {
    --slider-timeline-height: 9px;
  }
}

@media (min-width: 1200px) {
  .slider-timeline {
    --slider-timeline-height: 10px;
  }
}

