/********** SLIDER **********/

/*
1 - Slider
2 - Slider Figure
3 - Slider Check Figure
4 - Slider Figure All
5 - Slider Check Figure Image
6 - Slider List
7 - Slider Hover List
8 - Slider List Link
9 - Slider List Label
10 - Slider Check List Icon
11 - Slider Check List FA
12 - Slider Check List Icon
13 - Slider Progress
14 - Slider Check Progress
15 - Slider Radio Progress
*/

/***** 1 - Slider *****/
.slider {
  position: var(--slider-position);
  margin: var(--slider-margin);
  width: var(--slider-width);
  min-height: var(--slider-min-height);
  text-align: var(--slider-text-align);
}

/***** 2 - Slider Figure *****/
.slider > figure {
  margin: var(--slider-figure-margin);
  object-fit: var(--slider-figure-object-fit);
  max-width: var(--slider-figure-max-width);
  max-height: var(--slider-figure-max-height);
}

/***** 3 - Slider Check Figure *****/
#slider-check-play:checked ~ figure {
  animation: content var(--slider-check-play-animation);
}

#slider-check-repeat:checked ~ figure {
  animation-iteration-count: var(--slider-check-repeat-animation-iteration-count);
}

#slider-check-direction:checked ~ figure {
  animation-direction: var(--slider-check-direction-animation-direction);
}

/***** 4 - Slider Figure All *****/
.slider > figure > * {
  display: none;
  max-height: var(--slider-figure-max-height);
}

/***** 5 - Slider Check Figure Image *****/
#slider-radio1:checked ~ figure > img:nth-child(1),
#slider-radio2:checked ~ figure > img:nth-child(2),
#slider-radio3:checked ~ figure > img:nth-child(3),
#slider-radio4:checked ~ figure > img:nth-child(4),
#slider-radio5:checked ~ figure > img:nth-child(5) {
  display: inline-block;
}

/***** 6 - Slider List *****/
.slider > ul {
  display: inline-flex;
  place-content: var(--slider-list-place-content);
  margin: var(--slider-list-margin);
  border: var(--slider-list-border);
  border-radius: var(--slider-list-border-radius);
  padding: var(--slider-list-padding);
  width: var(--slider-list-width);
  background-color: var(--slider-list-background-color);
  opacity: var(--slider-list-opacity);
  transition: opacity var(--slider-transition-opacity);
}

/***** 7 - Slider Hover List *****/
.slider:hover > ul,
.slider:focus > ul,
.slider:active > ul {
  opacity: var(--slider-hover-list-opacity);
  transition: opacity var(--slider-transition-opacity);
}

/***** 8 - Slider List Link *****/
.slider > ul a {
  color: var(--slider-list-link-color);
}

/***** 9 - Slider List Label *****/
.slider > ul label {
  color: var(--slider-list-label-color);
  padding: var(--slider-list-label-padding);
}

/***** 10 - Slider Check List Icon *****/
#slider-check-play:checked ~ ul [for="slider-check-play"] > i {
  color: var(--slider-icon-color);
  transition: color var(--slider-transition-color);
}

#slider-check-play:checked ~ ul [for="slider-check-play"] > i::before {
  content: var(--slider-check-play-list-icon-before-content);
}

#slider-check-repeat:checked ~ ul [for="slider-check-repeat"] > i::before {
  content: var(--slider-check-repeat-list-icon-before-content);
}

#slider-check-direction:checked ~ ul [for="slider-check-direction"] > i::before {
  content: var(--slider-check-direction-list-icon-before-content);
}

/***** 11 - Slider Check List FA *****/
#slider-check-play:checked ~ ul [for="slider-radio1"] > .fas::before,
#slider-check-play:checked ~ ul [for="slider-radio2"] > .fas::before,
#slider-check-play:checked ~ ul [for="slider-radio3"] > .fas::before,
#slider-check-play:checked ~ ul [for="slider-radio4"] > .fas::before,
#slider-check-play:checked ~ ul [for="slider-radio5"] > .fas::before {
  color: var(--slider-check-play-list-icon-before-color);
}

/***** 12 - Slider Check List Icon  *****/
#slider-radio2:checked ~ ul [for="slider-radio2"] > i::before,
#slider-radio1:checked ~ ul [for="slider-radio1"] > i::before,
#slider-radio3:checked ~ ul [for="slider-radio3"] > i::before,
#slider-radio4:checked ~ ul [for="slider-radio4"] > i::before,
#slider-radio5:checked ~ ul [for="slider-radio5"] > i::before {
  color: var(--slider-icon-color);
  transition: color var(--slider-transition-color);
  content: var(--slider-radio-list-icon-before-content);
}

/***** 13 - Slider Progress *****/
.slider > div {
  height: var(--slider-progress-height);
  background-color: var(--slider-progress-background-color);
}

/***** 14 - Slider Check Progress *****/
#slider-check-play:checked ~ div {
  animation: width var(--slider-check-play-animation);
}

#slider-check-repeat:checked ~ div {
  animation-iteration-count: var(--slider-check-repeat-animation-iteration-count);
}

#slider-check-direction:checked ~ div {
  animation-direction: var(--slider-check-direction-animation-direction);
}

/***** 15 - Slider Radio Progress *****/
#slider-radio1:checked ~ div {
  width: var(--slider-radio1-checked-progress-width);
}

#slider-radio2:checked ~ div {
  width: var(--slider-radio2-checked-progress-width);
}

#slider-radio3:checked ~ div {
  width: var(--slider-radio3-checked-progress-width);
}

#slider-radio4:checked ~ div {
  width: var(--slider-radio4-checked-progress-width);
}

#slider-radio5:checked ~ div {
  width: var(--slider-radio5-checked-progress-width);
}
