/********** SLIDER **********/

/*
1. Slider
2. Slide Auto
3. Slide Left
4. Slide Right
5. Media Queries
*/

/***** Slider *****/
.slider {
  --slider-text-align: center;
  --slide-mar: auto;
  --slide-height: 50vh;
  --slider-check-slide-anima: 10s linear infinite;
  --slider-controls-juco: center;
  --slider-controls-mar: 10px;
  --slider-controls-bord: thin solid var(--black);
  --slider-controls-radius: 5px;
  --slider-controls-pad: 10px;
  --slider-controls-bg: var(--obsidian);
  --slider-label-color: var(--white);
  --slider-label-pad: 10px 5px;
  --slider-check-slide-auto-icon-color: var(--blue);
  --slider-check-slide-auto-icon-anima: 2s linear reverse infinite;
  --slider-radio-slider-controls-icons-before-color: var(--blue);
  --slider-radio-slider-controls-icons-before-content: "\f058";
  --slider-timeline-height: 6px;
  --slider-timeline-bg: var(--blue);
  --slider-radio1-slider-timeline-width: 0;
  --slider-radio2-slider-timeline-width: 25%;
  --slider-radio3-slider-timeline-width: 50%;
  --slider-radio4-slider-timeline-width: 75%;
  --slider-radio5-slider-timeline-width: 100%;
  --slider-timeline-sm-height: 7px;
  --slider-timeline-md-height: 8px;
  --slider-timeline-lg-height: 9px;
  --slider-timeline-wd-height: 10px;

  position: relative;
  overflow: hidden;
}

.slider figure {
  display: flex;
  width: 200%;
  margin: 0;
}

.slider label {
  top: var(--slider-label-top);
  overflow: var(--slider-label-flow);
  color: var(--slider-label-color);
  background-color: var(--slider-label-bg);
  transform: scale(var(--slider-label-scale));
  z-index: var(--slider-label-index);
}

.timeline {
  height: var(--timeline-height);
  background-color: var(--timeline-bg);
}

/***** Slide Auto *****/
[for="slide-auto"] {
  right: var(--slide-auto-right);
  border-radius: var(--slide-auto-radius);
  padding: var(--slide-auto-pad);
}

[for="slide-auto"]:hover,
[for="slide-auto"]:active,
[for="slide-auto"]:focus,
.slider section:hover ~ [for="slide-auto"],
.slider section:active ~ [for="slide-auto"],
.slider section:focus ~ [for="slide-auto"] {
  display: block;
}

.slide-auto:checked ~ figure {
  animation: translateX-wait var(--slide-auto-anima);
}

.slide-auto:checked ~ .timeline {
  animation: width var(--slide-auto-anima);
}

/***** Slide Left *****/
[for="slide-left"] {
  left: var(--slide-left-left);
  border-radius: var(--slide-left-radius);
  padding: var(--slide-left-pad);
}

.slide-left:checked ~ figure {
  transform: translateX(0);
}

.slide-left:checked ~ .timeline {
  width: 0;
}

/***** Slide Right *****/
[for="slide-right"] {
  right: var(--slide-right-right);
  border-radius: var(--slide-right-radius);
  padding: var(--slide-right-pad);
}

.slide-right:checked ~ figure {
  transform: translateX(-50%);
}

.slide-right:checked ~ .timeline {
  width: 100%;
}

/***** Media Queries *****/
@media (min-width: 576px) {
  .slider label {
    top: var(--slider-label-sm-top);
    transform: scale(var(--slider-label-sm-scale));
  }

  .timeline {
    height: var(--timeline-sm-height);
  }

  [for="slide-left"] {
    left: var(--slide-left-sm-left);
  }

  [for="slide-right"] {
    right: var(--slide-right-sm-right);
  }
}

@media (min-width: 768px) {
  .slider label {
    top: var(--slider-label-md-top);
    transform: scale(var(--slider-label-md-scale));
  }

  .timeline {
    height: var(--timeline-md-height);
  }

  [for="slide-left"] {
    left: var(--slide-left-md-left);
  }

  [for="slide-right"] {
    right: var(--slide-right-md-right);
  }
}

@media (min-width: 992px) {
  .slider label {
    top: var(--slider-label-lg-top);
    transform: scale(var(--slider-label-lg-scale));
  }

  .timeline {
    height: var(--timeline-lg-height);
  }

  [for="slide-left"] {
    left: var(--slide-left-lg-left);
  }

  [for="slide-right"] {
    right: var(--slide-right-lg-right);
  }
}

@media (min-width: 1200px) {
  .slider label {
    top: var(--slider-label-sm-top);
    transform: scale(var(--slider-label-sm-scale));
  }

  .timeline {
    height: var(--timeline-wd-height);
  }

  [for="slide-left"] {
    left: var(--slide-left-wd-left);
  }

  [for="slide-right"] {
    right: var(--slide-right-wd-right);
  }
}

