/***************************/
/********** TABLE **********/
/***************************/


table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}
