/******************** TABLE ********************/

/*
1. TABLE
  1.1 Table
  1.2 Table Display
  1.3 Table Collapse
2. TABLE CAPTION
  2.1 Table Caption
3. TABLE TITLES
  3.1 Table Titles
4. TABLE GLOBAL
  4.1 Table Global
5. TABLE ROWS
  5.1 Table Rows
*/

/********** 1. TABLE **********/

/*
1.1 Table
1.2 Table Display
1.3 Table Collapse
*/

/***** 1.1 Table *****/
[class*="table"] {
  display: table;
  border-collapse: var(--table-border-collapse);
  border-spacing: var(--table-border-space);
  margin-bottom: var(--table-margin-bottom);
  width: var(--table-width);
  box-shadow: var(--table-box-shadow);
}

/***** 1.2 Table Display *****/
[class*="table-"][class*="-inline"] {
  display: inline-table;
}

[class*="table-"][class*="-caption"] {
  display: table-caption;
}

[class*="table-"][class*="-row"] {
  display: table-row;
}

[class*="table-"][class*="-column"] {
  display: table-column;
}

[class*="table-"][class*="-cell"] {
  display: table-cell;
}

/***** 1.3 Table Collapse *****/
[class*="table-"][class*="-collapse"] {
  border-collapse: collapse;
}

[class*="table-"][class*="-separate"] {
  border-collapse: separate;
}

/********** 2. TABLE CAPTION **********/

/*
2.1 Table Caption
*/

/***** 2.1 Table Caption *****/
[class*="table"] > caption {
  caption-side: var(--table-caption-side);
  margin-bottom: var(--table-caption-margin-bottom);
  color: var(--table-caption-color);
  font-size: var(--table-caption-font-size);
  font-weight: var(--table-caption-font-weight);
  text-shadow: var(--table-caption-text-shadow);
}

/********** 3. TABLE TITLES **********/

/*
3.1 Table Titles
*/

/***** 3.1 Table Titles *****/
[class*="table"] thead,
[class*="table"] tfoot {
  background-color: var(--table-title-background-color);
  color: var(--table-title-color);
  font-style: var(--table-title-font-style);
}

/********** 4. TABLE GLOBAL **********/

/*
4.1 Table Global
*/

/***** 4.1 Table Global *****/
[class*="table"] th,
[class*="table"] td {
  border-style: var(--table-cell-border-style);
  border-width: var(--table-cell-border-width);
  border-color: var(--table-cell-border-color);
  border-radius: var(--table-cell-border-radius);
  padding: var(--table-cell-padding);
  text-align: var(--table-cell-text-align);
  vertical-align: var(--table-cell-vertical-align);
}

/********** 5. TABLE ROWS **********/

/*
5.1 Table Rows
*/

/***** 5.1 Table Rows *****/
[class*="table"] tbody tr:hover,
[class*="table"] tbody tr:focus,
[class*="table"] tbody tr:active {
  box-shadow: var(--table-row-hover-box-shadow);
}

[class*="table"] tbody tr:nth-child(even) {
  background-color: var(--table-row-even-background-color);
  color: var(--table-row-even-color);
}

[class*="table"] tbody tr:nth-child(even):hover,
[class*="table"] tbody tr:nth-child(even):focus,
[class*="table"] tbody tr:nth-child(even):active {
  background-color: var(--table-row-even-hover-background-color);
  color: var(--table-row-even-hover-color);
}

[class*="table"] tbody tr:nth-child(odd) {
  background-color: var(--table-row-odd-background-color);
  color: var(--table-row-odd-color);
}

[class*="table"] tbody tr:nth-child(odd):hover,
[class*="table"] tbody tr:nth-child(odd):focus,
[class*="table"] tbody tr:nth-child(odd):active {
  background-color: var(--table-row-odd-hover-background-color);
  color: var(--table-row-odd-hover-color);
}

