/**********************************/
/********** BORDER STYLE **********/
/**********************************/


[class*="bord"][class*="tio"][class*="dashed"],
[class*="bord"][class*="dio"][class*="dashed"]:checked ~ [class*="bord"][class*="target"][class*="dashed"],
*:hover > [class*="bord"][class*="into"][class*="dashed"],
*:focus > [class*="bord"][class*="into"][class*="dashed"],
*:active > [class*="bord"][class*="into"][class*="dashed"],
[class*="bord"][class*="onto"][class*="dashed"]:hover,
[class*="bord"][class*="onto"][class*="dashed"]:focus,
[class*="bord"][class*="onto"][class*="dashed"]:active,
[class*="bord"][class*="toall"][class*="dashed"] > *,
[class*="bord"][class*="forall"][class*="dashed"]:hover > *,
[class*="bord"][class*="forall"][class*="dashed"]:focus > *,
[class*="bord"][class*="forall"][class*="dashed"]:active > *,
[class*="bord"][class*="fromall"][class*="dashed"] > *:hover,
[class*="bord"][class*="fromall"][class*="dashed"] > *:focus,
[class*="bord"][class*="fromall"][class*="dashed"] > *:active {
    border-style: dashed;
}

[class*="bord"][class*="tio"][class*="dotted"],
[class*="bord"][class*="dio"][class*="dotted"]:checked ~ [class*="bord"][class*="target"][class*="dotted"],
*:hover > [class*="bord"][class*="into"][class*="dotted"],
*:focus > [class*="bord"][class*="into"][class*="dotted"],
*:active > [class*="bord"][class*="into"][class*="dotted"],
[class*="bord"][class*="onto"][class*="dotted"]:hover,
[class*="bord"][class*="onto"][class*="dotted"]:focus,
[class*="bord"][class*="onto"][class*="dotted"]:active,
[class*="bord"][class*="toall"][class*="dotted"] > *,
[class*="bord"][class*="forall"][class*="dotted"]:hover > *,
[class*="bord"][class*="forall"][class*="dotted"]:focus > *,
[class*="bord"][class*="forall"][class*="dotted"]:active > *,
[class*="bord"][class*="fromall"][class*="dotted"] > *:hover,
[class*="bord"][class*="fromall"][class*="dotted"] > *:focus,
[class*="bord"][class*="fromall"][class*="dotted"] > *:active {
    border-style: dotted;
}

[class*="bord"][class*="tio"][class*="double"],
[class*="bord"][class*="dio"][class*="double"]:checked ~ [class*="bord"][class*="target"][class*="double"],
*:hover > [class*="bord"][class*="into"][class*="double"],
*:focus > [class*="bord"][class*="into"][class*="double"],
*:active > [class*="bord"][class*="into"][class*="double"],
[class*="bord"][class*="onto"][class*="double"]:hover,
[class*="bord"][class*="onto"][class*="double"]:focus,
[class*="bord"][class*="onto"][class*="double"]:active,
[class*="bord"][class*="toall"][class*="double"] > *,
[class*="bord"][class*="forall"][class*="double"]:hover > *,
[class*="bord"][class*="forall"][class*="double"]:focus > *,
[class*="bord"][class*="forall"][class*="double"]:active > *,
[class*="bord"][class*="fromall"][class*="double"] > *:hover,
[class*="bord"][class*="fromall"][class*="double"] > *:focus,
[class*="bord"][class*="fromall"][class*="double"] > *:active {
    border-style: double;
}

[class*="bord"][class*="tio"][class*="groove"],
[class*="bord"][class*="dio"][class*="groove"]:checked ~ [class*="bord"][class*="target"][class*="groove"],
*:hover > [class*="bord"][class*="into"][class*="groove"],
*:focus > [class*="bord"][class*="into"][class*="groove"],
*:active > [class*="bord"][class*="into"][class*="groove"],
[class*="bord"][class*="onto"][class*="groove"]:hover,
[class*="bord"][class*="onto"][class*="groove"]:focus,
[class*="bord"][class*="onto"][class*="groove"]:active,
[class*="bord"][class*="toall"][class*="groove"] > *,
[class*="bord"][class*="forall"][class*="groove"]:hover > *,
[class*="bord"][class*="forall"][class*="groove"]:focus > *,
[class*="bord"][class*="forall"][class*="groove"]:active > *,
[class*="bord"][class*="fromall"][class*="groove"] > *:hover,
[class*="bord"][class*="fromall"][class*="groove"] > *:focus,
[class*="bord"][class*="fromall"][class*="groove"] > *:active {
    border-style: groove;
}

[class*="bord"][class*="tio"][class*="inset"],
[class*="bord"][class*="dio"][class*="inset"]:checked ~ [class*="bord"][class*="target"][class*="inset"],
*:hover > [class*="bord"][class*="into"][class*="inset"],
*:focus > [class*="bord"][class*="into"][class*="inset"],
*:active > [class*="bord"][class*="into"][class*="inset"],
[class*="bord"][class*="onto"][class*="inset"]:hover,
[class*="bord"][class*="onto"][class*="inset"]:focus,
[class*="bord"][class*="onto"][class*="inset"]:active,
[class*="bord"][class*="toall"][class*="inset"] > *,
[class*="bord"][class*="forall"][class*="inset"]:hover > *,
[class*="bord"][class*="forall"][class*="inset"]:focus > *,
[class*="bord"][class*="forall"][class*="inset"]:active > *,
[class*="bord"][class*="fromall"][class*="inset"] > *:hover,
[class*="bord"][class*="fromall"][class*="inset"] > *:focus,
[class*="bord"][class*="fromall"][class*="inset"] > *:active {
    border-style: inset;
}

[class*="bord"][class*="tio"][class*="outset"],
[class*="bord"][class*="dio"][class*="outset"]:checked ~ [class*="bord"][class*="target"][class*="outset"],
*:hover > [class*="bord"][class*="into"][class*="outset"],
*:focus > [class*="bord"][class*="into"][class*="outset"],
*:active > [class*="bord"][class*="into"][class*="outset"],
[class*="bord"][class*="onto"][class*="outset"]:hover,
[class*="bord"][class*="onto"][class*="outset"]:focus,
[class*="bord"][class*="onto"][class*="outset"]:active,
[class*="bord"][class*="toall"][class*="outset"] > *,
[class*="bord"][class*="forall"][class*="outset"]:hover > *,
[class*="bord"][class*="forall"][class*="outset"]:focus > *,
[class*="bord"][class*="forall"][class*="outset"]:active > *,
[class*="bord"][class*="fromall"][class*="outset"] > *:hover,
[class*="bord"][class*="fromall"][class*="outset"] > *:focus,
[class*="bord"][class*="fromall"][class*="outset"] > *:active {
    border-style: outset;
}

[class*="bord"][class*="tio"][class*="ridge"],
[class*="bord"][class*="dio"][class*="ridge"]:checked ~ [class*="bord"][class*="target"][class*="ridge"],
*:hover > [class*="bord"][class*="into"][class*="ridge"],
*:focus > [class*="bord"][class*="into"][class*="ridge"],
*:active > [class*="bord"][class*="into"][class*="ridge"],
[class*="bord"][class*="onto"][class*="ridge"]:hover,
[class*="bord"][class*="onto"][class*="ridge"]:focus,
[class*="bord"][class*="onto"][class*="ridge"]:active,
[class*="bord"][class*="toall"][class*="ridge"] > *,
[class*="bord"][class*="forall"][class*="ridge"]:hover > *,
[class*="bord"][class*="forall"][class*="ridge"]:focus > *,
[class*="bord"][class*="forall"][class*="ridge"]:active > *,
[class*="bord"][class*="fromall"][class*="ridge"] > *:hover,
[class*="bord"][class*="fromall"][class*="ridge"] > *:focus,
[class*="bord"][class*="fromall"][class*="ridge"] > *:active {
    border-style: ridge;
}

[class*="bord"][class*="tio"][class*="solid"],
[class*="bord"][class*="dio"][class*="solid"]:checked ~ [class*="bord"][class*="target"][class*="solid"],
*:hover > [class*="bord"][class*="into"][class*="solid"],
*:focus > [class*="bord"][class*="into"][class*="solid"],
*:active > [class*="bord"][class*="into"][class*="solid"],
[class*="bord"][class*="onto"][class*="solid"]:hover,
[class*="bord"][class*="onto"][class*="solid"]:focus,
[class*="bord"][class*="onto"][class*="solid"]:active,
[class*="bord"][class*="toall"][class*="solid"] > *,
[class*="bord"][class*="forall"][class*="solid"]:hover > *,
[class*="bord"][class*="forall"][class*="solid"]:focus > *,
[class*="bord"][class*="forall"][class*="solid"]:active > *,
[class*="bord"][class*="fromall"][class*="solid"] > *:hover,
[class*="bord"][class*="fromall"][class*="solid"] > *:focus,
[class*="bord"][class*="fromall"][class*="solid"] > *:active {
    border-style: solid;
}