/****************************/
/********** BORDER **********/
/****************************/


[class*="bord"][class*="tio"][class*="slight"],
[class*="bord"][class*="dio"][class*="slight"]:checked ~ [class*="bord"][class*="target"][class*="slight"],
*:hover > [class*="bord"][class*="into"][class*="slight"],
*:focus > [class*="bord"][class*="into"][class*="slight"],
*:active > [class*="bord"][class*="into"][class*="slight"],
[class*="bord"][class*="onto"][class*="slight"]:hover,
[class*="bord"][class*="onto"][class*="slight"]:focus,
[class*="bord"][class*="onto"][class*="slight"]:active,
[class*="bord"][class*="toall"][class*="slight"] > *,
[class*="bord"][class*="forall"][class*="slight"]:hover > *,
[class*="bord"][class*="forall"][class*="slight"]:focus > *,
[class*="bord"][class*="forall"][class*="slight"]:active > *,
[class*="bord"][class*="fromall"][class*="slight"] > *:hover,
[class*="bord"][class*="fromall"][class*="slight"] > *:focus,
[class*="bord"][class*="fromall"][class*="slight"] > *:active {
    border-radius: var(--bord-radius-slight);
}

[class*="bord"][class*="tio"][class*="round"],
[class*="bord"][class*="dio"][class*="round"]:checked ~ [class*="bord"][class*="target"][class*="round"],
*:hover > [class*="bord"][class*="into"][class*="round"],
*:focus > [class*="bord"][class*="into"][class*="round"],
*:active > [class*="bord"][class*="into"][class*="round"],
[class*="bord"][class*="onto"][class*="round"]:hover,
[class*="bord"][class*="onto"][class*="round"]:focus,
[class*="bord"][class*="onto"][class*="round"]:active,
[class*="bord"][class*="toall"][class*="round"] > *,
[class*="bord"][class*="forall"][class*="round"]:hover > *,
[class*="bord"][class*="forall"][class*="round"]:focus > *,
[class*="bord"][class*="forall"][class*="round"]:active > *,
[class*="bord"][class*="fromall"][class*="round"] > *:hover,
[class*="bord"][class*="fromall"][class*="round"] > *:focus,
[class*="bord"][class*="fromall"][class*="round"] > *:active {
    border-radius: var(--bord-radius-round);
}

[class*="bord"][class*="tio"][class*="circle"],
[class*="bord"][class*="dio"][class*="circle"]:checked ~ [class*="bord"][class*="target"][class*="circle"],
*:hover > [class*="bord"][class*="into"][class*="circle"],
*:focus > [class*="bord"][class*="into"][class*="circle"],
*:active > [class*="bord"][class*="into"][class*="circle"],
[class*="bord"][class*="onto"][class*="circle"]:hover,
[class*="bord"][class*="onto"][class*="circle"]:focus,
[class*="bord"][class*="onto"][class*="circle"]:active,
[class*="bord"][class*="toall"][class*="circle"] > *,
[class*="bord"][class*="forall"][class*="circle"]:hover > *,
[class*="bord"][class*="forall"][class*="circle"]:focus > *,
[class*="bord"][class*="forall"][class*="circle"]:active > *,
[class*="bord"][class*="fromall"][class*="circle"] > *:hover,
[class*="bord"][class*="fromall"][class*="circle"] > *:focus,
[class*="bord"][class*="fromall"][class*="circle"] > *:active {
    border-radius: var(--bord-radius-circle);
}

[class*="bord"][class*="tio"][class*="ellipse"],
[class*="bord"][class*="dio"][class*="ellipse"]:checked ~ [class*="bord"][class*="target"][class*="ellipse"],
*:hover > [class*="bord"][class*="into"][class*="ellipse"],
*:focus > [class*="bord"][class*="into"][class*="ellipse"],
*:active > [class*="bord"][class*="into"][class*="ellipse"],
[class*="bord"][class*="onto"][class*="ellipse"]:hover,
[class*="bord"][class*="onto"][class*="ellipse"]:focus,
[class*="bord"][class*="onto"][class*="ellipse"]:active,
[class*="bord"][class*="toall"][class*="ellipse"] > *,
[class*="bord"][class*="forall"][class*="ellipse"]:hover > *,
[class*="bord"][class*="forall"][class*="ellipse"]:focus > *,
[class*="bord"][class*="forall"][class*="ellipse"]:active > *,
[class*="bord"][class*="fromall"][class*="ellipse"] > *:hover,
[class*="bord"][class*="fromall"][class*="ellipse"] > *:focus,
[class*="bord"][class*="fromall"][class*="ellipse"] > *:active {
    border-radius: var(--bord-radius-ellipse);
}