/**********************************/
/********** BORDER WIDTH **********/
/**********************************/


[class*="bord"][class*="tio"][class*="sm"],
[class*="bord"][class*="dio"][class*="sm"]:checked ~ [class*="bord"][class*="target"][class*="sm"],
*:hover > [class*="bord"][class*="into"][class*="sm"],
*:focus > [class*="bord"][class*="into"][class*="sm"],
*:active > [class*="bord"][class*="into"][class*="sm"],
[class*="bord"][class*="onto"][class*="sm"]:hover,
[class*="bord"][class*="onto"][class*="sm"]:focus,
[class*="bord"][class*="onto"][class*="sm"]:active,
[class*="bord"][class*="toall"][class*="sm"] > *,
[class*="bord"][class*="forall"][class*="sm"]:hover > *,
[class*="bord"][class*="forall"][class*="sm"]:focus > *,
[class*="bord"][class*="forall"][class*="sm"]:active > *,
[class*="bord"][class*="fromall"][class*="sm"] > *:hover,
[class*="bord"][class*="fromall"][class*="sm"] > *:focus,
[class*="bord"][class*="fromall"][class*="sm"] > *:active {
    border-width: var(--bord-width-sm);
}

[class*="bord"][class*="tio"][class*="md"],
[class*="bord"][class*="dio"][class*="md"]:checked ~ [class*="bord"][class*="target"][class*="md"],
*:hover > [class*="bord"][class*="into"][class*="md"],
*:focus > [class*="bord"][class*="into"][class*="md"],
*:active > [class*="bord"][class*="into"][class*="md"],
[class*="bord"][class*="onto"][class*="md"]:hover,
[class*="bord"][class*="onto"][class*="md"]:focus,
[class*="bord"][class*="onto"][class*="md"]:active,
[class*="bord"][class*="toall"][class*="md"] > *,
[class*="bord"][class*="forall"][class*="md"]:hover > *,
[class*="bord"][class*="forall"][class*="md"]:focus > *,
[class*="bord"][class*="forall"][class*="md"]:active > *,
[class*="bord"][class*="fromall"][class*="md"] > *:hover,
[class*="bord"][class*="fromall"][class*="md"] > *:focus,
[class*="bord"][class*="fromall"][class*="md"] > *:active {
    border-width: var(--bord-width-md);
}

[class*="bord"][class*="tio"][class*="lg"],
[class*="bord"][class*="dio"][class*="lg"]:checked ~ [class*="bord"][class*="target"][class*="lg"],
*:hover > [class*="bord"][class*="into"][class*="lg"],
*:focus > [class*="bord"][class*="into"][class*="lg"],
*:active > [class*="bord"][class*="into"][class*="lg"],
[class*="bord"][class*="onto"][class*="lg"]:hover,
[class*="bord"][class*="onto"][class*="lg"]:focus,
[class*="bord"][class*="onto"][class*="lg"]:active,
[class*="bord"][class*="toall"][class*="lg"] > *,
[class*="bord"][class*="forall"][class*="lg"]:hover > *,
[class*="bord"][class*="forall"][class*="lg"]:focus > *,
[class*="bord"][class*="forall"][class*="lg"]:active > *,
[class*="bord"][class*="fromall"][class*="lg"] > *:hover,
[class*="bord"][class*="fromall"][class*="lg"] > *:focus,
[class*="bord"][class*="fromall"][class*="lg"] > *:active {
    border-width: var(--bord-width-lg);
}