/***** Elements : Variables : Btn *****/

$btn-xs-padding:      3px 6px     !default;
$btn-xs-font-size:    60%         !default;

$btn-sm-padding:      4px 8px     !default;
$btn-sm-font-size:    80%         !default;

$btn-lg-padding:      7px 14px    !default;
$btn-lg-font-size:    140%        !default;

$btn-xl-padding:      9px 18px    !default;
$btn-xl-font-size:    180%        !default;

$btn-size: 'xs', 'sm', 'lg', 'xl';

$btn-sizes: (
  'xs-padding':     $btn-xs-padding,
  'xs-font-size':   $btn-xs-font-size,
  'sm-padding':     $btn-sm-padding,
  'sm-font-size':   $btn-sm-font-size,
  'lg-padding':     $btn-lg-padding,
  'lg-font-size':   $btn-lg-font-size,
  'xl-padding':     $btn-xl-padding,
  'xl-font-size':   $btn-xl-font-size
) !default;

$btn-square-border-radius:    unset                               !default;
$btn-square-padding-top:      calc(var(--btn-square-sizes) / 4)   !default;
$btn-square-sizes:            100px                               !default;

$btn-round-border-radius:   30px                                  !default;
$btn-round-padding-top:     calc(var(--btn-round-sizes) / 4)      !default;
$btn-round-sizes:           100px                                 !default;

$btn-circle-border-radius:    50%                                 !default;
$btn-circle-padding-top:      calc(var(--btn-circle-sizes) / 4)   !default;
$btn-circle-sizes:            100px                               !default;

$btn-shape: 'square', 'round', 'circle';

$btn-shapes: (
  'square-border-radius':   $btn-square-border-radius,
  'square-padding-top':     $btn-square-padding-top,
  'square-sizes':           $btn-square-sizes,
  'round-border-radius':    $btn-round-border-radius,
  'round-padding-top':      $btn-round-padding-top,
  'round-sizes':            $btn-round-sizes,
  'circle-border-radius':   $btn-circle-border-radius,
  'circle-padding-top':     $btn-circle-padding-top,
  'circle-sizes':           $btn-circle-sizes,
) !default;

[class*="btn"],
[class*="button"] {
  --btn-margin: 10px;
  --btn-border: solid thin var(--black);
  --btn-border-radius: 10px;
  --btn-padding: 5px 10px;
  --btn-font-size: 1.5rem;
  --btn-text-align: center;
  --btn-background-color: var(--white);
  --btn-color: var(--black);

  --btn-hover-border: outset thin var(--white);
  --btn-hover-border-radius: 0;
  --btn-hover-box-shadow: 5px 5px 5px var(--gray);
  --btn-hover-background-color: var(--black);
  --btn-hover-color: var(--white);
  --btn-hover-transition: background-color 1s;
  --btn-hover-animation: none;

  --btn-checked-transform: scale(0.9);

  @each $primary-color, $secondary-color in $duo-colors {
    --btn-#{$primary-color}-border-color: var(--#{$secondary-color});
    --btn-#{$primary-color}-color: var(--#{$secondary-color});

    --btn-#{$secondary-color}-border-color: var(--#{$primary-color});
    --btn-#{$secondary-color}-color: var(--#{$primary-color});
  }

  @each $btn-size-name, $btn-size-value in $btn-sizes {
    --btn-#{$btn-size-name}: #{$btn-size-value};
  }

  @each $btn-size-name, $btn-size-value in $btn-shapes {
    --btn-#{$btn-size-name}: #{$btn-size-value};
  }
}
