/***** Elements : Variables : Form *****/

.form {
  --form-margin: 20px auto;
  --form-border: medium ridge var(--sky);
  --form-padding: 20px;
  --form-width: 90%;
  --form-box-shadow: inset 0 0 5px 5px var(--blue-dark);

  --form-fieldset-border: 0;

  --form-legend-margin: auto;
  --form-legend-font-size: 2.5rem;
  --form-legend-font-weight: bold;

  --form-list-flex-direction: column;
  --form-list-place-content: center;
  --form-list-place-items: baseline;

  --form-label-margin: auto;
  --form-label-border: thin dashed var(--white);
  --form-label-padding: 5px;
  --form-label-color: var(--gray);
  --form-label-text-decoration: none;

  --form-label-hover-border: thin dashed var(--silver);

  --form-field-margin: 10px 0 20px;
  --form-field-border: medium double var(--blue);
  --form-field-border-radius: 10px;
  --form-field-outline: 0;
  --form-field-padding: 5px;
  --form-field-width: 100%;
  --form-field-line-height: 1.8;
  --form-field-background-color: var(--silver);
  --form-field-box-shadow: 5px 5px 10px 10px var(--white);

  --form-field-hover-border: medium double var(--green);
  --form-field-hover-box-shadow: 5px 5px 10px 5px var(--gray);

  --form-field-placeholder-font-style: italic;
  --form-field-placeholder-color: var(--blue);

  --form-action-margin: 10px auto;
  --form-action-border: medium solid var(--white-dark);
  --form-action-width: 80%;
  --form-action-line-height: 2;
  --form-action-cursor: pointer;
  --form-action-box-shadow: inset 0 0 10px 10px var(--white);

  --form-action-hover-box-shadow: inset 0 0 5px 5px var(--white);
  --form-action-hover-transform: scale(0.9);
  --form-action-hover-transition: box-shadow 1s;

  --form-reset-border: medium solid var(--red-dark);
  --form-reset-background-color: var(--tomato);
  --form-reset-color: var(--red);

  --form-reset-hover-background-color: var(--red);
  --form-reset-hover-color: var(--white);

  --form-submit-border: medium solid var(--green-dark);
  --form-submit-background-color: var(--jade);
  --form-submit-color: var(--green);

  --form-submit-hover-background-color: var(--green);
  --form-submit-hover-color: var(--white);
}

@media (min-width: $breakpoint-sm) {
  .form {
    --form-width: 80%;
    --form-action-width: 60%;
  }
}

@media (min-width: $breakpoint-md) {
  .form {
    --form-width: 70%;
    --form-fieldset-margin-left: 0;
    --form-list-flex-direction: row;
    --form-list-place-content: space-around;
    --form-list-place-items: center;
    --form-label-text-decoration: dotted underline var(--gray);
    --form-field-width: 40%;
    --form-action-width: 30%;
  }
}

@media (min-width: $breakpoint-lg) {
  .form {
    --form-width: 60%;
  }
}

@media (min-width: $breakpoint-wd) {
  .form {
    --form-width: 50%;
  }
}
