/***** Elements : Variables : Menu *****/

.menu {
  --menu-flex-direction: column;
  --menu-place-content: center;
  --menu-place-items: stretch;
  --menu-bottom: 0;
  --menu-left: 0;
  --menu-z-index: 1;
  --menu-margin: 0;
  --menu-border: none;
  --menu-border-radius: 5px;
  --menu-padding: 0;
  --menu-width: 100%;
  --menu-list-style: none;
  --menu-background-color: var(--silver);
  --menu-color: var(--gray);

  --menu-all-cursor: pointer;

  --menu-label-place-content: center;
  --menu-label-place-items: center;
  --menu-label-position: relative;
  --menu-label-border-radius: 5px;
  --menu-label-padding: 2px 5px;
  --menu-label-width: 100%;

  --menu-label-hover-border: none;
  --menu-label-hover-font-style: italic;
  --menu-label-hover-background-color: var(--blue-dark);
  --menu-label-hover-color: var(--white);

  --menu-fa-position: absolute;
  --menu-fa-top: -22px;
  --menu-fa-color: var(--blue);

  --menu-checked-label-font-weight: bold;
  --menu-checked-label-background-color: var(--blue);
  --menu-checked-label-color: var(--white);
}

@media (min-width: $breakpoint-sm) {
  .menu {
    --menu-flex-direction: row;
  }
}
