/***** Elements : Variables : Table *****/

.table {
  --table-border-collapse: collapse;
  --table-border-spacing: 10px;
  --table-margin-bottom: 50px;
  --table-width: 90%;
  --table-box-shadow: 5px 5px 10px 5px var(--gray);

  --table-caption-side: top;
  --table-caption-margin-bottom: 10px;
  --table-caption-font-size: 3rem;
  --table-caption-font-weight: bold;
  --table-caption-color: var(--black);
  --table-caption-text-shadow: 2px 2px 5px;

  --table-title-font-style: italic;
  --table-title-background-color: var(--gray);
  --table-title-color: var(--white);

  --table-title-selection-background-color: var(--white);
  --table-title-selection-color: var(--gray);

  --table-cell-border-style: solid;
  --table-cell-border-width: thin;
  --table-cell-border-radius: 0;
  --table-cell-border-color: var(--black);
  --table-cell-padding: 10px;
  --table-cell-text-align: center;
  --table-cell-vertical-align: middle;
  --table-cell-cursor: cell;

  --table-row-hover-box-shadow: inset 0 0 10px 10px;

  --table-row-even-background-color: var(--silver);
  --table-row-even-color: var(--black);

  --table-row-even-hover-background-color: var(--blue);
  --table-row-even-hover-color: var(--white);
  --table-row-even-hover-box-shadow: var(--table-row-hover-box-shadow) var(--table-row-even-background-color);

  --table-row-even-selection-background-color: var(--black);
  --table-row-even-selection-color: var(--silver);

  --table-row-odd-background-color: var(--white);
  --table-row-odd-color: var(--gray);

  --table-row-odd-hover-background-color: var(--tomato);
  --table-row-odd-hover-color: var(--white);
  --table-row-odd-hover-box-shadow: var(--table-row-hover-box-shadow) var(--table-row-odd-background-color);

  --table-row-odd-selection-background-color: var(--gray);
  --table-row-odd-selection-color: var(--white);

}
