/***** Global : Keyframes : Content *****/

@keyframes content {
  0% {
    content: var(--keyframes-content1);
  }

  25% {
    content: var(--keyframes-content2);
  }

  50% {
    content: var(--keyframes-content3);
  }

  75% {
    content: var(--keyframes-content4);
  }

  100% {
    content: var(--keyframes-content5);
  }
}
