/***** Global : Keyframes : Rotate *****/

@keyframes rotate {
  from {
    transform: rotate(var(--keyframes-rotate));
  }
}

@keyframes rotate3d {
  from {
    transform: rotate3d(var(--keyframes-rotate3d));
  }
}

@keyframes rotateX {
  from {
    transform: rotateX(var(--keyframes-rotateX));
  }
}

@keyframes rotateY {
  from {
    transform: rotateY(var(--keyframes-rotateY));
  }
}

@keyframes rotateZ {
  from {
    transform: rotateZ(var(--keyframes-rotateZ));
  }
}
