/***** Global : Keyframes : Skew *****/

@keyframes skew {
  from {
    transform: skew(var(--keyframes-skew));
  }
}

@keyframes skewX {
  from {
    transform: skewX(var(--keyframes-skewX));
  }
}

@keyframes skewY {
  from {
    transform: skewY(var(--keyframes-skewY));
  }
}
