/***** Global : Keyframes : Translate *****/

@keyframes translate {
  from {
    transform: translate(var(--keyframes-translate));
  }
}

@keyframes translate3d {
  from {
    transform: translate3d(var(--keyframes-translate3d));
  }
}

@keyframes translateX {
  from {
    transform: translateX(var(--keyframes-translateX));
  }
}

@keyframes translateY {
  from {
    transform: translateY(var(--keyframes-translateY));
  }
}

@keyframes translateY-opac {
  from {
    opacity: 0;
    transform: translateY(var(--keyframes-translateY-opac));
  }
}

@keyframes translateY-xs {
  to {
    transform: translateY(var(--keyframes-translateY-xs));
  }
}

@keyframes translateZ {
  from {
    transform: translateZ(var(--keyframes-translateZ));
  }
}
