// ***** Mixins : Elements *****

@mixin btn-color($key, $value) {
  .btn-#{$key},
  .button-#{$key}:hover,
  .button-#{$key}:focus,
  .button-#{$key}-check:checked + .button-#{$key} {
    border-color: var(--white);
    background-color: var(--#{$key});
    color: var(--white);
  }

  .button-#{$key},
  .btn-#{$key}:hover,
  .btn-#{$key}:focus,
  .btn-#{$key}-check:checked + .btn-#{$key} {
    border-color: var(--#{$key});
    background-color: var(--white);
    color: var(--#{$key});
  }
}

@mixin gallery ($margin, $width) {
  .gallery {
    --gallery-figure-margin: #{$margin};
    --gallery-figure-width: #{$width};
  }
}
