// ***** Mixins : Grid *****

// Grid
@mixin grid-template($column, $key) {
  [class^="grid-"][class*="-#{$column}#{$key}"],
  [class*=" grid-"][class*="-#{$column}#{$key}"],
  [class^="fluid-"][class*="-#{$column}#{$key}"],
  [class*=" fluid-"][class*="-#{$column}#{$key}"] {
    grid-template: auto/repeat(#{$column}, auto);
  }
}

@mixin grid-gap($column, $key) {
  [class^="gap-"][class*="-#{$column}#{$key}"],
  [class*=" gap-"][class*="-#{$column}#{$key}"] {
    grid-gap: var(--gap-#{$column}#{$key});
  }
}

// Place
@mixin place-content($key, $value, $type: '') {
  .placo-#{$key}#{$type} {
    place-content: #{$value};
  }
}

@mixin place-content-var($key, $type: '') {
  .placo-#{$key}#{$type} {
    place-content: var(--place-content-#{$key});
  }
}

@mixin place-items($key, $value, $type: '') {
  .plait-#{$key}#{$type} {
    place-items: #{$value};
  }
}

@mixin place-items-var($key, $type: '') {
  .plait-#{$key}#{$type} {
    place-items: var(--place-items-#{$key});
  }
}

@mixin place-self($key, $value, $type: '') {
  .plase-#{$key}#{$type} {
    place-self: #{$value};
  }
}

@mixin place-self-var($key, $type: '') {
  .plase-#{$key}#{$type} {
    place-self: var(--place-self-#{$key});
  }
}
