// ***** Global : Mixins : Global *****

@mixin keyframes($key) {
  @keyframes #{$key} {
    from {
      opacity: var(--opacity-#{$key});
      transform: var(--transform-#{$key});
      transform-origin: var(--origin-#{$key});
    }
  }
}

@mixin container($key, $type, $value) {
  [class^="container-"][class*="-#{$key}#{$type}"],
  [class*=" container-"][class*="-#{$key}#{$type}"] {
    max-width: #{$value};
  }
}
