/***** Box : Variables : Padding *****/

$padding-sm:   10px    !default;
$padding-md:   20px    !default;
$padding-lg:   50px    !default;

$padding-top-sm:   10px    !default;
$padding-top-md:   20px    !default;
$padding-top-lg:   50px    !default;

$padding-right-sm:   10px    !default;
$padding-right-md:   20px    !default;
$padding-right-lg:   50px    !default;

$padding-bottom-md:    20px    !default;
$padding-bottom-sm:    10px    !default;
$padding-bottom-lg:    50px    !default;

$padding-left-sm:    10px    !default;
$padding-left-md:    20px    !default;
$padding-left-lg:    50px    !default;

$paddings: (
  'none':         0,
  'sm':           $padding-sm,
  'md':           $padding-md,
  'lg':           $padding-lg,
  'top-sm':       $padding-top-sm,
  'top-md':       $padding-top-md,
  'top-lg':       $padding-top-lg,
  'right-sm':     $padding-right-sm,
  'right-md':     $padding-right-md,
  'right-lg':     $padding-right-lg,
  'bottom-sm':    $padding-bottom-sm,
  'bottom-md':    $padding-bottom-md,
  'bottom-lg':    $padding-bottom-lg,
  'left-sm':      $padding-left-sm,
  'left-md':      $padding-left-md,
  'left-lg':      $padding-left-lg
) !default;

[class*="pad-"] {
  @each $key, $value in $paddings {
    --padding-#{$key}: #{$value};
  }
}
