/********** ANIMATION **********/
$animation-duration: (
  "sm": 500ms,
  "md": 1s,
  "lg": 2s
) !default;

$animation-timing-function: (
  "linear": linear,
  "in":     ease-in,
  "out":    ease-out,
  "inout":  ease-in-out,
  "start":  step-start,
  "end":    step-end
) !default;

$animation-iteration-count: (
  "few":  2,
  "many": 5,
  "loop": infinite
) !default;

$animation-delay: (
  "min":  500ms,
  "max":  1s
) !default;

$animation-options: (
  "duration":         $animation-duration,
  "timing-function":  $animation-timing-function,
  "iteration-count":  $animation-iteration-count,
  "delay":            $animation-delay
) !default;

$animation-direction: (
  "alt":    alternate,
  "rev":    reverse,
  "altrev": alternate-reverse
) !default;

[class*="anima-"] {
  --animation-duration: 2s;

  @each $type, $option in $animation-options {
    @each $key, $value in $option {
      --animation-#{$type}-#{$key}: #{$value};
    }
  }

  animation-duration: var(--animation-duration);
}

/********** ANIMATION NAME **********/
@each $key, $value in $transforms {
  @include states("anima-#{$key}", "animation-name", $key);
}

/********** ANIMATION OPTIONS **********/
@each $type, $option in $animation-options {
  @each $key, $value in $option {
    @include default("anima-#{$key}", "animation-#{$type}", "var(--animation-#{$type}-#{$key})");
  }
}

@each $key, $value in $animation-direction {
  @include default("anima-#{$key}", "animation-direction", $value);
}
