/********** DISPLAY **********/
@each $key, $value in $displays {
  @include global($key, "display", $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $displays {
      @include global("#{$key}-#{$type}", "display", $value);
    }
  }
}

/********** FLEX **********/
.flex,
.col,
.row,
.col-rev,
.row-rev {
  display: flex;
  place-content: var(--flex-place-content);
}

.col,
.col-rev {
  padding: var(--column-padding);
}

.row,
.row-rev {
  padding: var(--row-padding);
}

.flex {
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.col-rev {
  flex-direction: column-reverse;
}

.row-rev {
  flex-direction: row-reverse;
}

/********** GRID **********/
[class*="grid"] {
  display: grid;
  max-width: var(--grid-max-width);
  margin: var(--grid-margin);
}

@for $i from 2 to 13 {
  @include grid-template($i, "tn");
}

@each $key, $value in $breakpoints {
  @media (min-width: $value) {
    @for $i from 2 to 13 {
      @include grid-template($i, $key);
    }
  }
}

/********** GAP **********/
@each $key, $value in $gap {
  @include gap($key, "tn");
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $gap {
      @include gap($key, $type);
    }
  }
}

/********** PLACE **********/
@each $key, $value in $place-content {
  @include place-content($key, "", $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $place-content {
      @include place-content($key, "-#{$type}", $value);
    }
  }
}

@each $key, $value in $place-items {
  @include place-items($key, "", $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $place-items {
      @include place-items($key, "-#{$type}", $value);
    }
  }
}

@each $key, $value in $place-self {
  @include place-self($key, "", $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $place-self {
      @include place-self($key, "-#{$type}", $value);
    }
  }
}

/********** POSITION **********/
@each $key, $value in $position {
  @include global($key, 'position', $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $position {
      @include global('#{$key}-#{$type}', 'position', $value);
    }
  }
}

/********** CONTAINER **********/
[class*="container"] {
  margin: auto;
  max-width: var(--container-max-width);
}

@each $key, $value in $containers {
  @include container($key, "tn", $value);
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $containers {
      @include container($key, $type, $value);
    }
  }
}

/********** MARGIN **********/
@each $key, $value in $box-none {
  @include global("mar-#{$key}", "margin#{$value}", "var(--margin-none)");
}

@each $key, $value in $box-size {
  @include global("mar-#{$key}", "margin#{$value}", "var(--margin-#{$key})");
}

/********** BORDER **********/
@each $key, $value in $border-style {
  @include helpers("bord-#{$key}", "border-style", $value);
}

@each $key, $value in $border-width {
  @include helpers-options("bord-#{$key}", "border-width", $value);
}

@each $color in $base-colors {
  @each $key, $value in $color {
    @include helpers-options("bord-#{$key}", "border-color", "var(--#{$key})");
  }
}

@each $key, $value in $border-radius {
  @include helpers("bord-#{$key}", "border-radius", $value);
}

/********** PADDING **********/
@each $key, $value in $box-none {
  @include global("pad-#{$key}", "padding#{$value}", "var(--padding-none)");
}

@each $key, $value in $box-size {
  @include global("pad-#{$key}", "padding#{$value}", "var(--padding-#{$key})");
}

/********** HEIGHT **********/
@each $key, $value in $height {
  @include helpers("height-#{$key}", "height", "var(--height-#{$key})");
}

@each $key, $value in $max-height {
  @include global("max-h-#{$key}", "max-height", "var(--max-height-#{$key})");
}

@each $key, $value in $min-height {
  @include global("min-h-#{$key}", "min-height", "var(--min-height-#{$key})");
}

/********** WIDTH **********/
@each $key, $value in $width {
  @include helpers("width-#{$key}", "width", "var(--width-#{$key})");
}

@each $key, $value in $max-width {
  @include global("max-w-#{$key}", "max-width", "var(--max-width-#{$key})");
}

@each $key, $value in $min-width {
  @include global("min-w-#{$key}", "min-width", "var(--min-width-#{$key})");
}

/********** FONT **********/
@each $key, $value in $font {
  @include helpers("font-#{$key}", "font-#{$value}", $key);
}

@each $key in $font-family {
  .font-#{$key} {
    font-family: var(--font-family-#{$key});
  }
}

/********** TEXT **********/
@each $key, $value in $text-align {
  @include global("align-#{$key}", "text-align", $value);
}

@each $key, $value in $trans {
  @include helpers("trans-#{$key}", "text-transform", $value);
}

@each $key, $value in $text-decoration-line {
  @include helpers("deco-#{$key}", "text-decoration-line", $value);
}

@each $key, $value in $text-decoration-style {
  @include helpers-options("deco-#{$key}", "text-decoration-style", $value);
}

@each $key, $value in $primary-colors {
  @include helpers-options("deco-#{$key}", "text-decoration-color", "var(--#{$key})");
}

/********** COLOR **********/
@each $colors in $all-colors {
  @each $key, $value in $colors {
    @include helpers(#{$key}, "color", "var(--#{$key})");
  }
}

@each $colors in $base-colors {
  @each $key, $value in $colors {
    @include helpers("bg-#{$key}", "background-color", "var(--#{$key})");
    @include helpers("bg-#{$key}-dark", "background-color", "var(--#{$key}-dark)");
    @include helpers("bg-#{$key}-light", "background-color", "var(--#{$key}-light)");
  }
}

/********** SHADOW **********/
@each $key, $value in $box-shadow {
  @include helpers("shabox-#{$key}", "box-shadow", "var(--box-shadow-#{$key})");
  @include helpers("shabox-in-#{$key}", "box-shadow", "inset var(--box-shadow-#{$key})");
}

/********** ANIMATION **********/
[class*="anima"] {
  animation-duration: var(--animation-duration);
}

@each $key, $value in $transforms {
  @include anima($key, "animation-name", $key);
}

@each $type, $option in $animation-options {
  @each $key, $value in $option {
    @include anima-options($key, "animation-#{$type}", "var(--animation-#{$type}-#{$key})");
  }
}

@each $key, $value in $animation-direction {
  @include anima-options($key, "animation-direction", $value);
}

/********** CURSOR **********/
@each $key, $value in $cursor {
  @include global-all($key, "cursor", $value);
}
