/********** COLORS **********/
/****************************/

$hues: (
  "red":      (  0, 100%, 50%),
  "orange":   ( 30, 100%, 50%),
  "yellow":   ( 60, 100%, 50%),
  "lime":     ( 90, 100%, 50%),
  "green":    (120, 100%, 50%),
  "aqua":     (150, 100%, 50%),
  "cyan":     (180, 100%, 50%),
  "sky":      (210, 100%, 50%),
  "blue":     (240, 100%, 50%),
  "indigo":   (270, 100%, 50%),
  "magenta":  (300, 100%, 50%),
  "pink":     (330, 100%, 50%)
) !default;

$grayscale: (
  "black":  (0, 0%,   0%),
  "slate":  (0, 0%,  25%),
  "gray":   (0, 0%,  50%),
  "silver": (0, 0%,  75%),
  "white":  (0, 0%, 100%)
) !default;

$colors: $hues, $grayscale;

/********** COLORS VARIABLES **********/

:root {
  /* opacity variables */
  --dark: 0.8;
  --light: 0.2;

  @each $color in $colors {
    @each $key, $value in $color {
      /* #{$key} variables */
      --#{$key}-hsl: #{$value};
      --#{$key}: hsl(var(--#{$key}-hsl));
      --#{$key}-dark: hsla(var(--#{$key}-hsl), var(--dark));
      --#{$key}-light: hsla(var(--#{$key}-hsl), var(--light));
    }
  }
}

/********** COLORS CLASSES **********/

@each $color in $colors {
  @each $key, $value in $color {
    /* #{$key} classes */
    @include states(#{$key}, "color", "var(--#{$key})");
    @include states("bg-#{$key}", "background-color", "var(--#{$key})");
    @include states("bg-#{$key}-dark", "background-color", "var(--#{$key}-dark)");
    @include states("bg-#{$key}-light", "background-color", "var(--#{$key}-light)");
    @include states("bord-#{$key}", "border-color", "var(--#{$key})");
    @include states("deco-#{$key}", "text-decoration-color", "var(--#{$key})");
  }
}
