/********** FONT FAMILY **********/
@each $key, $value in $font-family {
  @include states("#{$key}", "font-family", "var(--#{$key})");
}

/********** FONT **********/
$font: (
  "bold":     "weight",
  "italic":   "style"
) !default;

@each $key, $value in $font {
  @include states("#{$key}", "font-#{$value}", $key);
}

/********** TEXT ALIGN **********/
$text-align: (
  "center":   center,
  "justify":  justify,
  "left":     left,
  "right":    right
) !default;

@each $key, $value in $text-align {
  @include default("#{$key}", "text-align", $value);
}

/********** TEXT TRANSFORM **********/
$trans: (
  "cap":  "capitalize",
  "up":   "uppercase",
  "low":  "lowercase"
) !default;

@each $key, $value in $trans {
  @include states("#{$key}", "text-transform", $value);
}

/********** TEXT DECORATION LINE **********/
$text-decoration-line: (
  "over":     overline,
  "through":  line-through
) !default;

.deco {
  text-decoration-line: underline;
}

@each $key, $value in $text-decoration-line {
  @include states("deco-#{$key}", "text-decoration-line", $value);
}

/********** TEXT DECORATION STYLE **********/
$text-decoration-style: (
  "dash":   dashed,
  "dot":    dotted,
  "double": double,
  "wavy":   wavy
) !default;

@each $key, $value in $text-decoration-style {
  @include states("deco-#{$key}", "text-decoration-style", $value);
}

/********** TEXT DECORATION COLOR **********/
@each $key, $value in $hues {
  @include states("deco-#{$key}", "text-decoration-color", "var(--#{$key})");
}

/********** COLOR **********/
@each $color in $colors {
  @each $key, $value in $color {
    @include states(#{$key}, "color", "var(--#{$key})");
  }
}

/********** BACKGROUND COLOR **********/
@each $color in $colors {
  @each $key, $value in $color {
    @include states("bg-#{$key}", "background-color", "var(--#{$key})");
    @include states("bg-#{$key}-dark", "background-color", "var(--#{$key}-dark)");
    @include states("bg-#{$key}-light", "background-color", "var(--#{$key}-light)");
  }
}
