// ********** KEYFRAMES **********
@mixin keyframes($key) {
  @keyframes #{$key} {
    from {
      transform: var(--#{$key});
    }
  }
}

// ********** GLOBAL **********
@mixin global($class, $property, $value) {
  .#{$class},
  .global-#{$class} > * {
      #{$property}: #{$value};
  }
}

@mixin global-all($class, $property, $value) {
  .#{$class},
  .global-#{$class} * {
      #{$property}: #{$value};
  }
}

// ********** GRID (FLEX) **********
@mixin grid-template($column, $key) {
  [class*="grid-"][class*="-#{$column}#{$key}"] {
    grid-template: auto/repeat(#{$column}, auto);
  }
}

@mixin gap($size, $type) {
  [class*="gap-"][class*="-#{$size}#{$type}"] {
    gap: var(--gap#{$size});
  }
}

// ********** PLACE **********
@mixin place-content($key, $type: "", $value: var(--place-content-#{$key})) {
  .content-#{$key}#{$type} {
    place-content: #{$value};
  }
}

@mixin place-items($key, $type: "", $value: var(--place-items-#{$key})) {
  .items-#{$key}#{$type} {
    place-items: #{$value};
  }
}

@mixin place-self($key, $type: "", $value: var(--place-self-#{$key})) {
  .self-#{$key}#{$type} {
    place-self: #{$value};
  }
}

// ********** CONTAINER **********
@mixin container($key, $type, $value) {
  [class*="container-"][class*="-#{$key}#{$type}"] {
    max-width: #{$value};
  }
}

// ********** HELPERS **********
@mixin helpers($class, $property, $value) {
  .#{$class},
  .#{$class}-global > *,
  .#{$class}-onto:hover,
  .#{$class}-onto:focus,
  .#{$class}-toone > *:hover,
  .#{$class}-toone > *:focus,
  *:hover > .#{$class}-into,
  *:focus > .#{$class}-into,
  .#{$class}-toall:hover > *,
  .#{$class}-toall:focus > * {
    #{$property}: #{$value};
  }
}

@mixin helpers-options($class, $property, $value) {
  .#{$class} {
    #{$property}: #{$value};
  }
}

// ********** ANIMA **********
@mixin anima($class, $property, $value) {
  .anima-#{$class},
  .anima-#{$class}-global > *,
  .anima-#{$class}-onto:hover,
  .anima-#{$class}-onto:focus,
  .anima-#{$class}-toone > *:hover,
  .anima-#{$class}-toone > *:focus,
  *:hover > .anima-#{$class}-into,
  *:focus > .anima-#{$class}-into,
  .anima-#{$class}-toall:hover > *,
  .anima-#{$class}-toall:focus > * {
    #{$property}: #{$value};
  }
}

@mixin anima-options($class, $property, $value) {
  .anima-#{$class} {
    #{$property}: #{$value};
  }
}
