// ********** BREAKPOINTS **********//
$breakpoints: (
  "sm": 576px,
  "md": 768px,
  "lg": 992px,
  "xl": 1200px,
  "wd": 1600px
) !default;

// ********** MAIN MIXINS **********//
@mixin default($class, $property, $value) {
  .#{$class} {
      #{$property}: #{$value};
  }
}

@mixin global($class, $property, $value) {
  .#{$class},
  .#{$class}-all > * {
      #{$property}: #{$value};
  }
}

@mixin states($class, $property, $value) {
  .#{$class},
  .#{$class}-all > *,
  .#{$class}-on:hover,
  .#{$class}-on:focus,
  *:hover > .#{$class}-in,
  *:focus > .#{$class}-in,
  .#{$class}-one > *:hover,
  .#{$class}-one > *:focus,
  .#{$class}-many:hover > *,
  .#{$class}-many:focus > * {
    #{$property}: #{$value};
  }
}

//********** FONT FAMILY **********//
$font-family: (
  "sans-serif": (Helvetica, sans-serif),
  "serif":      (Times, serif),
  "monospace":  (Courier, monospace),
  "cursive":    (Mistral, cursive),
  "fantasy":    (Impact, fantasy)
) !default;

//********** COLORS **********//
$hues: (
  "red":      (348,  83%, 47%), // Crimson
  "orange":   ( 33, 100%, 50%), // DarkOrange
  "yellow":   ( 51, 100%, 50%), // Gold
  "green":    (120,  61%, 50%), // LimeGreen
  "sky":      (195, 100%, 50%), // DeepSkyBlue
  "blue":     (210, 100%, 56%), // DodgerBlue
  "violet":   (271,  76%, 53%), // BlueViolet
  "pink":     (328, 100%, 54%)  // DeepPink
) !default;

$grayscale: (
  "black":  (0, 0%,   0%),
  "gray":   (0, 0%,  33%),
  "silver": (0, 0%,  67%),
  "white":  (0, 0%, 100%)
) !default;

$colors: $hues, $grayscale;

//********** TRANSFORM **********//
$transforms: (
  "slideT":   translate(0, 10vh),
  "slideR":   translate(-10vw, 0),
  "slideB":   translate(0, -10vh),
  "slideL":   translate(10vw, 0),

  "turn":     rotate3d(0, 0, 1, 360deg),
  "turnX":    rotate3d(1, 0, 0, 360deg),
  "turnY":    rotate3d(0, 1, 0, 360deg),
  "turnXY":   rotate3d(1, 1, 0, 360deg),
  "turnXZ":   rotate3d(1, 0, 1, 360deg),
  "turnYZ":   rotate3d(0, 1, 1, 360deg),
  "turn3D":   rotate3d(1, 1, 1, 360deg),

  "bounce":   scale(-1, -1),
  "grow":     scale(0.5, 0.5),
  "shrink":   scale(1.5, 1.5),
  "flipX":    scale(1, -1),
  "flipY":    scale(-1, 1),
  "openX":    scale(1, 0),
  "openY":    scale(0, 1),
  "flipperX": scale(0, -1),
  "flipperY": scale(-1, 0),

  "twistT":   skew(-90deg, -90deg),
  "twistR":   skew(90deg, -90deg),
  "twistB":   skew(90deg, 90deg),
  "twistL":   skew(-90deg, 90deg)
) !default;

:root {
  /********** FONT FAMILY **********/
  @each $key, $value in $font-family {
    --#{$key}: #{$value};
    }

  /********** COLORS **********/
  /* hsl values */
  @each $color in $colors {
    @each $key, $value in $color {
      --#{$key}-hsl: #{$value};
    }
  }

  /* opaque colors */
  @each $color in $colors {
    @each $key, $value in $color {
      --#{$key}: hsl(var(--#{$key}-hsl));
    }
  }

  /* opacity */
  --dark: 0.8;
  --light: 0.2;

  /* transparent colors */
  @each $color in $colors {
    @each $key, $value in $color {
      --#{$key}-dark: hsla(var(--#{$key}-hsl), var(--dark));
      --#{$key}-light: hsla(var(--#{$key}-hsl), var(--light));
    }
  }

  /********** TRANSFORM **********/
  @each $key, $value in $transforms {
    --#{$key}: #{$value};
  }
}

/********** KEYFRAMES **********/
@mixin keyframes($key) {
  @keyframes #{$key} {
    from {
      transform: var(--#{$key});
    }
  }
}

@each $key, $value in $transforms {
  @include keyframes($key);
}
