/********** TAGS **********/
* {
  box-sizing: var(--all-box-sizing);

  &:target {
    padding-top: var(--target-margins);
    margin-top: -var(--target-margins);
  }
}

html {
  font-size: var(--html-font-size);
  scroll-behavior: var(--html-scroll-behavior);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  padding: var(--body-padding);
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
  font-family: var(--sans-serif);
}

main {
  text-align: var(--main-text-align);
}

article {
  margin-bottom: var(--article-margin-bottom);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font-family);
  text-align: var(--title-text-align);
  text-transform: var(--title-text-transform);
  font-size: var(--title-font-size);
  color: var(--title-color);
}

a {
  text-decoration: var(--link-text-decoration);
  outline: var(--link-outline);
  color: var(--link-color);
}

button {
  cursor: var(--button-cursor);
}

ul {
  margin: var(--list-margin);
  padding: var(--list-padding);
  list-style: var(--list-style);
}

table {
  margin: var(--table-margin);
  border-collapse: var(--table-border-collapse);
  text-align: var(--table-text-align);
  vertical-align: var(--table-vertical-align);
  font-family: var(--monospace);
}

figure {
  margin: var(--figure-margin);
}

img,
video {
  max-width: var(--img-max-width);
  height: var(--img-height);
  object-fit: var(--img-object-fit);
}

code,
pre {
  font-size: 1em;
  overflow: var(--code-overflow);
  margin: var(--code-margin);
  padding: var(--code-padding);
  width: var(--code-width);
  font-family: var(--monospace);
  text-align: var(--code-text-align);
}
