/********** TAGS **********/
* {
  --all-box-sizing: border-box;
  --target-margins: 7rem;

  box-sizing: var(--all-box-sizing);

  &:target {
    padding-top: var(--target-margins);
    margin-top: -var(--target-margins);
  }
}

html {
  --html-scroll-behavior: smooth;
  --html-font-size: 62.5%;

  font-size: var(--html-font-size);
  scroll-behavior: var(--html-scroll-behavior);
}

@media (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

body {
  --body-font-size: 2rem;
  --body-line-height: 1.6;
  --body-margin: auto;
  --body-max-width: 2000px;
  --body-padding: 0;

  margin: var(--body-margin);
  padding: var(--body-padding);
  max-width: var(--body-max-width);
  line-height: var(--body-line-height);
  font-size: var(--body-font-size);
  font-family: var(--sans-serif);
}

main {
  --main-text-align: center;

  text-align: var(--main-text-align);
}

article {
  --article-margin-bottom: 20px;

  margin-bottom: var(--article-margin-bottom);
}

h1 {
  --title-font-size: calc(var(--body-font-size) * 2);
}

h2 {
  --title-font-size: calc(var(--body-font-size) * 1.8);
}

h3 {
  --title-font-size: calc(var(--body-font-size) * 1.6);
}

h4 {
  --title-font-size: calc(var(--body-font-size) * 1.4);
}

h5 {
  --title-font-size: calc(var(--body-font-size) * 1.2);
}

h6 {
  --title-font-size: var(--body-font-size);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --title-font-family: var(--serif);
  --title-text-align: center;
  --title-text-transform: capitalize;

  font-family: var(--title-font-family);
  text-align: var(--title-text-align);
  text-transform: var(--title-text-transform);
  font-size: var(--title-font-size);
}

a {
  --link-outline: 0;
  --link-text-decoration: none;

  text-decoration: var(--link-text-decoration);
  outline: var(--link-outline);
}

ul {
  --list-margin: 0 0 10px;
  --list-padding: 0;
  --list-style: none;

  margin: var(--list-margin);
  padding: var(--list-padding);
  list-style: var(--list-style);
}

table {
  --table-border-collapse: collapse;
  --table-margin: auto;
  --table-text-align: center;
  --table-vertical-align: middle;

  margin: var(--table-margin);
  border-collapse: var(--table-border-collapse);
  text-align: var(--table-text-align);
  vertical-align: var(--table-vertical-align);
  font-family: var(--monospace);
}

code,
pre {
  --code-margin: auto;
  --code-overflow: scroll;
  --code-padding: 10px;
  --code-text-align: initial;
  --code-width: 100%;

  font-size: 1em;
  overflow: var(--code-overflow);
  margin: var(--code-margin);
  padding: var(--code-padding);
  width: var(--code-width);
  font-family: var(--monospace);
  text-align: var(--code-text-align);
}

figure {
  --figure-margin: 0;

  margin: var(--figure-margin);
}

img,
video {
  --img-max-width: 100%;
  --img-height: auto;
  --img-object-fit: contain;

  max-width: var(--img-max-width);
  height: var(--img-height);
  object-fit: var(--img-object-fit);
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  --button-cursor: pointer;
}
