/***** Elements : Classes : Foot *****/

.foot {
  text-align: var(--foot-text-align);

  h3,
  h4,
  h5,
  h6 {
    margin: var(--foot-title-margin);
    font-size: var(--foot-title-font-size);
    color: var(--foot-title-color);
  }

  label {
    cursor: var(--foot-label-cursor);
  }
}

.foot-list {
  display: flex;

  &:first-child {
    flex-direction: var(--foot-list-flex-direction);
    place-content: var(--foot-list-place-content);
    margin: var(--foot-list-margin);
    background-color: var(--foot-list-background-color);

    a {
      color: var(--foot-list-link-font-color);
      cursor: var(--foot-list-cursor);

      &:hover,
      &:focus {
        color: var(--foot-list-link-hover-font-color);
      }
    }
  }
}

[class*="foot-goal"] {
  display: none;
}

.foot-check1:checked ~ .foot .foot-goal1,
.foot-check2:checked ~ .foot .foot-goal2,
.foot-check3:checked ~ .foot .foot-goal3,
.foot-check4:checked ~ .foot .foot-goal4,
.foot-check5:checked ~ .foot .foot-goal5 {
  display: block;
}

.foot-visual {
  place-content: var(--foot-visual-place-content);
  margin: var(--foot-visual-margin);
  padding: var(--foot-visual-padding);
  background-color: var(--foot-visual-background-color);

  a {
    cursor: var(--foot-visual-link-cursor);
  }
}

@media (min-width: $breakpoint-sm) {
  [class*="foot-goal"] {
    display: block;
  }

  .foot {
    label {
      cursor: default;
    }
  }

}