/***** Elements : Classes : Menu *****/

.menu {
  display: flex;
  flex-direction: var(--menu-flex-direction);
  place-content: var(--menu-place-content);
  place-items: var(--menu-place-items);
  position: fixed;
  bottom: var(--menu-bottom);
  left: var(--menu-left);
  z-index: var(--menu-z-index);
  margin: var(--menu-margin);
  border: var(--menu-border);
  border-radius: var(--menu-border-radius);
  padding: var(--menu-padding);
  width: var(--menu-width);
  list-style: var(--menu-list-style);
  background-color: var(--menu-background-color);
  color: var(--menu-color);

  * {
    cursor: var(--menu-all-cursor);
  }

  label {
    display: flex;
    place-content: var(--menu-label-place-content);
    place-items: var(--menu-label-place-items);
    position: var(--menu-label-position);
    border-radius: var(--menu-label-border-radius);
    padding: var(--menu-label-padding);
    width: var(--menu-label-width);

    &:hover,
    &:focus {
      border: var(--menu-label-hover-border);
      font-style: var(--menu-label-hover-font-style);
      background-color: var(--menu-label-hover-background-color);
      color: var(--menu-label-hover-color);
    }
  }

  [class*="fa-"] {
    display: none;
    position: var(--menu-fa-position);
    top: var(--menu-fa-top);
    color: var(--menu-fa-color);
  }
}

.menu-relay {
  & > * {
    display: none;
  }

  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    display: block;
  }
}

.menu-radio1:checked ~ .menu > [for*="menu-"][for*="-radio1"],
.menu-radio2:checked ~ .menu > [for*="menu-"][for*="-radio2"],
.menu-radio3:checked ~ .menu > [for*="menu-"][for*="-radio3"],
.menu-radio4:checked ~ .menu > [for*="menu-"][for*="-radio4"],
.menu-radio5:checked ~ .menu > [for*="menu-"][for*="-radio5"],
.menu-radio6:checked ~ .menu > [for*="menu-"][for*="-radio6"],
.menu-radio7:checked ~ .menu > [for*="menu-"][for*="-radio7"],
.menu-radio8:checked ~ .menu > [for*="menu-"][for*="-radio8"],
.menu-radio9:checked ~ .menu > [for*="menu-"][for*="-radio9"] {
  font-weight: var(--menu-checked-label-font-weight);
  background-color: var(--menu-checked-label-background-color);
  color: var(--menu-checked-label-color);
}

.menu-radio1:checked ~ .menu-relay > [class*="menu-"][class*="-target1"],
.menu-radio2:checked ~ .menu-relay > [class*="menu-"][class*="-target2"],
.menu-radio3:checked ~ .menu-relay > [class*="menu-"][class*="-target3"],
.menu-radio4:checked ~ .menu-relay > [class*="menu-"][class*="-target4"],
.menu-radio5:checked ~ .menu-relay > [class*="menu-"][class*="-target5"],
.menu-radio6:checked ~ .menu-relay > [class*="menu-"][class*="-target6"],
.menu-radio7:checked ~ .menu-relay > [class*="menu-"][class*="-target7"],
.menu-radio8:checked ~ .menu-relay > [class*="menu-"][class*="-target8"],
.menu-radio9:checked ~ .menu-relay > [class*="menu-"][class*="-target9"] {
  display: block;
}

@media (min-width: $breakpoint-md) {
  .menu-radio1:checked ~ .menu > [for*="menu-"][for*="-radio1"] > [class*="fa-"],
  .menu-radio2:checked ~ .menu > [for*="menu-"][for*="-radio2"] > [class*="fa-"],
  .menu-radio3:checked ~ .menu > [for*="menu-"][for*="-radio3"] > [class*="fa-"],
  .menu-radio4:checked ~ .menu > [for*="menu-"][for*="-radio4"] > [class*="fa-"],
  .menu-radio5:checked ~ .menu > [for*="menu-"][for*="-radio5"] > [class*="fa-"],
  .menu-radio6:checked ~ .menu > [for*="menu-"][for*="-radio6"] > [class*="fa-"],
  .menu-radio7:checked ~ .menu > [for*="menu-"][for*="-radio7"] > [class*="fa-"],
  .menu-radio8:checked ~ .menu > [for*="menu-"][for*="-radio8"] > [class*="fa-"],
  .menu-radio9:checked ~ .menu > [for*="menu-"][for*="-radio9"] > [class*="fa-"] {
    display: block;
  }
}
