/***** Global : Classes : Box *****/

/* Classes : Box : Container */
[class^="container"],
[class*=" container"] {
  margin: auto;
  background-color: var(--container-background-color);
}

@each $key, $value in $containers {
  [class^="container-"][class*="-#{$key}tn"],
  [class*=" container-"][class*="-#{$key}tn"] {
    max-width: #{$value};
  }
}

@each $type, $breakpoint in $breakpoints {
  @media (min-width: $breakpoint) {
    @each $key, $value in $containers {
      [class^="container-"][class*="-#{$key}#{$type}"],
      [class*=" container-"][class*="-#{$key}#{$type}"] {
        max-width: #{$value};
      }
    }
  }
}

/* Margin */
@each $key, $value in $margin-nones {
  .mar-#{$key},
  .mar-#{$key}-global > * {
    margin#{$value}: var(--margin-none);
  }
}

@each $key, $value in $margin-sizes {
  .mar-#{$key},
  .mar-#{$key}-global > * {
    margin#{$value}: var(--margin-#{$key});
  }
}

/* Classes : Box : Padding */
@each $key, $value in $padding-nones {
  .pad-#{$key},
  .pad-#{$key}-global > * {
    padding#{$value}: var(--padding-none);
  }
}

@each $key, $value in $padding-sizes {
  .pad-#{$key},
  .pad-#{$key}-global > * {
    padding#{$value}: var(--padding-#{$key});
  }
}

/* Classes : Box : Height */
@each $key, $value in $heights {
  .height-#{$key},
  .height-#{$key}-global > * {
    height: var(--height-#{$key});
  }
}

@each $key, $value in $max-heights {
  .max-h-#{$key},
  .max-h-#{$key}-global > * {
    max-height: var(--max-height-#{$key});
  }
}

@each $key, $value in $min-heights {
  .min-h-#{$key},
  .min-h-#{$key}-global > * {
    min-height: var(--min-height-#{$key});
  }
}

/* Classes : Box : Width */
@each $key, $value in $widths {
  .width-#{$key},
  .width-#{$key}-global > * {
    width: var(--width-#{$key});
  }
}

@each $key, $value in $max-widths {
  .max-w-#{$key},
  .max-w-#{$key}-global > * {
    max-width: var(--max-width-#{$key});
  }
}

@each $key, $value in $min-widths {
  .min-w-#{$key},
  .min-w-#{$key}-global > * {
    min-width: var(--min-width-#{$key});
  }
}
