/***** Global : Variables : Box *****/

/* Variables : Box : Container */
$containers: (
  '70':   70%,
  '80':   80%,
  '90':   90%
) !default;

[class*="container"] {
  --container-background-color: transparent;
}

/* Variables : Box : Margin */
$margin-none:   0   !default;

$margin-sm:   10px    !default;
$margin-md:   20px    !default;
$margin-lg:   50px    !default;

$margin-top-sm:   10px    !default;
$margin-top-md:   20px    !default;
$margin-top-lg:   50px    !default;

$margin-right-sm:   10px    !default;
$margin-right-md:   20px    !default;
$margin-right-lg:   50px    !default;

$margin-bottom-md:    20px    !default;
$margin-bottom-sm:    10px    !default;
$margin-bottom-lg:    50px    !default;

$margin-left-sm:    10px    !default;
$margin-left-md:    20px    !default;
$margin-left-lg:    50px    !default;

$margins: (
  'none':         $margin-none,
  'sm':           $margin-sm,
  'md':           $margin-md,
  'lg':           $margin-lg,
  'top-sm':       $margin-top-sm,
  'top-md':       $margin-top-md,
  'top-lg':       $margin-top-lg,
  'right-sm':     $margin-right-sm,
  'right-md':     $margin-right-md,
  'right-lg':     $margin-right-lg,
  'bottom-sm':    $margin-bottom-sm,
  'bottom-md':    $margin-bottom-md,
  'bottom-lg':    $margin-bottom-lg,
  'left-sm':      $margin-left-sm,
  'left-md':      $margin-left-md,
  'left-lg':      $margin-left-lg
) !default;

$margin-nones: (
  'none':           '',
  'top-none':       '-top',
  'right-none':     '-right',
  'bottom-none':    '-bottom',
  'left-none':      '-left',
) !default;

$margin-sizes: (
  'sm':           '',
  'md':           '',
  'lg':           '',
  'top-sm':       '-top',
  'top-md':       '-top',
  'top-lg':       '-top',
  'right-sm':     '-right',
  'right-md':     '-right',
  'right-lg':     '-right',
  'bottom-sm':    '-bottom',
  'bottom-md':    '-bottom',
  'bottom-lg':    '-bottom',
  'left-sm':      '-left',
  'left-md':      '-left',
  'left-lg':      '-left'
) !default;

[class*="mar-"] {
  @each $key, $value in $margins {
    --margin-#{$key}: #{$value};
  }
}

/* Variables : Box : Padding */
$padding-none:   0   !default;

$padding-sm:   10px    !default;
$padding-md:   20px    !default;
$padding-lg:   50px    !default;

$padding-top-sm:   10px    !default;
$padding-top-md:   20px    !default;
$padding-top-lg:   50px    !default;

$padding-right-sm:   10px    !default;
$padding-right-md:   20px    !default;
$padding-right-lg:   50px    !default;

$padding-bottom-md:    20px    !default;
$padding-bottom-sm:    10px    !default;
$padding-bottom-lg:    50px    !default;

$padding-left-sm:    10px    !default;
$padding-left-md:    20px    !default;
$padding-left-lg:    50px    !default;

$paddings: (
  'none':         $padding-none,
  'sm':           $padding-sm,
  'md':           $padding-md,
  'lg':           $padding-lg,
  'top-sm':       $padding-top-sm,
  'top-md':       $padding-top-md,
  'top-lg':       $padding-top-lg,
  'right-sm':     $padding-right-sm,
  'right-md':     $padding-right-md,
  'right-lg':     $padding-right-lg,
  'bottom-sm':    $padding-bottom-sm,
  'bottom-md':    $padding-bottom-md,
  'bottom-lg':    $padding-bottom-lg,
  'left-sm':      $padding-left-sm,
  'left-md':      $padding-left-md,
  'left-lg':      $padding-left-lg
) !default;

$padding-nones: (
  'none':           '',
  'top-none':       '-top',
  'right-none':     '-right',
  'bottom-none':    '-bottom',
  'left-none':      '-left',
) !default;

$padding-sizes: (
  'sm':           '',
  'md':           '',
  'lg':           '',
  'top-sm':       '-top',
  'top-md':       '-top',
  'top-lg':       '-top',
  'right-sm':     '-right',
  'right-md':     '-right',
  'right-lg':     '-right',
  'bottom-sm':    '-bottom',
  'bottom-md':    '-bottom',
  'bottom-lg':    '-bottom',
  'left-sm':      '-left',
  'left-md':      '-left',
  'left-lg':      '-left'
) !default;

[class*="pad-"] {
  @each $key, $value in $paddings {
    --padding-#{$key}: #{$value};
  }
}

/* Variables : Box : Height */
$height-sm:    25%   !default;
$height-md:    50%   !default;
$height-lg:    75%   !default;

$heights: (
  'sm':   $height-sm,
  'md':   $height-md,
  'lg':   $height-lg
) !default;

[class*="height-"] {
  @each $key, $value in $heights {
    --height-#{$key}: #{$value};
  }
}

$max-height-sm:    25vh   !default;
$max-height-md:    50vh   !default;
$max-height-lg:    75vh   !default;

$max-heights: (
  'sm':   $max-height-sm,
  'md':   $max-height-md,
  'lg':   $max-height-lg
) !default;

[class*="max-h-"] {
  @each $key, $value in $max-heights {
    --max-height-#{$key}: #{$value};
  }
}

$min-height-sm:    25vh   !default;
$min-height-md:    50vh   !default;
$min-height-lg:    75vh   !default;

$min-heights: (
  'sm':   $min-height-sm,
  'md':   $min-height-md,
  'lg':   $min-height-lg
) !default;

[class*="min-h-"] {
  @each $key, $value in $min-heights {
    --min-height-#{$key}: #{$value};
  }
}

/* Variables : Box : Width */
$width-sm:    25%   !default;
$width-md:    50%   !default;
$width-lg:    75%   !default;

$widths: (
  'sm':   $width-sm,
  'md':   $width-md,
  'lg':   $width-lg
) !default;

[class*="width-"] {
  @each $key, $value in $widths {
    --width-#{$key}: #{$value};
  }
}

$max-width-sm:    25%   !default;
$max-width-md:    50%   !default;
$max-width-lg:    75%   !default;

$max-widths: (
  'sm':   $max-width-sm,
  'md':   $max-width-md,
  'lg':   $max-width-lg
) !default;

[class*="max-w-"] {
  @each $key, $value in $max-widths {
    --max-width-#{$key}: #{$value};
  }
}

$min-width-sm:    25%   !default;
$min-width-md:    50%   !default;
$min-width-lg:    75%   !default;

$min-widths: (
  'sm':   $min-width-sm,
  'md':   $min-width-md,
  'lg':   $min-width-lg
) !default;

[class*="min-w-"] {
  @each $key, $value in $min-widths {
    --min-width-#{$key}: #{$value};
  }
}
