// Global : Variables : Breakpoints

$breakpoint-sm:   576px     !default;
$breakpoint-md:   768px     !default;
$breakpoint-lg:   992px     !default;
$breakpoint-xl:   1200px    !default;

$breakpoints: (
  'sm':   $breakpoint-sm,
  'md':   $breakpoint-md,
  'lg':   $breakpoint-lg,
  'xl':   $breakpoint-xl
) !default;
