/***** Global : Variables : Colors *****/

// Grayscale
$black:   15, 15, 15      !default;
$slate:   47, 79, 79      !default;
$gray:    105, 105, 105   !default;
$silver:  192, 192, 192   !default;
$white:   255, 255, 240   !default;

$grayscale: (
  "black":    $black,
  "slate":    $slate,
  "gray":     $gray,
  "silver":   $silver,
  "white":    $white
) !default;

// Primary Colors
$magenta:   255, 0, 255     !default;
$red:       220, 20, 60     !default;
$orange:    255, 140, 0     !default;
$gold:      255, 215, 0     !default;
$maroon:    139, 69, 19     !default;
$green:     34, 139, 34     !default;
$blue:      65, 105, 225    !default;
$navy:      0, 0, 128       !default;
$purple:    106, 90, 205    !default;

$primary-colors: (
  "magenta":  $magenta,
  "red":      $red,
  "orange":   $orange,
  "gold":     $gold,
  "maroon":   $maroon,
  "green":    $green,
  "blue":     $blue,
  "navy":     $navy,
  "purple":   $purple
) !default;

// Secondary Colors
$pink:      255, 192, 203   !default;
$tomato:    255, 99, 71     !default;
$coral:     255, 127, 80    !default;
$yellow:    240, 230, 140   !default;
$brown:     244, 164, 96    !default;
$aqua:      127, 255, 212   !default;
$cyan:      0, 255, 255     !default;
$sky:       135, 206, 235   !default;
$violet:    238, 130, 238   !default;

$secondary-colors: (
  "pink":     $pink,
  "tomato":   $tomato,
  "coral":    $coral,
  "yellow":   $yellow,
  "brown":    $brown,
  "aqua":     $aqua,
  "cyan":     $cyan,
  "sky":      $sky,
  "violet":   $violet
) !default;

// Brand Colors
$facebook:    66, 103, 178    !default;
$github:      36, 41, 46      !default;
$linkedin:    0, 119, 181     !default;
$paypal:      39, 52, 106     !default;
$twitter:     29, 161, 242    !default;

$brand-colors: (
  "fb":   $facebook,
  "gh":   $github,
  "in":   $linkedin,
  "pp":   $paypal,
  "tw":   $twitter
) !default;

// Composite Colors
$basic-colors:  $primary-colors, $secondary-colors;
$main-colors:   $grayscale, $primary-colors, $secondary-colors;
$extent-colors: $primary-colors, $secondary-colors, $brand-colors;
$all-colors:    $grayscale, $primary-colors, $secondary-colors, $brand-colors;

// CSS Colors
:root {
  /* Opaque Colors */
  @each $colors in $all-colors {
    @each $key, $value in $colors {
      --#{$key}: rgb(#{$value});
    }
  }

  /* Transparent Colors */
  @each $colors in $main-colors {
    @each $key, $value in $colors {
      --#{$key}-dark: rgba(#{$value}, 0.7);
      --#{$key}-light: rgba(#{$value}, 0.3);
    }
  }
}
