/***** Global : Variables : Keyframes *****/

// ***** Rotate *****
// Quarter
$quarter:     rotate3d(0, 0, 1, 90deg)    !default;
$quarterX:    rotate3d(1, 0, 0, 90deg)    !default;
$quarterY:    rotate3d(0, 1, 0, 90deg)    !default;
$quarterXY:   rotate3d(1, 1, 0, 90deg)    !default;
$quarterXZ:   rotate3d(1, 0, 1, 90deg)    !default;
$quarterYZ:   rotate3d(0, 1, 1, 90deg)    !default;
$quarter3D:   rotate3d(1, 1, 1, 90deg)    !default;
// Half
$half:      rotate3d(0, 0, 1, 180deg)   !default;
$halfX:     rotate3d(1, 0, 0, 180deg)   !default;
$halfY:     rotate3d(0, 1, 0, 180deg)   !default;
$halfXY:    rotate3d(1, 1, 0, 180deg)   !default;
$halfXZ:    rotate3d(1, 0, 1, 180deg)   !default;
$halfYZ:    rotate3d(0, 1, 1, 180deg)   !default;
$half3D:    rotate3d(1, 1, 1, 180deg)   !default;
// Full
$full:      rotate3d(0, 0, 1, 360deg)   !default;
$fullX:     rotate3d(1, 0, 0, 360deg)   !default;
$fullY:     rotate3d(0, 1, 0, 360deg)   !default;
$fullXY:    rotate3d(1, 1, 0, 360deg)   !default;
$fullXZ:    rotate3d(1, 0, 1, 360deg)   !default;
$fullYZ:    rotate3d(0, 1, 1, 360deg)   !default;
$full3D:    rotate3d(1, 1, 1, 360deg)   !default;

// ***** Scale *****
// Grow
$grow:    scale(0, 0)   !default;
$growX:   scale(0, 1)   !default;
$growY:   scale(1, 0)   !default;
// Flip
$flipX:   scale(1, -2)    !default;
$flipY:   scale(-2, 1)    !default;
// Bounce
$bounce:    scale(-2, -2)   !default;
$bounceL:   scale(-5, -5)   !default;
// Shrink
$shrink:    scale(2, 2)   !default;
$shrinkL:   scale(5, 5)   !default;
$shrinkX:   scale(5, 1)   !default;
$shrinkY:   scale(1, 5)   !default;
// Open
$openX:     scale(2, 0)   !default;
$openY:     scale(0, 2)   !default;
$openXL:    scale(5, 0)   !default;
$openYL:    scale(0, 5)   !default;
// Flipper
$flipperX:    scale(0, -2)    !default;
$flipperY:    scale(-2, 0)    !default;
$flipperXL:   scale(0, -5)    !default;
$flipperYL:   scale(-5, 0)    !default;
// Fall
$fallX:     scale(2, -2)    !default;
$fallY:     scale(-2, 2)    !default;
$fallXL:    scale(5, -5)    !default;
$fallYL:    scale(-5, 5)    !default;

// ***** Skew *****
// Twist
$twistT:      skew(0, -90deg)   !default;
$twistR:      skew(90deg, 0)    !default;
$twistB:      skew(0, 90deg)    !default;
$twistL:      skew(-90deg, 0)   !default;
// Torsion
$torsionT:    skew(0, -180deg)    !default;
$torsionR:    skew(180deg, 0)     !default;
$torsionB:    skew(0, 180deg)     !default;
$torsionL:    skew(-180deg, 0)    !default;
// Twister
$twisterT:    skew(-90deg, -90deg)    !default;
$twisterR:    skew(90deg, -90deg)     !default;
$twisterB:    skew(90deg, 90deg)      !default;
$twisterL:    skew(-90deg, 90deg)     !default;
// Cyclone
$cycloneT:    skew(-180deg, -180deg)    !default;
$cycloneR:    skew(180deg, -180deg)     !default;
$cycloneB:    skew(180deg, 180deg)      !default;
$cycloneL:    skew(-180deg, 180deg)     !default;

// ***** Translate *****
// Slip
$slipT:     translate(0, 5vh)        !default;
$slipR:     translate(-5vw, 0)       !default;
$slipB:     translate(0, -5vh)       !default;
$slipL:     translate(5vw, 0)        !default;
$slipTR:    translate(-5vw, 5vh)     !default;
$slipBR:    translate(-5vw, -5vh)    !default;
$slipBL:    translate(5vw, -5vh)     !default;
$slipTL:    translate(5vw, 5vh)      !default;
// Slide
$slideT:    translate(0, 50vh)         !default;
$slideR:    translate(-50vw, 0)        !default;
$slideB:    translate(0, -50vh)        !default;
$slideL:    translate(50vw, 0)         !default;
$slideTR:   translate(-50vw, 50vh)     !default;
$slideBR:   translate(-50vw, -50vh)    !default;
$slideBL:   translate(50vw, -50vh)     !default;
$slideTL:   translate(50vw, 50vh)      !default;

$transforms: (
  // Quarter
  'quarter':      $quarter,
  'quarterX':     $quarterX,
  'quarterY':     $quarterY,
  'quarterXY':    $quarterXY,
  'quarterXZ':    $quarterXZ,
  'quarterYZ':    $quarterYZ,
  'quarter3D':    $quarter3D,
  // Half
  'half':     $half,
  'halfX':    $halfX,
  'halfY':    $halfY,
  'halfXY':   $halfXY,
  'halfXZ':   $halfXZ,
  'halfYZ':   $halfYZ,
  'half3D':   $half3D,
  // Full
  'full':     $full,
  'fullX':    $fullX,
  'fullY':    $fullY,
  'fullXY':   $fullXY,
  'fullXZ':   $fullXZ,
  'fullYZ':   $fullYZ,
  'full3D':   $full3D,
  // Grow
  'grow':     $grow,
  'growX':    $growX,
  'growY':    $growY,
  // Flip
  'flipX':    $flipX,
  'flipY':    $flipY,
  // Bounce
  'bounce':     $bounce,
  'bounceL':    $bounceL,
  // Shrink
  'shrink':     $shrink,
  'shrinkL':    $shrinkL,
  'shrinkX':    $shrinkX,
  'shrinkY':    $shrinkY,
  // Open
  'openX':      $openX,
  'openY':      $openY,
  'openXL':     $openXL,
  'openYL':     $openYL,
  // Flipper
  'flipperX':     $flipperX,
  'flipperY':     $flipperY,
  'flipperXL':    $flipperXL,
  'flipperYL':    $flipperYL,
  // Fall
  'fallX':    $fallX,
  'fallY':    $fallY,
  'fallXL':   $fallXL,
  'fallYL':   $fallYL,
  // Twist
  'twistT':     $twistT,
  'twistR':     $twistR,
  'twistB':     $twistB,
  'twistL':     $twistL,
  // Torsion
  'torsionT':   $torsionT,
  'torsionR':   $torsionR,
  'torsionB':   $torsionB,
  'torsionL':   $torsionL,
  // Twister
  'twisterT':   $twisterT,
  'twisterR':   $twisterR,
  'twisterB':   $twisterB,
  'twisterL':   $twisterL,
  // Cyclone
  'cycloneT':   $cycloneT,
  'cycloneR':   $cycloneR,
  'cycloneB':   $cycloneB,
  'cycloneL':   $cycloneL,
  // Slip
  'slipT':      $slipT,
  'slipR':      $slipR,
  'slipB':      $slipB,
  'slipL':      $slipL,
  'slipTR':     $slipTR,
  'slipBR':     $slipBR,
  'slipBL':     $slipBL,
  'slipTL':     $slipTL,
  // Slide
  'slideT':     $slideT,
  'slideR':     $slideR,
  'slideB':     $slideB,
  'slideL':     $slideL,
  'slideTR':    $slideTR,
  'slideBR':    $slideBR,
  'slideBL':    $slideBL,
  'slideTL':    $slideTL
) !default;

$opacity:   0         !default;
$origin:    center    !default;

:root {
  @each $key, $value in $transforms {
    --opacity-#{$key}: #{$opacity};
    --transform-#{$key}: #{$value};
    --origin-#{$key}: #{$origin};
  }
}
